body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  line-height: 1.5;
  font-family: "Trebuchet MS";
  width: 100%;
  min-width: 360px;
  max-width: 604px;
  min-height: 1596px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-bg-header.png), url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-bg-footer.png);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.html-lesson-wrapper hr {
  border-top: 1px solid #dbdcdc;
}

.html-lesson-wrapper .m-0 {
  margin: 0;
}

.html-lesson-wrapper .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.html-lesson-wrapper .img-responsive {
  width: 100%;
  height: auto;
}

.html-lesson-wrapper .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.html-lesson-wrapper header {
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
}

.html-lesson-wrapper .fs-16 {
  font-size: clamp(12px, 2.3vw, 16px);
}

.html-lesson-wrapper .flip-horizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.html-lesson-wrapper .noto-sans {
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
}

.html-lesson-wrapper .b, .html-lesson-wrapper .arrow, .html-lesson-wrapper .see-content .arrow.see, .html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .number, .html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .number-white, .html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .letter {
  font-weight: bold;
}

.html-lesson-wrapper .u-sup {
  border-bottom: solid 1.5px black;
  display: inline-block;
  line-height: clamp(6px, 1.5vw, 14px);
}

.html-lesson-wrapper .u-blue {
  border-bottom: 1px solid #1287cd;
}

.html-lesson-wrapper .primary-blue {
  color: #1287cd;
}

.html-lesson-wrapper .program-rank {
  position: absolute;
  color: #ffffff;
  font-size: 0px;
  margin-top: clamp(1px, 1vw, 3px);
  width: 69%;
}

.html-lesson-wrapper .program-rank .type {
  padding: clamp(1px, 1vw, 4px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 4px) clamp(10px, 3vw, 17px);
  background-color: #1287cd;
  font-size: clamp(7px, 1.8vw, 12px);
}

.html-lesson-wrapper .program-rank .level {
  padding: clamp(1px, 1vw, 4px) clamp(20px, 8.4vw, 59px) clamp(1px, 1vw, 4px) clamp(10px, 3vw, 33px);
  font-size: clamp(7px, 1.8vw, 12px);
  background: linear-gradient(125deg, #1287cd 6%, rgba(0, 0, 0, 0) 0%), linear-gradient(125deg, #009c9a 90%, rgba(0, 0, 0, 0) 0%);
  background: -moz-linear-gradient(125deg, #1287cd 6%, rgba(0, 0, 0, 0) 0%), linear-gradient(125deg, #009c9a 90%, rgba(0, 0, 0, 0) 0%);
  margin-left: -15px;
  width: 100%;
}

.html-lesson-wrapper .lesson-number {
  position: absolute;
  right: 6%;
  font-size: clamp(14px, 4vw, 26px);
  color: #ffffff;
}

.html-lesson-wrapper .title-section {
  position: absolute;
  top: clamp(30px, 8vw, 50px);
  background-color: #1287cd;
  color: white;
  padding: clamp(15px, 2vw, 20px) clamp(25px, 4vw, 30px) clamp(9px, 2vw, 15px);
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
}

.html-lesson-wrapper .title-section .title {
  font-size: clamp(13px, 3.6vw, 23px);
  margin-bottom: 4px;
}

.html-lesson-wrapper .title-section .sub-title {
  font-size: clamp(10px, 2.3vw, 12px);
}

.html-lesson-wrapper .arrow {
  text-transform: uppercase;
  font-size: clamp(12px, 2.3vw, 16px);
  padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
}

.html-lesson-wrapper .instructions {
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
  position: absolute;
  padding: clamp(0px, 0.01vw, 3px) 0px;
  left: 28%;
}

.html-lesson-wrapper .instructions .title {
  font-size: clamp(12px, 3.5vw, 18px);
  color: #141821;
}

.html-lesson-wrapper .instructions .sub-title {
  font-size: clamp(7px, 2vw, 13px);
  color: #7f8288;
  letter-spacing: 0px;
}

.html-lesson-wrapper .see-content {
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
}

.html-lesson-wrapper .see-content.see-1 {
  margin-top: clamp(120px, 29vw, 183.2px);
}

.html-lesson-wrapper .see-content.see-2, .html-lesson-wrapper .see-content.see-3, .html-lesson-wrapper .see-content.see-4 {
  margin-top: clamp(20px, 5vw, 33px);
}

.html-lesson-wrapper .see-content.see-2 .legend, .html-lesson-wrapper .see-content.see-3 .legend, .html-lesson-wrapper .see-content.see-4 .legend {
  margin-top: clamp(25px, 5vw, 38px);
  font-family: "NotoSansJP", "Noto Sans", sans-serif !important;
}

.html-lesson-wrapper .see-content .arrow.see {
  text-transform: uppercase;
  color: #1287cd;
  font-size: clamp(12px, 2.3vw, 16px);
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-see-arrow.png);
  padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
}

.html-lesson-wrapper .try-content {
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
}

.html-lesson-wrapper .try-content.try-1 {
  margin-top: 32px;
}

.html-lesson-wrapper .try-content.try-2, .html-lesson-wrapper .try-content.try-3, .html-lesson-wrapper .try-content.try-4, .html-lesson-wrapper .try-content.try-5, .html-lesson-wrapper .try-content.try-6 {
  margin-top: 32px;
}

.html-lesson-wrapper .try-content .arrow.try {
  color: white;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-try-arrow.png);
}

.html-lesson-wrapper .act-content {
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
}

.html-lesson-wrapper .act-content.act-1 {
  margin-top: 32px;
}

.html-lesson-wrapper .act-content.act-2 {
  margin-top: 32px;
}

.html-lesson-wrapper .act-content .arrow.act {
  color: white;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-act-arrow.png);
}

.html-lesson-wrapper .section-1-convo {
  margin-top: clamp(20px, 6vw, 40px);
  width: clamp(325px, 89.5vw, 544px);
  min-height: clamp(230px, 60vw, 362px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-E-9-section1-new.svg);
}

.html-lesson-wrapper .section-1-convo .bubble-1 {
  position: absolute;
  top: clamp(28%, 18vw, 30%);
  left: 13%;
}

.html-lesson-wrapper .section-1-convo .bubble-1 .eng {
  font-weight: bold;
  font-size: clamp(8.5px, 2.2vw, 14px);
  font-family: "Trebuchet MS";
}

.html-lesson-wrapper .section-1-convo .bubble-1 .jap {
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
  font-size: clamp(6.5px, 1.7vw, 11px);
  color: #7f8288;
  letter-spacing: 0px;
}

.html-lesson-wrapper .section-1-convo .bubble-2 {
  position: absolute;
  top: 6.5%;
  left: 35.5%;
}

.html-lesson-wrapper .section-1-convo .bubble-2 .eng {
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-size: clamp(8.5px, 2.2vw, 14px);
}

.html-lesson-wrapper .section-1-convo .bubble-2 .jap {
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
  font-size: clamp(6.5px, 1.7vw, 11px);
  color: #7f8288;
  letter-spacing: 0px;
}

.html-lesson-wrapper .section-2-content {
  margin-top: clamp(20px, 6vw, 40px);
}

.html-lesson-wrapper .section-2-content .wrapper-with-akiko {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: clamp(90px, 20vw, 130px) 2fr;
      grid-template-columns: clamp(90px, 20vw, 130px) 2fr;
}

.html-lesson-wrapper .section-2-content .wrapper-with-akiko .steve-image {
  width: 100px;
  height: clamp(70px, 23.1vw, 150px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-E-9-steve.svg);
}

.html-lesson-wrapper .section-2-content .wrapper-with-akiko .wrap-all-boxes {
  margin-top: clamp(12px, 3vw, 19px);
  left: 26%;
  position: absolute;
}

.html-lesson-wrapper .section-2-content .wrapper-with-akiko .wrap-all-boxes .wrap-for-flex {
  font-family: "NotoSansJP", "Noto Sans", sans-serif !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.html-lesson-wrapper .section-2-content .wrapper-with-akiko .wrap-all-boxes .wrap-for-flex .try-to {
  margin-right: 10px;
  font-size: clamp(10.3px, 2.3vw, 16px);
  text-align: center;
  background: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-E-9-try-to.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: clamp(7px, 2vw, 10px) clamp(10px, 3vw, 17px);
}

.html-lesson-wrapper .section-2-content .wrapper-with-akiko .wrap-all-boxes .wrap-for-flex .deadline {
  font-size: clamp(10.3px, 2.3vw, 16px);
  padding-top: clamp(7px, 2vw, 10px);
  padding-left: clamp(11px, 3vw, 17px);
  padding-right: clamp(19.5px, 4.9vw, 28.5px);
  text-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-E-9-deadline.png);
}

.html-lesson-wrapper .section-2-content .wrapper-with-akiko .wrap-all-boxes .jap {
  font-size: clamp(9px, 2vw, 13px);
  color: #7f8288;
  letter-spacing: 1px;
}

.html-lesson-wrapper .section-2-content .section2-box-content {
  margin-top: clamp(10px, 5vw, 20px);
}

.html-lesson-wrapper .section-2-content .section2-box-content .legend {
  margin-top: clamp(25px, 5vw, 38px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.html-lesson-wrapper .section-2-content .section2-box-content .b1-legend {
  text-align: center;
  background: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-E-9-try-to.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: clamp(7px, 2vw, 10px) clamp(10px, 3vw, 17px);
}

.html-lesson-wrapper .section-2-content .section2-box-content .b2-legend {
  padding-top: clamp(7px, 2vw, 10px);
  padding-left: clamp(11px, 3vw, 17px);
  padding-right: clamp(19.5px, 4.9vw, 28.5px);
  text-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-E-9-deadline.png);
}

.html-lesson-wrapper .section-2-content .section2-box-content .legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.html-lesson-wrapper .section-2-content .section2-box-content .legend .eng {
  font-size: clamp(10.5px, 2.3vw, 16px);
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 4px;
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .alt-box {
  padding: 15px;
  border: 1px solid #1287cd;
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .alt:not(:last-child) {
  margin-bottom: 6px;
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .choice {
  margin-left: clamp(5px, 1vw, 9px);
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .choice p {
  margin: 0;
  white-space: nowrap;
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .choice-eng {
  font-size: clamp(10.5px, 2.3vw, 16px);
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .choice-jap {
  font-size: clamp(8.6px, 1.8vw, 13px);
  letter-spacing: -1.5px;
  color: #7f8288;
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .number {
  border-radius: 50%;
  background: #1287cd;
  color: white;
  margin: 0;
  text-align: center;
  line-height: clamp(13px, 4vw, 24px);
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
  font-size: clamp(11px, 2vw, 16px);
  z-index: 1;
  width: clamp(18px, 4vw, 24px);
  height: clamp(18px, 4vw, 24px);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .number-white {
  border-radius: 50%;
  background: white;
  color: #1287cd;
  margin: 0;
  text-align: center;
  line-height: clamp(13px, 4vw, 24px);
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
  font-size: clamp(11px, 2vw, 16px);
  z-index: 1;
  width: clamp(18px, 4vw, 24px);
  height: clamp(18px, 4vw, 24px);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .third-box {
  background-color: #e7f3fa;
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .letter {
  border: 2px solid #1287cd;
  color: #1287cd;
  margin: 0;
  text-align: center;
  line-height: clamp(13px, 4vw, 24px);
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
  font-size: clamp(11px, 2vw, 16px);
  z-index: 1;
  width: clamp(18px, 4vw, 24px);
  height: clamp(18px, 4vw, 24px);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.html-lesson-wrapper .try-1 .try1-content .underline {
  text-decoration: underline;
  color: #1287cd;
}

.html-lesson-wrapper .try-1 .try1-content .number {
  color: #1287cd;
  font-size: clamp(11px, 2.7vw, 16px);
}

.html-lesson-wrapper .try-1 .try1-content .image-1 {
  margin-top: clamp(30px, 8vw, 50px);
  width: clamp(320px, 89.1vw, 544px);
  min-height: clamp(230px, 60vw, 356px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-E-9-try1-image1.svg);
}

.html-lesson-wrapper .try-1 .try1-content .image-1 .bubble-1 {
  position: absolute;
  top: 17%;
  left: 18%;
}

.html-lesson-wrapper .try-1 .try1-content .image-1 .bubble-1 .eng {
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-size: clamp(8.4px, 2.3vw, 14px);
}

.html-lesson-wrapper .try-1 .try1-content .image-1 .bubble-1 .jap {
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
  font-size: clamp(6.2px, 1.6vw, 11px);
  color: #7f8288;
  letter-spacing: 0px;
}

.html-lesson-wrapper .try-1 .try1-content .image-1 .bubble-2 {
  font-weight: bold;
  font-size: clamp(8.4px, 2.3vw, 14px);
  position: absolute;
  top: clamp(47%, 29.5vw, 50%);
  left: 36.5%;
}

.html-lesson-wrapper .try-1 .try1-content .image-2 {
  margin-top: clamp(30px, 8vw, 50px);
  width: clamp(325px, 89.1vw, 544px);
  min-height: clamp(230px, 60vw, 356px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-E-9-try1-image2.svg);
}

.html-lesson-wrapper .try-1 .try1-content .image-2 .bubble-1 {
  position: absolute;
  top: 20%;
  left: 18%;
}

.html-lesson-wrapper .try-1 .try1-content .image-2 .bubble-1 .eng {
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-size: clamp(8.4px, 2.3vw, 14px);
}

.html-lesson-wrapper .try-1 .try1-content .image-2 .bubble-1 .jap {
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
  font-size: clamp(6.2px, 1.6vw, 11px);
  color: #7f8288;
  letter-spacing: 0px;
}

.html-lesson-wrapper .try-1 .try1-content .image-2 .bubble-2 {
  font-weight: bold;
  font-size: clamp(8.4px, 2.3vw, 14px);
  position: absolute;
  top: clamp(50%, 32vw, 54.5%);
  left: 36%;
}

.html-lesson-wrapper .try-1 .try1-content .image-3 {
  margin-top: clamp(30px, 8vw, 50px);
  width: clamp(325px, 89.1vw, 544px);
  min-height: clamp(230px, 60vw, 356px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-E-9-try1-image3.svg);
}

.html-lesson-wrapper .try-1 .try1-content .image-3 .bubble-1 {
  position: absolute;
  top: 19%;
  left: 18%;
}

.html-lesson-wrapper .try-1 .try1-content .image-3 .bubble-1 .eng {
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-size: clamp(8.4px, 2.3vw, 14px);
}

.html-lesson-wrapper .try-1 .try1-content .image-3 .bubble-1 .jap {
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
  font-size: clamp(6.2px, 1.6vw, 11px);
  color: #7f8288;
  letter-spacing: 0px;
}

.html-lesson-wrapper .try-1 .try1-content .image-3 .bubble-2 {
  font-weight: bold;
  font-size: clamp(8.4px, 2.3vw, 14px);
  position: absolute;
  top: clamp(41%, 26.5vw, 43.5%);
  left: 36%;
}

.html-lesson-wrapper .try-1 .try1-content .image-4 {
  margin-top: clamp(30px, 8vw, 50px);
  width: clamp(325px, 88.4vw, 544px);
  min-height: clamp(230px, 60vw, 356px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-E-9-try1-image4.svg);
}

.html-lesson-wrapper .try-1 .try1-content .image-4 .bubble-1 {
  position: absolute;
  top: 18%;
  left: 18%;
}

.html-lesson-wrapper .try-1 .try1-content .image-4 .bubble-1 .eng {
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-size: clamp(8.4px, 2.3vw, 14px);
}

.html-lesson-wrapper .try-1 .try1-content .image-4 .bubble-1 .jap {
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
  font-size: clamp(6.2px, 1.6vw, 11px);
  color: #7f8288;
  letter-spacing: 0px;
}

.html-lesson-wrapper .try-1 .try1-content .image-4 .bubble-2 {
  font-weight: bold;
  font-size: clamp(8.4px, 2.3vw, 14px);
  position: absolute;
  top: clamp(43%, 27vw, 46%);
  left: 36%;
}

.html-lesson-wrapper .try-1 .try1-content .image-5 {
  margin-top: clamp(30px, 8vw, 50px);
  width: clamp(325px, 88.9vw, 544px);
  min-height: clamp(230px, 60vw, 356px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-E-9-try1-image5.svg);
}

.html-lesson-wrapper .try-1 .try1-content .image-5 .bubble-1 {
  position: absolute;
  top: 16.5%;
  left: 18%;
}

.html-lesson-wrapper .try-1 .try1-content .image-5 .bubble-1 .eng {
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-size: clamp(8.4px, 2.3vw, 14px);
}

.html-lesson-wrapper .try-1 .try1-content .image-5 .bubble-1 .jap {
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
  font-size: clamp(6.2px, 1.6vw, 11px);
  color: #7f8288;
  letter-spacing: 0px;
}

.html-lesson-wrapper .try-1 .try1-content .image-5 .bubble-2 {
  font-weight: bold;
  font-size: clamp(8.4px, 2.3vw, 14px);
  position: absolute;
  top: clamp(43%, 27vw, 45.5%);
  left: 36%;
}

.html-lesson-wrapper .try-1 .try1-content .image-6 {
  margin-top: clamp(30px, 8vw, 50px);
  width: clamp(325px, 88.9vw, 544px);
  min-height: clamp(230px, 60vw, 356px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-E-9-try1-image6.svg);
}

.html-lesson-wrapper .try-1 .try1-content .image-6 .bubble-1 {
  position: absolute;
  top: 17%;
  left: 18%;
}

.html-lesson-wrapper .try-1 .try1-content .image-6 .bubble-1 .eng {
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-size: clamp(8.4px, 2.3vw, 14px);
}

.html-lesson-wrapper .try-1 .try1-content .image-6 .bubble-1 .jap {
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
  font-size: clamp(6.2px, 1.6vw, 11px);
  color: #7f8288;
  letter-spacing: 0px;
}

.html-lesson-wrapper .try-1 .try1-content .image-6 .bubble-2 {
  font-weight: bold;
  font-size: clamp(8.4px, 2.3vw, 14px);
  position: absolute;
  top: clamp(45%, 28.5vw, 48%);
  left: 36%;
}

.html-lesson-wrapper .try-2 .try2-content {
  margin-top: clamp(35px, 12vw, 70px);
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content {
  margin-bottom: clamp(160px, 40vw, 250px);
  margin-left: 8px;
  position: relative;
  font-size: clamp(12px, 3vw, 18px);
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .number-hide {
  color: transparent;
  font-size: clamp(12px, 3vw, 18px);
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .number {
  color: #1287cd;
  font-size: clamp(12px, 3vw, 18px);
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .add-margin {
  margin-top: 3%;
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .trainer {
  margin-left: clamp(5.9px, 1.6vw, 15.3px);
  font-size: clamp(10.8px, 2.8vw, 18px);
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .trainer .line-under {
  margin-left: clamp(55px, 13.5vw, 95px);
  margin-top: 3px;
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .trainer-no {
  font-size: clamp(10.8px, 2.8vw, 18px);
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .underline {
  text-decoration: underline;
  color: #1287cd;
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .you-part .you {
  margin-left: clamp(13.4px, 3.1vw, 29px);
  font-size: clamp(10.8px, 2.8vw, 18px);
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .you-part .you-no {
  margin-left: clamp(18.4px, 4.7vw, 29px);
  font-size: clamp(10.8px, 2.8vw, 18px);
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .you-part .line-under {
  margin-left: clamp(55px, 13.5vw, 95px);
  margin-top: 3px;
}

.html-lesson-wrapper .try-2 .try2-content .margin-both-sides {
  margin-top: 30px;
}

.html-lesson-wrapper .try-2 .try2-content .margin-both-sides .box-content {
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
  font-size: clamp(11px, 2.8vw, 18px);
  position: absolute;
  left: 3%;
  width: clamp(292px, 80.4vw, 492px);
  height: clamp(90px, 22vw, 132px);
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-E-9-try2-box1.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.html-lesson-wrapper .try-2 .try2-content .margin-both-sides .box-content .row-a {
  position: absolute;
  left: 5%;
  top: 24%;
}

.html-lesson-wrapper .try-2 .try2-content .margin-both-sides .box-content .row-b {
  position: absolute;
  left: 5%;
  top: 59%;
}

.html-lesson-wrapper .try-2 .try2-content .margin-both-sides .box-content b {
  font-size: clamp(11px, 2.7vw, 16px) !important;
}

.html-lesson-wrapper .try-2 .try2-content .margin-both-sides .box-content-2 {
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
  font-size: clamp(11px, 2.8vw, 18px);
  position: absolute;
  left: 3%;
  width: clamp(292px, 79.9vw, 492px);
  height: clamp(90px, 22vw, 132px);
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-E-9-try2-box2.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.html-lesson-wrapper .try-2 .try2-content .margin-both-sides .box-content-2 .row-a {
  position: absolute;
  left: 5%;
  top: 24%;
}

.html-lesson-wrapper .try-2 .try2-content .margin-both-sides .box-content-2 .row-b {
  position: absolute;
  left: 5%;
  top: 59%;
}

.html-lesson-wrapper .try-2 .try2-content .margin-both-sides .box-content-2 b {
  font-size: clamp(11px, 2.7vw, 16px) !important;
}

.html-lesson-wrapper .act-content .act-1-content .act-1-convo {
  margin-top: clamp(30px, 8vw, 50px);
  width: clamp(310px, 89vw, 540px);
  min-height: clamp(230px, 60vw, 380px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-E-9-act1.svg);
}

.html-lesson-wrapper .act-content .act-1-content .act-1-convo .bubble-1 {
  position: absolute;
  top: 22%;
  left: 20%;
}

.html-lesson-wrapper .act-content .act-1-content .act-1-convo .bubble-1 .eng {
  font-weight: bold;
  font-size: clamp(8px, 2.2vw, 14px);
  font-family: "Trebuchet MS";
}

.html-lesson-wrapper .act-content .act-1-content .act-1-convo .bubble-1 .jap {
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
  font-size: clamp(7px, 1.6vw, 11px);
  color: #7f8288;
  letter-spacing: 0px;
}

.html-lesson-wrapper .act-content .act-1-content .act-1-convo .bubble-1 .text-bot,
.html-lesson-wrapper .act-content .act-1-content .act-1-convo .bubble-1 .text-mid {
  margin-top: clamp(4px, 1.7vw, 12px);
}

.html-lesson-wrapper .act-content .act-1-content .convo-text-content {
  margin-top: clamp(30px, 8vw, 40px);
  font-size: clamp(11px, 2.5vw, 18px);
  font-family: "NotoSansJP", "Noto Sans", sans-serif;
}

.html-lesson-wrapper .act-content .act-1-content .convo-text-content .add-margin {
  margin-top: 25px;
}

.html-lesson-wrapper .act-content .act-1-content .convo-text-content .akiko-lines .line-under {
  margin-left: clamp(40px, 9vw, 64px);
}

.html-lesson-wrapper .act-content .act-1-content .convo-text-content .akiko-lines .div-jap {
  margin-left: clamp(40px, 9vw, 64px);
  font-size: clamp(9px, 1.5vw, 13px);
  color: #7f8288;
  letter-spacing: 0px;
  margin-top: 5px;
}

.html-lesson-wrapper .act-content .act-1-content .convo-text-content .steve-lines {
  margin-top: 25px;
}

.html-lesson-wrapper .act-content .act-1-content .convo-text-content .steve-lines .line-under {
  margin-left: clamp(40px, 9vw, 64px);
}

.html-lesson-wrapper .act-content .act-1-content .convo-text-content .steve-lines .div-jap {
  margin-left: clamp(40px, 9vw, 64px);
  font-size: clamp(9px, 1.5vw, 13px);
  color: #7f8288;
  letter-spacing: 0px;
  margin-top: 5px;
}

.html-lesson-wrapper .act-2 .act-2-space {
  margin-bottom: 80px;
}

@media only screen and (min-width: 150px) and (max-width: 442px) {
  .section-2-content .wrapper-with-akiko .steve-image {
    margin-left: -20px !important;
  }
  .see-3-content .wrapper-with-akiko .akiko-image {
    margin-left: -20px !important;
  }
  .see-3-content .wrapper-with-helen .helen-image {
    margin-right: -20px !important;
  }
  .section-2-content .wrapper-with-akiko .wrap-all-boxes {
    margin-left: -10px !important;
  }
}
