$text-font: 'Trebuchet MS';
$title-font: 'Arial';
$noto-sans: 'Noto Sans';
$primary-blue: #1287cd;
$rank-green: #009c9a;
$primary-dark: #083051;
$primary-light: #cce0ec;
$jap-letter-spacing: -1px;
$subtext-color: #7f8288;
$side-margin: clamp(18px, 5vw, 32px);
$fs-16: clamp(11px, 2.7vw, 16px);
$s3: 'https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images';
body {
  margin: 0;
  padding: 0;
}
hr {
  border-top: 1px solid #dbdcdc;
}
.m-0 {
  margin: 0;
}
.flex {
  display: flex;
}
.img-responsive {
  width: 100%;
  height: auto;
}
.html-lesson-wrapper .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.html-lesson-wrapper {
  font-family: $text-font;
  width: 100%;
  min-width: 360px;
  max-width: 604px;
  min-height: 1596px;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url(#{$s3}/0-bg-header.png), url(#{$s3}/0-bg-footer.png);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;

  header {
    font-family: $title-font;
  }
  .fs-16 {
    font-size: clamp(12px, 2.3vw, 16px);
  }
  .flip-horizontal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .noto-sans {
    font-family: $noto-sans;
  }
  .b {
    font-weight: bold;
  }
  .u-sup {
    border-bottom: solid 1.5px black;
    display: inline-block;
    line-height: clamp(6px, 1.5vw, 14px);
  }
  .u-blue {
    border-bottom: 1px solid $primary-blue;
  }
  .primary-blue {
    color: $primary-blue;
  }
  .program-rank {
    position: absolute;
    color: #ffffff;
    font-size: 0px;
    margin-top: clamp(1px, 1vw, 5px);
    .type {
      padding: clamp(1px, 1vw, 5px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 5px)
        clamp(10px, 2vw, 17px);
      background-color: $primary-blue;
      font-size: clamp(7px, 1.8vw, 12px);
    }
    .level {
      padding: clamp(1px, 1vw, 5px) clamp(20px, 4vw, 50px) clamp(1px, 1vw, 5px)
        clamp(10px, 2vw, 17px);
      font-size: clamp(7px, 1.8vw, 12px);
      background: linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);
      background: -webkit-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);
      background: -o-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);
      background: -moz-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);
      margin-left: -15px;
      width: 100%;
    }
  }
  .line {
    margin: 0 12px;
  }
  .lesson-number {
    position: absolute;
    top: 0.5vh;
    right: 6.3%;
    font-size: clamp(0.8rem, 4vw, 1.5rem);
    color: #ffffff;
  }

  // Title
  .title-section {
    position: absolute;
    top: clamp(30px, 8vw, 50px);
    background-color: $primary-blue;
    color: white;
    padding: clamp(15px, 2vw, 20px) clamp(25px, 4vw, 30px) clamp(9px, 2vw, 15px);
    width: 100%;
    box-sizing: border-box;
    font-family: $noto-sans;
    .title {
      font-size: clamp(13px, 3.6vw, 23px);
      margin-bottom: 4px;
    }
    .sub-title {
      font-size: clamp(10px, 2.3vw, 15px);
      letter-spacing: $jap-letter-spacing;
    }
  }
  .arrow {
    @extend .b;
    text-transform: uppercase;
    font-size: clamp(12px, 2.3vw, 16px);
    padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: $noto-sans;
  }
  .instructions {
    font-family: $noto-sans;
    position: absolute;
    padding: clamp(0px, 0.01vw, 3px) 0px;
    left: 28%;
    .title {
      font-size: clamp(9px, 2.9vw, 18px);
      color: #141821;
    }
    .sub-title {
      font-size: clamp(7px, 2vw, 13px);
      color: $subtext-color;
      letter-spacing: $jap-letter-spacing;
    }
  }

  // See-content
  .see-content {
    margin-left: $side-margin;
    margin-right: $side-margin;
    &.see-1 {
      margin-top: clamp(120px, 29vw, 183.2px);
    }
    &.see-2,
    &.see-3,
    &.see-4 {
      margin-top: clamp(20px, 5vw, 33px);
      & .legend {
        margin-top: clamp(25px, 5vw, 38px);
      }
    }
    .arrow.see {
      @extend .b;
      text-transform: uppercase;
      color: $primary-blue;
      font-size: clamp(12px, 2.3vw, 16px);
      background-image: url(#{$s3}/0-see-arrow.png);
      padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
      background-repeat: no-repeat;
      background-size: contain;
      font-family: $noto-sans;
    }
  }
  .try-content {
    margin-left: $side-margin;
    margin-right: $side-margin;
    &.try-1 {
      margin-top: 32px;
    }
    &.try-2,
    &.try-3,
    &.try-4,
    &.try-5,
    &.try-6 {
      margin-top: 32px;
    }
    .arrow.try {
      color: white;
      background-image: url(#{$s3}/0-try-arrow.png);
    }
  }
  .act-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.act-1 {
      margin-top: 32px;
    }
    &.act-2 {
      margin-top: 32px;
    }
    .arrow.act {
      color: white;
      background-image: url(#{$s3}/0-act-arrow.png);
    }
  }

  .section-1-convo {
    margin-top: clamp(20px, 6vw, 40px);
    width: clamp(325px, 89.5vw, 544px);
    min-height: clamp(230px, 60vw, 362px);
    position: relative;
    background-position: top, bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(#{$s3}/0-E-9-section1-new.svg);
    .bubble-1 {
      position: absolute;
      top: clamp(28%, 18vw, 30%);
      left: 13%;
      .eng {
        font-weight: bold;
        font-size: clamp(8.5px, 2.2vw, 14px);
        font-family: $text-font;
      }
      .jap {
        font-family: $noto-sans;
        font-size: clamp(6.5px, 1.7vw, 11px);
        color: $subtext-color;
        letter-spacing: $jap-letter-spacing;
      }
    }
    .bubble-2 {
      position: absolute;
      top: 6.5%;
      left: 35.5%;
      .eng {
        font-family: $text-font;
        font-weight: bold;
        font-size: clamp(8.5px, 2.2vw, 14px);
      }
      .jap {
        font-family: $noto-sans;
        font-size: clamp(6.5px, 1.7vw, 11px);
        color: $subtext-color;
        letter-spacing: $jap-letter-spacing;
      }
    }
  }

  .section-2-content {
    margin-top: clamp(20px, 6vw, 40px);
    .wrapper-with-akiko {
      display: grid;
      grid-template-columns: clamp(90px, 20vw, 130px) 2fr;
      .steve-image {
        width: 100px;
        height: clamp(70px, 23.1vw, 150px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-E-9-steve.svg);
      }
      .wrap-all-boxes {
        margin-top: clamp(12px, 3vw, 19px);
        left: 26%;
        position: absolute;
        .wrap-for-flex {
          display: flex;
          .try-to {
            margin-right: 10px;
            font-size: clamp(10.3px, 2.3vw, 16px);
            text-align: center;
            background: url(#{$s3}/0-E-9-try-to.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            padding: clamp(7px, 2vw, 10px) clamp(10px, 3vw, 17px);
          }
          .deadline {
            font-size: clamp(10.3px, 2.3vw, 16px);
            padding-top: clamp(7px, 2vw, 10px);
            padding-left: clamp(11px, 3vw, 17px);
            padding-right: clamp(19.5px, 4.9vw, 28.5px);
            text-align: center;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(#{$s3}/0-E-9-deadline.png);
          }
        }
        .jap {
          font-size: clamp(9px, 2vw, 13px);
          color: $subtext-color;
          letter-spacing: -1.8px;
        }
      }
    }
    .section2-box-content {
      margin-top: clamp(10px, 5vw, 20px);
      .legend {
        margin-top: clamp(25px, 5vw, 38px);
        display: flex;
      }
      .b1-legend {
        text-align: center;
        background: url(#{$s3}/0-E-9-try-to.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        padding: clamp(7px, 2vw, 10px) clamp(10px, 3vw, 17px);
      }
      .b2-legend {
        padding-top: clamp(7px, 2vw, 10px);
        padding-left: clamp(11px, 3vw, 17px);
        padding-right: clamp(19.5px, 4.9vw, 28.5px);
        text-align: center;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-E-9-deadline.png);
      }
      .legend {
        display: flex;
        justify-content: space-between;
        & .eng {
          font-size: clamp(10.5px, 2.3vw, 16px);
        }
      }
      .phrase-alts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4px;
        .alt-box {
          padding: 15px;
          border: 1px solid $primary-blue;
        }
        .alt {
          display: flex;
          align-items: baseline;
        }
        .alt:not(:last-child) {
          margin-bottom: 6px;
        }
        .choice {
          margin-left: clamp(5px, 1vw, 9px);
          p {
            margin: 0;
            white-space: nowrap;
            font-family: $noto-sans;
          }
        }
        .choice-eng {
          font-size: clamp(10.5px, 2.3vw, 16px);
        }
        .choice-jap {
          font-size: clamp(8.6px, 1.8vw, 13px);
          letter-spacing: -1.5px;
          color: $subtext-color;
        }
        .number {
          @extend .b;
          border-radius: 50%;
          background: $primary-blue;
          color: white;
          margin: 0;
          text-align: center;
          line-height: clamp(13px, 4vw, 24px);
          font-family: $noto-sans;
          font-size: clamp(11px, 2vw, 16px);
          z-index: 1;
          width: clamp(18px, 4vw, 24px);
          height: clamp(18px, 4vw, 24px);
          display: grid;
          place-items: center;
        }
        .number-white {
          @extend .b;
          border-radius: 50%;
          background: white;
          color: $primary-blue;
          margin: 0;
          text-align: center;
          line-height: clamp(13px, 4vw, 24px);
          font-family: $noto-sans;
          font-size: clamp(11px, 2vw, 16px);
          z-index: 1;
          width: clamp(18px, 4vw, 24px);
          height: clamp(18px, 4vw, 24px);
          display: grid;
          place-items: center;
        }
        .third-box {
          background-color: #e7f3fa;
        }
        .letter {
          @extend .b;
          border: 2px solid $primary-blue;
          color: $primary-blue;
          margin: 0;
          text-align: center;
          line-height: clamp(13px, 4vw, 24px);
          font-family: $noto-sans;
          font-size: clamp(11px, 2vw, 16px);
          z-index: 1;
          width: clamp(18px, 4vw, 24px);
          height: clamp(18px, 4vw, 24px);
          display: grid;
          place-items: center;
        }
      }
    }
  }

  .try-1 {
    .try1-content {
      .underline {
        text-decoration: underline;
        color: $primary-blue;
      }
      .number {
        color: $primary-blue;
        font-size: $fs-16;
      }
      .image-1 {
        margin-top: clamp(30px, 8vw, 50px);
        width: clamp(320px, 89.1vw, 544px);
        min-height: clamp(230px, 60vw, 356px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-E-9-try1-image1.svg);
        .bubble-1 {
          position: absolute;
          top: 17%;
          left: 18%;
          .eng {
            font-family: $text-font;
            font-weight: bold;
            font-size: clamp(8.4px, 2.3vw, 14px);
          }
          .jap {
            font-family: $noto-sans;
            font-size: clamp(6.2px, 1.6vw, 11px);
            color: $subtext-color;
            letter-spacing: $jap-letter-spacing;
          }
        }
        .bubble-2 {
          font-size: clamp(8.4px, 2.3vw, 14px);
          position: absolute;
          top: clamp(47%, 29.5vw, 50%);
          left: 36.5%;
        }
      }
      .image-2 {
        margin-top: clamp(30px, 8vw, 50px);
        width: clamp(325px, 89.1vw, 544px);
        min-height: clamp(230px, 60vw, 356px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-E-9-try1-image2.svg);
        .bubble-1 {
          position: absolute;
          top: 20%;
          left: 18%;
          .eng {
            font-family: $text-font;
            font-weight: bold;
            font-size: clamp(8.4px, 2.3vw, 14px);
          }
          .jap {
            font-family: $noto-sans;
            font-size: clamp(6.2px, 1.6vw, 11px);
            color: $subtext-color;
            letter-spacing: $jap-letter-spacing;
          }
        }
        .bubble-2 {
          font-size: clamp(8.4px, 2.3vw, 14px);
          position: absolute;
          top: clamp(50%, 32vw, 54.5%);
          left: 36%;
        }
      }
      .image-3 {
        margin-top: clamp(30px, 8vw, 50px);
        width: clamp(325px, 89.1vw, 544px);
        min-height: clamp(230px, 60vw, 356px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-E-9-try1-image3.svg);
        .bubble-1 {
          position: absolute;
          top: 19%;
          left: 18%;
          .eng {
            font-family: $text-font;
            font-weight: bold;
            font-size: clamp(8.4px, 2.3vw, 14px);
          }
          .jap {
            font-family: $noto-sans;
            font-size: clamp(6.2px, 1.6vw, 11px);
            color: $subtext-color;
            letter-spacing: $jap-letter-spacing;
          }
        }
        .bubble-2 {
          font-size: clamp(8.4px, 2.3vw, 14px);
          position: absolute;
          top: clamp(41%, 26.5vw, 45.5%);
          left: 36%;
        }
      }
      .image-4 {
        margin-top: clamp(30px, 8vw, 50px);
        width: clamp(325px, 88.4vw, 544px);
        min-height: clamp(230px, 60vw, 356px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-E-9-try1-image4.svg);
        .bubble-1 {
          position: absolute;
          top: 18%;
          left: 18%;
          .eng {
            font-family: $text-font;
            font-weight: bold;
            font-size: clamp(8.4px, 2.3vw, 14px);
          }
          .jap {
            font-family: $noto-sans;
            font-size: clamp(6.2px, 1.6vw, 11px);
            color: $subtext-color;
            letter-spacing: $jap-letter-spacing;
          }
        }
        .bubble-2 {
          font-size: clamp(8.4px, 2.3vw, 14px);
          position: absolute;
          top: clamp(43%, 27vw, 46%);
          left: 36%;
        }
      }
      .image-5 {
        margin-top: clamp(30px, 8vw, 50px);
        width: clamp(325px, 88.9vw, 544px);
        min-height: clamp(230px, 60vw, 356px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-E-9-try1-image5.svg);
        .bubble-1 {
          position: absolute;
          top: 16.5%;
          left: 18%;
          .eng {
            font-family: $text-font;
            font-weight: bold;
            font-size: clamp(8.4px, 2.3vw, 14px);
          }
          .jap {
            font-family: $noto-sans;
            font-size: clamp(6.2px, 1.6vw, 11px);
            color: $subtext-color;
            letter-spacing: $jap-letter-spacing;
          }
        }
        .bubble-2 {
          font-size: clamp(8.4px, 2.3vw, 14px);
          position: absolute;
          top: clamp(43%, 27vw, 45.5%);
          left: 36%;
        }
      }
      .image-6 {
        margin-top: clamp(30px, 8vw, 50px);
        width: clamp(325px, 88.9vw, 544px);
        min-height: clamp(230px, 60vw, 356px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-E-9-try1-image6.svg);
        .bubble-1 {
          position: absolute;
          top: 17%;
          left: 18%;
          .eng {
            font-family: $text-font;
            font-weight: bold;
            font-size: clamp(8.4px, 2.3vw, 14px);
          }
          .jap {
            font-family: $noto-sans;
            font-size: clamp(6.2px, 1.6vw, 11px);
            color: $subtext-color;
            letter-spacing: $jap-letter-spacing;
          }
        }
        .bubble-2 {
          font-size: clamp(8.4px, 2.3vw, 14px);
          position: absolute;
          top: clamp(45%, 28.5vw, 48%);
          left: 36%;
        }
      }
    }
  }

  .try-2 {
    .try2-content {
      margin-top: clamp(35px, 12vw, 70px);
      .wrap-flex-content {
        margin-bottom: clamp(160px, 40vw, 250px);
        margin-left: 8px;
        position: relative;
        font-size: clamp(12px, 3vw, 18px);
        .number-hide {
          color: transparent;
          font-size: clamp(12px, 3vw, 18px);
        }
        .number {
          color: $primary-blue;
          font-size: clamp(12px, 3vw, 18px);
        }
        .add-margin {
          margin-top: 3%;
        }
        .trainer {
          margin-left: clamp(5.9px, 1.6vw, 15.3px);
          font-size: clamp(10.8px, 2.8vw, 18px);
          .line-under {
            margin-left: clamp(55px, 13.5vw, 95px);
            margin-top: 3px;
          }
        }
        .trainer-no {
          font-size: clamp(10.8px, 2.8vw, 18px);
        }
        .underline {
          text-decoration: underline;
          color: $primary-blue;
        }
        .you-part {
          .you {
            margin-left: clamp(13.4px, 3.1vw, 29px);
            font-size: clamp(10.8px, 2.8vw, 18px);
          }
          .you-no {
            margin-left: clamp(18.4px, 4.7vw, 29px);
            font-size: clamp(10.8px, 2.8vw, 18px);
          }
          .line-under {
            margin-left: clamp(55px, 13.5vw, 95px);
            margin-top: 3px;
          }
        }
      }
      .margin-both-sides {
        margin-top: 30px;
        .box-content {
          font-size: clamp(11px, 2.8vw, 18px);
          position: absolute;
          left: 3%;
          width: clamp(292px, 80.4vw, 492px);
          height: clamp(90px, 22vw, 132px);
          background-image: url(#{$s3}/0-E-9-try2-box1.svg);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          .row-a {
            position: absolute;
            left: 5%;
            top: 24%;
          }
          .row-b {
            position: absolute;
            left: 5%;
            top: 59%;
          }
          b {
            font-size: $fs-16 !important;
          }
        }
        .box-content-2 {
          font-size: clamp(11px, 2.8vw, 18px);
          position: absolute;
          left: 3%;
          width: clamp(292px, 79.9vw, 492px);
          height: clamp(90px, 22vw, 132px);
          background-image: url(#{$s3}/0-E-9-try2-box2.svg);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          .row-a {
            position: absolute;
            left: 5%;
            top: 24%;
          }
          .row-b {
            position: absolute;
            left: 5%;
            top: 59%;
          }
          b {
            font-size: $fs-16 !important;
          }
        }
      }
    }
  }

  .act-content {
    .act-1-content {
      .act-1-convo {
        margin-top: clamp(30px, 8vw, 50px);
        width: clamp(310px, 89vw, 540px);
        min-height: clamp(230px, 60vw, 380px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-E-9-act1.svg);
        .bubble-1 {
          position: absolute;
          top: 22%;
          left: 20%;
          .eng {
            font-weight: bold;
            font-size: clamp(8px, 2.2vw, 14px);
            font-family: $text-font;
          }
          .jap {
            font-family: $noto-sans;
            font-size: clamp(7px, 1.6vw, 11px);
            color: $subtext-color;
            letter-spacing: $jap-letter-spacing;
          }
          .text-bot,
          .text-mid {
            margin-top: clamp(4px, 1.7vw, 12px);
          }
        }
      }
      .convo-text-content {
        margin-top: clamp(30px, 8vw, 40px);
        font-size: clamp(11px, 2.5vw, 18px);
        font-family: $noto-sans;
        .add-margin {
          margin-top: 25px;
        }
        .akiko-lines {
          .line-under {
            margin-left: clamp(37px, 8.5vw, 60px);
          }
          .div-jap {
            margin-left: clamp(37px, 8.5vw, 60px);
            font-size: clamp(9px, 1.5vw, 13px);
            color: $subtext-color;
            letter-spacing: -2px;
            margin-top: 5px;
          }
        }
        .steve-lines {
          margin-top: 25px;
          .line-under {
            margin-left: clamp(37px, 8.5vw, 60px);
          }
          .div-jap {
            margin-left: clamp(37px, 8.5vw, 60px);
            font-size: clamp(9px, 1.5vw, 13px);
            color: $subtext-color;
            letter-spacing: -2px;
            margin-top: 5px;
          }
        }
      }
    }
  }

  .act-2 {
    .act-2-space {
      margin-bottom: 80px;
    }
  }
}

@media only screen and (min-width: 150px) and(max-width: 442px) {
  .section-2-content .wrapper-with-akiko .steve-image {
    margin-left: -20px !important;
  }
  .see-3-content .wrapper-with-akiko .akiko-image {
    margin-left: -20px !important;
  }
  .see-3-content .wrapper-with-helen .helen-image {
    margin-right: -20px !important;
  }
  .section-2-content .wrapper-with-akiko .wrap-all-boxes {
    margin-left: -10px !important;
  }
}
