@import '../../css/_op-presentation-basics-utils';

.html-lesson-wrapper {
  span.part-2-2 {
    display: inline-block;
  }

  section.try-content {
    margin-bottom: 100px;
  }

  table {
    border-collapse: collapse;
  }
  .lesson-number {
    left: 91.5% !important;
  }
  .review-content {
    margin-top: 25% !important;
    line-height: normal !important;
    .arrow-part:before {
      left: -1em !important;
    }

    table {
      tr th {
        text-align: left;
      }
      tr td {
        border: 2.1px solid #d8d8d8;
        padding: 10px;
        min-height: 150px;
        margin-bottom: 5%;
        margin-right: 5%;
        padding-left: 5%;
        p {
          margin-left: -3%;
          margin-top: -5px;
          margin-bottom: 3px;
        }
        div.div-1 {
          float: left;
          width: 47%;
        }
        div.div-2 {
          float: right;
          width: 47%;
        }
        div.div-1,
        div.div-2 {
          b {
            margin-left: -7%;
          }
        }
      }
      tr td.tdbreaker {
        border: none;
      }
      tr.trbreaker {
        height: 20px;
      }
    }

    table.tbl-3 {
      border: 2.1px solid #d8d8d8;
      padding: 10px;
      margin-bottom: 3%;
      margin-right: 5%;
      padding-left: 5%;
      margin-top: 3%;
      width: 100%;
      border-collapse: separate;
      border-spacing: 0px 0px;

      tr td {
        border: none !important;
        padding: 0px !important;
        .part-2 {
          span {
            color: #000000 !important;
            font-weight: normal;
          }
          margin-left: -10%;
        }
        @media screen and (max-width: 600px) {
          .part-3 {
            margin-left: 25%;
          }
          .part-2 {
            span {
              color: #000000 !important;
              font-weight: normal;
            }
            margin-left: 10%;
            .part-2-2 {
              display: inline-block;
            }
          }
        }
      }
      th p {
        margin-left: -4%;
        font-weight: normal;
        margin-top: -1%;
        margin-bottom: 0;
      }
    }

    p b {
      line-height: 1.8 !important;
    }
  }
  @media screen and (max-width: 600px) {
    .review-content {
      font-size: clamp(9px, 2vw, 13.5px);
    }
  }
  .try-content {
    line-height: 1.8 !important;
    table {
      tr th {
        text-align: center;
        background-color: #cc3366;
        color: #ffffff;
        padding: 5px;
        border: 1px solid #d8d8d8;
        border-collapse: collapse;
      }
      tr td {
        width: 47%;
        padding: 5px;
        border: 1px solid #d8d8d8;
        border-collapse: collapse;
      }
    }
    ol {
      margin-left: 3%;
      li {
        p {
          line-height: 1.8;
        }
      }
    }
    p {
      line-height: 1.8;
    }
  }
  @media screen and (max-width: 428px) {
    .sub-text {
      margin-left: 8px;
    }
    .try-content p {
      margin-left: 8px;
    }
    .arrow-part.part-3 {
      margin-left: 4px;
    }
  }
}
