$text-font: 'Trebuchet MS';
$title-font: 'Helvetica', 'Arial', sans-serif;
$ja-font: 'Noto Sans JP', sans-serif;

$primary: #257a9e;
$primary-dark: #083051;
$primary-light: #cce0ec;
$sub-color: #595959;

$left-pixel: 14%;

body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  font-family: $text-font;

  .center {
    text-align: center;
  }

  .primary-color {
    color: $primary !important;
  }

  .sub-color {
    color: $sub-color !important;
  }

  .black-color {
    color: black !important;
  }

  p {
    margin: 0;
    line-height: 1.8em;
  }

  .ib {
    display: inline-block;
  }

  .grid {
    display: grid;

    &.equal {
      grid-template-columns: 1fr 1fr !important;
    }

    &.min-auto {
      grid-template-columns: min-content 1fr;
    }
  }

  .flex {
    display: flex;
  }

  .space-between {
    justify-content: space-between;
  }

  .shape {
    width: 7vw;
  }
  .try-grid {
    grid-template-columns: 1.8fr 3fr;
  }
  .shapes-grid {
    grid-template-columns: 0.3fr 1fr;
  }

  .disc {
    list-style-type: disc;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .pr-1 {
    padding-right: 1.5em;
  }
  .mr-1 {
    margin-right: 1.5em;
  }

  .mb-1 {
    margin-bottom: 1em;
  }
  .mb-2 {
    margin-bottom: 2em !important;
  }
  .pb-1 {
    padding-bottom: 1em;
  }
  .pl-2 {
    padding-left: 2em;
  }
  .pl-3 {
    padding-left: 3em;
  }
  .no-wrap {
    white-space: nowrap;
  }

  .page-1,
  .page-2,
  .page-3 {
    width: 100%;
    min-width: 360px;
    max-width: 892.75px;
    height: fit-content;
    overflow: hidden;
    position: relative;
    padding-bottom: 14%;
    background-image: url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/bg-header.png'), url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/bg-footer.png');
    background-position: top, bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }
  header {
    font-family: $title-font;
  }
  .b {
    font-weight: bold;
  }
  .fw-normal {
    font-weight: normal;
  }
  .u-sup {
    border-bottom: solid 1.5px black;
    display: inline-block;
    line-height: 1em;
  }
  .program-rank {
    margin-top: 4%;
    margin-left: 6%;
    color: #ffffff;
    font-size: 0px;

    .type {
      padding: 0.5% 2% 0.5% 2%;
      background-color: #248bb0;
      font-size: clamp(7px, 1.8vw, 15px);
    }
    .level {
      padding: 0.5% 2% 0.5% 2%;
      background-color: #339999;
      font-size: clamp(7px, 1.8vw, 15px);
    }
  }
  .line {
    margin: 0 12px;
  }
  .title {
    margin-top: 1em;
    margin-left: 7%;
    font-size: clamp(12px, 3vw, 27px);
  }
  .lesson-number {
    position: absolute;
    left: 91.65%;
    width: 1.9%;
    text-align: center;
    margin-top: -5%;
    font-size: clamp(7px, 1.8vw, 13px);
    color: #ffffff;
  }
  .row {
    display: flex;
    flex-direction: row;
  }
  .sub-text {
    line-height: 1.8em;
    font-family: $title-font !important;
    margin: 0px 0px 1px;
    p {
      margin: 0px 0px 1px;
      line-height: unset !important;
    }
  }
  .section {
    position: absolute;
    left: -8%;
    color: #2078a0;
    font-weight: bold;
    font-size: clamp(6px, 1.8vw, 15px);
    font-family: $title-font;

    &.see {
      margin-top: 1.5%;
      line-height: 1.8em;
    }
    &.act {
      line-height: 1.8em;
    }
    &.try {
      line-height: 1.8em;
    }
  }
  .divider {
    color: #d9d9d9;
    font-size: clamp(6px, 1.8vw, 15px);
    position: relative;
    left: 52%;

    &.d1,
    &.d2 {
      margin: 4% 0;
    }
  }
  .sub-head {
    position: relative;
    margin-top: 1em;
    margin-left: 7%;
    .subtitle {
      font-family: $ja-font;
      color: $primary;
      font-weight: bold;
      font-size: clamp(6px, 1.8vw, 15px);
    }
    p {
      margin: 5px auto;
    }
  }
  .ja {
    font-family: $ja-font, sans-serif !important;
    font-size: clamp(5px, 1.4vw, 12.5px);
    color: #595959;
  }
  .primary-text {
    color: $primary;
  }
  sup {
    font-size: clamp(6px, 1.6vw, 10px);
    line-height: clamp(8px, 1.8vw, 16px);
  }
  li p {
    margin: 0 auto;
  }

  // See
  .see-content {
    position: relative;
    margin-left: $left-pixel;
    margin-top: 8%;
    font-size: clamp(6px, 1.8vw, 15px);

    .blue-section {
      background-color: $primary-light;
      padding-top: 1.5%;
      padding-left: 1.3em;
      height: fit-content;
      padding-bottom: 1.5em;
      padding-right: 1.5em;
      .sub-text + .ja,
      .sub-text.b + .ja {
        margin-bottom: 0.5em;
      }
      .text {
        .ja {
          color: $primary !important;
          &:not(:last-child) {
            margin-bottom: 0.5em;
          }
        }
      }
    }
    p {
      &:not(.sub-text) {
        line-height: 1.8em;
      }
    }
    .col {
      width: fit-content;
      position: relative;
    }
    .grid {
      grid-template-columns: 1fr 1fr;
      display: grid;
    }
    .example {
      margin-top: 1.5em;
      margin-left: 1.3em;
      margin-right: 1.5em;

      .conversation {
        line-height: 1.8em;
        margin-top: 0.1em;
        .row {
          display: grid;
          grid-template-columns: 0.08fr 1fr;
          p {
            text-align: left;
          }
        }
      }
    }
  }

  // Try
  .try-content {
    position: relative;
    margin-top: 2em;
    margin-left: $left-pixel;
    padding-left: 1.3em;
    padding-right: 1.5em;
    font-size: clamp(6px, 1.8vw, 15px);

    ul {
      list-style-type: decimal;
      margin: 0;
      margin-left: 1.4em;
      margin-block: 0;
      padding-inline: 0;

      &.desc {
        list-style-type: '-';

        li {
          line-height: 1.5em;
          margin-bottom: 5%;
        }
      }

      li {
        padding-inline-start: 1em;
        line-height: 1.8em;
      }
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
    .sub-text.mg {
      margin-top: 1.5em;
    }
  }

  // Act
  .act-content {
    position: relative;
    margin-top: 2em;
    margin-left: $left-pixel;
    margin-right: 1.5em;
    padding-left: 1.3em;
    font-size: clamp(6px, 1.8vw, 15px);

    .sub-text {
      line-height: 1.8em;
    }
    ul {
      list-style-type: '•';
      margin: 0;
      margin-left: 0.6em;
      margin-block: 0;
      padding-inline: 0;

      li {
        padding-inline-start: 1em;
        line-height: 1.8em;
        &.ja {
          list-style-type: none;
          padding-left: 1.4em;
        }
      }
    }
  }

  .title {
    .ja {
      font-size: clamp(12px, 3vw, 27px);
      color: #000000;
      font-weight: bold;
      margin-right: 3px;
    }
  }
  .lesson-points {
    margin-top: 1em;
    padding: 1% 1.5em 1% 7%;
    height: fit-content;
    background: $primary-light;
    .subtitle {
      font-size: clamp(6px, 1.8vw, 15px);
      color: #000000;
      font-weight: bold;
    }
    p {
      color: $primary;
      font-weight: normal;
      letter-spacing: 0.1px;
      margin: 0.2em auto;
      font-size: clamp(5px, 1.5vw, 12px);
      line-height: 1.8em;
      &:first-child {
        font-size: clamp(6px, 1.8vw, 15px);
        font-weight: bold;
        color: black;
      }
    }
  }
  .arrow-part {
    margin-top: 1em;
    margin-left: 14%;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    word-spacing: 3px;
    font-weight: normal;
    .subtitle {
      font-size: clamp(6px, 1.8vw, 15px);
      color: #000000;
    }
    p {
      margin: 0.5em auto;
      font-size: clamp(5px, 1.5vw, 12px);
    }
    p.subtitle + p > span {
      display: block;
    }
    div {
      position: relative;
      &:not(:last-child) {
        margin-bottom: 2em;
      }
      &:before {
        content: '';
        position: absolute;
        left: -3em;
        top: 0.6em;
        width: 0;
        height: 0;
        border-top: 0.5em solid transparent;
        border-bottom: 0.5em solid transparent;
        border-left: 1em solid $primary;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  footer {
    font-size: clamp(4.5px, 1.2vw, 9px);
    position: absolute;
    width: fit-content;
    text-align: right;
    bottom: 3.3%;
    right: 6.2%;
    font-family: $title-font;
  }

  .page-2 {
    .see-content {
      margin-top: 0;
    }

    .lesson-number {
      margin-top: -6%;
    }
  }

  // Page 3
  .page-3 {
    .lesson-number {
      margin-top: 1%;
    }

    .try-content {
      margin-top: 3em;

      span:first-of-type {
        display: block !important;
      }
    }

    .act-content {
      ul.text {
        margin-top: 1.5em;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .html-lesson-wrapper {
    .page-1,
    .page-2,
    .page-3 {
      min-height: unset;
    }
  }
}
