$helvetica: 'Helvetica', 'Arial', sans-serif;
$trebuchet: 'Trebuchet MS';
$primary: #2078a0;
$blue-green: #339999;
$blue: #2078a0;
$blue-light: #d4e6f0;

body {
  margin: 0;
  padding: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.html-lesson-wrapper {
  width: 100%;
  min-width: 320px;
  max-width: 100%;
  max-width: 892.75px;
  min-height: 960px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: clamp(5em, 12vw, 9em);
  background-image: url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/bg-header-1.png'), url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/bg-footer.png');
  background-position: top, -0.7em bottom;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: $trebuchet;

  header {
    font-family: $helvetica;
  }
  .b {
    font-weight: bold;
  }
  .no-wrap {
    white-space: nowrap;
  }
  .program-rank {
    position: absolute;
    top: 2em;
    left: 5%;
    color: #ffffff;
    font-size: 0px;
    white-space: nowrap;
    font-size: clamp(8px, 1.8vw, 15px);

    .type {
      padding: 0.7% 3% 0.7% 3%;
      background-color: $primary;
    }

    .level {
      margin-left: -1.1%;
      padding: 0.7% 3% 0.7% 3%;
      background-color: #e56a62;
    }
  }

  .highlight {
    color: $blue;
    font-weight: bold;
  }

  .words-phrase-content {
    position: relative;
    margin-top: clamp(87px, 18%, 160px);
    padding-left: 10.8em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 2em;
    background: $blue-light;
    font-size: clamp(12px, 2vw, 15px);

    .section {
      left: 0;
      margin-left: 6.1%;
      line-height: normal;
      margin-top: 1em !important;
    }

    .pointers {
      padding-top: 1em !important;
      margin-left: 0;
      padding-right: 1.5em;
    }

    .phrases-word {
      line-height: 2.8em;
      display: block;
    }
  }

  .arrow-part {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: -1.5em;
      top: 0.2em;
      width: 0;
      height: 0;
      border-left: 0.5em solid transparent;
      border-right: 0.5em solid transparent;
      border-top: 0.8em solid $blue;
      display: inline-block;
      vertical-align: middle;
    }

    span {
      color: $blue;
      font-weight: bold;
    }
  }

  .line {
    margin: 0 0.8em;
  }

  .title {
    position: absolute;
    top: 2.3em;
    left: 6%;
    font-size: clamp(18px, 4vw, 27px);
    width: 85%;
  }

  .lesson-number {
    font-family: $helvetica;
    position: absolute;
    left: 88.8%;
    margin-top: 6.1%;
    text-align: center;
    font-size: clamp(5.4px, 1.5vw, 13px);
    color: #ffffff;
    background-image: url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/bg-lesson-number.png');
    padding: 1em 2em 2em 2em;
    background-repeat: no-repeat;
    background-size: contain;
  }

  table {
    border-collapse: collapse;
    margin-top: 0.5em;
    font-size: clamp(12px, 2vw, 15px);
    border-spacing: 0px;
    padding-bottom: 0.5em;
    width: 100%;

    th,
    td {
      word-wrap: break-word;
      border: 1.5px solid white;
    }

    th {
      border-bottom: 3px solid white;
      background-color: $blue;
      color: #ffffff;
      padding: 0.5em;
    }

    td {
      text-align: left;
      padding: 1% 1% 1.5% 1%;
      background-color: #f2f2f2;
      vertical-align: top;
    }
  }

  .sub-text {
    font-family: $helvetica !important;
    line-height: 1.8em;
    margin: 0 auto;
  }

  .magenta-color {
    color: $primary;
  }

  .sub-color {
    color: #7f7f7f;
  }

  .section {
    position: absolute;
    color: $primary;
    font-weight: bold;
    font-family: $helvetica;
    line-height: 1.8em;
    left: 6.1%;
  }

  .divider {
    color: #d9d9d9;
    font-size: clamp(12px, 2vw, 15px);
    position: relative;
    left: 52%;

    &.d1,
    &.d2 {
      margin: 4% 0;
    }
  }

  .see-content,
  .act-content,
  .try-content,
  .review-content {
    position: relative;
    padding-left: 9.3em;
    padding-right: 1.5em;
    font-size: clamp(12px, 2vw, 15px);
  }

  .review-content {
    margin-top: 25%;
    .section {
      left: 6.4%;
      line-height: normal;
    }

    img {
      width: 100%;
      height: auto;
    }

    .sub-text {
      font-family: $trebuchet !important;
      margin-bottom: 2%;
      line-height: normal;
    }

    ul {
      list-style-type: none;
      margin: 0;
      margin-block: 0;
      padding-inline: 0;

      li {
        &:not(:last-child) {
          margin-bottom: 1em;
        }
        p:nth-child(3) {
          color: $blue;
          font-weight: bold;
        }
      }
    }
  }

  .see-content {
    margin-top: 5.5%;

    .article {
      line-height: 1.8em;
      .label {
        font-weight: bold;
        text-decoration: underline;
      }
      &:not(:last-child) {
        margin-bottom: 2em;
      }
    }

    .row {
      line-height: 1.8em;
      display: grid;
      grid-template-columns: min-content 1fr;
      margin-bottom: 2em;

      .col:first-child {
        width: 5em;
      }
    }
  }

  ul {
    list-style-type: decimal;
    margin: 0;
    margin-left: 1.4em;
    text-indent: -1em;
    margin-block: 0;
    padding-inline: 0;

    li {
      padding-inline-start: 1em;
      line-height: 1.8em;
    }

    li::before {
      content: '';
      width: 1em;
      display: inline-block;
    }
  }
  .try-content {
    line-height: 1.8em;
  }
  .act-content {
    line-height: 1.8em;
  }

  footer {
    font-size: clamp(4.5px, 1.1vw, 9px);
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: right;
    bottom: 4em;
    right: 6.2%;
    font-family: $helvetica;
    max-width: 39%;
    span {
      white-space: nowrap;
    }
  }

  @media screen and (max-width: 600px) {
    .words-phrase-content {
      padding-left: 10em;
    }

    .see-content,
    .act-content,
    .try-content,
    .review-content {
      padding-left: 8.5em;
    }
  }
}
