$text-font: 'Trebuchet MS';
$title-font: 'Helvetica', 'Arial', san-serif;

$primary: #2078a0;
$primary-light: #d4e6f0;
$primary-dark: #267aa1;
$background-grey: #f2f2f2;

$left-pixel: clamp(50px, 14%, 126.5px);

body {
  margin: 0;
  padding: 0;
}
.html-lesson-wrapper {
  line-height: 1.8;
  min-width: 360px;
  max-width: 100%;
  max-width: 892.75px;
  min-height: 960px;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 9%;
  background-image: url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/other-programs-bg-header-magenta.svg'),
    url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/other-programs-footer-logo.svg');
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: $text-font;

  header {
    margin-left: -1%;
    font-family: $title-font;
    margin-bottom: clamp(110px, 30vw, 270px);
  }
  .row {
    display: flex;
    flex-direction: row;
  }
  .b {
    font-weight: bold;
  }
  .i {
    font-family: italic;
  }
  .program-rank {
    position: absolute;
    top: 40px;
    left: 8%;
    color: #ffffff;
    font-size: 0px;
    .type {
      padding: 3px 16px 3px 14px;
      background-color: #cc3366;
      font-size: clamp(8px, 1.8vw, 15px);
    }
    .level {
      padding: 3px 12px 3px 13px;
      background-color:#339999;
      font-size: clamp(8px, 1.8vw, 15px);
      .add-space {
        margin-left: clamp(5px, 2vw, 15px);
      }
    }
  }
  .line {
    margin: 0 12px;
  }
  .hide {
    display: none;
  }
  .title {
    position: absolute;
    top: 80px;
    left: 7.6%;
    font-size: clamp(18px, 4vw, 27px);
  }
  .lesson-number {
    position: absolute;
    left: 93%;
    top: 0px;
    margin-top: 7.4%;
    font-size: clamp(7px, 1.8vw, 13px);
    color: #ffffff;
  }
  .row {
    display: flex;
    flex-direction: row;
  }
  .sub-text {
    font-family: $title-font !important;
    line-height: clamp(12px, 2.8vw, 22px);
    margin: 0 auto;
  }
  .section {
    position: absolute;
    left: -3.6em;
    color: #cc3366;
    font-weight: bold;
    font-family: $title-font;
    top: -1%;
  }
  .divider {
    color: #d9d9d9;
    font-size: clamp(12px, 2vw, 15px);
    position: relative;
    left: 52%;

    &.d1 {
      margin-top: 34px;
    }
    &.d2 {
      margin-top: 28px;
    }
  }
  ul {
    margin: 3px 0px 0px 18px;
    padding: 0;
    line-height: 1.8;

    li {
      padding-left: 8px;
    }
  }

  .see-content,
  .act-content,
  .try-content {
    position: relative;
    margin-left: $left-pixel;
    padding-left: 18.5px;
    padding-right: 42px;
    font-size: clamp(12px, 2vw, 15px);
  }
  // See
  .see-content {
    margin-top: -12.4%;
    width: 72%;
    @media screen and (max-width: 900px){
      margin-top: -5.4%;
    }
    .row {
      .You {
        font-family: $title-font;
      }
      p {
        display: block;
        margin: 0px 0px;
        &:first-child {
          min-width: 48px;
          max-width: 100px;
          word-wrap: break-word;
          font-weight: bold;
        }
        &:last-child {
          width: fit-content;
          font-weight: normal;
        }
      }
    }
  }

  // Try
  .try-content {
    margin-top: 30px;

    ul {
      list-style-type: decimal;
    }
  }

  // Act
  .act-content {
    margin-bottom: 2em;
    margin-top: 36px;
    height: fit-content;
    .column {
      display: grid;
      grid-template-columns: 40% 60%;
    }
  }

    // Review Content
    .review-content {
      position: relative;
      margin-left: $left-pixel;
      padding-left: 18.5px;
      padding-right: 42px;
      font-size: clamp(6px, 1.8vw, 15px);
    }
  
    // Review Content
    .review-content {
      margin-top: -12%;
      ul {
        list-style: none;
        margin-top: 12px;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
  
        li {
          margin-bottom: 1.1em;
          margin-left: -4.5%;
          p {
            margin-block-start: 0 !important;
            margin-block-end: 0 !important;
  
            &:last-child {
              font-weight: normal;
            }
          }
        }
      }
    }

  footer {
    font-family: $title-font;
    font-size: clamp(4.5px, 1.1vw, 9px);
    position: relative;
    box-sizing: border-box;
    padding-right: 10%;
    bottom: -10em;
    .footer-text {
      line-height: normal;
      text-align: right;
      position: absolute;
      bottom: 0;
      max-width: 33%;
      right: 6%;
    }
  }
  .inline-block {
    display: inline-block;
  }
}

@media screen and (max-width: 900px) {
  .html-lesson-wrapper {
    min-height: unset;
    padding-bottom: clamp(20px, 21vw, 177px);
    .try-content {
      margin-top: clamp(20px, 3.7vw, 30px);
      padding-left: clamp(11px, 2.4vw, 18px);
      ul {
        margin-left: clamp(16px, 2.7vw, 23px);
      }
      li {
        padding-left: clamp(9px, 1.8vw, 13px);
      }
    }
    .act-content {
      margin-top: clamp(20px, 3.8vw, 36px);
    }
    footer {
      bottom: -16em;
    }
  }
}
@media screen and (max-width: 768px) {
  .html-lesson-wrapper {
    .program-rank {
      position: absolute;
      top: clamp(20px, 4vw, 40px);
      left: clamp(23px, 4vw, 48px);
    }
    .title {
      top: clamp(45px, 8.4vw, 80px);
      left: clamp(30px, 4.1vw, 55px);
    }
    .divider {
      &.d1,
      &.d2 {
        margin-top: clamp(18px, 3.4vw, 28px);
      }
    }
    .section {
      left: calc(-16% + 30px);
    }
    .section.words {
      left: calc(-14% + 30px);
    }
    .arrow-part {
      &:before {
        left: -4.5% !important;
        top: 0.6vw !important;
      }
    }
    .act-content table {
      th {
        padding: 2px;
      }
      td {
        padding: 3px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .html-lesson-wrapper {
    .type {
      padding: 2px 8px 2px 7px !important;
    }
    .level {
      padding: 2px 6px 2px 7px !important;
    }
    .line {
      margin: 0 6px;
      vertical-align: middle;
    }
    .words-phrase-content {
      .section {
        max-width: 50px;
      }
    }
    .arrow-part {
      &:before {
        border-left: 3.5px solid transparent !important;
        border-right: 3.5px solid transparent !important;
        border-top: 5.5px solid $primary !important;
      }
    }
  }
}
