$helvetica: 'Helvetica', 'Arial', sans-serif;
$trebuchet: 'Trebuchet MS';

body {
  margin: 0;
  padding: 0;
}
$magenta: #cc3366;
$magenta-light: #f0d4d4;
$blue-green: #339999;

$fs-10: clamp(12px, 2vw, 15px);

.html-lesson-wrapper {
  width: 100%;
  min-width: 360px;
  max-width: 100%;
  max-width: 892.75px;
  min-height: 960px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 11%;
  background-image: url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/other-programs-bg-header-magenta.svg'),
    url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/other-programs-footer-logo.svg');
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: $trebuchet;

  header {
    font-family: $helvetica;
  }

  .u {
    text-decoration: underline;
  }

  .b {
    font-weight: bold;
    font-size: clamp(12px, 2vw, 15px);
    font-family: $trebuchet;
    margin-bottom: 2%;
  }

  .i {
    font-family: italic;
  }

  .small-mt {
    margin-top: clamp(5px, 2vw, 10px);
  }

  .program-rank {
    position: absolute;
    top: 40px;
    left: 48px;
    color: #ffffff;
    font-size: 0px;
    margin-left: clamp(7px, 4vw, 7px);

    .type {
      padding: 3px 16px 3px 14px;
      background-color: $magenta;
      font-size: clamp(6.48px, 1.8vw, 15px);
    }

    .level {
      padding: 3px 12px 3px 13px;
      background-color: $blue-green;
      font-size: clamp(6.48px, 1.8vw, 15px);
    }
  }

  .line {
    margin: 0 12px;
  }

  .title {
    position: absolute;
    top: 80px;
    left: 55px;
    font-size: clamp(9.3pt, 3vw, 18pt);
    @media only screen and (max-width: 768px) {
      margin-left: 2%;
    }
  }

  .lesson-number {
    position: absolute;
    left: 91.5%;
    margin-top: 7.8%;
    font-size: clamp(7px, 1.8vw, 9pt);
    color: #ffffff;
    @media only screen and (max-width: 400px) {
      left: 0.5%;
    }
  }

  .lesson-number-two {
    @extend .lesson-number;

    left: 91.8%;
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .sub-text {
    font-family: $helvetica !important;
    font-size: clamp(12px, 2vw, 15px);
    line-height: clamp(12px, 2.8vw, 22px);
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 2%;
    line-height: 1.8em;
  }

  .magenta-color {
    color: $magenta;
  }

  .section {
    position: absolute;
    left: -71.5px;
    color: $magenta;
    font-weight: bold;
    font-family: $helvetica;
    font-size: $fs-10;
    top: 2px;
    margin-top: 0.6%;
  }

  .divider {
    color: #d9d9d9;
    font-size: clamp(6px, 1.8vw, 15px);
    position: relative;
    left: 52%;
  }

  .divider {
    &.d1 {
      margin: 4% 0;
    }
    &.d2 {
      margin: 4% 0;
    }
    ul {
      margin: 3px 0px 0px 18px;
      padding: 0;
      line-height: clamp(12px, 3vw, 26px);
    }
  }

  ul li {
    padding-left: 8px;
    padding-bottom: 1.5%;
  }

  .see-content,
  .act-content,
  .try-content,
  .review-content,
  .part-content {
    position: relative;
    margin-left: clamp(40px, 14vw, 126.5px);
    padding-right: clamp(8px, 2vw, 20px);
    font-size: clamp(12px, 2vw, 15px);
  }

  .biz-tip-content {
    position: relative;
    margin-top: clamp(70px, 18%, 160px);
    padding: 2px 0px 0px 47px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 4%;
    padding-left: clamp(17px, 6.5vw, 47px);
    background: $magenta-light;
    font-size: clamp(12px, 2vw, 15px);
    line-height: normal;

    .section {
      margin-left: clamp(40px, 14vw, 126.5px);
      line-height: 1.8em;
      margin-top: 2.3% !important;
    }

    .pointers {
      margin-top: 3% !important;
      margin-left: clamp(50px, 15.2%, 126.5px);
      line-height: normal;
      font-size: clamp(12px, 2vw, 15px);

      .no-arrow {
        margin-left: -4.2%;
        margin-right: 16%;
        @media only screen and (max-width: 820px) {
          margin-left: -7.5%;
        }
        @media only screen and (max-width: 768px) {
          margin-left: -1%;
        }
      }
    }
  }

  .arrow-part {
    position: relative;
    @media only screen and (max-width: 820px) {
      margin-left: -3.5%;
    }
    @media only screen and (max-width: 768px) {
      margin-left: 5%;
    }
    &:before {
      content: '';
      position: absolute;
      left: -1.5em;
      top: 0.3em;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 8px solid;
      display: inline-block;
      vertical-align: middle;
    }

    span {
      color: $magenta;
      font-weight: bold;
    }

    &.black-arrow:before {
      border-top: 8px solid black;
    }
  }

  .arrow-part-1 {
    position: relative;
    &:before {
      content: '';
      left: -1.5em;
      top: 0.3em;
      width: 0;
      height: 0;
      border-left: clamp(2px, 1vw, 5px) solid transparent;
      border-right: clamp(2px, 1vw, 5px) solid transparent;
      border-top: clamp(4px, 1vw, 8px) solid;
      display: inline-block;
      vertical-align: middle;
      margin-right: clamp(5px, 1vw, 8px);
    }

    span {
      color: $magenta;
      font-weight: bold;
    }

    &.black-arrow:before {
      border-top: 8px solid black;
    }
  }

  .see-content {
    margin-top: 36px;

    .sub-text {
      margin-bottom: 1.5%;
      @media only screen and (max-width: 768px) {
        margin-left: 7%;
      }
    }

    .article {
      margin-top: 5px;
      line-height: 1.7em;
      margin-bottom: 29px;

      span.highlight {
        color: $magenta;
        font-weight: bold;
      }
    }

    table {
      border-collapse: collapse;

      p {
        margin: 0;
        line-height: 1.8em;
        top: -0.3em;
        position: relative;

        &:not(:last-child) {
          margin-bottom: 5%;
        }
      }

      td {
        padding: 0;
        vertical-align: top;

        &:first-child {
          @extend .b;
          width: 2%;
        }
      }
    }

    .see-border-box {
      border: clamp(1.5px, 0.5vw, 3.5px) solid #d8d8d8;
      font-family: $trebuchet;
      font-size: clamp(12px, 2vw, 15px);
      padding: 0.5vw 0.5vw 1vw;
      line-height: normal;
      width: 91%;
    }

    .dialogue {
      font-size: $fs-10;
      font-family: $trebuchet;
      line-height: 1.8em;
      @media only screen and (max-width: 768px) {
        margin-left: 7%;
      }
    }

    .row {
      display: flex;
      width: 100%;
      margin-bottom: clamp(2px, 1vw, 7px);
      font-size: $fs-10;
      line-height: 1.8em;
    }

    .person {
      font-weight: bold;
      width: 80px;
      @media only screen and (max-width: 768px) {
        width: 40px;
      }
    }
    .speech {
      width: inherit;
    }
  }

  .part-content {
    &.part-1 {
      margin-top: clamp(70px, 25%, 250px);
    }

    .sub-text {
      margin-bottom: 1.5%;
      line-height: 1.8em;
    }

    .article {
      margin-top: 5px;
      line-height: 1.7em;
      margin-bottom: 29px;

      span.highlight {
        color: $magenta;
        font-weight: bold;
      }
    }

    table {
      border-collapse: collapse;

      p {
        margin: 0;
        line-height: 1.8em;
        top: -0.3em;
        position: relative;

        &:not(:last-child) {
          margin-bottom: 5%;
        }
      }

      td {
        padding: 0;
        vertical-align: top;

        &:first-child {
          @extend .b;
          width: 10%;
        }
      }
    }

    .see-border-box {
      border: clamp(1.5px, 0.5vw, 3.5px) solid #d8d8d8;
      font-family: $trebuchet;
      font-size: $fs-10;
      padding: 0.5vw 0.5vw 1vw;
      line-height: normal;
    }

    .dialogue {
      font-size: $fs-10;
      font-family: $trebuchet;
    }

    .row {
      display: flex;
      width: 100%;
      margin-bottom: clamp(2px, 1vw, 7px);
    }

    .person {
      font-weight: bold;
      width: 10%;
    }

    ol {
      margin: 0;
      padding: 0;
      list-style: none;
      counter-reset: orderedlist;
      font-family: $trebuchet;
      font-size: $fs-10;
      line-height: 1.8em;
    }

    .review-list {
      list-style-type: decimal;
      margin-left: 3%;
      line-height: 1.8em;
    }
  }

  .try-content {
    ul {
      list-style-type: decimal;
      padding-left: 15px;
      margin-top: auto;
      line-height: 1.8em;
    }

    table {
      border-collapse: collapse;
      width: 95%;
      font-family: $trebuchet;
      font-size: clamp(12px, 2vw, 15px);
      line-height: normal;
      @media only screen and (max-width: 768px) {
        margin-left: 4%;
        width: 90%;
      }
      @media only screen and (max-width: 820px) {
        margin-left: 4%;
      }
    }

    th,
    td {
      border: 1.5px solid #d8d8d8;
    }

    th {
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      background-color: $magenta;
      padding: 0.3vw 0;
    }
    td {
      vertical-align: top;
      padding: 0.3vw 0.5vw;
      width: 25%;
      line-height: normal;
    }
  }

  .act-content {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;

    table {
      margin-top: 5px;
      font-size: clamp(6px, 1.5vw, 14px);
      border-spacing: 0px;
      padding-bottom: 5px;
      width: 100%;

      th,
      td {
        max-width: 120px;
        min-width: 80px;
        word-wrap: break-word;
        border: 1px solid #ffffff;
      }

      th {
        background-color: $magenta;
        color: #ffffff;
        font-size: clamp(7px, 1.8vw, 15px);
        padding: 5px;
      }

      td {
        text-align: left;
        padding: 4px;
        background-color: #f2f2f2;
      }
    }
  }

  .review-content {
    .sub-text {
      font-family: $trebuchet !important;
      margin-bottom: 2%;
    }

    ol {
      margin: 0;
      margin-block: 0;
      padding-inline: 0;
    }

    .lsn {
      counter-reset: item;
      list-style-type: none;

      li:before {
        content: 'Lsn ' counter(item, decimal) ': ';
        counter-increment: item;
      }

      @extend .b;
      .arrows {
        margin: 2% 0 2% 9%;
        font-weight: normal;

        .arrow-part {
          span {
            font-weight: bold;
          }
        }
        .arrow-part::before {
          left: -25px;
        }
      }
    }
  }

  .divider {
    &.see {
      margin-left: -20%;
    }
  }

  footer {
    font-size: clamp(4.5px, 1.1vw, 9px);
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: right;
    // bottom: 3.5%;
    bottom: 33px;
    right: 2%;
    font-family: $helvetica;
    max-width: 44%;
    @media only screen and (max-width: 767px) {
      max-width: 117px;
      bottom: 1.8%;
    }
    .footer-text-1 {
      display: inline-block;
    }
    .footer-text-2 {
      display: inline-block;
    }
  }

  .part-content{
    padding-bottom: 5rem;
  }
  
  .act-content {
    padding-bottom: 8rem;
  }

  .act-para {
    @media only screen and (max-width: 768px) {
      margin-left: 7%;
      width: 90%;
    }
  }

  @media screen and (max-width: 900px) {
    & {
      min-height: unset;
    }
    .see-content {
      margin-top: clamp(22px, 3.8vw, 36px);

      .article {
        margin-bottom: clamp(20px, 3.7vw, 29px);
      }
    }
    .try-content {
      margin-top: clamp(20px, 3.7vw, 30px);
      padding-left: clamp(11px, 2.4vw, 18px);

      ul {
        margin-left: clamp(11px, 2.4vw, 18px);
      }

      li {
        padding-left: clamp(9px, 1.8vw, 13px);
      }
    }
    .act-content {
      margin-top: clamp(20px, 3.8vw, 36px);
    }
  }

  @media only screen and (max-width: 820px) {
    .section {
      &.words {
        margin-left: 15.5%;
      }
      &.see {
        margin-left: 13.3%;
      }
      &.try {
        margin-left: 13.3%;
      }
      &.act {
        margin-left: 13.3%;
      }
    }
    .sub-text {
      &.try {
        margin-left: -3%;
      }
    }
    .section {
      &.review {
        margin-left: 1.5%;
      }
    }
    footer {
      bottom: 38px;
    }
  }

  @media screen and (max-width: 768px) {
    .program-rank {
      position: absolute;
      top: clamp(20px, 4vw, 40px);
      left: clamp(23px, 4vw, 48px);
    }
    .title {
      top: clamp(45px, 8.4vw, 80px);
      left: clamp(23px, 4.1vw, 55px);
    }
    .section {
      left: -9;
      &.words {
        left: -8%;
        top: 0%;
      }
    }
    .speech {
      margin-left: 5%;
      width: 80%;
    }
    .see-border-box {
      margin-left: 7%;
      width: 85%;
      &.review {
       margin-left: 10%;
      }
    }
    .sub-text {
      margin-left: 7%;
      &.review {
        margin-left: 10%;
        width: 85%;
      }
      &.try {
        margin-left: 4%;
      }
    }
    ul {
      position: relative;
      left: 2%;
    }
    ol.review {
      margin-left: 11%;
      width: 88%;
    }
    .word-break {
      word-break: break-word;
    }
    .try-content {
      ul {
        margin-left: 0%;
        word-break: break-word;
      }
    }
    .b {
      margin-left: 7%;
    }
    .divider {
      &.see {
        font-size: 12px;
        margin-left: -35%;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .type {
      padding: 2px 8px 2px 7px !important;
    }
    .level {
      padding: 2px 6px 2px 7px !important;
    }
    .line {
      margin: 0 6px;
      vertical-align: middle;
    }
    .arrow-part:before {
      border-left: 5px solid transparent !important;
      border-right: 5px solid transparent !important;
      border-top: 8px solid !important;
    }
  }
}
