/*
this file is intended to be use Other Programs - Online Chat Basics Lessons 1-20, 
if you want to override the specified class, go to the scss file 
of the lesson and make the same class, and override it depending 
on what you need.
*/
$trebuchet: 'Trebuchet MS';
$helvetica: 'Helvetica', 'Arial', sans-serif;

$primary-blue: #1287cd;
$primary-pink: #bd3762;
$text-pink: #cc3366;
$rank-green: #339999;
$primary-gray: #9fa0a0;
$secondary-gray: #7f7f7f;
$tertiary-gray: #d9d9d9;
$primary-light: #cce0ea;

$subtext-color: #7f8288;

$s3: 'https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images';

body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  font-family: $trebuchet;
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 892.75px;
  min-height: 960px;
  height: fit-content;
  overflow: hidden;
  padding-bottom: 62px;
  background-image: url(#{$s3}/other-programs-bg-header-magenta.svg),
    url(#{$s3}/other-programs-footer-logo.svg);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  @media only screen and (max-width: 767px) {
    min-height: 800px;
  }
  header {
    top: 0;
    margin-bottom: clamp(50px, 15vw, 65px);
    margin-top: -3%;
    position: relative;
  }

  footer {
    font-family: $helvetica;
    font-size: clamp(4.5px, 1.1vw, 9px);
    position: relative;
    box-sizing: border-box;
    padding-right: 10%;
    bottom: -20px;
    @media only screen and (max-width: 767px) {
      bottom: -45px;
    }
    .footer-text {
      text-align: right;
      position: absolute;
      bottom: 0;
      max-width: 45%;
      right: 2%;
    }
  }
  .inline-block {
    display: inline-block;
  }
  .pt-1 {
    padding-top: 1rem !important;
    @media only screen and (max-width: 460px) {
      padding-top: 0px !important;
    }
  }
  .pt-2 {
    padding-top: 1.9rem !important;
    @media only screen and (max-width: 460px) {
      padding-top: 0px !important;
    }
  }
  .program-rank {
    font-family: $helvetica;
    font-size: clamp(8px, 1.8vw, 15px);
    position: absolute;
    color: #ffffff;
    margin-top: clamp(10px, 5vw, 43px);
    margin-left: clamp(10px, 6vw, 60px);

    .type {
      padding: clamp(1px, 1vw, 2px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 2px)
        clamp(10px, 3vw, 17px);
      background-color: $text-pink;
    }
    .level {
      padding: clamp(1px, 1vw, 2px) clamp(7px, 2vw, 15px) clamp(1px, 1vw, 2px)
        clamp(10px, 3vw, 17px);
      background: $rank-green;
      width: 100%;
      margin-left: -2%;
      &.two {
        padding: clamp(1px, 1vw, 2px) clamp(4px, 1vw, 8px) clamp(1px, 1vw, 2px)
          clamp(10px, 3vw, 17px);
      }
    }
    .separator {
      font-family: $helvetica;
      position: relative;
      display: inline;
      margin: 0 6px;
    }
  }
  .lesson-number {
    position: absolute;
    right: 6.5%;
    width: 1.9%;
    text-align: center;
    margin-top: 8%;
    font-size: clamp(7px, 1.8vw, 13px);
    color: #ffffff;
    @media only screen and (max-device-width: 767px) {
      margin-top: 7.4%;
      &.two {
        right: 6.4% !important;
      }
    }
    @media only screen and (max-device-width: 400px) {
      margin-top: 7%;
      &.two {
        right: 6.7% !important;
      }
    }
    &.two {
      right: 6.6%;
    }
  }

  .header-content {
    font-family: $helvetica;
    position: relative;
    top: clamp(30px, 8vw, 65px);
    color: black;
    box-sizing: content-box;
    margin-top: clamp(10px, 3vw, 25px);

    .title {
      font-family: $helvetica;
      font-size: clamp(18px, 4vw, 27px);
      margin-right: clamp(10px, 3vw, 25px);
      margin-left: clamp(10px, 6vw, 60px);
      padding-top: 2%;
      padding-bottom: 5.4%;
      @media only screen and (max-device-width: 767px) {
        padding-top: 1%;
        padding-bottom: 5%;
      }
    }
    .biz-tips {
      background-color: #f0d4d4;
      min-height: 140px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 4rem;
      @media only screen and (max-device-width: 460px) {
        margin-bottom: 0 !important;
      }
      .biz-tip-label {
        width: 11%;
        font-family: $helvetica;
        color: $text-pink;
        font-weight: bold;
        font-size: clamp(12px, 2vw, 15px);
        margin-top: clamp(10px, 3vw, 20px);
        padding-left: clamp(10px, 6vw, 60px);
        @media only screen and (max-device-width: 460px) {
          width: 12%;
        }
      }
      .biz-tip-content {
        font-family: $trebuchet;
        width: 90%;
        font-size: clamp(12px, 2vw, 15px);
        margin-top: clamp(10px, 3vw, 20px);
        padding-right: clamp(11px, 2vw, 20px);
        padding-bottom: 1rem;
        p {
          margin: 0;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style-type: '\25BC';
          box-sizing: content-box;
          list-style-position: inside;
          li {
            list-style-position: outside;
            text-indent: -1em;
            margin-left: 0.8em;
            padding-left: 0.5em;
          }
          li::before {
            content: '';
            display: block;
            width: 0.5em;
            height: 0px;
          }
          li::marker {
            font-size: clamp(11px, 2vw, 13px);
          }
        }
        .all-tips {
          display: flex;
          margin-top: 2%;
          .start-div {
            max-width: 50%;
          }
          .end-div {
            margin-left: 4%;
          }
          .tip-label {
            font-weight: bold;
          }
        }
      }
    }
  }

  .content-item {
    padding-top: clamp(5px, 2vw, 10px);
    padding-right: clamp(10px, 3vw, 25px);
    box-sizing: border-box;
    display: flex;
    justify-content: baseline;
    align-items: flex-start;
    width: 100%;
    .content-label {
      width: 15%;
      color: $text-pink;
      .content-label-text {
        font-weight: bold;
        font-size: clamp(12px, 2vw, 15px);
        vertical-align: middle;
        padding-left: clamp(10px, 6vw, 60px);
      }
    }
    &.review {
      .content-label {
        width: 17%;
        @media only screen and (max-device-width: 767px) {
          width: 19% !important;
        }
      }
    }
    .content-div {
      width: 89%;
      margin-bottom: 15px;
      box-sizing: content-box;
      @media only screen and (max-device-width: 400px) {
        padding-left: 10px;
      }
      .header-text {
        margin: 0;
        font-family: $helvetica;
        font-size: clamp(12px, 2vw, 15px);
        font-weight: bold;
        line-height: clamp(12px, 4vw, 22px);
        margin-top: clamp(-2px, -1vw, -3px);
        max-width: 96%;
        @media only screen and (max-device-width: 400px) {
          padding-top: 2px;
        }
      }
      &.see {
        box-sizing: border-box;
        .chat-box {
          font-size: clamp(12px, 3vw, 15px);
          border-radius: 8px;
          border-top: 3px solid #e2e2e2;
          border-bottom: 3px solid #e2e2e2;
          border-left: 6px solid #e2e2e2;
          border-right: 6px solid #e2e2e2;
          background-color: #f3f2f2;
          padding-top: clamp(5px, 2vw, 1em);
          padding-bottom: clamp(3px, 1vw, 1em);
          padding-left: clamp(10px, 3vw, 1.7em);
          padding-right: clamp(10px, 3vw, 1.7em);
          margin-right: 1em;
          .chat-div-right,
          .chat-div-left {
            margin-bottom: 10px;
          }
          .chat-div-right {
            text-align: right;
          }
          .chat-message {
            padding-left: 1em;
            padding-right: clamp(5px, 4vw, 2em);
            border-radius: clamp(5px, 1vw, 10px);
            display: inline-block;
            @media screen and (max-width: 460px) {
              max-width: 200px;
            }
            &.left {
              background-color: #b5d2d2;
              background-color: rgba($color: #339999, $alpha: 0.35);
              max-width: 80%;
            }
            &.right {
              background-color: #f0d4d4;
              @media screen and (max-width: 460px) {
                max-width: 80% !important;
              }
            }
            .chat-text {
              line-height: clamp(19px, 3vw, 24px);
              text-align: left;
              sup {
                vertical-align: top;
                position: relative;
                top: -0.5em;
              }
            }
          }
        }
      }
      &.try {
        .content-table {
          font-size: clamp(12px, 2vw, 15px);
          width: 96%;
          border-collapse: collapse;
          margin-right: 1.5em;
          .table-header {
            color: white;
            background-color: $primary-pink;
          }
          td,
          th {
            border: 1px solid $tertiary-gray;
            vertical-align: baseline;
          }
          th {
            vertical-align: middle !important;
            padding: 0.7% 0.5%;
          }
          td {
            padding: 0.5%;
            padding-left: clamp(5px, 1vw, 10px);
            @media screen and (max-width: 460px) {
              padding-bottom: 1%;
            }
          }
        }
      }
      &.review-part-1 {
        @extend .pt-1;
        padding-right: clamp(15px, 7vw, 43px);
        width: 100% !important;
        .review-box {
          font-family: $trebuchet;
          font-size: clamp(10px, 2vw, 13.5px);
          padding: clamp(2px, 1vw, 5px) clamp(5px, 2vw, 10px);
          border: 3px solid $tertiary-gray;
          margin-bottom: 3%;
          p {
            margin: 0;
          }
          .review-box-title {
            font-weight: bold;
          }
          ul {
            margin: 0;
            padding: 0;
            list-style-type: '\25BC';
            box-sizing: content-box;
            li {
              list-style-position: outside;
              text-indent: -1em;
              margin-left: 0.8em;
              padding-left: 0.5em;
            }

            li::before {
              content: '';
              display: block;
              width: 0.5em;
              height: 0px;
            }
            li::marker {
              font-size: clamp(11px, 2vw, 13px);
            }
          }
          .all-tips {
            display: flex;
            margin-top: 1em;
            .start-div {
              box-sizing: border-box;
              width: 45%;
            }
            .end-div {
              margin-left: 4%;
              width: 50%;
            }
            .tip-label {
              font-weight: bold;
            }
          }
          .content-footer {
            margin-top: 0.3rem;
            margin-left: -0.5%;
            margin-right: -0.5%;
          }
        }
      }
      &.review-part-2 {
        padding-right: clamp(15px, 7vw, 55px);
        p.part-2-content {
          margin: 0;
          font-family: $trebuchet;
          font-size: clamp(12px, 3vw, 16px);
          line-height: clamp(12px, 4vw, 25px);
        }
      }
    }
  }
  .content-item-divider {
    width: 100%;
    text-align: center;
    color: $tertiary-gray;
    margin-top: clamp(10px, 2vw, 20px);
    margin-bottom: clamp(15px, 3vw, 25px);
    &::after {
      content: '\25BC\25BC\25BC';
      font-size: clamp(12px, 2vw, 15px);
    }
  }
}
