$helvetica: 'Helvetica', 'Arial', sans-serif;
$trebuchet: 'Trebuchet MS';

body {
  margin: 0;
  padding: 0;
}
$magenta: #cc3366;
$magenta-light: #f0d4d4;
$blue-green: #339999;

$fs-10: clamp(6.48px, 1.8vw, 10pt);

.html-lesson-wrapper {
  width: 100%;
  min-width: 320px;
  max-width: 100%;
  max-width: 892.75px;
  min-height: 960px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 11%;
  background-image: url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/other-programs-bg-header-magenta.svg'),
    url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/other-programs-footer-logo.svg');
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: $trebuchet;

  header {
    font-family: $helvetica;
  }

  .u {
    text-decoration: underline;
  }

  .b {
    font-weight: bold;
  }

  .i {
    font-family: italic;
  }

  .inline-block {
    display: inline-block;
  }

  .program-rank {
    position: absolute;
    top: 40px;
    left: 5%;
    color: #ffffff;
    font-size: 0px;
    font-size: clamp(8px, 1.8vw, 15px);

    .type {
      padding: clamp(1px, 1vw, 2px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 2px) clamp(10px, 3vw, 17px);
      background-color: $magenta;
    }

    .level {
      padding: clamp(1px, 1vw, 2px) clamp(7px, 2vw, 15px) clamp(1px, 1vw, 2px) clamp(10px, 3vw, 17px);
      background-color: $blue-green;
      margin-left: -2%;
      &.two {
        padding: clamp(1px, 1vw, 2px) clamp(4px, 1vw, 8px) clamp(1px, 1vw, 2px) clamp(10px, 3vw, 17px);
      }
    }
  }
  .conversation-wrapper{
    display: flex;
    flex-direction: column;
    .col{
      display:inherit;
      flex-direction: column;
    }
    .row{
      display: inherit;
      flex-direction: row;
      align-items: center;
      width: 100%;
      align-items: stretch;
      line-height: 1.8;
    }
    .speaker{
      min-width: 5em;
      align-items: start;
    }
    .dialogue{
      width: 100%;
    }
  }
  .line {
    margin: 0 12px;
  }

  .title {
    position: absolute;
    top: 80px;
    left: 5%;
    font-size: clamp(18px, 4vw, 27px);
  }

  .lesson-number {
    position: absolute;
    left: 92.2%;
    margin-top: 7.8%;
    font-size: clamp(7px, 1.8vw, 13px);
    color: #ffffff;
  }

  .lesson-number-two {
    @extend .lesson-number;
    left: 91.5%;
    @media only screen and (max-width: 460px) {
      left: 91%;
    }
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .sub-text {
    font-family: $helvetica !important;
    font-size: clamp(12px, 2vw, 15px);
    line-height: normal;
    font-weight: bold;
    margin: 0 0 0.3rem 0;
  }

  .sub-text-2 {
    font-family: $helvetica !important;
    font-size: clamp(12px, 2vw, 15px);
    font-weight: bold;
    margin: 0 0 0.3rem 0;
  }

  .sub-text-1 {
    color: red;
    font-family: $helvetica !important;
    font-size: clamp(12px, 2vw, 15px);
    margin: 0 0 0.3rem 0;
    font-style: italic;
  }

  .magenta-color {
    color: $magenta;
  }

  .divider {
    color: #d9d9d9;
    font-size: clamp(6px, 1.8vw, 15px);
    position: relative;
    left: 52%;
  }

  .divider {
    &.d1 {
      margin: 4% 0;
    }
    &.d2 {
      margin: 4% 0;
    }
    ul {
      margin: 3px 0px 0px 18px;
      padding: 0;
      line-height: clamp(12px, 3vw, 26px);
    }
  }

  ul li {
    padding-left: 8px;
  }

  .see-content,
  .act-content,
  .try-content,
  .part-content {
    display: flex;
  }

  .section {
    padding-left: 5%;
    width: 11%;
    color: $magenta;
    font-weight: bold;
    font-family: $helvetica;
    font-size: clamp(12px, 2vw, 15px);
    line-height: normal;
    @media only screen and (max-width: 425px) {
      width: 11%;
    }
  }

  .content {
    font-family: $trebuchet;
    width: 85%;
    min-width: 75%;
    padding-right: 5%;
    font-size: clamp(12px, 2vw, 15px);
    @media only screen and (max-width: 460px) {
      margin-left: clamp(22px, 3.8vw, 36px);
    }
  }

  .biz-tip-content {
    margin-top: clamp(70px, 18%, 160px);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 4%;
    background: $magenta-light;
    font-size: clamp(12px, 2vw, 15px);
    display: flex;
    @media only screen and (max-width: 460px) {
      margin-bottom: 0 !important;
    }

    .section {
      margin-top: 3% !important;
    }

    .pointers {
      margin-top: 3% !important;

      .no-arrow {
        margin-bottom: clamp(6px, 1vw, 10px);
      }
    }
  }

  .arrow-part {
    position: relative;
    &:before {
      content: '';
      left: -1.5em;
      top: 0.3em;
      width: 0;
      height: 0;
      border-left: clamp(2px, 1vw, 5px) solid transparent;
      border-right: clamp(2px, 1vw, 5px) solid transparent;
      border-top: clamp(4px, 1vw, 8px) solid;
      display: inline-block;
      vertical-align: middle;
      margin-right: clamp(5px, 1vw, 8px);
    }

    span {
      color: $magenta;
      font-weight: bold;
    }

    &.black-arrow:before {
      border-top: 8px solid black;
    }
  }

  .arrow-part-1 {
    position: relative;
    &:before {
      content: '';
      left: -1.5em;
      top: 0.3em;
      width: 0;
      height: 0;
      border-left: clamp(2px, 1vw, 5px) solid transparent;
      border-right: clamp(2px, 1vw, 5px) solid transparent;
      border-top: clamp(4px, 1vw, 8px) solid;
      display: inline-block;
      vertical-align: middle;
      margin-right: clamp(5px, 1vw, 8px);
    }

    span {
      color: $magenta;
      font-weight: bold;
    }

    &.black-arrow:before {
      border-top: 8px solid black;
    }
  }

  .see-content {
    margin-top: 36px;
    font-size: clamp(12px, 2vw, 15px);

    .article {
      margin-top: 5px;
      line-height: 1.7em;
      margin-bottom: 29px;

      span.highlight {
        color: $magenta;
        font-weight: bold;
      }
    }

    .see-table-content {
      .table-title {
        font-weight: bold;
        color: white;
        background-color: $magenta !important;
        padding: 0.3vw 0.2vw;
        padding-left: 6px !important;
      }
      tbody{
        line-height: normal;
      }
    }
    table {
      border-collapse: collapse;
      width: 96%;
      font-family: $trebuchet;
      font-size: clamp(12px, 2vw, 15px);
      p {
        margin: 8px 5px;
        top: -0.3em;
        position: relative;

        &:not(:last-child) {
          margin-bottom: 2%;
        }
      }
      th,
      td {
        border: 1.5px solid #d8d8d8;
      }

      th {
        font-weight: bold;
        color: white;
        background-color: $magenta;
        padding: 0.3vw 0.2vw;
      }

      td {
        padding: 0;
        vertical-align: top;

        &:first-child {
          width: 10%;
        }
      }
    }
    .see-sub-content {
      padding: 0.5vw 0.5vw 2vw;
      table {
        border-collapse: collapse;
        width: 100%;
        font-family: $trebuchet;
        font-size: clamp(12px, 2vw, 15px);
        :nth-child(4) {
          width: 40%;
        }

        p {
          margin: 0;
          line-height: 1.8em;
          top: 0.1em;
          position: relative;
        }
        th,
        td {
          border: 1.5px solid white;
        }

        th {
          font-weight: bold;
          color: white;
          background-color: $magenta;
          padding: 0.3vw 0.2vw;
        }

        td {
          padding: 0.5%;
          padding-left: clamp(5px, 1vw, 10px);
          background: #f0d4d4;
          vertical-align: middle;
          width: 40px;
        }
        .row {
          display: flex;
          width: 100%;
        }
      }
    }

    .see-border-box {
      border: clamp(1.5px, 0.5vw, 3.5px) solid #d8d8d8;
      font-family: $trebuchet;
      font-size: $fs-10;
      padding: 0.5vw 0.5vw 2vw;
    }

    .dialogue {
      font-size: $fs-10;
      font-family: $trebuchet;

      .row {
        line-height: 1.8;
      }
    }

    .row {
      display: flex;
      width: 100%;
      margin-bottom: clamp(5px, 1vw, 7px);
    }

    .person {
      font-weight: bold;
      width: clamp(2.2rem, 17%, 8.5rem);
      font-size: clamp(12px, 2vw, 15px);
    }

    .speech {
      width: 90%;
      font-size: clamp(12px, 2vw, 15px);
    }

    .see-narration {
      text-align: center;
      color: #7f7f7f;
      width: 100%;
      margin-bottom: clamp(2px, 1vw, 7px);
      font-size: clamp(12px, 2vw, 15px);
    }

    .example {
      ul {
        margin: 0;
        padding: 0;
        line-height: 1.8;
        box-sizing: content-box;
        list-style-position: inside;
        li {
          list-style-position: outside;
          margin-left: 1em;
          padding-left: 0.5em;
        }
        li::before {
          content: '';
          display: block;
          width: 0.5em;
        }
        li::marker {
          font-size: clamp(9px, 2vw, 13px);
        }

        p {
          display: block;
        }
      }
    }
  }

  ol.numbers {
    margin: 0;
    padding: 0;
    list-style: none;
  
    counter-reset: orderedlist;
    font-family: $trebuchet;
    font-size: clamp(12px, 2vw, 15px);

    &:not(.no-mb) {
    
    }

    li::before {
      counter-increment: orderedlist;
      content: counter(orderedlist) '. ';
    }

    li {
    
    
    

      div:not(:last-child) {
        margin-bottom: clamp(0.1rem, 1vw, 0.4rem);
      }
    }
  }

  ol.bullets {
    margin: 0;
    padding: 0;
    list-style: none;
  
    counter-reset: orderedlist;
    font-family: $trebuchet;
    font-size: clamp(12px, 2vw, 15px);

    &:not(.no-mb) {
    
    }

    li::before {
      counter-increment: orderedlist;
      content: '■ ';
    }

    li {
    
    
    

      div:not(:last-child) {
        margin-bottom: clamp(0.1rem, 1vw, 0.4rem);
      }
    }
  }

  ul.arrow-part-list {
    margin: 0;
    padding: 0;
    list-style-type: '\25BC';
    box-sizing: content-box;
    list-style-position: inside;
    line-height: normal;
    li {
      list-style-position: outside;
      text-indent: -1em;
      margin-left: 0.8em;
      padding-left: 0.5em;
    }
    li::before {
      content: '';
      display: block;
      width: 0.5em;
    }
    li::marker {
      font-size: clamp(9px, 2vw, 13px);
    }
  }

  .part-content {
    &.part-1 {
      margin-top: clamp(70px, 25%, 250px);
      ul{
        list-style: none;
      }
    }

    .article {
      margin-top: 5px;
      line-height: 1.7em;
      margin-bottom: 29px;

      span.highlight {
        color: $magenta;
        font-weight: bold;
      }
    }

    table {
      border-collapse: collapse;

      p {
        margin: 0;
        line-height: 1.8em;
        top: -0.3em;
        position: relative;

        &:not(:last-child) {
          margin-bottom: 5%;
        }
      }

      td {
        padding: 0;
        vertical-align: top;

        &:first-child {
          @extend .b;
          width: 10%;
        }
      }
    }

    .see-border-box {
      border: clamp(1.5px, 0.5vw, 3.5px) solid #d8d8d8;
      font-family: $trebuchet;
      font-size: clamp(10px, 2vw, 13.5px);
      padding: 0.5vw;
    }

    

    .row {
      display: flex;
      width: 100%;
      margin-bottom: clamp(2px, 1vw, 7px);
    }

    .person {
      font-weight: bold;
      width: 10%;
    }

    ol.numbers {
      margin: 0;
      padding: 0;
      list-style: none;
      counter-reset: orderedlist;
      font-family: $trebuchet;
      font-size: clamp(12px, 2vw, 15px);
      @media only screen and (max-width: 460px) {
        padding-right: 10px;
      }

      &:not(.no-mb) {
      
      }

      li::before {
        counter-increment: orderedlist;
        content: counter(orderedlist) '. ';
      }

      li {
      
      
      
        margin: 12.5px 0px;

        &:first-child {
          margin-top: 0 !important;
        }

        div:not(:last-child) {
          margin-bottom: clamp(0.1rem, 1vw, 0.4rem);
        }
      }
      p {
        margin: 0;
      }
    }

    ul {
      padding: 0;
      box-sizing: content-box;
      list-style-position: inside;
      line-height: 1.8em;
      @media only screen and (max-width: 460px) {
        padding-right: 5px;
      }
      li {
        list-style-position: outside;
        text-indent: -1em;
        margin-left: 1em;
        padding-left: 0.5em;
        margin-bottom: -0.4em;
      }
      li::before {
        content: '';
        display: block;
        width: 0.5em;
      }
      li::marker {
        font-size: clamp(9px, 2vw, 13px);
      }
    }

    ol {
      margin: 0;
      padding: 0;
      list-style: none;
    
      counter-reset: orderedlist;
      font-family: $trebuchet;
      font-size: clamp(12px, 2vw, 15px);
      line-height: 1.8em;

      &:not(.no-mb) {
      
      }

      li::before {
        counter-increment: orderedlist;
        content: counter(orderedlist) '. ';
      }

      li {
      
      
      

        div:not(:last-child) {
          margin-bottom: clamp(0.1rem, 1vw, 0.4rem);
        }
      }
      p {
        margin: 0;
      }
    }
  }

  .try-content {
    .numbers {
      line-height: 1.8;
    }
    .content{
      .sub-text{
        margin: 0;
      }
    }
    ul {
      list-style-type: decimal;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      font-family: $trebuchet;
      font-size: clamp(12px, 2vw, 15px);
    }

    th,
    td {
      border: 1.5px solid #d8d8d8;
    }

    th {
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      background-color: $magenta;
      padding: 0.3vw 0.2vw;
    }
    td {
      vertical-align: top;
      padding: 0.3vw 0.5vw;
    }
  }

  .act-content {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: clamp(12px, 2vw, 15px);

    .numbers{
      line-height: 1.8;
    }
    .content {
      div {
        line-height: 1.8em;
      }
    }

    table {
      margin-top: 5px;
      font-size: clamp(12px, 2vw, 15px);
      border-spacing: 0px;
      padding-bottom: 5px;
      width: 100%;

      th,
      td {
        max-width: 120px;
        min-width: 80px;
        word-wrap: break-word;
        border: 1px solid #ffffff;
      }

      th {
        background-color: $magenta;
        color: #ffffff;
        font-size: clamp(7px, 1.8vw, 15px);
        padding: 5px;
      }

      td {
        text-align: left;
        padding: 4px;
        background-color: #f2f2f2;
      }
    }

    ul {
      margin: 7px 0px;
      padding: 0;
      box-sizing: content-box;
      list-style-position: inside;
      line-height: 1.8;
      li {
        list-style-position: outside;
        text-indent: -1em;
        margin-left: 1em;
        padding-left: 0.5em;
        margin-bottom: -0.4em;
      }
      li::before {
        content: '';
        display: block;
        width: 0.5em;
      }
      li::marker {
        font-size: clamp(9px, 2vw, 13px);
      }
    }
    ol {
      margin: 7px 0px;
    }
  }

  footer {
    font-family: $helvetica;
    font-size: clamp(4.5px,1.1vw,9px);
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 10%;
    bottom: -60px;

    .footer-text {
      text-align: right;
      position: absolute;
      bottom: 4%;
      max-width: 42%;
      right: 5%;

      @media only screen and (max-width: 460px) {
        bottom: 2.5%;
      }

      @media only screen and (max-width: 375px) {
        bottom: 2.2%;
      }

      @media only screen and (max-width: 320px) {
        bottom: 1.5%;
      }
    }
  }

  @media screen and (max-width: 900px) {
    & {
      min-height: unset;
    }
    .see-content {
      margin-top: clamp(22px, 3.8vw, 36px);

      .article {
        margin-bottom: clamp(20px, 3.7vw, 29px);
      }
      .person {
        @media screen and (max-width: 900px) {
          width: clamp(2.2rem, 29%, 5.5rem) !important;
        }
      }
    }
    .try-content {
      ul {
        margin-left: clamp(11px, 2.4vw, 18px);
      }
    }
    .act-content {
      margin-top: clamp(20px, 3.8vw, 36px);
    }
  }

  @media screen and (max-width: 768px) {
    .program-rank {
      position: absolute;
      top: clamp(20px, 4vw, 40px);
      left: 5%;
    }
    .title {
      top: clamp(45px, 8.4vw, 80px);
      left: 5%;
      right: 5%;
    }
  }

  @media screen and (max-width: 600px) {
    .type {
      padding: 2px 8px 2px 7px !important;
    }
    .level {
      padding: 2px 6px 2px 7px !important;
    }
    .line {
      margin: 0 6px;
      vertical-align: middle;
    }
    .arrow-part:before {
      left: -0.6rem;
      border-left: 3.5px solid transparent !important;
      border-right: 3.5px solid transparent !important;
      border-top: 5.5px solid !important;
    }
  }
}
