$helvetica: 'Helvetica', 'Arial', sans-serif;
$trebuchet: 'Trebuchet MS';
$magenta: #cc3366;
$magenta-light: #f0d4d4;
$blue-green: #339999;

body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  width: 100%;
  min-width: 320px;
  max-width: 100%;
  max-width: 892.75px;
  min-height: 960px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: clamp(3em, 12vw, 9em);
  background-image: url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/other-programs-bg-header-magenta.svg'),
    url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/other-programs-footer-logo.svg');
  background-position: top, clamp(-15px, -2vw, -8px) bottom;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: $trebuchet;

  header {
    font-family: $helvetica;
  }

  .u {
    text-decoration: underline;
  }

  .b {
    font-weight: bold;
  }

  .fw-normal {
    font-weight: normal !important;
  }

  .i {
    font-family: italic;
  }

  .no-wrap {
    white-space: nowrap;
  }

  .table-responsive {
    overflow-x: auto;
    width: 100%;
  }

  .sub-color {
    color: #7f7f7f;
  }

  .paper {
    padding: 1%;
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 2.25px;

    &:not(:last-child) {
      margin-bottom: 1.8em;
    }

    p {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 1.8em;
      }
    }

    .mb-0 {
      margin-bottom: 0 !important;
    }

    .mb-1_8em {
      margin-bottom: 1.8em !important;
    }

    .arrow-part {
      margin-left: 1.5em;
    }
  }

  .program-rank {
    position: absolute;
    top: 1.5%;
    left: 5%;
    color: #fff;
    font-size: 0;
    white-space: nowrap;
    font-size: clamp(8px,1.8vw,15px);

    .type {
    padding: clamp(1px,1vw,2px) clamp(20px,4vw,17px) 
      clamp(1px,1vw,2px) clamp(10px,3vw,17px);
    font-size: clamp(7px,1.8vw,15px);
    background-color: #c36;
    }

    .level {
    padding: clamp(1px,1vw,2px) clamp(20px,4vw,17px) 
      clamp(1px,1vw,2px) clamp(10px,3vw,17px);
    font-size: clamp(7px,1.8vw,15px);
    background: #399;
    max-width: 100%;
    margin-left: -2%;
    }
  }

  .line {
    margin: 0 0.8em;
  }

  .title {
    position: absolute;
    top: 2.3em;
    left: 5%;
    font-size: clamp(18px,4vw,27px);
    width: 90%;
  }

  .lesson-number {
    position: absolute;
    right: 6.9%;
    margin-top: 7.8%;
    font-size: clamp(7px, 1.8vw, 13px);
    color: #ffffff;
  }

  .lesson-number-two {
    @extend .lesson-number;
    right: 6.5%;
  }

  .header-content{
    font-family: "Helvetica","Arial",sans-serif;
    position: relative;
    top: clamp(30px,8vw,50px);
    color: #000;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin-top: clamp(10px,3vw,25px);
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .sub-text {
    font-family: $helvetica !important;
    line-height: 1.8em;
    margin: 0 auto;
  }

  .magenta-color {
    color: $magenta;
  }

  .sub-color {
    color: #7f7f7f;
  }

  .section {
    position: absolute;
    color: $magenta;
    font-weight: bold;
    font-family: $helvetica;
    top: 2px;
    left: -10.5%;
  }

  .divider {
    color: #d9d9d9;
    font-size: clamp(12px, 2vw, 15px);
    position: relative;
    left: 52%;
  }

  .divider {
    &.d1 {
      margin: 4% 0;
    }
    &.d2 {
      margin: 4% 0;
    }
    ul {
      margin: 3px 0px 0px 18px;
      padding: 0;
      line-height: clamp(12px, 3vw, 26px);
    }
  }

  .see-content,
  .act-content,
  .try-content,
  .review-content {
    position: relative;
    margin-left: clamp(50px, 14%, 126.5px);
    padding-left: 18.5px;
    padding-right: 1.5em;
    font-size: clamp(12px, 2vw, 15px);
  }

  .biz-tip-content {
    position: relative;
    margin-top: clamp(87px, 18%, 160px);
    padding: 2px 0px 0px 47px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 4%;
    padding-left: clamp(32px, 6vw, 47px);
    background: $magenta-light;
    font-size: clamp(12px, 2vw, 15px);

    .arrow-part {
      position: relative;
      margin-left: 1.5em;
      &:before {
        content: '';
        position: absolute;
        left: -1.5em;
        top: 0.3em;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 8px solid black;
        display: inline-block;
        vertical-align: middle;
      }

      span {
        color: $magenta;
        font-weight: bold;
      }
    }

    .no-arrow {
      margin-bottom: 1em;
    }

    .section {
      left: 0;
      margin-left: 5%;
      line-height: 1.8em;
      margin-top: 3% !important;
      width: clamp(20px, 8vw, 52px);
    }

    .pointers {
      margin-top: 3% !important;
      margin-left: 12%;
      padding-right: 1.5em;
    }

    p {
      margin: 0;
    }
  }

  .see-content {
    margin-top: 36px;

    ul {
      margin: 0;
      margin-left: 1.2em;
      text-indent: -1em;
      margin-block: 0;
      padding-inline: 0;

      li {
        padding-inline-start: 1em;
      }

      li::before {
        content: '';
        width: 1em;
        display: inline-block;
      }
    }

    ol {
      list-style-type: decimal;
      margin: 0;
      margin-left: 1.2em;
      text-indent: -1em;
      margin-block: 0;
      padding-inline: 0;

      li {
        padding-inline-start: 1em;
      }

      li::before {
        content: '';
        width: 1em;
        display: inline-block;
      }
    }

    .article {
      margin-top: 5px;
      line-height: 1.7em;
      margin-bottom: 29px;

      span.highlight {
        color: $magenta;
        font-weight: bold;
      }
    }

    table {
      border-collapse: collapse;

      p {
        margin: 0;
        line-height: 1.8em;
        top: -0.3em;
        position: relative;

        &:not(:last-child) {
          margin-bottom: 1.8em;
        }
      }

      td {
        padding: 0;
        vertical-align: top;
        line-height: 1.8em;

        &:first-child {
          @extend .b;
          padding-right: 1em;
          width: 10%;
        }
      }

      &:not(:last-child) {
        margin-bottom: 1.8em;
      }
    }
  }

  .try-content {
    ol {
      list-style-type: decimal;
      margin: 0;
      margin-left: 1.2em;
      text-indent: -1em;
      margin-block: 0;
      padding-inline: 0;

      li {
        padding-inline-start: 1em;
        line-height: 1.8em;
      }

      li::before {
        content: '';
        width: 1em;
        display: inline-block;
      }

      .alphabet {
        margin-left: 2.3em;
      }
    }

    table {
      border-collapse: collapse;
      margin-top: 5px;
      font-size: clamp(12px, 2vw, 15px);
      border-spacing: 0px;
      padding-bottom: 5px;
      width: 100%;

      th,
      td {
        max-width: 120px;
        min-width: 10px;
        word-wrap: break-word;
        border: 1px solid #d9d9d9;
      }

      th {
        background-color: $magenta;
        color: #ffffff;
        padding: 5px;
      }

      td {
        text-align: left;
        padding: 1% 1% 1.5% 1%;
        background-color: #fff;
        vertical-align: top;
      }
    }

    ul {
      padding-inline-start: 1.2em;
      margin: 0;
    }
  }

  .act-content {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;

    ol {
      list-style-type: decimal;
      margin: 0;
      margin-left: 1.2em;
      text-indent: -1em;
      margin-block: 0;
      padding-inline: 0;

      li {
        padding-inline-start: 1em;
        line-height: 1.8em;
      }

      li::before {
        content: '';
        width: 1em;
        display: inline-block;
      }
    }
  }
  .alphabet {
    list-style-type: lower-alpha !important;
  }

  .review-content {
    .sub-text {
      margin-bottom: 2em;
    }
    margin-top: 28%;

    ol {
      list-style-type: decimal;
      margin: 0;
      margin-left: 1.2em;

      margin-block: 0;
      padding-inline: 0;

      li {
        margin-bottom: 1.5em;
        padding-inline-start: 1em;
        line-height: 1.8em;

        p {
          margin: 0;
          &:first-child {
            font-weight: bold;
          }
        }
      }
      .alphabet {
        margin-left: 1.3em;
      }
    }
  }

  footer {
    font-size: clamp(4.5px, 1.1vw, 9px);
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: right;
    bottom: 4em;
    right: 6.2%;
    font-family: $helvetica;
    max-width: 39%;
  }

  @media screen and (max-width: 900px) {
    .see-content {
      margin-top: clamp(22px, 3.8vw, 36px);

      .article {
        margin-bottom: clamp(20px, 3.7vw, 29px);
      }
    }
    .try-content {
      margin-top: clamp(20px, 3.7vw, 30px);
    }
    .act-content {
      margin-top: clamp(20px, 3.8vw, 36px);
    }
  }

  @media screen and (max-width: 600px) {
    .arrow-part:before {
      border-left: 3.5px solid transparent !important;
      border-right: 3.5px solid transparent !important;
      border-top-width: 5.5px !important;
    }
  }
}
