$helvetica: 'Helvetica', 'Arial', sans-serif;
$trebuchet: 'Trebuchet MS';

body {
  margin: 0;
  padding: 0;
}
$magenta: #cc3366;
$magenta-light: #f0d4d4;
$blue-green: #339999;

$fs-10: clamp(6.48px, 1.8vw, 10pt);

.html-lesson-wrapper {
  width: 100%;
  min-width: 320px;
  max-width: 100%;
  max-width: 892.75px;
  min-height: 960px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 11%;
  background-image: url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/other-programs-bg-header-magenta.svg'),
    url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/other-programs-footer-logo.svg');
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: $trebuchet;

  header {
    font-family: $helvetica;
  }

  .u {
    text-decoration: underline;
  }

  .b {
    font-weight: bold;
  }

  .i {
    font-family: italic;
  }

  .small-mt {
    margin-top: clamp(5px, 2vw, 10px);
  }

  .inline-block {
    display: inline-block;
  }

  .program-rank {
    position: absolute;
    top: 40px;
    left: 5%;
    color: #ffffff;
    font-size: 0px;

    .type {
      padding: clamp(1px, 1vw, 2px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 2px)
        clamp(10px, 3vw, 17px);
      background-color: $magenta;
      font-size: clamp(7px, 1.8vw, 15px);
    }

    .level {
      padding: clamp(1px, 1vw, 2px) clamp(7px, 2vw, 15px) clamp(1px, 1vw, 2px)
        clamp(10px, 3vw, 17px);
      background-color: $blue-green;
      font-size: clamp(7px, 1.8vw, 15px);
      margin-left: -2%;
      &.two {
        padding: clamp(1px, 1vw, 2px) clamp(4px, 1vw, 8px) clamp(1px, 1vw, 2px)
          clamp(10px, 3vw, 17px);
      }
    }
  }

  .line {
    margin: 0 12px;
  }

  .title {
    position: absolute;
    top: 80px;
    left: 5%;
    font-size: clamp(18px, 3vw, 27px);
  }

  .lesson-number {
    position: absolute;
    left: 92.2%;
    margin-top: 7.8%;
    font-size: clamp(7px, 1.8vw, 13px);
    color: #ffffff;
  }

  .lesson-number-two {
    @extend .lesson-number;

    left: 91.5%;
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .sub-text {
    font-family: $helvetica !important;
    font-size: clamp(12px, 2vw, 15px);
    line-height: clamp(12px, 2.8vw, 22px);
    font-weight: bold;
    margin: 0 0 0.3rem 0;
  }

  .magenta-color {
    color: $magenta;
  }

  .divider {
    color: #d9d9d9;
    font-size: clamp(6px, 1.8vw, 15px);
    position: relative;
    left: 52%;
  }

  .divider {
    &.d1 {
      margin: 4% 0;
    }
    &.d2 {
      margin: 4% 0;
    }
    ul {
      margin: 3px 0px 0px 18px;
      padding: 0;
      line-height: clamp(12px, 3vw, 26px);
    }
  }

  ul li {
    padding-left: 8px;
    padding-bottom: 1.5%;
  }

  .see-content,
  .act-content,
  .try-content,
  .part-content {
    display: flex;
  }

  .section {
    padding-left: 5%;
    width: clamp(3.1rem, 15%, 6rem);
    color: $magenta;
    font-weight: bold;
    font-family: $helvetica;
    font-size: clamp(12px, 2vw, 15px);
  }

  .content {
    font-family: $trebuchet;
    width: 85%;
    min-width: 75%;
    padding-right: 5%;
  }

  .biz-tip-content {
    margin-top: clamp(70px, 18%, 160px);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 4%;
    background: $magenta-light;
    font-size: clamp(12px, 2vw, 15px);
    display: flex;

    .section {
      margin-top: 3% !important;
    }

    .pointers {
      margin-top: 3% !important;
    }
  }

  .arrow-part {
    position: relative;
    &:before {
      content: '';
      left: -1.5em;
      top: 0.3em;
      width: 0;
      height: 0;
      border-left: clamp(2px, 1vw, 5px) solid transparent;
      border-right: clamp(2px, 1vw, 5px) solid transparent;
      border-top: clamp(4px, 1vw, 8px) solid;
      display: inline-block;
      vertical-align: middle;
      margin-right: clamp(5px, 1vw, 8px);
    }

    span {
      color: $magenta;
      font-weight: bold;
    }

    &.black-arrow:before {
      border-top: 8px solid black;
    }
  }

  .arrow-part-1 {
    position: relative;
    &:before {
      content: '';
      left: -1.5em;
      top: 0.3em;
      width: 0;
      height: 0;
      border-left: clamp(2px, 1vw, 5px) solid transparent;
      border-right: clamp(2px, 1vw, 5px) solid transparent;
      border-top: clamp(4px, 1vw, 8px) solid;
      display: inline-block;
      vertical-align: middle;
      margin-right: clamp(5px, 1vw, 8px);
    }

    span {
      color: $magenta;
      font-weight: bold;
    }

    &.black-arrow:before {
      border-top: 8px solid black;
    }
  }

  .see-content {
    margin-top: 36px;

    .article {
      margin-top: 5px;
      line-height: 1.7em;
      margin-bottom: 29px;

      span.highlight {
        color: $magenta;
        font-weight: bold;
      }
    }

    table {
      border-collapse: collapse;

      p {
        margin: 0;
        line-height: 1.8em;
        top: -0.3em;
        position: relative;

        &:not(:last-child) {
          margin-bottom: 5%;
        }
      }

      td {
        padding: 0;
        vertical-align: top;

        &:first-child {
          @extend .b;
          width: 10%;
        }
      }
    }

    .see-border-box {
      border: clamp(1.5px, 0.5vw, 3.5px) solid #d8d8d8;
      font-family: $trebuchet;
      font-size: $fs-10;
      padding: 0.5vw 0.5vw 2vw;
    }

    .dialogue {
      font-size: $fs-10;
      font-family: $trebuchet;
    }

    .row {
      display: flex;
      width: 100%;
      margin-bottom: clamp(5px, 1vw, 7px);
    }

    .person {
      font-weight: bold;
      width: clamp(2.2rem, 13%, 5.5rem);
      font-size: clamp(12px, 2vw, 15px);
    }

    .speech {
      width: 90%;
      font-size: clamp(12px, 2vw, 15px);
    }

    .see-narration {
      text-align: center;
      color: #7f7f7f;
      width: 100%;
      margin-bottom: clamp(2px, 1vw, 7px);
      font-size: clamp(12px, 2vw, 15px);;
    }
  }

  ol.numbers {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    counter-reset: orderedlist;
    font-family: $trebuchet;
    font-size: clamp(12px, 2vw, 15px);

    &:not(.no-mb) {
      grid-gap: clamp(0.1rem, 1vw, 0.4rem);
    }

    li::before {
      counter-increment: orderedlist;
      content: counter(orderedlist) '. ';
    }

    li {
      display: grid;
      grid-template-columns: 0 1fr;
      grid-gap: clamp(1rem, 1.5vw, 2.1rem);

      div:not(:last-child) {
        margin-bottom: clamp(0.1rem, 1vw, 0.4rem);
      }
    }
  }

  .part-content {
    &.part-1 {
      margin-top: clamp(70px, 25%, 250px);
    }

    .article {
      margin-top: 5px;
      line-height: 1.7em;
      margin-bottom: 29px;

      span.highlight {
        color: $magenta;
        font-weight: bold;
      }
    }

    table {
      border-collapse: collapse;

      p {
        margin: 0;
        line-height: 1.8em;
        top: -0.3em;
        position: relative;

        &:not(:last-child) {
          margin-bottom: 5%;
        }
      }

      td {
        padding: 0;
        vertical-align: top;

        &:first-child {
          @extend .b;
          width: 10%;
        }
      }
    }

    .see-border-box {
      border: clamp(1.5px, 0.5vw, 3.5px) solid #d8d8d8;
      font-family: $trebuchet;
      font-size: clamp(10px, 2vw, 13.5px);
      padding: 0.5vw;
    }

    .dialogue {
      font-size: $fs-10;
      font-family: $trebuchet;
    }

    .row {
      display: flex;
      width: 100%;
      margin-bottom: clamp(2px, 1vw, 7px);
    }

    .person {
      font-weight: bold;
      width: 10%;
    }
  }

  .try-content {
    ul {
      list-style-type: decimal;
    }

    .table {
      overflow-x: scroll;
      width: 100%;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      font-family: $trebuchet;
      font-size: clamp(12px, 2vw, 15px);
    }

    th,
    td {
      border: 1.5px solid #d8d8d8;
      min-width: 9rem;
    }

    th {
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      background-color: $magenta;
      padding: 0.3vw 0;
    }
    td {
      vertical-align: top;
      padding: 0.3vw 0.5vw;
    }
  }

  .act-content {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: clamp(12px, 2vw, 15px);

    table {
      margin-top: 5px;
      font-size: clamp(12px, 2vw, 15px);
      border-spacing: 0px;
      padding-bottom: 5px;
      width: 100%;

      th,
      td {
        max-width: 120px;
        min-width: 80px;
        word-wrap: break-word;
        border: 1px solid #ffffff;
      }

      th {
        background-color: $magenta;
        color: #ffffff;
        font-size: clamp(7px, 1.8vw, 15px);
        padding: 5px;
      }

      td {
        text-align: left;
        padding: 4px;
        background-color: #f2f2f2;
      }
    }
  }

  footer {
    font-family: $helvetica;
    font-size: clamp(4.5px, 1.1vw, 9px);
    padding-right: 10%;

    .footer-text {
      text-align: right;
      position: absolute;
      bottom: 4%;
      max-width: 42%;
      right: 5%;

      @media only screen and (max-width: 460px) {
        bottom: 2.5%;
      }

      @media only screen and (max-width: 375px) {
        bottom: 2.2%;
      }

      @media only screen and (max-width: 320px) {
        bottom: 1.5%;
      }
    }
  }

  @media screen and (max-width: 900px) {
    & {
      min-height: unset;
    }
    .see-content {
      margin-top: clamp(22px, 3.8vw, 36px);

      .article {
        margin-bottom: clamp(20px, 3.7vw, 29px);
      }
    }
    .try-content {
      ul {
        margin-left: clamp(11px, 2.4vw, 18px);
      }

      li {
        padding-left: clamp(9px, 1.8vw, 13px);
      }
    }
    .act-content {
      margin-top: clamp(20px, 3.8vw, 36px);
    }
  }

  @media screen and (max-width: 768px) {
    .program-rank {
      position: absolute;
      top: clamp(20px, 4vw, 40px);
      left: 5%;
    }
    .title {
      top: clamp(45px, 8.4vw, 80px);
      left: 5%;
    }
  }

  @media screen and (max-width: 600px) {
    .type {
      padding: 2px 8px 2px 7px !important;
    }
    .level {
      padding: 2px 6px 2px 7px !important;
    }
    .line {
      margin: 0 6px;
      vertical-align: middle;
    }
    .arrow-part:before {
      left: -0.6rem;
      border-left: 3.5px solid transparent !important;
      border-right: 3.5px solid transparent !important;
      border-top: 5.5px solid !important;
    }
  }

  /*# sourceMappingURL=main.css.map */
}
