$trebuchet: 'Trebuchet MS';
$helvetica: 'Helvetica', 'Arial', sans-serif;

$primary-blue: #1287cd;
$primary-pink: #bd3762;
$text-pink: #cc3366;
$rank-pink: #cc3366;
$rank-green: #339999;
$primary-gray: #9fa0a0;
$secondary-gray: #7f7f7f;
$tertiary-gray: #d9d9d9;
$primary-light: #cce0ea;

$subtext-color: #7f8288;

$s3: 'https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images';

body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  font-family: $trebuchet;
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 892.75px;
  min-height: 960px;
  height: fit-content;
  overflow: hidden;
  padding-bottom: 62px;
  background-image: url(#{$s3}/other-programs-bg-header-magenta.svg), url(#{$s3}/other-programs-footer-purple.svg);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  @media only screen and (max-width: 767px) {
    min-height: 800px;
    padding-bottom: 76px !important;
  }
  header {
    top: 0;
    margin-bottom: clamp(50px, 15vw, 65px);
    margin-top: -3%;
    position: relative;
  }

  footer {
    font-family: $helvetica;
    font-size: clamp(4.5px, 1.1vw, 9px);
    position: relative;
    box-sizing: border-box;
    padding-right: 10%;
    bottom: -20px;
    @media only screen and (max-width: 767px) {
      bottom: -45px;
    }
    .footer-text {
      text-align: right;
      position: absolute;
      bottom: 0;
      max-width: 45%;
      right: 2%;
      @media only screen and (max-width: 769px) {
        bottom: -10px !important;
      }
      @media only screen and (max-width: 426px) {
        bottom: -15px !important;
      }
      @media only screen and (max-width: 376px) {
        bottom: -17px !important;
      }
      @media only screen and (max-width: 320px) {
        bottom: -19px !important;
      }
    }
  }
  .inline-block {
    display: inline-block;
  }
  .pt-1 {
    padding-top: 1rem !important;
    @media only screen and (max-width: 460px) {
      padding-top: 0px !important;
    }
  }
  .pt-2 {
    padding-top: 2.3rem !important;
    @media only screen and (max-width: 460px) {
      padding-top: 0px !important;
    }
  }
  .mb-1 {
    margin-bottom: 1rem !important;
    @media only screen and (max-width: 460px) {
      margin-bottom: 0.5rem !important;
    }
  }
  .flex {
    display: flex;
  }
  .flex-right {
    justify-content: right;
  }
  .flex-center {
    justify-content: center;
  }
  .flex-column {
    flex-direction: column;
  }
  .text-center {
    text-align: center !important;
  }
  .text-middle {
    vertical-align: middle !important;
  }
  .b {
    font-weight: bold;
  }
  .program-rank {
    font-family: $helvetica;
    font-size: clamp(8px, 1.8vw, 15px);
    position: absolute;
    color: #ffffff;
    margin-top: clamp(10px, 5vw, 43px);
    margin-left: clamp(10px, 6vw, 60px);

    .type {
      padding: clamp(1px, 1vw, 2px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 2px) clamp(10px, 3vw, 17px);
      background-color: $rank-pink;
    }
    .level {
      padding: clamp(1px, 1vw, 2px) clamp(7px, 2vw, 15px) clamp(1px, 1vw, 2px) clamp(10px, 3vw, 17px);
      background-image: linear-gradient(to right, #e46a63 25%, #9c6698);
      //background-repeat: no-repeat;
      width: 100%;
      margin-left: -2%;
    }
    .separator {
      font-family: $helvetica;
      position: relative;
      display: inline;
      margin: 0 6px;
    }
  }
  .lesson-number {
    position: absolute;
    right: 6.5%;
    width: 1.9%;
    text-align: center;
    margin-top: 8%;
    font-size: clamp(7px, 1.8vw, 13px);
    color: #ffffff;
    @media only screen and (max-width: 767px) {
      margin-top: 7.4%;
      &.two {
        right: 6.4% !important;
      }
    }
    @media only screen and (max-width: 400px) {
      margin-top: 7%;
      &.two {
        right: 6.7% !important;
      }
    }
    &.two {
      right: 6.6%;
    }
  }

  .header-content {
    font-family: $helvetica;
    position: relative;
    top: clamp(30px, 8vw, 65px);
    color: black;
    box-sizing: content-box;
    margin-top: clamp(10px, 3vw, 25px);

    .title {
      font-family: $helvetica;
      font-size: clamp(18px, 4vw, 27px);
      margin-right: clamp(10px, 3vw, 25px);
      margin-left: clamp(10px, 6vw, 60px);
      padding-top: 2%;
      padding-bottom: 5.4%;
      max-width: 90%;
      @media only screen and (max-width: 767px) {
        padding-top: 1%;
        padding-bottom: 5%;
      }
      @media only screen and (max-width: 690px) {
        max-width: 86% !important;
      }
      @media only screen and (max-width: 390px) {
        max-width: 86% !important;
      }
    }
    .biz-tips {
      background-color: #f0d4d4;
      min-height: 140px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 4rem;
      @media only screen and (max-width: 460px) {
        margin-bottom: 0 !important;
      }
      .biz-tip-label {
        width: 11%;
        font-family: $helvetica;
        color: $text-pink;
        font-weight: bold;
        font-size: clamp(11px, 2vw, 15px);
        margin-top: clamp(10px, 3vw, 20px);
        padding-left: clamp(10px, 6vw, 60px);
      }
      .biz-tip-content {
        font-family: $trebuchet;
        width: 92%;
        font-size: clamp(12px, 2vw, 15px) !important;
        margin-top: clamp(10px, 3vw, 20px);
        padding-left: 1em;
        padding-bottom: 1rem;
        margin-right: 1em;
        @media only screen and (max-width: 900px) {
          margin-left: 7%;
        }
        .pink {
          color: #cc3366;
        }
        p {
          margin: 0;
          width: 120%;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style-type: '\25BC';
          box-sizing: content-box;
          list-style-position: inside;
          li {
            list-style-position: outside;
            text-indent: -1em;
            margin-left: 0.8em;
            padding-left: 0.5em;
          }
          li::before {
            content: '';
            display: block;
            width: 0.5em;
            height: 0px;
          }
          li::marker {
            color: #cc3366;
            font-size: clamp(11px, 2vw, 13px);
          }
        }
        .all-tips {
          display: flex;
          margin-top: 2%;
          .start-div {
            max-width: 50%;
          }
          .end-div {
            margin-left: 4%;
          }
          .tip-label {
            font-weight: bold;
          }
        }
      }
    }
  }
  .content-item {
    padding-top: clamp(5px, 2vw, 10px);
    padding-right: clamp(10px, 3vw, 25px);
    box-sizing: border-box;
    display: flex;
    justify-content: baseline;
    align-items: flex-start;
    width: 100%;
    .content-label {
      width: 15%;
      color: $text-pink;
      .content-label-text {
        font-weight: bold;
        font-size: clamp(12px, 2vw, 15px) !important;
        vertical-align: middle;
        padding-left: clamp(10px, 6vw, 60px);
        font-family: $helvetica;
      }
    }
    &.review {
      .content-label {
        width: 17%;
        @media only screen and (max-width: 767px) {
          width: 25% !important;
        }
      }
    }
    .content-div {
      width: 89%;
      margin-bottom: 15px;
      box-sizing: content-box;
      padding-left: 4em;
      @media only screen and (max-width: 900px) {
        padding-left: 11%;
      }
      .header-text {
        margin: 0;
        font-family: $helvetica;
        font-size: clamp(12px, 2vw, 15px) !important;
        font-weight: bold;
        line-height: 1.6;
        margin-top: clamp(-2px, -1vw, -3px);
        margin-right: 1em;
      }
      &.see {
        .pink {
          color: #cc3366;
        }
        .introduction {
          line-height: 1.8;
          font-family: $trebuchet;
          font-size: clamp(12px, 2vw, 15px) !important;
        }
        .dialogue {
          margin-bottom: 1em;
          margin-top: 1em;
          display: flex;
          font-size: clamp(12px, 2vw, 15px) !important;
          line-height: 1.8;
          margin-right: 1em;
          .speaker {
            width: 12%;
            font-weight: bold;
            font-family: $trebuchet;

            @media only screen and (max-width: 480px) {
              width: 16% !important;
            }
            @media only screen and (max-width: 435px) {
              width: 19% !important;
            }
            @media only screen and (max-width: 385px) {
              width: 22% !important;
            }
            @media only screen and (max-width: 335px) {
              width: 28% !important;
            }
          }
          .message {
            width: 88%;
            font-family: $trebuchet;

            @media only screen and (max-width: 480px) {
              width: 80% !important;
            }
            @media only screen and (max-width: 435px) {
              width: 77% !important;
            }
            @media only screen and (max-width: 385px) {
              width: 74% !important;
            }
            @media only screen and (max-width: 335px) {
              width: 68% !important;
            }
          }
        }
        .dialogue-spacer {
          width: 100%;
          text-align: center;
          color: $secondary-gray;
          font-size: clamp(12px, 3vw, 16px);
          line-height: clamp(14px, 3vw, 28px);
        }
      }
      &.try {
        .try-content {
          line-height: 1.8;
          font-size: clamp(12px, 2vw, 15px) !important;
          margin-top: 0%;
          li {
            margin-left: 2.2%;
            @media screen and (max-width: 900px) {
              margin-left: 4%;
            }
            @media screen and (max-width: 500px) {
              margin-left: 5%;
            }
          }
        }
      }
      &.act {
        .introduction {
          line-height: 1.8;
          font-family: $trebuchet;
          font-size: clamp(12px, 2vw, 15px) !important;
        }
      }
      &.review-part-1 {
        padding-right: clamp(15px, 7vw, 55px);
        .header-text {
          line-height: 1.6;
        }
        .review-box {
          font-family: $trebuchet;
          font-size: clamp(12px, 2vw, 15px) !important;
          padding: clamp(2px, 1vw, 5px) clamp(5px, 2vw, 10px);
          border: 3px solid $tertiary-gray;
          margin-bottom: 3%;
          &:last-child {
            margin-bottom: 0;
          }
          p {
            margin: 0;
          }
          .review-box-title {
            font-weight: bold;
          }
          ul {
            margin: 0;
            padding: 0;
            list-style-type: '\25BC';
            box-sizing: content-box;
            li {
              list-style-position: outside;
              text-indent: -1em;
              margin-left: 0.8em;
              padding-left: 0.5em;
            }

            li::before {
              content: '';
              display: block;
              width: 0.5em;
            }
            li::marker {
              font-size: clamp(11px, 2vw, 13px);
            }
          }
        }
      }
      &.review-part-2 {
        padding-right: clamp(15px, 7vw, 55px);
        .header-text {
          line-height: 1.6;
        }
        p.part-2-content {
          margin: 0;
          font-family: $trebuchet;
          font-size: clamp(12px, 2vw, 15px);
          line-height: 1.6;
        }
      }
    }
  }
  .content-item-divider {
    width: 100%;
    text-align: center;
    color: $tertiary-gray;
    margin-top: clamp(10px, 2vw, 20px);
    margin-bottom: clamp(15px, 3vw, 25px);
    font-size: clamp(12px, 2vw, 15px) !important;
    &::after {
      content: '\25BC\25BC\25BC';
    }
  }
}
