@import '../../css/op-interviewer-utils';

.html-lesson-wrapper {
  .content-header {
    margin-bottom: 10px !important;
  }
  .respo {
    width: 135%;
    @media only screen and (max-width: 400px) {
      width: 120%;
    }
  }
  .content-div {
    &.try {
      @media only screen and (max-width: 400px) {
        margin-left: 3.5%;
      }
      .content-table {
        display: block;
        overflow-x: auto;
      }
    }
  }
  .try {
    .tbl-container {
      @media only screen and (max-width: 401px) {
        width: 95%;
        overflow-x: auto !important;
        .content-table {
          width: 190% !important;
        }
      }
    }
  }
}
