@import '../../css/level1-a-utils';

.html-lesson-wrapper {
  .page-1 {
    .see-content {
      .blue-section {
        .grid {
          grid-template-columns: 1fr 1.5fr;
        }
      }
    }
  }

  .try-content {
    li > span {
      display: block;
    }
  }

  .act-content {
    ul {
      list-style-type: decimal;
      margin-left: 1.2em;
    }
  }

  .page-2 {
    .see-content {
      .blue-section {
        .grid {
          grid-template-columns: 1fr 1.3fr;
        }
      }
    }
    .see-content {
      margin-top: 2em;
    }
  }

  .page-3 {
    .act-content {
      span {
        display: block;
      }
    }
  }
}
