@import '../../css/_op-meeting-basics-utils.scss';
.html-lesson-wrapper {
  .title {
    padding-bottom: 10% !important;
    @media only screen and (max-device-width: 767px) {
      padding-top: 4%;
      padding-bottom: 3%;
    }
  }
  .part-spacer {
    padding-bottom: 15rem;
    @media only screen and (max-width: 767px) {
      padding-bottom: 0;
    }
  }

  .review-part-1 {
    padding-right: clamp(15px, 7vw, 55px);
    .review-box {
      width: 100%;
    }
  }
  .content-div {
    &.review-part-2 {
      .part-2-content {
        list-style-type: decimal;
        font-size: clamp(12px, 2vw, 15px);
        margin-left: 3.5%;
      }
    }
  }
}
