/* Clear styles */
.clearfix {
  clear: both;
}

/* floating styles */
.float-right {
  float: right;
}

/* Sizes - right */
.r60 {
  right: 60px;
}

.r40 {
  right: 40px;
}

/* Sizes - top */
.t40 {
  top: 40px;
}

.t60 {
  top: 60px;
}

.t90 {
  top: 90px;
}
