@import '../../css/level1-B-utils';

.html-lesson-wrapper .try-content ul p {
  display: flex;
}
.html-lesson-wrapper li p {
  margin: 0;
}
.html-lesson-wrapper .page-3 .try-content .wrapper .row .inline-block {
  padding-left: 2%;
}
.html-lesson-wrapper .page-3 .try-content .wrapper .row .ja {
  padding-left: 2%;
}
.html-lesson-wrapper {
  .arrow-part {
    .light-blue {
      color: #257a9e;
      font-weight: bold;
    }
  }
  .tw {
    width: 440px;
    max-width: 500px;
  }
  .w {
    width: 3%;
  }
  .m2 {
    padding-left: 3%;
  } 
}

.html-lesson-wrapper .try-content ul p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: grid;
}
.html-lesson-wrapper .try-content ul p {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.035fr 1fr;
  grid-template-columns: 0.035fr 1fr;
}