$text-font: 'Trebuchet MS';
$title-font: 'Arial';
$noto-sans: 'Noto Sans';
$primary-blue: #1287cd;
$rank-green: #009c9a;
$primary-dark: #083051;
$primary-light: #cce0ec;
$jap-letter-spacing: -1px;
$subtext-color: #7f8288;
$side-margin: clamp(18px, 5vw, 32px);
$fs-16: clamp(11px, 2.7vw, 16px);
$s3: 'https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images';

body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  font-family: $text-font;
  width: 100%;
  min-width: 360px;
  max-width: 604px;
  min-height: 1596px;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url(#{$s3}/0-bg-header.png), url(#{$s3}/0-bg-footer.png);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;

  hr {
    border-top: 1px solid #dbdcdc;
  }

  .m-0 {
    margin: 0;
  }

  .flex {
    display: flex;
  }

  .img-responsive {
    width: 100%;
    height: auto;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  header {
    font-family: $title-font;
  }

  .fs-16 {
    font-size: clamp(12px, 2.3vw, 16px);
  }
  .flip-horizontal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .noto-sans {
    font-family: $noto-sans;
  }
  .b {
    font-weight: bold;
  }
  .u-sup {
    border-bottom: solid 1.5px black;
    display: inline-block;
    line-height: clamp(6px, 1.5vw, 14px);
  }
  .u-blue {
    border-bottom: 1px solid $primary-blue;
  }
  .primary-blue {
    color: $primary-blue;
  }
  .program-rank {
    position: absolute;
    color: #ffffff;
    font-size: 0px;
    margin-top: clamp(1px, 1vw, 5px);

    .type {
      padding: clamp(1px, 1vw, 5px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 5px)
        clamp(10px, 2vw, 17px);
      background-color: $primary-blue;
      font-size: clamp(7px, 1.8vw, 12px);
    }
    .level {
      padding: clamp(1px, 1vw, 5px) clamp(20px, 4vw, 50px) clamp(1px, 1vw, 5px)
        clamp(10px, 2vw, 17px);
      font-size: clamp(7px, 1.8vw, 12px);
      background: linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -webkit-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -o-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -moz-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      margin-left: -15px;
      width: 100%;
    }
  }
  .line {
    margin: 0 12px;
  }
  .lesson-number {
    position: absolute;
    top: 0.5vh;
    right: 5.5%;
    font-size: clamp(0.8rem, 4vw, 1.5rem);
    color: #ffffff;
  }

  // Title
  .title-section {
    position: absolute;
    top: clamp(30px, 8vw, 50px);
    background-color: $primary-blue;
    color: white;
    padding: clamp(15px, 2vw, 20px) clamp(25px, 4vw, 30px) clamp(9px, 2vw, 15px);
    width: 100%;
    box-sizing: border-box;
    font-family: $noto-sans;
    .title {
      font-size: clamp(13px, 3.6vw, 23px);
      margin-bottom: 4px;
    }
    .title-below {
      font-size: clamp(13px, 3.6vw, 23px);
      margin-bottom: 10px;
    }
    .sub-title {
      font-size: clamp(10px, 2.3vw, 15px);
      letter-spacing: $jap-letter-spacing;
    }
  }
  .arrow {
    @extend .b;
    text-transform: uppercase;
    font-size: clamp(12px, 2.3vw, 16px);
    padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: $noto-sans;
  }
  .instructions {
    font-family: $noto-sans;
    position: absolute;
    padding: clamp(0px, 0.01vw, 3px) 0px;
    left: 28%;
    .title {
      font-size: clamp(9px, 2.9vw, 18px);
      color: #141821;
    }
    .sub-title {
      font-size: clamp(7px, 2vw, 13px);
      color: $subtext-color;
      letter-spacing: $jap-letter-spacing;
    }
  }

  // See-content
  .see-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.see-1 {
      margin-top: clamp(120px, 29vw, 183.2px);
    }

    &.see-2,
    &.see-3,
    &.see-4 {
      margin-top: clamp(20px, 5vw, 33px);

      //see-content.legend
      & .legend {
        margin-top: clamp(25px, 5vw, 38px);
      }
    }

    .arrow.see {
      @extend .b;
      text-transform: uppercase;
      color: white;
      font-size: clamp(12px, 2.3vw, 16px);
      background-image: url(#{$s3}/0-act-arrow.png);
      padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
      background-repeat: no-repeat;
      background-size: contain;
      font-family: $noto-sans;
    }
  }
  .try-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.try-1 {
      margin-top: 32px;
    }
    &.try-2,
    &.try-3,
    &.try-4 {
      margin-top: 32px;
    }

    .arrow.try {
      color: white;
      background-image: url(#{$s3}/0-try-arrow.png);
    }
  }
  .act-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.act-1 {
      margin-top: 32px;
    }
    &.act-2 {
      margin-top: 32px;
    }

    .arrow.act {
      color: white;
      background-image: url(#{$s3}/0-act-arrow.png);
    }
  }

  .see-1 {
    .section-1-convo {
      margin-top: clamp(30px, 8vw, 50px);
      width: clamp(310px, 90vw, 544px);
      min-height: clamp(230px, 60vw, 372px);
      position: relative;
      background-position: top, bottom;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(#{$s3}/0-E-10-part1.svg);
      .bubble-1 {
        position: absolute;
        top: 23%;
        left: 20%;
        .eng {
          font-weight: bold;
          font-size: clamp(8.7px, 2.2vw, 14px);
          font-family: $text-font;
        }
        .jap {
          font-family: $noto-sans;
          font-size: clamp(6.5px, 1.6vw, 11px);
          color: $subtext-color;
          letter-spacing: $jap-letter-spacing;
        }
      }
    }
    .convo-text-content {
      margin-left: 11px;
      margin-top: clamp(10px, 5vw, 40px);
      font-size: clamp(11px, 2.5vw, 18px);
      font-family: $noto-sans;
      .speaker {
        white-space: nowrap;
        text-align: right;
        font-weight: bold;
      }
      td {
        height: clamp(30px, 5vw, 40px);
        vertical-align: top;
      }

      margin-left: 11px;
      margin-top: clamp(10px, 5vw, 40px);
      font-size: clamp(11px, 2.5vw, 18px);
      font-family: $noto-sans;

      .add-margin {
        margin-top: 25px;
      }
      .helen-lines {
        margin-top: 25px;
        .line-under {
          margin-left: clamp(41px, 9.2vw, 66px);
        }
      }
      .akiko-lines {
        .line-under {
          margin-left: clamp(41px, 9.2vw, 66px);
        }
        .div-1 {
          margin-left: clamp(41px, 9.2vw, 66px);
          margin-top: 25px;
        }
        .div-2 {
          margin-top: 25px;
          margin-left: clamp(41px, 9.2vw, 66px);
        }
      }
    }
  }

  .see-2 {
    .part-2-page-1 {
      margin-bottom: clamp(50px, 10vw, 70px);
      .section-2-convo {
        margin-top: clamp(30px, 8vw, 50px);
        width: clamp(310px, 90vw, 540px);
        min-height: clamp(230px, 60vw, 380px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-E-10-part1-image1.svg);
        .bubble-1 {
          position: absolute;
          margin-left: clamp(45px, 13vw, 103px);
          top: 13%;
          font-size: clamp(8px, 2.4vw, 14px);
          ul li {
            list-style-type: none;
            margin-bottom: clamp(7px, 2vw, 15px);
            span {
              color: transparent;
            }
          }
        }
        .bubble-2 {
          position: absolute;
          top: 32%;
          left: 66%;
          .eng {
            font-family: $text-font;
            font-weight: bold;
            font-size: clamp(8px, 2.4vw, 14px);
          }
          .jap {
            font-family: $noto-sans;
            font-size: clamp(6.3px, 1.5vw, 11px);
            color: $subtext-color;
            letter-spacing: $jap-letter-spacing;
          }
        }
      }
      .convo-text-content {
        margin-top: clamp(30px, 8vw, 40px);
        font-size: clamp(10.9px, 2.5vw, 18px);
        font-family: $noto-sans;
        .speaker {
          white-space: nowrap;
          text-align: right;
          font-weight: bold;
        }
        td {
          height: clamp(30px, 5vw, 40px);
          vertical-align: top;
        }
      }
    }
    .part-2-page-2 {
      margin-bottom: clamp(50px, 10vw, 70px);
      .section-2-convo {
        margin-top: clamp(30px, 8vw, 50px);
        width: clamp(310px, 90vw, 540px);
        min-height: clamp(230px, 60vw, 380px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-E-10-part1-image2.svg);
        .text-bubble {
          position: absolute;
          margin-left: clamp(36px, 12vw, 98px);
          top: 14%;
          font-size: clamp(8px, 2.4vw, 14px);
          ul li {
            list-style-type: none;
            margin-bottom: clamp(7px, 2vw, 15px);
            span {
              color: transparent;
            }
          }
        }
      }
      .convo-text-content {
        margin-top: clamp(30px, 8vw, 40px);
        font-size: clamp(11px, 2.5vw, 18px);
        font-family: $noto-sans;
        .speaker {
          white-space: nowrap;
          text-align: right;
          font-weight: bold;
        }
        td {
          height: clamp(30px, 5vw, 40px);
          vertical-align: top;
        }
      }
    }

    .part-2-page-3 {
      margin-bottom: clamp(50px, 10vw, 70px);
      .section-2-convo {
        margin-top: clamp(30px, 8vw, 50px);
        width: clamp(310px, 90vw, 540px);
        min-height: clamp(230px, 60vw, 380px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-E-10-part1-image3.svg);
        .text-bubble {
          position: absolute;
          margin-left: clamp(15px, 8vw, 70px);
          top: 18%;
          font-size: clamp(8px, 2.4vw, 14px);
          ul li {
            font-weight: bold;
            list-style-type: none;
            margin-bottom: clamp(6px, 1.8vw, 12px);
            span {
              color: transparent;
            }
          }
        }
      }
      .convo-text-content {
        margin-top: clamp(30px, 8vw, 40px);
        font-size: clamp(11px, 2.5vw, 18px);
        font-family: $noto-sans;
        .speaker {
          white-space: nowrap;
          text-align: right;
          font-weight: bold;
        }
        td {
          height: clamp(30px, 5vw, 40px);
          vertical-align: top;
        }
      }
    }
    .part-2-page-4 {
      margin-bottom: clamp(50px, 10vw, 70px);
      .section-2-convo {
        margin-top: clamp(30px, 8vw, 50px);
        width: clamp(310px, 90vw, 540px);
        min-height: clamp(230px, 60vw, 380px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-E-10-part1-image4.svg);
        .bubble-1 {
          position: absolute;
          margin-left: clamp(50px, 18vw, 120px);
          top: 14%;
          font-size: clamp(8px, 2.4vw, 14px);
          ul li {
            list-style-type: none;
            margin-bottom: clamp(6px, 1.8vw, 12px);
            span {
              color: transparent;
            }
          }
        }
      }
      .convo-text-content {
        margin-top: clamp(30px, 8vw, 40px);
        font-size: clamp(11px, 2.5vw, 18px);
        font-family: $noto-sans;
        .speaker {
          white-space: nowrap;
          text-align: right;
          font-weight: bold;
        }
        td {
          height: clamp(30px, 5vw, 40px);
          vertical-align: top;
        }
      }
    }
    .part-2-page-5 {
      margin-bottom: clamp(50px, 10vw, 70px);
      .section-2-convo {
        margin-top: clamp(30px, 8vw, 50px);
        width: clamp(310px, 90vw, 540px);
        min-height: clamp(230px, 60vw, 380px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-E-10-part1-image5.svg);
        .text-bubble {
          position: absolute;
          margin-left: clamp(40px, 13vw, 90px);
          top: 12%;
          font-size: clamp(8px, 2.4vw, 14px);
          ul li {
            list-style-type: none;
            margin-bottom: clamp(6px, 1.8vw, 12px);
            span {
              color: transparent;
            }
          }
        }
      }
      .convo-text-content {
        margin-top: clamp(30px, 8vw, 40px);
        font-size: clamp(11px, 2.5vw, 18px);
        font-family: $noto-sans;
        .speaker {
          white-space: nowrap;
          text-align: right;
          font-weight: bold;
        }
        td {
          height: clamp(30px, 5vw, 40px);
          vertical-align: top;
        }
      }
    }
  }
}
