body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  width: 100%;
  min-width: 360px;
  max-width: 892.75px;
  min-height: 960px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 11%;
  background-image: url("https://lesson-materials.s3.ap-northeast-1.amazonaws.com/images/other-programs-bg-header-magenta.png"), url("https://lesson-materials.s3.ap-northeast-1.amazonaws.com/images/other-programs-bg-footer.png");
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Trebuchet MS";
}

.html-lesson-wrapper header {
  font-family: "Helvetica", "Arial", "san-serif";
}

.html-lesson-wrapper .u {
  text-decoration: underline;
}

.html-lesson-wrapper .b, .html-lesson-wrapper .see-content table td:first-child, .html-lesson-wrapper .review-content .lsn {
  font-weight: bold;
}

.html-lesson-wrapper .i {
  font-family: italic;
}

.html-lesson-wrapper .program-rank {
  position: absolute;
  top: 40px;
  left: 57px;
  color: #ffffff;
  font-size: clamp(7px, 1.8vw, 15px);
}

.html-lesson-wrapper .program-rank .type {
  padding: clamp(1px, 1vw, 2px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 2px) clamp(10px, 3vw, 17px);
  background-color: #cc3366;
  font-size: clamp(8px, 1.8vw, 15px);
}

.html-lesson-wrapper .program-rank .level {
  padding: clamp(1px, 1vw, 2px) clamp(7px, 2vw, 7px) clamp(1px, 1vw, 2px) clamp(10px, 3vw, 17px);
  font-size: clamp(7px, 1.8vw, 15px);
  background: #339999;
  width: 100%;
  margin-left: -2%;
}

.html-lesson-wrapper .program-rank .level.two {
  padding: clamp(1px, 1vw, 2px) clamp(4px, 1vw, 8px) clamp(1px, 1vw, 2px) clamp(10px, 3vw, 17px);
}

.html-lesson-wrapper .line {
  margin: 0 12px;
}

.html-lesson-wrapper .title {
  position: absolute;
  top: 80px;
  left: 56px;
  font-size: clamp(12px, 3vw, 27px);
}

.html-lesson-wrapper .lesson-number, .html-lesson-wrapper .lesson-number-two {
  position: absolute;
  left: 92%;
  margin-top: 7.5%;
  font-size: clamp(7px, 1.8vw, 13px);
  color: #ffffff;
}

.html-lesson-wrapper .lesson-number-two {
  left: 91.5%;
}

.html-lesson-wrapper .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.html-lesson-wrapper .sub-text {
  font-family: "Helvetica", "Arial", "san-serif" !important;
  line-height: clamp(12px, 2.8vw, 22px);
  margin: 0 auto;
}

.html-lesson-wrapper .magenta-color {
  color: #cc3366;
}

.html-lesson-wrapper .sub-color, .html-lesson-wrapper .try-content .example {
  color: #7f7f7f;
}

.html-lesson-wrapper .section {
  position: absolute;
  left: -69px;
  color: #cc3366;
  font-weight: bold;
  font-family: "Helvetica", "Arial", "san-serif";
  top: 2px;
}

.html-lesson-wrapper .divider {
  color: #d9d9d9;
  font-size: clamp(6px, 1.8vw, 15px);
  position: relative;
  left: 52%;
}

.html-lesson-wrapper .divider.d1 {
  margin: 4% 0;
}

.html-lesson-wrapper .divider.d2 {
  margin: 4% 0;
}

.html-lesson-wrapper .divider ul {
  margin: 3px 0px 0px 18px;
  padding: 0;
  line-height: clamp(12px, 3vw, 26px);
}

.html-lesson-wrapper ul li {
  padding-left: 8px;
  padding-bottom: 1.5%;
}

.html-lesson-wrapper .see-content,
.html-lesson-wrapper .act-content,
.html-lesson-wrapper .try-content,
.html-lesson-wrapper .review-content {
  position: relative;
  margin-left: clamp(50px, 14%, 126.5px);
  padding-left: 18.5px;
  padding-right: 42px;
  font-size: clamp(12px, 2vw, 15px);
}

.html-lesson-wrapper .biz-tip-content {
  position: relative;
  margin-top: clamp(70px, 18%, 160px);
  padding: 2px 0px 0px 47px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 4%;
  padding-left: clamp(32px, 6vw, 47px);
  background: #f0d4d4;
  font-size: clamp(12px, 2vw, 15px);
}

.html-lesson-wrapper .biz-tip-content .section {
  margin-left: clamp(50px, 14%, 126.5px);
  line-height: 1.8em;
  margin-top: 3% !important;
}

.html-lesson-wrapper .biz-tip-content .pointers {
  margin-top: 3% !important;
  margin-left: clamp(50px, 14%, 126.5px);
}

.html-lesson-wrapper .biz-tip-content .pointers .no-arrow {
  margin-left: -3.2%;
  margin-right: 16%;
}

.html-lesson-wrapper .arrow-part {
  position: relative;
}

.html-lesson-wrapper .arrow-part:before {
  content: '';
  position: absolute;
  left: -1.5em;
  top: 0.3em;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #cc3366;
  display: inline-block;
  vertical-align: middle;
}

.html-lesson-wrapper .arrow-part span {
  color: #cc3366;
  font-weight: bold;
}

.html-lesson-wrapper .arrow-part.black-arrow:before {
  border-top: 8px solid black;
}

.html-lesson-wrapper .see-content {
  margin-top: 36px;
}

.html-lesson-wrapper .see-content .sub-text {
  margin-bottom: 1.5%;
}

.html-lesson-wrapper .see-content .article {
  margin-top: 5px;
  line-height: 1.7em;
  margin-bottom: 29px;
}

.html-lesson-wrapper .see-content .article span.highlight {
  color: #cc3366;
  font-weight: bold;
}

.html-lesson-wrapper .see-content table {
  border-collapse: collapse;
}

.html-lesson-wrapper .see-content table p {
  margin: 0;
  line-height: 1.8em;
  top: -0.3em;
  position: relative;
}

.html-lesson-wrapper .see-content table p:not(:last-child) {
  margin-bottom: 5%;
}

.html-lesson-wrapper .see-content table td {
  padding: 0;
  vertical-align: top;
  line-height: 1.8em;
}

.html-lesson-wrapper .see-content table td:first-child {
  width: 10%;
}

.html-lesson-wrapper .try-content table {
  margin-top: 5px;
  font-size: clamp(6px, 1.8vw, 15px);
  border-spacing: 0px;
  padding-bottom: 5px;
  width: 100%;
}

.html-lesson-wrapper .try-content table th,
.html-lesson-wrapper .try-content table td {
  max-width: 120px;
  min-width: 80px;
  word-wrap: break-word;
  border: 1px solid #f2f2f2;
}

.html-lesson-wrapper .try-content table th {
  background-color: #cc3366;
  color: #ffffff;
  font-size: clamp(7px, 1.8vw, 15px);
  padding: 5px;
}

.html-lesson-wrapper .try-content table td {
  text-align: left;
  padding: 1% 1% 5% 1%;
  background-color: #fff;
}

.html-lesson-wrapper .try-content .example {
  padding-left: 1%;
  margin-bottom: 0.5%;
}

.html-lesson-wrapper .act-content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.html-lesson-wrapper .act-content .aut {
  margin-left: 64%;
  position: absolute;
  margin-top: 35px;
  font-weight: bold;
}

.html-lesson-wrapper .review-content .sub-text {
  font-family: "Trebuchet MS" !important;
  margin-bottom: 2%;
}

.html-lesson-wrapper .review-content ol {
  margin: 0;
  margin-block: 0;
  padding-inline: 0;
}

.html-lesson-wrapper .review-content .lsn {
  counter-reset: item;
  list-style-type: none;
}

.html-lesson-wrapper .review-content .lsn li:before {
  content: "Lsn " counter(item, decimal) ": ";
  counter-increment: item;
}

.html-lesson-wrapper .review-content .lsn .arrows {
  margin: 2% 0 2% 9%;
  font-weight: normal;
}

.html-lesson-wrapper .review-content .lsn .arrows .arrow-part span {
  font-weight: bold;
}

.html-lesson-wrapper .review-content .lsn .arrows .arrow-part::before {
  left: -25px;
}

.html-lesson-wrapper footer {
  font-size: clamp(4.5px, 1.1vw, 9px);
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  bottom: 3.5%;
  right: 6.2%;
  font-family: "Helvetica", "Arial", "san-serif";
  max-width: 35%;
}

@media screen and (max-width: 1280px) {
  .html-lesson-wrapper {
    min-height: 581px;
    padding-bottom: 17%;
  }
}

@media screen and (max-width: 900px) {
  .html-lesson-wrapper {
    min-height: 581px;
    padding-bottom: 21%;
  }
  .html-lesson-wrapper .program-rank {
    position: absolute;
    top: clamp(20px, 4vw, 40px);
    left: clamp(53px, 4vw, 48px);
  }
  .html-lesson-wrapper .title {
    top: clamp(45px, 8.4vw, 80px);
    left: clamp(52px, 4.1vw, 55px);
  }
  .html-lesson-wrapper .section {
    left: calc(-16% + 50px);
  }
  .html-lesson-wrapper .section.words {
    left: calc(-14% + 52px);
  }
  .html-lesson-wrapper .see-content {
    margin-top: clamp(22px, 3.8vw, 36px);
  }
  .html-lesson-wrapper .see-content .article {
    margin-bottom: clamp(20px, 3.7vw, 29px);
  }
  .html-lesson-wrapper .try-content {
    margin-top: clamp(20px, 3.7vw, 30px);
    padding-left: clamp(11px, 2.4vw, 18px);
  }
  .html-lesson-wrapper .try-content ul {
    margin-left: clamp(11px, 2.4vw, 18px);
  }
  .html-lesson-wrapper .try-content li {
    padding-left: clamp(9px, 1.8vw, 13px);
  }
  .html-lesson-wrapper .act-content {
    margin-top: clamp(20px, 3.8vw, 36px);
  }
  .html-lesson-wrapper .act-content .aut {
    margin-left: 64%;
    position: absolute;
    margin-top: 35px;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .html-lesson-wrapper {
    min-height: 581px;
    padding-bottom: 23%;
  }
  .html-lesson-wrapper .act-content .aut {
    margin-left: 52%;
    position: absolute;
    margin-top: 35px;
    font-weight: bold;
  }
  .html-lesson-wrapper .program-rank {
    position: absolute;
    top: clamp(20px, 4vw, 40px);
    left: clamp(24px, 4vw, 48px);
  }
  .html-lesson-wrapper .title {
    top: clamp(45px, 8.4vw, 80px);
    left: clamp(24px, 4.1vw, 55px);
  }
  .html-lesson-wrapper .section {
    left: calc(-16% + 23px);
  }
  .html-lesson-wrapper .section.words {
    left: calc(-14% + 24px);
  }
}

@media screen and (max-width: 400px) {
  .html-lesson-wrapper {
    min-height: 581px;
    padding-bottom: 13%;
  }
  .html-lesson-wrapper .act-content .aut {
    margin-left: 52%;
    position: absolute;
    margin-top: 35px;
    font-weight: bold;
  }
  .html-lesson-wrapper .type {
    padding: 2px 8px 2px 7px !important;
  }
  .html-lesson-wrapper .level {
    padding: 2px 6px 2px 7px !important;
  }
  .html-lesson-wrapper .line {
    margin: 0 6px;
    vertical-align: middle;
  }
  .html-lesson-wrapper .arrow-part:before {
    border-left: 3.5px solid transparent !important;
    border-right: 3.5px solid transparent !important;
    border-top-width: 5.5px !important;
  }
}

.html-lesson-wrapper .see-content li {
  line-height: 1.8;
}

.html-lesson-wrapper .try-content .space {
  margin-top: 8%;
}

.html-lesson-wrapper .try-content li {
  line-height: 1.8;
}

.html-lesson-wrapper .act-content .normal {
  font-weight: normal;
}
