@import '../../css/op-teleconferencing-utils';

  .html-lesson-wrapper {
    .act-spacer {
      padding-bottom: 20rem;
      @media only screen and (max-width: 767px) {
        padding-bottom: 0;
      }
    }
    .content-item {
      .tbl-wrapper {
        background: #cc3366;  
        padding: 1%;
        margin-top: 2%;
        border-width: 5px;
        border: 5px solid rgb(183, 177, 177);
        ol {
          margin-left: -3%;
        }
        .btn-red {
          background-color: #d9d9d9;
          width: 60px;
          color: #000000;
        }
        .btn-to {
          text-align: center;
          padding-left: 10px;
        }
        .btn-send {
          text-align: center;
          width: 70px;
          display: block;
          margin: 0 auto;
          margin-top: 1%;
        }
        table {
          tr {
            td.breaker {
              padding: 2%;
              text-align: center;
              padding-right: 17%;
            }
            td {
              .sub {
                margin-bottom: 10px;
                margin-right: 35px;
                color: #fff;
                margin-left: 10%;
                @media only screen and (max-width: 480px) {
                  margin-left: 20%;
                }
              }
              .to-value,
              .sub-value {
                background-color: #fff;
                padding-left: 10px;
              }
              .to-value {
                margin-top: -2px;
                padding: 1%;
                border-top: 5px solid #cc3366;
                border-bottom: 10px solid #cc3366;
              }
              .sub-value {
                margin-top: -2px;
                padding: 1%;
                border-bottom: 8px solid #cc3366;
              }
              .to-value {
                font-size: clamp(8px, 2vw, 13.5px);
              }
              .tbl-content {
                background: #fff;
                padding: 2%;
                line-height: 1.8em;
                p {
                  margin-top: 3%;
                  margin-bottom: 3%;
                }
              }
            }
            td.td-btn {
              text-align: center;
            }
          }
        }
        .to-value {
          font-size: clamp(12px, 2vw, 15px);  
        }
        .sub-value {
          font-size: clamp(12px, 2vw, 15px); 
        }
      }
    }
    .extension {
      margin-bottom: 1% !important;
      width: 70% !important;
      @media only screen and (max-width: 863px) {
        width: 73% !important;
      }
      @media only screen and (max-width: 830px) {
        width: 75% !important;
      }
      @media only screen and (max-width: 450px) {
        width: 92% !important;
      }
    }
    
    .biz-tips {
      p.link {
          padding-top: 2%;
      }
      a {
          color: black;
      }
    }
  
    .tbl-content {
       p.access {
          margin-bottom: 0px;
      }
        ul.item {
          margin: 0px;
          padding: 0px;
          list-style-type: none;
          font-size: clamp(12px, 2vw, 15px); 
      }
    }
    .content-div {
      .top-align {
        vertical-align: top;
      }
    }
  }
