@import '../../css/level2-utils';

.html-lesson-wrapper {
  .see-content {
    .sub-text {
      margin-bottom: 0.5em;
    }
  }
  .conversation {
    border: 2px solid black;
    .subject {
      position: relative;
      padding-left: 0.5em;
      padding-top: 0.4em;
      top: -0.1em;
      left: -0.5%;
      width: 100.5%;
      margin-bottom: 0px;
      background-image: url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/02-black-header.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 1.8em;

      p {
        color: #ffffff;
        margin-block-start: 0;
        margin-block-end: 0;
        top: -0.2em;
        margin-left: 0.1em;
        span {
          padding-right: 10px;
        }
      }
    }

    .content {
      margin: 0.2em 1em 0.5em 1em;
      p {
        span {
          display: block;
        }
        &:not(:last-child) {
          margin-bottom: 1em;
        }
      }
    }
  }
}
