@import '../../css/op-teleconference-basics-utils';
.title {
  padding-bottom: 10% !important;
  @media only screen and (max-device-width: 767px) {
    padding-top: 4%;
    padding-bottom: 3%;
  }
}
.part-spacer {
  padding-bottom: 15rem;
  @media only screen and (max-width: 767px) {
    padding-bottom: 0;
  }
}

.review-part-1 {
  padding-right: clamp(15px, 7vw, 55px);
  .review-box {
    width: 100%;
  }
}
.content-div {
  font-family: 'Trebuchet MS';
  font-size: clamp(12px, 3vw, 15px);
  ol {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    list-style-position: inside;
    font-size: (11px, 1.8vw, 16px);
    line-height: 1.8;
    li {
      list-style-position: outside;
      text-indent: -1em;
      margin-left: 1em;
      padding-left: 0.5em;
    }
    li::before {
      content: '';
      display: block;
      width: 0.5em;
    }
    li::marker {
      font-size: clamp(11px, 2vw, 13px);
    }
  }
}
