@import '../../css/level1-a-utils';

.html-lesson-wrapper {
  .shapes-grid {
    margin-top: 25%;
  }

  .page-1 {
    ul.desc li {
      margin-bottom: 0;
      line-height: 1.2em;
    }
  }

  .blue-section {
    .row {
      justify-content: space-between;
    }
  }

  .page-2 {
    .see-content {
      .blue-section {
        .row {
          .ja {
            color: $primary;
          }
        }
      }
    }
    .col1,
    .col2,
    .col3,
    .col4 {
      width: fit-content !important;
      margin: 0px 0px;
    }
  }

  .page-3 {
    .try-grid {
      margin-top: 3%;
    }
    .shapes-grid {
      margin-top: -2%;
    }
  }
}
