@import '../../css/_op-e-mail-writing-new-utils.scss';
.see-content{
  ul{
    // list-style-position: inside;
    line-height: 1.8 !important;
    padding-left: 16px;
    li{
      // padding-left: 0;
    }
  }
}
.section.act{
  line-height: 1.8;
}
