@import '../../css/op-management-3-utils';
.act-content {
  .tbl-container {
    @media only screen and (max-width: 360px) {
      width: 95%;
      overflow-x: auto !important;
      .content-table {
        width: 190% !important;
      }
    }
  }
}

.html-lesson-wrapper .act-content .tbl-container .content-table .table-header1 {
  width: 28%;
  color: white;
  background-color: #cb3366;
}

.html-lesson-wrapper .act-content .tbl-container .content-table .table-header2 {
  width: 20%;
  color: white;
  background-color: #cb3366;
}

.html-lesson-wrapper .act-content .tbl-container .content-table .table-header3 {
  width: 23%;
  color: white;
  background-color: #cb3366;
}

