@import '../../css/op-job-interviews-utils';

.html-lesson-wrapper {
  .see-content {
    table {
      td:first-child {
        width: 9em;
      }

      td {
        padding: 0;
        line-height: normal;
      }
    }
  }

  
  
}
