@import '../../css/_op-cross-culture-utils.scss';
.html-lesson-wrapper {
  .see-content .see {
    margin-top: 7px;
  }
  @media screen and (max-width: 900px) {
    .inline-block {
      display: block !important;
    }
    .hide {
      display: inline !important;
    }
  }
  @media screen and (min-width: 900px) and (max-width: 1800px) {
    .title {
      top: 70px !important;
      width: 80%;
    }
  }
}
