@import '../../css/_op-cross-culture-utils.scss';
.html-lesson-wrapper {
  @media screen and (max-width: 900px) {
    .inline-block {
      display: block !important;
    }
    .hide {
      display: inline !important;
    }
  }
  @media screen and (min-width: 900px) and (max-width: 1800px) {
    .title {
      top: 70px !important;
      width: 80%;
    }
  }
}
@media screen and (max-width: 390px) {
  .html-lesson-wrapper {
    .see-content {
      .see {
        margin-top: 2.5px !important;
      }
    }
    .try-content .try,
    .act-content .act {
      margin-top: 4.5px !important;
    }
  }
}
