body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS";
}

.page-1 {
  width: 892.75px;
  min-height: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url("/images/bg-header.png"), url("/images/bg-footer.png");
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.header {
  font-family: "Arial";
}

.b {
  font-weight: bold;
}

.program-rank {
  position: absolute;
  top: 40px;
  left: 48px;
  color: #ffffff;
  font-size: 0px;
}

.program-rank .type {
  padding: 3px 16px 3px 14px;
  background-color: #257a9e;
  font-size: 15px;
}

.program-rank .level {
  padding: 3px 12px 3px 13px;
  background-color: #339999;
  font-size: 15px;
}

.line {
  margin: 0 12px;
}

.title {
  position: absolute;
  top: 80px;
  left: 55px;
  font-size: 27px;
}

.lesson-number {
  position: absolute;
  left: 823px;
  top: 66px;
  font-size: 13px;
  color: #ffffff;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Trebuchet MS";
}

.sub-text {
  font-family: "Arial" !important;
}

.section {
  position: absolute;
  left: -71.5px;
  color: #2078a0;
  font-weight: bold;
  font-size: 15px;
  font-family: "Arial";
}

.section.see {
  top: 13px;
}

.section.try {
  top: 0px;
}

.section.act {
  top: 2px;
}

.divider {
  color: #d9d9d9;
  font-size: 15px;
  position: relative;
  left: 469px;
}

.divider.d1 {
  margin-top: 14px;
}

.divider.d2 {
  margin-top: 30px;
}

.text {
  font-family: "Trebuchet MS";
}

/* See */
.see-content {
  position: relative;
  margin-left: 126.5px;
  margin-top: 230px;
  font-size: 15px;
}

.see-content .wrapper {
  padding-top: 13px;
  padding-left: 18.5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 20px;
}

.see-content p {
  margin: 0 auto;
}

.see-content p .tab {
  display: inline-block;
  width: 180px;
}

.see-content .col {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 48px;
  min-width: 310px;
}

.see-content .col .text:not(:last-child) {
  margin-bottom: 30px;
}

.see-content .col1 {
  margin-right: 25px;
}

.see-content .col2 {
  padding-right: 58px;
}

.see-content .text {
  font-family: "Trebuchet MS";
  line-height: 26px;
  margin-top: 4px;
}

.see-content .text:not(:last-child) {
  margin-bottom: 22px;
}

/* Try */
.try-content {
  position: relative;
  margin-top: 30px;
  margin-left: 126.5px;
  padding-left: 18.5px;
  font-size: 15px;
}

.try-content ul {
  list-style-type: decimal;
  margin: 3px 0px 0px 18px;
  padding: 0;
  line-height: 26px;
}

.try-content li {
  padding-left: 10px;
}

.try-content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

/* Act */
.act-content {
  position: relative;
  margin-top: 30px;
  margin-left: 126.5px;
  padding-left: 18.5px;
  font-size: 15px;
}

.act-content .sub-text {
  line-height: 25px;
}

.act-content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.act-content .wrapper ul {
  margin: 3px 0px 0px 18px;
  padding: 0;
  line-height: 26px;
  list-style: none;
}

.act-content .wrapper ul:first-child {
  list-style: disc;
}

.act-content .wrapper ul li {
  padding-left: 10px;
}

.footer {
  font-size: 9px;
  position: absolute;
  bottom: 43px;
  left: 582px;
}
