$text-font: 'Trebuchet MS';
$title-font: 'Arial';

$primary: #257a9e;

$left-pixel: 126.5px;

body {
  margin: 0;
  padding: 0;
  font-family: $text-font;
}
.page-1 {
  width: 892.75px;
  min-height: 1200px;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url('/images/bg-header.png'), url('/images/bg-footer.png');
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.header {
  font-family: $title-font;
}
.b {
  font-weight: bold;
}
.program-rank {
  position: absolute;
  top: 40px;
  left: 48px;
  color: #ffffff;
  font-size: 0px;

  .type {
    padding: 3px 16px 3px 14px;
    background-color: $primary;
    font-size: 15px;
  }
  .level {
    padding: 3px 12px 3px 13px;
    background-color: #339999;
    font-size: 15px;
  }
}
.line {
  margin: 0 12px;
}
.title {
  position: absolute;
  top: 80px;
  left: 55px;
  font-size: 27px;
}
.lesson-number {
  position: absolute;
  left: 823px;
  top: 66px;
  font-size: 13px;
  color: #ffffff;
}
.row {
  display: flex;
  flex-direction: row;
  font-family: $text-font;
}
.sub-text {
  font-family: $title-font !important;
}
.section {
  position: absolute;
  left: -71.5px;
  color: #2078a0;
  font-weight: bold;
  font-size: 15px;
  font-family: $title-font;

  &.see {
    top: 13px;
  }
  &.try {
    top: 0px;
  }
  &.act {
    top: 2px;
  }
}
.divider {
  color: #d9d9d9;
  font-size: 15px;
  position: relative;
  left: 469px;

  &.d1 {
    margin-top: 14px;
  }
  &.d2 {
    margin-top: 30px;
  }
}
.text {
  font-family: $text-font;
}

/* See */
.see-content {
  position: relative;
  margin-left: $left-pixel;
  margin-top: 230px;
  font-size: 15px;

  .blue-section {
    padding-top: 13px;
    padding-left: 18.5px;
    height: fit-content;
    padding-bottom: 20px;
  }
  p {
    margin: 0 auto;
    .tab {
      display: inline-block;
      width: 180px;
    }
  }
  .col {
    width: fit-content;
    margin-right: 48px;
    min-width: 310px;
    .text:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .col1 {
    margin-right: 25px;
  }
  .col2 {
    padding-right: 58px;
  }
  .text {
    font-family: $text-font;
    line-height: 26px;
    margin-top: 4px;
    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }
}

/* Try */
.try-content {
  position: relative;
  margin-top: 30px;
  margin-left: $left-pixel;
  padding-left: 18.5px;
  font-size: 15px;

  ul {
    list-style-type: decimal;
    margin: 3px 0px 0px 18px;
    padding: 0;
    line-height: 26px;
  }
  li {
    padding-left: 10px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

/* Act */
.act-content {
  position: relative;
  margin-top: 30px;
  margin-left: $left-pixel;
  padding-left: 18.5px;

  .sub-text {
    line-height: 25px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    ul {
      margin: 3px 0px 0px 18px;
      padding: 0;
      line-height: 26px;
      list-style: none;
      &:first-child {
        list-style: disc;
      }
      li{
        padding-left: 10px;
      }
    }
  }
}
.footer {
  font-size: 9px;
  position: absolute;
  bottom: 43px;
  left: 582px;
}
