@import '../../css/_op-new-hires-1-utils.scss';
.html-lesson-wrapper {
  .lesson-number {
    left: clamp(91%, 91.5vw, 91.7%) !important;
  }
  .act-content {
    .table-1 {
      border-collapse: collapse;
      width: 100%;
      th {
        height: clamp(20px, 4vw, 40px);
        text-align: left;
        font-weight: normal;
        width: 50%;
      }
    }
  }
}
@media screen and (max-width: 880px) {
  .html-lesson-wrapper {
    .inline-block {
      display: block !important;
    }
  }
}
@media screen and (max-width: 350px) {
  .html-lesson-wrapper {
    .words-phrase-content {
      margin-top: 90px !important;
    }
  }
}
