@import '../../css/op-interviewer-utils';

.html-lesson-wrapper {
  .content-label {
    .content-label-text {
      &.part {
        @media only screen and (max-width: 400px) {
          width: 80%;
        }
      }
    }
  }
  .header-text {
    &.part {
      @media only screen and (max-width: 400px) {
        width: 110%;
      }
    }
  }
  .review-part-2 {
    .tbl-container {
      @media only screen and (max-width: 400px) {
        width: 95%;
        overflow-x: auto !important;
        .content-table {
          width: 190% !important;
        }
      }
    }
  }
}
