@import '../../css/level1-a-utils';

.html-lesson-wrapper {
  .lesson-points {
    width: 76%;
  }
  .shape {
    width: auto;
    height: 9.5em;
  }
  .grid-3 {
    margin-top: 1.5em;
    grid-template-columns: 1fr 1fr 1fr;
    img {
      margin-top: 0.8em;
    }
    .img-desc {
      max-width: 78%;
    }
  }

  .grid-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .blue-section {
    .grid.equal:first-child {
      margin-bottom: 1.5em;
    }
  }

  .page-2 {
    .see-content {
      .example .conversation .row {
        grid-template-columns: 0.1fr 1fr;
      }
    }
  }

  .page-3 {
    .grid-5 {
      margin-top: 1.5em;
      div > p:nth-child(2) {
        margin-bottom: 1em;
      }
    }
  }
}
