@import '../../css/_op-it-manager-utils.scss';

.html-lesson-wrapper {
  table {
    border-collapse: collapse;
  }
  .see-content {
    table {
      tr {
        td.breaker {
          padding: 2%;
          text-align: center;
          padding-right: 5%;
          span {
            padding: 3px;
          }
        }
        td {
          line-height: 1.8em;
        }
      }
    }
  }
  .act-content {
    p {
      line-height: 1.8em;
    }

  }

  @media screen and (max-width: 600px) {
    .arrow-part:before {
      left: 0em;
    }
    .arrow-part {
      padding-left: 10px;
    }
    .biz-tip-content {
      .arrow-part {
        margin-left: -3.2%;
      }
    }
    .see-content {
      table {
        td.breaker {
          padding: 2%;
          text-align: center;
          padding-left: 1% !important;
          span {
            padding: 3px;
          }
        }
      }
    }
    .biz-tip-content,
    .see-content,
    .try-content,
    .act-content {
      font-size: clamp(9px, 2vw, 13.5px);
    }
  }
  @media screen and (max-width: 420px) {
    .see-content {
      table {
        td.breaker {
          padding-left: 10% !important;
        }
      }
    }
  }
  @media screen and (max-width: 360px) {
    .biz-tip-content {
      .arrow-part:before {
        left: 0em;
      }
    }
    .see-content {
      table {
        td.breaker {
          padding-left: 10% !important;
        }
      }
    }
  }
}
