@import '../../css/_op-e-mail-writing-new-utils.scss';

.biz-tip-content {
  margin-top: clamp(95px, 18%, 160px) !important;
}
.see-content{
  ul{
    
    line-height: 1.8 !important;
    padding-left: 16px;
    li{
      
    }
  }
}
.section.act{
  line-height: 1.8;
}

.try-content {
  .numbers {
    margin-left: 3%;
    width: 90%;
  }
}