@import '../../css/level1-B-utils';

.html-lesson-wrapper .see-content .col {
.see-number{
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 1em !important;
  li{
    &::marker{
      font-weight: bold;
    }
    
  }
}
}
.html-lesson-wrapper .see-content .example .conversation .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 1fr;
  grid-template-columns: 0.2fr 2fr;
}
.html-lesson-wrapper .see-content .example .conversation {
  width: 100%;
  line-height: 1.8em;
  margin-top: 4px;
}

.try-content {
  ul > li > p {
      display: grid;
      grid-template-columns: 0.035fr 1fr;
  }
}
.arrow-part{
  div{
    &:before{
      font-size: clamp(0px, 100%, 8px);
      left: -4em !important;
      top: 0.8em !important;
    }
  }
  
}

.page-3{
  .try-content{
    .wrapper{
      margin-top: 1.5em !important;
    }
  }
  .act-content{
    .wrapper{
      margin-top: 1em !important;
    }
  }
}