@import '../../css/_op-new-hires-1-utils.scss';
.html-lesson-wrapper{
  .table-act{
    width: 100% !important;
    margin-top: clamp(6px, 1.5vw, 15px);
    
    tr{
     line-height: 1.8;
    }
  }  
}
@media screen and (max-width: 880px) {
  .html-lesson-wrapper {
    .inline-block {
      display: block !important;
    }
  }
}
