body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS";
}

.page-1 {
  width: 892.75px;
  min-height: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url("/images/bg-header.png"), url("/images/04-bg-footer.png");
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.header {
  font-family: "Arial";
}

.b {
  font-weight: bold;
}

.i {
  font-family: italic;
}

.u {
  text-decoration: underline;
}

.program-rank {
  position: absolute;
  top: 40px;
  left: 48px;
  color: #ffffff;
  font-size: 0px;
}

.program-rank .type {
  padding: 3px 16px 3px 14px;
  background-color: #2078a0;
  font-size: 15px;
}

.program-rank .level {
  padding: 3px 12px 3px 13px;
  background-color: #e56a62;
  font-size: 15px;
}

.line {
  margin: 0 12px;
}

.title {
  position: absolute;
  top: 80px;
  left: 55px;
  font-size: 27px;
}

.lesson-number {
  position: absolute;
  min-width: 15px;
  left: 818px;
  top: 66px;
  font-size: 13px;
  text-align: center;
  color: #ffffff;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sub-text {
  font-family: "Arial" !important;
  line-height: 22px;
  margin: 0 auto;
}

.section {
  position: absolute;
  left: -71.5px;
  color: #2078a0;
  font-weight: bold;
  font-family: "Arial";
  top: 2px;
}

.divider {
  color: #d9d9d9;
  position: relative;
  left: 469px;
}

.divider.d1 {
  margin-top: 8px;
}

.divider.d2 {
  margin-top: 28px;
}

ul {
  margin: 3px 0px 0px 18px;
  padding: 0;
  line-height: 26px;
}

ul li {
  padding-left: 8px;
}

.see-content,
.act-content,
.try-content {
  position: relative;
  margin-left: 126.5px;
  padding-left: 18.5px;
  padding-right: 42px;
  font-size: 15px;
}

/* Words and Phrases Content */
.words-phrase-content {
  position: relative;
  margin-top: 155px;
  padding: 2px 0px 0px 47px;
  height: 144.5px;
  width: 100%;
  background: #d4e6f0;
  font-size: 15px;
}

.words-phrase-content .section {
  margin-left: 126.5px;
  width: 80px;
  line-height: 1.8em;
  margin-top: 16px !important;
}

.words-phrase-content .pointers {
  margin-top: 20px !important;
  margin-left: 126.5px;
}

.words-phrase-content .pointers .arrow-part {
  position: relative;
}

.words-phrase-content .pointers .arrow-part:before {
  content: '';
  position: absolute;
  left: -26px;
  top: 7px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7.5px solid #2078a0;
  display: inline-block;
  vertical-align: middle;
}

.words-phrase-content .pointers .arrow-part span {
  color: #267aa1;
  font-weight: bold;
}

/* See */
.see-content {
  margin-top: 36px;
}

.see-content .article {
  margin-top: 5px;
  line-height: 1.7em;
  margin-bottom: 29px;
}

.see-content .article span.highlight {
  color: #267aa1;
  font-weight: bold;
}

.see-content .col {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 16px;
  position: relative;
  line-height: 26px;
}

.see-content .col span.highlight {
  color: #267aa1;
  font-weight: bold;
}

.see-content .col p {
  margin: 2px auto 24px;
}

.see-content .col p.name {
  width: 70px;
}

/* Try */
.try-content {
  margin-top: 5px;
}

.try-content ul {
  list-style-type: decimal;
}

/* Act */
.act-content {
  margin-top: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.act-content table {
  margin-top: 5px;
  font-size: 14px;
  border-spacing: 0px;
  padding-bottom: 5px;
  min-width: 700px;
}

.act-content table th,
.act-content table td {
  max-width: 120px;
  min-width: 80px;
  word-wrap: break-word;
  border: 1px solid #ffffff;
}

.act-content table th {
  background-color: #2078a0;
  color: #ffffff;
  font-size: 15px;
  padding: 5px;
}

.act-content table th:first-child {
  width: 400px;
}

.act-content table td {
  text-align: left;
  padding: 4px;
  background-color: #f2f2f2;
}

.footer {
  font-size: 9px;
  position: absolute;
  width: 345px;
  text-align: right;
  bottom: 43px;
  left: 492px;
  font-family: "Arial";
}
