@import '../../css/_op-e-mail-writing-basics-utils.scss';

.html-lesson-wrapper {
  .see{
    .dialogue:last-child{
      height: 92%;
    }
  }
 .decimal {
    padding-left: clamp(6px,5vw,18px);
    list-style-type: decimal;
    line-height: 1.8;
    font-size: clamp(8px, 1.8vw, 15px);
  }
  .act-spacer {
    padding-bottom: 10rem;
    @media only screen and (max-width: 767px) {
      padding-bottom: 0;
    }
  }
  .grid-section{
    .message{
      ul{
        margin: 0.5em 0;
        li{
          margin-left: 1em;
        }
      }
    }
  } 
  .content-table{
    ul{
      li{
        margin-left: 1em;
      }
    }
  }
}
