@import "../../css/op-management-1-utils";

.html-lesson-wrapper .lesson-number {
  position: absolute;
  left: 92.5%;
  top: 0px;
  margin-top: 7.4%;
  font-size: clamp(7px, 1.8vw, 13px);
  color: #ffffff;
}
