@import '../../css/op-shop-utils';
.html-lesson-wrapper {
  .content-item {
    .try-ul {
      .try-content-ul {
        .content-text {
          margin-left: 3.5%;
          @media screen and (max-width: 901px) {
            margin-left: 4.5%;
          }
          @media screen and (max-width: 401px) {
            margin-left: 5.5%;
          }
        }
      }
    }
  }
}
