body {
  margin: 0;
  padding: 0;
}

.html-material-4a {
  width: 100%;
  min-width: 360px;
  max-width: 892.75px;
  min-height: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url("/images/bg-header.png"), url("/images/04-bg-footer.png");
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Trebuchet MS";
  /* Review Content */
  /* Review Content */
}

.html-material-4a .header {
  font-family: "Arial";
}

.html-material-4a .b {
  font-weight: bold;
}

.html-material-4a .i {
  font-family: italic;
}

.html-material-4a .u {
  text-decoration: underline;
}

.html-material-4a .program-rank {
  position: absolute;
  top: 40px;
  left: 48px;
  color: #ffffff;
  font-size: 0px;
}

.html-material-4a .program-rank .type {
  padding: 3px 16px 3px 14px;
  background-color: #2078a0;
  font-size: clamp(7px, 1.8vw, 15px);
}

.html-material-4a .program-rank .level {
  padding: 3px 12px 3px 13px;
  background-color: #e56a62;
  font-size: clamp(7px, 1.8vw, 15px);
}

.html-material-4a .line {
  margin: 0 12px;
}

.html-material-4a .title {
  position: absolute;
  top: 80px;
  left: 55px;
  font-size: clamp(12px, 3vw, 27px);
}

.html-material-4a .lesson-number {
  position: absolute;
  left: 91.65%;
  margin-top: 7.4%;
  font-size: clamp(7px, 1.8vw, 13px);
  color: #ffffff;
}

.html-material-4a .sub-text {
  font-family: "Arial" !important;
  line-height: clamp(12px, 2.8vw, 22px);
  margin: 0 auto;
}

.html-material-4a .section {
  position: absolute;
  left: -71.5px;
  color: #2078a0;
  font-weight: bold;
  font-family: "Arial";
  top: 2px;
}

.html-material-4a .review-content {
  position: relative;
  margin-left: clamp(50px, 14%, 126.5px);
  padding-left: 18.5px;
  padding-right: 42px;
  font-size: clamp(6px, 1.8vw, 15px);
}

.html-material-4a .review-content {
  margin-top: 240px;
}

.html-material-4a .review-content ul {
  list-style: none;
  margin-top: 12px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.html-material-4a .review-content ul li {
  margin: 12.5px 0px;
}

.html-material-4a .review-content ul li p {
  -webkit-margin-before: 0 !important;
          margin-block-start: 0 !important;
  -webkit-margin-after: 0 !important;
          margin-block-end: 0 !important;
}

.html-material-4a .review-content ul li p:last-child {
  color: #2078a0;
  font-weight: bold;
}

.html-material-4a .footer {
  font-size: clamp(4.5px, 1.1vw, 9px);
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  bottom: 43px;
  right: 6.2%;
  font-family: "Arial";
}

@media screen and (max-width: 900px) {
  .html-material-4a {
    min-height: unset;
  }
  .html-material-4a .review-content {
    margin-top: clamp(100px, 28%, 240px);
  }
  .html-material-4a .review-content ul li {
    margin-top: clamp(7px, 1.8vw, 12px);
    margin-bottom: clamp(7px, 1.8vw, 12px);
  }
  .html-material-4a .footer {
    bottom: clamp(20px, 5.2vw, 43px);
    right: 5% !important;
  }
}

@media screen and (max-width: 768px) {
  .html-material-4a .program-rank {
    position: absolute;
    top: clamp(20px, 4vw, 40px);
    left: clamp(23px, 4vw, 48px);
  }
  .html-material-4a .title {
    top: clamp(45px, 8.4vw, 80px);
    left: clamp(30px, 4.1vw, 55px);
  }
  .html-material-4a .section {
    left: calc(-16% + 30px);
  }
  .html-material-4a .section.words {
    left: calc(-14% + 30px);
  }
}

@media screen and (max-width: 600px) {
  .html-material-4a .type {
    padding: 2px 8px 2px 7px !important;
  }
  .html-material-4a .level {
    padding: 2px 6px 2px 7px !important;
  }
  .html-material-4a .line {
    margin: 0 6px;
    vertical-align: middle;
  }
}
