@import '../../css/level0D-utils';

body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  
  //office section

  .name {
    position: absolute;
    border: 0.25px solid #231f20;
    border-radius: 6.67px;
    background-color: #ffffff;
    color: #2d356b;
    font-weight: bold;
    font-family: $text-font;
    font-size: clamp(8px, 2vw, 10px);
    padding: clamp(5px, 1.5vw, 8px) clamp(5px, 2.5vw, 15px);
  }

  .office-section {
    font-family: $noto-sans;

    &.office-see-1 {
      margin-top: clamp(20px, 6.5vw, 29px);

      .akiko-convo-1 {
        position: absolute;
        margin: 14% 0 0 10%;
        text-align: start;
      }

      .mt {
        margin-top: 12px;
      }

      .eng {
        font-family: $text-font;
        font-weight: bold;
        font-size: clamp(8.5px, 2.4vw, 14px);
      }
      .jpn {
        font-family: $noto-sans;
        color: #76797f;
        font-weight: normal;
        font-size: clamp(6.5px, 1.8vw, 11px);
        line-height: 1.8;
      }
    }
  }

  // See-content
  .see-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.see-1 {
      margin-top: clamp(110px, 28vw, 173.2px);
    }

    &.see-2,
    &.see-3,
    &.see-4 {
      margin-top: clamp(20px, 5vw, 33px);

      //see-content.legend
      & .legend {
        margin-top: clamp(25px, 5vw, 38px);
      }
    }

    .see-2-section {
      margin-top: clamp(20px, 6.5vw, 4rem);
      counter-reset: orderedlist-number;
      counter-reset: orderedlist-alpha;
      .akiko-section {
        display: flex;
        .akiko-icon {
          text-align: center;
          width: 25%;

          div {
            font-family: $noto-sans;
            font-size: clamp(8.5px, 2.4vw, 14px);
            font-weight: bold;
            margin-top: 3%;
          }
        }
        .akiko-conversation {
          width: 82%;
          padding-left: 1vw;

          .row-1 {
            width: 100%;
          }
          .row-2 {
            width: 100%;
            display: flex;
            margin-top: 8px;
          }
          .row-3 {
            .sub {
              line-height: 1.5;
              font-family: $noto-sans;
              font-size: $fs-13;
              color: #7f8288;
            }
          }

          .piece-mt {
            margin-top: clamp(5px, 1.5vw, 10px);
          }
        }
      }
      .red-piece-full {
        width: clamp(102px, 17vw, 143px);
        margin-right: 10px;
      }

      .yellow-piece {
        width: clamp(130px,21.2vw,177.8px);
      }

      .yellow-piece-1 {
        text-align: center;
        background-position: center;
        background-size: auto 105%;
        background-repeat: no-repeat;
        border-radius: 4px;
        font-weight: bold;
        font-size: clamp(11px, 2.7vw, 16px);
        font-family: 'Noto Sans', sans-serif;
        width: clamp(120px, 19vw, 153.8px);
        background-image: url(#{$s3}/0-yellow-piece.png), linear-gradient(90deg, rgba(255, 226, 0, 1) 80%, rgba(255, 255, 255, 0) 80%);
        background-position: right;
        padding: clamp(7px, 2vw, 10px) clamp(15px, 3.5vw, 25px) clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px);
      }

      .blue-piece {
        width: clamp(125px,21vw,174.2px);
      }

      .blue-piece-1 {
        font-weight: bold;
        font-size: clamp(11px, 2.7vw, 16px);
        font-family: $noto-sans;
        width: clamp(80px, 13vw, 84.2px);
        background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-blue-piece.png), linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, #e7f3fa 20%);
        padding: clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px) clamp(7px, 2vw, 10px) clamp(15px, 3.5vw, 25px);
        background-position: left;
      }

      .piece {
        height: clamp(30px, 9vw, 38px);
        font-size: $fs-16;
        font-family: $noto-sans;
        font-weight: bold;
      }

      .akiko-table-pieces {
        margin-top: clamp(1rem, 9vw, 1.5rem);
        display: grid;
        column-gap: 2%;
        width: 100%;
        height: 100%;
        grid-template-columns: auto auto;

        .column-two {
          margin-left: auto;
        }
      }

      .akiko-table {
        display: grid;
        column-gap: 2%;
        width: 100%;
        height: 100%;
        grid-template-columns: 49% 49%;
      }

      .table {
        margin-top: 0.2rem;
        border: 1px solid #1287cd;
        padding: clamp(10px, 2.5vw, 18px) clamp(7px, 1.5vw, 11px);
      }
      .table.column-one {
        width: 100%;
      }
      .table.column-two {
        width: 100%;
      }

      ol {
        margin: 0;
        padding: 0;
        display: grid;
        grid-gap: clamp(0.1rem, 1vw, 0.5rem);
      }

      ol.column-one {
        --li-bg: #1287cd;

        li::before {
          content: counter(orderedlist-number);
          counter-increment: orderedlist-number;
          color: #fff;
          border-radius: 50%;
        }
      }

      ol.column-two {
        --li-bg: #fff;

        li::before {
          color: $primary-blue;
          border: 2px solid $primary-blue;
          content: counter(orderedlist-alpha, upper-alpha);
          counter-increment: orderedlist-alpha;
        }
      }

      li::before {
        font-family: $noto-sans;
        font-size: $fs-16;
        width: clamp(18px, 4vw, 24px);
        height: clamp(18px, 4vw, 24px);
        display: grid;
        place-items: center;
        color: #fff;
        background-color: var(--li-bg);
        font-weight: bold;
      }

      li {
        display: grid;
        grid-template-columns: 0 1fr;
    grid-gap: clamp(1.5rem, 6vw, 3.6rem);
        align-items: start;
        line-height: 1.25;
        font-family: $noto-sans;
        list-style-type: lower-alpha !important;

        div {
          div.list-title {
            font-size: $fs-16;
            margin-bottom: clamp(2px, 1vw, 8px);
          }

          div.list-subtitle {
            font-size: $fs-12;
            color: #7f8288;
          }
        }
      }

      .column-two {
        .green-piece {
          margin-left: auto;
        }
      }
    }

    .see-3-section {
      margin-top: clamp(20px, 6.5vw, 4rem);
      .akiko-section {
        display: flex;
        .akiko-icon {
          text-align: center;
          width: 18%;

          div {
            font-family: $noto-sans;
            font-size: clamp(8.5px, 2.4vw, 14px);
            font-weight: bold;
            margin-top: 3%;
          }
        }
        .akiko-conversation {
          width: 82%;
          padding-left: 1vw;

          .row-1 {
            width: 100%;
            display: flex;
          }
          .row-2 {
            width: 100%;
            .sub {
              font-family: $noto-sans;
              font-size: $fs-13;
              line-height: 2;
              color: #7f8288;
            }
          }

          .piece-mt {
            margin-top: clamp(5px, 1.5vw, 10px);
          }
        }
      }
      .red-piece {
        width: clamp(65px, 19vw, 112.8px);
      }

      .green-piece {
        width: clamp(105px, 28vw, 166.2px);
      }

      .yellow-piece {
        width: clamp(230px, 59vw, 356px);
        background: #ffe200;
        border-radius: 6px;
        text-align: center;
      }

      .piece {
        position: relative;
        display: grid;
        place-items: center;
        text-align: center;
        width: 100%;
        height: clamp(30px, 9vw, 38px);
        font-size: $fs-16;
        font-family: $noto-sans;
        font-weight: bold;

        .piece-text {
          position: absolute;
          margin-left: clamp(-1px, -1vw, -10px);
        }

        .piece-image {
          width: 100%; /* or any custom size */
          height: 100%;
          object-fit: stretch;
          position: absolute;
        }
      }

      .akiko-table {
        margin-top: clamp(1rem, 9vw, 3.5rem);
        display: grid;
        column-gap: clamp(3px, 0.5vw, 10px);
        width: 100%;
        height: 100%;
        grid-template-columns: auto auto;
      }

      .bottom-table-piece {
        width: 100%;

        .yellow-piece {
          margin: clamp(3px, 2vw, 39px) 0 0 auto;
        }
      }

      .akiko-bottom-table {
        display: grid;
        column-gap: 10px;
        width: 100%;
        height: 100%;
        grid-template-columns: auto auto;
      }

      .table {
        margin-top: 0.2rem;
        border: 1px solid #1287cd;
        padding: clamp(10px, 2.5vw, 18px) clamp(7px, 1.5vw, 11px);
      }
      .table.column-one {
        width: 100%;
      }
      .table.column-two {
        width: 100%;
      }
      .table.column-three {
        background: #e7f3fa;
      }

      ol {
        margin: 0;
        padding: 0;
        display: grid;
        grid-gap: clamp(0.1rem, 1vw, 0.5rem);
        counter-reset: orderedlist;
      }

      ol.column-one {
        --li-bg: #1287cd;

        li::before {
          color: #fff;
          border-radius: 50%;
        }
      }

      ol.column-two {
        --li-bg: #fff;

        li::before {
          color: $primary-blue;
          border: 2px solid $primary-blue;
          content: counter(orderedlist, upper-alpha);
        }
      }

      ol.column-three {
        --li-bg: #fff;

        li::before {
          border-radius: 50%;
          color: $primary-blue;
        }
      }

      li::before {
        counter-increment: orderedlist;
        content: counter(orderedlist);
        font-family: $noto-sans;
        font-size: $fs-16;
        width: clamp(18px, 4vw, 24px);
        height: clamp(18px, 4vw, 24px);
        display: grid;
        place-items: center;
        color: #fff;
        background-color: var(--li-bg);
        font-weight: bold;
      }

      li {
        display: grid;
        grid-template-columns: 0 1fr;
    grid-gap: clamp(1.5rem, 6vw, 3.6rem);
        align-items: start;
        line-height: 1.25;
        font-family: $noto-sans;
        list-style-type: lower-alpha !important;

        div {
          div.list-title {
            font-size: $fs-16;
            margin-bottom: clamp(2px, 1vw, 8px);
          }

          div.list-subtitle {
            font-size: $fs-12;
            color: #7f8288;
          }
        }
      }

      .column-two {
        .green-piece {
          margin-left: auto;
        }
      }
      .column-three {
        .by-the-president-piece {
          margin: 0 0 0 auto;
        }

        .directors-meeting-piece {
          margin: 0 0 0 auto;
        }
      }

      .last-piece {
        margin: 0 0 0 auto;
      }
    }

    .see-4-section {
      margin-top: clamp(20px, 6.5vw, 4rem);
      .akiko-section {
        display: flex;
        .akiko-icon {
          text-align: center;
          width: 18%;
          padding-left: 20px;

          div {
            font-family: $noto-sans;
            font-size: clamp(8.5px, 2.4vw, 14px);
            font-weight: bold;
            margin-top: 3%;
          }
        }
        .akiko-conversation {
          width: 95%;

          .row-1 {
            .row-1-pieces {
              margin-left: auto;
              padding: 0;
              width: 88%;
            }

            .pieces {
              display: flex;
              justify-content: space-between;
            }
            .sub {
              font-family: $noto-sans;
              font-size: $fs-13;
              line-height: 2;
              color: #7f8288;
            }
          }
          .row-2 {
            .yellow-piece {
              margin-left: auto;
            }
          }

          .piece-mt {
            margin-top: clamp(5px, 1.5vw, 10px);
          }
        }
      }

      .red-piece {
        width: clamp(53px, 45vw, 198.8px);
      }

      .green-piece {
        width: clamp(173px, 45vw, 175.2px);
      }

      .yellow-piece-1 {
        width: clamp(73px, 45vw, 151px);
      }

      .piece {
        position: relative;
        display: grid;
        place-items: center;
        text-align: center;
        width: 100%;
        height: clamp(30px, 9vw, 38px);
        font-size: $fs-16;
        font-family: $noto-sans;
        font-weight: bold;
      }

      .akiko-table {
        margin-top: clamp(1rem, 9vw, 3.5rem);
        display: grid;
        column-gap: 2%;
        width: 100%;
        height: 100%;
        grid-template-columns: 49% 49%;
      }

      .table {
        margin-top: 0.2rem;
        border: 1px solid #1287cd;
        padding: clamp(10px, 2.5vw, 18px) clamp(7px, 1.5vw, 11px);
      }
      .table.column-one,
      .table.column-two {
        width: 100%;
      }

      ol {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-gap: clamp(0.1rem, 1vw, 0.5rem);
        counter-reset: orderedlist;
      }

      ol.column-one,
      ol.column-two {
        --li-bg: #1287cd;

        li::before {
          color: #fff;
          border-radius: 50%;
        }
      }

      li::before {
        counter-increment: orderedlist;
        content: counter(orderedlist);
        font-family: $noto-sans;
        font-size: $fs-16;
        width: clamp(18px, 4vw, 24px);
        height: clamp(18px, 4vw, 24px);
        display: grid;
        place-items: center;
        color: #fff;
        background-color: var(--li-bg);
        font-weight: bold;
      }

      li {
        display: grid;
        grid-template-columns: 0 1fr;
    grid-gap: clamp(1.5rem, 6vw, 3.6rem);
        align-items: start;
        line-height: 1.25;
        font-family: $noto-sans;

        div {
          div.list-title {
            font-size: $fs-16;
            margin-bottom: clamp(2px, 1vw, 8px);
          }

          div.list-subtitle {
            font-size: $fs-12;
            color: #7f8288;
          }
        }
      }

      .column-two {
        .green-piece {
          margin-left: auto;
        }
      }
      .column-three {
        .by-the-president-piece {
          margin: 0 0 0 auto;
        }

        .directors-meeting-piece {
          margin: 0 0 0 auto;
        }
      }

      .last-piece {
        margin: 0 0 0 auto;
      }
    }

    .arrow.see {
      @extend .b;
      text-transform: uppercase;
      color: $primary-blue;
      font-size: $fs-16;
      background-image: url(#{$s3}/0-see-arrow.svg);
      padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
      background-repeat: no-repeat;
      background-size: contain;
      font-family: $noto-sans;
    }
  }
  .try-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    .try-1-content {
      margin: clamp(20px, 6.5vw, 4rem) 0 clamp(20px, 5vw, 1rem);
      display: flex;

      .akiko-icon {
        width: 40%;
      }

      .math-area {
        width: 60%;
        display: grid;
        grid-template-columns: auto auto;
        padding-left: clamp(20px, 4vw, 45px);
        gap: 0;

        .column-one {
          padding: 0 !important;
        }

        .row {
          display: flex;
          margin-bottom: clamp(15px, 2.4vw, 25px);

          .number-bg,
          .letter,
          .number-outlined,
          .plus-sign {
            width: clamp(18px, 4vw, 24px);
            height: clamp(18px, 4vw, 24px);
            display: grid;
            place-items: center;
          }

          div {
            font-family: $noto-sans;
            font-weight: bold;
            font-size: $fs-16;
          }

          .number-bg {
            background: $primary-blue;
            color: white;
            border-radius: 50%;
            font-size: $fs-16;
          }

          .letter {
            color: $primary-blue;
            border: 2px solid $primary-blue;
            font-size: $fs-16;
          }

          .number-outlined {
            color: $primary-blue;
            border-radius: 50%;
            border: 1px solid $primary-blue;
            font-size: $fs-16;
          }

          .text {
            color: $primary-blue;
            font-size: $fs-16;
            font-weight: bold;
          }

          .center {
            text-align: center;
          }

          img {
            width: clamp(10px, 3vw, 15px);
            height: clamp(10px, 3vw, 15px);
          }
        }
      }
    }

    .try-2-content {
      margin: clamp(20px, 10vw, 6rem) 0 clamp(20px, 5vw, 1rem);
      padding-left: 10%;

      .eng {
        font-family: $text-font;
        font-size: $fs-14;
        font-weight: bold;
        color: #2d356b;
      }

      .mt {
        margin-top: clamp(10px, 1vw, 20px);
      }

      .jpn {
        font-family: $noto-sans;
        font-size: $fs-11;
        color: #7f8288;
      }

      .speech-1 {
        position: absolute;
        margin: 31% 0 0 7%;
      }
      .speech-6 {
        position: absolute;
        margin: 34% 0 0 7%;
      }
      .speech-7 {
        position: absolute;
        margin: 23% 0 0 7%;
      }
      pre {
        font-family: $text-font;
        font-size: $fs-14;
        font-weight: bold;
      }

      .row {
        line-height: 1.5;
        margin-bottom: clamp(0.5rem, 13vw, 3rem);
      }
    }

    .try-3-content {
      margin: clamp(20px, 6.5vw, 4rem) 0 clamp(20px, 5vw, 1rem);
      display: flex;

      .akiko-icon {
        width: 40%;
      }

      .math-area {
        width: 60%;
        padding-left: clamp(20px, 7vw, 40px);

        .row {
          display: flex;
          align-items: center;
          margin-bottom: 2.4vw;

          div {
            margin-right: clamp(2px, 1.5vw, 6px);
          }

          .small {
            width: clamp(18px, 4vw, 24px);
            height: clamp(18px, 4vw, 24px);
            display: grid;
            place-items: center;
            font-family: $noto-sans;
            font-weight: bold;
            font-size: $fs-16;
          }

          .number-bg {
            background: $primary-blue;
            color: white;
            border-radius: 50%;
            font-size: $fs-16;
          }

          .letter {
            color: $primary-blue;
            border: 2px solid $primary-blue;
            font-size: $fs-16;
          }

          .number-outlined {
            color: $primary-blue;
            border-radius: 50%;
            border: 1px solid $primary-blue;
            font-size: $fs-16;
          }

          .text {
            color: $primary-blue;
            font-size: $fs-16;
            font-weight: bold;
          }

          img {
            width: clamp(10px, 3vw, 15px);
            height: clamp(10px, 3vw, 15px);
          }
        }
      }
    }

    .try-4-content {
      margin-top: clamp(20px, 10vw, 69px);

      ol {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-gap: clamp(0.1rem, 1vw, 0.5rem);
        counter-reset: orderedlist;
      }

      li::before {
        counter-increment: orderedlist;
        content: counter(orderedlist);
        font-family: $noto-sans;
        font-size: $fs-16;
        color: $primary-blue;
        font-weight: bold;
        padding-left: 1vw;
      }

      li {
        display: grid;
        grid-template-columns: 0 1fr;
        grid-gap: clamp(0.6rem, 1.5vw, 2.1rem);
        font-family: $noto-sans;

        .dialogue {
          display: flex;
        }

        .big-mb {
          margin-bottom: clamp(10px, 4vw, 20px);
        }

        .small-mb {
          margin-bottom: clamp(5px, 2vw, 10px);
        }

        .jpn {
          .speech {
            font-style: $noto-sans;
            font-size: $fs-13;
            color: #7f8288;
          }
        }

        .person {
          width: clamp(60px, 15%, 80px);
          text-align: right;
          font-weight: bold;
          font-size: $fs-16;
        }

        .speech {
          padding-left: 1vw;
          width: 85%;
          font-size: $fs-16;
        }
      }
      .image {
        width: 100%;
        padding: 0 !important;
        margin-bottom: clamp(1rem, 10vw, 5rem);
      }
    }

    .try-content-pb {
      padding-bottom: 6vw;
    }

    .try-3-content {
      margin-top: clamp(20px, 5vw, 50px);

      ol {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-gap: clamp(0.1rem, 1vw, 0.5rem);
        counter-reset: orderedlist;
      }

      .row {
        width: 100%;
      }

      li::before {
        counter-increment: orderedlist;
        content: counter(orderedlist);
        font-family: $noto-sans;
        font-size: $fs-16;
        color: $primary-blue;
        font-weight: bold;
      }

      li {
        display: grid;
        grid-template-columns: 0 1fr;
        font-family: $noto-sans;
        margin-bottom: clamp(0.5rem, 5vw, 3rem);
        width: 100%;

        .dialogue {
          display: flex;
        }

        .big-mb {
          margin-bottom: clamp(10px, 4vw, 20px);
        }

        .small-mb {
          margin-bottom: clamp(5px, 2vw, 10px);
        }

        .jpn {
          .speech {
            font-style: $noto-sans;
            font-size: $fs-13;
            color: #7f8288;
          }
        }

        .person {
          text-align: right;
          font-weight: bold;
          font-size: $fs-16;
          width: 15%;
        }

        .speech {
          padding-left: clamp(1px, 1vw, 5px);
          font-size: $fs-16;
        }
      }
    }

    .try-4-content {
      margin: clamp(20px, 12vw, 80px) 0 clamp(20px, 17vw, 7rem);

      .image-section {
        display: flex;
        margin-bottom: clamp(1rem, 4vw, 1.8rem);
      }

      .image {
        padding: 0 clamp(0.5rem, 7vw, 1.8rem);
      }

      .image-1 {
        padding: 0 clamp(0.5rem, 7vw, 1.8rem);
      }

      .image-2 {
        padding: 0 clamp(0.5rem, 3vw, 0.7rem);
      }

      .text {
        display: flex;
        font-family: $noto-sans;
        font-size: $fs-16;
        margin-bottom: clamp(1rem, 3.5vw, 1.5rem);
      }

      .underlined {
        color: $primary-blue;
        text-decoration: underline;
      }

      .bold {
        margin-right: 2vw;
        text-align: right;
        width: 12%;
        font-weight: bold;
        font-size: $fs-16;
      }

      .step {
        margin-bottom: clamp(2rem, 9vw, 5rem);
      }
    }

    .number {
      color: $primary-blue;
      font-size: $fs-16;
      font-weight: bold;
      margin-right: 1vw;
    }

    &.try-1,
    &.try-2,
    &.try-3,
    &.try-4 {
      margin-top: 32px;
    }

    .arrow.try {
      color: white;
      background-image: url(#{$s3}/0-try-arrow.svg);
    }
  }
  .act-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    .act-1-content {
      margin: clamp(20px, 6.5vw, 29px) 0 clamp(20px, 17vw, 2rem);

      .image-area {
        margin-bottom: 1vw;
      }

      .image-area-1 {
        padding: 2% 8% 0;
      }

      .akiko-speech {
        line-height: 1.3;
        position: absolute;
        margin: 14% 0 0 10%;
      }

      .eng {
        font-family: $text-font;
        font-size: $fs-14;
        font-weight: bold;
      }

      .jpn {
        font-family: $noto-sans;
        font-size: $fs-11;
        color: #7f8288;
      }

      .dan {
        position: absolute;
        margin: 36.5% 0 0 71%;
      }

      .akiko {
        position: absolute;
        margin: 37% 0 0 8%;
      }

      .text {
        display: flex;
        font-family: $noto-sans;
        font-size: $fs-16;
        margin-bottom: clamp(5px, 1vw, 10px);
      }

     .jpn-text {
      line-height: 1.5;
        display: flex;
        font-family: $noto-sans;
        font-size: clamp(9px, 2.2vw, 12px);
        margin-bottom: clamp(5px, 3vw, 25px);
        color: #7f8288;
      }

      .bold {
        margin-right: 2vw;
        text-align: right;
        width: 12%;
        font-weight: bold;
        font-size: $fs-16;
      }

      .speech {
        width: 88%;
      }

      .mt {
        margin-top: clamp(8px, 1vw, 15px);
      }
    }

    &.act-1,
    &.act-2 {
      margin-top: 32px;
    }
    &.act-2 {
      margin-bottom: 50px;
    }

    .arrow.act {
      color: white;
      background-image: url(#{$s3}/0-act-arrow.svg);
    }
  }
}

.html-lesson-wrapper .lesson-number {
  position: relative;
  float: right;
  right: 5.3%;
  font-size: clamp(14px, 3vw, 20px);
  color: #FFFFFF;
  margin-top: clamp(2px, 1vh, 10px);
}