body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS";
}

.page-1 {
  width: 892.75px;
  height: 1262px;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url("/images/bg-header.png"), url("/images/bg-footer.png");
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.header {
  font-family: "Arial";
}

.b {
  font-weight: bold;
}

.i {
  font-family: italic;
}

.u-sup {
  border-bottom: solid 1.5px black;
  display: inline-block;
  line-height: 14px;
}

.program-rank {
  position: absolute;
  top: 41px;
  left: 62px;
  color: #ffffff;
  font-size: 15px;
}

.program-rank .level {
  margin-left: 25px;
}

.line {
  margin: 0 12px;
}

.title {
  position: absolute;
  top: 80px;
  left: 55px;
  font-size: 27px;
}

.lesson-number {
  position: absolute;
  min-width: 15px;
  left: 820px;
  top: 66px;
  font-size: 13px;
  text-align: center;
  color: #ffffff;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sub-text {
  font-family: "Arial" !important;
  line-height: 26px;
}

.sub-head {
  position: absolute;
  top: 125px;
  left: 47px;
  width: 760px;
}

.sub-head .subtitle {
  font-family: "Noto Sans JP";
  color: #257a9e;
  font-weight: bold;
  font-size: 15px;
}

.ja {
  font-family: "Noto Sans JP", sans-serif !important;
  font-size: 12.5px;
  font-weight: bold;
  color: #595959;
}

sup {
  font-size: 10px;
  line-height: 16px;
  display: inline-block;
}

.lesson-list {
  font-family: "Trebuchet MS";
  font-size: 15px;
  margin-top: 240px;
  margin-left: 149px;
  margin-right: 15px;
}

.lesson-list .sub-text.test {
  position: absolute;
  left: 60px;
  color: #257a9e;
}

.lesson-list .text {
  margin-top: 30px;
  display: block;
}

.lesson-list span {
  display: block;
  line-height: 24px;
}

.footer {
  font-size: 9px;
  position: absolute;
  width: 345px;
  text-align: right;
  bottom: 43px;
  left: 492px;
  font-family: "Arial";
}
