@import '../../css/level1-a-utils';

.html-lesson-wrapper {
  .try-content {
    ul > li > p {
      display: grid;
      grid-template-columns: 0.03fr 1fr;
    }
  }

  .see-content {
    .grid {
      grid-template-columns: 1fr 1.2fr;
    }
  }

  .act-content {
    ul {
      list-style-type: decimal;
      margin-left: 1.4em;
    }
  }

  .lesson-points {
    p:not(.primary-color) {
      margin-left: 0.5em;
    }
    .primary-color {
      font-size: clamp(5px, 1.5vw, 12px) !important;
    }

    .grid {
      grid-template-columns: 1fr 2.3fr;
    }
  }
}
