@import '../../css/level1-B-utils';

.html-lesson-wrapper .see-content .sub-text {
    margin-top: 2%;
}

.html-lesson-wrapper .arrow-part p {
    .blue{
        color: #257a9e;
    }
}

.html-lesson-wrapper .arrow-part p {
    .tab{
        padding-left: 2em;
    }
    margin: 0.5em auto;
    font-size: clamp(5px, 1.5vw, 12px);
}

.html-lesson-wrapper .arrow-part .column {
    display: grid;
}