@import '../../css/op-small-talk-level-1-utils';

.html-lesson-wrapper {
  .lesson-number {
    left: 91.5%;
  }
  .see-content {
    li {
      line-height: 1.8;
    }
  }
  .try-content {
    .space {
      margin-top: 8%;
    }
    li {
      line-height: 1.8;
    }
  }
  .act-content {
    .normal {
      font-weight: normal;
    }
  }
}
@media screen and (max-width: 320px) {
  .html-lesson-wrapper {
    .words-phrase-content {
      .section {
        margin-top: clamp(7px, 2.6vw, 18px) !important;
      }
    }
    .section {
      top: 7px;
    }
  }
}

@media screen and (max-width: 768px) {
  .html-lesson-wrapper {
    .program-rank {
      left: clamp(25px, 2vw, 48px);
    }
    .words-phrase-content {
      .section {
        margin-top: clamp(6px, 1.6vw, 18px) !important;
      }
    }
    .section {
      top: 7px;
    }
  }
}
