@import '../../css/level2-utils';

.html-lesson-wrapper {
  aside .text {
    ul {
      list-style-type: '•';
      margin: 0;
      margin-left: 0.6em;
      margin-block: 0;
      padding-inline: 0;

      li {
        padding-inline-start: 1em;
        font-weight: normal;
      }
    }
  }
}
