@import '../../css/op-presentations-utils';

.html-lesson-wrapper {
  table,
  td {
    border-collapse: collapse;
    border: solid $gray;
    text-align: left;
    vertical-align: middle;
    padding-left: 10px;
    line-height: clamp(12px, 2.8vw, 22px);
    column-width: 300px;
  }
}
