@import '../../css/level0-E-utils';

.html-lesson-wrapper {
  .see-content {
    &.see-1 {
      margin-top: 29%;

      .office-section {
        margin-top: 6%;

        .speech {
          color: #2d356b;
          &.akiko-1 {
            margin-top: 4%;
            left: 9.5%;
          }
          &.akiko-2 {
            margin-top: 4%;
            left: 56.5%;
          }
          &.ken {
            margin-top: 27.5%;
            left: 36%;
          }
        }

        .mb {
          margin-bottom: 6%;
        }
      }
    }

    &.see-2 {
      margin-top: 7%;

      .ls {
        letter-spacing: -3px;
      }

      .alt:not(:last-child) {
        margin-bottom: 6%;
      }

      .legend {
        margin-top: 4%;
      }

      .phrase-alts {
        grid-template-columns: 1fr 1fr;

        .choice {
          p {
            white-space: normal;
          }
        }
      }

      .phrases-section {
        margin-bottom: 8%;
      }

      .conversation {
        .conv-1 {
          margin-top: 5%;
          display: grid;
          grid-template-columns: min-content 1fr;

          .phrases-wrapper {
            display: flex;
            justify-content: right;
          }

          .phrase {
            margin-right: clamp(5px, 2vw, 10px);
          }

          .icon {
            margin-right: clamp(1px, 1.8vw, 10px);
          }
        }
      }
    }

    &.see-3 {
      margin-top: 8%;

      .office-section {
        margin-top: 6%;

        .speech {
          &.akiko-1 {
            margin-top: 10.5%;
            left: 60.5%;
          }
          &.akiko-2 {
            margin-top: 30%;
            left: 40.5%;
          }
          &.helen-1 {
            margin-top: 5.5%;
            left: 12%;
          }
          &.helen-2 {
            margin-top: 19.5%;
            left: 34.5%;
          }
        }
      }
    }

    &.see-4 {
      margin-top: 7%;

      .alt:not(:last-child) {
        margin-bottom: 6%;
      }

      .legend {
        margin-top: 7%;
      }

      .phrase-alts {
        grid-template-columns: 1fr 1fr;
      }

      .phrases-section {
        margin-bottom: 8%;
      }

      .phrase-wrapper:not(:last-child) {
        margin-bottom: 4%;
      }

      .conversation {
        .conv-1 {
          margin-top: 5%;
          display: grid;
          grid-template-columns: 1fr min-content;

          .phrases-wrapper {
            margin-left: 28%;
            margin-top: 1%;
          }

          .phrase:not(:last-child) {
            margin-right: clamp(10px, 3vw, 20px);
          }
        }
      }
    }
  }

  .try-content {
    &.try-1,
    &.try-2,
    &.try-3 {
      margin-top: 6%;
    }

    &.try-1 {
      .combinations {
        grid-template-columns: min-content 1fr 1fr;
        margin-top: 8%;

        & > div > .combination:first-child {
          margin-top: 12%;
        }

        & > div:last-child {
          margin-left: 4%;
        }

        .combination-icon {
          margin-top: 5%;
          margin-right: clamp(10px, 2vw, 20px);
          height: auto;
          width: clamp(80px, 30vw, 208.43px);
        }

        .combination {
          align-items: center;
          justify-content: center;
          margin-bottom: 13%;

          & > div:not(:last-child) {
            margin-right: 4%;
          }
        }
      }
    }

    &.try-2 {
      .choices-section {
        &:not(:last-child) {
          margin-bottom: 10%;
        }
        &.c-section-1 {
          margin-top: 14%;
        }

        .jap {
          font-family: $noto-sans;
          font-size: clamp(1px, 2vw, 13px);
          color: $subtext-color;
        }

        .chat-section {
          .chat {
            position: absolute;
            margin-top: 7.5%;
            margin-left: 10%;
          }

          .mb {
            margin-bottom: 4%;
          }

          img {
            margin-bottom: 5%;
          }
        }

        .div-choices {
          padding: 3% 2%;
          border-radius: clamp(1px, 1vw, 10px);
          border: 1px solid $primary-blue;
          background: #e7f3fa;
          font-family: $noto-sans;
          font-size: clamp(12px, 3.5vw, 18px);

          .oblong {
            margin-left: $side-margin;
            margin-right: $side-margin;
            position: absolute;
            left: 0.5%;
            margin-top: -2.5%;
            width: clamp(150px, 50vw, 288px);
          }

          ol {
            @extend .m-0;
            margin-block: 0;
            padding-inline: 6%;
            list-style-type: upper-alpha;
            li {
              @extend .fs-18;
              box-sizing: border-box;
              &::marker {
                font-weight: bold;
              }
              &:not(:last-child) {
                margin-bottom: 6%;
              }
            }
          }
        }
      }
    }
  }

  .act-1,
  .act-2 {
    margin-top: 7%;
  }
  .act-2 {
    margin-bottom: 50px;
  }

  .act-1 {
    .blue-line {
      margin-top: 5%;
      border-bottom: none;
    }

    .office-act-1 {
      margin-top: 11%;

      .speech {
        .eng {
          font-size: clamp(1px, 2.2vw, 14px);
        }

        &.akiko-1 {
          margin-top: 9%;
          left: 19.1%;
          .jap:nth-child(2) {
            margin-bottom: 6%;
          }
        }

        &.akiko-2 {
          margin-top: 65%;
          left: 16.1%;
          .eng:nth-child(1) {
            margin-bottom: 1%;
          }
          .jap:not(:last-child) {
            margin-bottom: 5%;
          }
        }
      }
    }
  }
  .chat-color {
    color: #2d356b;
  }
}
