@import '../../css/level3-utils';

.html-lesson-wrapper {
  .act-content {
    ul {
      list-style-type: '•';
      margin: 0;
      margin-left: 0.6em;
      margin-block: 0;
      padding-inline: 0;

      li {
        padding-inline-start: 1em;
      }
    }
  }
  .try-content {
    li {
      ul {
        list-style-type: '•';
        margin: 0;
        margin-left: 0.6em;
        margin-block: 0;
        padding-inline: 0;

        li {
          padding-inline-start: 1em;
        }
      }
    }
  }
}
