@import '../../css/_op-presentation-basics-utils';

.html-lesson-wrapper {
  table {
    border-collapse: collapse;
    width: 90%;
  }
  .biz-tip-content {
    table {
      tr th {
        text-align: left;
        padding-top: 5px;
        padding-bottom: 15px;
        span {
          position: absolute;
          margin-left: -3%;
        }
      }
      tr td {
        width: 47%;
        .arrow-part {
          width: 80%;
        }
      }
    }
  }
  .see-content {
    table {
      tr th {
        text-align: left;
        padding-bottom: 10px;
      }
      tr td {
        padding: 10px;
        min-height: 150px;
        margin-bottom: 5%;
        margin-right: 5%;
      }
      tr td.tdbreaker {
        border: none;
      }
    }
  }
  .try-content {
    table {
      tr th {
        text-align: center;
        background-color: #cc3366;
        color: #ffffff;
        padding: 5px;
        border: 1px solid #d8d8d8;
        border-collapse: collapse;
      }
      tr td {
        width: 20%;
        padding: 5px;
        border: 1px solid #d8d8d8;
        border-collapse: collapse;
      }
    }
  }
}
