@import '../../css/_op-presentation-basics-utils';

.html-lesson-wrapper {
  .see-content table {
    border-collapse: collapse;
    margin-left: -11px;
  }
  .see-content table p {
    top: -0.3em;
    padding: 0 !important;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  .biz-tip-content {
    table {
      tr th {
        text-align: left;
        padding-top: 5px;
        padding-bottom: 15px;
        span {
          position: absolute;
          margin-left: -3%;
        }
      }
      tr td {
        width: 47%;
        .arrow-part {
          width: 90%;
        }
      }
    }
  }
  .see-content {
    table {
      tr th {
        text-align: left;
        padding-bottom: 10px;
      }
      tr td {
        padding: 10px;
        min-height: 150px;
        margin-bottom: 5%;
        margin-right: 5%;
      }
      tr td.tdbreaker {
        border: none;
      }
    }
  }
  .try-content {
    table {
      tr th {
        text-align: center;
        background-color: #cc3366;
        color: #ffffff;
        padding: 5px;
        border: 1px solid #d8d8d8;
        border-collapse: collapse;
      }
      tr td {
        width: 20%;
        padding: 5px;
        border: 1px solid #d8d8d8;
        border-collapse: collapse;
      }
    }
  }
  @media screen and (min-width: 960px) {
    .section.see {
      margin-top: 5px;
    }
  }
  @media screen and (max-width: 428px) {
    .arrow-part:before {
      left: -4% !important;
    }
    .section.words {
      left: calc(-13.3% + 49px);
    }
    .biz-tip-content {
      .arrow-part:before {
        left: -4% !important;
      }
    }
    .see-content table {
      margin-left: -4px;
    }
    .try-content table {
      margin-left: 2px;
    }
    .try-content .sub-text {
      margin-left: 4px;
    }
    .act-content .sub-text {
      margin-left: -4px;
    }
    .try-content .p-1,
    .try-content .p-2,
    .try-content .p-3 {
      line-height: 1.8;
      margin-left: 4px;
    }
  }
  @media screen and (max-width: 360px) {
    .biz-tip-content {
      margin-top: 25%;
    }
  }
}
