@import '../../css/op-hotel-utils';

.html-lesson-wrapper {
  header {
    margin-bottom: 25%;
  }
  table {
    margin-left: 8px;
  }
  .lesson-number {
    left: 91.6% !important;
  }
  .part-content {
    .p1 {
      margin-top: clamp(3.8px, 1vw, 5.5px);
    }
    .p2 {
      margin-top: -2.8px;
    }
    .speaker-text {
      font-weight: bold !important;
    }
    ul {
      list-style-type: none !important;
    }
    position: relative;
    margin-left: $left-pixel;
    padding-left: 18.5px;
    padding-right: 42px;
    font-size: clamp(12px, 2vw, 15px);
    .part-1,
    .part-2 {
      margin-left: clamp(3px, 1vw, 7px);
      font-family: $title-font !important;
      font-weight: bold;
    }
    .part-2-content {
      margin-left: clamp(3px, 1vw, 7px);
      margin-bottom: clamp(50px, 15vw, 120px);
      line-height: 1.8;
    }
    margin-bottom: 50px;
  }
  .part-content {
    ul {
      list-style-type: square;
      margin-left: clamp(18px, 3vw, 24px);
      line-height: 1.8;
      li {
        margin-bottom: clamp(10px, 2vw, 20px);
      }
    }
    .try.p2 {
      margin-top: -2px !important;
    }
    .try.p2 {
      margin-top: -2px !important;
    }
    .part-2 {
      margin-left: 33px;
    }
    .part-2-content {
      margin-left: clamp(9px, 9vw, 33px);
    }
  }
  @media screen and (max-width: 500px) {
    .lesson-number {
      left: 91.3% !important;
    }
    .part-content {
      .p1,
      .p2 {
        letter-spacing: -0.8px;
      }
    }
  }
}
.html-lesson-wrapper footer .footer-text {
  bottom: -106px;
}

@media only screen and (min-width: 1600px) and (max-width: 1921px) {
  .html-lesson-wrapper footer .footer-text {
    bottom: -90px;
  }
}
@media screen and (max-width: 900px) {
  .html-lesson-wrapper {
    min-height: unset;
    .part-content {
      margin-top: clamp(20px, 3.7vw, 30px);
      padding-left: clamp(11px, 2.4vw, 18px);
    }
    footer {
      .footer-text {
        top: -5px;
      }
    }
  }
}
