@import '../../css/level3-utils';

.html-lesson-wrapper {
  .see-content {
    p:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  .try-content {
    ul.bulleted {
      color: #bc7d3e;
      list-style-type: '•';
      margin: 0;
      margin-left: 0.6em;
      margin-block: 0;
      padding-inline: 0;
      margin-bottom: 1em;

      li {
        padding-inline-start: 1em;
      }
    }
  }
  .act-content {
    ul {
      list-style-type: '•';
      margin: 0;
      margin-left: 0.6em;
      margin-block: 0;
      padding-inline: 0;

      li {
        padding-inline-start: 1em;
      }
    }
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    &:not(:last-child) {
      margin-bottom: 1em;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}
