$text-font: 'Trebuchet MS';
$noto-sans: 'Noto Sans', sans-serif;
$primary-blue: #1287cd;
$rank-green: #009c9a;
$primary-dark: #083051;
$primary-light: #cce0ec;
$jap-letter-spacing: 0px;
$subtext-color: #7f8288;
$side-margin: clamp(18px, 5vw, 32px);
$fs-16: clamp(11px, 2.7vw, 16px);
$s3: 'https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images';

body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  font-family: $text-font;
  width: 100%;
  min-width: 360px;
  max-width: 604px;
  min-height: 1596px;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url(#{$s3}/0-bg-header.png), url(#{$s3}/0-bg-footer.png);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;

  hr {
    border-top: 1px solid #dbdcdc;
  }
  .m-0 {
    margin: 0;
  }
  .flex {
    display: flex;
  }
  .img-responsive {
    width: 100%;
    height: auto;
  }
  .row {
    display: flex;
    flex-direction: row;
  }

  header {
    font-family: $noto-sans;
    display: flex;
  }
  .fs-16 {
    font-size: clamp(12px, 2.3vw, 16px);
  }
  .flip-horizontal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .noto-sans {
    font-family: $noto-sans;
  }
  .b {
    font-weight: bold;
  }
  .u-sup {
    border-bottom: solid 1.5px black;
    display: inline-block;
    line-height: clamp(6px, 1.5vw, 14px);
  }
  .u-blue {
    border-bottom: 1px solid $primary-blue;
  }
  .primary-blue {
    color: $primary-blue;
  }
  .program-rank {
    position: relative;
    color: #ffffff;
    font-size: 0px;
    margin-top: clamp(1px, 1vw, 3px);
    width: 100%;
    .type {
      padding: clamp(1px, 1vw, 4px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 4px) clamp(10px, 3vw, 17px);
      background-color: $primary-blue;
      font-size: clamp(7px, 1.8vw, 12px);
    }
    .level {
      padding: clamp(1px, 1vw, 4px) clamp(20px, 8.4vw, 59px) clamp(1px, 1vw, 4px) clamp(10px, 3vw, 33px);
      font-size: clamp(7px, 1.8vw, 12px);
      background: linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%), linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);
      background: -webkit-linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%), linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);
      background: -o-linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%), linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);
      background: -moz-linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%), linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);
      margin-left: -15px;
      width: 100%;
    }
  }
  .lesson-number {
    position: relative;
    float: right;
    right: 6.3%;
    font-size: clamp(14px, 3vw, 20px);
    color: #ffffff;
    margin-top: clamp(2px, 1vh, 10px);
    &.lesson-10 {
      right: 5.5%;
    }
  }
  // Title
  .title-section {
    position: absolute;
    top: clamp(30px, 8vw, 50px);
    background-color: $primary-blue;
    color: white;
    padding: clamp(15px, 2vw, 20px) clamp(25px, 4vw, 30px) clamp(9px, 2vw, 15px);
    width: 100%;
    box-sizing: border-box;
    font-family: $noto-sans;
    .title {
      font-size: clamp(13px, 3.6vw, 23px);
      margin-bottom: 4px;
    }
    .sub-title {
      font-size: clamp(10px, 2.3vw, 15px);
      letter-spacing: $jap-letter-spacing;
    }
  }
  .arrow {
    @extend .b;
    text-transform: uppercase;
    font-size: clamp(12px, 2.3vw, 16px);
    padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: $noto-sans;
  }
  .instructions {
    font-family: $noto-sans;
    position: absolute;
    padding: clamp(0px, 0.01vw, 3px) 0px;
    left: 28%;
    .title {
      font-size: clamp(9px, 2.9vw, 18px);
      color: #141821;
    }
    .sub-title {
      font-size: clamp(7px, 2vw, 13px);
      color: $subtext-color;
      letter-spacing: $jap-letter-spacing;
    }
  }
  // See-content
  .see-content {
    margin-left: $side-margin;
    margin-right: $side-margin;
    &.see-1 {
      margin-top: clamp(120px, 29vw, 183.2px);
    }
    &.see-2,
    &.see-3,
    &.see-4 {
      margin-top: clamp(20px, 5vw, 33px);
      & .legend {
        margin-top: clamp(25px, 5vw, 38px);
        margin-bottom: 1%;
      }
    }
    .arrow.see {
      @extend .b;
      text-transform: uppercase;
      color: $primary-blue;
      font-size: clamp(12px, 2.3vw, 16px);
      background-image: url(#{$s3}/0-see-arrow.png);
      padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
      background-repeat: no-repeat;
      background-size: contain;
      font-family: $noto-sans;
    }
  }
  .try-content {
    margin-left: $side-margin;
    margin-right: $side-margin;
    &.try-1 {
      margin-top: 32px;
    }
    &.try-2,
    &.try-3,
    &.try-4,
    &.try-5,
    &.try-6 {
      margin-top: 32px;
    }
    .arrow.try {
      color: white;
      background-image: url(#{$s3}/0-try-arrow.png);
    }
  }
  .act-content {
    margin-left: $side-margin;
    margin-right: $side-margin;
    &.act-1 {
      margin-top: 32px;
    }
    &.act-2 {
      margin-top: 32px;
    }
    .arrow.act {
      color: white;
      background-image: url(#{$s3}/0-act-arrow.png);
    }
  }

  .section-1-convo {
    margin-top: clamp(20px, 6vw, 40px);
    width: clamp(310px, 90vw, 540px);
    min-height: clamp(230px, 66vw, 391px);
    position: relative;
    background-position: top, bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(#{$s3}/0-C-9-section1.svg);
    .bubble-1 {
      position: absolute;
      top: 34%;
      left: 12%;
      .eng {
        font-weight: bold;
        font-size: clamp(8.4px, 2.3vw, 14px);
        font-family: $text-font;
      }
      .jap {
        font-family: $noto-sans;
        font-size: clamp(6.4px, 1.6vw, 11px);
        color: $subtext-color;
        letter-spacing: $jap-letter-spacing;
      }
    }
    .bubble-2 {
      position: absolute;
      top: 24%;
      left: 59.5%;
      .eng {
        font-family: $text-font;
        font-weight: bold;
        font-size: clamp(8.4px, 2.3vw, 14px);
      }
      .jap {
        font-family: $noto-sans;
        font-size: clamp(6.4px, 1.6vw, 11px);
        color: $subtext-color;
        letter-spacing: $jap-letter-spacing;
      }
    }
  }
  .section-2-content {
    margin-top: clamp(20px, 6vw, 40px);
    .wrapper-with-akiko {
      display: grid;
      grid-template-columns: clamp(90px, 20vw, 130px) 2fr;
      .akiko-image {
        width: 90px;
        height: clamp(70px, 23.1vw, 150px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/akiko-icon.svg);

        div {
          font-family: $noto-sans;
          font-weight: bold;
          padding-top: 110%;
          padding-left: 32%;
          font-size: clamp(11px, 3.5vw, 15px);
        }
      }
      .wrap-all-boxes {
        margin-top: clamp(12px, 3vw, 19px);
        left: 26%;
        position: absolute;
        font-family: $noto-sans;
        .wrap-for-flex {
          display: flex;
          .sales-piece {
            margin-right: 5px;
            font-size: clamp(10.5px, 2.3vw, 16px);
            text-align: center;
            background: url(#{$s3}/0-C-9-sales.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            padding: clamp(7px, 2vw, 10px) clamp(10px, 3vw, 17px);
          }
          .went-up-piece {
            font-size: clamp(10.5px, 2.3vw, 16px);
            padding-top: clamp(7px, 2vw, 10px);
            padding-left: clamp(11px, 3vw, 17px);
            padding-right: clamp(19.5px, 4.9vw, 28.5px);
            text-align: center;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(#{$s3}/0-C-9-went-up.jpg);
          }
          .million-piece {
            font-size: clamp(10.5px, 2.3vw, 16px);
            padding-top: clamp(7px, 2vw, 10px);
            padding-left: clamp(11px, 3vw, 17px);
            padding-right: clamp(19.5px, 4.9vw, 28.5px);
            text-align: center;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(#{$s3}/0-C-9-million-yen.jpg);
          }
        }
        .jap {
          font-size: clamp(9px, 2vw, 13px);
          color: $subtext-color;
          letter-spacing: 0px;
        }
      }
    }

    .section2-box-content {
      margin-top: clamp(10px, 5vw, 20px);
      .legend {
        margin-top: clamp(25px, 5vw, 38px);
        display: flex;
        font-family: $noto-sans;
      }
      .b1-legend {
        text-align: center;
        background: url(#{$s3}/0-C-9-sales.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        padding: clamp(7px, 2vw, 10px) clamp(10px, 3vw, 17px);
      }
      .b2-legend {
        padding-top: clamp(7px, 2vw, 10px);
        padding-left: clamp(11px, 3vw, 17px);
        margin-left: clamp(24.5%, 30vw, 28%);
        padding-right: clamp(17px, 5vw, 27px);
        text-align: center;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-C-9-went-up.jpg);
      }
      .b3-legend {
        margin-left: auto;
        text-align: center;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-C-9-million-yen.jpg);
        padding: clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px);
      }

      .legend {
        display: flex;
        & .eng {
          font-size: clamp(11px, 1.8vw, 16px);
        }
      }
      .phrase-alts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2px;
        font-family: $noto-sans;
        .alt-box {
          padding: 15px;
          border: 1px solid $primary-blue;
        }
        .alt {
          display: flex;
          align-items: baseline;
        }
        .alt:not(:last-child) {
          margin-bottom: 6px;
        }
        .choice {
          margin-left: clamp(5px, 1vw, 9px);
          p {
            margin: 0;
            font-family: $noto-sans;
          }
        }
        .choice-eng {
          font-size: clamp(10.3px, 1.8vw, 16px);
        }
        .choice-jap {
          font-size: clamp(9px, 2.2vw, 13px);
          letter-spacing: 0px;
          color: $subtext-color;
        }
        //number
        .number {
          @extend .b;
          border-radius: 50%;
          background: $primary-blue;
          color: white;
          margin: 0;
          text-align: center;
          line-height: clamp(13px, 4vw, 24px);
          font-family: $noto-sans;
          font-size: clamp(11px, 2vw, 16px);
          z-index: 1;
          width: clamp(18px, 4vw, 24px);
          height: clamp(18px, 4vw, 24px);
          min-width: clamp(18px, 4vw, 24px);
          display: grid;
          place-items: center;
        }
        .number-white {
          @extend .b;
          border-radius: 50%;
          background: white;
          color: $primary-blue;
          margin: 0;
          text-align: center;
          line-height: clamp(13px, 4vw, 24px);
          font-family: $noto-sans;
          font-size: clamp(11px, 2vw, 16px);
          z-index: 1;
          width: clamp(18px, 4vw, 24px);
          height: clamp(18px, 4vw, 24px);
          min-width: clamp(18px, 4vw, 24px);
          display: grid;
          place-items: center;
        }
        .third-box {
          background-color: #e7f3fa;
        }
        .letter {
          @extend .b;
          border: 2px solid $primary-blue;
          color: $primary-blue;
          margin: 0;
          text-align: center;
          line-height: clamp(13px, 4vw, 24px);
          font-family: $noto-sans;
          font-size: clamp(11px, 2vw, 16px);
          z-index: 1;
          width: clamp(18px, 4vw, 24px);
          height: clamp(18px, 4vw, 24px);
          display: grid;
          place-items: center;
        }
      }
    }
  }

  .try-1 {
    .try1-content {
      margin-top: clamp(25px, 7vw, 50px);
      margin-left: $side-margin;
      margin-right: $side-margin;
      display: flex;
      margin-top: clamp(25px, 7vw, 50px);
      margin-left: $side-margin;
      margin-right: $side-margin;
      .akiko-right-view {
        padding-right: 3vw;
        margin-left: -30px;
        margin-top: clamp(20px, 7vw, 30px);
        width: clamp(100px, 30vw, 191px);
        min-height: clamp(130px, 37vw, 211px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-akiko-icon.svg);
        transform: scaleX(-1);
      }
      .akiko-combinations {
        margin-top: 20px;
        .combinations {
          width: 60%;
          display: grid;
          grid-template-columns: auto auto;
          grid-gap: clamp(1.5rem, 6vw, 0.8rem);
          padding-right: clamp(40px, 4vw, 55px);
          .row {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            align-items: center;
            margin-bottom: 1.7vw;
            div {
              width: clamp(18px, 4vw, 24px);
              height: clamp(18px, 4vw, 24px);
              display: grid;
              place-items: center;
              font-family: $noto-sans;
              font-weight: bold;
              font-size: $fs-16;
            }
            .number-bg {
              background: $primary-blue;
              color: white;
              border-radius: 50%;
              font-size: $fs-16;
            }
            .letter {
              color: $primary-blue;
              border: 2px solid $primary-blue;
              font-size: $fs-16;
            }
            .number-outlined {
              color: $primary-blue;
              border-radius: 50%;
              border: 1px solid $primary-blue;
              font-size: $fs-16;
            }
            .text {
              color: $primary-blue;
              font-size: $fs-16;
              white-space: nowrap;
              display: flex;
            }
            img {
              width: clamp(10px, 3vw, 15px);
              height: clamp(10px, 3vw, 15px);
            }
          }
        }
      }
    }
  }

  .try-2 {
    .try2-content {
      margin-top: clamp(35px, 10vw, 60px);
      font-family: $noto-sans;
      .wrap-flex-content {
        margin-bottom: clamp(240px, 57vw, 370px);
        margin-left: 8px;
        position: relative;
        font-size: clamp(12px, 3vw, 18px);
        .number {
          color: $primary-blue;
          font-size: clamp(9.8px, 1.9vw, 16px);
        }
        .underline {
          text-decoration: underline;
          color: $primary-blue;
        }
        .first-row {
          margin-bottom: 15px;
          .text {
            margin-left: 10px;
          }
        }
        .second-row .text {
          margin-left: clamp(19px, 2.8vw, 25px);
        }
        .image-content1 {
          left: 5%;
          margin-top: 30px;
          width: clamp(280px, 70vw, 450px);
          height: 350px;
          position: absolute;
          background-position: top, bottom;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(#{$s3}/0-C-9-try2-image1-new.svg);
        }
        .image-content2 {
          left: 5%;
          margin-top: 30px;
          width: clamp(280px, 70vw, 450px);
          height: 350px;
          position: absolute;
          background-position: top, bottom;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(#{$s3}/0-C-9-try2-image2-new.svg);
        }
        .image-content3 {
          left: 5%;
          margin-top: 30px;
          width: clamp(280px, 70vw, 450px);
          height: 350px;
          position: absolute;
          background-position: top, bottom;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(#{$s3}/0-C-9-try2-image3-new.svg);
        }
        .image-content4 {
          left: 5%;
          margin-top: 30px;
          width: clamp(280px, 70vw, 450px);
          height: 350px;
          position: absolute;
          background-position: top, bottom;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(#{$s3}/0-C-9-try2-image4-new.svg);
        }
        .image-content5 {
          left: 5%;
          margin-top: 30px;
          width: clamp(280px, 70vw, 450px);
          height: 350px;
          position: absolute;
          background-position: top, bottom;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(#{$s3}/0-C-9-try2-image5-new.svg);
        }
      }
    }
  }

  .try-3 {
    .try-3-content {
      margin-top: clamp(35px, 9vw, 50px);
      font-family: $noto-sans;
      .wrap-flex-content {
        margin-bottom: clamp(230px, 55vw, 340px);
        margin-left: 8px;
        position: relative;
        font-size: clamp(12px, 3vw, 18px);
        .number {
          color: $primary-blue;
          font-size: clamp(9.8px, 1.9vw, 16px);
        }
        .underline {
          text-decoration: underline;
          color: $primary-blue;
        }
        .first-row {
          margin-bottom: 15px;
          .text {
            margin-left: 10px;
          }
        }
        .second-row .text {
          margin-left: clamp(19px, 2.8vw, 25px);
        }
        .image-content1 {
          left: 5%;
          margin-top: 30px;
          width: clamp(280px, 70vw, 450px);
          height: 350px;
          position: absolute;
          background-position: top, bottom;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(#{$s3}/0-C-9-try3-image1.svg);
        }
        .image-content2 {
          left: 5%;
          margin-top: 30px;
          width: clamp(280px, 70vw, 450px);
          height: 350px;
          position: absolute;
          background-position: top, bottom;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(#{$s3}/0-C-9-try3-image2.svg);
        }
        .image-content3 {
          left: 5%;
          margin-top: 30px;
          width: clamp(280px, 70vw, 450px);
          height: 350px;
          position: absolute;
          background-position: top, bottom;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(#{$s3}/0-C-9-try3-image3.svg);
        }
        .image-content4 {
          left: 5%;
          margin-top: 30px;
          width: clamp(280px, 70vw, 450px);
          height: 350px;
          position: absolute;
          background-position: top, bottom;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(#{$s3}/0-C-9-try3-image4.svg);
        }
      }
    }
  }

  .act-content {
    .act-1-content {
      .act-1-convo {
        margin-top: clamp(30px, 8vw, 50px);
        width: clamp(310px, 89vw, 540px);
        min-height: clamp(230px, 63vw, 380px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-C-9-act1-img.svg);
        .bubble-text {
          position: absolute;
          top: 68%;
          left: 49%;
          .eng {
            font-family: $text-font;
            font-weight: bold;
            font-size: clamp(8.2px, 2vw, 14px);
          }
          .jap {
            font-family: $noto-sans;
            font-size: clamp(6.1px, 1.5vw, 11px);
            color: $subtext-color;
            letter-spacing: $jap-letter-spacing;
          }
        }
      }
      .convo-text-content {
        font-family: $noto-sans;
        .add-margin {
          margin-top: 20px;
        }
        .akiko-lines {
          b {
            font-size: clamp(10px, 2.3vw, 16px);
          }
          .thank-you {
            font-size: clamp(10px, 2.3vw, 18px);
          }
          .line-under {
            font-size: clamp(11px, 2.5vw, 18px);
            margin-left: clamp(33.3px, 7.6vw, 54px);
          }
          .div-1 {
            margin-left: clamp(33.3px, 7.6vw, 54px);
            font-size: clamp(9px, 1.5vw, 13px);
            color: $subtext-color;
            letter-spacing: 0px;
            margin-top: 5px;
          }
          .div-english {
            margin-top: 20px;
            font-size: clamp(11px, 2.5vw, 18px);
            margin-left: clamp(33.3px, 7.6vw, 54px);
          }
        }
        .brenda-lines {
          margin-top: 20px;
          b {
            font-size: clamp(10px, 2.3vw, 16px);
          }
          .thank-you {
            font-size: clamp(11px, 2.5vw, 18px);
          }
          .line-under {
            font-size: clamp(11px, 2.5vw, 18px);
            margin-left: clamp(33.3px, 7.6vw, 54px);
          }
          .div-1 {
            margin-left: clamp(33.3px, 7.6vw, 54px);
            font-size: clamp(9px, 1.5vw, 13px);
            color: $subtext-color;
            letter-spacing: 0px;
            margin-top: 5px;
          }
          .div-eng {
            margin-top: 20px;
            font-size: clamp(11px, 2.5vw, 18px);
            margin-left: clamp(33.3px, 7.6vw, 54px);
          }
        }
      }
    }
  }

  .act-2 {
    .act-2-space {
      margin-bottom: 80px;
    }
  }

  @media only screen and (min-width: 150px) and(max-width: 442px) {
    .section-2-content .wrapper-with-akiko .akiko-image {
      margin-left: -20px !important;
    }
    .see-3-content .wrapper-with-akiko .akiko-image {
      margin-left: -20px !important;
    }
    .see-3-content .wrapper-with-helen .helen-image {
      margin-right: -20px !important;
    }
    .section-2-content .wrapper-with-akiko .wrap-all-boxes {
      margin-left: -7px !important;
    }
  }
}
