body {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}

.page-1,
.page-2,
.page-3 {
  width: 892px;
  height: 1262px;
  overflow: hidden;
  position: relative;
}

.bg {
  position: absolute;
  width: 892.75px;
  height: 1262.5px;
  z-index: -1;
}

.header {
  font-family: "Arial";
}

.b {
  font-weight: bold;
}

.i {
  font-family: italic;
}

.u-sup {
  border-bottom: solid 1.5px black;
  display: inline-block;
  line-height: 14px;
}

.program-rank {
  position: absolute;
  top: 41px;
  left: 62px;
  color: #ffffff;
  font-size: 15px;
}

.program-rank .level {
  margin-left: 25px;
}

.line {
  margin: 0 12px;
}

.title {
  position: absolute;
  top: 80px;
  left: 55px;
  font-size: 27px;
}

.lesson-number {
  position: absolute;
  min-width: 15px;
  left: 819px;
  top: 66px;
  font-size: 13px;
  text-align: center;
  color: #ffffff;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Trebuchet MS";
}

.sub-text {
  font-family: "Arial" !important;
}

.sub-head {
  position: absolute;
  top: 125px;
  left: 47px;
  width: 760px;
}

.sub-head .subtitle {
  font-family: "Noto Sans JP";
  color: #257A9E;
  font-weight: bold;
  font-size: 15px;
}

.sub-head p {
  margin: 3px auto;
}

.sub-head p:nth-child(n+3) {
  color: #257A9E;
  font-size: 12px;
  line-height: 22px;
}

.text {
  font-family: "Trebuchet MS";
}

.ja {
  font-family: "Noto Sans JP", sans-serif !important;
  font-size: 12.5px;
  font-weight: bold;
  color: #595959;
}

sup {
  font-size: 10px;
  line-height: 16px;
  display: inline-block;
}

.lesson-list {
  font-family: "Trebuchet MS";
  font-size: 15px;
  margin-top: 189px;
  margin-left: 149px;
}

.lesson-list ul {
  list-style-type: decimal;
  margin: 24.5px 0px 0px 18px;
  padding: 0;
  line-height: 26px;
  position: relative;
}

.lesson-list ul:before {
  content: '';
  position: absolute;
  left: -16px;
  top: 7px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 11px solid #000000;
  display: inline-block;
  vertical-align: middle;
}

.lesson-list ul.initial {
  margin-top: 30px;
}

.lesson-list ul .sub-text {
  margin-left: 4px;
}

.lesson-list li {
  padding-left: 9px;
}

.lesson-list p {
  margin: 0px 0px 0px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lesson-list p span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer {
  font-size: 9px;
  position: absolute;
  top: 1210px;
  left: 616px;
}

.title {
  top: 72px;
  left: 50px;
  word-spacing: 1px;
}

.title .ja {
  font-size: 27px;
  color: #000000;
  font-weight: bold;
  margin-right: 3px;
}

/* Page 2 */
.page-2 .lesson-list {
  margin-top: 260px;
}

.page-2 .sub-text.ja {
  margin: 8px 0px 0px 0px;
}

.page-2 ul .sub-text.ja {
  font-size: 14px;
  color: #257A9E;
  margin: 0px 0px 0px 4px;
}

.page-2 ul li span {
  display: block;
}

/* Page 3 */
.page-3 .lesson-list {
  margin-top: 210px;
}

.page-3 ul .sub-text.ja {
  font-size: 14px;
  color: #257A9E;
  margin: 0px 0px 0px 4px;
}

.page-3 ul li span {
  display: block;
}
