@import '../../css/_op-cross-culture-utils.scss';
.html-lesson-wrapper {
  .sub-text {
    margin-bottom: 20px !important;
  }
  @media screen and (max-width: 460px) {
    .content-table {
      margin-left: 9px !important;
    }
  }
  .table-container {
    @media only screen and (max-width: 660px) {
      width: 100%;
      overflow-x: auto !important;
    }
    .content-table {
      width: 100%;
      @media only screen and (max-width: 900px) {
        width: 95%;
      }
      p {
        line-height: 1.8 !important;
        padding: 5px !important;
      }
    }
  }
}
@media screen and (max-width: 390px) {
  .html-lesson-wrapper {
    .see-content {
      .see {
        margin-top: 2.5px !important;
      }
    }
    .try-content .try,
    .act-content .act {
      margin-top: 4.5px !important;
    }
  }
}
