@import '../../css/_op-executive-utils.scss';
$s4: './images';
.html-lesson-wrapper {
  .act-spacer {
    padding-bottom: 10rem;
    @media only screen and (max-width: 767px) {
      padding-bottom: 0;
    }
  }
  .footer-text {
    max-width: 40% !important;
  }
}
