@import '../../css/level1-B-utils';

.html-lesson-wrapper {
  .page-2{
    .title {
      margin-top: 1em;
      margin-left: 7%;
      font-size: clamp(12px, 3vw, 24px);
    }
    .lesson-number {
      margin-top: -10%;
      @media screen and (max-width: 900px){
        margin-top: -13%;
      }
  }
  }
}
.html-lesson-wrapper .page-3 .try-content span:first-of-type {
  width: 90%;
  display: block !important;
}