@import '../../css/level3-utils';

.html-lesson-wrapper {
  .try-content {
    table {
      margin-top: 0.5em;
      border-spacing: 0px;
      width: 100%;
      font-size: clamp(8px, 1.6vw, 11px);
      &::after {
        display: block;
        content: '';
        height: 0.5em;
      }
      th,
      td {
        word-wrap: break-word;
        border: 1px solid #ffffff;

        width: 1% !important;
      }
      th {
        background-color: #bc7d3e;
        color: #ffffff;
        padding: 0.5em;
      }
      td {
        text-align: left;
        padding: 0.5em;
        vertical-align: top;
      }
    }
    ul {
      list-style-type: '•';
      margin: 0;
      margin-left: 0.6em;
      margin-block: 0;
      padding-inline: 0;

      li {
        padding-inline-start: 1em;
      }
    }
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    &:not(:last-child) {
      margin-bottom: 1em;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}
