$text-font: 'Trebuchet MS';
$title-font: 'Arial';

$primary: #2078a0;
$primary-light: #d4e6f0;
$primary-dark: #267aa1;
$background-grey: #f2f2f2;

$left-pixel: clamp(50px, 14%, 126.5px);

body {
  margin: 0;
  padding: 0;
}
.html-lesson-wrapper {
  width: 100%;
  min-width: 360px;
  max-width: 100%;
  max-width: 892.75px;
  min-height: 1200px;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/bg-header.png'),
    url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/05-bg-footer.png');
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: $text-font;

  header {
    font-family: $title-font;
  }
  .b {
    font-weight: bold;
  }
  .i {
    font-family: italic;
  }
  .program-rank {
    position: absolute;
    top: 40px;
    left: 48px;
    color: #ffffff;
    font-size: 0px;

    .type {
      padding: 3px 16px 3px 14px;
      background-color: $primary;
      font-size: clamp(7px, 1.8vw, 15px);
    }
    .level {
      padding: 3px 12px 3px 13px;
      background-color: #996699;
      font-size: clamp(7px, 1.8vw, 15px);
    }
  }
  .line {
    margin: 0 12px;
  }
  .title {
    position: absolute;
    top: 80px;
    left: 55px;
    font-size: clamp(12px, 3vw, 27px);
  }
  .lesson-number {
    position: absolute;
    left: 91.65%;
    width: 1.9%;
    text-align: center;
    width: 1.9%;
    text-align: center;
    margin-top: 7.4%;
    font-size: clamp(7px, 1.8vw, 13px);
    color: #ffffff;
  }
  .row {
    display: flex;
    flex-direction: row;
  }
  .sub-text {
    font-family: $title-font !important;
    line-height: clamp(12px, 2.8vw, 22px);
    margin: 0 auto;
  }
  .section {
    position: absolute;
    left: calc(-16% + 52px);
    color: $primary;
    font-weight: bold;
    font-family: $title-font;
    top: 2px;
  }
  .divider {
    color: #d9d9d9;
    font-size: clamp(6px, 1.8vw, 15px);
    position: relative;
    left: 52%;

    &.d1 {
      margin-top: 8px;
    }
    &.d2 {
      margin-top: 28px;
    }
  }
  ul {
    margin: 3px 0px 0px 18px;
    padding: 0;
    line-height: clamp(12px, 3vw, 26px);

    li {
      padding-left: 8px;
    }
  }

  .see-content,
  .act-content,
  .try-content {
    position: relative;
    margin-left: $left-pixel;
    padding-left: 18.5px;
    padding-right: 60px;
    font-size: clamp(6px, 1.8vw, 15px);
  }

  /* Words and Phrases Content */
  .words-phrase-content {
    position: relative;
    margin-top: clamp(70px, 18%, 155px);
    padding-top: 2px;
    height: fit-content;
    padding-right: 60px;
    padding-left: $left-pixel;
    min-height: calc(min(145px, 18vw));
    background: $primary-light;
    font-size: clamp(6px, 1.8vw, 15px);

    .section {
      left: 55px;
      line-height: 1.8em;
      margin-top: clamp(10px, 2.6vw, 16px) !important;
    }

    .pointers {
      margin-top: clamp(12px, 2.8vw, 20px) !important;
      padding-left: 18.5px !important;
      p {
        margin-bottom: 1em;
      }

      .author {
        p {
          margin: 0 auto;
          &:first-child {
            color: $primary;
          }
          &:last-child {
            margin-left: 2%;
          }
        }
      }
    }
  }

  /* See */
  .see-content {
    margin-top: 36px;
    .article {
      margin-top: 5px;
      line-height: 1.7em;
      margin-bottom: 29px;

      span.highlight {
        color: $primary-dark;
        font-weight: bold;
      }
    }
  }

  /* Try */
  .try-content {
    margin-top: 30px;

    ul {
      list-style-type: decimal;
    }
  }

  /* Act */
  .act-content {
    margin-top: 36px;
    height: fit-content;
    p:not(.sub-text) {
      margin: 2px auto;
      line-height: clamp(12px, 3vw, 26px);
    }
  }

  footer {
    font-size: clamp(4.5px, 1.1vw, 9px);
    position: absolute;
    width: fit-content;
    text-align: right;
    bottom: 43px;
    right: 6.2%;
    font-family: $title-font;
    width: 35%;
    span{
      overflow-wrap: break-word;
      display:inline-block
    }
  }
}

@media screen and (max-width: 900px) {
  .html-lesson-wrapper {
    min-height: unset;
    section {
      padding-right: clamp(22px, 4.6vw, 60px) !important;
    }
    .see-content {
      margin-top: clamp(22px, 3.8vw, 36px);
      .article {
        margin-bottom: clamp(20px, 3.7vw, 29px);
      }
    }
    .try-content {
      margin-top: clamp(20px, 3.7vw, 30px);
      /* padding-left: clamp(11px, 2.4vw, 18px); */
      ul {
        margin-left: clamp(10px,2.7vw,35px)
      }
      li {
        padding-left: clamp(9px, 1.8vw, 13px);
      }
    }
    .act-content {
      margin-top: clamp(20px, 3.8vw, 36px);
    }
    footer {
      bottom: clamp(16px, 4.8vw, 43px);
      right: 5% !important;
      max-width: 35%;
    }
  }
}

@media screen and (max-width: 768px) {
  .html-lesson-wrapper {
    .program-rank {
      position: absolute;
      top: clamp(20px, 4vw, 40px);
      left: clamp(23px, 4vw, 48px);
    }
    .title {
      top: clamp(45px, 8.4vw, 80px);
      left: clamp(30px, 4.1vw, 55px);
    }
    .divider {
      &.d1,
      &.d2 {
        margin-top: clamp(18px, 3.4vw, 28px);
      }
    }
    .section {
      left: calc(-16% + 30px);
    }
    .section.words {
      left: clamp(30px, 4.1vw, 55px);
    }
  }
}

@media screen and (max-width: 600px) {
  .html-lesson-wrapper {
    .type {
      padding: 2px 8px 2px 7px !important;
    }
    .level {
      padding: 2px 6px 2px 7px !important;
    }
    .lesson-number {
      margin-top: 6.9%;
    }
    .line {
      margin: 0 6px;
      vertical-align: middle;
    }
  }
}

@media screen and (max-width: 375px) {
  .html-lesson-wrapper {
    .type {
      padding: 2px 8px 2px 7px !important;
    }
    .level {
      padding: 2px 6px 2px 7px !important;
    }
    .line {
      margin: 0 6px;
      vertical-align: middle;
    }
    .try-content{
      padding-left: 2.6em;
    }
    footer{
      bottom: 15px
    }
  }
}
@media screen and (max-width: 360px) {
  .html-lesson-wrapper {
    .see-content{
      ul{
        margin: 3px 0px 0px 2.4em;
        padding: 0;
        line-height: clamp(12px, 3vw, 26px);
      }
    }
    .try-content{
      padding-left: 2.7em;
      ul{
        margin-left: 1em;
        padding: 0;
        line-height: clamp(12px, 3vw, 26px);
      }
    }
    .lesson-number {
      margin-top: 7.2%;
    }
    footer {
      width: 100%;
      text-align: right;
    }
  }
}