body {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}

.page-1,
.page-2,
.page-3 {
  width: 892px;
  height: 1262px;
  overflow: hidden;
  position: relative;
}

.bg {
  position: absolute;
  width: 892.75px;
  height: 1262.5px;
  z-index: -1;
}

.header {
  font-family: "Arial";
}

.b {
  font-weight: bold;
}

.i {
  font-family: italic;
}

.u-sup {
  border-bottom: solid 1.5px black;
  display: inline-block;
  line-height: 14px;
}

.program-rank {
  position: absolute;
  top: 41px;
  left: 62px;
  color: #ffffff;
  font-size: 15px;
}

.program-rank .level {
  margin-left: 25px;
}

.line {
  margin: 0 12px;
}

.title {
  position: absolute;
  top: 80px;
  left: 55px;
  font-size: 27px;
}

.lesson-number {
  position: absolute;
  left: 823px;
  top: 66px;
  font-size: 13px;
  color: #ffffff;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Trebuchet MS";
}

.sub-text {
  font-family: "Arial" !important;
}

.section {
  position: absolute;
  left: 55px;
  color: #1f789f;
  font-weight: bold;
  font-size: 15px;
}

.section.see {
  top: 190px;
}

.section.try {
  top: 625px;
}

.section.act {
  top: 1085px;
}

.divider {
  color: #d9d9d9;
  font-size: 15px;
  position: absolute;
  left: 469px;
}

.divider.d1 {
  top: 573px;
}

.divider.d2 {
  top: 1032px;
}

.text {
  font-family: "Trebuchet MS";
}

.ja {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12.5px;
  font-weight: bold;
  color: #595959;
}

sup {
  font-size: 10px;
  line-height: 16px;
  display: inline-block;
}

/* See */
.see-content {
  margin-left: 144.5px;
  margin-top: 190px;
  font-size: 15px;
}

.see-content p {
  margin: 0 auto;
}

.see-content p:last-child {
  margin-bottom: 30px;
}

.see-content .col {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 48px;
  min-width: 310px;
  max-width: 310px;
}

.see-content .text {
  font-family: "Trebuchet MS";
  line-height: 26px;
  margin-top: 4px;
}

.see-content .text-title {
  font-family: "Trebuchet MS";
}

.see-content .example {
  margin-top: 25px;
}

.see-content .example .conversation {
  line-height: 26px;
  margin-top: 4px;
}

.see-content .example .sentence {
  margin-left: 23px;
}

/* Try */
.try-content {
  position: absolute;
  top: 625px;
  left: 144.5px;
  font-size: 15px;
}

.try-content ul {
  list-style-type: decimal;
  margin: 3px 0px 0px 18px;
  padding: 0;
  line-height: 26px;
  max-width: 300px;
}

.try-content li {
  padding-left: 13px;
}

.try-content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.try-content .name {
  position: relative;
  margin-top: 22px;
  margin-left: -5px;
}

.try-content .name div {
  width: 200px;
  margin-right: 40px;
}

.try-content .name div:nth-child(1) p:nth-child(1) {
  margin-left: 50px;
}

.try-content .name div:nth-child(2) {
  margin-right: 88px;
}

.try-content .name div:nth-child(2) p:nth-child(1) {
  margin-left: 62px;
}

.try-content .name div:nth-child(3) p:nth-child(1) {
  margin-left: 30px;
}

.try-content .name p {
  top: 22px;
}

.try-content .name p:nth-child(2) {
  margin-top: 160px;
}

/* Act */
.act-content {
  position: absolute;
  top: 1085px;
  left: 144.5px;
  font-size: 15px;
}

.act-content .sub-text {
  line-height: 22px;
}

.act-content ul {
  margin: 3px 0px 0px 18px;
  padding: 0;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 60px;
  width: 590px;
}

.act-content li {
  padding-left: 8px;
}

.footer {
  font-size: 9px;
  position: absolute;
  top: 1210px;
  left: 616px;
}

/* Page-2 */
.page-2 .title {
  top: 80px;
  left: 145px;
}

.page-2 .section.see {
  top: 587px;
}

.page-2 .see-content {
  margin-top: 592px;
  margin-left: 146px;
}

.page-2 .see-content .col {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 48px;
  max-width: 310px;
}

.page-2 .see-content .text p {
  margin-top: 27.5px;
}

.page-2 .see-content .text p:last-child {
  margin-bottom: 58px;
}

.page-2 .example {
  margin-top: -8px;
}

.page-2 .example .conversation {
  margin-top: 6px;
}

.page-2 .example .sentence {
  margin-left: 16px;
}

.page-2 .example .conversation div,
.page-2 .example .sentence div {
  margin-bottom: 24px;
}

/* Page 3 */
.page-3 .section.try {
  top: 170px;
}

.page-3 .try-content {
  top: 170px;
  left: 128px;
}

.page-3 .try-content ul {
  margin: 28px 0px 0px 15px;
}

.page-3 .try-content li {
  margin: 25px 0;
}

.page-3 .try-content .name {
  margin-top: 10px;
  margin-left: 10px;
}

.page-3 .try-content .name p:nth-child(2) {
  margin-top: 165px;
}

.page-3 .divider.d2 {
  top: 748px;
}

.page-3 .section.act {
  top: 800px;
}

.page-3 .act-content {
  top: 800px;
  left: 125px;
}

.page-3 .act-content ul {
  list-style-type: none;
  margin-top: 48px;
  height: 120px;
}

.page-3 .act-content li {
  margin: 13px 0;
  padding-left: 0px;
  width: 144px;
}

.page-3 .act-content .text {
  margin-left: 0px;
}
