body {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}

.page-1,
.page-2,
.page-3 {
  width: 892px;
  height: 1262px;
  overflow: hidden;
  position: relative;
}

.bg {
  position: absolute;
  width: 892.75px;
  height: 1262.5px;
  z-index: -1;
}

.b {
  font-weight: bold;
}

.i {
  font-family: italic;
}

.u-sup {
  border-bottom: solid 1.5px black;
  display: inline-block;
  line-height: 14px;
}

.program-rank {
  position: absolute;
  top: 41px;
  left: 62px;
  color: #ffffff;
  font-size: 15px;
}

.program-rank .level {
  margin-left: 25px;
}

.line {
  margin: 0 12px;
}

.title {
  position: absolute;
  top: 80px;
  left: 55px;
  font-size: 27px;
}

.lesson-number {
  position: absolute;
  left: 823px;
  top: 66px;
  font-size: 13px;
  color: #ffffff;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Trebuchet MS";
}

.sub-text {
  font-family: "Arial" !important;
}

.section {
  position: absolute;
  left: 55px;
  color: #1f789f;
  font-weight: bold;
  font-size: 15px;
}

.section.see {
  top: 190px;
}

.section.try {
  top: 650px;
}

.section.act {
  top: 1134px;
}

.divider {
  color: #d9d9d9;
  font-size: 15px;
  position: absolute;
  left: 469px;
}

.divider.d1 {
  top: 599px;
}

.divider.d2 {
  top: 1084px;
}

.sub-head {
  position: absolute;
  top: 125px;
  left: 47px;
}

.sub-head .subtitle {
  font-family: "Noto Sans JP";
  color: #257A9E;
  font-weight: bold;
  font-size: 15px;
}

.sub-head p {
  margin: 3px auto;
}

.text {
  font-family: "Trebuchet MS";
}

.ja {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12.5px;
  font-weight: bold;
  color: #595959;
}

sup {
  font-size: 10px;
  line-height: 16px;
  display: inline-block;
}

/* See */
.see-content {
  margin-left: 144.5px;
  margin-top: 190px;
  font-size: 15px;
}

.see-content .details {
  margin-top: 32px;
}

.see-content p {
  margin: 0 auto;
}

.see-content .col {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 14px;
  max-width: 220px;
}

.see-content .text {
  font-family: "Trebuchet MS";
  line-height: 26px;
  margin-top: 4px;
}

.see-content .text-title {
  font-family: "Trebuchet MS";
}

.see-content .example {
  margin-top: 55px;
}

.see-content .example .conversation {
  line-height: 26px;
  margin-top: 4px;
}

.see-content .example .conversation .row p {
  display: inline-block;
  margin: -0.5px 0px;
}

.see-content .example .conversation .row p:first-child {
  width: 52px;
  word-wrap: break-word;
}

.see-content .example .conversation .row p:last-child {
  max-width: 640px;
}

/* Try */
.try-content {
  position: absolute;
  top: 650px;
  left: 144.5px;
  font-size: 15px;
}

.try-content ul {
  list-style-type: decimal;
  margin: 3px 0px 0px 18px;
  padding: 0;
  line-height: 26px;
  max-width: 350px;
}

.try-content li {
  padding-left: 13px;
}

.try-content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.try-content .name {
  position: absolute;
  top: 124px;
}

.try-content .name p {
  position: absolute;
  max-width: 120px;
  text-align: right;
}

.try-content .name p:first-child {
  top: 92px;
  left: 0px;
}

.try-content .name p:nth-child(2) {
  top: 162px;
  left: 58px;
}

.try-content .name p:nth-child(3) {
  top: -95px;
  left: 390px;
}

.try-content .name p:nth-child(4) {
  top: 24px;
  left: 295px;
}

.try-content .name p:nth-child(5) {
  top: 129px;
  left: 372px;
}

.try-content .name p:nth-child(6) {
  top: -35px;
  left: 648px;
}

.try-content .sub-text.mg {
  position: absolute;
  top: 382px;
}

/* Act */
.act-content {
  position: absolute;
  top: 1134px;
  left: 144.5px;
  font-size: 15px;
  width: 720px;
}

.act-content .sub-text {
  line-height: 22px;
}

.act-content ul {
  list-style: none;
  margin: 3px 0px 0px 0px;
  padding: 0;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 20px;
  width: 590px;
}

.footer {
  font-size: 9px;
  position: absolute;
  top: 1210px;
  left: 532px;
}

/* Page 2 */
.page-2 .title {
  top: 72px;
  left: 50px;
  word-spacing: 3px;
}

.page-2 .title .ja {
  font-size: 27px;
  color: #000000;
  font-weight: bold;
  margin-right: 3px;
}

.page-2 .lesson-points {
  position: absolute;
  top: 188px;
  left: 47px;
  width: 678px;
}

.page-2 .lesson-points.ja {
  color: #257A9E;
  font-size: 12px;
  letter-spacing: 0.10px;
}

.page-2 .lesson-points div {
  margin-bottom: 12px;
}

.page-2 .lesson-points div p {
  margin: 2px auto;
}

.page-2 .lesson-points div p:first-child {
  color: #000000;
  font-size: 15px;
}

.page-2 .lesson-points p {
  line-height: 22px;
  margin: 12px auto;
}

.page-2 .arrow-part {
  position: absolute;
  top: 326px;
  left: 125px;
}

.page-2 .arrow-part .subtitle {
  font-size: 15px;
  color: #000000;
}

.page-2 .arrow-part p {
  margin: 4.5px auto;
  font-size: 12px;
}

.page-2 .arrow-part div {
  margin-bottom: 32px;
}

.page-2 .section.see {
  top: 582px;
}

.page-2 .see-content {
  margin-top: 588px;
  margin-left: 148px;
}

.page-2 .see-content .col {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 198px;
}

.page-2 .see-content .sub-text.ja {
  margin-top: 10px;
  font-size: 13px;
}

.page-2 .see-content .details {
  margin-top: 10px;
}

.page-2 .see-content .text {
  margin-top: 12px;
}

.page-2 .see-content .text .ja {
  color: #257A9E;
  margin: 5px auto;
}

.page-2 .example {
  margin-top: 10px;
  margin-left: -22px;
}

.page-2 .example .conversation {
  margin-top: 4px;
}

/* Page 3 */
.page-3 .section.try {
  top: 170px;
}

.page-3 .sub-head {
  top: 72px;
}

.page-3 .try-content {
  top: 170px;
  left: 128px;
}

.page-3 .try-content span:nth-child(-n+2) {
  display: block;
  margin-bottom: 5px;
}

.page-3 .try-content ul {
  list-style: none;
  margin: 24px 0px 0px 16px;
  counter-reset: ulCounter;
}

.page-3 .try-content ul li:not(.ja) {
  counter-increment: ulCounter;
  list-style: none;
}

.page-3 .try-content ul li:not(.ja):before {
  content: counter(ulCounter) ".";
  position: absolute;
  left: 0px;
}

.page-3 .try-content ul li.ja:before {
  content: '';
}

.page-3 .try-content ul li:nth-child(5) {
  margin-bottom: 0px;
}

.page-3 .try-content .name {
  top: 338px;
  left: 15px;
}

.page-3 .try-content .name p:first-child {
  left: 6px;
}

.page-3 .try-content .name p:nth-child(2) {
  top: 166px;
  left: 32px;
}

.page-3 .try-content .name p:nth-child(3) {
  top: -100px;
  left: 348px;
}

.page-3 .try-content .name p:nth-child(4) {
  top: 8px;
  left: 332px;
}

.page-3 .try-content .name p:nth-child(5) {
  top: 112px;
  left: 260px;
}

.page-3 .try-content .name p:nth-child(6) {
  text-align: left;
  top: -28px;
  left: 650px;
}

.page-3 .try-content .name p:nth-child(6) span {
  text-align: left;
}

.page-3 .try-content .name p span {
  text-align: right;
  min-width: 90px;
}

.page-3 .try-content .sub-text.mg {
  top: 611px;
}

.page-3 .divider.d2 {
  top: 857px;
}

.page-3 .section.act {
  top: 904px;
}

.page-3 .act-content {
  top: 904px;
  left: 125px;
}

.page-3 .act-content p.ja {
  margin: 8px 0px;
}

.page-3 .act-content ul {
  margin: 26px 0px 0px 16px;
  height: 200px;
}

.page-3 .act-content ul li {
  padding-left: 16px;
}

.page-3 .act-content ul li:nth-child(odd) {
  list-style-type: disc;
}
