body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  font-family: "Trebuchet MS";
  width: 100%;
  min-width: 360px;
  max-width: 604px;
  min-height: 1596px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-bg-header.png), url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-bg-footer.png);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.html-lesson-wrapper hr {
  border-top: 1px solid #dbdcdc;
}
.html-lesson-wrapper .m-0 {
  margin: 0;
}
.html-lesson-wrapper .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.html-lesson-wrapper .img-responsive {
  width: 100%;
  height: auto;
}
.html-lesson-wrapper .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.html-lesson-wrapper header {
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .fs-16 {
  font-size: clamp(12px, 2.3vw, 16px);
}
.html-lesson-wrapper .flip-horizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.html-lesson-wrapper .noto-sans {
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .b, .html-lesson-wrapper .see-3 .see-3-content .phrase-alts .letter, .html-lesson-wrapper .see-3 .see-3-content .phrase-alts .number, .html-lesson-wrapper .see-2 .section2-box-content .phrase-alts .letter, .html-lesson-wrapper .see-2 .section2-box-content .phrase-alts .number, .html-lesson-wrapper .see-2 .section2-content .icon, .html-lesson-wrapper .see-content .arrow.see, .html-lesson-wrapper .arrow {
  font-weight: bold;
}
.html-lesson-wrapper .u-sup {
  border-bottom: solid 1.5px black;
  display: inline-block;
  line-height: clamp(6px, 1.5vw, 14px);
}
.html-lesson-wrapper .u-blue {
  border-bottom: 1px solid #1287cd;
}
.html-lesson-wrapper .primary-blue {
  color: #1287cd;
}
.html-lesson-wrapper .program-rank {
  position: absolute;
  color: #ffffff;
  font-size: 0px;
  margin-top: clamp(1px, 1vw, 3px);
}
.html-lesson-wrapper .program-rank .type {
  padding: clamp(1px, 1vw, 4px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 4px) clamp(10px, 3vw, 17px);
  background-color: #1287cd;
  font-size: clamp(7px, 1.8vw, 12px);
}
.html-lesson-wrapper .program-rank .level {
  padding: clamp(1px, 1vw, 4px) clamp(20px, 8.4vw, 59px) clamp(1px, 1vw, 4px) clamp(10px, 3vw, 33px);
  font-size: clamp(7px, 1.8vw, 12px);
  background: linear-gradient(125deg, #1287cd 6%, rgba(0, 0, 0, 0) 0%), linear-gradient(125deg, #009c9a 90%, rgba(0, 0, 0, 0) 0%);
  background: -moz-linear-gradient(125deg, #1287cd 6%, rgba(0, 0, 0, 0) 0%), linear-gradient(125deg, #009c9a 90%, rgba(0, 0, 0, 0) 0%);
  margin-left: -15px;
  width: 100%;
}
.html-lesson-wrapper .lesson-number {
  position: absolute;
  right: 6%;
  text-align: center;
  font-size: clamp(14px, 4vw, 26px);
  color: #ffffff;
}
.html-lesson-wrapper .title-section {
  position: absolute;
  top: clamp(30px, 8vw, 50px);
  background-color: #1287cd;
  color: white;
  padding: clamp(15px, 2vw, 20px) clamp(25px, 4vw, 30px) clamp(9px, 2vw, 15px);
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.html-lesson-wrapper .title-section .title {
  font-size: clamp(16px, 4vw, 26px);
  padding-bottom: clamp(5px, 2.8vw, 10px);
}
.html-lesson-wrapper .title-section .sub-title {
  font-size: clamp(10px, 2.3vw, 15px);
  letter-spacing: -1px;
}
.html-lesson-wrapper .arrow {
  text-transform: uppercase;
  font-size: clamp(12px, 2.3vw, 16px);
  padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .instructions {
  font-family: "Noto Sans", sans-serif;
  position: absolute;
  padding: clamp(0px, 0.01vw, 3px) 0px;
  left: 28%;
}
.html-lesson-wrapper .instructions .title {
  font-size: clamp(12px, 3.5vw, 18px);
  color: #141821;
}
.html-lesson-wrapper .instructions .sub-title {
  font-size: clamp(9px, 2vw, 13px);
  color: #7f8288;
  letter-spacing: -0.9px;
}
.html-lesson-wrapper .see-content {
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
}
.html-lesson-wrapper .see-content.see-1 {
  margin-top: clamp(110px, 28vw, 173.2px);
}
.html-lesson-wrapper .see-content.see-2, .html-lesson-wrapper .see-content.see-3, .html-lesson-wrapper .see-content.see-4 {
  margin-top: clamp(20px, 5vw, 33px);
}
.html-lesson-wrapper .see-content.see-2 .legend, .html-lesson-wrapper .see-content.see-3 .legend, .html-lesson-wrapper .see-content.see-4 .legend {
  margin-top: clamp(25px, 5vw, 38px);
}
.html-lesson-wrapper .see-content .arrow.see {
  text-transform: uppercase;
  color: #1287cd;
  font-size: clamp(12px, 2.3vw, 16px);
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-see-arrow.png);
  padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .try-content {
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
}
.html-lesson-wrapper .try-content.try-1 {
  margin-top: 32px;
}
.html-lesson-wrapper .try-content.try-2, .html-lesson-wrapper .try-content.try-3, .html-lesson-wrapper .try-content.try-4 {
  margin-top: 32px;
}
.html-lesson-wrapper .try-content .arrow.try {
  color: white;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-try-arrow.png);
}
.html-lesson-wrapper .act-content {
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
}
.html-lesson-wrapper .act-content.act-1 {
  margin-top: 32px;
}
.html-lesson-wrapper .act-content.act-2 {
  margin-top: 32px;
}
.html-lesson-wrapper .act-content .arrow.act {
  color: white;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-act-arrow.png);
}
.html-lesson-wrapper .section-1-convo {
  margin-top: 30px;
  width: 100%;
  min-height: clamp(230px, 60vw, 380px);
  position: relative;
  background-position: top, bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-B-3-See1.svg);
}
.html-lesson-wrapper .section-1-convo .s1-bubble1 {
  margin-left: clamp(37px, 10vw, 60px);
  margin-top: clamp(8px, 3.3vw, 20px);
  width: clamp(105px, 29.5vw, 178px);
  min-height: clamp(38px, 9.5vw, 58px);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.html-lesson-wrapper .section-1-convo .s1-bubble1 .bubble1-text {
  padding-top: clamp(12px, 2vw, 16px);
  padding-left: clamp(12px, 1.6vw, 15px);
  padding-bottom: clamp(5.2px, 2.6vw, 15px);
  padding-right: clamp(6px, 1.6vw, 15px);
  position: absolute;
  display: block;
}
.html-lesson-wrapper .section-1-convo .s1-bubble1 .bubble1-text .eng {
  width: 105%;
  font-weight: bold;
  font-size: clamp(5px, 1.8vw, 14px);
}
.html-lesson-wrapper .section-1-convo .s1-bubble1 .bubble1-text .jap {
  font-size: clamp(6px, 1.5vw, 11px);
  color: #7f8288;
  letter-spacing: -1px;
}
.html-lesson-wrapper .section-1-convo .s1-bubble2 {
  left: 51.3%;
  margin-top: clamp(25px, 7vw, 40px);
  width: clamp(118px, 33vw, 198px);
  min-height: clamp(31px, 9vw, 65px);
  position: absolute;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.html-lesson-wrapper .section-1-convo .bubble2-text {
  padding-top: clamp(1px, 2vw, 12px);
  padding-left: clamp(9px, 3vw, 15px);
  padding-bottom: clamp(0.2px, 1vw, 15px);
  padding-right: clamp(6px, 2.2vw, 15px);
  font-size: clamp(8px, 2vw, 14px);
}
.html-lesson-wrapper .section-1-convo .bubble2-text .eng {
  width: 107%;
  font-weight: bold;
  font-size: clamp(8px, 2vw, 14px);
}
.html-lesson-wrapper .section-1-convo .bubble2-text .jap {
  width: 115%;
  font-size: clamp(6px, 1.5vw, 11px);
  color: #7f8288;
  letter-spacing: -1px;
}
.html-lesson-wrapper .section-1-convo .s1-name span {
  position: absolute;
  left: 11%;
  margin-top: clamp(125px, 36.3vw, 220px);
  border-radius: 7px;
  padding-top: clamp(0.2px, 1vw, 6.5px);
  padding-left: clamp(6px, 2vw, 13.5px);
  padding-bottom: clamp(0.2px, 1vw, 6.5px);
  padding-right: clamp(6px, 2vw, 13.5px);
  background-color: #ffffff;
  font-size: clamp(6px, 2vw, 10px);
  border-style: solid;
  border-color: #d0d2d3;
  border-width: 0.5px;
  color: #2d356b;
}
.html-lesson-wrapper .section-1-convo .s2-name span {
  position: absolute;
  color: #2d356b;
  left: 52%;
  margin-top: clamp(118px, 32.3vw, 200px);
  border-radius: 7px;
  padding-top: clamp(0.2px, 1vw, 6.5px);
  padding-left: clamp(6px, 2vw, 13.5px);
  padding-bottom: clamp(0.2px, 1vw, 6.5px);
  padding-right: clamp(6px, 2vw, 13.5px);
  background-color: #ffffff;
  font-size: clamp(6px, 2vw, 10px);
  border-style: solid;
  border-color: #d0d2d3;
  border-width: 0.5px;
}
.html-lesson-wrapper .see-2 .section2-content {
  margin-top: clamp(25px, 7vw, 50px);
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
}
.html-lesson-wrapper .see-2 .section2-content .section2-first-row .text-with-akiko {
  grid-template-columns: 3fr 70px;
  display: grid;
}
.html-lesson-wrapper .see-2 .section2-content .section2-first-row .text-with-akiko .wrapper-with-akiko {
  padding-left: clamp(35px, 6.7vw, 55px);
}
.html-lesson-wrapper .see-2 .section2-content .section2-first-row .box-1 {
  font-size: clamp(11px, 1.8vw, 16px);
  background-color: #ffb3b0;
  width: clamp(120px, 30vw, 192px);
  padding-top: clamp(5px, 1.5vw, 9px);
  padding-bottom: clamp(5px, 1.5vw, 9px);
  border-radius: 3px;
  text-align: center;
}
.html-lesson-wrapper .see-2 .section2-content .section2-first-row .text-1 {
  font-size: clamp(8px, 1.9vw, 13px);
  position: absolute;
  margin-top: clamp(-18px, -1.6vw, -5px);
  color: #7f8288;
  letter-spacing: -1px;
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .see-2 .section2-content .section2-first-row .section-2-with-akiko {
  display: grid;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
}
.html-lesson-wrapper .see-2 .section2-content .section2-first-row .f2-c1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 32px;
  margin-top: 15px;
}
.html-lesson-wrapper .see-2 .section2-content .section2-first-row .f2-c1 .box-2 {
  width: clamp(70px, 20vw, 100px);
  background: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-yellow-piece.png);
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: clamp(7px, 2vw, 10px) 0;
  font-size: clamp(10px, 2.2vw, 16px);
}
.html-lesson-wrapper .see-2 .section2-content .section2-first-row .f2-c1 .box-3 {
  width: clamp(72px, 17vw, 115px);
  margin-left: clamp(4px, 2vw, 7px);
  font-size: clamp(10px, 2.2vw, 16px);
  background: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-piece-blue.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px);
}
.html-lesson-wrapper .see-2 .section2-content .section2-first-row .f2-c1 .text-2 {
  position: absolute;
  margin-top: clamp(30px, 8.7vw, 40px);
  color: #7f8288;
  font-size: clamp(8px, 1.9vw, 14px);
  letter-spacing: -1px;
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .see-2 .section2-content .icon {
  font-size: clamp(10px, 2vw, 14px);
  margin-top: -16px;
}
.html-lesson-wrapper .see-2 .section2-content .icon img {
  height: clamp(71px, 19vw, 100px);
  width: auto;
}
.html-lesson-wrapper .see-2 .section2-content .icon div {
  margin-top: clamp(8px, 2vw, 9px);
  margin-left: clamp(23px, 5.8vw, 36px);
}
.html-lesson-wrapper .see-2 .section2-box-content {
  margin-top: clamp(50px, 17vw, 70px);
}
.html-lesson-wrapper .see-2 .section2-box-content .legend {
  margin-top: clamp(25px, 5vw, 38px);
}
.html-lesson-wrapper .see-2 .section2-box-content .b1-legend {
  width: clamp(40px, 12vw, 75px);
  background: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-yellow-piece.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.html-lesson-wrapper .see-2 .section2-box-content .b2-legend {
  width: clamp(86px, 16vw, 131px);
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-piece-blue.png);
  font-size: clamp(10px, 2.2vw, 16px);
}
.html-lesson-wrapper .see-2 .section2-box-content .legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2px;
}
.html-lesson-wrapper .see-2 .section2-box-content .legend .eng {
  padding: clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px);
  font-size: clamp(11px, 1.8vw, 16px);
}
.html-lesson-wrapper .see-2 .section2-box-content .phrase-alts {
  display: grid;
  grid-template-columns: 1fr clamp(165px, 42vw, 272px);
  gap: 7px;
}
.html-lesson-wrapper .see-2 .section2-box-content .phrase-alts.half {
  grid-template-columns: 1fr 1fr;
}
.html-lesson-wrapper .see-2 .section2-box-content .phrase-alts .alt-box {
  padding: 15px;
  border: 1px solid #1287cd;
}
.html-lesson-wrapper .see-2 .section2-box-content .phrase-alts .alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.html-lesson-wrapper .see-2 .section2-box-content .phrase-alts .alt:not(:last-child) {
  margin-bottom: clamp(10px, 2vw, 20px);
}
.html-lesson-wrapper .see-2 .section2-box-content .phrase-alts .choice {
  margin-left: clamp(5px, 1vw, 9px);
}
.html-lesson-wrapper .see-2 .section2-box-content .phrase-alts .choice p {
  margin: 0;
  white-space: nowrap;
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .see-2 .section2-box-content .phrase-alts .choice-eng {
  font-size: clamp(10px, 2.5vw, 18px);
}
.html-lesson-wrapper .see-2 .section2-box-content .phrase-alts .choice-jap {
  font-size: clamp(6.7px, 2.3vw, 13px);
  letter-spacing: -0.5px;
  color: #7f8288;
}
.html-lesson-wrapper .see-2 .section2-box-content .phrase-alts .number {
  border-radius: 50%;
  background: #1287cd;
  color: white;
  margin: 0;
  text-align: center;
  width: clamp(13px, 4vw, 24px);
  height: clamp(13px, 4vw, 24px);
  line-height: clamp(13px, 4vw, 24px);
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(11px, 3vw, 16px);
  z-index: 1;
}
.html-lesson-wrapper .see-2 .section2-box-content .phrase-alts .letter {
  border: 2px solid #1287cd;
  color: #1287cd;
  font-family: "Noto Sans", sans-serif;
  width: clamp(11px, 4vw, 20px);
  height: clamp(11px, 4vw, 20px);
  line-height: clamp(11px, 4vw, 20px);
  font-size: clamp(11px, 3vw, 16px);
  text-align: center;
}
.html-lesson-wrapper .try-1 .try1-content {
  padding-left: clamp(4px, 10vw, 5px);
  margin-top: clamp(40px, 16vw, 100px);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-1 {
  margin-bottom: clamp(40px, 16vw, 50px);
  position: relative;
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-1 .number {
  color: #1287cd;
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-1 .trainer {
  font-size: clamp(11px, 3.3vw, 19px);
  margin-left: clamp(15px, 3vw, 30px);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-1 .you {
  margin-left: clamp(40px, 12vw, 77px);
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-1 .underline {
  margin-left: clamp(5px, 5vw, 5px);
  text-decoration: underline;
  color: #1287cd;
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-1 .bubble {
  margin-left: clamp(65px, 15vw, 110px);
  font-size: clamp(10px, 2.6vw, 21px);
  padding-top: clamp(20.4px, 6vw, 40px);
  padding-left: clamp(20px, 4vw, 40px);
  padding-bottom: clamp(7px, 2vw, 6px);
  padding-right: clamp(29px, 3vw, 6px);
  margin-top: clamp(20px, 3vw, 10px);
  text-align: center;
  width: clamp(200px, 40vw, 330px);
  color: #2d356b;
  min-height: clamp(60px, 50vw, 75px);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-B-3-AssetTime-Monday.svg);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-2 {
  margin-bottom: clamp(40px, 16vw, 50px);
  position: relative;
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-2 .number {
  color: #1287cd;
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-2 .trainer {
  font-size: clamp(11px, 3.3vw, 19px);
  margin-left: clamp(15px, 3vw, 30px);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-2 .you {
  margin-left: clamp(40px, 12vw, 77px);
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-2 .underline {
  margin-left: clamp(5px, 5vw, 5px);
  text-decoration: underline;
  color: black;
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-2 .bubble {
  margin-left: clamp(65px, 15vw, 110px);
  font-size: clamp(10px, 2.6vw, 21px);
  padding-top: clamp(20.4px, 6vw, 40px);
  padding-left: clamp(20px, 4vw, 40px);
  padding-bottom: clamp(7px, 2vw, 6px);
  padding-right: clamp(29px, 3vw, 6px);
  margin-top: clamp(20px, 3vw, 10px);
  text-align: center;
  width: clamp(200px, 40vw, 330px);
  color: #2d356b;
  min-height: clamp(60px, 50vw, 75px);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-B-3-AssetTime-Tuesday.svg);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-3 {
  margin-bottom: clamp(40px, 16vw, 50px);
  position: relative;
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-3 .number {
  color: #1287cd;
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-3 .trainer {
  font-size: clamp(11px, 3.3vw, 19px);
  margin-left: clamp(15px, 3vw, 30px);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-3 .you {
  margin-left: clamp(40px, 12vw, 77px);
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-3 .underline {
  margin-left: clamp(5px, 5vw, 5px);
  text-decoration: underline;
  color: black;
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-3 .bubble {
  margin-left: clamp(65px, 15vw, 110px);
  font-size: clamp(10px, 2.6vw, 21px);
  padding-top: clamp(20.4px, 6vw, 40px);
  padding-left: clamp(20px, 4vw, 40px);
  padding-bottom: clamp(7px, 2vw, 6px);
  padding-right: clamp(29px, 3vw, 6px);
  margin-top: clamp(20px, 3vw, 10px);
  text-align: center;
  width: clamp(200px, 40vw, 330px);
  color: #2d356b;
  min-height: clamp(60px, 50vw, 75px);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-B-3-AssetTime-NextMonday.svg);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-4 {
  margin-bottom: clamp(40px, 16vw, 50px);
  position: relative;
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-4 .number {
  color: #1287cd;
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-4 .trainer {
  font-size: clamp(11px, 3.3vw, 19px);
  margin-left: clamp(15px, 3vw, 30px);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-4 .you {
  margin-left: clamp(40px, 12vw, 77px);
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-4 .underline {
  margin-left: clamp(5px, 5vw, 5px);
  text-decoration: underline;
  color: black;
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-4 .bubble {
  margin-left: clamp(65px, 15vw, 110px);
  font-size: clamp(10px, 2.6vw, 21px);
  padding-top: clamp(20.4px, 6vw, 40px);
  padding-left: clamp(20px, 4vw, 40px);
  padding-bottom: clamp(7px, 2vw, 6px);
  padding-right: clamp(29px, 3vw, 6px);
  margin-top: clamp(20px, 3vw, 10px);
  text-align: center;
  width: clamp(200px, 40vw, 330px);
  color: #2d356b;
  min-height: clamp(60px, 50vw, 75px);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-B-3-AssetTime-Monday-2.svg);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-5 {
  margin-bottom: clamp(40px, 16vw, 50px);
  position: relative;
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-5 .number {
  color: #1287cd;
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-5 .trainer {
  font-size: clamp(11px, 3.3vw, 19px);
  margin-left: clamp(15px, 3vw, 30px);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-5 .you {
  margin-left: clamp(40px, 12vw, 77px);
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-5 .underline {
  margin-left: clamp(5px, 5vw, 5px);
  text-decoration: underline;
  color: black;
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-1 .try1-content .try-1-row-5 .bubble {
  margin-left: clamp(65px, 15vw, 110px);
  font-size: clamp(10px, 2.6vw, 21px);
  padding-top: clamp(20.4px, 6vw, 40px);
  padding-left: clamp(20px, 4vw, 40px);
  padding-bottom: clamp(7px, 2vw, 6px);
  padding-right: clamp(29px, 3vw, 6px);
  margin-top: clamp(20px, 3vw, 10px);
  text-align: center;
  width: clamp(200px, 40vw, 330px);
  color: #2d356b;
  min-height: clamp(60px, 50vw, 75px);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-B-3-AssetTime-Friday.svg);
}
.html-lesson-wrapper .try-2 .try2-content {
  padding-left: clamp(4px, 10vw, 5px);
  margin-top: clamp(40px, 16vw, 100px);
  margin-bottom: clamp(130px, 35vw, 100px);
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-1 {
  margin-bottom: clamp(50px, 40vw, 250px);
  position: relative;
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-1 .number {
  color: #1287cd;
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-1 .you {
  margin-left: clamp(15px, 3vw, 30px);
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-1 .underline {
  margin-left: clamp(1px, 1vw, 2px);
  text-decoration: underline;
  color: #1287cd;
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-1 .bubble {
  position: absolute;
  left: clamp(80px, 40vw, 200px);
  font-size: clamp(10px, 2.6vw, 21px);
  margin-top: clamp(20px, 5vw, 10px);
  text-align: center;
  width: clamp(60px, 50vw, 300px);
  min-height: clamp(70px, 40vw, 330px);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-B-2-AssetTry2-row-1.svg);
  margin-bottom: 100px;
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-1 .bubble .bubble-text {
  margin-top: clamp(1px, 1vw, -10px);
  margin-left: clamp(16px, 11vw, 70px);
  width: clamp(135px, 41vw, 250px);
  height: clamp(20px, 15vw, 150px);
  text-align: left;
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-1 .bubble .bubble-text .english {
  font-size: clamp(5px, 2.2vw, 14px);
  margin-left: clamp(2px, 3vw, 20px);
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-1 .bubble .bubble-text .jap {
  font-size: clamp(6px, 1.5vw, 11px);
  margin-left: clamp(2px, 3vw, 20px);
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-2 {
  margin-bottom: clamp(50px, 40vw, 250px);
  position: relative;
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-2 .number {
  color: #1287cd;
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-2 .you {
  margin-left: clamp(15px, 3vw, 30px);
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-2 .underline {
  margin-left: clamp(1px, 1vw, 2px);
  text-decoration: underline;
  color: #1287cd;
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-2 .bubble {
  position: absolute;
  left: clamp(80px, 40vw, 200px);
  font-size: clamp(10px, 2.6vw, 21px);
  margin-top: clamp(20px, 5vw, 10px);
  text-align: center;
  width: clamp(60px, 50vw, 300px);
  min-height: clamp(70px, 40vw, 330px);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-B-3-AssetTry2-row2.svg);
  margin-bottom: 100px;
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-2 .bubble .bubble-text {
  margin-top: clamp(1px, 1vw, -10px);
  margin-left: clamp(16px, 11.4vw, 70px);
  width: clamp(135px, 37.5vw, 250px);
  height: clamp(20px, 15vw, 150px);
  text-align: left;
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-2 .bubble .bubble-text .english {
  font-size: clamp(5px, 2.2vw, 14px);
  margin-left: clamp(2px, 3vw, 20px);
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-2 .bubble .bubble-text .jap {
  font-size: clamp(6px, 1.5vw, 11px);
  margin-left: clamp(2px, 3vw, 20px);
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-3 {
  margin-bottom: clamp(50px, 40vw, 250px);
  position: relative;
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-3 .number {
  color: #1287cd;
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-3 .you {
  margin-left: clamp(15px, 3vw, 30px);
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-3 .underline {
  margin-left: clamp(1px, 1vw, 2px);
  text-decoration: underline;
  color: #1287cd;
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-3 .bubble {
  position: absolute;
  left: clamp(80px, 40vw, 200px);
  font-size: clamp(10px, 2.6vw, 21px);
  margin-top: clamp(20px, 5vw, 10px);
  text-align: center;
  width: clamp(60px, 50vw, 300px);
  min-height: clamp(70px, 40vw, 330px);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-B-3-AssetTry2-row3.svg);
  margin-bottom: 100px;
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-3 .bubble .bubble-text {
  margin-top: clamp(1px, 1vw, -10px);
  margin-left: clamp(16px, 11.4vw, 70px);
  width: clamp(135px, 37.5vw, 250px);
  height: clamp(20px, 15vw, 150px);
  text-align: left;
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-3 .bubble .bubble-text .english {
  font-size: clamp(5px, 2.2vw, 14px);
  margin-left: clamp(2px, 3vw, 20px);
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-3 .bubble .bubble-text .jap {
  font-size: clamp(6px, 1.5vw, 11px);
  margin-left: clamp(2px, 3vw, 20px);
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-4 {
  margin-bottom: clamp(50px, 40vw, 250px);
  position: relative;
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-4 .number {
  color: #1287cd;
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-4 .you {
  margin-left: clamp(15px, 3vw, 30px);
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-4 .underline {
  margin-left: clamp(1px, 1vw, 2px);
  text-decoration: underline;
  color: #1287cd;
  font-size: clamp(11px, 3.3vw, 19px);
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-4 .bubble {
  position: absolute;
  left: clamp(80px, 40vw, 200px);
  font-size: clamp(10px, 2.6vw, 21px);
  margin-top: clamp(20px, 5vw, 10px);
  text-align: center;
  width: clamp(60px, 50vw, 300px);
  min-height: clamp(70px, 40vw, 330px);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-B-3-AssetTry2-row4.svg);
  margin-bottom: 100px;
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-4 .bubble .bubble-text {
  margin-top: clamp(1px, 1vw, -10px);
  margin-left: clamp(16px, 11.4vw, 70px);
  width: clamp(135px, 37.5vw, 250px);
  height: clamp(20px, 15vw, 150px);
  text-align: left;
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-4 .bubble .bubble-text .english {
  font-size: clamp(5px, 2.2vw, 14px);
  margin-left: clamp(2px, 3vw, 20px);
}
.html-lesson-wrapper .try-2 .try2-content .try-2-row-4 .bubble .bubble-text .jap {
  font-size: clamp(6px, 1.5vw, 11px);
  margin-left: clamp(2px, 3vw, 20px);
}
.html-lesson-wrapper .see-3 .see-3-content {
  padding-left: clamp(4px, 2vw, 2px);
  margin-top: clamp(30px, 8vw, 50px);
}
.html-lesson-wrapper .see-3 .see-3-content .nick-image {
  width: clamp(70px, 16.3vw, 120px);
  min-height: clamp(70px, 40vw, 120px);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-B-3-See3.svg);
}
.html-lesson-wrapper .see-3 .see-3-content .nick-image .name {
  position: absolute;
  margin-top: clamp(80px, 18vw, 135px);
  margin-left: clamp(25px, 5vw, 37px);
  font-size: clamp(8px, 2.8vw, 20px);
}
.html-lesson-wrapper .see-3 .see-3-content .wrap-phrase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}
.html-lesson-wrapper .see-3 .see-3-content .wrap-phrase .phrase-1 {
  margin-left: clamp(92px, 23vw, 170px);
  margin-bottom: clamp(30px, 4vw, 40px);
  display: block;
}
.html-lesson-wrapper .see-3 .see-3-content .wrap-phrase .phrase-1 .english {
  width: clamp(75px, 27vw, 150px);
  height: 20%;
  font-size: clamp(8px, 1.8vw, 16px);
  border-radius: 5px;
  padding: clamp(5px, 2vw, 6px) clamp(13px, 3vw, 17px);
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-B-3-piece-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.html-lesson-wrapper .see-3 .see-3-content .wrap-phrase .phrase-1 .jap {
  font-size: clamp(8px, 1.9vw, 13px);
  position: absolute;
  margin-top: clamp(-18px, -1.6vw, -5px);
  color: #7f8288;
  letter-spacing: -1px;
}
.html-lesson-wrapper .see-3 .see-3-content .wrap-phrase .phrase-2 {
  margin-left: clamp(20px, 10vw, 30px);
  margin-bottom: clamp(30px, 14vw, 100px);
  display: block;
}
.html-lesson-wrapper .see-3 .see-3-content .wrap-phrase .phrase-2 .english {
  width: clamp(10px, 5vw, 20px);
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-B-3-piece-2.svg);
  font-size: clamp(8px, 1.8vw, 16px);
  border-radius: 5px;
  padding: clamp(5px, 2vw, 6px) clamp(13px, 3vw, 17px);
  font-size: clamp(11px, 1.8vw, 16px);
  background-size: contain;
  background-repeat: no-repeat;
}
.html-lesson-wrapper .see-3 .see-3-content .wrap-phrase .phrase-2 .jap {
  font-size: clamp(8px, 1.9vw, 13px);
  position: absolute;
  margin-top: clamp(-18px, -1.6vw, -5px);
  color: #7f8288;
  letter-spacing: -1px;
}
.html-lesson-wrapper .see-3 .see-3-content .phrases-container {
  margin-top: clamp(50px, 16vw, 30px);
}
.html-lesson-wrapper .see-3 .see-3-content .legend {
  margin-top: clamp(25px, 5vw, 38px);
}
.html-lesson-wrapper .see-3 .see-3-content .yellow {
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-B-3-piece-1.svg);
  font-size: clamp(8px, 1.8vw, 16px);
  width: clamp(98px, 16vw, 153px);
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
}
.html-lesson-wrapper .see-3 .see-3-content .blue {
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-B-3-piece-2.svg);
  font-size: clamp(8px, 1.8vw, 16px);
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
}
.html-lesson-wrapper .see-3 .see-3-content .legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2px;
}
.html-lesson-wrapper .see-3 .see-3-content .legend .eng {
  padding: clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px);
  font-size: clamp(11px, 1.8vw, 16px);
}
.html-lesson-wrapper .see-3 .see-3-content .phrase-alts {
  display: grid;
  grid-template-columns: 1fr clamp(157px, 39vw, 230px);
  gap: 7px;
}
.html-lesson-wrapper .see-3 .see-3-content .phrase-alts.half {
  grid-template-columns: 1fr 1fr;
}
.html-lesson-wrapper .see-3 .see-3-content .phrase-alts .alt-box {
  padding: 15px;
  border: 1px solid #1287cd;
}
.html-lesson-wrapper .see-3 .see-3-content .phrase-alts .alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.html-lesson-wrapper .see-3 .see-3-content .phrase-alts .alt:not(:last-child) {
  margin-bottom: clamp(1px, 0.5vw, 20px);
}
.html-lesson-wrapper .see-3 .see-3-content .phrase-alts .choice {
  margin-left: clamp(5px, 1vw, 9px);
}
.html-lesson-wrapper .see-3 .see-3-content .phrase-alts .choice p {
  margin: 0;
  white-space: nowrap;
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .see-3 .see-3-content .phrase-alts .choice-eng {
  font-size: clamp(9px, 2.5vw, 18px);
}
.html-lesson-wrapper .see-3 .see-3-content .phrase-alts .choice-jap {
  font-size: clamp(6.7px, 1.8vw, 13px);
  letter-spacing: -0.9px;
  color: #7f8288;
}
.html-lesson-wrapper .see-3 .see-3-content .phrase-alts .number {
  border-radius: 50%;
  background: #1287cd;
  color: white;
  margin: 0;
  text-align: center;
  width: clamp(13px, 4vw, 24px);
  height: clamp(13px, 4vw, 24px);
  line-height: clamp(13px, 4vw, 24px);
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(11px, 3vw, 16px);
  z-index: 1;
}
.html-lesson-wrapper .see-3 .see-3-content .phrase-alts .letter {
  border: 2px solid #1287cd;
  color: #1287cd;
  font-family: "Noto Sans", sans-serif;
  width: clamp(11px, 4vw, 20px);
  height: clamp(11px, 4vw, 20px);
  line-height: clamp(11px, 4vw, 20px);
  font-size: clamp(11px, 3vw, 16px);
  text-align: center;
}
.html-lesson-wrapper .try-3 .try-3-content .conversation {
  margin-top: 30px;
  width: clamp(310px, 86vw, 540px);
  min-height: clamp(230px, 60vw, 380px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-convo-group.svg);
}
.html-lesson-wrapper .try-3 .try-3-content .conversation .akiko span {
  position: absolute;
  left: 15.7%;
  margin-top: clamp(100px, 26.8vw, 176px);
  border-radius: 7px;
  padding-top: clamp(0.2px, 1vw, 5px);
  padding-left: clamp(6px, 2vw, 12px);
  padding-bottom: clamp(0.2px, 1vw, 5px);
  padding-right: clamp(6px, 2vw, 12px);
  background-color: #ffffff;
  font-size: clamp(6px, 2vw, 10px);
  border-style: solid;
  border-color: #d0d2d3;
  border-width: 0.5px;
  color: #2d356b;
}
.html-lesson-wrapper .try-3 .try-3-content .conversation .helen span {
  position: absolute;
  color: #2d356b;
  left: 78.7%;
  margin-top: clamp(118px, 32.3vw, 206px);
  border-radius: 7px;
  padding-top: clamp(0.2px, 1vw, 5px);
  padding-left: clamp(6px, 2vw, 12px);
  padding-bottom: clamp(0.2px, 1vw, 5px);
  padding-right: clamp(6px, 2vw, 12px);
  background-color: #ffffff;
  font-size: clamp(6px, 2vw, 10px);
  border-style: solid;
  border-color: #d0d2d3;
  border-width: 0.5px;
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text {
  padding-top: clamp(1px, 1.2vw, 20px);
  margin-bottom: -70px;
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-1,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-2,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-3,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-4 {
  padding-bottom: 20px;
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-1 .convo-wrap-akiko,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-2 .convo-wrap-akiko,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-3 .convo-wrap-akiko,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-4 .convo-wrap-akiko {
  padding-bottom: clamp(10px, 1vw, 20px);
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-1 .convo-wrap-akiko .number-left,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-2 .convo-wrap-akiko .number-left,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-3 .convo-wrap-akiko .number-left,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-4 .convo-wrap-akiko .number-left {
  padding-right: 20px;
  color: #1288cd;
  font-size: clamp(10px, 2.1vw, 14px);
  font-weight: bold;
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-1 .convo-wrap-akiko .akiko-line-1,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-2 .convo-wrap-akiko .akiko-line-1,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-3 .convo-wrap-akiko .akiko-line-1,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-4 .convo-wrap-akiko .akiko-line-1 {
  font-size: clamp(10px, 2.1vw, 14px);
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-1 .convo-wrap-akiko .number-right,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-2 .convo-wrap-akiko .number-right,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-3 .convo-wrap-akiko .number-right,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-4 .convo-wrap-akiko .number-right {
  margin-left: 10px;
  padding: clamp(3.5px, 0.9vw, 3.6px) clamp(6.5px, 0.6vw, 5px);
  color: white;
  font-size: clamp(10px, 2.1vw, 14px);
  font-weight: bold;
  --size: clamp(13px, 2vw, 32px);
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  background: #1288cd;
  border-radius: 50%;
  text-align: center;
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-1 .convo-wrap-helen,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-2 .convo-wrap-helen,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-3 .convo-wrap-helen,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-4 .convo-wrap-helen {
  padding-bottom: clamp(10px, 1vw, 20px);
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-1 .convo-wrap-helen .number-left,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-2 .convo-wrap-helen .number-left,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-3 .convo-wrap-helen .number-left,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-4 .convo-wrap-helen .number-left {
  padding-right: 20px;
  color: white;
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-1 .convo-wrap-helen .helen-line,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-2 .convo-wrap-helen .helen-line,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-3 .convo-wrap-helen .helen-line,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-4 .convo-wrap-helen .helen-line {
  font-size: clamp(10px, 2.1vw, 14px);
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-1 .convo-wrap-helen .text-under,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-2 .convo-wrap-helen .text-under,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-3 .convo-wrap-helen .text-under,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-4 .convo-wrap-helen .text-under {
  margin-left: clamp(70px, 13vw, 84px);
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-1 .convo-wrap-akiko-last,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-2 .convo-wrap-akiko-last,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-3 .convo-wrap-akiko-last,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-4 .convo-wrap-akiko-last {
  padding-bottom: clamp(10px, 3vw, 20px);
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-1 .convo-wrap-akiko-last .number-left,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-2 .convo-wrap-akiko-last .number-left,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-3 .convo-wrap-akiko-last .number-left,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-4 .convo-wrap-akiko-last .number-left {
  padding-right: 20px;
  color: white;
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-1 .convo-wrap-akiko-last .akiko-line-2,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-2 .convo-wrap-akiko-last .akiko-line-2,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-3 .convo-wrap-akiko-last .akiko-line-2,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-4 .convo-wrap-akiko-last .akiko-line-2 {
  font-size: clamp(10px, 2.1vw, 14px);
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-1 .convo-wrap-akiko-last .letter-square,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-2 .convo-wrap-akiko-last .letter-square,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-3 .convo-wrap-akiko-last .letter-square,
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .convo-4 .convo-wrap-akiko-last .letter-square {
  margin-left: 10px;
  padding-left: clamp(3px, 0.3vw, 5px);
  padding-right: clamp(4px, 0.3vw, 5px);
  color: #1288cd;
  font-size: clamp(10px, 2.1vw, 14px) !important;
  font-weight: bold;
  --size: clamp(13px, 2vw, 32px);
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  background: white;
  border: 2.3px solid #1288cd;
  text-align: center;
}
.html-lesson-wrapper .act-1 .act-1-content .conversation {
  margin-top: 30px;
  width: clamp(310px, 86vw, 540px);
  min-height: clamp(230px, 60vw, 380px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-B-3-Act1.svg);
}
.html-lesson-wrapper .act-1 .act-1-content .conversation .bubble {
  margin-left: clamp(15px, 5vw, 19px);
  margin-top: clamp(5px, 2.3vw, 10px);
  width: clamp(170px, 43.4vw, 260px);
  min-height: clamp(130px, 50vw, 260px);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: clamp(12px, 4.3vw, 30px);
  padding-left: clamp(16px, 4.8vw, 45px);
  padding-bottom: clamp(5.2px, 2.6vw, 15px);
  padding-right: clamp(6px, 1.6vw, 15px);
}
.html-lesson-wrapper .act-1 .act-1-content .conversation .bubble .bubble-text .english {
  font-size: clamp(8px, 2vw, 14px);
}
.html-lesson-wrapper .act-1 .act-1-content .conversation .bubble .bubble-text .japanese {
  position: absolute;
  margin-top: -1px;
  font-size: clamp(6px, 1.5vw, 10px);
  color: #7f8288;
  letter-spacing: -0.5px;
}
.html-lesson-wrapper .act-1 .act-1-content .conversation .akiko span {
  position: absolute;
  left: 15.7%;
  margin-top: clamp(100px, 26.8vw, 176px);
  border-radius: 8px;
  padding-top: clamp(0.2px, 1vw, 5px);
  padding-left: clamp(6px, 2vw, 12px);
  padding-bottom: clamp(0.2px, 1vw, 5px);
  padding-right: clamp(6px, 2vw, 12px);
  background-color: #ffffff;
  font-size: clamp(6px, 2vw, 10px);
  border-style: solid;
  border-color: #d0d2d3;
  border-width: 0.5px;
  color: #2d356b;
}
.html-lesson-wrapper .act-1 .act-1-content .conversation .helen span {
  position: absolute;
  color: #2d356b;
  left: 78.7%;
  margin-top: clamp(118px, 32.3vw, 206px);
  border-radius: 8px;
  padding-top: clamp(0.2px, 1vw, 5px);
  padding-left: clamp(6px, 2vw, 12px);
  padding-bottom: clamp(0.2px, 1vw, 5px);
  padding-right: clamp(6px, 2vw, 12px);
  background-color: #ffffff;
  font-size: clamp(6px, 2vw, 10px);
  border-style: solid;
  border-color: #d0d2d3;
  border-width: 0.5px;
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text {
  margin-top: clamp(0px, 1.3vw, 20px);
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo2,
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo3,
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo4,
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo5 {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 20px;
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo2 .line,
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo3 .line,
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo4 .line,
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo5 .line {
  color: #141821;
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo2 .japanese,
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo3 .japanese,
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo4 .japanese,
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo5 .japanese {
  margin-left: clamp(50px, 10.9vw, 90px);
  font-size: clamp(8px, 1.7vw, 13px);
  color: #7f8288;
  letter-spacing: -1px;
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo .english {
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(10px, 2.3vw, 18px);
  margin-left: clamp(5px, 3vw, 10px);
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo .japanese {
  margin-left: clamp(50px, 10.9vw, 88px);
  font-size: clamp(8px, 1.7vw, 13px);
  color: #7f8288;
  letter-spacing: -1px;
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo1 .english {
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(10px, 2.3vw, 18px);
  margin-left: clamp(1px, 2vw, 1px);
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo1 .english .text-under {
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(10px, 2.3vw, 18px);
  margin-left: clamp(5px, 10vw, 63px);
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo1 .japanese {
  margin-left: clamp(50px, 10.9vw, 63px);
  font-size: clamp(8px, 1.7vw, 12px);
  color: #7f8288;
  letter-spacing: -1px;
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo1 .japanese .text-under1 {
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(10px, 2.3vw, 12px);
  margin-left: clamp(5px, 10vw, 63px);
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo2 .english {
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(10px, 2.3vw, 18px);
  margin-left: clamp(5px, 3vw, 10px);
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo2 .japanese {
  margin-left: clamp(50px, 10.9vw, 63px);
  font-size: clamp(8px, 1.7vw, 13px);
  color: #7f8288;
  letter-spacing: -1px;
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo3 .english {
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(10px, 2.3vw, 18px);
  margin-left: clamp(1px, 2vw, 1px);
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo3 .japanese {
  margin-left: clamp(50px, 10.9vw, 63px);
  font-size: clamp(8px, 1.7vw, 13px);
  color: #7f8288;
  letter-spacing: -1px;
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo4 .english {
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(10px, 2.3vw, 18px);
  margin-left: clamp(5px, 3vw, 10px);
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo4 .japanese {
  margin-left: clamp(50px, 10.9vw, 63px);
  font-size: clamp(8px, 1.7vw, 13px);
  color: #7f8288;
  letter-spacing: -1px;
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo5 .english {
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(10px, 2.3vw, 18px);
  margin-left: clamp(1px, 2vw, 1px);
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .convo5 .japanese {
  margin-left: clamp(50px, 10.9vw, 63px);
  font-size: clamp(8px, 1.7vw, 13px);
  color: #7f8288;
  letter-spacing: -1px;
}
.html-lesson-wrapper .act-2 .act-2-space {
  margin-bottom: 80px;
}