@import '../../css/level1-B-utils';

.html-lesson-wrapper .arrow-part .subtitle {
  font-size: clamp(6px, 1.8vw, 15px);
  color: #000000;
  margin-top: 2%;
}
.html-lesson-wrapper .arrow-part {
  .blueja {
    font-family: 'Noto Sans JP';
    color: #257a9e;
    font-size: clamp(5px, 1.5vw, 12px);
  }
}
.html-lesson-wrapper .arrow-part p {
  margin-block-end: 0em !important;
}

.html-lesson-wrapper .see-content .example .conversation .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 1fr;
  grid-template-columns: 0.2fr 1fr;
}