@import '../../css/_op-e-mail-writing-new-utils.scss';

.part-1{
    .dialogue{
        font-size: clamp(12px,2vw,15px) !important;
    }
}
.part-content{
    .section{
        width: clamp(3.1rem,16%,8rem);
    }
    .section,.sub-text{
        line-height: 1.8 !important;
    }
}
