@import '../../css/op-hotel-utils';

.html-lesson-wrapper {
  .lesson-number {
    left: 91.6% !important;
  }
  @media screen and (max-width: 500px) {
    .lesson-number {
      left: 91.3% !important;
    }
  }
  @media screen and (max-width: 320px) {
    .words-phrase-content {
      margin-top: 80px !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .html-lesson-wrapper .words-phrase-content {
    position: relative;
    margin-top: clamp(81px, 17.6%, 159px);
  }
}
