@import '../../css/op-interviewer-utils';

.html-lesson-wrapper{
.try {
       
    .tbl-container {
        
    @media only screen and (max-width: 450px) {
        width: 100%;
        overflow-x: auto !important;
        .content-table{
            width: 190% !important;
        }
      }
 }
}
}