@import '../../css/job-interview-basics.scss';

.html-lesson-wrapper {
    width: 100%;
    min-width: 360px;
    max-width: 892.75px;
    min-height: 960px;
  .see-content {
    .sub-text {
      margin-bottom: 5%;
    }
    table {
      td:first-child {
        width: 13%;
      }
    }
  }

  .try-content {
    .sub-text {
      margin-bottom: 2%;
    }
    table {
      td {
        padding: 1%;
      }
    }
    ol {
      margin: 0;
      margin-block: 0;
      padding-inline: 0;
      list-style-position: inside;
      li::marker {
        color: $magenta;
      }
      li {
        margin-bottom: 2%;
      }
    }
  }
}