@import '../../css/_op-telephone-basics-utils.scss';
.html-lesson-wrapper {
  .part-1 {
    ul.arrow-part-list {
      margin-left: 10px;
    }
  }
  ul.numbers {
    list-style: decimal;
    margin-left: 17px;
  }
  .part-content {
    .arrow-part {
      margin-left: 15px;
      &.black-arrow:before {
        margin-top: -3px;
      }
    }
  }

  .section {
    top: 6px;
  }

  @media screen and (max-width: 420px) {
    .section {
      top: 5px;
    }
    .part-content {
      .arrow-part {
        margin-left: 6px;
        &.black-arrow:before {
          margin-top: 3px !important;
        }
      }
    }
  }
}
