body {
  margin: 0;
  padding: 0;
}

.html-material-4c {
  width: 100%;
  min-width: 360px;
  max-width: 100%;
  max-width: 892.75px;
  min-height: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url("https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/bg-header.png"), url("https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/04-bg-footer.png");
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Trebuchet MS";
  /* Words and Phrases Content */
  /* Try */
  /* Act */
}
.html-material-4c .header {
  font-family: "Arial";
}
.html-material-4c .b {
  font-weight: bold;
}
.html-material-4c .i {
  font-family: italic;
}
.html-material-4c .fwb {
  font-weight: 600;
}
.html-material-4c .program-rank {
  position: absolute;
  top: 40px;
  left: 48px;
  color: #ffffff;
  font-size: 0px;
}
.html-material-4c .program-rank .type {
  padding: 3px 16px 3px 14px;
  background-color: #2078a0;
  font-size: clamp(7px, 1.8vw, 15px);
}
.html-material-4c .program-rank .level {
  padding: 3px 12px 3px 13px;
  background-color: #e56a62;
  font-size: clamp(7px, 1.8vw, 15px);
}
.html-material-4c .line {
  margin: 0 12px;
}
.html-material-4c .title {
  position: absolute;
  top: 80px;
  left: 55px;
  font-size: clamp(12px, 3vw, 27px);
}
.html-material-4c .lesson-number {
  position: absolute;
  left: 91.65%;
  margin-top: 7.4%;
  font-size: clamp(7px, 1.8vw, 13px);
  color: #ffffff;
}
.html-material-4c .row {
  display: flex;
  flex-direction: row;
}
.html-material-4c .sub-text {
  font-family: "Arial" !important;
  line-height: clamp(12px, 2.8vw, 22px);
  margin: 0 auto;
}
.html-material-4c .section {
  position: absolute;
  left: -71.5px;
  color: #2078a0;
  font-weight: bold;
  font-family: "Arial";
  top: 2px;
}
.html-material-4c .divider {
  color: #d9d9d9;
  font-size: clamp(6px, 1.8vw, 15px);
  position: relative;
  left: 52%;
}
.html-material-4c .divider.d1 {
  margin-top: 8px;
}
.html-material-4c .divider.d2 {
  margin-top: 28px;
}
.html-material-4c ul {
  margin: 3px 0px 0px 18px;
  padding: 0;
  line-height: clamp(12px, 3vw, 26px);
}
.html-material-4c ul li {
  padding-left: 8px;
}
.html-material-4c .see-content,
.html-material-4c .act-content,
.html-material-4c .try-content {
  position: relative;
  margin-left: clamp(50px, 14%, 126.5px);
  padding-left: 18.5px;
  padding-right: 42px;
  font-size: clamp(6px, 1.8vw, 15px);
}
.html-material-4c .words-phrase-content {
  position: relative;
  margin-top: clamp(70px, 18%, 155px);
  padding: 2px 0px 0px 47px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: clamp(24px, 7.6vw, 72px);
  padding-left: clamp(32px, 6vw, 47px);
  background: #d4e6f0;
  font-size: clamp(6px, 1.8vw, 15px);
}
.html-material-4c .words-phrase-content .section {
  margin-left: clamp(50px, 14%, 126.5px);
  line-height: 1.8em;
  margin-top: clamp(10px, 2.6vw, 18px) !important;
  max-width: 100px;
}
.html-material-4c .words-phrase-content .pointers {
  margin-top: clamp(12px, 2.8vw, 20px) !important;
  margin-left: clamp(50px, 14%, 126.5px);
}
.html-material-4c .words-phrase-content .pointers .arrow-part {
  position: relative;
}
.html-material-4c .words-phrase-content .pointers .arrow-part:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #2078a0;
  display: inline-block;
  vertical-align: middle;
}
.html-material-4c .words-phrase-content .pointers .arrow-part span {
  color: #267aa1;
  font-weight: bold;
}
.html-material-4c .see-content {
  margin-top: 36px;
}
.html-material-4c .see-content .article {
  margin-top: 5px;
  line-height: 1.7em;
  margin-bottom: 29px;
}
.html-material-4c .see-content .article span.highlight {
  color: #267aa1;
  font-weight: bold;
}
.html-material-4c .see-content .col {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 16px;
  position: relative;
}
.html-material-4c .see-content .col span.highlight {
  color: #267aa1;
  font-weight: bold;
}
.html-material-4c .see-content .col p {
  margin: 2px auto 24px;
}
.html-material-4c .see-content .col p.name {
  width: auto;
}
.html-material-4c .try-content {
  margin-top: 30px;
}
.html-material-4c .try-content ul {
  list-style-type: decimal;
}
.html-material-4c .act-content {
  margin-top: 36px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.html-material-4c .footer {
  font-size: clamp(4.5px, 1.1vw, 9px);
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  bottom: 43px;
  right: 6.2%;
  font-family: "Arial";
}

@media screen and (max-width: 900px) {
  .html-material-4c {
    min-height: unset;
  }
  .html-material-4c .see-content {
    margin-top: clamp(22px, 3.8vw, 36px);
  }
  .html-material-4c .see-content .article {
    margin-bottom: clamp(20px, 3.7vw, 29px);
  }
  .html-material-4c .try-content {
    margin-top: clamp(20px, 3.7vw, 30px);
    padding-left: clamp(11px, 2.4vw, 18px);
  }
  .html-material-4c .try-content ul {
    margin-left: clamp(11px, 2.4vw, 18px);
  }
  .html-material-4c .try-content li {
    padding-left: clamp(9px, 1.8vw, 13px);
  }
  .html-material-4c .act-content {
    margin-top: clamp(20px, 3.8vw, 36px);
  }
  .html-material-4c .footer {
    bottom: clamp(20px, 5.2vw, 43px);
    right: 5% !important;
  }
}
@media screen and (max-width: 768px) {
  .html-material-4c .program-rank {
    position: absolute;
    top: clamp(20px, 4vw, 40px);
    left: clamp(23px, 4vw, 48px);
  }
  .html-material-4c .title {
    top: clamp(45px, 8.4vw, 80px);
    left: clamp(30px, 4.1vw, 55px);
  }
  .html-material-4c .divider.d1, .html-material-4c .divider.d2 {
    margin-top: clamp(18px, 3.4vw, 28px);
  }
  .html-material-4c .section {
    left: calc(-16% + 30px);
  }
  .html-material-4c .section.words {
    left: calc(-14% + 30px);
  }
  .html-material-4c .arrow-part:before {
    left: -4.5% !important;
    top: 0.6vw !important;
  }
}
@media screen and (max-width: 600px) {
  .html-material-4c .type {
    padding: 2px 8px 2px 7px !important;
  }
  .html-material-4c .level {
    padding: 2px 6px 2px 7px !important;
  }
  .html-material-4c .line {
    margin: 0 6px;
    vertical-align: middle;
  }
  .html-material-4c .words-phrase-content .section {
    max-width: 50px;
  }
  .html-material-4c .arrow-part:before {
    border-left: 3.5px solid transparent !important;
    border-right: 3.5px solid transparent !important;
    border-top: 5.5px solid #2078a0 !important;
  }
}/*# sourceMappingURL=main.css.map */