@import '../../css/_op-bizmates-starter-utils.scss';
.html-lesson-wrapper {
  .mt-1 {
    margin-top: 2rem;
  }
  .mt-8 {
    @media only screen and (max-width: 767px) {
      margin-top: 1rem;
    }
  }
  #sample-lesson {
    position: relative;
    img {
      position: absolute;
      width: 65%;
      right: 23%;
      border: 1px solid $primary-gray;
      @media only screen and (max-width: 767px) {
        position: relative;
        width: 90%;
        right: 1px;
      }
    }
  }
}
footer {
  bottom: -45px;
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    bottom: -55px;
  }
}
