@import '../../css/level1-a-utils';

.html-lesson-wrapper {
  .shape {
    width: 100%;
  }

  .page-1 {
    .details {
      margin-top: 1.5em;
    }
    .shape {
      margin-top: -6em;
    }
    .act-content {
      .row {
        p {
          margin-right: 3em;
        }
      }
    }
  }
  .page-2 {
    .blue-section {
      .col {
        margin-right: 0.8em;
      }
      .text {
        margin-top: 1em;
        .ja {
          margin: 0.5em 0;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .page-3 {
    .act-content {
      .text {
        margin-top: 1.5em;
      }
    }
    .wrapper {
      margin-top: 1.5em;
    }
    .shape {
      margin-top: -2em;
    }
  }
  .blue-section {
    .col:not(:last-child) {
      margin-right: 1em;
    }
  }

  @media screen and (max-width: 900px) {
    .page-1,
    .page-3 {
      .shape {
        margin-top: 0;
      }
    }
  }
}
