$text-font: 'Trebuchet MS';
$title-font: 'Arial';
// $noto-sans: "Noto Sans JP";
$noto-sans: 'Noto Sans';

$primary-blue: #1287cd;
$rank-green: #009c9a;
$primary-dark: #083051;
$primary-light: #cce0ec;
$jap-letter-spacing: -1px;

$subtext-color: #7f8288;

$side-margin: clamp(18px, 5vw, 32px);

// $s3: "/level0-A/lesson-01/images";
$s3: '../../images';

body {
  margin: 0;
  padding: 0;
}

hr {
  border-top: 1px solid #dbdcdc;
}

.m-0 {
  margin: 0;
}

.flex {
  display: flex;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.html-lesson-wrapper .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.html-lesson-wrapper {
  font-family: $text-font;
  width: 100%;
  min-width: 360px;
  max-width: 604px;
  // min-height: 5000px;
  min-height: 1596px;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url(#{$s3}/0-bg-header.png), url(#{$s3}/0-bg-footer.png);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;

  header {
    font-family: $title-font;
  }

  .fs-16 {
    font-size: clamp(12px, 2.3vw, 16px);
  }
  .flip-horizontal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .noto-sans {
    font-family: $noto-sans;
  }
  .b {
    font-weight: bold;
  }
  .u-sup {
    border-bottom: solid 1.5px black;
    display: inline-block;
    line-height: clamp(6px, 1.5vw, 14px);
  }
  .u-blue {
    border-bottom: 1px solid $primary-blue;
  }
  .primary-blue {
    color: $primary-blue;
  }
  .program-rank {
    position: absolute;
    color: #ffffff;
    font-size: 0px;
    margin-top: clamp(1px, 1vw, 5px);

    .type {
      padding: clamp(1px, 1vw, 5px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 5px)
        clamp(10px, 2vw, 17px);
      background-color: $primary-blue;
      font-size: clamp(7px, 1.8vw, 12px);
    }
    .level {
      padding: clamp(1px, 1vw, 5px) clamp(20px, 4vw, 50px) clamp(1px, 1vw, 5px)
        clamp(10px, 2vw, 17px);
      font-size: clamp(7px, 1.8vw, 12px);
      background: linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -webkit-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -o-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -moz-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      margin-left: -15px;
      width: 100%;
    }
  }
  .line {
    margin: 0 12px;
  }
  .lesson-number {
    position: absolute;
    left: 91.3%;
    width: 1.9%;
    text-align: center;
    margin-top: 0.5%;
    font-size: clamp(20px, 2vw, 40px);
    color: #ffffff;
  }

  // Title
  .title-section {
    position: absolute;
    top: clamp(30px, 8vw, 50px);
    background-color: $primary-blue;
    color: white;
    padding: clamp(15px, 2vw, 20px) clamp(25px, 4vw, 30px) clamp(9px, 2vw, 15px);
    width: 100%;
    box-sizing: border-box;

    .title {
      font-size: clamp(16px, 4vw, 26px);
    }
    .sub-title {
      font-size: clamp(10px, 2.3vw, 15px);
      letter-spacing: $jap-letter-spacing;
    }
  }
  .arrow {
    @extend .b;
    text-transform: uppercase;
    font-size: clamp(12px, 2.3vw, 16px);
    padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: $noto-sans;
  }
  .instructions {
    font-family: $noto-sans;
    position: absolute;
    padding: clamp(0px, 0.01vw, 3px) 0px;
    left: 28%;

    .title {
      font-size: clamp(12px, 3.5vw, 18px);
      color: #141821;
    }
    .sub-title {
      font-size: clamp(9px, 2vw, 13px);
      color: $subtext-color;
      letter-spacing: $jap-letter-spacing;
    }
  }

  // See-content
  .see-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.see-1 {
      margin-top: clamp(110px, 28vw, 173.2px);
    }

    &.see-2,
    &.see-3,
    &.see-4 {
      margin-top: clamp(20px, 5vw, 33px);

      //see-content.legend
      & .legend {
        margin-top: clamp(25px, 5vw, 38px);
      }
    }

    .arrow.see {
      @extend .b;
      text-transform: uppercase;
      color: $primary-blue;
      font-size: clamp(12px, 2.3vw, 16px);
      background-image: url(#{$s3}/0-see-arrow.png);
      padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
      background-repeat: no-repeat;
      background-size: contain;
      font-family: $noto-sans;
    }
  }
  .try-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.try-1 {
      margin-top: 32px;
    }
    &.try-2,
    &.try-3,
    &.try-4 {
      margin-top: 32px;
    }

    .arrow.try {
      color: white;
      background-image: url(#{$s3}/0-try-arrow.png);
    }
  }
  .act-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.act-1 {
      margin-top: 32px;
    }
    &.act-2 {
      margin-top: 32px;
    }

    .arrow.act {
      color: white;
      background-image: url(#{$s3}/0-act-arrow.png);
    }
  }

  .section-1-convo {
    margin-top: 30px;
    width: clamp(310px, 86vw, 540px);
    min-height: clamp(230px, 60vw, 380px);
    position: relative;
    background-position: top, bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(#{$s3}/0-section1-convo.png);

    .s1-bubble1 {
      margin-left: clamp(15px, 5vw, 25px);
      margin-top: clamp(5px, 2.3vw, 10px);
      width: clamp(130px, 35vw, 230px);
      min-height: clamp(130px, 50vw, 230px);
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(#{$s3}/0-convo-bubble1.png);

      .bubble1-text {
        padding-top: clamp(-1px, 0.9vw, 290px);
        padding-left: clamp(10px, 1.6vw, 15px);
        padding-bottom: clamp(5.2px, 2.6vw, 15px);
        padding-right: clamp(6px, 1.6vw, 15px);

        b {
          font-size: clamp(8px, 2vw, 14px);
        }

        small {
          position: absolute;
          margin-top: clamp(-32px, 3.9vw, -3px);
          font-size: clamp(6px, 1.5vw, 10px);
          color: $subtext-color;
          letter-spacing: $jap-letter-spacing;
        }
      }
    }

    .s1-bubble2 {
      left: 52%;
      margin-top: clamp(5px, 2.3vw, 10px);
      width: clamp(140px, 38vw, 242px);
      min-height: 230px;
      position: absolute;
      background-position: top, bottom;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(#{$s3}/0-convo-bubble2.png);
    }

    .bubble2-text {
      padding-top: clamp(2.2px, 2.6vw, 15px);
      padding-left: clamp(6px, 3vw, 15px);
      padding-bottom: clamp(0.2px, 1vw, 15px);
      padding-right: clamp(6px, 2.2vw, 15px);

      font-size: clamp(8px, 2vw, 14px);

      .bubble2-text1 {
        font-size: clamp(7px, 3vw, 13px);
      }

      small {
        font-size: clamp(6px, 1.3vw, 10px);
        color: $subtext-color;
        letter-spacing: $jap-letter-spacing;
      }

      .jp-2 {
        position: absolute;
        margin-top: clamp(-1px, 1.4vw, -2px);
      }
    }

    .s1-bubble3 {
      left: 22%;
      margin-top: clamp(56px, 16.3vw, 100px);
      width: clamp(80px, 20vw, 140px);
      min-height: 140px;
      position: absolute;
      background-position: top, bottom;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(#{$s3}/0-convo-bubble3.png);
    }

    .bubble3-text {
      padding-top: clamp(3.2px, 1vw, 8px);
      padding-left: clamp(6px, 2vw, 12px);
      padding-bottom: clamp(0.2px, 1vw, 8px);
      padding-right: clamp(6px, 2.2vw, 8px);
      font-size: clamp(6.3px, 1.8vw, 13.6px);

      b {
        font-size: clamp(7.4px, 1.8vw, 14px);
      }

      small {
        position: absolute;
        margin-top: clamp(-32px, 2.1vw, -1px);
        font-size: clamp(6px, 1.3vw, 10px);
        color: $subtext-color;
        letter-spacing: $jap-letter-spacing;
      }
    }

    .s1-name {
      span {
        position: absolute;
        left: 11%;
        margin-top: clamp(125px, 36.3vw, 226px);
        border-radius: 8px;
        padding-top: clamp(0.2px, 1vw, 5px);
        padding-left: clamp(6px, 2vw, 12px);
        padding-bottom: clamp(0.2px, 1vw, 5px);
        padding-right: clamp(6px, 2vw, 12px);
        background-color: #ffffff;
        font-size: clamp(6px, 1vw, 10px);
        border-style: solid;
        border-color: #d0d2d3;
        border-width: 0.5px;
        color: #2d356b;
      }
    }

    .s2-name {
      span {
        position: absolute;
        color: #2d356b;
        left: 52%;
        margin-top: clamp(118px, 32.3vw, 200px);
        border-radius: 8px;
        padding-top: clamp(0.2px, 1vw, 5px);
        padding-left: clamp(6px, 2vw, 12px);
        padding-bottom: clamp(0.2px, 1vw, 5px);
        padding-right: clamp(6px, 2vw, 12px);
        background-color: #ffffff;
        font-size: clamp(6px, 1vw, 10px);
        border-style: solid;
        border-color: #d0d2d3;
        border-width: 0.5px;
      }
    }
  }

  .see-2 {
    .section2-content {
      padding-left: clamp(4px, 4vw, 50px);
      margin-top: clamp(25px, 7vw, 50px);

      .section2-first-row {
        .f1-c1 {
          display: absolute;
          margin-left: 50px;
          display: block;

          .box-1 {
            font-size: clamp(11px, 1.8vw, 19px);
            background-color: #ffb3b0;
            width: clamp(118px, 20vw, 185px);
            padding-top: clamp(3px, 1.5vw, 7px);
            padding-left: clamp(1px, 3.9vw, 17px);
            padding-bottom: clamp(3px, 1.5vw, 7px);
            padding-right: clamp(1px, 3.9vw, 17px);
            border-radius: 5px;
          }

          .text-1 {
            font-size: clamp(8px, 1.9vw, 14px);
            position: absolute;
            margin-top: clamp(-18px, -1.6vw, -5px);
            color: $subtext-color;
            letter-spacing: $jap-letter-spacing;
          }
        }

        .f2-c1 {
          display: inline-flex;

          margin-left: 50px;
          margin-top: 20px;

          .box-2 {
            padding-top: clamp(10.2px, 3vw, 15px);
            padding-left: clamp(6px, 2vw, 5px);
            font-size: clamp(10px, 2.2vw, 16px);
            width: clamp(83px, 18vw, 130px);
            min-height: clamp(40px, 15vw, 140px);
            position: absolute;
            background-position: top, bottom;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(#{$s3}/0-yellow-piece.png);
          }

          .box-3 {
            padding-top: clamp(10.2px, 3vw, 15px);
            padding-left: clamp(10px, 3vw, 15px);
            width: clamp(85.7px, 20vw, 135px);
            min-height: clamp(40px, 15vw, 140px);
            margin-left: clamp(97px, 21vw, 145px);
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(#{$s3}/0-piece-blue.png);
            font-size: clamp(10px, 2.2vw, 16px);
          }

          .text-2 {
            position: absolute;
            margin-top: clamp(40px, 8.7vw, 55px);
            color: $subtext-color;
            font-size: clamp(8px, 1.9vw, 14px);
            letter-spacing: $jap-letter-spacing;
          }
        }
      }

      .section2-akiko {
        margin-left: clamp(250px, 65vw, 380px);
        margin-top: clamp(-60px, -30vw, -20px);
        width: clamp(100px, 20vw, 129px);
        min-height: clamp(60px, 20vw, 122px);
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-akiko-icon.png);

        b {
          position: absolute;
          margin-top: clamp(68px, 22vw, 126px);
          margin-left: clamp(-40px, 37vw, 30px);
          font-size: clamp(8px, 2.8vw, 20px);
        }
      }
    }

    .section2-box-content {
      .row {
        margin-bottom: 50px;
      }
      margin-top: clamp(80px, 20vw, 140px);
      position: absolute;

      .box-image1 {
        padding-top: clamp(10.2px, 3vw, 15px);
        padding-left: clamp(6px, 2vw, 5px);
        font-size: clamp(10px, 2.2vw, 16px);
        width: clamp(83px, 20vw, 130px);
        min-height: clamp(40px, 15vw, 140px);
        position: absolute;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-yellow-piece.png);
      }

      .box-image2 {
        // margin-left: clamp(200px, 59vw, 397px);
        margin-left: clamp(204.9px, 60.5vw, 402px);
        // margin-left: clamp(50.4px, 13.6vw, 89px);
        padding-top: clamp(10.2px, 3vw, 15px);
        padding-left: clamp(10px, 3.3vw, 15px);
        // width: clamp(85.7px, 20.4vw, 135px);
        width: clamp(83px, 20vw, 130px);
        min-height: clamp(40px, 15vw, 140px);
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-piece-blue.png);
        font-size: clamp(10px, 2.2vw, 16px);
      }

      .box-content1 {
        top: 20%;
        border: 0.5px solid #61b0dd;

        ul {
          max-width: 350px;
          counter-reset: my-awesome-counter;
          list-style: none;
          padding-left: clamp(35px, 9vw, 60px);
        }
        ul li {
          padding-bottom: clamp(3px, 1.5vw, 20px);
          counter-increment: my-awesome-counter;
          position: relative;

          .eng1,
          .eng2 {
            font-size: clamp(10px, 2.8vw, 16px);
          }
          .jap1,
          .jap2 {
            font-size: clamp(8px, 1.8vw, 14px);
            color: $subtext-color;
            letter-spacing: $jap-letter-spacing;
          }
        }
        ul li::before {
          content: counter(my-awesome-counter);
          color: white;
          // font-size: clamp(6px, 2.3vw, 21px);
          font-size: clamp(7px, 2.8vw, 15px);
          font-weight: bold;
          position: absolute;
          --size: clamp(14px, 4vw, 22px);
          left: calc(-1 * var(--size) - 10px);
          line-height: var(--size);
          width: var(--size);
          height: var(--size);
          top: 0;
          background: #1288cd;
          border-radius: 50%;
          text-align: center;
        }
      }

      .box-content2 {
        top: 20%;
        border: 0.5px solid #61b0dd;
        ul {
          max-width: 350px;
          counter-reset: my-awesome-counter;
          list-style: none;
          padding-left: clamp(35px, 9vw, 60px);
          margin-right: 20px;
        }
        ul li {
          padding-bottom: clamp(2px, 2vw, 20px);
          counter-increment: my-awesome-counter;
          position: relative;

          .eng {
            font-size: clamp(10px, 2.3vw, 16px) !important;
          }
          .jap {
            font-size: clamp(8px, 1.8vw, 14px);
            color: $subtext-color;
            letter-spacing: $jap-letter-spacing;
          }
        }
        ul li::before {
          content: counter(my-awesome-counter, upper-alpha);
          color: #1288cd;
          font-size: clamp(7px, 2.3vw, 15px);
          font-weight: bold;
          position: absolute;
          --size: clamp(15px, 4vw, 22px);
          left: calc(-1 * var(--size) - 10px);
          line-height: var(--size);
          width: var(--size);
          height: var(--size);
          top: 0;
          background: white;
          border: 3px solid #1288cd;
          text-align: center;
        }
      }

      .left-column {
        width: clamp(150px, 45vw, 300px);
        padding-right: clamp(3px, 1.6vw, 10px);
        padding-bottom: clamp(2px, 1vw, 5px);
        height: auto;
      }

      .right-column {
        padding-bottom: clamp(2px, 1vw, 5px);
        width: clamp(144px, 36.4vw, 235px);
        height: auto;
      }
      .box-image-container {
        padding-top: clamp(38px, 8.7vw, 55px);
        margin-bottom: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  .try-1 {
    .try1-content {
      padding-left: clamp(4px, 10vw, 5px);
      margin-top: clamp(25px, 7vw, 50px);

      .akiko-right-view {
        width: clamp(100px, 32vw, 250px);
        min-height: clamp(130px, 37vw, 380px);
        position: absolute;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-akiko-right-view.png);
      }

      .akiko-combinations {
        .akiko-first-combinations {
          position: absolute;
          margin-left: clamp(70px, 30vw, 250px);
          ul > li {
            list-style-type: none;
            margin-bottom: 20px;
          }

          ul li > .number {
            padding: 5px 10px 5px 10px;
            color: white;
            font-size: clamp(8px, 2.3vw, 15px);
            font-weight: bold;
            --size: clamp(14px, 4vw, 22px);
            left: calc(-1 * var(--size) - 10px);
            line-height: var(--size);
            width: var(--size);
            height: var(--size);
            top: 0;
            background: #1288cd;
            border-radius: 50%;
            text-align: center;
          }

          ul li > .plus {
            position: relative;
            font-size: clamp(7px, 6.3vw, 32px);
            margin-top: clamp(30x, 1.3vw, 5px);
            color: #141821;
          }

          ul li > .letter {
            padding: 3px 10px 3px 10px;
            color: #1288cd;
            font-size: clamp(8px, 2.3vw, 15px);
            font-weight: bold;
            --size: clamp(10px, 4vw, 22px);
            left: calc(-1 * var(--size) - 10px);
            line-height: var(--size);
            width: var(--size);
            height: var(--size);
            top: 0;
            background: white;
            border: 3px solid #1288cd;
            text-align: center;
          }
        }

        .akiko-second-combinations {
          position: absolute;
          margin-left: clamp(200px, 58vw, 390px);
          ul > li {
            list-style-type: none;
            margin-bottom: 20px;
          }

          ul li > .number {
            padding: 5px 10px 5px 10px;
            color: white;
            font-size: clamp(8px, 2.3vw, 15px);
            font-weight: bold;
            --size: clamp(15px, 4vw, 22px);
            left: calc(-1 * var(--size) - 10px);
            line-height: var(--size);
            width: var(--size);
            height: var(--size);
            top: 0;
            background: #1288cd;
            border-radius: 50%;
            text-align: center;
          }

          ul li > .plus {
            font-size: clamp(7px, 6.3vw, 32px);
            color: #141821;
          }

          ul li > .letter {
            padding: 3px 10px 3px 10px;
            color: #1288cd;
            font-size: clamp(8px, 2.3vw, 15px);
            font-weight: bold;
            --size: clamp(15px, 4vw, 22px);
            left: calc(-1 * var(--size) - 10px);
            line-height: var(--size);
            width: var(--size);
            height: var(--size);
            top: 0;
            background: white;
            border: 3px solid #1288cd;
            text-align: center;
          }
        }
      }
    }
  }

  .try-2 {
    .try2-content {
      padding-left: clamp(4px, 10vw, 5px);
      margin-top: clamp(40px, 16vw, 100px);

      .try-2-row-1 {
        margin-bottom: clamp(30px, 12vw, 100px);
        .number {
          color: $primary-blue;
          font-size: clamp(11px, 3.3vw, 19px);
        }
        .you {
          margin-left: clamp(15px, 3vw, 30px);
          font-size: clamp(11px, 3.3vw, 19px);
        }
        .underline {
          margin-left: clamp(55px, 14vw, 95px);
          text-decoration: underline;
          color: $primary-blue;
          font-size: clamp(11px, 3.3vw, 19px);
        }
        .bubble {
          font-size: clamp(10px, 2.6vw, 21px);
          padding-top: clamp(20.4px, 4.9vw, 40px);
          padding-left: clamp(20px, 4vw, 40px);
          padding-bottom: clamp(7px, 2vw, 6px);
          padding-right: clamp(29px, 2vw, 6px);
          margin-left: clamp(238px, 65vw, 390px);
          margin-top: clamp(-50px, -50vw, -22px);
          width: clamp(40px, 10.3vw, 100px);
          color: #2d356b;
          min-height: clamp(60px, 40vw, 330px);
          position: absolute;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(#{$s3}/0-cloud-bubble.png);
        }
      }

      .try-2-row-2 {
        margin-bottom: clamp(30px, 12vw, 100px);
        .number {
          color: $primary-blue;
          font-size: clamp(11px, 3.3vw, 19px);
        }
        .you {
          margin-left: clamp(15px, 3vw, 30px);
          font-size: clamp(11px, 3.3vw, 19px);
        }
        input {
          border-top-color: transparent;
          border-left-color: transparent;
          border-right-color: transparent;
          width: clamp(100px, 30vw, 180px);
        }
        .underline {
          margin-left: clamp(55px, 14vw, 95px);
          font-size: clamp(11px, 3.3vw, 19px);
        }
        .bubble {
          font-size: clamp(10px, 2.6vw, 21px);
          padding-top: clamp(15.4px, 4.9vw, 30px);
          padding-left: clamp(19px, 4vw, 30px);
          padding-bottom: clamp(7px, 2vw, 6px);
          padding-right: clamp(29px, 2vw, 6px);
          margin-left: clamp(230px, 62vw, 360px);
          margin-top: clamp(-50px, -50vw, -22px);
          width: clamp(47px, 14.3vw, 130px);
          color: #2d356b;
          min-height: clamp(60px, 40vw, 350px);
          position: absolute;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(#{$s3}/0-cloud-bubble.png);
        }
      }

      .try-2-row-3 {
        margin-bottom: clamp(50px, 12vw, 100px);
        .number {
          color: $primary-blue;
          font-size: clamp(11px, 3.3vw, 19px);
        }
        .you {
          margin-left: clamp(15px, 3vw, 30px);
          font-size: clamp(11px, 3.3vw, 19px);
        }
        .new-line {
          margin-left: clamp(55px, 14vw, 95px);
          font-size: clamp(11px, 3.3vw, 19px);
        }
        input {
          border-top-color: transparent;
          border-left-color: transparent;
          border-right-color: transparent;
          width: clamp(100px, 30vw, 180px);
        }
        .underline {
          margin-left: clamp(55px, 14vw, 95px);
          font-size: clamp(11px, 3.3vw, 19px);
        }
        .bubble {
          padding-top: clamp(17.4px, 4.9vw, 30px);
          padding-left: clamp(17px, 4vw, 40px);
          padding-bottom: clamp(7px, 2vw, 6px);
          padding-right: clamp(29px, 2vw, 6px);
          margin-left: clamp(215px, 58vw, 340px);
          margin-top: clamp(-50px, -50vw, -22px);
          width: clamp(70px, 16.3vw, 150px);
          color: #2d356b;
          min-height: clamp(70px, 40vw, 330px);
          position: absolute;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(#{$s3}/0-cloud-bubble.png);

          .rotate-1 {
            transform: rotate(10deg);
            font-size: clamp(11px, 2.5vw, 21px);
          }
          .rotate-2 {
            padding-left: clamp(12px, 2.5vw, 25px);
            padding-top: clamp(10px, 1.9vw, 15px);
            transform: rotate(-10deg);
            font-size: clamp(10px, 2.2vw, 21px);
          }
        }
      }

      .try-2-row-4 {
        .number {
          color: $primary-blue;
          font-size: clamp(11px, 3.3vw, 19px);
        }
        .you {
          margin-left: clamp(15px, 3vw, 30px);
          font-size: clamp(11px, 3.3vw, 19px);
        }
        .new-line {
          margin-left: clamp(55px, 14vw, 95px);
          font-size: clamp(11px, 3.3vw, 19px);
        }
        input {
          border-top-color: transparent;
          border-left-color: transparent;
          border-right-color: transparent;
          width: clamp(100px, 30vw, 180px);
        }
        .underline {
          margin-left: clamp(55px, 14vw, 95px);
          font-size: clamp(11px, 3.3vw, 19px);
        }
        .bubble {
          padding-top: clamp(17.4px, 4.9vw, 30px);
          padding-left: clamp(17px, 4vw, 40px);
          padding-bottom: clamp(7px, 2vw, 6px);
          padding-right: clamp(29px, 2vw, 6px);
          margin-left: clamp(215px, 58vw, 340px);
          margin-top: clamp(-50px, -50vw, -22px);

          width: clamp(70px, 16.3vw, 150px);
          color: #2d356b;
          min-height: clamp(70px, 40vw, 330px);
          position: absolute;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(#{$s3}/0-cloud-bubble.png);

          .rotate-1 {
            padding-left: clamp(9px, 2.5vw, 25px);
            transform: rotate(10deg);
            font-size: clamp(11px, 2.5vw, 21px);
          }
          .rotate-2 {
            padding-left: clamp(12px, 2.5vw, 25px);
            padding-top: clamp(10px, 1.9vw, 15px);
            transform: rotate(-10deg);
            font-size: clamp(10px, 2.2vw, 21px);
          }
        }
      }
    }
  }

  .see-3 {
    .see-3-content {
      padding-left: clamp(4px, 2vw, 2px);
      margin-top: clamp(30px, 8vw, 50px);

      .nick-image {
        width: clamp(70px, 16.3vw, 120px);
        min-height: clamp(70px, 40vw, 120px);
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-nick-side-view.png);

        .name {
          position: absolute;
          margin-top: clamp(80px, 18vw, 135px);
          margin-left: clamp(25px, 5vw, 37px);
          font-size: clamp(8px, 2.8vw, 20px);
        }
      }

      .phrase-1 {
        margin-left: clamp(92px, 23vw, 170px);
        margin-bottom: clamp(30px, 4vw, 40px);
        display: absolute;
        display: block;

        .english {
          font-size: clamp(11px, 1.8vw, 19px);
          background-color: #ffb3b0;
          width: clamp(118px, 18vw, 187px);
          padding-top: clamp(3px, 1.5vw, 7px);
          padding-left: clamp(1px, 3.9vw, 15px);
          padding-bottom: clamp(3px, 1.5vw, 7px);
          padding-right: clamp(1px, 3.9vw, 15px);
          border-radius: 5px;
        }

        .jap {
          font-size: clamp(8px, 1.9vw, 14px);
          position: absolute;
          margin-top: clamp(-18px, -1.6vw, -5px);
          color: $subtext-color;
          letter-spacing: $jap-letter-spacing;
        }
      }

      .phrase-2 {
        margin-left: clamp(92px, 23vw, 170px);
        margin-bottom: clamp(30px, 14vw, 100px);
        display: absolute;
        display: block;

        .english {
          text-align: center;
          font-size: clamp(11px, 1.8vw, 19px);
          background-color: #e7f3fa;
          width: clamp(118px, 18vw, 150px);
          padding-top: clamp(3px, 1.5vw, 7px);
          padding-left: clamp(1px, 3.9vw, 8px);
          padding-bottom: clamp(3px, 1.5vw, 7px);
          padding-right: clamp(1px, 3.9vw, 8px);
          border-radius: 5px;
        }

        .jap {
          font-size: clamp(8px, 1.9vw, 14px);
          position: absolute;
          margin-top: clamp(-18px, -1.6vw, -5px);
          color: $subtext-color;
          letter-spacing: $jap-letter-spacing;
        }
      }

      .phrase-1-title-box {
        position: absolute;
        text-align: center;
        font-size: clamp(11px, 1.8vw, 19px);
        background-color: #ffb3b0;
        width: clamp(118px, 18vw, 187px);
        padding-top: clamp(3px, 1.5vw, 7px);
        padding-left: clamp(1px, 3.9vw, 15px);
        padding-bottom: clamp(3px, 1.5vw, 7px);
        padding-right: clamp(1px, 3.9vw, 15px);
        border-radius: 5px;
      }

      .phrase-2-title-box {
        position: absolute;
        margin-left: clamp(240px, 57.2vw, 384px);
        text-align: center;
        font-size: clamp(11px, 1.8vw, 19px);
        background-color: #e7f3fa;
        width: clamp(80px, 17.4vw, 150px);
        padding-top: clamp(3px, 1.5vw, 7px);
        padding-left: clamp(1px, 2.9vw, 8px);
        padding-bottom: clamp(3px, 1.5vw, 7px);
        padding-right: clamp(1px, 2.9vw, 8px);
        border-radius: 5px;
      }

      .phrase-content1 {
        top: 50%;
        border: 0.5px solid #61b0dd;

        ul {
          max-width: 350px;
          counter-reset: my-awesome-counter;
          list-style: none;
          padding-left: clamp(25px, 9vw, 60px);
        }
        ul li {
          padding-bottom: clamp(2px, 1.4vw, 20px);
          counter-increment: my-awesome-counter;
          position: relative;
          margin-top: clamp(2px, 1.6vw, 10px);
          .eng1,
          .eng2 {
            font-size: clamp(13px, 2.8vw, 18px);
          }
          .jap1,
          .jap2 {
            font-size: clamp(10px, 1.8vw, 14px);
            color: $subtext-color;
            letter-spacing: $jap-letter-spacing;
          }
        }
        ul li::before {
          content: counter(my-awesome-counter);
          color: white;
          font-size: clamp(7px, 2.3vw, 21px);
          font-weight: bold;
          position: absolute;
          --size: clamp(13px, 4vw, 32px);
          left: calc(-1 * var(--size) - 10px);
          line-height: var(--size);
          width: var(--size);
          height: var(--size);
          top: 0;
          background: #1288cd;
          border-radius: 50%;
          text-align: center;
        }
      }

      .phrase-content2 {
        top: 10%;
        border: 0.5px solid #61b0dd;
        ul {
          max-width: 350px;
          counter-reset: my-awesome-counter;
          list-style: none;
          padding-left: clamp(25px, 9vw, 60px);
          margin-right: 20px;
        }
        ul li {
          margin-top: clamp(5.2px, 2.3vw, 8px);
          padding-bottom: clamp(2px, 2vw, 20px);
          counter-increment: my-awesome-counter;
          position: relative;

          .eng {
            font-size: clamp(10px, 2.3vw, 18px) !important;
          }
          .jap {
            font-size: clamp(8px, 1.8vw, 14px);
            color: $subtext-color;
            letter-spacing: $jap-letter-spacing;
          }
        }
        ul li::before {
          content: counter(my-awesome-counter, upper-alpha);
          color: #1288cd;
          font-size: clamp(7px, 2.3vw, 21px);
          font-weight: bold;
          position: absolute;
          --size: clamp(10px, 4vw, 32px);
          left: calc(-1 * var(--size) - 10px);
          line-height: var(--size);
          width: var(--size);
          height: var(--size);
          top: 0;
          background: white;
          border: 3px solid #1288cd;
          text-align: center;
        }
      }

      .left-column {
        width: clamp(160px, 46vw, 263px);
        padding-right: clamp(0.5px, 1.3vw, 3px);
        padding-bottom: clamp(2px, 1vw, 5px);
        height: auto;
      }

      .right-column {
        padding-bottom: clamp(2px, 1vw, 5px);
        width: clamp(161px, 34.4vw, 283px);
        height: auto;
      }
      .box-phrase-container {
        padding-top: clamp(23px, 7.2vw, 40px);
        // margin-bottom: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  .try-3 {
    .try-3-content {
      .conversation {
        margin-top: 30px;
        width: clamp(310px, 86vw, 540px);
        min-height: clamp(230px, 60vw, 380px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-convo-group.png);

        .akiko {
          span {
            position: absolute;
            left: 15.7%;
            margin-top: clamp(100px, 26.8vw, 176px);
            border-radius: 8px;
            padding-top: clamp(0.2px, 1vw, 5px);
            padding-left: clamp(6px, 2vw, 12px);
            padding-bottom: clamp(0.2px, 1vw, 5px);
            padding-right: clamp(6px, 2vw, 12px);
            background-color: #ffffff;
            font-size: clamp(6px, 1vw, 10px);
            border-style: solid;
            border-color: #d0d2d3;
            border-width: 0.5px;
            color: #2d356b;
          }
        }

        .helen {
          span {
            position: absolute;
            color: #2d356b;
            left: 78.7%;
            margin-top: clamp(118px, 32.3vw, 206px);
            border-radius: 8px;
            padding-top: clamp(0.2px, 1vw, 5px);
            padding-left: clamp(6px, 2vw, 12px);
            padding-bottom: clamp(0.2px, 1vw, 5px);
            padding-right: clamp(6px, 2vw, 12px);
            background-color: #ffffff;
            font-size: clamp(6px, 1vw, 10px);
            border-style: solid;
            border-color: #d0d2d3;
            border-width: 0.5px;
          }
        }
      }

      .conversation-text {
        padding-top: clamp(1px, 1.2vw, 20px);
        margin-bottom: -70px;
        .convo-1,
        .convo-2,
        .convo-3,
        .convo-4 {
          padding-bottom: 20px;
          .convo-wrap-akiko {
            .number-left {
              padding-right: 20px;
              color: #1288cd;
              font-size: clamp(10px, 2.1vw, 14px);
            }

            .akiko-line-1 {
              font-size: clamp(10px, 2.1vw, 14px);
            }

            .number-right {
              margin-left: 10px;
              padding-left: clamp(3px, 0.5vw, 6px);
              padding-right: clamp(4px, 0.5vw, 6px);
              color: white;
              font-size: clamp(10px, 2.1vw, 14px);
              font-weight: bold;
              --size: clamp(13px, 2vw, 32px);
              left: calc(-1 * var(--size) - 10px);
              line-height: var(--size);
              width: var(--size);
              height: var(--size);
              top: 0;
              background: #1288cd;
              border-radius: 50%;
              text-align: center;
            }
          }

          .convo-wrap-helen {
            .number-left {
              padding-right: 20px;
              color: white;
            }

            .helen-line {
              font-size: clamp(10px, 2.1vw, 14px);
            }
            .text-under {
              margin-left: clamp(70px, 13vw, 84px);
            }
          }

          .convo-wrap-akiko-last {
            .number-left {
              padding-right: 20px;
              color: white;
            }
            .akiko-line-2 {
              font-size: clamp(10px, 2.1vw, 14px);
            }

            .letter-square {
              margin-left: 10px;
              padding-left: clamp(3px, 0.3vw, 5px);
              padding-right: clamp(4px, 0.3vw, 5px);
              color: #1288cd;
              font-size: clamp(10px, 2.1vw, 14px) !important;
              font-weight: bold;
              --size: clamp(13px, 2vw, 32px);
              left: calc(-1 * var(--size) - 10px);
              line-height: var(--size);
              width: var(--size);
              height: var(--size);
              top: 0;
              background: white;
              border: 2.3px solid #1288cd;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .act-1 {
    .act-1-content {
      .conversation {
        margin-top: 30px;
        width: clamp(310px, 86vw, 540px);
        min-height: clamp(230px, 60vw, 380px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-convo-group.png);

        .bubble {
          margin-left: clamp(15px, 5vw, 19px);
          margin-top: clamp(5px, 2.3vw, 10px);
          width: clamp(170px, 43.4vw, 260px);
          min-height: clamp(130px, 50vw, 260px);
          position: absolute;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(#{$s3}/0-cloud-bubble-white.png);
          padding-top: clamp(12px, 4.3vw, 30px);
          padding-left: clamp(16px, 4.8vw, 45px);
          padding-bottom: clamp(5.2px, 2.6vw, 15px);
          padding-right: clamp(6px, 1.6vw, 15px);

          .bubble-text {
            .english {
              font-size: clamp(8px, 2vw, 14px);
            }
            .japanese {
              position: absolute;
              margin-top: -1px;
              font-size: clamp(6px, 1.5vw, 10px);
              color: $subtext-color;
              letter-spacing: $jap-letter-spacing;
            }
          }
        }

        .akiko {
          span {
            position: absolute;
            left: 15.7%;
            margin-top: clamp(100px, 26.8vw, 176px);
            border-radius: 8px;
            padding-top: clamp(0.2px, 1vw, 5px);
            padding-left: clamp(6px, 2vw, 12px);
            padding-bottom: clamp(0.2px, 1vw, 5px);
            padding-right: clamp(6px, 2vw, 12px);
            background-color: #ffffff;
            font-size: clamp(6px, 1vw, 10px);
            border-style: solid;
            border-color: #d0d2d3;
            border-width: 0.5px;
            color: #2d356b;
          }
        }

        .helen {
          span {
            position: absolute;
            color: #2d356b;
            left: 78.7%;
            margin-top: clamp(118px, 32.3vw, 206px);
            border-radius: 8px;
            padding-top: clamp(0.2px, 1vw, 5px);
            padding-left: clamp(6px, 2vw, 12px);
            padding-bottom: clamp(0.2px, 1vw, 5px);
            padding-right: clamp(6px, 2vw, 12px);
            background-color: #ffffff;
            font-size: clamp(6px, 1vw, 10px);
            border-style: solid;
            border-color: #d0d2d3;
            border-width: 0.5px;
          }
        }
      }

      .converstation-text {
        margin-top: clamp(0px, 1.3vw, 20px);

        .convo,
        .convo1,
        .convo2,
        .convo3,
        .convo4 {
          margin-bottom: 20px;
          .english {
            font-size: clamp(10px, 2.3vw, 17px);
            margin-left: clamp(15px, 3.5vw, 30px);
          }
          .japanese {
            margin-left: clamp(50px, 10.9vw, 90px);
            font-size: clamp(8px, 1.7vw, 13px);
            color: $subtext-color;
            letter-spacing: $jap-letter-spacing;
          }
          input {
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
            width: clamp(50px, 21vw, 100px);
          }
        }
      }
    }
  }

  .act-2 {
    .act-2-space {
      margin-bottom: 80px;
    }
  }
}

@media screen and (max-width: 375px) {
}
