body {
  margin: 0;
  padding: 0;
}

hr {
  border-top: 1px solid #dbdcdc;
}

.m-0 {
  margin: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.html-lesson-wrapper .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.html-lesson-wrapper {
  font-family: "Trebuchet MS";
  width: 100%;
  min-width: 360px;
  max-width: 604px;
  min-height: 1596px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-bg-header.png), url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-bg-footer.png);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.html-lesson-wrapper header {
  font-family: "Arial";
}

.html-lesson-wrapper .fs-16 {
  font-size: clamp(12px, 2.3vw, 16px);
}

.html-lesson-wrapper .flip-horizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.html-lesson-wrapper .noto-sans {
  font-family: "Noto Sans";
}

.html-lesson-wrapper .b, .html-lesson-wrapper .arrow, .html-lesson-wrapper .see-content .arrow.see, .html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .number, .html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .number-white, .html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .letter {
  font-weight: bold;
}

.html-lesson-wrapper .u-sup {
  border-bottom: solid 1.5px black;
  display: inline-block;
  line-height: clamp(6px, 1.5vw, 14px);
}

.html-lesson-wrapper .u-blue {
  border-bottom: 1px solid #1287cd;
}

.html-lesson-wrapper .primary-blue {
  color: #1287cd;
}

.html-lesson-wrapper .program-rank {
  position: absolute;
  color: #ffffff;
  font-size: 0px;
  margin-top: clamp(1px, 1vw, 5px);
}

.html-lesson-wrapper .program-rank .type {
  padding: clamp(1px, 1vw, 5px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 5px) clamp(10px, 2vw, 17px);
  background-color: #1287cd;
  font-size: clamp(7px, 1.8vw, 12px);
}

.html-lesson-wrapper .program-rank .level {
  padding: clamp(1px, 1vw, 5px) clamp(20px, 4vw, 50px) clamp(1px, 1vw, 5px) clamp(10px, 2vw, 17px);
  font-size: clamp(7px, 1.8vw, 12px);
  background: linear-gradient(125deg, #1287cd 6%, rgba(0, 0, 0, 0) 0%), linear-gradient(125deg, #009c9a 90%, rgba(0, 0, 0, 0) 0%);
  background: -moz-linear-gradient(125deg, #1287cd 6%, rgba(0, 0, 0, 0) 0%), linear-gradient(125deg, #009c9a 90%, rgba(0, 0, 0, 0) 0%);
  margin-left: -15px;
  width: 100%;
}

.html-lesson-wrapper .line {
  margin: 0 12px;
}

.html-lesson-wrapper .lesson-number {
  position: absolute;
  top: 0.5vh;
  right: 5.5%;
  font-size: clamp(0.8rem, 4vw, 1.5rem);
  color: #ffffff;
}

.html-lesson-wrapper .title-section {
  position: absolute;
  top: clamp(30px, 8vw, 50px);
  background-color: #1287cd;
  color: white;
  padding: clamp(15px, 2vw, 20px) clamp(25px, 4vw, 30px) clamp(9px, 2vw, 15px);
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans";
}

.html-lesson-wrapper .title-section .title {
  font-size: clamp(13px, 3.6vw, 23px);
  margin-bottom: 4px;
}

.html-lesson-wrapper .title-section .title-below {
  font-size: clamp(13px, 3.6vw, 23px);
  margin-bottom: 10px;
}

.html-lesson-wrapper .title-section .sub-title {
  font-size: clamp(10px, 2.3vw, 15px);
  letter-spacing: -1px;
}

.html-lesson-wrapper .arrow {
  text-transform: uppercase;
  font-size: clamp(12px, 2.3vw, 16px);
  padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Noto Sans";
}

.html-lesson-wrapper .instructions {
  font-family: "Noto Sans";
  position: absolute;
  padding: clamp(0px, 0.01vw, 3px) 0px;
  left: 28%;
}

.html-lesson-wrapper .instructions .title {
  font-size: clamp(11px, 3vw, 18px);
  color: #141821;
}

.html-lesson-wrapper .instructions .sub-title {
  font-size: clamp(9px, 1.8vw, 13px);
  color: #7f8288;
  letter-spacing: -2px;
}

.html-lesson-wrapper .see-content {
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
}

.html-lesson-wrapper .see-content.see-1 {
  margin-top: clamp(120px, 29vw, 183.2px);
}

.html-lesson-wrapper .see-content.see-2, .html-lesson-wrapper .see-content.see-3, .html-lesson-wrapper .see-content.see-4 {
  margin-top: clamp(20px, 5vw, 33px);
}

.html-lesson-wrapper .see-content.see-2 .legend, .html-lesson-wrapper .see-content.see-3 .legend, .html-lesson-wrapper .see-content.see-4 .legend {
  margin-top: clamp(25px, 5vw, 38px);
}

.html-lesson-wrapper .see-content .arrow.see {
  text-transform: uppercase;
  color: #1287cd;
  font-size: clamp(12px, 2.3vw, 16px);
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-see-arrow.png);
  padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Noto Sans";
}

.html-lesson-wrapper .try-content {
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
}

.html-lesson-wrapper .try-content.try-1 {
  margin-top: 32px;
}

.html-lesson-wrapper .try-content.try-2, .html-lesson-wrapper .try-content.try-3, .html-lesson-wrapper .try-content.try-4 {
  margin-top: 32px;
}

.html-lesson-wrapper .try-content .arrow.try {
  color: white;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-try-arrow.png);
}

.html-lesson-wrapper .act-content {
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
}

.html-lesson-wrapper .act-content.act-1 {
  margin-top: 32px;
}

.html-lesson-wrapper .act-content.act-2 {
  margin-top: 32px;
}

.html-lesson-wrapper .act-content .arrow.act {
  color: white;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-act-arrow.png);
}

.html-lesson-wrapper .section-1-convo {
  margin-top: clamp(30px, 8vw, 50px);
  width: clamp(310px, 86vw, 540px);
  min-height: clamp(230px, 60vw, 380px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-14-section1.svg);
}

.html-lesson-wrapper .section-1-convo .bubble-1 {
  position: absolute;
  top: 6%;
  left: 11%;
}

.html-lesson-wrapper .section-1-convo .bubble-1 .eng {
  font-weight: bold;
  font-size: clamp(8.1px, 2.1vw, 14px);
  font-family: "Trebuchet MS";
}

.html-lesson-wrapper .section-1-convo .bubble-1 .jap {
  font-family: "Noto Sans";
  font-size: clamp(6.4px, 1.8vw, 11px);
  color: #7f8288;
  letter-spacing: -1px;
}

.html-lesson-wrapper .section-1-convo .bubble-2 {
  position: absolute;
  top: 25%;
  left: 24.5%;
}

.html-lesson-wrapper .section-1-convo .bubble-2 .eng {
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-size: clamp(8.1px, 2.1vw, 14px);
}

.html-lesson-wrapper .section-1-convo .bubble-2 .jap {
  font-family: "Noto Sans";
  font-size: clamp(6.4px, 1.8vw, 11px);
  color: #7f8288;
  letter-spacing: -1px;
}

.html-lesson-wrapper .section-1-convo .bubble-3 {
  position: absolute;
  top: 44.5%;
  left: 35.2%;
}

.html-lesson-wrapper .section-1-convo .bubble-3 .eng {
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-size: clamp(8.1px, 2.1vw, 14px);
}

.html-lesson-wrapper .section-1-convo .bubble-3 .jap {
  font-family: "Noto Sans";
  font-size: clamp(6.4px, 1.8vw, 11px);
  color: #7f8288;
  letter-spacing: -1px;
}

.html-lesson-wrapper .section-2-content {
  margin-top: clamp(35px, 15vw, 50px);
}

.html-lesson-wrapper .section-2-content .wrapper-with-akiko {
  margin-bottom: 70px;
  height: clamp(40px, 18vw, 150px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 2fr;
      grid-template-columns: -webkit-min-content 2fr;
      grid-template-columns: min-content 2fr;
}

.html-lesson-wrapper .section-2-content .wrapper-with-akiko .akiko-image {
  width: 110px;
  height: clamp(70px, 23.1vw, 150px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-akiko-icon.png);
}

.html-lesson-wrapper .section-2-content .wrapper-with-akiko .wrap-all-boxes {
  position: absolute;
  margin-top: clamp(22px, 3vw, 19px);
  left: 28%;
}

.html-lesson-wrapper .section-2-content .wrapper-with-akiko .wrap-all-boxes .wrap-for-flex {
  margin-top: clamp(10px, 7vw, 45px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.html-lesson-wrapper .section-2-content .wrapper-with-akiko .wrap-all-boxes .wrap-for-flex .i-did {
  margin-right: 6px;
  text-align: center;
  background: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-14-i-did.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: clamp(7px, 2vw, 10px) clamp(10px, 3vw, 17px);
  font-size: clamp(9.6px, 2.4vw, 16px);
}

.html-lesson-wrapper .section-2-content .wrapper-with-akiko .wrap-all-boxes .wrap-for-flex .last-week {
  margin-right: 6px;
  font-size: clamp(9.6px, 2.4vw, 16px);
  padding-top: clamp(7px, 2vw, 10px);
  padding-left: clamp(11px, 3vw, 17px);
  padding-right: clamp(17px, 5vw, 27px);
  text-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-14-last-week.png);
}

.html-lesson-wrapper .section-2-content .wrapper-with-akiko .wrap-all-boxes .about-it {
  text-align: center;
  background: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-14-about-it.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: clamp(7px, 2vw, 10px) clamp(10px, 3vw, 17px);
  font-size: clamp(9.6px, 2.4vw, 16px);
}

.html-lesson-wrapper .section-2-content .wrapper-with-akiko .wrap-all-boxes .jap,
.html-lesson-wrapper .section-2-content .wrapper-with-akiko .wrap-all-boxes .jap-2 {
  font-size: clamp(9px, 2vw, 13px);
  color: #7f8288;
  letter-spacing: -1.8px;
}

.html-lesson-wrapper .section-2-content .section2-box-content .legend {
  margin-top: clamp(25px, 5vw, 38px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1px;
}

.html-lesson-wrapper .section-2-content .section2-box-content .b1-legend {
  text-align: center;
  background: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-14-about-it.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: clamp(7px, 2vw, 10px) clamp(17px, 5vw, 24px);
}

.html-lesson-wrapper .section-2-content .section2-box-content .b2-legend {
  text-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: clamp(7px, 2vw, 10px) clamp(17px, 5vw, 24px);
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-14-i-did.png);
}

.html-lesson-wrapper .section-2-content .section2-box-content .b3-legend {
  padding-top: clamp(7px, 2vw, 10px);
  padding-left: clamp(11px, 3vw, 17px);
  padding-right: clamp(12.5px, 4.5vw, 20px);
  text-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-14-last-week.png);
}

.html-lesson-wrapper .section-2-content .section2-box-content .legend {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.html-lesson-wrapper .section-2-content .section2-box-content .legend .eng {
  font-size: clamp(9.6px, 2.4vw, 16px);
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  gap: 4px;
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .alt-box {
  padding: 15px;
  border: 1px solid #1287cd;
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .alt:not(:last-child) {
  margin-bottom: clamp(5px, 1vw, 10px);
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .choice {
  margin-left: clamp(5px, 1vw, 9px);
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .choice p {
  margin: 0;
  white-space: nowrap;
  font-family: "Noto Sans";
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .choice-eng {
  font-size: clamp(9.3px, 2.4vw, 16px);
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .choice-jap {
  font-size: clamp(7px, 2vw, 13px);
  letter-spacing: -1px;
  color: #7f8288;
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .choice-jap-1 {
  font-size: clamp(7px, 2vw, 13px);
  letter-spacing: -3px;
  color: #7f8288;
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .number {
  border-radius: 50%;
  background: #1287cd;
  color: white;
  margin: 0;
  text-align: center;
  line-height: clamp(13px, 4vw, 24px);
  font-family: "Noto Sans";
  font-size: clamp(11px, 2vw, 16px);
  z-index: 1;
  width: clamp(18px, 4vw, 24px);
  height: clamp(18px, 4vw, 24px);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .number-white {
  border-radius: 50%;
  background: white;
  color: #1287cd;
  margin: 0;
  text-align: center;
  line-height: clamp(13px, 4vw, 24px);
  font-family: "Noto Sans";
  font-size: clamp(11px, 2vw, 16px);
  z-index: 1;
  width: clamp(18px, 4vw, 24px);
  height: clamp(18px, 4vw, 24px);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .third-box {
  background-color: #e7f3fa;
}

.html-lesson-wrapper .section-2-content .section2-box-content .phrase-alts .letter {
  border: 2px solid #1287cd;
  color: #1287cd;
  margin: 0;
  text-align: center;
  line-height: clamp(13px, 4vw, 24px);
  font-family: "Noto Sans";
  font-size: clamp(11px, 2vw, 16px);
  z-index: 1;
  width: clamp(18px, 4vw, 24px);
  height: clamp(18px, 4vw, 24px);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.html-lesson-wrapper .try-1 .try1-content {
  margin-top: clamp(35px, 10vw, 65px);
}

.html-lesson-wrapper .try-1 .try1-content .image-content1 {
  width: clamp(320px, 86vw, 524px);
  height: clamp(180px, 51vw, 287px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-14-try1-image1.svg);
}

.html-lesson-wrapper .try-1 .try1-content .image-content2 {
  width: clamp(320px, 86vw, 524px);
  height: clamp(180px, 51vw, 287px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-14-try1-image2.svg);
}

.html-lesson-wrapper .try-1 .try1-content .image-content3 {
  width: clamp(320px, 86vw, 524px);
  height: clamp(180px, 51vw, 287px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-14-try1-image3.svg);
}

.html-lesson-wrapper .try-1 .try1-content .image-content4 {
  width: clamp(320px, 86vw, 524px);
  height: clamp(180px, 51vw, 287px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-14-try1-image4.svg);
}

.html-lesson-wrapper .try-1 .try1-content .image-content5 {
  width: clamp(320px, 86vw, 524px);
  height: clamp(180px, 51vw, 287px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-14-try1-image5.svg);
}

.html-lesson-wrapper .try-1 .try1-content .part {
  margin-bottom: clamp(230px, 50vw, 300px);
}

.html-lesson-wrapper .try-1 .try1-content .part .text {
  margin-top: clamp(23px, 4vw, 40px);
  position: absolute;
  left: 9%;
}

.html-lesson-wrapper .try-1 .try1-content .part .text .add-margin {
  margin-top: 30px;
}

.html-lesson-wrapper .try-1 .try1-content .part .text .number {
  color: #1287cd;
  font-size: clamp(12px, 3vw, 18px);
}

.html-lesson-wrapper .try-1 .try1-content .part .text .content {
  margin-left: 8px;
  font-size: clamp(12px, 3vw, 18px);
}

.html-lesson-wrapper .try-1 .try1-content .part .text .content .line-under {
  margin-left: clamp(19px, 4vw, 23px);
}

.html-lesson-wrapper .try-1 .try1-content .part .text .underline {
  text-decoration: underline;
  color: #1287cd;
}

.html-lesson-wrapper .try-2 .try2-content {
  margin-top: 70px;
}

.html-lesson-wrapper .try-2 .try2-content .image-content {
  width: clamp(310px, 85vw, 543px);
  height: clamp(230px, 63vw, 391px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-14-try2-image1.svg);
}

.html-lesson-wrapper .try-2 .try2-content .image-content2 {
  width: clamp(310px, 85vw, 543px);
  height: clamp(230px, 63vw, 391px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-14-try2-image2.svg);
}

.html-lesson-wrapper .try-2 .try2-content .image-content3 {
  width: clamp(310px, 85vw, 543px);
  height: clamp(230px, 63vw, 391px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-14-try2-image3.svg);
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content {
  margin-bottom: clamp(50px, 14vw, 100px);
  margin-left: 8px;
  position: relative;
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .text-content {
  margin-top: clamp(10px, 5vw, 40px);
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .number {
  color: #1287cd;
  font-size: clamp(9.5px, 2.7vw, 18px);
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .trainer {
  margin-left: clamp(5px, 2vw, 10px);
  font-size: clamp(9.5px, 2.7vw, 18px);
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .trainer b {
  font-size: clamp(11px, 2.7vw, 16px);
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .underline {
  text-decoration: underline;
  color: #1287cd;
  font-size: clamp(9.5px, 2.7vw, 18px);
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .you-part {
  margin-top: 3%;
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .you-part b {
  font-size: clamp(11px, 2.7vw, 16px);
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .you-part .you {
  margin-left: clamp(36px, 9.6vw, 56px);
  font-size: clamp(9.5px, 2.7vw, 18px);
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .you-part .line-under {
  margin-left: clamp(67px, 17.3vw, 104px);
}

.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .you-part .new-div {
  margin-top: 20px;
  margin-left: clamp(67px, 17.3vw, 104px);
  font-size: clamp(9.5px, 2.7vw, 18px);
  white-space: nowrap;
}

.html-lesson-wrapper .act-content .act-1-content {
  margin-bottom: clamp(50px, 12vw, 100px);
  margin-top: clamp(30px, 8vw, 40px);
  font-family: "Noto Sans";
}

.html-lesson-wrapper .act-content .act-1-content .act-1-convo {
  margin-top: clamp(30px, 8vw, 50px);
  width: clamp(310px, 86vw, 543px);
  min-height: clamp(330px, 90vw, 577px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-14-act1.svg);
}

.html-lesson-wrapper .act-content .act-1-content .convo-text-content {
  margin-top: clamp(30px, 8vw, 40px);
  font-size: clamp(11px, 2.5vw, 18px);
  font-family: "Noto Sans";
}

.html-lesson-wrapper .act-content .act-1-content .convo-text-content .add-margin {
  margin-top: 25px;
}

.html-lesson-wrapper .act-content .act-1-content .convo-text-content .helen-lines {
  margin-top: 25px;
}

.html-lesson-wrapper .act-content .act-1-content .convo-text-content .helen-lines .line-under {
  margin-left: clamp(41px, 9.2vw, 66px);
}

.html-lesson-wrapper .act-content .act-1-content .convo-text-content .helen-lines .div-jap {
  margin-left: clamp(41px, 9.2vw, 66px);
  font-size: clamp(9px, 1.5vw, 13px);
  color: #7f8288;
  letter-spacing: -2px;
  margin-top: 5px;
}

.html-lesson-wrapper .act-content .act-1-content .convo-text-content .helen-lines .div-eng {
  font-size: clamp(10px, 2.3vw, 18px);
  margin-left: clamp(41px, 9.2vw, 66px);
}

.html-lesson-wrapper .act-content .act-1-content .convo-text-content .akiko-lines .line-under {
  margin-left: clamp(41px, 9.2vw, 66px);
}

.html-lesson-wrapper .act-content .act-1-content .convo-text-content .akiko-lines .div-1 {
  margin-left: clamp(41px, 9.2vw, 66px);
  margin-top: 25px;
}

.html-lesson-wrapper .act-content .act-1-content .convo-text-content .akiko-lines .div-2 {
  margin-top: 25px;
  margin-left: clamp(41px, 9.2vw, 66px);
}

.html-lesson-wrapper .act-content .act-1-content .convo-text-content .akiko-lines .div-jap {
  margin-left: clamp(41px, 9.2vw, 66px);
  font-size: clamp(9px, 1.5vw, 13px);
  color: #7f8288;
  letter-spacing: -2px;
  margin-top: 5px;
}

.html-lesson-wrapper .act-content .act-1-content .convo-text-content .akiko-lines .div-eng {
  font-size: clamp(10px, 2.3vw, 18px);
  margin-left: clamp(41px, 9.2vw, 66px);
}

.html-lesson-wrapper .act-2 .act-2-space {
  margin-bottom: 80px;
}

@media only screen and (min-width: 150px) and (max-width: 442px) {
  .section-2-content .wrapper-with-akiko .akiko-image {
    margin-left: -20px !important;
  }
  .section-2-content .wrapper-with-helen .helen-image {
    margin-right: -20px !important;
  }
  .section-2-content .wrap-all-boxes {
    margin-top: 10px !important;
  }
  .section-3-content .wrapper-with-akiko .akiko-image {
    margin-right: -10px !important;
  }
  .see-3-content .wrapper-with-helen .helen-image {
    margin-right: -20px !important;
  }
  .see-3-content .wrapper-with-akiko .wrap-all-boxes {
    margin-left: -20px !important;
  }
  .li-content {
    margin-top: 7px !important;
  }
  .act-1-content .bubble-text1 {
    margin-left: -4px !important;
  }
}
/*# sourceMappingURL=main.css.map */