@import '../../css/level1-B-utils';

.html-lesson-wrapper img {
  margin-left: 1%;
  max-width: 68%;
  height: auto;
}
.html-lesson-wrapper .arrow-part {
  .light-blue{
   color: #257a9e;
   
  }
 }

 .try-content {
    ul > li > p {
        display: grid;
        grid-template-columns: 0.035fr 1fr;
    }
  }
