@import '../../css/op-teleconferencing-utils';

.html-lesson-wrapper {
  .content-div {
    .header-text{
      margin-bottom: 2px;
    }
    ul {
      padding-left: 15px;
      margin-top: 0px;
    }
  }
  .content-item {
    .message {
      @media only screen and (max-width: 767px){
        padding-left: 6%;
      }
    }
  }
}