@import '../../css/op-new-hires-2-utils';
.html-lesson-wrapper {
  .act-spacer {
    padding-bottom: 10rem;
    @media only screen and (max-width: 767px) {
      padding-bottom: 0;
    }
  }
  .biz-tip-content {
    ul {
      li {
        ul {
          li {
            list-style: none;
            div {
              display: flex;
              max-width: 350px;
              .container-img {
                margin-left: 19.5%;
                @media only screen and (max-width: 660px) {
                  margin-left: 17.5% !important;
                }
                @media only screen and (max-width: 600px) {
                  margin-left: 16% !important;
                }
                @media only screen and (max-width: 429px) {
                  margin-left: 20% !important;
                }
                @media only screen and (max-width: 391px) {
                  margin-left: 23% !important;
                }
                @media only screen and (max-width: 361px) {
                  margin-left: 24.5% !important;
                }
                @media only screen and (max-width: 321px) {
                  margin-left: 28.5% !important;
                }
                .bracket-img {
                  background-image: url(#{$s3}/L7-bracket.svg);
                  height: 9px;
                  width: 25px;
                  background-size: cover;
                  background-repeat: no-repeat;
                  margin-left: 3.5px;
                  @media only screen and (max-width: 660px) {
                    height: 7.5px !important;
                    width: 22px !important;
                  }
                  @media only screen and (max-width: 600px) {
                    height: 7px !important;
                    width: 19.5px !important;
                  }
                  @media only screen and (max-width: 429px) {
                    height: 7.5px !important;
                    width: 20px !important;
                  }
                  @media only screen and (max-width: 391px) {
                    width: 20px !important;
                  }
                }
              }
            }
          }
          .text-under {
            font-size: clamp(6.5px, 1.1vw, 8px);
            margin-left: 25%;
            display: inline;

            @media only screen and (max-width: 769px) {
              margin-left: 25% !important;
            }
            @media only screen and (max-width: 660px) {
              margin-left: 22% !important;
            }
            @media only screen and (max-width: 600px) {
              margin-left: 20.5% !important;
            }
            @media only screen and (max-width: 429px) {
              margin-left: 25.5% !important;
            }
            @media only screen and (max-width: 391px) {
              margin-left: 29.5% !important;
            }
            @media only screen and (max-width: 375px) {
              margin-left: 30% !important;
            }
            @media only screen and (max-width: 361px) {
              margin-left: 31.5% !important;
            }
            @media only screen and (max-width: 321px) {
              margin-left: 37% !important;
            }
          }
        }
      }
    }
  }
}
.try-content {
  display: flex;
  column-gap: 25%;
  ol {
    font-size: clamp(12px, 2vw, 15px);
    list-style-type: none;

    li {
      margin-left: -0.5% !important;
    }
  }
}
.table-container {
  width: 100%;
  @media only screen and (max-width: 500px) {
    -webkit-overflow-scrolling-x: touch;
    overflow-x: scroll;
  }
  .content-table {
    border-collapse: collapse;
    font-size: clamp(8px, 2vw, 15px);
    width: 100%;
    @media only screen and (max-width: 1280){
      width: 112%;
    }
    @media only screen and (max-width: 800px) {
      width: 105% !important;
    }
    @media only screen and (max-width: 500px) {
      width: 99% !important;
    }
    @media only screen and (max-width: 360px) {
      width: 180% !important;
    }
    .table-header {
      background-color: #bd3762;
      color: white;
      text-align: center;
      vertical-align: top;
      width: 14%;
      @media only screen and (max-width: 800px) {
        width: 14% !important;
      }
      @media only screen and (max-width: 500px) {
        width: 11% !important;
      }
      @media only screen and (max-width: 360px) {
        width: 14% !important;
      }
    }
    .table-header1 {
      background-color: #bd3762;
      color: white;
      text-align: center;
      vertical-align: top;
      width: 16%;
      @media only screen and (max-width: 800px) {
        width: 14% !important;
      }
      @media only screen and (max-width: 500px) {
        width: 11% !important;
      }
      @media only screen and (max-width: 360px) {
        width: 14% !important;
      }
    }
    .table-header2 {
      background-color: #bd3762;
      color: white;
      text-align: center;
      vertical-align: top;
      width: 16%;
      @media only screen and (max-width: 800px) {
        width: 14% !important;
      }
      @media only screen and (max-width: 500px) {
        width: 11% !important;
      }
      @media only screen and (max-width: 360px) {
        width: 14% !important;
      }
    }
    td,
    th {
      border: 2px solid rgb(211, 211, 211);
      text-align: right;
      height: 25px;
      padding: 1%;
    }
    td{
      white-space: nowrap;
    }
    .al {
      white-space: nowrap;
      text-align: left;
    }
  }
}

