@charset "UTF-8";
/*
this file is intended to be use Other Programs - Online Chat Basics Lessons 1-20, 
if you want to override the specified class, go to the scss file 
of the lesson and make the same class, and override it depending 
on what you need.
*/
body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  font-family: "Trebuchet MS";
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 892.75px;
  min-height: 960px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  padding-bottom: 62px;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/other-programs-bg-header-magenta.svg), url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/other-programs-footer-logo.svg);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 767px) {
  .html-lesson-wrapper {
    min-height: 800px;
  }
}
.html-lesson-wrapper header {
  top: 0;
  margin-bottom: clamp(50px, 15vw, 65px);
  margin-top: -3%;
  position: relative;
}
.html-lesson-wrapper footer {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: clamp(4.5px, 1.1vw, 9px);
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 10%;
  bottom: -20px;
}
@media only screen and (max-width: 767px) {
  .html-lesson-wrapper footer {
    bottom: -45px;
  }
}
.html-lesson-wrapper footer .footer-text {
  text-align: right;
  position: absolute;
  bottom: 0;
  max-width: 45%;
  right: 2%;
}
.html-lesson-wrapper .inline-block {
  display: inline-block;
}
.html-lesson-wrapper .pt-1, .html-lesson-wrapper .content-item .content-div.review-part-1 {
  padding-top: 1rem !important;
}
@media only screen and (max-width: 460px) {
  .html-lesson-wrapper .pt-1, .html-lesson-wrapper .content-item .content-div.review-part-1 {
    padding-top: 0px !important;
  }
}
.html-lesson-wrapper .pt-2 {
  padding-top: 1.9rem !important;
}
@media only screen and (max-width: 460px) {
  .html-lesson-wrapper .pt-2 {
    padding-top: 0px !important;
  }
}
.html-lesson-wrapper .program-rank {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: clamp(8px, 1.8vw, 15px);
  position: absolute;
  color: #ffffff;
  margin-top: clamp(10px, 5vw, 43px);
  margin-left: clamp(10px, 6vw, 60px);
}
.html-lesson-wrapper .program-rank .type {
  padding: clamp(1px, 1vw, 2px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 2px) clamp(10px, 3vw, 17px);
  background-color: #cc3366;
}
.html-lesson-wrapper .program-rank .level {
  padding: clamp(1px, 1vw, 2px) clamp(7px, 2vw, 15px) clamp(1px, 1vw, 2px) clamp(10px, 3vw, 17px);
  background: #339999;
  width: 100%;
  margin-left: -2%;
}
.html-lesson-wrapper .program-rank .level.two {
  padding: clamp(1px, 1vw, 2px) clamp(4px, 1vw, 8px) clamp(1px, 1vw, 2px) clamp(10px, 3vw, 17px);
}
.html-lesson-wrapper .program-rank .separator {
  font-family: "Helvetica", "Arial", sans-serif;
  position: relative;
  display: inline;
  margin: 0 6px;
}
.html-lesson-wrapper .lesson-number {
  position: absolute;
  right: 6.5%;
  width: 1.9%;
  text-align: center;
  margin-top: 8%;
  font-size: clamp(7px, 1.8vw, 13px);
  color: #ffffff;
}
@media only screen and (max-device-width: 767px) {
  .html-lesson-wrapper .lesson-number {
    margin-top: 7.4%;
  }
  .html-lesson-wrapper .lesson-number.two {
    right: 6.4% !important;
  }
}
@media only screen and (max-device-width: 400px) {
  .html-lesson-wrapper .lesson-number {
    margin-top: 7%;
  }
  .html-lesson-wrapper .lesson-number.two {
    right: 6.7% !important;
  }
}
.html-lesson-wrapper .lesson-number.two {
  right: 6.6%;
}
.html-lesson-wrapper .header-content {
  font-family: "Helvetica", "Arial", sans-serif;
  position: relative;
  top: clamp(30px, 8vw, 65px);
  color: black;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-top: clamp(10px, 3vw, 25px);
}
.html-lesson-wrapper .header-content .title {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: clamp(18px, 4vw, 27px);
  margin-right: clamp(10px, 3vw, 25px);
  margin-left: clamp(10px, 6vw, 60px);
  padding-top: 2%;
  padding-bottom: 5.4%;
}
@media only screen and (max-device-width: 767px) {
  .html-lesson-wrapper .header-content .title {
    padding-top: 1%;
    padding-bottom: 5%;
  }
}
.html-lesson-wrapper .header-content .biz-tips {
  background-color: #f0d4d4;
  min-height: 140px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 4rem;
}
@media only screen and (max-device-width: 460px) {
  .html-lesson-wrapper .header-content .biz-tips {
    margin-bottom: 0 !important;
  }
}
.html-lesson-wrapper .header-content .biz-tips .biz-tip-label {
  width: 11%;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #cc3366;
  font-weight: bold;
  font-size: clamp(12px, 2vw, 15px);
  margin-top: clamp(10px, 3vw, 20px);
  padding-left: clamp(10px, 6vw, 60px);
}
.html-lesson-wrapper .header-content .biz-tips .biz-tip-content {
  font-family: "Trebuchet MS";
  width: 90%;
  font-size: clamp(12px, 2vw, 15px);
  margin-top: clamp(10px, 3vw, 20px);
  padding-right: clamp(11px, 2vw, 20px);
  padding-bottom: 1rem;
}
.html-lesson-wrapper .header-content .biz-tips .biz-tip-content p {
  margin: 0;
}
.html-lesson-wrapper .header-content .biz-tips .biz-tip-content ul {
  margin: 0;
  padding: 0;
  list-style-type: "▼";
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  list-style-position: inside;
}
.html-lesson-wrapper .header-content .biz-tips .biz-tip-content ul li {
  list-style-position: outside;
  text-indent: -1em;
  margin-left: 0.8em;
  padding-left: 0.5em;
}
.html-lesson-wrapper .header-content .biz-tips .biz-tip-content ul li::before {
  content: "";
  display: block;
  width: 0.5em;
}
.html-lesson-wrapper .header-content .biz-tips .biz-tip-content ul li::marker {
  font-size: clamp(11px, 2vw, 13px);
}
.html-lesson-wrapper .header-content .biz-tips .biz-tip-content .all-tips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
}
.html-lesson-wrapper .header-content .biz-tips .biz-tip-content .all-tips .start-div {
  max-width: 50%;
}
.html-lesson-wrapper .header-content .biz-tips .biz-tip-content .all-tips .end-div {
  margin-left: 4%;
}
.html-lesson-wrapper .header-content .biz-tips .biz-tip-content .all-tips .tip-label {
  font-weight: bold;
}
.html-lesson-wrapper .content-item {
  padding-top: clamp(5px, 2vw, 10px);
  padding-right: clamp(10px, 3vw, 25px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}
.html-lesson-wrapper .content-item .content-label {
  width: 15%;
  color: #cc3366;
}
.html-lesson-wrapper .content-item .content-label .content-label-text {
  font-weight: bold;
  font-size: clamp(12px, 2vw, 15px);
  vertical-align: middle;
  padding-left: clamp(10px, 6vw, 60px);
}
.html-lesson-wrapper .content-item.review .content-label {
  width: 17%;
}
@media only screen and (max-device-width: 767px) {
  .html-lesson-wrapper .content-item.review .content-label {
    width: 19% !important;
  }
}
.html-lesson-wrapper .content-item .content-div {
  width: 89%;
  margin-bottom: 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
@media only screen and (max-device-width: 400px) {
  .html-lesson-wrapper .content-item .content-div {
    padding-left: 10px;
  }
}
.html-lesson-wrapper .content-item .content-div .header-text {
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: clamp(12px, 2vw, 15px);
  font-weight: bold;
  line-height: clamp(12px, 4vw, 22px);
  margin-top: clamp(-2px, -1vw, -3px);
  max-width: 96%;
}
@media only screen and (max-device-width: 400px) {
  .html-lesson-wrapper .content-item .content-div .header-text {
    padding-top: 2px;
  }
}
.html-lesson-wrapper .content-item .content-div.see {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.html-lesson-wrapper .content-item .content-div.see .chat-box {
  font-size: clamp(12px, 3vw, 15px);
  border-radius: 8px;
  border-top: 3px solid #e2e2e2;
  border-bottom: 3px solid #e2e2e2;
  border-left: 6px solid #e2e2e2;
  border-right: 6px solid #e2e2e2;
  background-color: #f3f2f2;
  padding-top: clamp(5px, 2vw, 1em);
  padding-bottom: clamp(3px, 1vw, 1em);
  padding-left: clamp(10px, 3vw, 1.7em);
  padding-right: clamp(10px, 3vw, 1.7em);
  margin-right: 1em;
}
.html-lesson-wrapper .content-item .content-div.see .chat-box .chat-div-right,
.html-lesson-wrapper .content-item .content-div.see .chat-box .chat-div-left {
  margin-bottom: 10px;
}
.html-lesson-wrapper .content-item .content-div.see .chat-box .chat-div-right {
  text-align: right;
}
.html-lesson-wrapper .content-item .content-div.see .chat-box .chat-message {
  padding-left: 1em;
  padding-right: clamp(5px, 4vw, 2em);
  border-radius: clamp(5px, 1vw, 10px);
  display: inline-block;
}
@media screen and (max-width: 460px) {
  .html-lesson-wrapper .content-item .content-div.see .chat-box .chat-message {
    max-width: 200px;
  }
}
.html-lesson-wrapper .content-item .content-div.see .chat-box .chat-message.left {
  background-color: #b5d2d2;
  background-color: rgba(51, 153, 153, 0.35);
  max-width: 80%;
}
.html-lesson-wrapper .content-item .content-div.see .chat-box .chat-message.right {
  background-color: #f0d4d4;
}
@media screen and (max-width: 460px) {
  .html-lesson-wrapper .content-item .content-div.see .chat-box .chat-message.right {
    max-width: 80% !important;
  }
}
.html-lesson-wrapper .content-item .content-div.see .chat-box .chat-message .chat-text {
  line-height: clamp(19px, 3vw, 24px);
  text-align: left;
}
.html-lesson-wrapper .content-item .content-div.see .chat-box .chat-message .chat-text sup {
  vertical-align: top;
  position: relative;
  top: -0.5em;
}
.html-lesson-wrapper .content-item .content-div.try .content-table {
  font-size: clamp(12px, 2vw, 15px);
  width: 96%;
  border-collapse: collapse;
  margin-right: 1.5em;
}
.html-lesson-wrapper .content-item .content-div.try .content-table .table-header {
  color: white;
  background-color: #bd3762;
}
.html-lesson-wrapper .content-item .content-div.try .content-table td,
.html-lesson-wrapper .content-item .content-div.try .content-table th {
  border: 1px solid #d9d9d9;
  vertical-align: baseline;
}
.html-lesson-wrapper .content-item .content-div.try .content-table th {
  vertical-align: middle !important;
  padding: 0.7% 0.5%;
}
.html-lesson-wrapper .content-item .content-div.try .content-table td {
  padding: 0.5%;
  padding-left: clamp(5px, 1vw, 10px);
}
@media screen and (max-width: 460px) {
  .html-lesson-wrapper .content-item .content-div.try .content-table td {
    padding-bottom: 1%;
  }
}
.html-lesson-wrapper .content-item .content-div.review-part-1 {
  padding-right: clamp(15px, 7vw, 43px);
  width: 100% !important;
}
.html-lesson-wrapper .content-item .content-div.review-part-1 .review-box {
  font-family: "Trebuchet MS";
  font-size: clamp(10px, 2vw, 13.5px);
  padding: clamp(2px, 1vw, 5px) clamp(5px, 2vw, 10px);
  border: 3px solid #d9d9d9;
  margin-bottom: 3%;
}
.html-lesson-wrapper .content-item .content-div.review-part-1 .review-box p {
  margin: 0;
}
.html-lesson-wrapper .content-item .content-div.review-part-1 .review-box .review-box-title {
  font-weight: bold;
}
.html-lesson-wrapper .content-item .content-div.review-part-1 .review-box ul {
  margin: 0;
  padding: 0;
  list-style-type: "▼";
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.html-lesson-wrapper .content-item .content-div.review-part-1 .review-box ul li {
  list-style-position: outside;
  text-indent: -1em;
  margin-left: 0.8em;
  padding-left: 0.5em;
}
.html-lesson-wrapper .content-item .content-div.review-part-1 .review-box ul li::before {
  content: "";
  display: block;
  width: 0.5em;
}
.html-lesson-wrapper .content-item .content-div.review-part-1 .review-box ul li::marker {
  font-size: clamp(11px, 2vw, 13px);
}
.html-lesson-wrapper .content-item .content-div.review-part-1 .review-box .all-tips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}
.html-lesson-wrapper .content-item .content-div.review-part-1 .review-box .all-tips .start-div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 45%;
}
.html-lesson-wrapper .content-item .content-div.review-part-1 .review-box .all-tips .end-div {
  margin-left: 4%;
  width: 50%;
}
.html-lesson-wrapper .content-item .content-div.review-part-1 .review-box .all-tips .tip-label {
  font-weight: bold;
}
.html-lesson-wrapper .content-item .content-div.review-part-1 .review-box .content-footer {
  margin-top: 0.3rem;
  margin-left: -0.5%;
  margin-right: -0.5%;
}
.html-lesson-wrapper .content-item .content-div.review-part-2 {
  padding-right: clamp(15px, 7vw, 55px);
}
.html-lesson-wrapper .content-item .content-div.review-part-2 p.part-2-content {
  margin: 0;
  font-family: "Trebuchet MS";
  font-size: clamp(12px, 3vw, 16px);
  line-height: clamp(12px, 4vw, 25px);
}
.html-lesson-wrapper .content-item-divider {
  width: 100%;
  text-align: center;
  color: #d9d9d9;
  margin-top: clamp(10px, 2vw, 20px);
  margin-bottom: clamp(15px, 3vw, 25px);
}
.html-lesson-wrapper .content-item-divider::after {
  content: "▼▼▼";
  font-size: clamp(12px, 2vw, 15px);
}

.html-lesson-wrapper .biz-tips .biz-tip-content {
  padding-bottom: 2rem !important;
}
.html-lesson-wrapper .chat-box .chat-message .chat-1 {
  max-width: 433px;
}
@media screen and (max-width: 460px) {
  .html-lesson-wrapper .chat-box .chat-message {
    max-width: 200px !important;
  }
}
.html-lesson-wrapper .act-spacer {
  padding-bottom: 3rem;
}
@media only screen and (max-width: 767px) {
  .html-lesson-wrapper .act-spacer {
    padding-bottom: 0;
  }
}