@import '../../css/_op-e-mail-writing-basics-utils.scss';

.html-lesson-wrapper {
  .decimal {
    padding-left: clamp(6px,5vw,18px);
    list-style-type: decimal;
    line-height: 1.8;
    font-size: clamp(8px, 1.8vw, 15px);
  }
  .act-spacer {
    padding-bottom: 10rem;
    @media only screen and (max-width: 767px) {
      padding-bottom: 0;
    }
  }
  .header-content{
    .biz-tips{
      min-width: 150px;
    }
  } 
  .content-table{
    .table-header-1{
      width: 30% !important;
    }
    .table-header{
      width: 70% !important;
    }
  }
  .see{
    .dialogue:last-child{
      height: 92%;
    }
  }
}
