$text-font: 'Trebuchet MS';
$title-font: 'Helvetica';

body {
  margin: 0;
  padding: 0;
}

body .html-lesson-wrapper {
  width: 100%;
  min-width: 360px;
  max-width: 892.75px;
  min-height: 960px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/op-bg-header.png'),
    url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/other-programs-footer-logo.svg');
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: $text-font;
}

body header {
  font-family: $title-font;
}

body .b {
  font-weight: bold;
}

body .i {
  font-family: italic;
}

body .u {
  text-decoration: underline;
}
body table {
  border-collapse: collapse;
}
body .program-rank {
  position: absolute;
  top: 40px;
  left: 48px;
  color: #ffffff;
  font-size: 0px;
}

body .program-rank .type {
  padding: 3px 16px 3px 14px;
  background-color: #cc3366;
  font-size: clamp(7px, 1.8vw, 15px);
}

body .program-rank .level {
  padding: 3px 12px 3px 13px;
  background-color: #339999;
  font-size: clamp(7px, 1.8vw, 15px);
}

body .line {
  margin: 0 12px;
}

body .title {
  position: absolute;
  top: 80px;
  left: 55px;
  font-size: clamp(12px, 3vw, 27px);
}

body .lesson-number {
  position: absolute;
  left: 90.5%;
  margin-top: 7.4%;
  font-size: clamp(7px, 1.8vw, 13px);
  color: #ffffff;
}

body .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

body .sub-text {
  font-family: 'Trebuchet MS' !important;
  line-height: clamp(12px, 2.8vw, 22px);
  margin: 0 auto;
}
body .words-phrase-conten {
  font-family: 'Trebuchet MS' !important;
}
body .section {
  position: absolute;
  left: -71.5px;
  color: #cc3366;
  font-weight: bold;
  font-family: 'Helvetica';
  top: 2px;
}

body .divider {
  color: #d9d9d9;
  font-size: clamp(6px, 1.8vw, 15px);
  position: relative;
  left: 52%;
}

body .divider.d1 {
  margin-top: 8px;
}

body .divider.d2 {
  margin-top: 28px;
}

body ul {
  margin: 3px 0px 0px 18px;
  padding: 0;
  line-height: clamp(12px, 3vw, 26px);
}

body ul li {
  padding-left: 8px;
}

body .see-content,
body .act-content,
body .try-content {
  position: relative;
  margin-left: clamp(50px, 14%, 126.5px);
  padding-left: 18.5px;
  padding-right: 42px;
  font-size: clamp(6px, 1.8vw, 15px);
}
body .see-content .part-2 {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  color: #7f7f7f;
}
body .words-phrase-content {
  position: relative;
  margin-top: clamp(70px, 18%, 155px);
  padding: 2px 0px 0px 47px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 2%;
  padding-left: clamp(32px, 6vw, 47px);
  background: #f0d4d4;
  font-size: clamp(6px, 1.8vw, 15px);
}

body .words-phrase-content .section {
  margin-left: clamp(50px, 14%, 126.5px);
  line-height: 1.8em;
  margin-top: clamp(10px, 2.6vw, 18px) !important;
}

body .words-phrase-content .pointers {
  margin-top: clamp(12px, 2.8vw, 20px) !important;
  margin-left: clamp(50px, 14%, 126.5px);
  margin-right: 10%;
}
body .see-content .row .breaker {
  width: 14px;
}
body .try-content .row table.try-1 tr td {
  vertical-align: top;
}
body .see-content .row table {
  width: 100%;
  padding-right: 5%;
  padding: 7px;
  padding-left: 0;
  table-layout: fixed;
}
body .see-content .row table tr td .u-line {
  text-decoration: underline;
}
body .see-content .row table tr td {
  padding: 5px 0;
}
body .words-phrase-content .pointers table {
  width: 100%;
}
body .words-phrase-content .pointers table tr td {
  width: 50%;
}

body .words-phrase-content .pointers .arrow-part {
  position: relative;
}
body .words-phrase-content .pointers .label-part {
  margin-left: -3%;
}
body .words-phrase-content .pointers .th-part {
  margin-left: -6%;
}
body .words-phrase-content .pointers .arrow-part:before {
  content: '';
  position: absolute;
  left: -20px;
  top: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #000000;
  display: inline-block;
  vertical-align: middle;
}

body .words-phrase-content .pointers .arrow-part span {
  color: #267aa1;
  font-weight: bold;
}

body .see-content {
  margin-top: 36px;
}

body .see-content .article {
  margin-top: 5px;
  line-height: 1.7em;
  margin-bottom: 29px;
}

body .see-content .article span.highlight {
  color: #267aa1;
  font-weight: bold;
}

body .see-content .col {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 16px;
  position: relative;
  line-height: clamp(12px, 3vw, 26px);
  width: 100%;
  border: 1px solid #000;
}
body .see-content .col-img {
  position: absolute;
  float: right;
  top: 6%;
  right: 10%;
}
body .see-content .col-img img {
  height: 32px;
  width: auto;
  display: block;
}
body .see-content .col-img img.see-img1 {
  margin-left: 45%;
}
body .see-content .col-img img.see-img2 {
  margin-left: -1%;
}
body .see-content .col-img img.see-img3 {
  margin-left: 56%;
}
body .see-content .col-img img.see-img4 {
  margin-left: 67%;
  margin-top: 3%;
}
body .see-content .col-img img.see-img5 {
  margin-left: 35%;
  margin-top: 4%;
}
body .see-content .col span.highlight {
  color: #267aa1;
  font-weight: bold;
}

body .see-content .col p {
  margin: 2px 10px;
}

body .see-content .col p.name {
  width: 70px;
}

body .try-content {
  margin-top: 30px;
}
body .try-content .table-1 {
  width: 100%;
  border-color: #d9d9d9;
}
body .try-content .table-1 tr td,
body .try-content .table-1 tr th {
  padding: 5px;
}
body .try-content .table-1 tr th {
  background-color: #cc3366;
  color: #ffffff;
}
body .try-content ul {
  list-style-type: decimal;
}

body .act-content {
  margin-top: 36px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 4%;
}
body .act-content ul {
  list-style-type: number;
}
body .act-content table {
  margin-top: 5px;
  font-size: clamp(6px, 1.5vw, 14px);
  border-spacing: 0px;
  padding-bottom: 5px;
  width: 100%;
}

body .act-content table th,
body .act-content table td {
  max-width: 120px;
  min-width: 80px;
  word-wrap: break-word;
  border: 1px solid #ffffff;
}

body .act-content table th {
  background-color: #2078a0;
  color: #ffffff;
  font-size: clamp(7px, 1.8vw, 15px);
  padding: 5px;
}

body .act-content table th:first-child {
  width: 400px;
}

body .act-content table td {
  text-align: left;
  padding: 4px;
  background-color: #f2f2f2;
}

body footer {
  font-size: clamp(4.5px, 0.6vw, 9px);
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  bottom: 32px;
  right: 6.2%;
  font-family: 'Arial';
  max-width: 34%;
}

@media screen and (max-width: 900px) {
  .html-lesson-wrapper {
    min-height: unset !important;
  }
  .html-lesson-wrapper .see-content {
    margin-top: clamp(22px, 3.8vw, 36px);
  }
  .html-lesson-wrapper .see-content .article {
    margin-bottom: clamp(20px, 3.7vw, 29px);
  }
  .html-lesson-wrapper .see-content .col {
    margin-right: clamp(10px, 2.2vw, 16px);
  }
  .html-lesson-wrapper .see-content .col p {
    margin-bottom: clamp(16px, 3.2vw, 24px);
  }
  .html-lesson-wrapper .see-content .col p.name {
    width: clamp(30px, 8.4vw, 70px);
  }
  .html-lesson-wrapper .try-content {
    margin-top: clamp(20px, 3.7vw, 30px);
    padding-left: clamp(11px, 2.4vw, 18px);
  }
  .html-lesson-wrapper .try-content ul {
    margin-left: clamp(11px, 2.4vw, 18px);
  }
  .html-lesson-wrapper .try-content li {
    padding-left: clamp(9px, 1.8vw, 13px);
  }
  .html-lesson-wrapper .act-content {
    margin-top: clamp(20px, 3.8vw, 36px);
  }
  .html-lesson-wrapper footer {
    bottom: clamp(16px, 4.8vw, 43px);
    right: 5% !important;
  }
}

@media screen and (max-width: 768px) {
  .html-lesson-wrapper .program-rank {
    position: absolute;
    top: clamp(20px, 4vw, 40px);
    left: clamp(23px, 4vw, 48px);
  }
  .html-lesson-wrapper .title {
    top: clamp(45px, 8.4vw, 80px);
    left: clamp(30px, 4.1vw, 55px);
  }
  .html-lesson-wrapper .divider.d1,
  .html-lesson-wrapper .divider.d2 {
    margin-top: clamp(18px, 3.4vw, 28px);
  }
  .html-lesson-wrapper .section {
    left: calc(-16% + 30px);
  }
  .html-lesson-wrapper .section.words {
    left: calc(-14% + 30px);
  }
  .html-lesson-wrapper .arrow-part:before {
    left: -4.5% !important;
    top: 0.6vw !important;
  }
}

@media screen and (max-width: 600px) {
  .html-lesson-wrapper .type {
    padding: 2px 8px 2px 7px !important;
  }
  .html-lesson-wrapper .level {
    padding: 2px 6px 2px 7px !important;
  }
  .html-lesson-wrapper .line {
    margin: 0 6px;
    vertical-align: middle;
  }
  .html-lesson-wrapper .arrow-part:before {
    border-left: 3.5px solid transparent !important;
    border-right: 3.5px solid transparent !important;
    border-top: 5.5px solid #000000 !important;
  }
}
