@import '../../css/_op-online-chat-basics-utils.scss';
.html-lesson-wrapper {
  .biz-tips {
    .biz-tip-content {
      padding-bottom: 1rem !important;
    }
  }
  .chat-box {
    .chat-message {
      .chat-1 {
        max-width: 400px;
        margin-block-start: 0.5rem;
        margin-block-end: 0.5rem;
      }
      &.left {
        max-width: 100% !important;
        @media screen and (max-width: 460px) {
          max-width: 200px !important;
        }
      }
      @media screen and (max-width: 460px) {
        max-width: 200px !important;
      }
    }
  }
  .act-spacer {
    padding-bottom: 10rem;
    @media only screen and (max-width: 767px) {
      padding-bottom: 0;
    }
  }
}
