@import '../../css/op-teleconferencing-utils';

.html-lesson-wrapper {
  .act-spacer {
    padding-bottom: 5%;
    @media only screen and (max-width: 767px) {
      padding-bottom: 0;
    }
  }
  .extension {
    margin-bottom: 1% !important;
    width: 70% !important;
    @media only screen and (max-width: 863px) {
      width: 73% !important;
    }
    @media only screen and (max-width: 830px) {
      width: 75% !important;
    }
    @media only screen and (max-width: 450px) {
      width: 92% !important;
    }
  }
  footer {
    .footer-text {
      bottom: -10px;
      @media only screen and (max-width: 400px) {
        bottom: 0%;
      }
    }
  }
  .content-item {
    .message {
      @media only screen and (max-width: 767px) {
        padding-left: 4%;
      }
    }
  }
}
