$text-font: 'Trebuchet MS';
$title-font: 'Arial';
$noto-sans: 'Noto Sans', sans-serif;

$primary-blue: #1287cd;
$rank-green: #009c9a;
$primary-dark: #083051;
$primary-light: #cce0ec;

$subtext-color: #7f8288;

$side-margin: clamp(18px, 5vw, 32px);

$s3: 'https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images';

body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  font-family: $text-font;
  width: 100%;
  min-width: 360px;
  max-width: 604px;
  min-height: 1596px;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url(#{$s3}/0-bg-header.png), url(#{$s3}/0-bg-footer.png);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;

  hr {
    border-top: 1px solid #dbdcdc;
  }

  td {
    vertical-align: top;
  }

  .m-0 {
    margin: 0;
  }

  .flex {
    display: flex;
  }

  .img-responsive {
    width: 100%;
    height: auto;
  }

  header {
    font-family: $noto-sans;
  }

  .fs-16 {
    font-size: clamp(12px, 2.3vw, 16px);
  }
  .flip-horizontal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .noto-sans {
    font-family: $noto-sans;
  }
  .b {
    font-weight: bold;
  }
  .u-sup {
    border-bottom: solid 1.5px black;
    display: inline-block;
    line-height: clamp(6px, 1.5vw, 14px);
  }
  .u-blue {
    text-decoration: underline;
    color: $primary-blue;
  }
  .primary-blue {
    color: $primary-blue;
  }
  .program-rank {
    position: absolute;
    color: #ffffff;
    font-size: 0px;
    margin-top: clamp(1px, 1vw, 5px);

    .type {
      padding: clamp(1px, 1vw, 5px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 5px)
        clamp(10px, 3vw, 17px);
      background-color: $primary-blue;
      font-size: clamp(7px, 1.8vw, 12px);
    }
    .level {
      padding: clamp(1px, 1vw, 5px) clamp(20px, 8.4vw, 50px)
        clamp(1px, 1vw, 5px) clamp(10px, 3vw, 17px);
      font-size: clamp(7px, 1.8vw, 12px);
      background: linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -webkit-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -o-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -moz-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      margin-left: -15px;
      width: 100%;
    }
  }
  .eng {
    font-weight: bold;
    font-size: clamp(9px, 2vw, 14px);
  }
  .jap {
    letter-spacing: -1.3px;
    color: $subtext-color;
    font-family: $noto-sans;
    font-size: clamp(7px, 1.8vw, 11px);
  }
  .line {
    margin: 0 12px;
  }
  .lesson-number {
    position: absolute;
    right: 6.6%;
    width: 1.9%;
    text-align: center;
    margin-top: 0.8%;
    font-size: clamp(17px, 4.5vw, 26px);
    color: #ffffff;
  }

  // Title
  .title-section {
    position: absolute;
    top: clamp(30px, 8vw, 50px);
    background-color: $primary-blue;
    color: white;
    padding: clamp(10px, 3vw, 16px) clamp(20px, 6vw, 32px);
    width: 100%;
    box-sizing: border-box;
    font-family: $noto-sans;

    .title {
      font-size: clamp(16px, 4.5vw, 26px);
      margin-bottom: 0.5%;
    }
    .sub-title {
      font-size: clamp(10px, 2.5vw, 15px);
      letter-spacing: -1.3px;
    }
  }
  .arrow {
    @extend .b;
    text-transform: uppercase;
    font-size: clamp(12px, 2.3vw, 16px);
    padding: 2.4% 3.5%;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: $noto-sans;
  }
  .instructions {
    font-family: $noto-sans;
    position: absolute;
    padding: clamp(0px, 0.01vw, 3px) 0px;
    left: 26%;

    .title {
      font-size: clamp(12px, 3.5vw, 18px);
      color: #141821;
    }
    .sub-title {
      font-size: clamp(9px, 2vw, 13px);
      color: $subtext-color;
      letter-spacing: -1.3px;
    }
  }

  //office section
  .office-section {
    &.office-see-1 {
      margin-top: 9%;
    }
    &.office-act-1 {
      margin-top: 7%;
      margin-bottom: 4%;
    }
    &.office-try-4 {
      margin-top: clamp(23px, 6.5vw, 35px);
    }

    .legend {
      div {
        position: absolute;
        &.left,
        &.right {
          @extend .b;
          font-size: clamp(18px, 3vw, 25px);
          padding: clamp(2px, 2vw, 5px) clamp(10px, 5vw, 25px)
            clamp(2px, 2vw, 5px) clamp(2px, 2vw, 5px);
          background-color: #ebebeb;
          margin-top: 2px;
          color: #2d356b;
        }
        &.right {
          right: 0;
          margin-right: $side-margin;
        }
        &.center {
          transform: translateY(100%);
          margin-top: -15px;
          margin-left: auto;
          margin-right: auto;
          width: 0;
          height: auto;
          left: 0;
          right: 0;

          & > .number {
            font-size: clamp(15px, 4vw, 24px);
            width: clamp(20px, 4vw, 35px);
            height: clamp(20px, 4vw, 35px);
            line-height: clamp(20px, 4vw, 35px);
          }
        }
      }
    }
    .name {
      @extend .b;
      position: absolute;
      border-radius: clamp(4px, 1vw, 7px);
      border: 0.25px solid #231f20;
      background: white;
      padding: 1.6% 2.5%;
      font-size: clamp(7px, 2vw, 10px);
      color: #2d356b;

      &.akiko-1 {
        left: 38%;
        margin-top: 35%;
      }
      &.ken-1 {
        right: 13%;
        margin-top: 34%;
      }
      &.akiko-2 {
        left: 10%;
        margin-top: 34%;
        z-index: 999;
      }
      &.ken-2 {
        right: 14%;
        margin-top: 36%;
      }
    }
    .conversation {
      .bubble {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: contain;

        &.akiko-1 {
          background-image: url(#{$s3}/0-e-1-speech-bubble-akiko.png);
          left: 6%;
          padding: 11% 10% 6% 16%;
          margin-top: 0.8%;
        }
        &.ken-1 {
          background-image: url(#{$s3}/0-e-1-speech-bubble-ken.png);
          right: 1%;
          padding: 5% 8% 10% 5%;
          margin-top: 13%;
        }
      }
      .speech {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: contain;

        &.ken-1 {
          background-image: url(#{$s3}/0-e-1-speech-ken-1.png);
          padding: 2% 3% 5% 2%;
          margin-top: 15%;
          right: 22%;
        }
        &.akiko-1 {
          background-image: url(#{$s3}/0-e-1-speech-akiko-1.png);
          padding: 2% 3% 16% 2%;
          margin-top: 4%;
          left: 14%;
        }
      }
    }
  }

  //number
  .number {
    @extend .b;
    border-radius: 50%;
    background: $primary-blue;
    color: white;
    margin: 0;
    text-align: center;
    width: clamp(13px, 4vw, 24px);
    height: clamp(13px, 4vw, 24px);
    line-height: clamp(13px, 4vw, 24px);
    font-family: $noto-sans;
    font-size: clamp(11px, 3vw, 16px);
    z-index: 1;
  }

  .letter {
    @extend .b;
    border: 2px solid $primary-blue;
    color: $primary-blue;
    font-family: $noto-sans;
    width: clamp(11px, 4vw, 20px);
    height: clamp(11px, 4vw, 20px);
    line-height: clamp(11px, 4vw, 20px);
    font-size: clamp(11px, 3vw, 16px);
    text-align: center;
  }

  .plus {
    display: flex;
    align-content: center;
    & > img {
      width: auto;
      height: clamp(10px, 5vw, 15px);
    }
  }

  // See-content
  .see-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.see-1 {
      margin-top: 30%;
    }

    &.see-2,
    &.see-3 {
      margin-top: 7%;

      .legend {
        margin-top: 7%;
      }
    }

    &.see-3 {
      .legend {
        justify-content: center !important;
      }
    }

    .arrow.see {
      color: $primary-blue;
      background-image: url(#{$s3}/0-see-arrow.png);
    }

    .phrases-section {
      .yellow {
        background: #ffe200;
      }
      .blue {
        background: #c3e8e6;
      }
      .red {
        background: #ffb2b0;
      }

      .yellow-piece,
      .green-piece,
      .red-piece,
      .blue-piece {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      .yellow-piece {
        background-image: url(#{$s3}/0-yellow-piece.png),
          linear-gradient(
            90deg,
            rgba(255, 226, 0, 1) 80%,
            rgba(255, 255, 255, 0) 80%
          );
        background-position: right;
      }
      .blue-piece {
        background-image: url(#{$s3}/0-blue-piece.png);
      }
      .red-piece {
        background-image: url(#{$s3}/0-red-piece.png);
      }
      .green-piece {
        background-image: url(#{$s3}/0-green-piece.png),
          linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 20%,
            rgba(195, 232, 230, 1) 20%
          );

        background-position: left;
      }

      .icon {
        @extend .b;
        text-align: center;
        font-size: clamp(10px, 2vw, 14px);

        img {
          height: clamp(70px, 20vw, 100px);
          width: auto;
        }
        div {
          margin-top: clamp(8px, 2vw, 14px);
        }
      }
      .phrases {
        display: flex;
        font-family: $noto-sans;
      }
      .phrase {
        p {
          margin: clamp(3px, 0.5vw, 5px) 0px;
        }
      }
      .eng {
        @extend .b;
        font-size: clamp(8px, 2.2vw, 16px);
        text-align: center;
        border-radius: 3px;
        font-family: $noto-sans;
      }
      .jap {
        font-size: clamp(7px, 2vw, 14px);
        width: min-content;
        min-width: 100%;
      }

      .conversation {
        .akiko-1 {
          margin-top: 5%;
          display: grid;
          grid-template-columns: [one] min-content [two] minmax(auto, 1fr);

          .icon {
            margin-right: 40px;
          }
          .eng {
            padding: clamp(7px, 2vw, 10px) clamp(11px, 3vw, 17px);
          }
          .phrase:not(:last-child) {
            margin-right: 20px;
          }
        }

        .ken-1 {
          margin-top: 5%;
          display: grid;
          grid-template-columns: 1fr min-content;

          .icon {
            margin-right: 40px;
          }
          .eng {
            padding: clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px);
          }
          .phrase:not(:last-child) {
            margin-right: 20px;
          }
          .phrases-wrapper {
            display: flex;
            justify-content: end;
            align-items: center;
            margin-right: clamp(18px, 5vw, 30px);
          }
        }
      }

      .legend {
        display: flex;
        justify-content: space-between;

        & .eng {
          padding: clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px);
        }
      }

      .phrase-alts {
        display: grid;
        grid-template-columns: [one] min-content [two] minmax(auto, 1fr);
        gap: 13px;

        &.half {
          grid-template-columns: 1fr 1fr;
        }
        &.right {
          grid-template-columns: 1fr min-content;
        }

        .alt-box {
          padding: 15px;
          border: 1px solid $primary-blue;
        }

        .alt {
          display: flex;
          align-items: baseline;
        }

        .alt:not(:last-child) {
          margin-bottom: 7%;
        }

        .choice {
          margin-left: clamp(5px, 1vw, 9px);
          p {
            margin: 0;
            white-space: nowrap;
            font-family: $noto-sans;
          }
        }

        .choice-eng {
          font-size: clamp(9px, 3vw, 18px);
        }

        .choice-jap {
          font-size: clamp(6.7px, 1.8vw, 13px);
          letter-spacing: -1.3px;
          color: $subtext-color;
        }
      }
    }
  }
  .try-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.try-1,
    &.try-3,
    &.try-2 {
      margin-top: 7%;
    }

    &.try-1 {
      .combinations {
        grid-template-columns: min-content 1fr 1fr;
        margin-top: 7%;

        .combination-icon {
          height: clamp(116px, 26vw, 180px);
          width: auto;
          margin-right: clamp(28px, 8vw, 56px);
        }

        .combination {
          align-items: center;
          margin-bottom: 11%;

          & > div:not(:last-child) {
            margin-right: 11%;
          }
        }
      }
    }

    &.try-2 {
      .instructions {
        margin-right: 20px;
      }

      .table-wrapper-section {
        margin-top: 15%;
        .table-wrapper {
          width: 100%;
          p {
            margin: 0;
          }
          .table-number {
            @extend .b, .primary-blue;
            font-size: clamp(10px, 3vw, 16px);
            padding-top: 3px;
          }
          .table-img {
            width: 34%;
          }

          &:not(:last-child) {
            margin-bottom: 11%;
          }
          img {
            max-width: clamp(44%, 25vw, 100%);
            padding-left: 5%;
          }
        }
      }

      .table {
        font-family: $noto-sans;
        border-collapse: collapse;

        td {
          font-size: clamp(10px, 3vw, 18px);
          img {
            max-width: clamp(44%, 16vw, 100%);
            margin-bottom: 20px;
          }
        }

        .name {
          @extend .b;
          font-size: clamp(10px, 3vw, 16px);
          white-space: nowrap;
        }

        td:nth-child(2) {
          padding-bottom: 9%;
        }
      }
    }

    &.try-3 {
      margin-top: 50px;

      .table-wrapper {
        margin-top: 12%;
        .table {
          font-family: $noto-sans;
          border-collapse: collapse;
          margin-bottom: 8%;

          .table-number {
            @extend .b, .primary-blue;
            font-size: clamp(10px, 3vw, 16px);
            padding-right: 12px;
          }

          td {
            font-size: clamp(10px, 3vw, 18px);
            img {
              max-width: clamp(44%, 16vw, 100%);
              margin-bottom: 20px;
            }
          }

          .name {
            @extend .b;
            font-size: clamp(10px, 3vw, 16px);

            white-space: nowrap;
          }

          td:nth-child(3) {
            padding-bottom: 5%;
          }
        }
      }
    }

    .arrow.try {
      color: white;
      background-image: url(#{$s3}/0-try-arrow.png);
    }

    .combinations {
      display: grid;

      .combination {
        display: flex;
      }
    }
  }
  .act-content {
    margin-left: $side-margin;
    margin-right: $side-margin;
    &.act-1,
    &.act-2 {
      margin-top: 32px;
    }
    &.act-2 {
      margin-bottom: 15%;
    }

    .arrow.act {
      color: white;
      background-image: url(#{$s3}/0-act-arrow.png);
    }

    &.act-1 {
      .akiko-standing {
        position: absolute;
        margin-top: 25%;
        left: 10%;
        height: auto;
        width: clamp(34px, 9.1vw, 57px);
      }
      .table .name {
        padding-top: 4px;
      }
    }
  }
  .blue-line {
    width: 15px;
    height: 2px;
    border-bottom: 2px solid $primary-blue;
    margin-bottom: 5px;
  }
  .table {
    width: 100%;

    .name {
      font-weight: bold;
      font-size: clamp(10px, 3vw, 16px);
      text-align: right;
      padding-right: 10px;
      white-space: nowrap;
      width: 1%;
    }

    .eng {
      font-family: $noto-sans;
      font-weight: normal;
      font-size: clamp(12px, 3.5vw, 18px);
      margin-bottom: 1%;
    }
    .jap {
      font-size: clamp(9px, 2vw, 13px);
      margin-bottom: 3.8%;
    }
  }
}
