$text-font: 'Trebuchet MS';
$title-font: 'Arial';
$ja-font: 'Noto Sans JP';

$primary: #257A9E;
$primary-dark: #083051;

body {
  margin: 0;
  padding: 0;
  font-family: $title-font;
}
.page-1,
.page-2,
.page-3 {
  width: 892px;
  height: 1262px;
  overflow: hidden;
  position: relative;
}
.bg {
  position: absolute;
  width: 892.75px;
  height: 1262.5px;
  z-index: -1;
}
.b {
  font-weight: bold;
}
.i {
  font-family: italic;
}
.u-sup {
  border-bottom: solid 1.5px black;
  display: inline-block;
  line-height: 14px;
}
.program-rank {
  position: absolute;
  top: 41px;
  left: 62px;
  color: #ffffff;
  font-size: 15px;

  .level {
    margin-left: 25px;
  }
}
.line {
  margin: 0 12px;
}
.title {
  position: absolute;
  top: 80px;
  left: 55px;
  font-size: 27px;
}
.lesson-number {
  position: absolute;
  left: 823px;
  top: 66px;
  font-size: 13px;
  color: #ffffff;
}
.row {
  display: flex;
  flex-direction: row;
  font-family: $text-font;
}
.sub-text {
  font-family: $title-font !important;
}
.section {
  position: absolute;
  left: 55px;
  color: #2078A0;
  font-weight: bold;
  font-size: 15px;

  &.see {
    top: 190px;
  }
  &.try {
    top: 598px;
  }
  &.act {
    top: 1031px;
  }
}
.divider {
  color: #d9d9d9;
  font-size: 15px;
  position: absolute;
  left: 469px;

  &.d1 {
    top: 548px;
  }
  &.d2 {
    top: 982px;
  }
}
.sub-head {
  position: absolute;
  top: 125px;
  left: 47px;
  .subtitle {
    font-family: $ja-font;
    color: $primary;
    font-weight: bold;
    font-size: 15px;
  }
  p {
    margin: 3px auto;
  }
}
.text {
  font-family: $text-font;
}
.ja {
  font-family: $ja-font, sans-serif;
  font-size: 12.5px;
  font-weight: bold;
  color: #595959;
}
.primary-text {
  color: $primary;
}
sup {
  font-size: 10px;
  line-height: 16px;
  display: inline-block;
}

/* See */
.see-content {
  margin-left: 144.5px;
  margin-top: 190px;
  font-size: 15px;

  p {
    margin: 0 auto;
    &:last-child {
      margin-bottom: 30px;
    }
    .tab {
      display: inline-block;
      width: 180px;
    }
  }
  .col {
    width: fit-content;
    margin-right: 48px;
    min-width: 310px;
  }
  .text {
    font-family: $text-font;
    line-height: 26px;
    margin-top: 4px;
  }
  .text-title {
    font-family: $text-font;
  }
  .example {
    margin-top: 56px;

    .conversation {
      line-height: 26px;
      margin-top: 4px;
      .row {
        p {
          display: inline-block;
          margin: -0.5px 0px;
          &:first-child {
            width: 52px;
            word-wrap: break-word;
          }
          &:last-child {
            max-width: 640px;
          }
        }
      }
    }
  }
}

/* Try */
.try-content {
  position: absolute;
  top: 598px;
  left: 144.5px;
  font-size: 15px;

  ul {
    list-style-type: decimal;
    margin: 3px 0px 0px 18px;
    padding: 0;
    line-height: 26px;
  }
  li {
    padding-left: 13px;
    &:nth-child(5) {
      margin-bottom: 25px;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .sub-text.mg {
    margin-top: 25px;
  }
}

/* Act */
.act-content {
  position: absolute;
  top: 1031px;
  left: 144.5px;
  font-size: 15px;
  width: 720px;

  .sub-text {
    line-height: 22px;
  }
  .list-col {
    display: flex;
    ul {
      margin: 3px 0px 0px 18px;
      padding: 0;
      line-height: 26px;
      list-style: none;
      &:first-child {
        list-style: disc;
        width: 230px;
      }
    }
  }
}
.footer {
  font-size: 9px;
  position: absolute;
  top: 1210px;
  left: 532px;
}

/* Page 2 */
.page-2 {
  .title {
    top: 72px;
    left: 50px;
    word-spacing: 3px;
    .ja {
      font-size: 27px;
      color: #000000;
      font-weight: bold;
      margin-right: 3px;
    }
  }
  .lesson-points {
    position: absolute;
    top: 188px;
    left: 47px;
    &.ja {
      color: $primary;
      font-size: 12px;
      letter-spacing: 0.10px;
    }
    div {
      p {
        margin: 3px auto;
        &:first-child {
          color: #000000;
          font-size: 15px;
        }
      }
    }
    p {
      margin: 6px auto;
    }
  }
  .arrow-part {
    position: absolute;
    top: 278px;
    left: 125px;
    .subtitle {
      font-size: 15px;
      color: #000000;
    }
    p {
      margin: 4.5px auto;
      font-size: 12px;
    }
    .dark-blue {
      color: $primary-dark;
      letter-spacing: 0.10px;
    }
  }
  .section.see {
    top: 487px;
  }
  .see-content {
    margin-top: 493px;
    margin-left: 148px;

    .tab {
      width: 170px;
    }
    .row .ja {
      margin-top: 4px;
    }
    .text {
      margin-top: 8px;
      .ja {
        margin-top: 0px;
        color: #257A9E;
      }
      p {
        &:last-child {
          margin-bottom: 10px;
        }
      }
    }
  }
  .example {
    margin-top: 15px;
    margin-left: -22px;
  }
}

/* Page 3 */
.page-3 {
  .section.try {
    top: 170px;
  }
  .sub-head {
    top: 72px;
  }
  .try-content {
    top: 170px;
    left: 128px;

    span:nth-child(-n+2) {
      display: block;
      margin-bottom: 5px;
    }
    ul {
      list-style: none;
      margin: 24px 0px 0px 16px;
      counter-reset: ulCounter;
      li:not(.ja) {
        counter-increment: ulCounter;
        list-style: none;
        &:before {
          content:counter(ulCounter) '.';
          position: absolute;
          left: 0px;
        }
      }
      li {
        &.ja {
          margin-top: -2px;
          &:before {
            content: '';
          }
        }
        &:nth-child(5) {
          margin-bottom: 0px;
        }
      }
    }
  }
  .sub-text.ja {
    margin-top: 8px;
  }
  .divider.d2 {
    top: 837px;
  }
  .section.act {
    top: 885px;
  }
  .act-content {
    top: 885px;
    left: 125px;
    .ja {
      margin: 8px auto;
    }
    .list-col {
      margin-top: 32px;
      ul {
        line-height: 24px;
        list-style: none;
        margin-left: 28px;
        &:first-child {
          width: 168px;
          margin-left: 0px;
        }
        .ja {
          margin: 2px auto;
        }
      }
    }
  }
}
