@import '../../css/op-negotiation-basics-utils';

.html-lesson-wrapper {
  .try-content {
    ol {
      margin-left: 1.5em;

      .misaligned::before {
        width: 1%;
      }
    }
    ul {
      margin-left: 1.4em;
      line-height: normal !important;
      li {
        padding-left: 5px !important;
      }
    }
  }
}
