@import '../../css/level3-utils';

.html-lesson-wrapper {
  .grid {
    color: #bc7d3e;
    display: grid;
    grid-template-columns: min-content 3fr;

    p {
      &:first-child {
        width: 4.5em;
      }
    }
  }
  .act-disc {
    &::before {
      content: '•';
      padding: 0 0.5em;
    }
  }
  aside,
  .act-content {
    ul {
      list-style-type: '•';
      margin: 0;
      margin-left: 0.6em;
      margin-block: 0;
      padding-inline: 0;

      li {
        padding-inline-start: 1em;
      }
    }
  }
}
