@import '../../css/level1-a-utils';

.html-lesson-wrapper {
  .try-content {
    ul > li > p {
      display: grid;
      grid-template-columns: 0.03fr 1fr;
    }
  }
  .shape {
    margin-right: 2em;
  }
  .page-1 {
    .shape {
      width: 13em;
    }
  }
  .page-2 {
    .shape {
      margin-top: 7em;
      width: 12em;
    }
  }
  .act-content {
    ul {
      list-style-type: decimal;
      margin-left: 1.4em;
    }
  }
}
