@import '../../css/_op-presentation-basics-utils';

.html-lesson-wrapper {
  .see-content table .arrow-part:before {
    top: 0px !important;
  }
  .see-content table {
    border-collapse: collapse;
    width: 100%;
    .arrow-part {
      text-align: left;
      margin-left: 20px;
    }
  }
  .spn-normal {
    font-weight: 500;
  }
  .biz-tip-content {
    table {
      tr th {
        text-align: left;
        padding-top: 5px;
        padding-bottom: 15px;
        span {
          position: absolute;
          margin-left: -3%;
        }
      }
      tr td {
        width: 32%;
        .arrow-part {
          width: 95%;
        }
      }
    }
  }
  .see-content {
    table {
      tr th {
        text-align: left;
        padding-bottom: 10px;
      }
      tr td {
        border: 2.1px solid #d8d8d8;
        padding: 10px;
        min-height: 150px;
        margin-bottom: 5%;
        margin-right: 5%;
        text-align: center;
      }
      tr td.tdbreaker {
        border: none;
      }
    }
    table.tbl-2 {
      tr td {
        border: 0 solid #d8d8d8;
        padding: 0px;
        min-height: 150px;
        margin-bottom: 0%;
        margin-right: 0%;
        text-align: left;
        padding-left: 4%;
      }
    }
    .part-2 {
      margin-top: 5%;
      line-height: 1.8;
    }
  }
  .try-content {
    table {
      tr th {
        text-align: center;
        background-color: #cc3366;
        color: #ffffff;
        padding: 5px;
        border: 1px solid #d8d8d8;
        border-collapse: collapse;
      }
      tr td {
        width: 20%;
        padding: 5px;
        border: 1px solid #d8d8d8;
        border-collapse: collapse;
      }
    }
    .p-1,
    .p-2,
    .p-3 {
      line-height: 1.8;
    }
  }
  @media screen and (max-width: 428px) {
    .see-content table .arrow-part:before {
      left: -1.5em !important;
      top: 2px !important;
    }
    .section.words {
      left: calc(-13.3% + 49px);
    }
    .biz-tip-content {
      .arrow-part:before {
        left: -4% !important;
      }
    }
    .try-content .sub-text {
      margin-left: 4px;
    }
    .act-content .sub-text {
      margin-left: -2px;
    }
    .try-content .p-1,
    .try-content .p-2,
    .try-content .p-3 {
      line-height: 1.8;
      margin-left: 4px;
    }
  }
  @media screen and (max-width: 360px) {
    .biz-tip-content {
      margin-top: 30%;
    }
  }
}
