@import '../../css/_op-it-manager-utils.scss';

.html-lesson-wrapper {
  .lesson-number {
    left: 94.4%;
  }
  table {
    border-collapse: collapse;
  }
  .see-content {
    table {
      tr {
        td.breaker {
          padding: 2%;
          text-align: center;
          padding-right: 17%;
        }
        td {
          line-height: 1.8em;
          .light-text {
            color: #a6a6a6;
          }
        }
      }
    }
  }
  .try-content {
    table {
      margin-top: -2%;
      tr {
        td {
          line-height: 1.8em;
        }
      }
    }
  }
  .act-content {
    p {
      line-height: 1.8em;
    }
    p.content {
      margin-top: -2%;
    }
  }

  @media screen and (max-width: 600px) {
    .arrow-part:before {
      left: 0em;
    }
    .arrow-part {
      padding-left: 10px;
    }
    .biz-tip-content {
      .arrow-part {
        margin-left: -3.2%;
      }
    }
    .see-content,
    .try-content {
      font-size: clamp(8px, 2vw, 13.5px);
    }
  }
  @media screen and (max-width: 360px) {
    .lesson-number {
      left: 94.1%;
    }
    .biz-tip-content {
      .arrow-part:before {
        left: 0em;
      }
    }
  }
}
