@import '../../css/_op-presentation-basics-utils';

.html-lesson-wrapper {
  .arrow-part {
    margin-left: 7px;
  }

  section.try-content {
    margin-bottom: 100px;
  }

  table {
    border-collapse: collapse;
  }
  .review-content {
    margin-top: 25% !important;
    line-height: normal !important;

    .arrow-part:before {
      left: -1.2em !important;
    }

    table {
      tr th {
        text-align: left;
        padding-bottom: 10px;
      }
      tr th {
        text-align: left;
        padding-bottom: 10px;
      }
      tr td {
        border: 2.1px solid #d8d8d8;
        padding: 10px;
        min-height: 150px;
        margin-bottom: 5%;
        margin-right: 5%;
        padding-left: 5%;
        p {
          margin-left: -3%;
          margin-top: -5px;
          margin-bottom: 3px;
        }
        div.div-1 {
          float: left;
          width: 47%;
        }
        div.div-2 {
          float: right;
          width: 47%;
        }
        div.div-1,
        div.div-2 {
          b {
            margin-left: -7%;
          }
          .arrow-part {
            b {
              margin-left: 0%;
            }
          }
        }
      }
      tr td.tdbreaker {
        border: none;
      }
      tr.trbreaker {
        height: 20px;
      }
    }

    p b {
      line-height: 1.8 !important;
    }
  }
  .try-content {
    line-height: 1.8 !important;
    table {
      tr th {
        text-align: center;
        background-color: #cc3366;
        color: #ffffff;
        padding: 5px;
        border: 1px solid #d8d8d8;
        border-collapse: collapse;
      }
      tr td {
        width: 47%;
        padding: 5px;
        border: 1px solid #d8d8d8;
        border-collapse: collapse;
      }
    }
    ol {
      margin-left: 3%;
      li {
        p {
          line-height: 1.8;
        }
      }
    }
  }

  @media screen and (max-width: 428px) {
    .sub-text {
      margin-left: 8px;
    }
    .try-content ol {
      margin-left: 8% !important;
    }
  }
}
