@import '../../css/op-job-interviews-utils';

.html-lesson-wrapper {
  .see-content {
    table {
      td:first-child {
        width: 9em;
      }

      td {
        padding: 0;
        line-height: normal;
      }
    }
  }

  .try {
    .content-table {
      td {
        padding: 1%;
        width: 30%;
      }
      .row {
        p {
          display: inline-block;
          margin: 0px 0px;
          &:first-child {
            min-width: 9%;
            max-width: 100px;
            word-wrap: break-word;
          }
        }
      }
    }
    ol {
      margin: 0;
      margin-block: 0;
      padding-inline: 0;
      list-style-position: inside;
      li::marker {
        color: $magenta;
      }
      li {
        margin-bottom: 2%;
      }
    }
  }
  // .content-div {
  //   &.see {
  //     .table-response-interview {
  //       border-collapse: collapse;
  //       font-size: clamp(12px, 2vw, 14px);
  //       p {
  //         margin: 0px 10px;
  //         line-height: 1.8em;
  //         top: -0.3em;
  //         position: relative;

  //         &:not(:last-child) {
  //           margin-bottom: 5%;
  //         }
  //       }
  //       td {
  //         padding: 0;
  //         vertical-align: top;
  //         line-height: 1.8em;

  //         &:first-child {
  //           @extend .b;
  //           width: 35%;
  //         }
  //       }
  //     }
  //     .table-bizmates {
  //       border-collapse: collapse;
  //       font-size: clamp(12px, 2vw, 14px);
  //       p {
  //         margin: 0px 10px;
  //         line-height: 1.8em;
  //         top: -0.3em;
  //         position: relative;

  //         &:not(:last-child) {
  //           margin-bottom: 5%;
  //         }
  //       }
  //       td {
  //         padding: 0;
  //         vertical-align: top;
  //         line-height: 1.8em;

  //         &:first-child {
  //           @extend .b;
  //           width: 35%;
  //         }
  //       }
  //     }
  //     .table-interview {
  //       border-collapse: collapse;
  //       font-size: clamp(12px, 2vw, 14px);
  //       p {
  //         margin: 0px 0px;
  //         line-height: 1.8em;
  //         // top: -0.3em;
  //         position: relative;

  //       }
  //       td {
  //         padding: 0;
  //         vertical-align: top;
  //         line-height: 1.8em;

  //         &:first-child {
  //           @extend .b;
  //           width: 12%;
  //         }
  //       }
  //     }
  //     .table-text {
  //       margin: 0px;
  //       font-family: 'Helvetica', 'Arial', sans-serif;
  //       font-size: clamp(12px, 2vw, 15px);
  //       font-weight: bold;
  //       line-height: clamp(12px, 4vw, 22px);
  //       margin-top: clamp(10px, -1vw, -3px);
  //       margin-bottom: 12px;
  //       max-width: 96%;
  //     }
  //     .content-list {
  //       background-color: #f0d4d4;
  //       padding: 10px;
  //       font-size: clamp(12px, 2vw, 15px);
  //       margin: 0px;
  //     }
  //     ul {
  //       margin: 0;
  //       margin-block: 0;
  //       padding-inline: 0;
  //       list-style-position: inside;
  //       li {
  //         margin-bottom: 0;
  //       }
  //     }
  //   }
  // }
}
