@import '../../css/_op-presentation-basics-utils';

.html-lesson-wrapper {
  table {
    border-collapse: collapse;
    width: 100%;
  }
  .arrow-part span {
    font-weight: normal !important;
    color: #2d3139;
  }
  .table-2-perc {
    margin-right: 2% !important;
  }

  .table-7-perc {
    margin-right: 7% !important;
  }
  .biz-tip-content {
    table {
      tr th {
        text-align: left;
        padding-top: 5px;
        padding-bottom: 15px;
        span {
          position: absolute;
          margin-left: -3%;
        }
      }
      tr td {
        width: 32%;
        .arrow-part {
          width: 100%;
        }
        .div-2 {
          span {
            color: #2d3139 !important;
            font-weight: normal !important;
          }
          .part-2-2 {
            color: #2d3139 !important;
            font-weight: normal !important;
          }
        }
      }
    }
  }
  .see-content {
    table {
      tr th {
        text-align: left;
        padding-bottom: 10px;
      }
      tr td {
        border: 2.1px solid #d8d8d8;
        padding: 10px;
        min-height: 150px;
        margin-bottom: 5%;
        margin-right: 5%;
      }
      tr td.tdbreaker {
        border: none;
      }
    }
  }
  .try-content {
    table {
      tr {
        vertical-align: top;
        th {
          text-align: center;
          background-color: #cc3366;
          color: #ffffff;
          padding: 5px;
          border: 1px solid #d8d8d8;
          border-collapse: collapse;
        }
        td {
          width: 20%;
          padding: 5px;
          border: 1px solid #d8d8d8;
          border-collapse: collapse;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .biz-tip-content {
      table {
        tr {
          td {
            .div-2 {
              span {
                color: #000000 !important;
                font-weight: normal;
              }
              .part-2-2 {
                display: block;
                color: #000000 !important;
                font-weight: normal;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 428px) {
    .try-content table {
      margin-left: 3px;
    }
    .try-content .sub-text {
      margin-left: 4px;
    }
    .act-content .sub-text {
      margin-left: -2px;
    }
    .try-content .p-1,
    .try-content .p-2,
    .try-content .p-3 {
      line-height: 1.8;
      margin-left: 4px;
    }
  }
  @media screen and (max-width: 360px) {
    .biz-tip-content {
      margin-top: 30%;
    }
  }
}
