@import '../../css/level1-a-utils';

.html-lesson-wrapper {
  .header {
    font-family: $title-font !important;
  }
  .act-content {
    ul {
      list-style-type: decimal;
      margin-left: 1.2em;
    }
  }
}
