@import '../../css/job-interview-basics';

.html-lesson-wrapper {
  .see-content {
    .sub-text {
      margin-bottom: 5%;
    }
    table {
      td:first-child {
        width: 13%;
      }
    }
  }
}
