$text-font: 'Trebuchet MS';
$noto-sans: 'Noto Sans', sans-serif;
$primary-blue: #1287cd;
$rank-green: #009c9a;
$primary-dark: #083051;
$primary-light: #cce0ec;
$jap-letter-spacing: 0px;
$subtext-color: #7f8288;
$side-margin: clamp(18px, 5vw, 32px);
$fs-16: clamp(11px, 2.7vw, 16px);
$s3: 'https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images';

body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  font-family: $text-font;
  width: 100%;
  min-width: 360px;
  max-width: 604px;
  min-height: 1596px;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url(#{$s3}/0-bg-header.png), url(#{$s3}/0-bg-footer.png);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;

  hr {
    border-top: 1px solid #dbdcdc;
  }

  .m-0 {
    margin: 0;
  }

  .flex {
    display: flex;
  }

  .img-responsive {
    width: 100%;
    height: auto;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  header {
    font-family: $noto-sans;
    display: flex;
  }

  .fs-16 {
    font-size: clamp(12px, 2.3vw, 16px);
  }
  .flip-horizontal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .noto-sans {
    font-family: $noto-sans;
  }
  .b {
    font-weight: bold;
  }
  .u-sup {
    border-bottom: solid 1.5px black;
    display: inline-block;
    line-height: clamp(6px, 1.5vw, 14px);
  }
  .u-blue {
    border-bottom: 1px solid $primary-blue;
  }
  .primary-blue {
    color: $primary-blue;
  }
  .program-rank {
    position: relative;
    color: #ffffff;
    font-size: 0px;
    margin-top: clamp(1px, 1vw, 3px);
    width: 100%;

    .type {
      padding: clamp(1px, 1vw, 4px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 4px) clamp(10px, 3vw, 17px);
      background-color: $primary-blue;
      font-size: clamp(7px, 1.8vw, 12px);
    }
    .level {
      padding: clamp(1px, 1vw, 4px) clamp(20px, 8.4vw, 59px) clamp(1px, 1vw, 4px) clamp(10px, 3vw, 33px);
      font-size: clamp(7px, 1.8vw, 12px);
      background: linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%), linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -webkit-linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%), linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -o-linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%), linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -moz-linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%), linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      margin-left: -15px;
      width: 100%;
    }
  }
  .lesson-number {
    position: relative;
    float: right;
    right: 6.3%;
    font-size: clamp(14px, 3vw, 20px);
    color: #ffffff;
    margin-top: clamp(2px, 1vh, 10px);
    &.lesson-10 {
      right: 5.5%;
    }
  }

  // Title
  .title-section {
    position: absolute;
    top: clamp(30px, 8vw, 50px);
    background-color: $primary-blue;
    color: white;
    padding: clamp(15px, 2vw, 20px) clamp(25px, 4vw, 30px) clamp(9px, 2vw, 15px);
    width: 100%;
    box-sizing: border-box;
    font-family: $noto-sans;
    .title {
      font-size: clamp(13px, 3.6vw, 23px);
      margin-bottom: 4px;
    }
    .title-below {
      font-size: clamp(13px, 3.6vw, 23px);
      margin-bottom: 10px;
    }
    .sub-title {
      font-size: clamp(10px, 2.3vw, 15px);
      letter-spacing: $jap-letter-spacing;
    }
  }
  .arrow {
    @extend .b;
    text-transform: uppercase;
    font-size: clamp(12px, 2.3vw, 16px);
    padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: $noto-sans;
  }
  .instructions {
    font-family: $noto-sans;
    position: absolute;
    padding: clamp(0px, 0.01vw, 3px) 0px;
    left: 28%;

    .title {
      font-size: clamp(9px, 2.9vw, 18px);
      color: #141821;
    }
    .sub-title {
      font-size: clamp(7px, 2vw, 13px);
      color: $subtext-color;
      letter-spacing: $jap-letter-spacing;
    }
  }

  // See-content
  .see-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.see-1 {
      margin-top: clamp(120px, 29vw, 183.2px);
    }

    &.see-2,
    &.see-3,
    &.see-4 {
      margin-top: clamp(20px, 5vw, 33px);

      //see-content.legend
      & .legend {
        margin-top: clamp(25px, 5vw, 38px);
        margin-bottom: 1%;
      }
    }

    .arrow.see {
      @extend .b;
      text-transform: uppercase;
      color: $primary-blue;
      font-size: clamp(12px, 2.3vw, 16px);
      background-image: url(#{$s3}/0-see-arrow.png);
      padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
      background-repeat: no-repeat;
      background-size: contain;
      font-family: $noto-sans;
    }
  }
  .try-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.try-1 {
      margin-top: 32px;
    }
    &.try-2,
    &.try-3,
    &.try-4 {
      margin-top: 32px;
    }

    .arrow.try {
      color: white;
      background-image: url(#{$s3}/0-try-arrow.png);
    }
  }
  .act-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.act-1 {
      margin-top: 32px;
    }
    &.act-2 {
      margin-top: 32px;
    }

    .arrow.act {
      color: white;
      background-image: url(#{$s3}/0-act-arrow.png);
    }
  }

  .section-1-convo {
    margin-top: clamp(30px, 8vw, 50px);
    width: clamp(310px, 86vw, 540px);
    min-height: clamp(230px, 60vw, 380px);
    position: relative;
    background-position: top, bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(#{$s3}/0-C-4-section1.svg);
    .bubble-1 {
      position: absolute;
      top: 4%;
      left: 8%;
      .eng {
        font-weight: bold;
        font-size: clamp(8px, 2vw, 14px);
        font-family: $text-font;
      }
      .jap {
        font-family: $noto-sans;
        font-size: clamp(7px, 1.5vw, 11px);
        color: $subtext-color;
        letter-spacing: $jap-letter-spacing;
      }
    }
    .bubble-2 {
      position: absolute;
      top: 15%;
      left: 55%;
      .eng {
        font-family: $text-font;
        font-weight: bold;
        font-size: clamp(8px, 2vw, 14px);
      }
      .jap {
        font-family: $noto-sans;
        font-size: clamp(6px, 1.5vw, 11px);
        color: $subtext-color;
        letter-spacing: $jap-letter-spacing;
      }
    }
    .bubble-3 {
      position: absolute;
      top: 40%;
      left: 63%;
      .eng {
        font-family: $text-font;
        font-weight: bold;
        font-size: clamp(8px, 2vw, 14px);
      }
      .jap {
        font-family: $noto-sans;
        font-size: clamp(6px, 1.5vw, 11px);
        color: $subtext-color;
        letter-spacing: $jap-letter-spacing;
      }
    }
  }

  .section-2-content {
    margin-top: clamp(35px, 15vw, 50px);
    .wrapper-with-akiko {
      display: grid;
      grid-template-columns: 2fr min-content;
      .akiko-image {
        width: clamp(95px, 18vw, 120px);
        height: clamp(80px, 23.1vw, 150px);
        position: relative;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-C-4-akiko-right.svg);
      }
      .wrap-all-boxes {
        position: absolute;
        margin-top: clamp(12px, 3vw, 19px);
        left: 17%;
        font-family: $noto-sans;
        .wrap-for-flex {
          display: flex;

          .next-step-box {
            margin-right: 6px;
            text-align: center;
            background: url(#{$s3}/0-C-4-next-step.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            padding: clamp(7px, 2vw, 10px) clamp(10px, 3vw, 17px);
            font-size: clamp(9.6px, 2.4vw, 16px);
          }
          .approval-box {
            font-size: clamp(9.6px, 2.4vw, 16px);
            padding-top: clamp(7px, 2vw, 10px);
            padding-left: clamp(11px, 3vw, 17px);
            padding-right: clamp(17px, 5vw, 27px);
            text-align: center;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(#{$s3}/0-C-4-approval.png);
          }
        }

        .jap {
          font-size: clamp(9px, 2vw, 13px);
          color: $subtext-color;
          letter-spacing: 0px;
        }
      }
    }
    .section2-box-content {
      margin-top: clamp(10px, 5vw, 20px);
      .legend {
        margin-top: clamp(25px, 5vw, 38px);
        display: flex;
      }
      .b1-legend {
        text-align: center;
        background: url(#{$s3}/0-C-4-next-step.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        padding: clamp(7px, 2vw, 10px) clamp(10px, 3vw, 17px);
      }
      .b2-legend {
        padding-top: clamp(7px, 2vw, 10px);
        padding-left: clamp(11px, 3vw, 17px);
        padding-right: clamp(17px, 5vw, 27px);
        text-align: right;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-C-4-approval.png);
      }

      .legend {
        justify-content: space-between;
        display: flex;
        & .eng {
          font-size: clamp(9.6px, 2.4vw, 16px);
        }
      }
      .phrase-alts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4px;
        .alt-box {
          padding: 15px;
          border: 1px solid $primary-blue;
        }
        .alt {
          display: flex;
          align-items: baseline;
        }
        .alt:not(:last-child) {
          margin-bottom: 6px;
        }
        .choice {
          margin-left: clamp(5px, 1vw, 9px);
          p {
            margin: 0;
            white-space: nowrap;
            font-family: $noto-sans;
          }
        }
        .choice-eng {
          font-size: clamp(9.3px, 2.4vw, 16px);
        }
        .choice-jap {
          font-size: clamp(7px, 2vw, 13px);
          letter-spacing: 0px;
          color: $subtext-color;
        }
        .choice-jap-1 {
          font-size: clamp(7px, 2vw, 13px);
          letter-spacing: 0px;
          color: $subtext-color;
        }
        //number
        .number {
          @extend .b;
          border-radius: 50%;
          background: $primary-blue;
          color: white;
          margin: 0;
          text-align: center;
          line-height: clamp(13px, 4vw, 24px);
          font-family: $noto-sans;
          font-size: clamp(11px, 2vw, 16px);
          z-index: 1;
          width: clamp(18px, 4vw, 24px);
          height: clamp(18px, 4vw, 24px);
          display: grid;
          place-items: center;
        }
        .number-white {
          @extend .b;
          border-radius: 50%;
          background: white;
          color: $primary-blue;
          margin: 0;
          text-align: center;
          line-height: clamp(13px, 4vw, 24px);
          font-family: $noto-sans;
          font-size: clamp(11px, 2vw, 16px);
          z-index: 1;
          width: clamp(18px, 4vw, 24px);
          height: clamp(18px, 4vw, 24px);
          display: grid;
          place-items: center;
        }
        .third-box {
          background-color: #e7f3fa;
        }
        .letter {
          @extend .b;
          border: 2px solid $primary-blue;
          color: $primary-blue;
          margin: 0;
          text-align: center;
          line-height: clamp(13px, 4vw, 24px);
          font-family: $noto-sans;
          font-size: clamp(11px, 2vw, 16px);
          z-index: 1;

          width: clamp(18px, 4vw, 24px);
          height: clamp(18px, 4vw, 24px);
          display: grid;
          place-items: center;
        }
      }
    }
  }

  .try-1 {
    .try1-content {
      margin-top: clamp(25px, 7vw, 50px);
      margin-left: $side-margin;
      margin-right: $side-margin;
      display: flex;
      margin-top: clamp(25px, 7vw, 50px);
      .akiko-right-view {
        right: 6%;
        margin-top: clamp(30px, 7vw, 20px);
        width: clamp(100px, 30vw, 191px);
        min-height: clamp(130px, 37vw, 211px);
        position: absolute;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-C-4-big-akiko-right.svg);
      }
      .akiko-combinations {
        margin-left: 30px;
        margin-top: 30px;
        .combinations {
          width: 60%;
          display: grid;
          grid-template-columns: auto auto;
          grid-gap: clamp(30px, 10vw, 50px);
          padding-right: clamp(40px, 4vw, 55px);
          .row {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            align-items: center;
            margin-bottom: 1.5vw;
            div {
              width: clamp(18px, 4vw, 24px);
              height: clamp(18px, 4vw, 24px);
              display: grid;
              place-items: center;
              font-family: $noto-sans;
              font-weight: bold;
              font-size: $fs-16;
            }
            .number-bg {
              background: $primary-blue;
              color: white;
              border-radius: 50%;
              font-size: $fs-16;
            }
            .letter {
              color: $primary-blue;
              border: 2px solid $primary-blue;
              font-size: $fs-16;
            }
            .number-outlined {
              color: $primary-blue;
              border-radius: 50%;
              border: 1px solid $primary-blue;
              font-size: $fs-16;
            }
            img {
              width: clamp(10px, 3vw, 15px);
              height: clamp(10px, 3vw, 15px);
            }
          }
        }
      }
    }
  }

  .try-2 {
    .try2-content {
      margin-top: 70px;
      .wrap-flex-content {
        margin-bottom: clamp(205px, 55vw, 320px);
        margin-left: 8px;
        position: relative;
        .number {
          color: $primary-blue;
          font-size: clamp(12px, 3vw, 18px);
        }
        .trainer {
          margin-left: clamp(5px, 2vw, 10px);
          font-size: clamp(12px, 3vw, 18px);
        }
        .underline {
          text-decoration: underline;
          color: $primary-blue;
          font-size: clamp(12px, 3vw, 18px);
        }
        .you-part {
          margin-top: 3%;
          .you {
            margin-left: clamp(36px, 9.6vw, 56px);
            font-size: clamp(12px, 3vw, 18px);
          }
        }
        .image-content {
          margin-left: clamp(95px, 25vw, 150px);
          margin-top: 30px;
          width: clamp(126px, 37vw, 200px);
          min-height: clamp(130px, 35vw, 305px);
          position: absolute;
          background-position: top, bottom;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(#{$s3}/0-C-4-try-2-image1.svg);
        }
      }
      .wrap-flex-content-1 {
        margin-bottom: clamp(205px, 50vw, 290px);
        margin-left: 8px;
        position: relative;
        .number {
          color: $primary-blue;
          font-size: clamp(12px, 3vw, 18px);
        }
        .trainer {
          margin-left: clamp(5px, 2vw, 10px);
          font-size: clamp(12px, 3vw, 18px);
        }
        .underline {
          text-decoration: underline;
          color: $primary-blue;
          font-size: clamp(12px, 3vw, 18px);
        }
        .you-part {
          margin-top: 3%;
          .you {
            margin-left: clamp(36px, 9.6vw, 56px);
            font-size: clamp(12px, 3vw, 18px);
          }
        }
        .image-content {
          margin-left: clamp(55px, 19vw, 120px);
          margin-top: 30px;
          width: clamp(180px, 41vw, 250px);
          min-height: clamp(130px, 35vw, 305px);
          position: absolute;
          background-position: top, bottom;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(#{$s3}/0-C-4-try-2-image2.svg);
        }
      }
      .wrap-flex-content-2 {
        margin-bottom: clamp(190px, 45vw, 270px);
        margin-left: 8px;
        position: relative;
        .number {
          color: $primary-blue;
          font-size: clamp(12px, 3vw, 18px);
        }
        .trainer {
          margin-left: clamp(5px, 2vw, 10px);
          font-size: clamp(12px, 3vw, 18px);
        }
        .underline {
          text-decoration: underline;
          color: $primary-blue;
          font-size: clamp(12px, 3vw, 18px);
        }
        .you-part {
          margin-top: 3%;
          .you {
            margin-left: clamp(36px, 9.6vw, 56px);
            font-size: clamp(12px, 3vw, 18px);
          }
        }
        .image-content {
          margin-left: clamp(55px, 14vw, 80px);
          margin-top: 30px;
          width: clamp(190px, 47vw, 290px);
          min-height: clamp(130px, 35vw, 305px);
          position: absolute;
          background-position: top, bottom;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(#{$s3}/0-C-4-try-2-image3.svg);
        }
      }
      .wrap-flex-content-3 {
        margin-bottom: clamp(205px, 50vw, 290px);
        margin-left: 8px;
        position: relative;
        .number {
          color: $primary-blue;
          font-size: clamp(12px, 3vw, 18px);
        }
        .trainer {
          margin-left: clamp(5px, 2vw, 10px);
          font-size: clamp(12px, 3vw, 18px);
        }
        .underline {
          text-decoration: underline;
          color: $primary-blue;
          font-size: clamp(12px, 3vw, 18px);
        }
        .you-part {
          margin-top: 3%;
          .you {
            margin-left: clamp(36px, 9.6vw, 56px);
            font-size: clamp(12px, 3vw, 18px);
          }
        }
        .image-content {
          margin-left: clamp(75px, 19vw, 110px);
          margin-top: 30px;
          width: clamp(140px, 37vw, 220px);
          min-height: clamp(130px, 35vw, 305px);
          position: absolute;
          background-position: top, bottom;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(#{$s3}/0-C-4-try-2-image4.svg);
        }
      }
      .wrap-flex-content-4 {
        margin-bottom: clamp(165px, 37vw, 248px);
        margin-left: 8px;
        position: relative;
        .number {
          color: $primary-blue;
          font-size: clamp(12px, 3vw, 18px);
        }
        .trainer {
          margin-left: clamp(5px, 2vw, 10px);
          font-size: clamp(12px, 3vw, 18px);
        }
        .underline {
          text-decoration: underline;
          color: $primary-blue;
          font-size: clamp(12px, 3vw, 18px);
        }
        .you-part {
          margin-top: 3%;
          .you {
            margin-left: clamp(36px, 9.6vw, 56px);
            font-size: clamp(12px, 3vw, 18px);
          }
        }
        .image-content {
          margin-left: clamp(60px, 15vw, 95px);
          margin-top: 30px;
          width: clamp(225px, 56vw, 330px);
          min-height: clamp(130px, 35vw, 305px);
          position: absolute;
          background-position: top, bottom;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(#{$s3}/0-C-4-try-2-image5.svg);
        }
      }
    }
  }

  .section-3-content {
    margin-top: clamp(35px, 15vw, 50px);
    .wrapper-with-akiko {
      display: grid;
      grid-template-columns: 2fr min-content;
      .akiko-image {
        width: clamp(95px, 18vw, 120px);
        height: clamp(80px, 23.1vw, 150px);
        position: relative;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-C-4-akiko-right.svg);
      }
      .wrap-all-boxes {
        position: absolute;
        margin-top: clamp(12px, 3vw, 19px);
        left: 18%;
        .wrap-for-flex {
          display: flex;
          .plan-to-box {
            text-align: center;
            background: url(#{$s3}/0-C-4-plan-to.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            padding: clamp(7px, 2vw, 10px) clamp(10px, 3vw, 17px);
            font-size: clamp(9.6px, 2.4vw, 16px);
          }
          .presentation-box {
            margin-left: 7px;
            font-size: clamp(9.6px, 2.4vw, 16px);
            padding-top: clamp(7px, 2vw, 10px);
            padding-left: clamp(11px, 3vw, 17px);
            padding-right: clamp(17px, 5vw, 27px);
            text-align: center;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(#{$s3}/0-C-4-presentation.png);
          }
        }
        .jap {
          font-size: clamp(9px, 2vw, 13px);
          color: $subtext-color;
          letter-spacing: 0px;
        }
        .on-the-box {
          top: 68%;
          left: 59%;
          position: absolute;
          text-align: center;
          background: url(#{$s3}/0-C-4-on-the.png);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          padding: clamp(7px, 2vw, 10px) clamp(10px, 3vw, 17px);
          font-size: clamp(9px, 2vw, 15px);
        }
      }
    }
    .section2-box-content {
      margin-top: clamp(10px, 5vw, 20px);
      .legend {
        margin-top: clamp(25px, 5vw, 38px);
        display: flex;
      }
      .b1-legend {
        text-align: center;
        background: url(#{$s3}/0-C-4-plan-to.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        padding: clamp(7px, 2vw, 10px) clamp(10px, 3vw, 17px);
      }
      .b2-legend {
        padding-top: clamp(7px, 2vw, 10px);
        padding-left: clamp(11px, 3vw, 17px);
        padding-right: clamp(17px, 5vw, 27px);
        text-align: center;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-C-4-presentation.png);
      }
      .legend {
        justify-content: space-between;
        display: flex;
        & .eng {
          font-size: clamp(9.6px, 2.4vw, 16px);
        }
      }
      .phrase-alts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2px;
        .alt-box {
          padding: 15px;
          border: 1px solid $primary-blue;
        }
        .alt {
          display: flex;
          align-items: baseline;
        }
        .alt:not(:last-child) {
          margin-bottom: 6px;
        }
        .choice {
          margin-left: clamp(5px, 1vw, 9px);
          p {
            margin: 0;
            white-space: nowrap;
            font-family: $noto-sans;
          }
        }
        .choice-eng {
          font-size: clamp(9.3px, 2.4vw, 16px);
        }
        .choice-jap {
          font-size: clamp(7px, 2vw, 13px);
          letter-spacing: 0px;
          color: $subtext-color;
        }
        //number
        .number {
          @extend .b;
          border-radius: 50%;
          background: $primary-blue;
          color: white;
          margin: 0;
          text-align: center;
          line-height: clamp(13px, 4vw, 24px);
          font-family: $noto-sans;
          font-size: clamp(11px, 2vw, 16px);
          z-index: 1;
          width: clamp(18px, 4vw, 24px);
          height: clamp(18px, 4vw, 24px);
          display: grid;
          place-items: center;
        }
        .number-white {
          @extend .b;
          border-radius: 50%;
          background: white;
          color: $primary-blue;
          margin: 0;
          text-align: center;
          line-height: clamp(13px, 4vw, 24px);
          font-family: $noto-sans;
          font-size: clamp(11px, 2vw, 16px);
          z-index: 1;
          width: clamp(18px, 4vw, 24px);
          height: clamp(18px, 4vw, 24px);
          display: grid;
          place-items: center;
        }
        .third-box {
          background-color: #e7f3fa;
        }
        .letter {
          @extend .b;
          border: 2px solid $primary-blue;
          color: $primary-blue;
          margin: 0;
          text-align: center;
          line-height: clamp(13px, 4vw, 24px);
          font-family: $noto-sans;
          font-size: clamp(11px, 2vw, 16px);
          z-index: 1;

          width: clamp(18px, 4vw, 24px);
          height: clamp(18px, 4vw, 24px);
          display: grid;
          place-items: center;
        }
      }
    }
  }

  .try-3 {
    .try-3-content {
      margin-top: clamp(65px, 20vw, 100px);
      .wrap-flex-content {
        margin-bottom: clamp(45px, 12vw, 65px);
        margin-left: 8px;
        position: relative;
        font-size: clamp(10.8px, 2.8vw, 18px);
        font-family: $noto-sans;
        .trainer-part {
          .number {
            color: $primary-blue;
          }
          .trainer {
            margin-left: clamp(18px, 5vw, 33px);
          }
        }
        .you-part {
          margin-top: clamp(20px, 5vw, 30px);
          .you {
            margin-left: clamp(51px, 11.7vw, 79px);
          }
        }
        .you-under-line {
          margin-top: 2px;
          margin-left: clamp(86px, 21.6vw, 127px);
          .underline {
            text-decoration: underline;
            color: $primary-blue;
          }
        }
      }
      .wrap-flex-content-1 {
        margin-bottom: clamp(45px, 12vw, 65px);
        margin-left: 8px;
        position: relative;
        font-size: clamp(10.8px, 2.8vw, 18px);
        font-family: $noto-sans;
        .trainer-part {
          .number {
            color: $primary-blue;
          }
          .trainer {
            margin-left: clamp(24px, 6vw, 33px);
          }
        }
        .you-part {
          margin-top: clamp(20px, 5vw, 30px);
          .you {
            margin-left: clamp(55px, 13.7vw, 79px);
          }
        }
        .you-under-line {
          margin-top: 2px;
          margin-left: clamp(86px, 21.6vw, 127px);
          .underline {
            text-decoration: underline;
            color: $primary-blue;
          }
        }
      }
      .wrap-flex-content-2 {
        margin-bottom: clamp(45px, 12vw, 65px);
        margin-left: 8px;
        position: relative;
        font-size: clamp(10.8px, 2.8vw, 18px);
        font-family: $noto-sans;
        .trainer-part {
          .number {
            color: $primary-blue;
          }
          .trainer {
            margin-left: clamp(24px, 6vw, 33px);
          }
        }
        .you-part {
          margin-top: clamp(20px, 5vw, 30px);
          .you {
            margin-left: clamp(55px, 13.7vw, 79px);
          }
        }
        .you-under-line {
          margin-top: 2px;
          margin-left: clamp(86px, 21.6vw, 127px);
          .underline {
            text-decoration: underline;
            color: $primary-blue;
          }
        }
      }
      .wrap-flex-content-3 {
        margin-bottom: clamp(45px, 12vw, 65px);
        margin-left: 8px;
        position: relative;
        font-size: clamp(10.8px, 2.8vw, 18px);
        font-family: $noto-sans;
        .trainer-part {
          .number {
            color: $primary-blue;
          }
          .trainer {
            margin-left: clamp(24px, 6vw, 33px);
          }
        }
        .you-part {
          margin-top: clamp(20px, 5vw, 30px);
          .you {
            margin-left: clamp(55px, 13.7vw, 79px);
          }
        }
        .you-under-line {
          margin-top: 2px;
          margin-left: clamp(86px, 21.6vw, 127px);
          .underline {
            text-decoration: underline;
            color: $primary-blue;
          }
        }
      }
      .wrap-flex-content-4 {
        margin-bottom: clamp(45px, 12vw, 65px);
        margin-left: 8px;
        position: relative;
        font-size: clamp(10.8px, 2.8vw, 18px);
        font-family: $noto-sans;
        .trainer-part {
          .number {
            color: $primary-blue;
          }
          .trainer {
            margin-left: clamp(24px, 6vw, 33px);
          }
        }
        .you-part {
          margin-top: clamp(20px, 5vw, 30px);
          .you {
            margin-left: clamp(55px, 13.7vw, 79px);
          }
        }
        .you-under-line {
          margin-top: 2px;
          margin-left: clamp(86px, 21.6vw, 127px);
          .underline {
            text-decoration: underline;
            color: $primary-blue;
          }
        }
      }
      .wrap-flex-content-5 {
        margin-bottom: clamp(45px, 12vw, 65px);
        margin-left: 8px;
        position: relative;
        font-size: clamp(10.8px, 2.8vw, 18px);
        font-family: $noto-sans;
        .trainer-part {
          .number {
            color: $primary-blue;
          }
          .trainer {
            margin-left: clamp(24px, 6vw, 33px);
          }
        }
        .you-part {
          margin-top: clamp(20px, 5vw, 30px);
          .you {
            margin-left: clamp(55px, 13.7vw, 79px);
          }
        }
        .you-under-line {
          margin-top: 2px;
          margin-left: clamp(86px, 21.6vw, 127px);
          .underline {
            text-decoration: underline;
            color: $primary-blue;
          }
        }
      }
    }
  }

  .act-content {
    .act-1-content {
      margin-bottom: clamp(50px, 12vw, 100px);
      .act-1-convo {
        margin-top: clamp(30px, 8vw, 50px);
        width: clamp(310px, 89vw, 540px);
        min-height: clamp(210px, 60vw, 380px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-C-4-act1.svg);
      }
      .convo-text-content {
        font-family: $noto-sans;
        .akiko-lines {
          b {
            font-size: clamp(10px, 2.3vw, 16px);
          }
          .thank-you {
            font-size: clamp(10px, 2.3vw, 18px);
          }
          .line-under {
            font-size: clamp(10px, 2.3vw, 18px);
            margin-left: clamp(37px, 8.6vw, 60px);
          }
          .div-1 {
            margin-left: clamp(37px, 8.6vw, 60px);
            font-size: clamp(9px, 1.5vw, 13px);
            color: $subtext-color;
            letter-spacing: 0px;
            margin-top: 5px;
          }
          .div-2 {
            margin-top: 5px;
            font-size: clamp(10px, 2.3vw, 18px);
            margin-left: clamp(37px, 8.6vw, 60px);
          }
          .div-3 {
            margin-left: clamp(37px, 8.6vw, 60px);
            font-size: clamp(9px, 1.5vw, 13px);
            color: $subtext-color;
            letter-spacing: 0px;
            margin-top: 5px;
          }
          .div-4 {
            margin-top: 5px;
            font-size: clamp(10px, 2.3vw, 18px);
            margin-left: clamp(37px, 8.6vw, 60px);
          }
          .div-5 {
            margin-left: clamp(37px, 8.6vw, 60px);
            font-size: clamp(9px, 1.5vw, 13px);
            color: $subtext-color;
            letter-spacing: 0px;
            margin-top: 5px;
          }
        }

        .akiko-lines-2 {
          margin-top: 20px;
          b {
            font-size: clamp(10px, 2.3vw, 16px);
          }
          .thank-you {
            font-size: clamp(10px, 2.3vw, 18px);
          }
          .line-under,
          .div-2-line-under {
            font-size: clamp(10px, 2.3vw, 18px);
            margin-left: clamp(37px, 8.6vw, 60px);
          }
          .div-1 {
            margin-left: clamp(37px, 8.6vw, 60px);
            font-size: clamp(9px, 1.5vw, 13px);
            color: $subtext-color;
            letter-spacing: 0px;
            margin-top: 5px;
          }
          .div-2 {
            margin-top: 5px;
            font-size: clamp(10px, 2.3vw, 18px);
            margin-left: clamp(37px, 8.6vw, 60px);
          }
          .div-3 {
            margin-left: clamp(37px, 8.6vw, 60px);
            font-size: clamp(9px, 1.5vw, 13px);
            color: $subtext-color;
            letter-spacing: 0px;
            margin-top: 5px;
          }
          .div-4 {
            margin-top: 5px;
            font-size: clamp(10px, 2.3vw, 18px);
            margin-left: clamp(37px, 8.6vw, 60px);
          }
          .div-5 {
            margin-left: clamp(37px, 8.6vw, 60px);
            font-size: clamp(9px, 1.5vw, 13px);
            color: $subtext-color;
            letter-spacing: 0px;
            margin-top: 5px;
          }
        }

        .helen-lines {
          margin-top: 20px;
          b {
            font-size: clamp(10px, 2.3vw, 16px);
          }
          .thank-you {
            font-size: clamp(10px, 2.3vw, 18px);
          }
          .div-1 {
            margin-left: clamp(37px, 8.6vw, 60px);
            font-size: clamp(9px, 1.5vw, 13px);
            color: $subtext-color;
            letter-spacing: 0px;
            margin-top: 5px;
          }
          .div-1-line-under {
            margin-left: clamp(37px, 8.6vw, 60px);
            font-size: clamp(9px, 1.5vw, 13px);
            color: $subtext-color;
            letter-spacing: 0px;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 150px) and(max-width: 442px) {
    .section-2-content .wrapper-with-akiko .akiko-image {
      margin-right: -20px !important;
    }
    .section-3-content .wrapper-with-akiko .akiko-image {
      margin-right: -20px !important;
    }
  }
}
