@import '../../css/level1-a-utils';

.html-lesson-wrapper {
  .page-2 {
    .see-content {
      margin-top: 3em;

      .shape-div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .blue-section {
    .flex.space-between:not(:last-child) {
      margin-bottom: 1em;
    }
    .shape-div {
      width: 5em;
      text-align: center;
    }
    .shape {
      height: auto;
      width: 4em;
      &.at {
        width: 3em;
      }
    }
  }

  .try-content {
    .shape {
      margin-top: -7em;
      width: 100%;
    }
  }
}
