@import '../../css/op-management-3-utils';
.html-lesson-wrapper .lesson-number {
  left: clamp(91.5%, 93vw, 91%);
}

.html-lesson-wrapper .see-content, .html-lesson-wrapper .act-content, .html-lesson-wrapper .try-content, .html-lesson-wrapper .review-content {
  position: relative;
  margin-left: clamp(50px, 14.3%, 126.5px);
  padding-left: 18.5px;
  padding-right: 42px;
  font-size: clamp(12px, 2vw, 15px);
}

.html-lesson-wrapper .section {
  position: absolute;
  left: -9%;
  color: #c36;
  font-weight: bold;
  font-family: "Helvetica","Arial",sans-serif;
  top: 0.8%;
  @media screen and (max-width: 500px){
    top: 0.6%;
  }
}