@import '../../css/op-teleconference-basics-utils';
.html-lesson-wrapper {
  .see {
    .dialogue {
      .message {
        margin-left: 2%;
      }
    }
  }
  .act-spacer {
    padding-bottom: 10rem;
    @media only screen and (max-width: 767px) {
      padding-bottom: 0;
    }
  }
  .grid-section {
    max-width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: clamp(5px, 3vw, 20px);

    .right-section,
    .left-section {
      padding-left: 5px;
      border: 4px solid rgb(210, 209, 209);
      border-radius: 3px;
      padding: 1.5%;
    }
  }

  .try {
    .content-table {
      max-width: 90%;
      .table-header {
        width: 33.33% !important;
        color: white;
        background-color: $primary-pink;
      }
    }
  }
  @media only screen and (max-width: 460px) {
    .right-section,
    .left-section {
      padding: 3% !important;
    }
    .speaker {
      width: 27% !important;
    }
    .dialogue {
      padding-left: 1%;
    }
  }
}
