@import '../../css/_op-meetings-utils.scss';

.biz-tip-content {
  margin-top: clamp(95px, 18%, 160px) !important;
}

.numbers {
  margin-left: 3%;
  @media only screen and (max-width: 400px) {
    margin-left: 5%;
  }
}

.see-content {
  .person {
    @media screen and (max-width: 900px) {
      width: clamp(2.2rem, 23%, 5.5rem) !important;
    }
  }
}
