body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  width: 100%;
  min-width: 360px;
  max-width: 100%;
  max-width: 892.75px;
  min-height: 960px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 11%;
  background-image: url("https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/other-programs-bg-header-magenta.svg"), url("https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/other-programs-footer-logo.svg");
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Trebuchet MS";
}
.html-lesson-wrapper header {
  font-family: "Helvetica", "Arial", sans-serif;
}
.html-lesson-wrapper .u {
  text-decoration: underline;
}
.html-lesson-wrapper .b, .html-lesson-wrapper .review-content .lsn, .html-lesson-wrapper .part-content table td:first-child, .html-lesson-wrapper .see-content table td:first-child {
  font-weight: bold;
  font-size: clamp(12px, 2vw, 15px);
  font-family: "Trebuchet MS";
  margin-bottom: 2%;
}
.html-lesson-wrapper .i {
  font-family: italic;
}
.html-lesson-wrapper .small-mt {
  margin-top: clamp(5px, 2vw, 10px);
}
.html-lesson-wrapper .program-rank {
  position: absolute;
  top: 40px;
  left: 48px;
  color: #ffffff;
  font-size: 0px;
  margin-left: clamp(7px, 4vw, 7px);
}
.html-lesson-wrapper .program-rank .type {
  padding: 3px 16px 3px 14px;
  background-color: #cc3366;
  font-size: clamp(6.48px, 1.8vw, 15px);
}
.html-lesson-wrapper .program-rank .level {
  padding: 3px 12px 3px 13px;
  background-color: #339999;
  font-size: clamp(6.48px, 1.8vw, 15px);
}
.html-lesson-wrapper .line {
  margin: 0 12px;
}
.html-lesson-wrapper .title {
  position: absolute;
  top: 80px;
  left: 55px;
  font-size: clamp(9.3pt, 3vw, 18pt);
}
@media only screen and (max-width: 768px) {
  .html-lesson-wrapper .title {
    margin-left: 2%;
  }
}
.html-lesson-wrapper .lesson-number, .html-lesson-wrapper .lesson-number-two {
  position: absolute;
  left: 91.5%;
  margin-top: 7.8%;
  font-size: clamp(7px, 1.8vw, 9pt);
  color: #ffffff;
}
@media only screen and (max-width: 400px) {
  .html-lesson-wrapper .lesson-number, .html-lesson-wrapper .lesson-number-two {
    left: 0.5%;
  }
}
.html-lesson-wrapper .lesson-number-two {
  left: 91.8%;
}
.html-lesson-wrapper .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.html-lesson-wrapper .sub-text {
  font-family: "Helvetica", "Arial", sans-serif !important;
  font-size: clamp(12px, 2vw, 15px);
  line-height: clamp(12px, 2.8vw, 22px);
  margin: 0 auto;
  font-weight: bold;
  margin-bottom: 2%;
  line-height: 1.8em;
}
.html-lesson-wrapper .magenta-color {
  color: #cc3366;
}
.html-lesson-wrapper .section {
  position: absolute;
  left: -71.5px;
  color: #cc3366;
  font-weight: bold;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: clamp(12px, 2vw, 15px);
  top: 2px;
  margin-top: 0.6%;
}
.html-lesson-wrapper .section.see {
  line-height: 1.8em;
  top: -1.5%;
}
@media only screen and (max-width: 820px) {
  .html-lesson-wrapper .section.see {
    margin-left: 1.5%;
    margin-top: 4px;
  }
}
@media only screen and (max-width: 400px) {
  .html-lesson-wrapper .section.see {
    margin-left: 26%;
    top: -4px;
  }
}
.html-lesson-wrapper .section.try {
  line-height: 1.8em;
  top: -1.5%;
}
@media only screen and (max-width: 820px) {
  .html-lesson-wrapper .section.try {
    margin-left: 1.5%;
    margin-top: 4px;
  }
}
@media only screen and (max-width: 400px) {
  .html-lesson-wrapper .section.try {
    margin-left: 26%;
    top: -5px;
  }
}
.html-lesson-wrapper .section.act {
  line-height: 1.8em;
  top: -1.5%;
}
@media only screen and (max-width: 820px) {
  .html-lesson-wrapper .section.act {
    margin-left: 1.5%;
    margin-top: 4px;
  }
}
@media only screen and (max-width: 400px) {
  .html-lesson-wrapper .section.act {
    margin-left: 26%;
    top: -4px;
  }
}
.html-lesson-wrapper .divider {
  color: #d9d9d9;
  font-size: clamp(6px, 1.8vw, 15px);
  position: relative;
  left: 52%;
}
.html-lesson-wrapper .divider.d1 {
  margin: 4% 0;
}
.html-lesson-wrapper .divider.d2 {
  margin: 4% 0;
}
.html-lesson-wrapper .divider ul {
  margin: 3px 0px 0px 18px;
  padding: 0;
  line-height: clamp(12px, 3vw, 26px);
}
.html-lesson-wrapper ul li {
  padding-left: 8px;
  padding-bottom: 1.5%;
}
.html-lesson-wrapper .see-content,
.html-lesson-wrapper .act-content,
.html-lesson-wrapper .try-content,
.html-lesson-wrapper .review-content,
.html-lesson-wrapper .part-content {
  position: relative;
  margin-left: clamp(40px, 14vw, 126.5px);
  padding-right: clamp(8px, 2vw, 20px);
  font-size: clamp(12px, 2vw, 15px);
}
.html-lesson-wrapper .biz-tip-content {
  position: relative;
  margin-top: clamp(70px, 18%, 160px);
  padding: 2px 0px 0px 47px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 4%;
  padding-left: clamp(17px, 6.5vw, 47px);
  background: #f0d4d4;
  font-size: clamp(12px, 2vw, 15px);
  line-height: normal;
}
.html-lesson-wrapper .biz-tip-content .section {
  margin-left: clamp(40px, 15.5vw, 125.5px);
  line-height: 1.8em;
  margin-top: 2.3%;
}
.html-lesson-wrapper .biz-tip-content .pointers {
  margin-top: 3% !important;
  margin-left: clamp(50px, 15.2%, 126.5px);
  line-height: normal;
  font-size: clamp(12px, 2vw, 15px);
}
.html-lesson-wrapper .biz-tip-content .pointers .no-arrow {
  margin-left: -4.2%;
  margin-right: 16%;
}
@media only screen and (max-width: 820px) {
  .html-lesson-wrapper .biz-tip-content .pointers .no-arrow {
    margin-left: -7.5%;
  }
}
@media only screen and (max-width: 768px) {
  .html-lesson-wrapper .biz-tip-content .pointers .no-arrow {
    margin-left: -1%;
  }
}
.html-lesson-wrapper .arrow-part {
  position: relative;
}
@media only screen and (max-width: 820px) {
  .html-lesson-wrapper .arrow-part {
    margin-left: -3.5%;
  }
}
@media only screen and (max-width: 768px) {
  .html-lesson-wrapper .arrow-part {
    margin-left: 5%;
  }
}
.html-lesson-wrapper .arrow-part:before {
  content: "";
  position: absolute;
  left: -1.5em;
  top: 0.3em;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid;
  display: inline-block;
  vertical-align: middle;
}
.html-lesson-wrapper .arrow-part span {
  color: #cc3366;
  font-weight: bold;
}
.html-lesson-wrapper .arrow-part.black-arrow:before {
  border-top: 8px solid black;
}
.html-lesson-wrapper .arrow-part-1 {
  position: relative;
}
.html-lesson-wrapper .arrow-part-1:before {
  content: "";
  left: -1.5em;
  top: 0.3em;
  width: 0;
  height: 0;
  border-left: clamp(2px, 1vw, 5px) solid transparent;
  border-right: clamp(2px, 1vw, 5px) solid transparent;
  border-top: clamp(4px, 1vw, 8px) solid;
  display: inline-block;
  vertical-align: middle;
  margin-right: clamp(5px, 1vw, 8px);
}
.html-lesson-wrapper .arrow-part-1 span {
  color: #cc3366;
  font-weight: bold;
}
.html-lesson-wrapper .arrow-part-1.black-arrow:before {
  border-top: 8px solid black;
}
.html-lesson-wrapper .see-content {
  margin-top: 36px;
}
.html-lesson-wrapper .see-content .sub-text {
  margin-bottom: 1.5%;
}
@media only screen and (max-width: 768px) {
  .html-lesson-wrapper .see-content .sub-text {
    margin-left: 7%;
  }
}
.html-lesson-wrapper .see-content .article {
  margin-top: 5px;
  line-height: 1.7em;
  margin-bottom: 29px;
}
.html-lesson-wrapper .see-content .article span.highlight {
  color: #cc3366;
  font-weight: bold;
}
.html-lesson-wrapper .see-content table {
  border-collapse: collapse;
}
.html-lesson-wrapper .see-content table p {
  margin: 0;
  line-height: 1.8em;
  top: -0.3em;
  position: relative;
}
.html-lesson-wrapper .see-content table p:not(:last-child) {
  margin-bottom: 5%;
}
.html-lesson-wrapper .see-content table td {
  padding: 0;
  vertical-align: top;
}
.html-lesson-wrapper .see-content table td:first-child {
  width: 2%;
}
.html-lesson-wrapper .see-content .see-border-box {
  border: clamp(1.5px, 0.5vw, 3.5px) solid #d8d8d8;
  font-family: "Trebuchet MS";
  font-size: clamp(12px, 2vw, 15px);
  padding: 0.5vw 0.5vw 1vw;
  line-height: normal;
  width: 91%;
}
.html-lesson-wrapper .see-content .dialogue {
  font-size: clamp(12px, 2vw, 15px);
  font-family: "Trebuchet MS";
  line-height: 1.8em;
}
@media only screen and (max-width: 768px) {
  .html-lesson-wrapper .see-content .dialogue {
    margin-left: 7%;
  }
}
.html-lesson-wrapper .see-content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: clamp(2px, 1vw, 7px);
  font-size: clamp(12px, 2vw, 15px);
  line-height: 1.8em;
}
.html-lesson-wrapper .see-content .person {
  font-weight: bold;
  width: 80px;
}
@media only screen and (max-width: 768px) {
  .html-lesson-wrapper .see-content .person {
    width: 40px;
  }
}
.html-lesson-wrapper .see-content .speech {
  width: inherit;
}
.html-lesson-wrapper .part-content.part-1 {
  margin-top: clamp(70px, 25%, 250px);
}
.html-lesson-wrapper .part-content .sub-text {
  margin-bottom: 1.5%;
  line-height: 1.8em;
}
.html-lesson-wrapper .part-content .article {
  margin-top: 5px;
  line-height: 1.7em;
  margin-bottom: 29px;
}
.html-lesson-wrapper .part-content .article span.highlight {
  color: #cc3366;
  font-weight: bold;
}
.html-lesson-wrapper .part-content table {
  border-collapse: collapse;
}
.html-lesson-wrapper .part-content table p {
  margin: 0;
  line-height: 1.8em;
  top: -0.3em;
  position: relative;
}
.html-lesson-wrapper .part-content table p:not(:last-child) {
  margin-bottom: 5%;
}
.html-lesson-wrapper .part-content table td {
  padding: 0;
  vertical-align: top;
}
.html-lesson-wrapper .part-content table td:first-child {
  width: 10%;
}
.html-lesson-wrapper .part-content .see-border-box {
  border: clamp(1.5px, 0.5vw, 3.5px) solid #d8d8d8;
  font-family: "Trebuchet MS";
  font-size: clamp(12px, 2vw, 15px);
  padding: 0.5vw 0.5vw 1vw;
  line-height: normal;
}
.html-lesson-wrapper .part-content .dialogue {
  font-size: clamp(12px, 2vw, 15px);
  font-family: "Trebuchet MS";
}
.html-lesson-wrapper .part-content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: clamp(2px, 1vw, 7px);
}
.html-lesson-wrapper .part-content .person {
  font-weight: bold;
  width: 10%;
}
.html-lesson-wrapper .part-content ol {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: orderedlist;
  font-family: "Trebuchet MS";
  font-size: clamp(12px, 2vw, 15px);
  line-height: 1.8em;
}
.html-lesson-wrapper .part-content .review-list {
  list-style-type: decimal;
  margin-left: 3%;
  line-height: 1.8em;
}
.html-lesson-wrapper .try-content ul {
  list-style-type: decimal;
  padding-left: 15px;
  margin-top: auto;
  line-height: 1.8em;
}
.html-lesson-wrapper .try-content table {
  border-collapse: collapse;
  width: 95%;
  font-family: "Trebuchet MS";
  font-size: clamp(12px, 2vw, 15px);
  line-height: normal;
}
@media only screen and (max-width: 820px) {
  .html-lesson-wrapper .try-content table {
    margin-left: -3%;
  }
}
@media only screen and (max-width: 400px) {
  .html-lesson-wrapper .try-content table {
    margin-left: 4%;
    width: 90%;
  }
}
.html-lesson-wrapper .try-content th,
.html-lesson-wrapper .try-content td {
  border: 1.5px solid #d8d8d8;
}
.html-lesson-wrapper .try-content th {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background-color: #cc3366;
  padding: 0.3vw 0;
}
.html-lesson-wrapper .try-content td {
  vertical-align: top;
  padding: 0.3vw 0.5vw;
  width: 25%;
  line-height: normal;
}
.html-lesson-wrapper .act-content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.html-lesson-wrapper .act-content table {
  margin-top: 5px;
  font-size: clamp(6px, 1.5vw, 14px);
  border-spacing: 0px;
  padding-bottom: 5px;
  width: 100%;
}
.html-lesson-wrapper .act-content table th,
.html-lesson-wrapper .act-content table td {
  max-width: 120px;
  min-width: 80px;
  word-wrap: break-word;
  border: 1px solid #ffffff;
}
.html-lesson-wrapper .act-content table th {
  background-color: #cc3366;
  color: #ffffff;
  font-size: clamp(7px, 1.8vw, 15px);
  padding: 5px;
}
.html-lesson-wrapper .act-content table td {
  text-align: left;
  padding: 4px;
  background-color: #f2f2f2;
}
.html-lesson-wrapper .review-content .sub-text {
  font-family: "Trebuchet MS" !important;
  margin-bottom: 2%;
}
.html-lesson-wrapper .review-content ol {
  margin: 0;
  margin-block: 0;
  padding-inline: 0;
}
.html-lesson-wrapper .review-content .lsn {
  counter-reset: item;
  list-style-type: none;
}
.html-lesson-wrapper .review-content .lsn li:before {
  content: "Lsn " counter(item, decimal) ": ";
  counter-increment: item;
}
.html-lesson-wrapper .review-content .lsn .arrows {
  margin: 2% 0 2% 9%;
  font-weight: normal;
}
.html-lesson-wrapper .review-content .lsn .arrows .arrow-part span {
  font-weight: bold;
}
.html-lesson-wrapper .review-content .lsn .arrows .arrow-part::before {
  left: -25px;
}
.html-lesson-wrapper .divider.see {
  margin-left: -20%;
}
.html-lesson-wrapper footer {
  font-size: clamp(4.5px, 1.1vw, 9px);
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  bottom: 33px;
  right: 2%;
  font-family: "Helvetica", "Arial", sans-serif;
  max-width: 44%;
}
@media only screen and (max-width: 767px) {
  .html-lesson-wrapper footer {
    max-width: 117px;
    bottom: 1.8%;
  }
}
.html-lesson-wrapper footer .footer-text-1 {
  display: inline-block;
}
.html-lesson-wrapper footer .footer-text-2 {
  display: inline-block;
}
.html-lesson-wrapper .part-content {
  padding-bottom: 5rem;
}
.html-lesson-wrapper .act-content {
  padding-bottom: 8rem;
}
@media only screen and (max-width: 768px) {
  .html-lesson-wrapper .act-para {
    margin-left: 7%;
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  .html-lesson-wrapper {
    min-height: unset;
  }
  .html-lesson-wrapper .see-content {
    margin-top: clamp(22px, 3.8vw, 36px);
  }
  .html-lesson-wrapper .see-content .article {
    margin-bottom: clamp(20px, 3.7vw, 29px);
  }
  .html-lesson-wrapper .try-content {
    margin-top: clamp(20px, 3.7vw, 30px);
    padding-left: clamp(11px, 2.4vw, 18px);
  }
  .html-lesson-wrapper .try-content ul {
    margin-left: clamp(11px, 2.4vw, 18px);
  }
  .html-lesson-wrapper .try-content li {
    padding-left: clamp(9px, 1.8vw, 13px);
  }
  .html-lesson-wrapper .act-content {
    margin-top: clamp(20px, 3.8vw, 36px);
  }
}
@media only screen and (max-width: 820px) {
  .html-lesson-wrapper .sub-text.try {
    margin-left: -3%;
  }
  .html-lesson-wrapper .section.review {
    margin-left: 1.5%;
  }
}
@media only screen and (max-width: 820px) and (max-width: 820px) {
  .html-lesson-wrapper .section.review {
    margin-left: 1.5%;
  }
}
@media only screen and (max-width: 820px) {
  .html-lesson-wrapper footer {
    bottom: 38px;
  }
}
@media screen and (max-width: 768px) {
  .html-lesson-wrapper .program-rank {
    position: absolute;
    top: clamp(20px, 4vw, 40px);
    left: clamp(23px, 4vw, 48px);
  }
  .html-lesson-wrapper .title {
    top: clamp(45px, 8.4vw, 80px);
    left: clamp(23px, 4.1vw, 55px);
  }
  .html-lesson-wrapper .speech {
    margin-left: 5%;
    width: 80%;
  }
  .html-lesson-wrapper .see-border-box {
    margin-left: 7%;
    width: 85%;
  }
  .html-lesson-wrapper .see-border-box.review {
    margin-left: 10%;
  }
  .html-lesson-wrapper .sub-text {
    margin-left: 7%;
  }
  .html-lesson-wrapper .sub-text.review {
    margin-left: 10%;
    width: 85%;
  }
  .html-lesson-wrapper .sub-text.try {
    margin-left: 4%;
  }
  .html-lesson-wrapper ul {
    position: relative;
    left: 2%;
  }
  .html-lesson-wrapper ol.review {
    margin-left: 11%;
    width: 88%;
  }
  .html-lesson-wrapper .word-break {
    word-break: break-word;
  }
  .html-lesson-wrapper .try-content ul {
    margin-left: 0%;
    word-break: break-word;
  }
  .html-lesson-wrapper .b, .html-lesson-wrapper .see-content table td:first-child, .html-lesson-wrapper .part-content table td:first-child, .html-lesson-wrapper .review-content .lsn {
    margin-left: 7%;
  }
  .html-lesson-wrapper .divider.see {
    font-size: 12px;
    margin-left: -35%;
  }
}
@media screen and (max-width: 600px) {
  .html-lesson-wrapper .type {
    padding: 2px 8px 2px 7px !important;
  }
  .html-lesson-wrapper .level {
    padding: 2px 6px 2px 7px !important;
  }
  .html-lesson-wrapper .line {
    margin: 0 6px;
    vertical-align: middle;
  }
  .html-lesson-wrapper .arrow-part:before {
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
    border-top: 8px solid !important;
  }
}
@media only screen and (max-width: 400px) {
  .html-lesson-wrapper .section.words {
    margin-left: 26%;
    margin-top: 1.5%;
  }
  .html-lesson-wrapper .section.review {
    margin-left: 14%;
  }
  .html-lesson-wrapper .section.see {
    margin-left: 13.6%;
  }
  .html-lesson-wrapper .section.try {
    margin-left: 13.6%;
  }
  .html-lesson-wrapper .section.act {
    margin-left: 13.6%;
  }
}
@media only screen and (max-width: 320px) {
  .html-lesson-wrapper ol.review-list {
    margin-left: 8%;
  }
  .html-lesson-wrapper .see-border-box.review {
    margin-left: 13%;
  }
  .html-lesson-wrapper .section.words {
    margin-left: 32%;
    margin-top: 1.5%;
    width: 12%;
  }
  .html-lesson-wrapper .section.review {
    margin-left: 14%;
  }
  .html-lesson-wrapper .section.see {
    margin-left: 20.6%;
  }
  .html-lesson-wrapper .section.try {
    margin-left: 20.6%;
  }
  .html-lesson-wrapper .section.act {
    margin-left: 20.6%;
  }
  .html-lesson-wrapper .section .sub-text.review {
    margin-left: 13%;
  }
}