@import '../../css/op-management-2-utils';

.content-div {
    &.act {
        .try-list {
            line-height: 1.8em;
            padding-left: 20px;
            li {
                padding-left: 20px;
            }
        }
    }
}