$text-font: 'Trebuchet MS';
$title-font: Helvetica, Arial, 'Sans-serif';
$magenta: #cc3366;
$green: #339999;
$pink: #f0d4d4;
$gray: #d9d9d9;

body {
  margin: 0;
  padding: 0;
}
.html-lesson-wrapper {
  min-width: 320px;
  max-width: 100%;
  max-width: 892.75px;
  min-height: 960px;
  height: fit-content;
  overflow: hidden;
  position: relative;
  background-image: url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/other-programs-bg-header-magenta.svg'),
    url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/other-programs-footer-logo.svg');
  background-position: top, -11.5px 100%;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: $text-font;

  header {
    font-family: $title-font;
    margin-bottom: clamp(110px, 30vw, 270px);
  }
  .b {
    font-weight: bold;
  }
  .program-rank {
    position: absolute;
    top: 3.05%;
    left: 5%;
    color: #ffffff;
    font-size: 0px;
    .type {
      padding: 3px 16px 3px 14px;
      background-color: $magenta;
      font-size: clamp(8px, 1.8vw, 15px);
    }
    .level {
      padding: 3px 12px 3px 13px;
      background-color: $green;
      font-size: clamp(8px, 1.8vw, 15px);
    }
  }
  .title {
    position: absolute;
    top: 80px;
    left: 36px;
    font-size: clamp(18px, 4vw, 27px);
    text-transform: uppercase;
  }
  .lesson-number {
    position: absolute;
    left: clamp(91.5%, 93vw, 91%);
    margin-top: 7.4%;
    font-size: clamp(7px, 1.8vw, 13px);
    color: #ffffff;
  }
  .section {
    position: absolute;
    left: -82px;
    color: $magenta;
    font-weight: bold;
    font-family: $title-font;
    top: 6.5px;
  }
  .p1 {
    top: 3px;
  }
  .divider {
    color: #d9d9d9;
    font-size: clamp(12px, 2vw, 15px);
    position: relative;
    left: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  ul {
    margin: 3px 0px 0px 18px;
    padding: 0;
    line-height: clamp(12px, 3vw, 26px);

    li {
      margin-bottom: clamp(20px, 8vw, 30px);
      padding-left: 8px;
    }
  }
  .decimal {
    list-style-type: decimal;
    line-height: 1.8;
  }
  .part-content {
    position: relative;
    margin-left: clamp(50px, 16%, 126.5px);
    padding-left: 18.5px;
    padding-right: 42px;
    font-size: clamp(12px, 2vw, 15px);

    .part-1 .part-2 {
      margin-bottom: 30px;
    }
  }

  .part-content-2 {
    margin-bottom: clamp(50px, 13vw, 120px);
  }
  .instruction {
    font-family: $title-font !important;
    line-height: clamp(12px, 2.8vw, 22px);
    margin: 0 auto;
  }

  footer {
    font-size: clamp(4.5px, 1.1vw, 9px);
    position: absolute;
    width: fit-content;
    text-align: right;
    bottom: 33px;
    right: 6.2%;
    font-family: $title-font;
    max-width: 64%;

    .footer-text {
      display: flex;
    }
  }
}
@media screen and (max-width: 768px) {
  .html-lesson-wrapper {
    .program-rank {
      position: absolute;
      top: clamp(20px, 4vw, 40px);
      left: clamp(23px, 4vw, 48px);
    }
    .title {
      top: clamp(45px, 8.4vw, 80px);
      left: clamp(23px, 3.1vw, 55px);
    }
    .divider {
      &.d1,
      &.d2 {
        margin-top: clamp(18px, 3.4vw, 28px);
      }
    }
    .section {
      left: calc(-15% + 40px);
    }
    footer {
      bottom: clamp(16px, 4.8vw, 43px);
      right: 5% !important;
    }
  }
}

@media screen and (max-width: 460px) {
  .html-lesson-wrapper {
    .part-1 {
      margin-top: 2px;
      margin-left: -9%;
    }
    .decimal {
      margin-left: 40px;
    }
    .instruction {
      margin-left: 22px;
    }
  }
}
@media screen and (max-width: 400px) {
  .html-lesson-wrapper {
    .part-2 {
      margin-top: -2px;
      margin-left: -9%;
    }
  }
}
