$text-font: 'Trebuchet MS';
$title-font: 'Arial';
$noto-sans: 'Noto Sans';

$primary-blue: #1287cd;
$rank-green: #009c9a;
$primary-dark: #083051;
$primary-light: #cce0ec;

$subtext-color: #7f8288;

$side-margin: clamp(18px, 5vw, 32px);
$fs-11: clamp(6px, 1.9vw, 11px);
$fs-12: clamp(8px, 1.8vw, 12px);
$fs-13: clamp(9px, 2.2vw, 13px);
$fs-14: clamp(8.5px, 2.4vw, 14px);
$fs-16: clamp(11px, 2.7vw, 16px);
$fs-18: clamp(12px, 3.5vw, 18px);
$fs-20: clamp(13px, 4vw, 20px);

$s3: 'https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images';

body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  font-family: $text-font;
  width: 100%;
  min-width: 360px;
  max-width: 604px;
  min-height: 1596px;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url(#{$s3}/0-bg-header.png), url(#{$s3}/0-bg-footer.png);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;

  hr {
    border-top: 1px solid #dbdcdc;
  }

  td {
    vertical-align: top;
  }

  .m-0 {
    margin: 0;
  }

  .flex {
    display: flex;
  }

  .img-responsive {
    width: 100%;
    height: auto;
  }

  .small-line {
    height: 2px;
    width: 16px;
    background: $primary-blue;
    margin-bottom: 1.5vw;
  }

  .trebuchet {
    font-family: $text-font;
  }

  .content-mt {
    margin-top: clamp(20px, 6.5vw, 38px);
  }

  .span-letter-spacing {
    letter-spacing: -2.5px !important;
  }

  header {
    font-family: $title-font;
  }

  .fs-16 {
    font-size: clamp(12px, 2.3vw, 16px);
  }
  .flip-horizontal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .noto-sans {
    font-family: $noto-sans;
  }
  .b {
    font-weight: bold;
  }
  .u-sup {
    border-bottom: solid 1.5px black;
    display: inline-block;
    line-height: clamp(6px, 1.5vw, 14px);
  }
  .u-blue {
    text-decoration: underline;
    color: $primary-blue;
  }
  .primary-blue {
    color: $primary-blue;
  }
  .program-rank {
    position: absolute;
    color: #ffffff;
    font-size: 0px;
    margin-top: clamp(1px, 1vw, 5px);

    .type {
      padding: clamp(1px, 1vw, 5px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 5px)
        clamp(10px, 3vw, 17px);
      background-color: $primary-blue;
      font-size: clamp(7px, 1.8vw, 12px);
    }
    .level {
      padding: clamp(1px, 1vw, 5px) clamp(20px, 8.4vw, 50px)
        clamp(1px, 1vw, 5px) clamp(10px, 3vw, 17px);
      font-size: clamp(7px, 1.8vw, 12px);
      background: linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -webkit-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -o-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -moz-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      margin-left: -15px;
      width: 100%;
    }
  }
  .eng {
    font-weight: bold;
    font-size: clamp(10px, 2vw, 14px);
  }
  .jap {
    letter-spacing: -0.5px;
    color: $subtext-color;
    font-family: $noto-sans;
    font-size: clamp(8px, 2vw, 11px);
  }
  .line {
    margin: 0 12px;
  }
  .lesson-number {
    position: absolute;
    left: 90.5%;
    width: 1.9%;
    text-align: center;
    margin-top: 0.5%;
    font-size: clamp(15px, 4.2vw, 25px);
    color: #ffffff;
  }

  // Title
  .title-section {
    position: absolute;
    top: clamp(30px, 8vw, 50px);
    background-color: $primary-blue;
    color: white;
    padding: clamp(10px, 3vw, 16px) clamp(20px, 6vw, 32px);
    width: 100%;
    box-sizing: border-box;
    font-family: $noto-sans;
    line-height: 1.8;

    .title {
      font-size: clamp(16px, 4.5vw, 26px);
    }
    .sub-title {
      font-size: clamp(10px, 2.5vw, 15px);
      letter-spacing: -0.5px;
    }
  }
  .arrow {
    @extend .b;
    text-transform: uppercase;
    font-size: $fs-16;
    padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: $noto-sans;
  }
  .instructions {
    font-family: $noto-sans;
    position: absolute;
    padding: clamp(0px, 0.01vw, 3px) 0px;
    left: 26%;
    line-height: 1.6;

    .title {
      font-size: clamp(12px, 3.5vw, 18px);
      color: #141821;
    }
    .sub-title {
      font-size: $fs-13;
      color: $subtext-color;
      letter-spacing: -0.5px;
    }
  }

  //office section

  .name {
    position: absolute;
    border: 0.25px solid #231f20;
    border-radius: 6.67px;
    background-color: #ffffff;
    color: #2d356b;
    font-weight: bold;
    font-family: $text-font;
    font-size: clamp(8px, 2vw, 10px);
    padding: clamp(5px, 1.5vw, 8px) clamp(5px, 2.5vw, 15px);
  }

  .office-section {
    font-family: $noto-sans;

    &.office-see-1 {
      margin-top: clamp(20px, 6.5vw, 29px);

      .akiko-convo-1 {
        position: absolute;
        margin: 11% 0 0 15%;
        text-align: center;
      }

      .mt {
        margin-top: clamp(6px, 1vw, 12px);
      }

      .eng {
        font-family: $text-font;
        font-weight: bold;
        font-size: clamp(8.5px, 2.4vw, 14px);
      }
      .jpn {
        font-family: $noto-sans;
        color: #76797f;
        font-weight: normal;
        font-size: clamp(6.5px, 1.8vw, 11px);
        line-height: 1.8;
      }
    }
  }

  // See-content
  .see-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.see-1 {
      margin-top: clamp(110px, 28vw, 173.2px);
    }

    &.see-2,
    &.see-3,
    &.see-4 {
      margin-top: clamp(20px, 5vw, 33px);

      //see-content.legend
      & .legend {
        margin-top: clamp(25px, 5vw, 38px);
      }
    }

    .see-2-section {
      margin-top: clamp(20px, 6.5vw, 4rem);
      .akiko-section {
        display: flex;
        .akiko-icon {
          text-align: center;
          width: 18%;

          div {
            font-family: $noto-sans;
            font-size: clamp(8.5px, 2.4vw, 14px);
            font-weight: bold;
            margin-top: 3%;
          }
        }
        .akiko-conversation {
          width: 82%;
          padding-left: 3vw;

          .row-1 {
            width: 100%;
            display: flex;
          }
          .row-2 {
            width: 100%;
            margin-top: 5px;
            display: flex;

            div {
              margin-left: auto;
            }
          }
          .row-3 {
            .sub {
              font-family: $noto-sans;
              font-size: $fs-13;
              font-size: $fs-13;
              color: #7f8288;
              margin-bottom: 15px;
            }
          }

          .piece-mt {
            margin-top: clamp(5px, 1.5vw, 10px);
          }
        }
      }
      .red-piece {
        width: clamp(80px, 22vw, 149.8px);
        margin-right: 10px;
      }

      .green-piece {
        width: clamp(190px, 50vw, 332.2px);
        margin-left: auto;
      }

      .yellow-piece {
        width: clamp(50px, 14vw, 88.8px);
        margin-right: 10px;
      }

      .blue-piece {
        width: clamp(105px, 29vw, 179.2px);
      }

      .piece {
        height: clamp(30px, 9vw, 38px);
        font-size: $fs-16;
        font-family: $noto-sans;
        font-weight: bold;
      }

      .akiko-table-pieces {
        margin-top: clamp(1rem, 9vw, 1.5rem);
        display: grid;
        column-gap: 2%;
        width: 100%;
        height: 100%;
        grid-template-columns: auto auto;

        .column-two {
          margin-left: auto;
        }
      }

      .akiko-table {
        display: grid;
        column-gap: 2%;
        width: 100%;
        height: 100%;
        grid-template-columns: 49% 49%;
      }

      .table {
        margin-top: 0.2rem;
        border: 1px solid #1287cd;
        padding: clamp(10px, 2.5vw, 18px) clamp(7px, 1.5vw, 11px);
      }
      .table.column-one {
        width: 100%;
      }
      .table.column-two {
        width: 100%;
      }

      ol {
        margin: 0;
        padding: 0;
        display: grid;
        grid-gap: clamp(0.1rem, 1vw, 0.5rem);
        counter-reset: orderedlist;
      }

      ol.column-one {
        --li-bg: #1287cd;

        li::before {
          color: #fff;
          border-radius: 50%;
        }
      }

      ol.column-two {
        --li-bg: #fff;

        li::before {
          color: $primary-blue;
          border: 2px solid $primary-blue;
          content: counter(orderedlist, upper-alpha);
        }
      }

      ol.column-three {
        --li-bg: #fff;

        li::before {
          border-radius: 50%;
          color: $primary-blue;
        }
      }

      li::before {
        counter-increment: orderedlist;
        content: counter(orderedlist);
        font-family: $noto-sans;
        font-size: $fs-16;
        width: clamp(18px, 4vw, 24px);
        height: clamp(18px, 4vw, 24px);
        display: grid;
        place-items: center;
        color: #fff;
        background-color: var(--li-bg);
        font-weight: bold;
      }

      li {
        display: grid;
        grid-template-columns: 0 1fr;
        grid-gap: clamp(1.5rem, 6vw, 2.1rem);
        align-items: start;
        line-height: 1.25;
        font-family: $noto-sans;
        list-style-type: lower-alpha !important;

        div {
          div.list-title {
            font-size: $fs-16;
            margin-bottom: clamp(2px, 1vw, 8px);
          }

          div.list-subtitle {
            font-size: $fs-13;
            color: #7f8288;
          }
        }
      }

      .column-two {
        .green-piece {
          margin-left: auto;
        }
      }
    }

    .see-3-section {
      margin-top: clamp(20px, 6.5vw, 4rem);
      .akiko-section {
        display: flex;
        .akiko-icon {
          text-align: center;
          width: 18%;

          div {
            font-family: $noto-sans;
            font-size: clamp(8.5px, 2.4vw, 14px);
            font-weight: bold;
            margin-top: 3%;
          }
        }
        .akiko-conversation {
          width: 82%;
          padding-left: 3vw;

          .row-1 {
            width: 100%;
            display: flex;
          }
          .row-2 {
            width: 100%;
            .sub {
              font-family: $noto-sans;
              font-size: $fs-13;
              font-size: $fs-13;
              line-height: 2;
              color: #7f8288;
            }
          }

          .piece-mt {
            margin-top: clamp(5px, 1.5vw, 10px);
          }
        }
      }
      .red-piece {
        width: clamp(65px, 19vw, 112.8px);
      }

      .green-piece {
        width: clamp(105px, 28vw, 166.2px);
      }

      .yellow-piece {
        width: clamp(230px, 59vw, 356px);
        background: #ffe200;
        border-radius: 6px;
        text-align: center;
      }

      .piece {
        position: relative;
        display: grid;
        place-items: center;
        text-align: center;
        width: 100%;
        height: clamp(30px, 9vw, 38px);
        font-size: $fs-16;
        font-family: $noto-sans;
        font-weight: bold;

        .piece-text {
          position: absolute;
          margin-left: clamp(-1px, -1vw, -10px);
        }

        .piece-image {
          width: 100%; /* or any custom size */
          height: 100%;
          object-fit: stretch;
          position: absolute;
        }
      }

      .akiko-table {
        margin-top: clamp(1rem, 9vw, 3.5rem);
        display: grid;
        column-gap: clamp(3px, 0.5vw, 10px);
        width: 100%;
        height: 100%;
        grid-template-columns: auto auto;
      }

      .bottom-table-piece {
        width: 100%;

        .yellow-piece {
          margin: clamp(3px, 2vw, 39px) 0 0 auto;
        }
      }

      .akiko-bottom-table {
        display: grid;
        column-gap: 10px;
        width: 100%;
        height: 100%;
        grid-template-columns: auto auto;
      }

      .table {
        margin-top: 0.2rem;
        border: 1px solid #1287cd;
        padding: clamp(10px, 2.5vw, 18px) clamp(7px, 1.5vw, 11px);
      }
      .table.column-one {
        width: 100%;
      }
      .table.column-two {
        width: 100%;
      }
      .table.column-three {
        background: #e7f3fa;
      }

      ol {
        margin: 0;
        padding: 0;
        display: grid;
        grid-gap: clamp(0.1rem, 1vw, 0.5rem);
        counter-reset: orderedlist;
      }

      ol.column-one {
        --li-bg: #1287cd;

        li::before {
          color: #fff;
          border-radius: 50%;
        }
      }

      ol.column-two {
        --li-bg: #fff;

        li::before {
          color: $primary-blue;
          border: 2px solid $primary-blue;
          content: counter(orderedlist, upper-alpha);
        }
      }

      ol.column-three {
        --li-bg: #fff;

        li::before {
          border-radius: 50%;
          color: $primary-blue;
        }
      }

      li::before {
        counter-increment: orderedlist;
        content: counter(orderedlist);
        font-family: $noto-sans;
        font-size: $fs-16;
        width: clamp(18px, 4vw, 24px);
        height: clamp(18px, 4vw, 24px);
        display: grid;
        place-items: center;
        color: #fff;
        background-color: var(--li-bg);
        font-weight: bold;
      }

      li {
        display: grid;
        grid-template-columns: 0 1fr;
        grid-gap: clamp(1.5rem, 6vw, 2.1rem);
        align-items: start;
        line-height: 1.25;
        font-family: $noto-sans;
        list-style-type: lower-alpha !important;

        div {
          div.list-title {
            font-size: $fs-16;
            margin-bottom: clamp(2px, 1vw, 8px);
          }

          div.list-subtitle {
            font-size: $fs-13;
            color: #7f8288;
          }
        }
      }

      .column-two {
        .green-piece {
          margin-left: auto;
        }
      }
      .column-three {
        .by-the-president-piece {
          margin: 0 0 0 auto;
        }

        .directors-meeting-piece {
          margin: 0 0 0 auto;
        }
      }

      .last-piece {
        margin: 0 0 0 auto;
      }
    }

    .see-4-section {
      margin-top: clamp(20px, 6.5vw, 4rem);
      .akiko-section {
        display: flex;
        .akiko-icon {
          text-align: center;
          width: 18%;
          padding-left: 20px;

          div {
            font-family: $noto-sans;
            font-size: clamp(8.5px, 2.4vw, 14px);
            font-weight: bold;
            margin-top: 3%;
          }
        }
        .akiko-conversation {
          width: 95%;

          .row-1 {
            .row-1-pieces {
              margin-left: auto;
              padding: 0;
              width: 88%;
            }

            .pieces {
              display: flex;
              justify-content: space-between;
            }
            .sub {
              font-family: $noto-sans;
              font-size: $fs-13;
              font-size: $fs-13;
              line-height: 2;
              color: #7f8288;
            }
          }
          .row-2 {
            .yellow-piece {
              margin-left: auto;
            }
          }

          .piece-mt {
            margin-top: clamp(5px, 1.5vw, 10px);
          }
        }
      }

      .red-piece {
        width: clamp(53px, 45vw, 198.8px);
      }

      .green-piece {
        width: clamp(173px, 45vw, 175.2px);
      }

      .yellow-piece-1 {
        width: clamp(73px, 45vw, 151px);
      }

      .piece {
        position: relative;
        display: grid;
        place-items: center;
        text-align: center;
        width: 100%;
        height: clamp(30px, 9vw, 38px);
        font-size: $fs-16;
        font-family: $noto-sans;
        font-weight: bold;
      }

      .akiko-table {
        margin-top: clamp(1rem, 9vw, 3.5rem);
        display: grid;
        column-gap: 2%;
        width: 100%;
        height: 100%;
        grid-template-columns: 49% 49%;
      }

      .table {
        margin-top: 0.2rem;
        border: 1px solid #1287cd;
        padding: clamp(10px, 2.5vw, 18px) clamp(7px, 1.5vw, 11px);
      }
      .table.column-one,
      .table.column-two {
        width: 100%;
      }

      ol {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-gap: clamp(0.1rem, 1vw, 0.5rem);
        counter-reset: orderedlist;
      }

      ol.column-one,
      ol.column-two {
        --li-bg: #1287cd;

        li::before {
          color: #fff;
          border-radius: 50%;
        }
      }

      li::before {
        counter-increment: orderedlist;
        content: counter(orderedlist);
        font-family: $noto-sans;
        font-size: $fs-16;
        width: clamp(18px, 4vw, 24px);
        height: clamp(18px, 4vw, 24px);
        display: grid;
        place-items: center;
        color: #fff;
        background-color: var(--li-bg);
        font-weight: bold;
      }

      li {
        display: grid;
        grid-template-columns: 0 1fr;
        grid-gap: clamp(1.5rem, 6vw, 2.1rem);
        align-items: start;
        line-height: 1.25;
        font-family: $noto-sans;

        div {
          div.list-title {
            font-size: $fs-16;
            margin-bottom: clamp(2px, 1vw, 8px);
          }

          div.list-subtitle {
            font-size: $fs-13;
            color: #7f8288;
          }
        }
      }

      .column-two {
        .green-piece {
          margin-left: auto;
        }
      }
      .column-three {
        .by-the-president-piece {
          margin: 0 0 0 auto;
        }

        .directors-meeting-piece {
          margin: 0 0 0 auto;
        }
      }

      .last-piece {
        margin: 0 0 0 auto;
      }
    }

    .arrow.see {
      @extend .b;
      text-transform: uppercase;
      color: $primary-blue;
      font-size: $fs-16;
      background-image: url(#{$s3}/0-see-arrow.png);
      padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
      background-repeat: no-repeat;
      background-size: contain;
      font-family: $noto-sans;
    }
  }
  .try-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    .try-1-content {
      margin: clamp(20px, 10vw, 6rem) 0 clamp(20px, 5vw, 1rem);
      padding-left: 10%;

      .speech-1 {
        position: absolute;
        margin: 74% 0 0 32%;
      }
      .speech-2 {
        position: absolute;
        margin: 78% 0 0 31%;
      }
      .speech-3 {
        position: absolute;
        margin: 78% 0 0 30%;
      }
      .speech-4 {
        position: absolute;
        margin: 79% 0 0 31%;
      }
      pre {
        font-family: $text-font;
        font-size: $fs-14;
        font-weight: bold;
      }

      .mt {
        margin-top: clamp(2.5px, 1vw, 5px);
      }

      .row {
        margin-bottom: clamp(0.5rem, 13vw, 3rem);
      }
    }

    .try-2-content {
      margin-top: clamp(20px, 10vw, 69px);

      ol {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-gap: clamp(0.1rem, 1vw, 0.5rem);
        counter-reset: orderedlist;
      }

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: clamp(0.5rem, 13vw, 10rem);

        .image-1 {
          width: 30%;
        }

        .image-2 {
          width: 33%;
        }

        .image-3 {
          width: 40%;
        }
      }

      li::before {
        counter-increment: orderedlist;
        content: counter(orderedlist);
        font-family: $noto-sans;
        font-size: $fs-16;
        color: $primary-blue;
        font-weight: bold;
      }

      li {
        display: grid;
        grid-template-columns: 0 1fr;
        font-family: $noto-sans;
        width: 60%;

        .dialogue {
          display: flex;
        }

        .big-mb {
          margin-bottom: clamp(10px, 4vw, 20px);
        }

        .small-mb {
          margin-bottom: clamp(5px, 2vw, 10px);
        }

        .jpn {
          .speech {
            font-style: $noto-sans;
            font-size: $fs-13;
            color: #7f8288;
          }
        }

        .person {
          text-align: right;
          font-weight: bold;
          font-size: $fs-16;
          width: 35%;
        }

        .speech {
          width: 80%;
          padding-left: clamp(1px, 1vw, 5px);
          font-size: $fs-18;
        }
      }
    }

    .try-3-content {
      margin: clamp(20px, 6.5vw, 4rem) 0 clamp(20px, 5vw, 1rem);
      display: flex;

      .akiko-icon {
        width: 40%;
      }

      .math-area {
        width: 60%;
        padding-left: clamp(20px, 7vw, 40px);

        .row {
          display: flex;
          align-items: center;
          margin-bottom: 2.4vw;

          div {
            margin-right: clamp(2px, 1.5vw, 6px);
          }

          .small {
            width: clamp(18px, 4vw, 24px);
            height: clamp(18px, 4vw, 24px);
            display: grid;
            place-items: center;
            font-family: $noto-sans;
            font-weight: bold;
            font-size: $fs-16;
          }

          .number-bg {
            background: $primary-blue;
            color: white;
            border-radius: 50%;
            font-size: $fs-16;
          }

          .letter {
            color: $primary-blue;
            border: 2px solid $primary-blue;
            font-size: $fs-16;
          }

          .number-outlined {
            color: $primary-blue;
            border-radius: 50%;
            border: 1px solid $primary-blue;
            font-size: $fs-16;
          }

          .text {
            color: $primary-blue;
            font-size: $fs-16;
            font-weight: bold;
          }

          img {
            width: clamp(10px, 3vw, 15px);
            height: clamp(10px, 3vw, 15px);
          }
        }
      }
    }

    .try-4-content {
      margin-top: clamp(20px, 10vw, 69px);

      ol {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-gap: clamp(0.1rem, 1vw, 0.5rem);
        counter-reset: orderedlist;
      }

      li::before {
        counter-increment: orderedlist;
        content: counter(orderedlist);
        font-family: $noto-sans;
        font-size: $fs-16;
        color: $primary-blue;
        font-weight: bold;
        padding-left: 1vw;
      }

      li {
        display: grid;
        grid-template-columns: 0 1fr;
        grid-gap: clamp(0.6rem, 1.5vw, 2.1rem);
        font-family: $noto-sans;

        .dialogue {
          display: flex;
        }

        .big-mb {
          margin-bottom: clamp(10px, 4vw, 20px);
        }

        .small-mb {
          margin-bottom: clamp(5px, 2vw, 10px);
        }

        .jpn {
          .speech {
            font-style: $noto-sans;
            font-size: $fs-13;
            color: #7f8288;
          }
        }

        .person {
          width: clamp(60px, 15%, 80px);
          text-align: right;
          font-weight: bold;
          font-size: $fs-16;
        }

        .speech {
          padding-left: 1vw;
          width: 85%;
          font-size: $fs-18;
        }
      }
      .image {
        width: 100%;
        padding: 0 !important;
        margin-bottom: clamp(1rem, 10vw, 5rem);
      }
    }

    .try-content-pb {
      padding-bottom: 6vw;
    }

    .try-3-content {
      margin-top: clamp(20px, 5vw, 50px);

      ol {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-gap: clamp(0.1rem, 1vw, 0.5rem);
        counter-reset: orderedlist;
      }

      .row {
        width: 100%;
      }

      li::before {
        counter-increment: orderedlist;
        content: counter(orderedlist);
        font-family: $noto-sans;
        font-size: $fs-16;
        color: $primary-blue;
        font-weight: bold;
      }

      li {
        display: grid;
        grid-template-columns: 0 1fr;
        font-family: $noto-sans;
        margin-bottom: clamp(0.5rem, 5vw, 3rem);
        width: 100%;

        .dialogue {
          display: flex;
        }

        .big-mb {
          margin-bottom: clamp(10px, 4vw, 20px);
        }

        .small-mb {
          margin-bottom: clamp(5px, 2vw, 10px);
        }

        .jpn {
          .speech {
            font-style: $noto-sans;
            font-size: $fs-13;
            color: #7f8288;
          }
        }

        .person {
          text-align: right;
          font-weight: bold;
          font-size: $fs-16;
          width: 15%;
        }

        .speech {
          padding-left: clamp(1px, 1vw, 5px);
          font-size: $fs-18;
        }
      }
    }

    .try-4-content {
      margin: clamp(20px, 12vw, 80px) 0 clamp(20px, 17vw, 7rem);

      .image-section {
        display: flex;
        margin-bottom: clamp(1rem, 4vw, 1.8rem);
      }

      .image {
        padding: 0 clamp(0.5rem, 7vw, 1.8rem);
      }

      .image-1 {
        padding: 0 clamp(0.5rem, 7vw, 1.8rem);
      }

      .image-2 {
        padding: 0 clamp(0.5rem, 3vw, 0.7rem);
      }

      .text {
        display: flex;
        font-family: $noto-sans;
        font-size: $fs-18;
        margin-bottom: clamp(1rem, 3.5vw, 1.5rem);
      }

      .underlined {
        color: $primary-blue;
        text-decoration: underline;
      }

      .bold {
        margin-right: 2vw;
        text-align: right;
        width: 12%;
        font-weight: bold;
        font-size: $fs-16;
      }

      .step {
        margin-bottom: clamp(2rem, 9vw, 5rem);
      }
    }

    .number {
      color: $primary-blue;
      font-size: $fs-16;
      font-weight: bold;
      margin-right: 1vw;
    }

    &.try-1,
    &.try-2,
    &.try-3,
    &.try-4 {
      margin-top: 32px;
    }

    .arrow.try {
      color: white;
      background-image: url(#{$s3}/0-try-arrow.png);
    }
  }
  .act-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    .act-1-content {
      margin: clamp(20px, 6.5vw, 29px) 0 clamp(20px, 17vw, 7rem);

      .image-area {
        margin-bottom: 1vw;
      }

      .akiko-speech {
        position: absolute;
        margin: 9.5% 0 0 10%;
      }

      .eng {
        font-family: $text-font;
        font-size: $fs-14;
        font-weight: bold;
      }

      .jpn {
        font-family: $noto-sans;
        font-size: $fs-11;
        color: #7f8288;
      }

      .dan {
        position: absolute;
        margin: 36.5% 0 0 71%;
      }

      .akiko {
        position: absolute;
        margin: 37% 0 0 8%;
      }

      .text {
        display: flex;
        font-family: $noto-sans;
        font-size: $fs-18;
        margin-bottom: clamp(5px, 1vw, 10px);
      }

      .jpn-text {
        display: flex;
        font-family: $noto-sans;
        font-size: $fs-13;
        margin-bottom: clamp(5px, 3vw, 25px);
        color: #7f8288;
      }

      .bold {
        margin-right: 2vw;
        text-align: right;
        width: 12%;
        font-weight: bold;
        font-size: $fs-16;
      }

      .speech {
        width: 88%;
      }
    }

    &.act-1,
    &.act-2 {
      margin-top: 32px;
    }
    &.act-2 {
      margin-bottom: 50px;
    }

    .arrow.act {
      color: white;
      background-image: url(#{$s3}/0-act-arrow.png);
    }
  }
  .blue-line {
    width: 15px;
    height: 2px;
    border-bottom: 2px solid $primary-blue;
    margin-bottom: 5px;
  }
}
