body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  font-family: "Trebuchet MS";
  width: 100%;
  min-width: 360px;
  max-width: 604px;
  min-height: 1596px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-bg-header.png), url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-bg-footer.png);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.html-lesson-wrapper hr {
  border-top: 1px solid #dbdcdc;
}
.html-lesson-wrapper .m-0 {
  margin: 0;
}
.html-lesson-wrapper .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.html-lesson-wrapper .img-responsive {
  width: 100%;
  height: auto;
}
.html-lesson-wrapper .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.html-lesson-wrapper header {
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .fs-16 {
  font-size: clamp(12px, 2.3vw, 16px);
}
.html-lesson-wrapper .flip-horizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.html-lesson-wrapper .noto-sans {
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .b, .html-lesson-wrapper .see-3 .see3-content .phrase-alts .letter, .html-lesson-wrapper .see-3 .see3-content .phrase-alts .number, .html-lesson-wrapper .section-2-content .phrase-alts .letter, .html-lesson-wrapper .section-2-content .phrase-alts .number-white, .html-lesson-wrapper .section-2-content .phrase-alts .number, .html-lesson-wrapper .see-content .arrow.see, .html-lesson-wrapper .arrow {
  font-weight: bold;
}
.html-lesson-wrapper .u-sup {
  border-bottom: solid 1.5px black;
  display: inline-block;
  line-height: clamp(6px, 1.5vw, 14px);
}
.html-lesson-wrapper .u-blue {
  border-bottom: 1px solid #1287cd;
}
.html-lesson-wrapper .primary-blue {
  color: #1287cd;
}
.html-lesson-wrapper .program-rank {
  position: absolute;
  color: #ffffff;
  font-size: 0px;
  margin-top: clamp(1px, 1vw, 5px);
}
.html-lesson-wrapper .program-rank .type {
  padding: clamp(1px, 1vw, 5px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 5px) clamp(10px, 2vw, 17px);
  background-color: #1287cd;
  font-size: clamp(7px, 1.8vw, 12px);
}
.html-lesson-wrapper .program-rank .level {
  padding: clamp(1px, 1vw, 5px) clamp(20px, 4vw, 50px) clamp(1px, 1vw, 5px) clamp(10px, 2vw, 17px);
  font-size: clamp(7px, 1.8vw, 12px);
  background: linear-gradient(125deg, #1287cd 6%, rgba(0, 0, 0, 0) 0%), linear-gradient(125deg, #009c9a 90%, rgba(0, 0, 0, 0) 0%);
  background: -moz-linear-gradient(125deg, #1287cd 6%, rgba(0, 0, 0, 0) 0%), linear-gradient(125deg, #009c9a 90%, rgba(0, 0, 0, 0) 0%);
  margin-left: -15px;
  width: 100%;
}
.html-lesson-wrapper .line {
  margin: 0 12px;
}
.html-lesson-wrapper .lesson-number {
  position: absolute;
  top: 1vh;
  right: 6.3%;
  font-size: clamp(0.8rem, 4vw, 1.5rem);
  color: #ffffff;
}
.html-lesson-wrapper .title-section {
  position: absolute;
  top: clamp(30px, 8vw, 50px);
  background-color: #1287cd;
  color: white;
  padding: clamp(15px, 2vw, 20px) clamp(25px, 4vw, 30px) clamp(9px, 2vw, 15px);
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .title-section .title {
  font-size: clamp(13px, 3.6vw, 23px);
  margin-bottom: 4px;
}
.html-lesson-wrapper .title-section .title-below {
  font-size: clamp(13px, 3.6vw, 23px);
  margin-bottom: 10px;
}
.html-lesson-wrapper .title-section .sub-title {
  font-size: clamp(10px, 2.3vw, 15px);
  letter-spacing: -1px;
}
.html-lesson-wrapper .arrow {
  text-transform: uppercase;
  font-size: clamp(12px, 2.3vw, 16px);
  padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .instructions {
  font-family: "Noto Sans", sans-serif;
  position: absolute;
  padding: clamp(0px, 0.01vw, 3px) 0px;
  left: 28%;
}
.html-lesson-wrapper .instructions .title {
  font-size: clamp(12px, 3.5vw, 18px);
  color: #141821;
}
.html-lesson-wrapper .instructions .sub-title {
  font-size: clamp(9px, 2vw, 13px);
  color: #7f8288;
  letter-spacing: -1px;
}
.html-lesson-wrapper .see-content {
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
}
.html-lesson-wrapper .see-content.see-1 {
  margin-top: clamp(130px, 34vw, 233.2px);
}
.html-lesson-wrapper .see-content.see-2, .html-lesson-wrapper .see-content.see-3, .html-lesson-wrapper .see-content.see-4 {
  margin-top: clamp(20px, 5vw, 33px);
}
.html-lesson-wrapper .see-content.see-2 .legend, .html-lesson-wrapper .see-content.see-3 .legend, .html-lesson-wrapper .see-content.see-4 .legend {
  margin-top: clamp(25px, 5vw, 38px);
}
.html-lesson-wrapper .see-content .arrow.see {
  text-transform: uppercase;
  color: #1287cd;
  font-size: clamp(12px, 2.3vw, 16px);
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-see-arrow.png);
  padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .try-content {
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
}
.html-lesson-wrapper .try-content.try-1 {
  margin-top: 32px;
}
.html-lesson-wrapper .try-content.try-2, .html-lesson-wrapper .try-content.try-3, .html-lesson-wrapper .try-content.try-4 {
  margin-top: 32px;
}
.html-lesson-wrapper .try-content .arrow.try {
  color: white;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-try-arrow.png);
}
.html-lesson-wrapper .act-content {
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
}
.html-lesson-wrapper .act-content.act-1 {
  margin-top: 32px;
}
.html-lesson-wrapper .act-content.act-2 {
  margin-top: 32px;
}
.html-lesson-wrapper .act-content .arrow.act {
  color: white;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-act-arrow.png);
}
.html-lesson-wrapper .section-1-convo {
  margin-top: clamp(30px, 8vw, 50px);
  width: clamp(310px, 86vw, 540px);
  min-height: clamp(230px, 60vw, 380px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-akiko-bg.png);
}
.html-lesson-wrapper .section-1-convo .bubble-1 {
  padding-top: clamp(10px, 4vw, 20px);
  padding-left: clamp(10px, 3vw, 20px);
  width: clamp(193px, 52.3vw, 335px);
  height: 120px;
  margin-top: clamp(-17.8px, -1.6vw, -10px);
  position: absolute;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-bubble1.png);
}
.html-lesson-wrapper .section-1-convo .bubble-1 .eng {
  font-weight: bold;
  font-size: clamp(8.2px, 2vw, 14px);
  font-family: "Trebuchet MS";
}
.html-lesson-wrapper .section-1-convo .bubble-1 .jap {
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(6.3px, 1.5vw, 11px);
  color: #7f8288;
  letter-spacing: -1px;
}
.html-lesson-wrapper .section-1-convo .bubble-2 {
  padding-top: clamp(7px, 2vw, 15px);
  padding-left: clamp(13px, 4vw, 20px);
  width: clamp(180px, 51.2vw, 331px);
  height: 100px;
  margin-top: clamp(45px, 13vw, 80px);
  position: absolute;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-bubble2.png);
}
.html-lesson-wrapper .section-1-convo .bubble-2 .eng {
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-size: clamp(8px, 2vw, 14px);
}
.html-lesson-wrapper .section-1-convo .bubble-2 .jap {
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(6px, 1.5vw, 11px);
  color: #7f8288;
  letter-spacing: -1px;
}
.html-lesson-wrapper .section-2-content {
  margin-top: clamp(35px, 15vw, 50px);
}
.html-lesson-wrapper .section-2-content .wrapper-with-akiko {
  display: grid;
  grid-template-columns: clamp(90px, 20vw, 130px) 2fr;
}
.html-lesson-wrapper .section-2-content .wrapper-with-akiko .akiko-image {
  width: 100px;
  height: clamp(100px, 23.1vw, 150px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-akiko-icon.png);
}
.html-lesson-wrapper .section-2-content .wrapper-with-akiko .wrap-all-boxes {
  margin-top: clamp(12px, 3vw, 19px);
  margin-left: clamp(11px, 0.1vw, 1px);
}
.html-lesson-wrapper .section-2-content .wrapper-with-akiko .wrap-all-boxes .wrap-for-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.html-lesson-wrapper .section-2-content .wrapper-with-akiko .wrap-all-boxes .wrap-for-flex .currently-box {
  padding-top: clamp(5.8px, 1.5vw, 9px);
  padding-left: clamp(2px, 2vw, 2px);
  padding-right: 10px;
  text-align: center;
  font-size: clamp(10px, 2.6vw, 16px);
  width: clamp(65px, 18vw, 96px);
  height: 38px;
  margin-right: clamp(10px, 4vw, 15px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-currently.png);
}
.html-lesson-wrapper .section-2-content .wrapper-with-akiko .wrap-all-boxes .wrap-for-flex .our-team-box {
  padding-top: clamp(6.3px, 2vw, 9px);
  padding-left: clamp(2px, 2vw, 2px);
  padding-right: 11px;
  text-align: center;
  font-size: clamp(10px, 2.6vw, 16px);
  width: clamp(85px, 22.9vw, 123px);
  height: 38px;
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-our-team.png);
}
.html-lesson-wrapper .section-2-content .wrapper-with-akiko .wrap-all-boxes .new-business-box {
  padding-top: clamp(6.3px, 2vw, 9px);
  padding-left: clamp(2px, 2vw, 2px);
  padding-right: 5px;
  text-align: center;
  font-size: clamp(10px, 2.6vw, 16px);
  width: clamp(150px, 40.9vw, 225px);
  height: 38px;
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-new-business.png);
  margin-bottom: clamp(1px, 2.4vw, 3px);
}
.html-lesson-wrapper .section-2-content .wrapper-with-akiko .wrap-all-boxes .jap {
  margin-top: -8px;
  font-size: clamp(9px, 2vw, 13px);
  color: #7f8288;
  letter-spacing: -1.8px;
}
.html-lesson-wrapper .section-2-content .legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: clamp(40px, 7vw, 50px);
}
.html-lesson-wrapper .section-2-content .legend .legend-1 {
  padding-top: clamp(4.8px, 1.3vw, 9px);
  padding-left: clamp(8px, 2vw, 2px);
  padding-right: 18px;
  text-align: center;
  font-size: clamp(10px, 2.6vw, 16px);
  width: clamp(65px, 18vw, 96px);
  height: 38px;
  margin-right: clamp(10px, 4vw, 15px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-currently.png);
}
.html-lesson-wrapper .section-2-content .legend .legend-2 {
  margin-left: 3.7%;
  padding-top: clamp(4.7px, 1.3vw, 9px);
  padding-left: clamp(8px, 2vw, 2px);
  padding-right: 16.5px;
  text-align: center;
  font-size: clamp(10px, 2.6vw, 16px);
  width: clamp(89.5px, 22.9vw, 123px);
  height: 38px;
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-our-team.png);
}
.html-lesson-wrapper .section-2-content .legend .legend-3 {
  margin-left: auto;
  padding-top: clamp(4.7px, 1.3vw, 9px);
  padding-left: clamp(10px, 1vw, 12px);
  padding-right: 10px;
  text-align: center;
  font-size: clamp(10px, 2.6vw, 16px);
  width: clamp(180px, 43.9vw, 225px);
  height: 38px;
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-new-business.png);
}
.html-lesson-wrapper .section-2-content .phrase-alts {
  margin-top: -7px;
  display: grid;
  grid-template-columns: -webkit-min-content -webkit-min-content 1fr;
  grid-template-columns: min-content min-content 1fr;
  gap: 2px;
}
.html-lesson-wrapper .section-2-content .phrase-alts.half {
  grid-template-columns: 1fr 1fr;
}
.html-lesson-wrapper .section-2-content .phrase-alts .alt-box {
  padding: 15px;
  border: 1px solid #1287cd;
}
.html-lesson-wrapper .section-2-content .phrase-alts .alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.html-lesson-wrapper .section-2-content .phrase-alts .alt:not(:last-child) {
  margin-bottom: clamp(10px, 2vw, 20px);
}
.html-lesson-wrapper .section-2-content .phrase-alts .choice {
  margin-left: clamp(5px, 1vw, 9px);
}
.html-lesson-wrapper .section-2-content .phrase-alts .choice p {
  margin: 0;
  white-space: nowrap;
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .section-2-content .phrase-alts .choice-eng {
  font-size: clamp(8px, 2.1vw, 16px);
}
.html-lesson-wrapper .section-2-content .phrase-alts .choice-jap {
  font-size: clamp(6px, 1.9vw, 13px);
  letter-spacing: -1.5px;
  color: #7f8288;
}
.html-lesson-wrapper .section-2-content .phrase-alts .number {
  border-radius: 50%;
  background: #1287cd;
  color: white;
  margin: 0;
  text-align: center;
  line-height: clamp(13px, 4vw, 24px);
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(11px, 2vw, 16px);
  z-index: 1;
  width: clamp(18px, 4vw, 24px);
  height: clamp(18px, 4vw, 24px);
  display: grid;
  place-items: center;
}
.html-lesson-wrapper .section-2-content .phrase-alts .number-white {
  border-radius: 50%;
  background: white;
  color: #1287cd;
  margin: 0;
  text-align: center;
  line-height: clamp(13px, 4vw, 24px);
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(11px, 2vw, 16px);
  z-index: 1;
  width: clamp(18px, 4vw, 24px);
  height: clamp(18px, 4vw, 24px);
  display: grid;
  place-items: center;
}
.html-lesson-wrapper .section-2-content .phrase-alts .third-box {
  background-color: #e7f3fa;
}
.html-lesson-wrapper .section-2-content .phrase-alts .letter {
  border: 2px solid #1287cd;
  color: #1287cd;
  margin: 0;
  text-align: center;
  line-height: clamp(13px, 4vw, 24px);
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(11px, 2vw, 16px);
  z-index: 1;
  width: clamp(18px, 4vw, 24px);
  height: clamp(18px, 4vw, 24px);
  display: grid;
  place-items: center;
}
.html-lesson-wrapper .try-1 .try1-content {
  margin-top: clamp(25px, 7vw, 50px);
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: clamp(25px, 7vw, 50px);
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
}
.html-lesson-wrapper .try-1 .try1-content .akiko-right-view {
  padding-right: 3vw;
  margin-left: -30px;
  margin-top: clamp(20px, 7vw, 30px);
  width: clamp(120px, 30vw, 191px);
  min-height: clamp(130px, 37vw, 211px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-akiko-right-view.png);
}
.html-lesson-wrapper .try-1 .try1-content .akiko-combinations {
  margin-top: 20px;
}
.html-lesson-wrapper .try-1 .try1-content .akiko-combinations .combinations {
  width: 60%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: clamp(1.5rem, 6vw, 0.8rem);
  padding-right: clamp(40px, 4vw, 55px);
}
.html-lesson-wrapper .try-1 .try1-content .akiko-combinations .combinations .row {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.7vw;
}
.html-lesson-wrapper .try-1 .try1-content .akiko-combinations .combinations .row div {
  width: clamp(18px, 4vw, 24px);
  height: clamp(18px, 4vw, 24px);
  display: grid;
  place-items: center;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: clamp(11px, 2.7vw, 16px);
}
.html-lesson-wrapper .try-1 .try1-content .akiko-combinations .combinations .row .number-bg {
  background: #1287cd;
  color: white;
  border-radius: 50%;
  font-size: clamp(11px, 2.7vw, 16px);
}
.html-lesson-wrapper .try-1 .try1-content .akiko-combinations .combinations .row .letter {
  color: #1287cd;
  border: 2px solid #1287cd;
  font-size: clamp(11px, 2.7vw, 16px);
}
.html-lesson-wrapper .try-1 .try1-content .akiko-combinations .combinations .row .number-outlined {
  color: #1287cd;
  border-radius: 50%;
  border: 1px solid #1287cd;
  font-size: clamp(11px, 2.7vw, 16px);
}
.html-lesson-wrapper .try-1 .try1-content .akiko-combinations .combinations .row img {
  width: clamp(10px, 3vw, 15px);
  height: clamp(10px, 3vw, 15px);
}
.html-lesson-wrapper .try-2 .try2-content {
  margin-top: 70px;
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content {
  margin-left: 8px;
  position: relative;
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .number {
  color: #1287cd;
  font-size: clamp(11px, 2.3vw, 18px);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .you {
  margin-left: clamp(20px, 6vw, 35px);
  font-size: clamp(11px, 2.1vw, 18px);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .underline {
  text-decoration: underline;
  color: #1287cd;
  font-size: clamp(11px, 2.3vw, 18px);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content .image-content {
  margin-left: clamp(25px, 7vw, 46px);
  margin-top: 30px;
  width: clamp(260px, 70vw, 430px);
  min-height: clamp(130px, 35vw, 215px);
  position: absolute;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-try2-image1.png);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-1 {
  margin-left: 8px;
  margin-top: clamp(200px, 45vw, 350px);
  position: relative;
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-1 .number {
  color: #1287cd;
  font-size: clamp(11px, 2.3vw, 18px);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-1 .you {
  margin-left: clamp(20px, 6vw, 35px);
  font-size: clamp(11px, 2.1vw, 18px);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-1 .underline {
  text-decoration: underline;
  color: #1287cd;
  font-size: clamp(11px, 2.3vw, 18px);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-1 .image-content {
  margin-left: clamp(28px, 7vw, 50px);
  margin-top: 30px;
  width: clamp(260px, 70vw, 430px);
  min-height: clamp(130px, 35vw, 215px);
  position: absolute;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-try2-image2.png);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-2 {
  margin-left: 8px;
  margin-top: clamp(200px, 45vw, 350px);
  position: relative;
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-2 .number {
  color: #1287cd;
  font-size: clamp(11px, 2.3vw, 18px);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-2 .you {
  margin-left: clamp(20px, 6vw, 35px);
  font-size: clamp(11px, 2.1vw, 18px);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-2 .underline {
  text-decoration: underline;
  color: #1287cd;
  font-size: clamp(11px, 2.3vw, 18px);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-2 .image-content {
  margin-left: clamp(37px, 12vw, 56px);
  margin-top: 30px;
  width: clamp(260px, 70vw, 430px);
  min-height: clamp(130px, 35vw, 215px);
  position: absolute;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-try2-image3.png);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-3 {
  margin-left: 8px;
  margin-top: clamp(200px, 45vw, 350px);
  position: relative;
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-3 .number {
  color: #1287cd;
  font-size: clamp(11px, 2.3vw, 18px);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-3 .you {
  margin-left: clamp(20px, 6vw, 35px);
  font-size: clamp(11px, 2.1vw, 18px);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-3 .underline {
  text-decoration: underline;
  color: #1287cd;
  font-size: clamp(11px, 2.3vw, 18px);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-3 .image-content {
  margin-left: clamp(35px, 9vw, 56px);
  margin-top: 30px;
  width: clamp(260px, 70vw, 430px);
  min-height: clamp(130px, 35vw, 215px);
  position: absolute;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-try2-image4.png);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-4 {
  margin-left: 8px;
  margin-top: clamp(200px, 45vw, 350px);
  position: relative;
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-4 .number {
  color: #1287cd;
  font-size: clamp(11px, 2.3vw, 18px);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-4 .you {
  margin-left: clamp(20px, 6vw, 35px);
  font-size: clamp(11px, 2.1vw, 18px);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-4 .underline {
  text-decoration: underline;
  color: #1287cd;
  font-size: clamp(11px, 2.3vw, 18px);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-4 .image-content {
  margin-left: clamp(33px, 9vw, 56px);
  margin-top: 30px;
  width: clamp(260px, 70vw, 430px);
  min-height: clamp(130px, 35vw, 215px);
  position: absolute;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-try2-image5.png);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-5 {
  margin-left: 8px;
  margin-top: clamp(200px, 45vw, 350px);
  position: relative;
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-5 .number {
  color: #1287cd;
  font-size: clamp(11px, 2.3vw, 18px);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-5 .you {
  margin-left: clamp(20px, 6vw, 35px);
  font-size: clamp(11px, 2.1vw, 18px);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-5 .underline {
  text-decoration: underline;
  color: #1287cd;
  font-size: clamp(11px, 2.3vw, 18px);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-5 .image-content {
  margin-left: clamp(29px, 8vw, 53px);
  margin-top: 30px;
  width: clamp(260px, 70vw, 430px);
  min-height: clamp(130px, 35vw, 215px);
  position: absolute;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-try2-image6.png);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-6 {
  margin-left: 8px;
  margin-top: clamp(200px, 45vw, 350px);
  position: relative;
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-6 .number {
  color: #1287cd;
  font-size: clamp(11px, 2.3vw, 18px);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-6 .you {
  margin-left: clamp(20px, 6vw, 35px);
  font-size: clamp(11px, 2.1vw, 18px);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-6 .underline {
  text-decoration: underline;
  color: #1287cd;
  font-size: clamp(11px, 2.3vw, 18px);
}
.html-lesson-wrapper .try-2 .try2-content .wrap-flex-content-6 .image-content {
  margin-left: clamp(31px, 8vw, 53px);
  margin-top: 30px;
  width: clamp(260px, 70vw, 430px);
  min-height: clamp(130px, 35vw, 215px);
  position: absolute;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-try2-image7.png);
}
.html-lesson-wrapper .see-3 .see3-content {
  margin-right: clamp(18px, 5vw, 32px);
  margin-top: clamp(40px, 21vw, 70px);
}
.html-lesson-wrapper .see-3 .see3-content .wrapper-with-akiko .akiko-image {
  left: clamp(0.1px, 3.2vw, 31px);
  width: 113px;
  height: clamp(90px, 20.1vw, 155px);
  position: absolute;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-akiko-icon.png);
}
.html-lesson-wrapper .see-3 .see3-content .wrapper-with-akiko .wrap-all-boxes {
  left: 28%;
  position: absolute;
  margin-top: clamp(11px, 3.2vw, 23px);
}
.html-lesson-wrapper .see-3 .see3-content .wrapper-with-akiko .wrap-all-boxes .wrap-for-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: clamp(0.01px, 0.8vw, 10px);
}
.html-lesson-wrapper .see-3 .see3-content .wrapper-with-akiko .wrap-all-boxes .wrap-for-flex .talk-about {
  font-weight: bold;
  text-align: center;
  padding-top: clamp(5px, 1.4vw, 9px);
  padding-right: 15px;
  font-size: clamp(10px, 2.8vw, 16px);
  padding-left: 4px;
  width: clamp(95px, 27.6vw, 167px);
  height: 38px;
  margin-right: clamp(4px, 0.2vw, 1px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-talk-about.png);
}
.html-lesson-wrapper .see-3 .see3-content .wrapper-with-akiko .wrap-all-boxes .wrap-for-flex .team-activities {
  font-weight: bold;
  text-align: center;
  padding-top: clamp(5px, 1.4vw, 9px);
  padding-right: 10px;
  font-size: clamp(10px, 2.8vw, 16px);
  padding-left: 7px;
  width: clamp(102px, 29vw, 176px);
  height: 38px;
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-team-activity.png);
}
.html-lesson-wrapper .see-3 .see3-content .wrapper-with-akiko .jap {
  left: 28%;
  margin-top: clamp(34px, 9.7vw, 63px);
  position: absolute;
  font-size: clamp(9px, 2vw, 13px);
  color: #7f8288;
  letter-spacing: -2px;
}
.html-lesson-wrapper .see-3 .see3-content .phrases-container {
  position: absolute;
  margin-top: clamp(100px, 23vw, 145px);
}
.html-lesson-wrapper .see-3 .see3-content .legend .talk-about {
  font-weight: bold;
  text-align: center;
  padding-top: clamp(5px, 1.4vw, 9px);
  padding-right: 15px;
  font-size: clamp(10px, 2.8vw, 16px);
  padding-left: 4px;
  width: clamp(95px, 27.6vw, 167px);
  height: 38px;
  margin-right: clamp(4px, 0.2vw, 1px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-talk-about.png);
}
.html-lesson-wrapper .see-3 .see3-content .legend .team-activities {
  font-weight: bold;
  text-align: center;
  padding-top: clamp(5px, 1.4vw, 9px);
  padding-right: 10px;
  font-size: clamp(10px, 2.8vw, 16px);
  padding-left: 7px;
  width: clamp(102px, 29vw, 176px);
  height: 38px;
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-team-activity.png);
}
.html-lesson-wrapper .see-3 .see3-content .legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.html-lesson-wrapper .see-3 .see3-content .legend .eng {
  margin-bottom: 2px;
}
.html-lesson-wrapper .see-3 .see3-content .phrase-alts {
  margin-top: -13px;
  display: grid;
  grid-template-columns: clamp(176px, 47vw, 270px) clamp(142px, 42vw, 260px);
  gap: 3px;
}
.html-lesson-wrapper .see-3 .see3-content .phrase-alts.half {
  grid-template-columns: 1fr 1fr;
}
.html-lesson-wrapper .see-3 .see3-content .phrase-alts .alt-box {
  padding: clamp(11px, 3vw, 15px);
  border: 1px solid #1287cd;
}
.html-lesson-wrapper .see-3 .see3-content .phrase-alts .alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.html-lesson-wrapper .see-3 .see3-content .phrase-alts .alt:not(:last-child) {
  margin-bottom: clamp(1px, 0.5vw, 20px);
}
.html-lesson-wrapper .see-3 .see3-content .phrase-alts .choice {
  margin-left: clamp(5px, 1vw, 9px);
}
.html-lesson-wrapper .see-3 .see3-content .phrase-alts .choice p {
  margin: 0;
  white-space: nowrap;
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .see-3 .see3-content .phrase-alts .choice-eng {
  font-size: clamp(9px, 2.5vw, 16px);
}
.html-lesson-wrapper .see-3 .see3-content .phrase-alts .choice-jap {
  font-size: clamp(6.7px, 1.8vw, 13px);
  letter-spacing: -2px;
  color: #7f8288;
}
.html-lesson-wrapper .see-3 .see3-content .phrase-alts .number {
  border-radius: 50%;
  background: #1287cd;
  color: white;
  margin: 0;
  text-align: center;
  width: clamp(13px, 4vw, 24px);
  height: clamp(13px, 4vw, 24px);
  line-height: clamp(13px, 4vw, 24px);
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(11px, 3vw, 16px);
  z-index: 1;
}
.html-lesson-wrapper .see-3 .see3-content .phrase-alts .letter {
  border: 2px solid #1287cd;
  color: #1287cd;
  font-family: "Noto Sans", sans-serif;
  width: clamp(11px, 4vw, 20px);
  height: clamp(11px, 4vw, 20px);
  line-height: clamp(11px, 4vw, 20px);
  font-size: clamp(11px, 3vw, 16px);
  text-align: center;
}
.html-lesson-wrapper .try-3 .try-3-content {
  margin-top: clamp(25px, 7vw, 50px);
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: clamp(25px, 7vw, 50px);
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
}
.html-lesson-wrapper .try-3 .try-3-content .akiko-right-view {
  padding-right: 3vw;
  margin-left: -30px;
  margin-top: clamp(20px, 7vw, 30px);
  width: clamp(120px, 30vw, 191px);
  min-height: clamp(130px, 37vw, 211px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-akiko-right-view.png);
}
.html-lesson-wrapper .try-3 .try-3-content .akiko-combinations {
  margin-top: 20px;
}
.html-lesson-wrapper .try-3 .try-3-content .akiko-combinations .combinations {
  width: 60%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: clamp(1.5rem, 6vw, 0.8rem);
  padding-right: clamp(40px, 4vw, 55px);
}
.html-lesson-wrapper .try-3 .try-3-content .akiko-combinations .combinations .row {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.7vw;
}
.html-lesson-wrapper .try-3 .try-3-content .akiko-combinations .combinations .row div {
  width: clamp(18px, 4vw, 24px);
  height: clamp(18px, 4vw, 24px);
  display: grid;
  place-items: center;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: clamp(11px, 2.7vw, 16px);
}
.html-lesson-wrapper .try-3 .try-3-content .akiko-combinations .combinations .row .number-bg {
  background: #1287cd;
  color: white;
  border-radius: 50%;
  font-size: clamp(11px, 2.7vw, 16px);
}
.html-lesson-wrapper .try-3 .try-3-content .akiko-combinations .combinations .row .letter {
  color: #1287cd;
  border: 2px solid #1287cd;
  font-size: clamp(11px, 2.7vw, 16px);
}
.html-lesson-wrapper .try-3 .try-3-content .akiko-combinations .combinations .row .number-outlined {
  color: #1287cd;
  border-radius: 50%;
  border: 1px solid #1287cd;
  font-size: clamp(11px, 2.7vw, 16px);
}
.html-lesson-wrapper .try-3 .try-3-content .akiko-combinations .combinations .row img {
  width: clamp(10px, 3vw, 15px);
  height: clamp(10px, 3vw, 15px);
}
.html-lesson-wrapper .try-4 .try-4-content {
  margin-top: 70px;
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content {
  margin-bottom: clamp(230px, 60vw, 350px);
  margin-left: 8px;
  position: relative;
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content .first-line .number {
  color: #1287cd;
  font-size: clamp(11px, 2.3vw, 18px);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content .first-line .you {
  margin-left: clamp(20px, 6vw, 35px);
  font-size: clamp(11px, 2.7vw, 18px);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content .first-line .underline {
  text-decoration: underline;
  color: #1287cd;
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content .first-line .you-second-line {
  margin-left: clamp(75px, 12.9vw, 99px);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content .image-content {
  margin-left: clamp(36px, 9.8vw, 60px);
  margin-top: 30px;
  width: clamp(280px, 70vw, 470px);
  min-height: clamp(130px, 35vw, 215px);
  position: absolute;
  background-position: top, bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-try4-image1.png);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-1 {
  margin-bottom: clamp(230px, 60vw, 350px);
  margin-left: 8px;
  position: relative;
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-1 .first-line .number {
  color: #1287cd;
  font-size: clamp(11px, 2.3vw, 18px);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-1 .first-line .you {
  margin-left: clamp(20px, 6vw, 35px);
  font-size: clamp(11px, 2.7vw, 18px);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-1 .first-line .underline {
  text-decoration: underline;
  color: #1287cd;
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-1 .first-line .you-second-line {
  margin-left: clamp(75px, 12.9vw, 99px);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-1 .image-content {
  margin-left: clamp(30px, 8.9vw, 53px);
  margin-top: 30px;
  width: clamp(280px, 70vw, 470px);
  min-height: clamp(130px, 35vw, 215px);
  position: absolute;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-try4-image2.png);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-2 {
  margin-bottom: clamp(230px, 60vw, 350px);
  margin-left: 8px;
  position: relative;
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-2 .first-line .number {
  color: #1287cd;
  font-size: clamp(11px, 2.3vw, 18px);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-2 .first-line .you {
  margin-left: clamp(20px, 6vw, 35px);
  font-size: clamp(11px, 2.7vw, 18px);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-2 .first-line .underline {
  text-decoration: underline;
  color: #1287cd;
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-2 .first-line .you-second-line {
  margin-left: clamp(75px, 12.9vw, 99px);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-2 .image-content {
  margin-left: clamp(31px, 8.2vw, 58px);
  margin-top: 30px;
  width: clamp(280px, 70vw, 470px);
  min-height: clamp(130px, 35vw, 215px);
  position: absolute;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-try4-image3.png);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-3 {
  margin-bottom: clamp(230px, 60vw, 350px);
  margin-left: 8px;
  position: relative;
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-3 .first-line .number {
  color: #1287cd;
  font-size: clamp(11px, 2.3vw, 18px);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-3 .first-line .you {
  margin-left: clamp(20px, 6vw, 35px);
  font-size: clamp(11px, 2.7vw, 18px);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-3 .first-line .underline {
  text-decoration: underline;
  color: #1287cd;
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-3 .first-line .you-second-line {
  margin-left: clamp(75px, 12.9vw, 99px);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-3 .image-content {
  margin-left: clamp(32px, 9vw, 49px);
  margin-top: 30px;
  width: clamp(280px, 70vw, 470px);
  min-height: clamp(130px, 35vw, 215px);
  position: absolute;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-try4-image4.png);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-4 {
  margin-bottom: clamp(230px, 60vw, 350px);
  margin-left: 8px;
  position: relative;
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-4 .first-line .number {
  color: #1287cd;
  font-size: clamp(11px, 2.3vw, 18px);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-4 .first-line .you {
  margin-left: clamp(20px, 6vw, 35px);
  font-size: clamp(11px, 2.7vw, 18px);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-4 .first-line .underline {
  text-decoration: underline;
  color: #1287cd;
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-4 .first-line .you-second-line {
  margin-left: clamp(75px, 12.9vw, 99px);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-4 .image-content {
  margin-left: clamp(32px, 9vw, 56px);
  margin-top: 30px;
  width: clamp(280px, 70vw, 470px);
  min-height: clamp(130px, 35vw, 215px);
  position: absolute;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-try4-image5.png);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-5 {
  margin-bottom: clamp(230px, 60vw, 350px);
  margin-left: 8px;
  position: relative;
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-5 .first-line .number {
  color: #1287cd;
  font-size: clamp(11px, 2.3vw, 18px);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-5 .first-line .you {
  margin-left: clamp(20px, 6vw, 35px);
  font-size: clamp(11px, 2.7vw, 18px);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-5 .first-line .underline {
  text-decoration: underline;
  color: #1287cd;
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-5 .first-line .you-second-line {
  margin-left: clamp(75px, 12.9vw, 99px);
}
.html-lesson-wrapper .try-4 .try-4-content .wrap-flex-content-5 .image-content {
  margin-left: clamp(32px, 9vw, 49px);
  margin-top: 30px;
  width: clamp(280px, 70vw, 470px);
  min-height: clamp(130px, 35vw, 215px);
  position: absolute;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-try4-image6.png);
}
.html-lesson-wrapper .act-content .act-1-content .convo-text {
  z-index: 20;
  position: absolute;
  left: clamp(12.6%, 13vw, 13%);
  margin-top: clamp(49px, 14vw, 80px);
}
.html-lesson-wrapper .act-content .act-1-content .convo-text .eng {
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-size: clamp(8.5px, 2.4vw, 14px);
}
.html-lesson-wrapper .act-content .act-1-content .convo-text .jap {
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(6.5px, 1.8vw, 11px);
  color: #7f8288;
  letter-spacing: -2px;
}
.html-lesson-wrapper .act-content .act-1-content .act-1-convo {
  margin-top: clamp(30px, 8vw, 50px);
  width: clamp(310px, 86vw, 540px);
  min-height: clamp(230px, 60vw, 380px);
  position: relative;
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-C-1-act1-whole-image.png);
}
.html-lesson-wrapper .act-content .act-1-content .convo-text-content {
  margin-top: clamp(30px, 8vw, 40px);
}
.html-lesson-wrapper .act-content .act-1-content .convo-text-content .underline {
  text-decoration: underline;
  -webkit-text-decoration-color: #1287cd;
          text-decoration-color: #1287cd;
  color: white;
  margin-bottom: clamp(5px, 1vw, 10px);
}
.html-lesson-wrapper .act-content .act-1-content .convo-text-content b {
  font-size: clamp(10px, 2.3vw, 16px);
}
.html-lesson-wrapper .act-content .act-1-content .convo-text-content .thank-you {
  font-size: clamp(10px, 2.3vw, 18px);
}
.html-lesson-wrapper .act-content .act-1-content .convo-text-content .div-1 {
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(10px, 2.3vw, 18px);
  margin-left: clamp(37px, 8.6vw, 60px);
  margin-top: 5px;
}
.html-lesson-wrapper .act-content .act-1-content .convo-text-content .div-2 {
  font-family: "Noto Sans", sans-serif;
  margin-left: clamp(37px, 8.6vw, 60px);
  font-size: clamp(9px, 1.5vw, 13px);
  color: #7f8288;
  letter-spacing: -1.5px;
  margin-top: 13px;
}
.html-lesson-wrapper .act-content .act-1-content .convo-text-content .div-3 {
  font-size: clamp(10px, 2.3vw, 18px);
  margin-left: clamp(37px, 8.6vw, 60px);
  margin-top: 25px;
}
.html-lesson-wrapper .act-content .act-1-content .convo-text-content .div-4 {
  font-family: "Noto Sans", sans-serif;
  margin-left: clamp(37px, 8.6vw, 60px);
  font-size: clamp(9px, 1.5vw, 13px);
  color: #7f8288;
  letter-spacing: -0.5px;
  margin-top: 9px;
}
.html-lesson-wrapper .act-content .act-1-content .convo-text-content .div-5 {
  font-family: "Noto Sans", sans-serif;
  margin-left: clamp(37px, 8.6vw, 60px);
  font-size: clamp(10px, 2.3vw, 18px);
  margin-top: 25px;
}
.html-lesson-wrapper .act-content .act-1-content .convo-text-content .div-6 {
  font-family: "Noto Sans", sans-serif;
  margin-left: clamp(37px, 8.6vw, 60px);
  font-size: clamp(9px, 1.5vw, 13px);
  color: #7f8288;
  letter-spacing: -2xpx;
  margin-top: 10px;
}
.html-lesson-wrapper .act-2 .act-2-space {
  margin-bottom: 80px;
}
@media only screen and (max-width: 460px) {
  .html-lesson-wrapper .section-2-content .wrap-all-boxes .jap {
    margin-top: -6px !important;
  }
}
@media only screen and (max-width: 540px) {
  .html-lesson-wrapper .see3-content .wrapper-with-akiko .akiko-image {
    left: 1px !important;
  }
}
@media only screen and (min-width: 400px) and (max-width: 450px) {
  .html-lesson-wrapper .see3-content .phrases-container .phrase-alts {
    margin-top: -19px !important;
  }
}
@media only screen and (min-width: 350px) and (max-width: 399px) {
  .html-lesson-wrapper .see3-content .phrases-container .phrase-alts {
    margin-top: -21px !important;
  }
}
@media only screen and (min-width: 100px) and (max-width: 350px) {
  .html-lesson-wrapper .see3-content .phrases-container .phrase-alts {
    margin-top: -22px !important;
  }
}
@media only screen and (max-width: 310px) {
  .html-lesson-wrapper .try-4-content .you-second-line {
    margin-left: 66px !important;
  }
}
@media only screen and (max-width: 320px) {
  .html-lesson-wrapper .see3-content .wrapper-with-akiko .akiko-image {
    margin-left: -8px !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 550px) {
  .html-lesson-wrapper .see-2 .section-2-content .phrase-alts {
    margin-top: -10px !important;
  }
}
@media only screen and (min-width: 400px) and (max-width: 480px) {
  .html-lesson-wrapper .see-2 .section-2-content .phrase-alts {
    margin-top: -13px !important;
  }
}
@media only screen and (min-width: 200px) and (max-width: 399px) {
  .html-lesson-wrapper .see-2 .section-2-content .phrase-alts {
    margin-top: -17px !important;
  }
}
@media only screen and (min-width: 100px) and (max-width: 200px) {
  .html-lesson-wrapper .see-2 .section-2-content .phrase-alts {
    margin-top: -17px !important;
  }
}
@media only screen and (min-width: 450px) and (max-width: 500px) {
  .html-lesson-wrapper .see-2 .section-2-content .wrap-all-boxes .new-business-box {
    margin-top: -6px !important;
  }
}
@media only screen and (min-width: 380px) and (max-width: 450px) {
  .html-lesson-wrapper .see-2 .section-2-content .wrap-all-boxes .new-business-box {
    margin-top: -6px !important;
  }
}
@media only screen and (min-width: 100px) and (max-width: 380px) {
  .html-lesson-wrapper .see-2 .section-2-content .wrap-all-boxes .new-business-box {
    margin-top: -7px !important;
  }
}
@media only screen and (min-width: 300px) and (max-width: 458px) {
  .html-lesson-wrapper .see-2 .section-2-content .wrap-all-boxes .jap {
    margin-top: -14px !important;
  }
}
@media only screen and (min-width: 100px) and (max-width: 300px) {
  .html-lesson-wrapper .see-2 .section-2-content .wrap-all-boxes .jap {
    margin-top: -12px !important;
  }
}