.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.941406;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.966309;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.966309;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.743164;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-0.221200px;}
.lsa{letter-spacing:-0.176800px;}
.lsb{letter-spacing:-0.173200px;}
.ls5{letter-spacing:-0.152800px;}
.lsd{letter-spacing:-0.084400px;}
.ls6{letter-spacing:-0.081600px;}
.ls0{letter-spacing:0.000000px;}
.ls4{letter-spacing:0.103600px;}
.ls1{letter-spacing:0.137600px;}
.lsc{letter-spacing:0.144000px;}
.ls9{letter-spacing:0.153600px;}
.ls8{letter-spacing:0.193600px;}
.ls3{letter-spacing:0.204000px;}
.ls7{letter-spacing:0.244000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{margin-left:-12.146400px;}
._d{width:32.218560px;}
._9{width:52.754720px;}
._c{width:80.240960px;}
._2{width:99.254240px;}
._7{width:115.265120px;}
._1{width:155.764800px;}
._0{width:178.208640px;}
._3{width:193.029600px;}
._a{width:212.547040px;}
._b{width:225.604320px;}
._6{width:240.196000px;}
._8{width:265.175680px;}
._4{width:302.455680px;}
.fc4{color:rgb(0,0,0);}
.fc0{color:rgb(13,13,13);}
.fc1{color:rgb(255,255,255);}
.fc2{color:rgb(217,217,217);}
.fc3{color:rgb(32,120,160);}
.fs0{font-size:24.000000px;}
.fs3{font-size:26.880000px;}
.fs1{font-size:36.000000px;}
.fs2{font-size:39.840000px;}
.fs4{font-size:39.936000px;}
.fs5{font-size:72.000000px;}
.y0{bottom:0.000000px;}
.y1{bottom:43.956000px;}
.y1f{bottom:190.875000px;}
.y1e{bottom:216.435000px;}
.y1d{bottom:241.815000px;}
.y1c{bottom:267.375000px;}
.y1b{bottom:292.935000px;}
.y1a{bottom:343.905000px;}
.y19{bottom:394.845000px;}
.y2c{bottom:423.645000px;}
.y34{bottom:423.750000px;}
.y2a{bottom:441.645000px;}
.y32{bottom:441.750000px;}
.y18{bottom:445.965000px;}
.y2b{bottom:446.145000px;}
.y33{bottom:446.250000px;}
.y29{bottom:459.645000px;}
.y31{bottom:459.750000px;}
.y17{bottom:471.345000px;}
.y28{bottom:477.645000px;}
.y30{bottom:477.750000px;}
.y27{bottom:495.645000px;}
.y2f{bottom:495.750000px;}
.y16{bottom:496.905000px;}
.y26{bottom:513.645000px;}
.y2e{bottom:513.750000px;}
.y15{bottom:522.465000px;}
.y25{bottom:531.645000px;}
.y2d{bottom:531.750000px;}
.y14{bottom:547.845000px;}
.y23{bottom:554.940000px;}
.y24{bottom:555.045000px;}
.y13{bottom:573.450000px;}
.y12{bottom:599.010000px;}
.y11{bottom:624.390000px;}
.y10{bottom:675.510000px;}
.yf{bottom:726.450000px;}
.ye{bottom:752.010000px;}
.yd{bottom:777.390000px;}
.yc{bottom:802.980000px;}
.yb{bottom:879.480000px;}
.ya{bottom:905.040000px;}
.y9{bottom:930.420000px;}
.y8{bottom:955.980000px;}
.y6{bottom:981.540000px;}
.y7{bottom:986.040000px;}
.y5{bottom:1006.920000px;}
.y4{bottom:1032.480000px;}
.y3{bottom:1058.070000px;}
.y20{bottom:1157.505000px;}
.y2{bottom:1184.400000px;}
.y21{bottom:1207.905000px;}
.y22{bottom:1208.055000px;}
.h6{height:20.461875px;}
.h2{height:24.949219px;}
.h8{height:29.004609px;}
.ha{height:29.074500px;}
.h5{height:30.327422px;}
.h9{height:30.400500px;}
.h3{height:37.423828px;}
.hc{height:41.415703px;}
.h4{height:42.057656px;}
.h7{height:42.159000px;}
.hb{height:74.847656px;}
.h1{height:1262.700000px;}
.h0{height:1262.880000px;}
.w1{width:892.799987px;}
.w0{width:892.800000px;}
.x0{left:0.000000px;}
.x7{left:55.295987px;}
.x3{left:144.611987px;}
.x8{left:246.344987px;}
.x9{left:448.049987px;}
.x6{left:469.004987px;}
.xb{left:502.274987px;}
.xc{left:520.094987px;}
.x1{left:532.334987px;}
.x4{left:555.809987px;}
.x5{left:569.849987px;}
.xa{left:663.554987px;}
.xd{left:719.459987px;}
.xe{left:737.279987px;}
.xf{left:749.879987px;}
.x2{left:823.289987px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-0.196622pt;}
.lsa{letter-spacing:-0.157156pt;}
.lsb{letter-spacing:-0.153956pt;}
.ls5{letter-spacing:-0.135822pt;}
.lsd{letter-spacing:-0.075022pt;}
.ls6{letter-spacing:-0.072533pt;}
.ls0{letter-spacing:0.000000pt;}
.ls4{letter-spacing:0.092089pt;}
.ls1{letter-spacing:0.122311pt;}
.lsc{letter-spacing:0.128000pt;}
.ls9{letter-spacing:0.136533pt;}
.ls8{letter-spacing:0.172089pt;}
.ls3{letter-spacing:0.181333pt;}
.ls7{letter-spacing:0.216889pt;}
.ws0{word-spacing:0.000000pt;}
._5{margin-left:-10.796800pt;}
._d{width:28.638720pt;}
._9{width:46.893084pt;}
._c{width:71.325298pt;}
._2{width:88.225991pt;}
._7{width:102.457884pt;}
._1{width:138.457600pt;}
._0{width:158.407680pt;}
._3{width:171.581867pt;}
._a{width:188.930702pt;}
._b{width:200.537173pt;}
._6{width:213.507556pt;}
._8{width:235.711716pt;}
._4{width:268.849493pt;}
.fs0{font-size:21.333333pt;}
.fs3{font-size:23.893333pt;}
.fs1{font-size:32.000000pt;}
.fs2{font-size:35.413333pt;}
.fs4{font-size:35.498667pt;}
.fs5{font-size:64.000000pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:39.072000pt;}
.y1f{bottom:169.666667pt;}
.y1e{bottom:192.386667pt;}
.y1d{bottom:214.946667pt;}
.y1c{bottom:237.666667pt;}
.y1b{bottom:260.386667pt;}
.y1a{bottom:305.693333pt;}
.y19{bottom:350.973333pt;}
.y2c{bottom:376.573333pt;}
.y34{bottom:376.666667pt;}
.y2a{bottom:392.573333pt;}
.y32{bottom:392.666667pt;}
.y18{bottom:396.413333pt;}
.y2b{bottom:396.573333pt;}
.y33{bottom:396.666667pt;}
.y29{bottom:408.573333pt;}
.y31{bottom:408.666667pt;}
.y17{bottom:418.973333pt;}
.y28{bottom:424.573333pt;}
.y30{bottom:424.666667pt;}
.y27{bottom:440.573333pt;}
.y2f{bottom:440.666667pt;}
.y16{bottom:441.693333pt;}
.y26{bottom:456.573333pt;}
.y2e{bottom:456.666667pt;}
.y15{bottom:464.413333pt;}
.y25{bottom:472.573333pt;}
.y2d{bottom:472.666667pt;}
.y14{bottom:486.973333pt;}
.y23{bottom:493.280000pt;}
.y24{bottom:493.373333pt;}
.y13{bottom:509.733333pt;}
.y12{bottom:532.453333pt;}
.y11{bottom:555.013333pt;}
.y10{bottom:600.453333pt;}
.yf{bottom:645.733333pt;}
.ye{bottom:668.453333pt;}
.yd{bottom:691.013333pt;}
.yc{bottom:713.760000pt;}
.yb{bottom:781.760000pt;}
.ya{bottom:804.480000pt;}
.y9{bottom:827.040000pt;}
.y8{bottom:849.760000pt;}
.y6{bottom:872.480000pt;}
.y7{bottom:876.480000pt;}
.y5{bottom:895.040000pt;}
.y4{bottom:917.760000pt;}
.y3{bottom:940.506667pt;}
.y20{bottom:1028.893333pt;}
.y2{bottom:1052.800000pt;}
.y21{bottom:1073.693333pt;}
.y22{bottom:1073.826667pt;}
.h6{height:18.188333pt;}
.h2{height:22.177083pt;}
.h8{height:25.781875pt;}
.ha{height:25.844000pt;}
.h5{height:26.957708pt;}
.h9{height:27.022667pt;}
.h3{height:33.265625pt;}
.hc{height:36.813958pt;}
.h4{height:37.384583pt;}
.h7{height:37.474667pt;}
.hb{height:66.531250pt;}
.h1{height:1122.400000pt;}
.h0{height:1122.560000pt;}
.w1{width:793.599988pt;}
.w0{width:793.600000pt;}
.x0{left:0.000000pt;}
.x7{left:49.151988pt;}
.x3{left:128.543988pt;}
.x8{left:218.973322pt;}
.x9{left:398.266655pt;}
.x6{left:416.893322pt;}
.xb{left:446.466655pt;}
.xc{left:462.306655pt;}
.x1{left:473.186655pt;}
.x4{left:494.053322pt;}
.x5{left:506.533322pt;}
.xa{left:589.826655pt;}
.xd{left:639.519988pt;}
.xe{left:655.359988pt;}
.xf{left:666.559988pt;}
.x2{left:731.813322pt;}
}
