body {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}

.page-1,
.page-2,
.page-3 {
  width: 892px;
  height: 1262px;
  overflow: hidden;
  position: relative;
}

.bg {
  position: absolute;
  width: 892.75px;
  height: 1262.5px;
  z-index: -1;
}

.b {
  font-weight: bold;
}

.i {
  font-family: italic;
}

.u-sup {
  border-bottom: solid 1.5px black;
  display: inline-block;
  line-height: 14px;
}

.program-rank {
  position: absolute;
  top: 41px;
  left: 62px;
  color: #ffffff;
  font-size: 15px;
}

.program-rank .level {
  margin-left: 25px;
}

.line {
  margin: 0 12px;
}

.title {
  position: absolute;
  top: 80px;
  left: 55px;
  font-size: 27px;
}

.lesson-number {
  position: absolute;
  left: 823px;
  top: 66px;
  font-size: 13px;
  color: #ffffff;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Trebuchet MS";
}

.sub-text {
  font-family: "Arial" !important;
}

.section {
  position: absolute;
  left: 55px;
  color: #1f789f;
  font-weight: bold;
  font-size: 15px;
}

.section.see {
  top: 190px;
}

.section.try {
  top: 625px;
}

.section.act {
  top: 955px;
}

.divider {
  color: #d9d9d9;
  font-size: 15px;
  position: absolute;
  left: 469px;
}

.divider.d1 {
  top: 573px;
}

.divider.d2 {
  top: 904px;
}

.sub-head {
  position: absolute;
  top: 125px;
  left: 47px;
}

.sub-head .subtitle {
  font-family: "Noto Sans JP";
  color: #257a9e;
  font-weight: bold;
  font-size: 15px;
}

.sub-head p {
  margin: 3px auto;
}

.text {
  font-family: "Trebuchet MS";
}

.ja {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12.5px;
  font-weight: bold;
  color: #595959;
}

sup {
  font-size: 10px;
  line-height: 16px;
  display: inline-block;
}

/* See */
.see-content {
  margin-left: 126.5px;
  margin-top: 177px;
  font-size: 15px;
}

.see-content .blue-section {
  background-color: #cce0ec;
  padding-top: 13px;
  padding-left: 18.5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 6px;
}

.see-content p {
  margin: 0 auto;
}

.see-content p:last-child {
  margin-bottom: 30px;
}

.see-content .col1,
.see-content .col2,
.see-content .col4 {
  width: 23.9%;
}

.see-content .col3 {
  width: 25.1%;
}

.see-content .text {
  line-height: 26px;
  margin-top: 4px;
}

.see-content .example {
  margin-top: 18px;
  margin-left: 18.5px;
}

.see-content .example .conversation {
  line-height: 26px;
  margin-top: 4px;
}

.see-content .example .conversation .row p {
  display: inline-block;
  margin: -0.5px 0px;
}

.see-content .example .conversation .row p:first-child {
  width: 52px;
  word-wrap: break-word;
}

.see-content .example .conversation .row p:last-child {
  max-width: 640px;
}

/* Try */
.try-content {
  position: absolute;
  top: 625px;
  left: 144.5px;
  font-size: 15px;
}

.try-content ul {
  margin: 3px 0px 0px 18px;
  padding: 0;
  line-height: 26px;
  list-style-type: decimal;
}

.try-content li {
  padding-left: 13px;
}

.try-content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.try-content .sub-text.mg {
  margin-top: 28px;
}

.try-content .name-1 {
  position: absolute;
  left: 304px;
  top: 53px;
}

.try-content .name-2 {
  position: absolute;
  width: 150px;
  left: 518px;
  top: 53px;
}

.try-content .desc {
  position: absolute;
  left: 56px;
  top: 38px;
  width: 140px;
}

.try-content .dash-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 18px;
}

.try-content .dash-list li::before {
  display: inline-block;
  content: '-';
  width: 6px;
  margin-right: 4px;
  margin-left: -1em;
}

/* Act */
.act-content {
  position: absolute;
  top: 955px;
  left: 144.5px;
  font-size: 15px;
  width: 720px;
}

.act-content ul {
  margin: 3px 0px 0px 18px;
  padding: 0;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.act-content li {
  padding-left: 8px;
}

.footer {
  font-size: 9px;
  position: absolute;
  top: 1210px;
  left: 532px;
}

/* Page 2 */
.page-2 .title {
  top: 72px;
  left: 50px;
  word-spacing: 1px;
}

.page-2 .title .ja {
  font-size: 27px;
  color: #000000;
  font-weight: bold;
  margin-right: 3px;
}

.page-2 .lesson-points {
  position: absolute;
  top: 186px;
  padding: 2px 0px 0px 47px;
  height: 50px;
  width: 687px;
  background: #cce0ec;
}

.page-2 .lesson-points.ja {
  color: #257a9e;
  font-size: 12px;
  letter-spacing: 0.1px;
}

.page-2 .lesson-points div {
  margin-bottom: 12px;
}

.page-2 .lesson-points div p {
  margin: 2px auto;
}

.page-2 .lesson-points div p:first-child {
  color: #000000;
  font-size: 15px;
}

.page-2 .lesson-points p {
  line-height: 22px;
  margin: 12px auto;
}

.page-2 .arrow-part {
  position: absolute;
  top: 250px;
  left: 125px;
}

.page-2 .arrow-part .subtitle {
  font-size: 15px;
  color: #000000;
}

.page-2 .arrow-part p {
  margin: 4.5px auto;
  font-size: 12px;
}

.page-2 .arrow-part div {
  margin-bottom: 32px;
  position: relative;
}

.page-2 .arrow-part div:before {
  content: '';
  position: absolute;
  left: -38px;
  top: 7px;
  width: 0;
  height: 0;
  border-top: 6.5px solid transparent;
  border-bottom: 6.5px solid transparent;
  border-left: 12px solid #257a9e;
  display: inline-block;
  vertical-align: middle;
}

.page-2 .section.see {
  top: 588px;
}

.page-2 .see-content {
  margin-top: 578px;
  margin-left: 125px;
}

.page-2 .see-content .blue-section {
  padding-left: 16px;
  padding-top: 12px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.page-2 .see-content .blue-section .col2 {
  margin-left: 5px;
  width: 23.2%;
}

.page-2 .see-content .blue-section .col3 {
  width: 27.5%;
}

.page-2 .see-content .sub-text.ja {
  margin-top: 2px;
  font-size: 13px;
}

.page-2 .see-content .text .ja {
  color: #257a9e;
  margin: 0px auto;
}

.page-2 .example {
  margin-top: 16px;
  margin-left: 0px;
}

.page-2 .example .conversation {
  margin-top: 4px;
}

/* Page 3 */
.page-3 .section.try {
  top: 170px;
}

.page-3 .sub-head {
  top: 72px;
}

.page-3 .try-content {
  top: 170px;
  left: 128px;
}

.page-3 .try-content span:nth-child(-n + 2) {
  display: block;
  margin-bottom: 5px;
}

.page-3 .try-content .wrapper ul {
  list-style: none !important;
  margin: 23px 0px 0px 16px;
  line-height: 25px;
  counter-reset: ulCounter;
}

.page-3 .try-content .wrapper ul li:not(.ja) {
  counter-increment: ulCounter;
  list-style: none;
}

.page-3 .try-content .wrapper ul li:not(.ja):before {
  content: counter(ulCounter) ".";
  position: absolute;
  left: 0px;
}

.page-3 .try-content .wrapper ul li.ja:before {
  content: '';
}

.page-3 .try-content .dash-list p {
  margin-bottom: 0px;
}

.page-3 .try-content .dash-list.name-1 {
  left: 292px;
}

.page-3 .try-content .dash-list.name-2 {
  left: 536px;
}

.page-3 .try-content .dash-list .desc {
  top: 58px;
  left: 48px;
}

.page-3 .try-content .dash-list .ja {
  margin: 6px auto;
}

.page-3 .try-content .sub-text.mg {
  margin-top: 52px;
}

.page-3 .divider.d2 {
  top: 709.75px;
}

.page-3 .section.act {
  top: 762.45px;
}

.page-3 .act-content {
  top: 762.45px;
  left: 125px;
}

.page-3 .act-content p.ja {
  margin: 6px 0px;
}

.page-3 .act-content ul {
  margin: 26px 0px 0px 16px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.page-3 .act-content ul li {
  padding-left: 16px;
  list-style-type: none;
}

.page-3 .act-content ul li:nth-child(odd) {
  list-style-type: disc;
}
