@import '../../css/op-teleconference-basics-utils';
.html-lesson-wrapper {
  .act-spacer {
    padding-bottom: 10rem;
    @media only screen and (max-width: 767px) {
      padding-bottom: 0;
    }
  }
  .dialogue-comment {
    color: rgb(166, 166, 166);
    text-align: center;
  }

  .try {
    .tbl-container {
      width: 95%;

      @media only screen and (max-width: 360px) {
        overflow-x: scroll;
      }
      .content-table {
        font-size: clamp(12px, 3vw, 16px);
        width: 100%;
        border-collapse: collapse;

        @media only screen and (max-width: 460px) {
          width: 105% !important;
        }
        @media only screen and (max-width: 360px) {
          width: 150% !important;
        }
        .table-header {
          width: 20% !important;
          color: white;
          background-color: $primary-pink;
        }
        th {
          vertical-align: middle !important;
        }
        td,
        th {
          border: 2px solid $tertiary-gray;
          padding: 0.5%;
          vertical-align: baseline;
        }
      }
    }
  }

  @media only screen and (max-width: 440px) {
    .try {
      .tbl-container {
        flex-direction: column;
        .decision-group {
          flex-direction: row !important;
          width: 100%;
          .dec-header {
            width: 5px;
            padding: 2%;
            text-align: center;
            overflow-wrap: break-word;
            height: 109px !important;
            .dec-header-text {
              width: 5px;
              overflow-wrap: break-word;
              .word-l {
                overflow-wrap: break-word;
                display: block;
                margin-bottom: 8px;
              }
            }
          }
          .dec-text {
            padding: 2%;
            width: 70px;
            height: 109px !important;
          }
        }
      }
    }
  }
}
