@import '../../css/op-new-hires-2-utils';
.html-lesson-wrapper {
  .act-spacer {
    padding-bottom: 10rem;
    @media only screen and (max-width: 767px) {
      padding-bottom: 0;
    }
  }
  .act-text {
    width: 265px;
    @media only screen and (max-width: 631px) {
      width: 225px !important;
    }
    @media only screen and (max-width: 466px) {
      width: 110% !important;
    }
  }
  .content-div {
    .act-text {
      max-width: 100% !important;
      @media only screen and (max-width: 550px) {
        max-width: 80% !important;
      }
    }
    .content-container {
      display: flex;
      @media only screen and (max-width: 466px) {
        display: inline-block;
      }
      .img-graph {
        background-image: url(#{$s3}/L8-graph.svg);
        width: 18em;
        height: 14em;
        background-size: cover;
        margin-top: -4%;
        margin-left: 1em;
        @media only screen and (max-width: 1280px){
          width: 13em;
          height: 11em;
        }
      }
    }
  }
}
