body {
  margin: 0;
  padding: 0;
  font-family: "Calibri";
}

.page-1 {
  width: 810px;
  min-height: 1018px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url("/images/02-bg.png"), url("/images/02-bg-footer.png");
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.b {
  font-weight: bold;
}

.i {
  font-style: italic;
}

.title {
  position: absolute;
  top: 59px;
  left: 9px;
  font-size: 21px;
  color: #ffffff;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sub-text {
  margin: 0 auto;
}

.section {
  position: absolute;
  left: -209px;
  top: -4px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  line-height: 44px;
  font-size: 20px;
  letter-spacing: 0.5px;
  padding-left: 6px;
  background-image: url("/images/02-section-arrow.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 50px;
  width: 206px;
}

.section.act {
  top: -7px;
}

ul {
  margin: 2px 0px 0px 18px;
  padding: 0;
  list-style-type: decimal;
}

ul li {
  padding-left: 8px;
}

.red {
  color: red;
}

.biz-tip {
  position: absolute;
  left: 20px;
  top: 180px;
  width: 170px;
  font-size: 15px;
}

.biz-tip div {
  height: 213px;
}

.biz-tip p {
  margin-bottom: 0px;
}

.biz-tip ul {
  margin-left: 15px;
}

.biz-tip .sub-text {
  color: #ffffff;
  font-size: 18px;
}

.biz-tip .text {
  margin-top: 18px;
}

.see-content,
.act-content,
.try-content {
  position: relative;
  margin-left: 218px;
  padding-right: 20px;
  padding-top: 4px;
  font-size: 18px;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(#fff), to(#E6E6E6));
  background-image: linear-gradient(to right, #fff, #fff, #E6E6E6);
  border-radius: 10px;
  width: calc(100% - 218px - 24px);
}

/* See */
.see-content {
  margin-top: 116px;
}

.see-content .conversation {
  margin-bottom: 22px;
}

.see-content .conversation .row p {
  display: inline-block;
  margin: 0px 0px;
}

.see-content .conversation .row p:first-child {
  min-width: 48px;
  max-width: 100px;
  word-wrap: break-word;
  font-weight: bold;
}

.see-content .conversation .row p:last-child {
  font-style: italic;
}

/* Try */
.try-content {
  margin-top: 126px;
}

.try-content p {
  margin: 0 auto;
}

.try-content .example {
  margin-bottom: 20px;
}

.try-content .example .red {
  font-size: 16.5px;
}

/* Act */
.act-content {
  margin-top: 38px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 26px;
}

.footer {
  font-size: 18px;
  position: absolute;
  text-align: right;
  bottom: 3px;
  right: 3px;
}
