body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  min-width: 320px;
  max-width: 100%;
  max-width: 892.75px;
  min-height: 960px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  background-image: url("https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/other-programs-bg-header-magenta.svg"), url("https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/other-programs-footer-logo.svg");
  background-position: top, -11.5px 100%;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Trebuchet MS";
}

.html-lesson-wrapper header {
  font-family: Helvetica, Arial, "Sans-serif";
}

.html-lesson-wrapper .b {
  font-weight: bold;
}

.html-lesson-wrapper .program-rank {
  position: absolute;
  top: 3.05%;
  left: 5%;
  color: #ffffff;
  font-size: 0px;
}

.html-lesson-wrapper .program-rank .type {
  padding: 3px 16px 3px 14px;
  background-color: #cc3366;
  font-size: clamp(8px, 1.8vw, 15px);
}

.html-lesson-wrapper .program-rank .level {
  padding: 3px 12px 3px 13px;
  background-color: #339999;
  font-size: clamp(8px, 1.8vw, 15px);
}

.html-lesson-wrapper .title {
  position: absolute;
  top: 35px;
  left: 36px;
  font-size: clamp(18px, 4vw, 27px);
  text-transform: uppercase;
}

.html-lesson-wrapper .lesson-number {
  position: absolute;
  left: clamp(91.5%, 93vw, 92%);
  margin-top: 7.4%;
  font-size: clamp(7px, 1.8vw, 13px);
  color: #ffffff;
}

.html-lesson-wrapper .instruction {
  font-family: Helvetica, Arial, "Sans-serif" !important;
  line-height: clamp(12px, 2.8vw, 22px);
  margin: 0 auto;
  margin-bottom: 1%;
  padding-top: 0.5%;
}

@media screen and (max-width: 701px) {
  .html-lesson-wrapper .instruction {
    padding-top: 1%;
  }
}

@media screen and (max-width: 601px) {
  .html-lesson-wrapper .instruction {
    padding-top: 1.1%;
  }
}

@media screen and (max-width: 501px) {
  .html-lesson-wrapper .instruction {
    padding-top: 1.6%;
  }
}

.html-lesson-wrapper .sub-text {
  font-family: "Trebuchet MS" !important;
  line-height: clamp(12px, 2.8vw, 22px);
  margin: 0 auto;
}

.html-lesson-wrapper .section {
  position: absolute;
  left: -78px;
  color: #cc3366;
  font-weight: bold;
  font-family: Helvetica, Arial, "Sans-serif";
  top: 2px;
}

.html-lesson-wrapper .divider {
  color: #d9d9d9;
  font-size: clamp(12px, 2vw, 15px);
  position: relative;
  left: 52%;
  margin-top: 50px;
}

.html-lesson-wrapper ul {
  margin: 3px 0px 0px 18px;
  padding: 0;
  line-height: clamp(12px, 3vw, 26px);
}

.html-lesson-wrapper ul li {
  padding-left: 8px;
}

.html-lesson-wrapper .highlight {
  color: #cc3366;
  font-weight: bold;
}

.html-lesson-wrapper .see-content,
.html-lesson-wrapper .act-content,
.html-lesson-wrapper .try-content {
  position: relative;
  margin-left: clamp(50px, 14%, 126.5px);
  padding-left: 18.5px;
  padding-right: 42px;
  font-size: clamp(12px, 2vw, 15px);
}

.html-lesson-wrapper .table {
  width: 100%;
}

.html-lesson-wrapper .speaker {
  white-space: nowrap;
  text-align: left;
  font-weight: bold;
  line-height: 1.8;
}

.html-lesson-wrapper td {
  height: clamp(10px, 2.5vw, 30px);
  vertical-align: top;
  padding-right: 5px;
}

.html-lesson-wrapper .dialogue {
  position: relative;
  line-height: 1.8;
  padding-right: clamp(8px, 2vw, 19px) !important;
}

.html-lesson-wrapper .dialogue .underline {
  border-bottom: 1px solid black;
}

.html-lesson-wrapper .biz-tip-content {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: clamp(87px, 17.6%, 157px);
  padding: 2px 0px 0px 47px;
  padding-bottom: clamp(10px, 2vw, 20px);
  padding-left: clamp(32px, 6vw, 47px);
  background: #f0d4d4;
  font-size: clamp(12px, 2vw, 15px);
}

.html-lesson-wrapper .biz-tip-content .section {
  margin-left: clamp(50px, 16%, 126.5px);
  margin-top: clamp(12px, 2.8vw, 21px) !important;
}

.html-lesson-wrapper .biz-tip-content .pointers {
  margin-top: clamp(14px, 2.8vw, 20px) !important;
  margin-left: clamp(50px, 14%, 126.5px);
}

.html-lesson-wrapper .biz-tip-content .pointers .biz-tip-header {
  position: relative;
  right: clamp(12px, 2vw, 20px);
  margin-bottom: clamp(6px, 1vw, 10px);
}

.html-lesson-wrapper .biz-tip-content .pointers .arrow-part {
  padding-left: 7px;
  position: relative;
}

.html-lesson-wrapper .biz-tip-content .pointers .arrow-part:before {
  content: '';
  position: absolute;
  left: -16px;
  top: 4px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid black;
  display: inline-block;
  vertical-align: middle;
}

.html-lesson-wrapper .biz-tip-content .pointers .biz-ul {
  margin-left: -1%;
}

@media screen and (max-width: 401px) {
  .html-lesson-wrapper .biz-tip-content .pointers .biz-ul {
    margin-left: 0.8%;
  }
}

.html-lesson-wrapper .biz-tip-content .pointers .biz-ul li {
  list-style-type: '\25BC';
  margin-top: -0.5%;
}

.html-lesson-wrapper .see-content {
  margin-top: 36px;
}

.html-lesson-wrapper .see-content .see {
  margin-top: 2px;
  margin-left: 3%;
}

.html-lesson-wrapper .see-content .sub-text {
  line-height: 1.8em;
  margin-left: 2px;
}

.html-lesson-wrapper .see-content .table {
  margin-top: 20px;
  width: 100%;
}

.html-lesson-wrapper .see-content td {
  height: clamp(10px, 2.5vw, 30px);
  vertical-align: top;
}

.html-lesson-wrapper .see-content .see-section {
  font-size: clamp(12px, 2vw, 15px);
  padding-top: 0.4%;
}

@media screen and (max-width: 600px) {
  .html-lesson-wrapper .see-content .see-section {
    padding-top: 1%;
  }
}

@media screen and (max-width: 400px) {
  .html-lesson-wrapper .see-content .see-section {
    padding-top: 2%;
  }
}

@media screen and (max-width: 361px) {
  .html-lesson-wrapper .see-content .see-section {
    padding-top: 2.5%;
  }
}

.html-lesson-wrapper .see-content .see-section .instruction-text {
  font-weight: bold;
}

.html-lesson-wrapper .see-content .see-section ul {
  margin-left: -1%;
}

@media screen and (max-width: 401px) {
  .html-lesson-wrapper .see-content .see-section ul {
    margin-left: -2%;
  }
}

.html-lesson-wrapper .see-content .see-section ul li {
  line-height: 1.8;
}

.html-lesson-wrapper .see-content .see-section ul li div {
  width: clamp(100px, 50vw, 500px);
  margin-left: 2%;
}

@media screen and (max-width: 401px) {
  .html-lesson-wrapper .see-content .see-section ul li div {
    margin-left: 4%;
  }
}

.html-lesson-wrapper .try-content {
  margin-top: 30px;
}

.html-lesson-wrapper .try-content .sub-text {
  line-height: 1.8em;
}

.html-lesson-wrapper .try-content .try {
  margin-top: 4px;
  margin-left: 3%;
}

.html-lesson-wrapper .try-content .decimal {
  list-style-type: decimal;
  line-height: 1.8;
}

.html-lesson-wrapper .try-content .bullet {
  line-height: 1.8;
}

.html-lesson-wrapper .try-content ul {
  list-style: decimal;
}

.html-lesson-wrapper .try-content ul li {
  line-height: 1.8;
}

.html-lesson-wrapper .act-content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: clamp(50px, 13vw, 120px);
  margin-top: 36px;
}

.html-lesson-wrapper .act-content .act {
  margin-top: 4px;
  margin-left: 3%;
}

.html-lesson-wrapper .act-content p {
  line-height: 1.8;
}

.html-lesson-wrapper .act-content .decimal {
  list-style-type: decimal;
  line-height: 1.8;
}

.html-lesson-wrapper .act-content ul {
  list-style: decimal;
}

.html-lesson-wrapper .act-content ul li {
  line-height: 1.8;
}

.html-lesson-wrapper footer {
  font-family: Helvetica, Arial, "Sans-serif";
  font-size: clamp(4.5px, 1.1vw, 9px);
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 10%;
  bottom: 43px;
}

.html-lesson-wrapper footer .footer-text {
  text-align: right;
  position: absolute;
  bottom: 0;
  max-width: 45%;
  right: 2%;
}

.html-lesson-wrapper .inline-block {
  display: inline-block;
}

@media screen and (max-width: 900px) {
  .html-lesson-wrapper {
    min-height: unset;
  }
  .html-lesson-wrapper .biz-tip-content .section {
    left: calc(-15% + 56px);
  }
  .html-lesson-wrapper .see-content {
    margin-top: clamp(22px, 3.8vw, 36px);
  }
  .html-lesson-wrapper .try-content {
    margin-top: clamp(20px, 3.7vw, 30px);
  }
}

@media screen and (max-width: 900px) and (max-width: 501px) {
  .html-lesson-wrapper .try-content ul {
    margin-left: 4%;
  }
}

@media screen and (max-width: 900px) and (max-width: 401px) {
  .html-lesson-wrapper .try-content ul {
    margin-left: 5.5%;
  }
}

@media screen and (max-width: 900px) and (max-width: 346px) {
  .html-lesson-wrapper .try-content ul {
    margin-left: 6.5%;
  }
}

@media screen and (max-width: 900px) {
  .html-lesson-wrapper .try-content li {
    padding-left: clamp(9px, 1.8vw, 13px);
  }
  .html-lesson-wrapper .act-content {
    margin-top: clamp(20px, 3.8vw, 36px);
  }
}

@media screen and (max-width: 900px) and (max-width: 501px) {
  .html-lesson-wrapper .act-content ul {
    margin-left: 4%;
  }
}

@media screen and (max-width: 900px) and (max-width: 401px) {
  .html-lesson-wrapper .act-content ul {
    margin-left: 5.5%;
  }
}

@media screen and (max-width: 900px) and (max-width: 346px) {
  .html-lesson-wrapper .act-content ul {
    margin-left: 6.5%;
  }
}

@media screen and (max-width: 900px) {
  .html-lesson-wrapper footer {
    bottom: clamp(16px, 4.8vw, 43px);
    right: 5% !important;
  }
  .html-lesson-wrapper .section {
    left: calc(-16% + 45px);
  }
}

@media screen and (max-width: 768px) {
  .html-lesson-wrapper .program-rank {
    position: absolute;
    top: clamp(20px, 4vw, 40px);
    left: clamp(23px, 4vw, 48px);
  }
  .html-lesson-wrapper .title {
    top: clamp(45px, 8.4vw, 80px);
    left: clamp(28px, 3.1vw, 55px);
  }
  .html-lesson-wrapper .divider.d1, .html-lesson-wrapper .divider.d2 {
    margin-top: clamp(18px, 3.4vw, 28px);
  }
  .html-lesson-wrapper .section {
    left: calc(-15% + 40px);
  }
  .html-lesson-wrapper .arrow-part:before {
    left: -3% !important;
  }
}

@media screen and (max-width: 600px) {
  .html-lesson-wrapper {
    background-position: top, -11px 100% !important;
  }
  .html-lesson-wrapper .type {
    padding: 2px 8px 2px 7px !important;
  }
  .html-lesson-wrapper .level {
    padding: 2px 6px 2px 7px !important;
  }
  .html-lesson-wrapper .line {
    margin: 0 6px;
    vertical-align: middle;
  }
  .html-lesson-wrapper .arrow-part:before {
    border-left: 3.5px solid transparent !important;
    border-right: 3.5px solid transparent !important;
    border-top: 5.5px solid black !important;
  }
  .html-lesson-wrapper .act-content .table-1 {
    width: 105%;
  }
  .html-lesson-wrapper .biz-tip-content .section {
    left: calc(-15% + 50px);
  }
}

@media screen and (max-width: 460px) {
  .html-lesson-wrapper {
    background-position: top, -1.5px 100% !important;
  }
  .html-lesson-wrapper .pointers {
    padding-right: 6px;
  }
  .html-lesson-wrapper .instruction {
    padding-top: 7px;
  }
  .html-lesson-wrapper .inline-block {
    display: block !important;
  }
  .html-lesson-wrapper .decimal {
    margin-left: 25px !important;
  }
  .html-lesson-wrapper .see-content .see {
    margin-top: 4px !important;
  }
  .html-lesson-wrapper .biz-tip-content .section {
    left: calc(-15% + 35px);
  }
  .html-lesson-wrapper .arrow-part {
    margin-left: -5px;
  }
  .html-lesson-wrapper .section {
    left: calc(-15% + 25px);
  }
}

@media screen and (max-width: 400px) {
  .html-lesson-wrapper .title {
    width: 200px !important;
  }
  .html-lesson-wrapper .biz-tip-header {
    top: -2px !important;
  }
  .html-lesson-wrapper .biz-tip-header .arrow-part:before {
    left: -14.5% !important;
    top: 0.6vw !important;
  }
}

@media screen and (max-width: 358px) {
  .act-content .table-1 {
    display: none !important;
  }
  .act-content .table-2 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    border-collapse: collapse;
    width: 113%;
  }
  .act-content .table-2 th {
    height: clamp(20px, 4vw, 40px);
    text-align: left;
    font-weight: normal;
    width: 120px;
  }
  .act-content .table-2 .arrow-part:before {
    left: -12% !important;
  }
}

@media screen and (max-width: 320px) {
  .html-lesson-wrapper .section {
    left: -27px !important;
  }
  .html-lesson-wrapper .section.words {
    left: -27px !important;
  }
  .html-lesson-wrapper .words-phrase-content {
    margin-top: 93px;
  }
  .html-lesson-wrapper .words-phrase-content .pointers {
    padding-right: 5px;
  }
  .html-lesson-wrapper .arrow-part {
    padding-left: 10px !important;
  }
}

.html-lesson-wrapper .lesson-number {
  left: clamp(91.5%, 93vw, 91%);
}

.html-lesson-wrapper .see-content .see-section .convo-text {
  margin-left: 3%;
}

.html-lesson-wrapper .see-content .see-section .convo-text li {
  color: #cc3366;
}

.html-lesson-wrapper .see-content .see-section .convo-text li div {
  font-weight: bold;
  margin-left: -1%;
}

.html-lesson-wrapper .see-content .see-section .convo-text ul {
  list-style: none;
  margin-top: -1%;
}

.html-lesson-wrapper .see-content .see-section .convo-text ul li div {
  color: black;
  font-weight: normal;
}
