@import '../../css/op-teleconferencing-utils';

.html-lesson-wrapper {
  @media only screen and (max-width: 767px) {
    min-height: 782px !important;
  }
  .act-spacer {
    padding-bottom: 10rem;
    @media only screen and (max-width: 767px) {
      padding-bottom: 0;
    }
  }
  .header-content {
    .biz-tip-content {
      @media only screen and (max-width: 820px) {
        margin-left: 2.5%;
      }
    }
  }
  .try {
    .content-table {
      font-size: clamp(12px, 3vw, 16px);
      width: 100%;
      border-collapse: collapse;
      .table-header {
        width: 25% !important;
        color: white;
        background-color: $primary-pink;
      }
      th {
        vertical-align: middle !important;
      }
      td,
      th {
        border: 2px solid $tertiary-gray;
        padding: 0.5%;
        vertical-align: baseline;
      }
    }
  }
  .red-italicize {
    color: red;
  }
  
  .sides {
    .td-num {
      margin: 0px;
      vertical-align: top;
    }
    .td-head {
      margin: 0%;
      vertical-align: top;
    }
    ul.action-plan {
      margin: 0%;
      padding-left: 15px;
    }
    .num {
      @media only screen and (max-width: 767px){
        vertical-align: top;
      }
    }
    .sum1 {
      @media only screen and (max-width: 767px){
        vertical-align: top;
      }
    }
  }
  .content-item {
    .message {
      @media only screen and (max-width: 767px){
        padding-left: 3%;
      }
    }
  }
}
