@import '../../css/op-management-2-utils';

.html-lesson-wrapper {
  .lessons {
    line-height: 1.8em;
  }
  .content-div {
    .header {
      font-weight: bold;
      margin-bottom: 0px;
    }
    ol {
      list-style-type: none;
    }
    li {
      line-height: 1.8em;
    }
  }
}
