@import "../../css/op-management-1-utils";

.html-lesson-wrapper .lesson-number {
  position: absolute;
  left: 92.5%;
  top: 0px;
  margin-top: 7.4%;
  font-size: clamp(7px, 1.8vw, 13px);
  color: #ffffff;
}

.html-lesson-wrapper footer {
  font-family: "Helvetica","Arial",san-serif;
  font-size: clamp(4.5px, 1.1vw, 9px);
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10%;
  bottom: -13em;
}
