@import '../../css/level4-utils';

.html-lesson-wrapper {
  table {
    tr {
      td {
        background-color: #d9d9d9 !important;
      }
      td:first-child {
        background-color: $primary !important;
        color: white;
      }
    }
  }
}
