@import '../../css/level1-B-utils';

.html-lesson-wrapper{
  .page-2 {

    .arrow-part {
      
      .subtitle {
        font-size: clamp(6px, 1.8vw, 15px);
        color: #000000;
      }
      p {
        margin: 4.5px auto;
        font-size: clamp(6px, 1.6vw, 13px);
      }
      .dark-blue {
        color: $primary-dark;
        letter-spacing: 0.1px;
      }
      div {
        position: relative;
        div::before {
          display: none;
        }
        .col {
          width: fit-content;
          margin-right: 20px;
          min-width: 20%;
          p {
            margin: 4.5px auto;
            font-size: clamp(6.5px, 2vw, 12px);
          }
          &:last-child {
            color: #2078a0;
            font-weight: bold;
          }
          &:first-child {
            margin-right: -30px;
          }
          @media screen and (max-width: 900px) {
            min-width: 31%;
          }
        }
      }
    }
  }
}

.html-lesson-wrapper .see-content .col {
 .space{
  padding-right: 2em;
 }
}


.html-lesson-wrapper .see-content .col {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 1em;
  position: relative;
}