@import '../../css/level1-a-utils';

.html-lesson-wrapper {
  .try-content {
    table {
      border-collapse: collapse;
      tr {
        & * {
          line-height: normal !important;
        }
        th {
          padding: 1% 2%;
          text-align: left;
          &:not(:first-child) {
            background-color: $primary;
            color: white;
            @extend .b;
            border: 0.1em solid white;
            border-bottom: 0.2em solid white;
            .ja {
              color: white;
            }
          }
        }
        ul {
          list-style-type: disc;
          margin-left: 2em;
          li {
            padding-inline-start: initial;
          }
        }

        td {
          padding: 2%;
          vertical-align: middle;
          &:first-child {
            padding-right: 1.5em;
            img {
              width: 5em;
            }
            vertical-align: bottom;
            padding-bottom: 0;
          }
          &:not(:first-child) {
            background-color: #cde0ec;
            border: 0.1em solid white;
          }
        }
        &:nth-child(odd) {
          td:not(:first-child) {
            background-color: #f2f2f2;
          }
        }
      }
    }
  }

  .page-1,
  .page-3 {
    .try-content {
      .grid {
        grid-template-columns: 1fr 1.3fr;
      }
    }
  }

  .page-2 {
    .see-content {
      .questions {
        margin-top: 1em;
      }
    }
  }

  .page-3 {
    .grid {
      margin-top: 1.5em;
    }
    .try-content {
      table {
        td:first-child {
          vertical-align: middle;
          text-align: center;
          .ja {
            white-space: nowrap;
          }
        }
      }
    }
  }

  .act-content {
    ul {
      list-style: decimal;
      margin-left: 1.4em;
    }
    span {
      display: block;
    }
  }
}
