$text-font: 'Trebuchet MS';
$title-font: 'Arial';
$noto-sans: 'Noto Sans';

$primary-blue: #1287cd;
$rank-green: #009c9a;
$primary-dark: #083051;
$primary-light: #cce0ec;
$jap-letter-spacing: -1px;

$subtext-color: #7f8288;

$side-margin: clamp(18px, 5vw, 32px);

$s3: 'https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images';

body {
  margin: 0;
  padding: 0;
}

hr {
  border-top: 1px solid #dbdcdc;
}

.m-0 {
  margin: 0;
}

.flex {
  display: flex;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.html-lesson-wrapper .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.html-lesson-wrapper {
  font-family: $noto-sans;
  width: 100%;
  min-width: 360px;
  max-width: 604px;
  min-height: 1596px;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url(#{$s3}/0-bg-header.png), url(#{$s3}/0-bg-footer.png);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;

  header {
    font-family: $title-font;
  }

  .fs-16 {
    font-size: clamp(12px, 2.3vw, 16px);
  }
  .flip-horizontal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .noto-sans {
    font-family: $noto-sans;
  }
  .b {
    font-weight: bold;
  }
  .u-sup {
    border-bottom: solid 1.5px black;
    display: inline-block;
    line-height: clamp(6px, 1.5vw, 14px);
  }
  .u-blue {
    border-bottom: 1px solid $primary-blue;
  }
  .primary-blue {
    color: $primary-blue;
  }
  .program-rank {
    position: absolute;
    color: #ffffff;
    font-size: 0px;
    margin-top: clamp(1px, 1vw, 5px);

    .type {
      padding: clamp(1px, 1vw, 5px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 5px)
        clamp(10px, 2vw, 17px);
      background-color: $primary-blue;
      font-size: clamp(7px, 1.8vw, 12px);
    }
    .level {
      padding: clamp(1px, 1vw, 5px) clamp(20px, 4vw, 50px) clamp(1px, 1vw, 5px)
        clamp(10px, 2vw, 17px);
      font-size: clamp(7px, 1.8vw, 12px);
      background: linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -webkit-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -o-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -moz-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      margin-left: -15px;
      width: 100%;
    }
  }
  .line {
    margin: 0 12px;
  }
  .lesson-number {
    position: absolute;
    top: 1vh;
    right: 5.3%;
    font-size: clamp(0.8rem, 4vw, 1.5rem);
    color: #ffffff;
  }

  // Title
  .title-section {
    position: absolute;
    top: clamp(30px, 8vw, 50px);
    background-color: $primary-blue;
    color: white;
    padding: clamp(15px, 2vw, 20px) clamp(25px, 4vw, 30px) clamp(9px, 2vw, 15px);
    width: 100%;
    box-sizing: border-box;

    .title {
      font-size: clamp(16px, 4vw, 26px);
      padding-bottom: clamp(5px, 2.8vw, 10px);
    }
    .sub-title {
      font-size: clamp(10px, 2.3vw, 15px);
      letter-spacing: $jap-letter-spacing;
    }
  }
  .arrow {
    @extend .b;
    text-transform: uppercase;
    font-size: clamp(12px, 2.3vw, 16px);
    padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: $noto-sans;
  }
  .instructions {
    font-family: $noto-sans;
    position: absolute;
    padding: clamp(0px, 0.01vw, 3px) 0px;
    left: 28%;

    .title {
      font-size: clamp(12px, 3.5vw, 18px);
      color: #141821;
    }
    .sub-title {
      font-size: clamp(9px, 2vw, 13px);
      color: $subtext-color;
      letter-spacing: -0.9px;
    }
  }

  // See-content
  .see-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.see-1 {
      margin-top: clamp(110px, 28vw, 173.2px);
    }

    &.see-2,
    &.see-3,
    &.see-4 {
      margin-top: clamp(20px, 5vw, 33px);

      //see-content.legend
      & .legend {
        margin-top: clamp(25px, 5vw, 38px);
      }
    }

    .arrow.see {
      @extend .b;
      text-transform: uppercase;
      color: $primary-blue;
      font-size: clamp(12px, 2.3vw, 16px);
      background-image: url(#{$s3}/0-see-arrow.png);
      padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
      background-repeat: no-repeat;
      background-size: contain;
      font-family: $noto-sans;
    }
  }
  .try-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.try-1 {
      margin-top: 32px;
    }
    &.try-2,
    &.try-3,
    &.try-4 {
      margin-top: 32px;
    }

    .arrow.try {
      color: white;
      background-image: url(#{$s3}/0-try-arrow.png);
    }
  }
  .act-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.act-1 {
      margin-top: 32px;
    }
    &.act-2 {
      margin-top: 32px;
    }

    .arrow.act {
      color: white;
      background-image: url(#{$s3}/0-act-arrow.png);
    }
  }

  .section-1-convo {
    margin-top: 30px;
    width: 100%;
    min-height: clamp(230px, 60vw, 380px);
    position: relative;
    background-position: top, bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(#{$s3}/0-b-13-S1BG.svg);

    .s1-bubble2 {
      left: 29%;
      margin-top: clamp(46px, 2.3vw, 10px);
      width: clamp(140px, 38vw, 242px);
      min-height: 230px;
      position: absolute;
      background-position: top, bottom;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(#{$s3}/0-convo-bubble2.png);
      display: flex;
      flex-direction: column;
    }

    .bubble2-text {
      padding-top: clamp(3.2px, 2.9vw, -3px);
      padding-left: clamp(31px, 3vw, 15px);
      padding-bottom: clamp(0.2px, 1vw, 15px);
      padding-right: clamp(6px, 2.2vw, 2px);
      font-size: clamp(8px, 2vw, 14px);
      margin-top: clamp(-7px, -1vw, -15px);
      .eng {
        font-weight: bold;
        font-size: clamp(8px, 2vw, 14px);
      }

      .jap {
        font-size: clamp(6px, 1.5vw, 11px);
        color: $subtext-color;
        letter-spacing: $jap-letter-spacing;
      }
    }

    .s1-bubble3 {
      left: 22%;
      margin-top: clamp(56px, 16.3vw, 100px);
      width: clamp(80px, 20vw, 140px);
      min-height: 140px;
      position: absolute;
      background-position: top, bottom;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(#{$s3}/0-convo-bubble3.png);
      display: flex;
      flex-direction: column;
    }

    .bubble3-text {
      padding-top: clamp(3.2px, 1vw, 8px);
      padding-left: clamp(6px, 2vw, 12px);
      padding-bottom: clamp(0.2px, 1vw, 8px);
      padding-right: clamp(6px, 2.2vw, 8px);
      font-size: clamp(6.3px, 1.8vw, 13.6px);

      .eng {
        font-weight: bold;
        font-size: clamp(8px, 2vw, 14px);
      }

      .jap {
        font-size: clamp(6px, 1.5vw, 11px);
        color: $subtext-color;
        letter-spacing: $jap-letter-spacing;
      }
    }

    .s1-name {
      span {
        position: absolute;
        left: 72%;
        margin-top: clamp(220px, 36.3vw, 172px);

        padding-top: clamp(0.2px, 1vw, 6.5px);
        padding-left: clamp(6px, 2vw, 13.5px);
        padding-bottom: clamp(0.2px, 1vw, 6.5px);
        padding-right: clamp(6px, 2vw, 13.5px);
        font-size: clamp(6px, 2vw, 10px);
      }
    }

    .s2-name {
      span {
        position: absolute;
        left: 21.5%;
        margin-top: clamp(219px, 32.3vw, 199px);

        padding-top: clamp(0.2px, 1vw, 6.5px);
        padding-left: clamp(6px, 2vw, 13.5px);
        padding-bottom: clamp(0.2px, 1vw, 6.5px);
        padding-right: clamp(6px, 2vw, 13.5px);
        font-size: clamp(6px, 2vw, 10px);
        border-width: 0.5px;
      }
    }
  }

  .see-2 {
    .section2-content {
      margin-top: clamp(20px, 7vw, 50px);

      margin-left: $side-margin;
      margin-right: $side-margin;

      .section2-first-row {
        .text-with-akiko {
          grid-template-columns: 3fr 70px;
          display: grid;
          margin-left: 10%;

          .wrapper-with-akiko {
            padding-left: clamp(35px, 6.7vw, 55px);
            margin-top: clamp(-39px, -6.7vw, -39px);
          }
        }

        .box-1 {
          font-size: clamp(17px, 1.8vw, 16px);
          background-color: #ffb3b0;
          width: clamp(102px, 30vw, 169px);
          padding-top: clamp(5px, 1.5vw, 9px);
          padding-bottom: clamp(5px, 1.5vw, 9px);
          border-radius: 3px;
          text-align: center;
        }

        .text-1 {
          font-size: clamp(8px, 1.9vw, 13px);
          position: absolute;
          margin-top: clamp(-18px, -1.6vw, -5px);
          color: $subtext-color;
          letter-spacing: $jap-letter-spacing;
          font-family: $noto-sans;
        }

        .section-2-with-akiko {
          display: grid;
          grid-template-columns: 1fr min-content;
        }

        .f2-c1 {
          display: inline-flex;
          z-index: 32px;
          margin-top: 15px;

          .box-2 {
            width: clamp(80px, 18vw, 181.8px);
            background: url(#{$s3}/0-B-13-yellowpiece.png);
            text-align: center;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: clamp(32px, 1vw, 33px);
            text-align: center;
            padding-top: 6px;
            margin-left: clamp(-20px, -11vw, -15px);
          }

          .box-3 {
            width: clamp(141px, 5vw, 150px);
            margin-left: clamp(15px, 2vw, 7px);
            font-size: clamp(10px, 2.2vw, 16px);
            background: url(#{$s3}/0-B-13-GREENPIECE.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: clamp(32px, 30vw, 20px);
            text-align: center;
            padding-top: 6px;
          }

          .text-2 {
            position: absolute;
            margin-top: clamp(30px, 8.7vw, 40px);
            color: $subtext-color;
            font-size: clamp(8px, 1.9vw, 14px);
            letter-spacing: $jap-letter-spacing;
            font-family: $noto-sans;
          }
        }
      }

      .icon {
        font-size: clamp(10px, 2vw, 14px);
        margin-top: -16px;
        @extend .b;

        img {
          height: clamp(71px, 19vw, 100px);
          width: auto;
          right: 77%;
          position: absolute;
        }
        div {
          margin-top: clamp(108px, 2vw, 65px);
          margin-left: clamp(39px, 5.8vw, 36px);
          position: absolute;
          right: 82%;
        }
      }
    }

    .section2-box-content {
      margin-top: clamp(50px, 17vw, 70px);
      .legend {
        margin-top: clamp(25px, 5vw, 38px);
      }

      .b1-legend {
        width: clamp(130px, 15vw, 150px);
        background: url(#{$s3}/0-b-13-rect.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: clamp(25px, 15vw, 32px);
        text-align: center;
      }
      .b2-legend {
        width: clamp(100px, 15vw, 145px);
        text-align: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-B-13-GREENPIECE.png);
        height: clamp(25px, 15vw, 32px);
      }

      .legend {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2px;

        & .eng {
          padding-top: clamp(3px, 1.8vw, 5px);
          font-size: clamp(12px, 1.8vw, 16px);
        }
      }

      .phrase-alts {
        display: grid;
        grid-template-columns: 1fr clamp(157px, 39vw, 280px);
        gap: 7px;

        &.half {
          grid-template-columns: 1fr 1fr;
        }

        .alt-box {
          padding: 15px;
          border: 1px solid $primary-blue;
        }

        .alt {
          display: flex;
          align-items: baseline;
        }

        .alt:not(:last-child) {
          margin-bottom: clamp(10px, 2vw, 20px);
        }

        .choice {
          margin-left: clamp(5px, 1vw, 9px);
          p {
            margin: 0;
            white-space: nowrap;
            font-family: $noto-sans;
          }
        }

        .choice-eng {
          font-size: clamp(10px, 2.5vw, 18px);
        }

        .choice-jap {
          font-size: clamp(6.7px, 2.3vw, 13px);
          letter-spacing: -0.5px;
          color: $subtext-color;
        }

        //number
        .number {
          @extend .b;
          border-radius: 50%;
          background: $primary-blue;
          color: white;
          margin: 0;
          text-align: center;
          width: clamp(13px, 4vw, 24px);
          height: clamp(13px, 4vw, 24px);
          line-height: clamp(13px, 4vw, 24px);
          font-family: $noto-sans;
          font-size: clamp(11px, 3vw, 16px);
          z-index: 1;
        }

        .letter {
          @extend .b;
          border: 2px solid $primary-blue;
          color: $primary-blue;
          font-family: $noto-sans;
          width: clamp(11px, 4vw, 20px);
          height: clamp(11px, 4vw, 20px);
          line-height: clamp(11px, 4vw, 20px);
          font-size: clamp(11px, 3vw, 16px);
          text-align: center;
        }
      }
    }
  }

  .try-1 {
    .try1-content {
      margin-top: clamp(25px, 7vw, 50px);
      margin-left: $side-margin;
      margin-right: $side-margin;

      .akiko-right-view {
        width: clamp(140px, 37vw, 191px);
        min-height: clamp(130px, 37vw, 191px);
        position: absolute;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-D-1-akiko-icon.png);
      }

      .akiko-combinations {
        .akiko-first-combinations {
          position: absolute;
          margin-left: clamp(110px, 30vw, 180px);
          color: $primary-blue;
          ul > li {
            list-style-type: none;
            margin-bottom: 10px;
          }

          ul li > .number {
            border-radius: 50%;
            background: $primary-blue;
            color: white;
            margin: 0;
            text-align: center;
            width: clamp(13px, 4vw, 24px);
            height: clamp(13px, 4vw, 24px);
            line-height: clamp(13px, 4vw, 24px);
            font-family: $noto-sans;
            font-size: clamp(11px, 3vw, 16px);
            z-index: 1;
            padding-left: clamp(5px, 1.4vw, 7px);
            padding-right: clamp(5px, 1.4vw, 7px);
          }

          ul li > .plus {
            position: relative;
            font-size: clamp(7px, 6.3vw, 32px);
            margin-top: clamp(30x, 1.3vw, 5px);

            img {
              width: auto;
              height: clamp(5px, 3.5vw, 15px);
            }
          }

          ul li > .letter {
            @extend .b;
            border: 2px solid $primary-blue;
            color: $primary-blue;
            font-family: $noto-sans;
            width: clamp(11px, 4vw, 20px);
            height: clamp(11px, 4vw, 20px);
            line-height: clamp(11px, 4vw, 20px);
            font-size: clamp(11px, 3vw, 16px);
            text-align: center;
            padding-left: clamp(2px, 1.4vw, 7px);
            padding-right: clamp(2px, 1.4vw, 7px);
          }
        }

        .akiko-second-combinations {
          position: absolute;
          margin-left: clamp(190px, 55vw, 320px);
          ul > li {
            list-style-type: none;
            margin-bottom: 10px;
          }

          ul li > .number {
            @extend .b;
            border-radius: 50%;
            background: $primary-blue;
            color: white;
            margin: 0;
            text-align: center;
            width: clamp(13px, 4vw, 24px);
            height: clamp(13px, 4vw, 24px);
            line-height: clamp(13px, 4vw, 24px);
            font-family: $noto-sans;
            font-size: clamp(11px, 3vw, 16px);
            z-index: 1;
            padding-left: clamp(5px, 1.4vw, 7px);
            padding-right: clamp(5px, 1.4vw, 7px);
          }

          ul li > .plus {
            position: relative;
            font-size: clamp(7px, 6.3vw, 32px);
            margin-top: clamp(30x, 1.3vw, 5px);

            img {
              width: auto;
              height: clamp(5px, 3.5vw, 15px);
            }
          }

          ul li > .letter {
            @extend .b;
            border: 2px solid $primary-blue;
            color: $primary-blue;
            font-family: $noto-sans;
            width: clamp(11px, 4vw, 20px);
            height: clamp(11px, 4vw, 20px);
            line-height: clamp(11px, 4vw, 20px);
            font-size: clamp(11px, 3vw, 16px);
            text-align: center;
            padding-left: clamp(2px, 1.4vw, 7px);
            padding-right: clamp(2px, 1.4vw, 7px);
          }
        }
      }
    }
  }

  .try-2 {
    .try2-content {
      padding-left: clamp(73px, 10vw, 5px);
      margin-top: clamp(40px, 16vw, 43px);
      font-family: $noto-sans;
      .conversation {
        .number {
          color: #1287cd;
          position: absolute;
          right: 92%;
        }
        .convo,
        .convo1,
        .convo2,
        .convo3,
        .convo4,
        .convo5,
        .convo6 {
          margin-bottom: clamp(40px, 16vw, 43px);
          .text-under {
            margin-left: clamp(40px, 16vw, 43px);
          }
          .Trainer {
            margin-left: clamp(-26px, -2vw, -26px);
          }
          .underline {
            color: $primary-blue;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .try-3 {
    .try-3-content {
      .conversation {
        margin-bottom: 10px;

        .akiko {
          span {
            position: absolute;
            left: 15.7%;
            margin-top: clamp(100px, 26.8vw, 176px);
            border-radius: 7px;
            padding-top: clamp(0.2px, 1vw, 5px);
            padding-left: clamp(6px, 2vw, 12px);
            padding-bottom: clamp(0.2px, 1vw, 5px);
            padding-right: clamp(6px, 2vw, 12px);
            background-color: #ffffff;
            font-size: clamp(6px, 2vw, 10px);
            border-style: solid;
            border-color: #d0d2d3;
            border-width: 0.5px;
            color: #2d356b;
          }
        }

        .helen {
          span {
            position: absolute;
            color: #2d356b;
            left: 78.7%;
            margin-top: clamp(118px, 32.3vw, 206px);
            border-radius: 7px;
            padding-top: clamp(0.2px, 1vw, 5px);
            padding-left: clamp(6px, 2vw, 12px);
            padding-bottom: clamp(0.2px, 1vw, 5px);
            padding-right: clamp(6px, 2vw, 12px);
            background-color: #ffffff;
            font-size: clamp(18px, 2vw, 10px);
            border-style: solid;
            border-color: #d0d2d3;
            border-width: 0.5px;
          }
        }
      }

      .conversation-text {
        padding-top: clamp(1px, 1.2vw, 20px);
        margin-bottom: -70px;
        font-family: $noto-sans;

        .convo-1,
        .convo-2,
        .convo-3,
        .convo-4 {
          padding-bottom: 20px;
          .convo-wrap-akiko {
            padding-bottom: clamp(10px, 1vw, 20px);
            padding-top: clamp(6px, 1vw, 20px);
            .number-left {
              padding-right: 20px;
              color: #1288cd;
              font-size: clamp(10px, 2.1vw, 14px);
              font-weight: bold;
            }
            .akiko-line-1 {
              font-size: clamp(18px, 2.1vw, 14px);
            }
          }

          .convo-wrap-helen {
            padding-bottom: clamp(49px, 1vw, 20px);
            padding-top: clamp(17px, 10vw, 17px);
            .number-left {
              padding-right: 20px;
              color: white;
            }

            .helen-line {
              font-size: clamp(18px, 2.1vw, 14px);
              margin-left: clamp(10px, 13vw, 10px);
              .blue-under {
                color: $primary-blue;
                text-decoration: underline;
              }
            }
            .text-under {
              margin-left: clamp(70px, 13vw, 84px);
            }
          }

          .convo-wrap-akiko-last {
            padding-bottom: clamp(10px, 3vw, 20px);

            .akiko-line-2 {
              font-size: clamp(10px, 2.1vw, 14px);
            }

            .letter-square {
              margin-left: 10px;
              padding-left: clamp(3px, 0.3vw, 5px);
              padding-right: clamp(4px, 0.3vw, 5px);
              color: #1288cd;
              font-size: clamp(10px, 2.1vw, 14px) !important;
              font-weight: bold;
              --size: clamp(13px, 2vw, 32px);
              left: calc(-1 * var(--size) - 10px);
              line-height: var(--size);
              width: var(--size);
              height: var(--size);
              top: 0;
              background: white;
              border: 2.3px solid #1288cd;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .act-1 {
    .act-1-content {
      .conversation {
        margin-top: 30px;
        width: clamp(310px, 86vw, 540px);
        min-height: clamp(230px, 60vw, 380px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-b-13-act1bg.svg);
        font-family: $noto-sans;

        .bubble {
          margin-left: clamp(15px, 5vw, 19px);
          margin-top: clamp(5px, 2.3vw, 10px);
          width: clamp(170px, 43.4vw, 260px);
          min-height: clamp(130px, 50vw, 260px);
          position: absolute;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(#{$s3}/0-cloud-bubble-white.png);
          padding-top: clamp(12px, 4.3vw, 30px);
          padding-left: clamp(16px, 4.8vw, 45px);
          padding-bottom: clamp(5.2px, 2.6vw, 15px);
          padding-right: clamp(6px, 1.6vw, 15px);

          .bubble-text {
            .english {
              font-size: clamp(8px, 2vw, 14px);
            }
            .japanese {
              position: absolute;
              margin-top: -1px;
              font-size: clamp(6px, 1.5vw, 10px);
              color: $subtext-color;
              letter-spacing: -0.5px;
            }
          }
        }

        .akiko {
          span {
            position: absolute;
            left: 15.7%;
            margin-top: clamp(100px, 26.8vw, 176px);
            border-radius: 8px;
            padding-top: clamp(0.2px, 1vw, 5px);
            padding-left: clamp(6px, 2vw, 12px);
            padding-bottom: clamp(0.2px, 1vw, 5px);
            padding-right: clamp(6px, 2vw, 12px);
            background-color: #ffffff;
            font-size: clamp(6px, 2vw, 10px);
            border-style: solid;
            border-color: #d0d2d3;
            border-width: 0.5px;
            color: #2d356b;
            font-family: $noto-sans;
          }
        }

        .helen {
          span {
            position: absolute;
            color: #2d356b;
            left: 78.7%;
            margin-top: clamp(118px, 32.3vw, 206px);
            border-radius: 8px;
            padding-top: clamp(0.2px, 1vw, 5px);
            padding-left: clamp(6px, 2vw, 12px);
            padding-bottom: clamp(0.2px, 1vw, 5px);
            padding-right: clamp(6px, 2vw, 12px);
            background-color: #ffffff;
            font-size: clamp(6px, 2vw, 10px);
            border-style: solid;
            border-color: #d0d2d3;
            border-width: 0.5px;
          }
        }
      }

      .converstation-text {
        margin-top: clamp(0px, 1.3vw, 20px);

        .convo,
        .convo1,
        .convo2,
        .convo3,
        .convo4 {
          font-family: $noto-sans;
          margin-bottom: 20px;
          .english {
            font-size: clamp(10px, 2.3vw, 17px);
            margin-left: clamp(15px, 3.5vw, 30px);
          }
          .text-under {
            color: #141821;
            margin-left: clamp(89px, 3.5vw, 30px);
          }
          .japanese {
            margin-left: clamp(50px, 10.9vw, 90px);
            font-size: clamp(8px, 1.7vw, 13px);
            color: $subtext-color;
            letter-spacing: $jap-letter-spacing;
          }
        }
      }
    }
  }

  .act-2 {
    .act-2-space {
      margin-bottom: 80px;
    }
  }
}

// @media only screen and(max-width: 375px) {
//   .icon {
//     margin-top: -100px !important;
//     margin-left: 30% !important;
//     // img {
//     //   height: clamp(51px, 19vw, 100px);
//     //   width: auto;
//     // }
//     // div {
//     //   margin-top: clamp(8px, 2vw, 9px);
//     // }
//   }
// }
