$text-font: 'Trebuchet MS';
$title-font: 'Arial';
$noto-sans: 'Noto Sans';

$primary-blue: #1287cd;
$rank-green: #009c9a;
$primary-dark: #083051;
$primary-light: #cce0ec;
$jap-letter-spacing: -1px;

$subtext-color: #7f8288;

$side-margin: clamp(18px, 5vw, 32px);

$s3: 'https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images';

body {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

hr {
  border-top: 1px solid #dbdcdc;
}

.m-0 {
  margin: 0;
}

.flex {
  display: flex;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.html-lesson-wrapper .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.html-lesson-wrapper {
  font-family: $noto-sans;
  width: 100%;
  min-width: 360px;
  max-width: 604px;
  min-height: 1596px;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url(#{$s3}/0-bg-header.png), url(#{$s3}/0-bg-footer.png);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;

  header {
    font-family: $title-font;
  }

  .fs-16 {
    font-size: clamp(12px, 2.3vw, 16px);
  }
  .flip-horizontal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .noto-sans {
    font-family: $noto-sans;
  }
  .b {
    font-weight: bold;
  }
  .u-sup {
    border-bottom: solid 1.5px black;
    display: inline-block;
    line-height: clamp(6px, 1.5vw, 14px);
  }
  .u-blue {
    border-bottom: 1px solid $primary-blue;
  }
  .primary-blue {
    color: $primary-blue;
  }
  .program-rank {
    position: absolute;
    color: #ffffff;
    font-size: 0px;
    margin-top: clamp(1px, 1vw, 5px);

    .type {
      padding: clamp(1px, 1vw, 5px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 5px)
        clamp(10px, 2vw, 17px);
      background-color: $primary-blue;
      font-size: clamp(7px, 1.8vw, 12px);
    }
    .level {
      padding: clamp(1px, 1vw, 5px) clamp(20px, 4vw, 50px) clamp(1px, 1vw, 5px)
        clamp(10px, 2vw, 17px);
      font-size: clamp(7px, 1.8vw, 12px);
      background: linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -webkit-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -o-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -moz-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      margin-left: -15px;
      width: 100%;
    }
  }
  .line {
    margin: 0 12px;
  }
  .lesson-number {
    position: absolute;
    top: 1vh;
    right: 5.3%;
    font-size: clamp(0.8rem, 4vw, 1.5rem);
    color: #ffffff;
  }

  // Title
  .title-section {
    position: absolute;
    top: clamp(30px, 8vw, 50px);
    background-color: $primary-blue;
    color: white;
    padding: clamp(15px, 2vw, 20px) clamp(25px, 4vw, 30px) clamp(9px, 2vw, 15px);
    width: 100%;
    box-sizing: border-box;

    .title {
      font-size: clamp(16px, 4vw, 26px);
      padding-bottom: clamp(5px, 2.8vw, 10px);
    }
    .sub-title {
      font-size: clamp(10px, 2.3vw, 15px);
      letter-spacing: $jap-letter-spacing;
    }
  }
  .arrow {
    @extend .b;
    text-transform: uppercase;
    font-size: clamp(12px, 2.3vw, 16px);
    padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: $noto-sans;
  }
  .instructions {
    font-family: $noto-sans;
    position: absolute;
    padding: clamp(0px, 0.01vw, 3px) 0px;
    left: 28%;

    .title {
      font-size: clamp(12px, 3.5vw, 18px);
      color: #141821;
    }
    .sub-title {
      font-size: clamp(9px, 2vw, 13px);
      color: $subtext-color;
      letter-spacing: -0.9px;
    }
  }

  // See-content
  .see-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.see-1 {
      margin-top: clamp(110px, 41vw, 173.2px);
    }

    &.see-2,
    &.see-3,
    &.see-4 {
      margin-top: clamp(20px, 5vw, 33px);

      //see-content.legend
      & .legend {
        margin-top: clamp(25px, 5vw, 38px);
      }
    }

    .arrow.see {
      @extend .b;
      text-transform: uppercase;
      color: $primary-blue;
      font-size: clamp(12px, 2.3vw, 16px);
      background-image: url(#{$s3}/0-see-arrow.png);
      padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
      background-repeat: no-repeat;
      background-size: contain;
      font-family: $noto-sans;
    }
  }
  .try-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.try-1 {
      margin-top: 32px;
    }
    &.try-2,
    &.try-3,
    &.try-4 {
      margin-top: 32px;
    }

    .arrow.try {
      color: white;
      background-image: url(#{$s3}/0-try-arrow.png);
    }
  }
  .act-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.act-1 {
      margin-top: 32px;
    }
    &.act-2 {
      margin-top: 32px;
      font-size: clamp(10px, 2vw, 18px);
    }

    .arrow.act {
      color: white;
      background-image: url(#{$s3}/0-act-arrow.png);
    }
  }

  .section-1-convo {
    margin-top: 30px;
    width: 100%;
    min-height: clamp(230px, 60vw, 380px);
    position: relative;
    background-position: top, bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(#{$s3}/0-b-13-see1bg.svg);

    .bubble2-text {
      position: absolute;
      margin-left: clamp(113px, 31vw, 186px);
      margin-top: clamp(26px, 7vw, 39px);
      .eng {
        font-weight: bold;
        font-size: clamp(9px, 2vw, 14px);
      }

      .jap {
        font-size: clamp(6px, 1.5vw, 11px);
        color: $subtext-color;
        letter-spacing: $jap-letter-spacing;
      }
    }

    .s1-bubble3 {
      left: 22%;
      margin-top: clamp(56px, 16.3vw, 100px);
      width: clamp(80px, 20vw, 140px);
      min-height: 140px;
      position: absolute;
      background-position: top, bottom;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(#{$s3}/0-convo-bubble3.png);
      display: flex;
      flex-direction: column;
    }

    .bubble3-text {
      padding-top: clamp(3.2px, 1vw, 8px);
      padding-left: clamp(6px, 2vw, 12px);
      padding-bottom: clamp(0.2px, 1vw, 8px);
      padding-right: clamp(6px, 2.2vw, 8px);
      font-size: clamp(6.3px, 1.8vw, 13.6px);

      .eng {
        font-weight: bold;
        font-size: clamp(8px, 2vw, 14px);
      }

      .jap {
        font-size: clamp(6px, 1.5vw, 11px);
        color: $subtext-color;
        letter-spacing: $jap-letter-spacing;
      }
    }

    .s1-name {
      span {
        position: absolute;
        left: 72%;
        margin-top: clamp(220px, 36.3vw, 172px);

        padding-top: clamp(0.2px, 1vw, 6.5px);
        padding-left: clamp(6px, 2vw, 13.5px);
        padding-bottom: clamp(0.2px, 1vw, 6.5px);
        padding-right: clamp(6px, 2vw, 13.5px);
        font-size: clamp(6px, 2vw, 10px);
      }
    }

    .s2-name {
      span {
        position: absolute;
        left: 21.5%;
        margin-top: clamp(219px, 32.3vw, 199px);

        padding-top: clamp(0.2px, 1vw, 6.5px);
        padding-left: clamp(6px, 2vw, 13.5px);
        padding-bottom: clamp(0.2px, 1vw, 6.5px);
        padding-right: clamp(6px, 2vw, 13.5px);
        font-size: clamp(6px, 2vw, 10px);
        border-width: 0.5px;
      }
    }
  }

  .see-2 {
    .section2-content {
      margin-top: clamp(20px, 7vw, 50px);

      margin-left: $side-margin;
      margin-right: $side-margin;

      .section2-first-row {
        .text-with-akiko {
          grid-template-columns: 3fr 70px;
          display: grid;
          margin-left: 23%;

          .wrapper-with-akiko {
            margin-top: clamp(-10px, -6.7vw, -39px);
          }
        }

        .box-1 {
          font-size: clamp(10px, 1.8vw, 16px);
          background-color: #ffb3b0;
          width: clamp(102px, 30vw, 169px);
          padding-top: clamp(5px, 1.5vw, 9px);
          padding-bottom: clamp(5px, 1.5vw, 9px);
          border-radius: 3px;
          text-align: center;
        }

        .text-1 {
          font-size: clamp(8px, 1.9vw, 13px);
          position: absolute;
          margin-top: clamp(-18px, -1.6vw, -5px);
          color: $subtext-color;
          letter-spacing: $jap-letter-spacing;
          font-family: $noto-sans;
        }

        .section-2-with-akiko {
          display: grid;
          grid-template-columns: 1fr min-content;
        }

        .f2-c1 {
          display: inline-flex;
          z-index: 32px;
          margin-top: 15px;

          .box-2 {
            font-size: clamp(10px, 2.2vw, 16px);
            width: clamp(113px, 21vw, 181.8px);
            background: url(#{$s3}/0-B-13-yellowpiece.png);
            text-align: center;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: clamp(0px, 5vw, 32px);
            text-align: center;
            padding-top: 6px;
            margin-left: clamp(0px, 1vw, 1px);
          }

          .box-3 {
            width: clamp(93px, 18vw, 168px);
            margin-left: clamp(0px, 2vw, 3px);
            font-size: clamp(10px, 2.2vw, 16px);
            background: url(#{$s3}/0-B-13-GREENPIECE.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: clamp(0px, 5vw, 32px);
            text-align: center;
            padding-top: 6px;
          }

          .text-2 {
            position: absolute;
            margin-top: clamp(30px, 8.7vw, 40px);
            color: $subtext-color;
            font-size: clamp(8px, 1.9vw, 14px);
            letter-spacing: $jap-letter-spacing;
            font-family: $noto-sans;
          }
        }
      }

      .icon {
        font-size: clamp(10px, 2vw, 14px);
        margin-top: clamp(0px, -5vw, -16px);
        @extend .b;

        img {
          height: clamp(71px, 19vw, 100px);
          width: auto;
          right: 77%;
          position: absolute;
        }
        div {
          margin-top: clamp(83px, 12vw, 101px);
          margin-left: clamp(1px, 5vw, 36px);
          position: absolute;
          right: 82%;
        }
      }
    }

    .section2-box-content {
      margin-top: clamp(50px, 17vw, 70px);
      .legend {
        margin-top: clamp(25px, 5vw, 38px);
      }

      .b1-legend {
        width: clamp(130px, 18vw, 150px);
        background: url(#{$s3}/0-b-13-rect.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: clamp(8px, 6vw, 32px);
        text-align: center;
      }
      .b2-legend {
        width: clamp(110px, 18vw, 145px);
        text-align: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-B-13-GREENPIECE.png);
        height: clamp(8px, 6vw, 32px);
      }

      .legend {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2px;

        & .eng {
          padding-top: clamp(2px, 4vw, 5px);
          font-size: clamp(11px, 1.8vw, 16px);
        }
      }

      .phrase-alts {
        display: grid;
        grid-template-columns: 1fr clamp(157px, 39vw, 280px);
        gap: 7px;

        &.half {
          grid-template-columns: 1fr 1fr;
        }

        .alt-box {
          padding: 15px;
          border: 1px solid $primary-blue;
        }

        .alt {
          display: flex;
          align-items: baseline;
        }

        .alt:not(:last-child) {
          margin-bottom: clamp(10px, 2vw, 20px);
        }

        .choice {
          margin-left: clamp(5px, 1vw, 9px);
          p {
            margin: 0;
            white-space: nowrap;
            font-family: $noto-sans;
          }
        }

        .choice-eng {
          font-size: clamp(10px, 2.5vw, 18px);
        }

        .choice-jap {
          font-size: clamp(6.7px, 2.3vw, 13px);
          letter-spacing: -0.5px;
          color: $subtext-color;
        }

        .number {
          @extend .b;
          border-radius: 50%;
          background: $primary-blue;
          color: white;
          margin: 0;
          text-align: center;
          width: clamp(13px, 4vw, 24px);
          height: clamp(13px, 4vw, 24px);
          line-height: clamp(13px, 4vw, 24px);
          font-family: $noto-sans;
          font-size: clamp(11px, 3vw, 16px);
          z-index: 1;
        }

        .letter {
          @extend .b;
          border: 2px solid $primary-blue;
          color: $primary-blue;
          font-family: $noto-sans;
          width: clamp(11px, 4vw, 20px);
          height: clamp(11px, 4vw, 20px);
          line-height: clamp(11px, 4vw, 20px);
          font-size: clamp(11px, 3vw, 16px);
          text-align: center;
        }
      }
    }
  }

  .try-1 {
    .try1-content {
      margin-top: clamp(25px, 7vw, 50px);
      margin-left: clamp(1px, 1vw, 32px);
      margin-right: clamp(18px, 5vw, 32px);

      .akiko-right-view {
        width: clamp(136px, 37vw, 191px);
        min-height: clamp(163px, 33vw, 191px);
        position: absolute;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-D-1-akiko-icon.png);
        margin-left: clamp(-6px, -11vw, -31px);
        margin-top: clamp(0px, 3vw, 15px);
      }

      .akiko-combinations {
        .akiko-first-combinations {
          position: absolute;
          margin-left: clamp(110px, 23vw, 180px);
          color: $primary-blue;
          ul > li {
            list-style-type: none;
            font-size: clamp(10px, 3vw, 16px);
          }

          ul li > .number {
            border-radius: 50%;
            background: $primary-blue;
            color: white;
            margin: 0;
            text-align: center;
            width: clamp(13px, 4vw, 24px);
            height: clamp(13px, 4vw, 24px);
            line-height: clamp(13px, 4vw, 24px);
            font-family: $noto-sans;
            font-size: clamp(10px, 3vw, 16px);
            z-index: 1;
            padding-left: clamp(5px, 1.4vw, 7px);
            padding-right: clamp(5px, 1.4vw, 7px);
          }

          ul li > .plus {
            position: relative;
            font-size: clamp(5px, 5vw, 32px);
            margin-top: clamp(30x, 1.3vw, 5px);

            img {
              width: auto;
              height: clamp(4px, 2.9vw, 15px);
            }
          }

          ul li > .letter {
            @extend .b;
            border: 2px solid $primary-blue;
            color: $primary-blue;
            font-family: $noto-sans;
            width: clamp(11px, 4vw, 20px);
            height: clamp(11px, 4vw, 20px);
            line-height: clamp(11px, 4vw, 20px);
            font-size: clamp(10px, 3vw, 16px);
            text-align: center;
            padding-left: clamp(2px, 1.4vw, 7px);
            padding-right: clamp(2px, 1.4vw, 7px);
          }
        }

        .akiko-second-combinations {
          position: absolute;
          margin-left: clamp(190px, 55vw, 320px);
          ul > li {
            list-style-type: none;
            margin-bottom: 10px;
          }

          ul li > .number {
            @extend .b;
            border-radius: 50%;
            background: $primary-blue;
            color: white;
            margin: 0;
            text-align: center;
            width: clamp(13px, 4vw, 24px);
            height: clamp(13px, 4vw, 24px);
            line-height: clamp(13px, 4vw, 24px);
            font-family: $noto-sans;
            font-size: clamp(10px, 3vw, 16px);
            z-index: 1;
            padding-left: clamp(5px, 1.4vw, 7px);
            padding-right: clamp(5px, 1.4vw, 7px);
          }

          ul li > .plus {
            position: relative;
            font-size: clamp(7px, 6.3vw, 32px);
            margin-top: clamp(30x, 1.3vw, 5px);

            img {
              width: auto;
              height: clamp(5px, 3.5vw, 15px);
            }
          }

          ul li > .letter {
            @extend .b;
            border: 2px solid $primary-blue;
            color: $primary-blue;
            font-family: $noto-sans;
            width: clamp(11px, 4vw, 20px);
            height: clamp(11px, 4vw, 20px);
            line-height: clamp(11px, 4vw, 20px);
            font-size: clamp(10px, 3vw, 16px);
            text-align: center;
            padding-left: clamp(2px, 1.4vw, 7px);
            padding-right: clamp(2px, 1.4vw, 7px);
          }
        }
      }
    }
  }

  .try-2 {
    .try2-content {
      margin-top: clamp(40px, 16vw, 43px);
      font-family: $noto-sans;
      font-size: clamp(10px, 3vw, 16px);
      .conversation {
        .t1 {
          margin-left: clamp(9px, 2vw, 50px);
          .T1 {
            margin-bottom: clamp(5px, 5vw, 48px);
            height: clamp(132px, 41vw, 162px);
            width: clamp(323px, 64vw, 468px);
            margin-top: clamp(2px, 3vw, 50px);
          }
        }
        .convo,
        .convo1,
        .convo2,
        .convo3,
        .convo4 {
          .row {
            .blue-line {
              color: $primary-blue;
              text-decoration: underline;
            }
            .num {
              position: absolute;
              color: $primary-blue;
              font-weight: bold;
              margin-left: clamp(16px, 2vw, 15px);
            }
            .You {
              font-size: clamp(10px, 2vw, 18px);
              font-weight: bold;
              margin-left: clamp(49px, 7vw, 67px);
              position: absolute;
            }
            .Trainer {
              font-size: clamp(10px, 2vw, 18px);
              margin-left: clamp(33px, 10vw, 33px);
              position: absolute;
            }
            p {
              display: inline-block;
              margin-top: 13px;
              margin-left: clamp(81px, 13vw, 129px);
              &:first-child {
                word-wrap: break-word;
                font-weight: bold;
                margin-bottom: 20px;
                font-size: clamp(10px, 2vw, 18px);
              }
              &:last-child {
                font-size: clamp(10px, 2vw, 18px);
                font-family: $noto-sans;
              }
            }
          }
        }
      }
    }
  }

  .try-3 {
    .try-3-content {
      .conversation {
        margin-bottom: 10px;
      }

      .conversation-text {
        padding-top: clamp(1px, 1.2vw, 20px);
        margin-bottom: -70px;
        font-family: $noto-sans;

        .convo-1,
        .convo-2,
        .convo-3,
        .convo-4 {
          .sund {
            margin-left: clamp(0px, 1vw, 11px);
            margin-top: clamp(0px, 3vw, 50px);

            .sunday {
              height: clamp(177px, 38vw, 277px);
              width: clamp(323px, 92vw, 544px);
            }
          }
          .row {
            .blue-line {
              color: $primary-blue;
              text-decoration: underline;
            }
            .num {
              position: absolute;
              color: $primary-blue;
              font-weight: bold;
              margin-left: clamp(16px, 2vw, 15px);
            }
            .You {
              margin-left: clamp(56px, 7.9vw, 67px);
              position: absolute;
            }
            .Trainer {
              font-size: clamp(10px, 2vw, 18px);
              font-weight: bold;
              margin-left: clamp(39px, 3vw, 41px);
              position: absolute;
            }
            p {
              display: inline-block;
              margin-top: 13px;
              margin-left: clamp(87px, 14vw, 129px);
              &:first-child {
                word-wrap: break-word;
                font-weight: bold;
                margin-bottom: 20px;
                font-size: clamp(10px, 2vw, 18px);
              }
              &:last-child {
                font-size: clamp(10px, 2vw, 18px);
                font-family: $noto-sans;
              }
            }
          }
        }
      }
    }
  }

  .act-1 {
    .act-1-content {
      .conversation {
        margin-top: 30px;
        width: clamp(310px, 86vw, 540px);
        min-height: clamp(230px, 60vw, 380px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-b-13-act1bg.svg);
        font-family: $noto-sans;
      }

      .converstation-text {
        margin-left: -22px;
        margin-top: 20px;
        font-family: $noto-sans;
        margin-bottom: 22px;
        font-size: clamp(10px, 2vw, 18px);
        width: 96%;

        .row {
          .akiko {
            margin-left: clamp(34px, 2vw, 42px);
            position: absolute;
          }
          .nick {
            margin-left: clamp(40px, 3vw, 43px);
            position: absolute;
          }
          p {
            display: inline-block;
            margin-top: 13px;
            margin-left: clamp(93px, 7vw, 121px);
            &:first-child {
              word-wrap: break-word;
              font-weight: bold;
              margin-bottom: 20px;
            }
            &:last-child {
              font-family: $noto-sans;
            }
          }
          .jap {
            color: $subtext-color;
            font-size: clamp(5px, 2vw, 13px);
            font-weight: normal;
            letter-spacing: -2px;
            margin-left: clamp(91px, 24vw, 107px);
            margin-top: clamp(-7px, -2vw, -38px);
          }
        }
      }
    }
  }

  .act-2 {
    .act-2-space {
      margin-bottom: 50px;
    }
  }
}
