@import '../../css/op-job-interview-basics-utils';

.html-lesson-wrapper {
  .see-content {
    .sub-text {
      margin-bottom: 5%;
    }

    table {
      td:first-child {
        width: 13%;
      }
    }
  }

  .w30 {
    width: 15%;
  }

  .try-content {
    .sub-text {
      margin-bottom: 2%;
    }

    .o-scroll {
      overflow-x: scroll;

      table {
        width: 120%;

        td {
          padding: 1%;
        }
      }
    }

    ::-webkit-scrollbar {
      width: 0;
    }

    ol {
      margin: 0;
      margin-block: 0;
      padding-inline: 0;
      list-style-position: inside;

      li::marker {
        color: $magenta;
      }

      li {
        margin-bottom: 2%;
      }
    }
  }
}
