@import '../../css/_op-hotel-english-utils.scss';
.html-lesson-wrapper {
  .lesson-number {
    left: 91.6% !important;
  }
  @media screen and (max-width: 500px) {
    .lesson-number {
      left: 91.3% !important;
    }
  }
  @media screen and (max-width: 320px) {
    .words-phrase-content {
      margin-top: 80px !important;
    }
  }
}
