@import '../../css/op-management-2-utils';

.html-lesson-wrapper {
  .review-content {
    .sub-text {
      margin-left: 4.4%;
      @media only screen and (max-width: 390px) {
        margin-left: 8%;
      }
      @media only screen and (max-width: 320px) {
        margin-left: 10%;
      }
    }
    ol {
      list-style-type: none;
    }
    li {
      line-height: 1.8em;
    }
    .alphabet {
      li {
        margin-bottom: 0;
      }
    }
  }
}
