@import '../../css/_op-cross-culture-utils.scss';
.html-lesson-wrapper {
  .lesson-number {
    left: clamp(91%, 91.5vw, 91.7%) !important;
  }
  .decimal {
    list-style-type: none !important;
  }
  .speaker-try {
    white-space: nowrap;
    text-align: left;
    line-height: 1.8;
  }
  .speaker-text-try {
    position: relative;
    line-height: 1.8;
    padding-right: clamp(8px, 2vw, 19px) !important;
    .underline {
      border-bottom: 1px solid black;
    }
  }
  .table-try td {
    height: 10px !important;
  }
  @media screen and (max-width: 460px) {
    .try-content .sub-text-div {
      margin-left: 10px;
    }
    .sub-text-div {
      padding-top: 2.5px;
    }
    .try-content {
      table {
        margin-left: 8px !important;
      }
    }
  }
  @media screen and (min-width: 900px) and (max-width: 1800px) {
    .title {
      top: 80px !important;
      width: 80%;
    }
    .words-phrase-content {
      margin-top: clamp(90px, 19.6%, 157px);
    }
  }
  .speaker-text-try {
    padding-left: 5px;
  }
  @media screen and (max-width: 900px) {
    .see-content .sub-text {
      margin-left: 0px !important;
    }
  }
}
