@import '../../css/level1-B-utils';

.html-lesson-wrapper .lesson-points {
  margin-bottom: 3%;
}

.html-lesson-wrapper .see-content .col {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 0em;
  position: relative;
}

.html-lesson-wrapper .see-content p:not(.sub-text) {
  line-height: clamp(12px, 3vw, 26px);
  padding-right: 3em;
}


