@import '../../css/_op-presentation-basics-utils';

.html-lesson-wrapper {
  table {
    border-collapse: collapse;
  }
  .biz-tip-content {
    table {
      tr {
        th {
          text-align: left;
          padding-top: 5px;
          padding-bottom: 15px;
          span {
            position: absolute;
            margin-left: -3%;
          }
        }
        td {
          width: 47%;
          .arrow-part {
            width: 80%;
          }
          .arrow-part.div-2 {
            margin-top: 0px;
          }
        }
        @media screen and (max-width: 600px) {
          th {
            padding-bottom: 8px;
          }
        }
      }
    }
  }
  .see-content {
    table {
      tr th {
        text-align: left;
        padding-bottom: 10px;
      }
      tr th {
        text-align: left;
        padding-bottom: 10px;
      }
      tr td {
        border: 2.1px solid #d8d8d8;
        padding: 10px;
        min-height: 150px;
        margin-bottom: 5%;
        margin-right: 5%;
      }
      tr td.tdbreaker {
        border: none;
      }
      tr.trbreaker {
        height: 20px;
      }
    }
  }
  .try-content {
    table {
      tr th {
        text-align: center;
        background-color: #cc3366;
        color: #ffffff;
        padding: 5px;
        border: 1px solid #d8d8d8;
        border-collapse: collapse;
      }
      tr td {
        width: 47%;
        padding: 5px;
        border: 1px solid #d8d8d8;
        border-collapse: collapse;
      }
    }
  }
  @media screen and (max-width: 428px) {
    .section.words {
      left: calc(-13.3% + 49px);
    }
    .biz-tip-content {
      .arrow-part:before {
        left: -9% !important;
      }
    }
    .try-content table {
      margin-left: 2px;
    }
    .try-content .sub-text {
      margin-left: 4px;
    }
    .act-content .sub-text {
      margin-left: -4px;
    }
    .try-content .p-1,
    .try-content .p-2,
    .try-content .p-3 {
      line-height: 1.8;
      margin-left: 4px;
    }
  }
}
