@import '../../css/op-management-1-utils';

.html-lesson-wrapper .lesson-number {
  position: absolute;
  left: 91.8%;
  top: 0px;
  margin-top: 7.4%;
  font-size: clamp(7px, 1.8vw, 13px);
  color: #ffffff;
}
.html-lesson-wrapper .section {
  position: absolute;
  left: -3.6em;
  color: #cc3366;
  font-weight: bold;
  font-family: "Helvetica","Arial",san-serif;
  top: -0.4%;
  @media screen and (max-width: 500px){
    top: -1.4%;
    left: -2.6em;
  }
}