@import '../../css/level1-a-utils';

.html-lesson-wrapper {
  .act-content {
    ul {
      list-style-type: decimal;
      margin-left: 1.2em;
    }
  }

  .see-content {
    .blue-section {
      .grid {
        grid-template-columns: 1fr 1.7fr;
      }
    }
  }
}
