@import '../../css/level1-a-utils';

.html-lesson-wrapper {
  .try-content {
    ul > li > p {
      display: grid;
      grid-template-columns: 0.03fr 1fr;
    }
  }
  .act-content {
    ul {
      list-style-type: decimal;
      margin-left: 1.4em;
    }
  }

  .see-content {
    .blue-section {
      .grid {
        grid-template-columns: 1fr 1.7fr;
      }
    }
  }
}
