@import '../../css/_op-business-trip-utils.scss';

.html-lesson-wrapper {
  ol.bullet {
    margin: 0;
    padding: 0;
    display: grid;
    counter-reset: orderedlist;
    font-family: 'Trebuchet MS';
    font-size: clamp(12px, 2vw, 15px);
  }
  .part-content.part-1 {
    .content {
      ol {
        li {
          div {
            padding-left: 1%;
          }
        }
      }
    }
  }
  @media screen and (max-width: 420px) {
    .part-content.part-1 {
      .content {
        font-family: 'Trebuchet MS';
        width: 85%;
        min-width: 75%;
        padding-right: 5%;
        padding-left: 9%;
      }
    }
  }
}
