@import '../../css/level1-B-utils';

.html-lesson-wrapper .page-2 .see-content .col {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 2em;
    position: relative;
}