@import '../../css/level1-B-utils';

.html-lesson-wrapper .page-2 .see-content .col {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 1em !important;
    position: relative;
}

.html-lesson-wrapper .see-content .col {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 2em !important;
    position: relative;
}

.html-lesson-wrapper .see-content .blue-section {
    width: 100% !important;
    .row{
        .col{
            margin-right: 0.5em !important;
        }
    }
}

.html-lesson-wrapper .see-content {
    width: 90% !important;
}

