@import '../../css/level1-a-utils';

.html-lesson-wrapper {
  .pos-rel {
    position: relative;
  }
  .page-1 {
    .see-content {
      .text {
        p {
          span {
            margin-right: 1.5em;
          }
        }
      }
    }
  }

  .page-3 {
    .shape {
      margin-top: -9em;
    }
  }

  .see-content {
    .grid {
      grid-template-columns: 1.1fr 1.3fr 1.25fr;
    }
  }

  .try-content {
    table {
      margin-top: 3em;
    }
  }

  table {
    -webkit-transform: translate3d(0, 0, 0);
    width: 100%;
    border-collapse: collapse;
    margin-left: -1.3em;
    margin-right: 2em;
    &,
    th,
    td {
      border: 2px solid black;
    }

    tr {
      & * {
        line-height: normal !important;
      }
      th {
        padding: 1% 2%;
        text-align: left;
        background-color: $primary-dark;
        color: white;
        .ja {
          color: white;
        }

        &.light {
          background-color: $primary;
          text-align: left;
        }

        &:first-child {
          background-color: initial;
          border-top-color: initial;
          border-left-color: initial;
        }

        .shape {
          position: absolute;
          width: 3.5em;

          margin-top: -6.8em;
          z-index: -999;
          &.bill {
            right: 1%;
          }
          &.mai {
            right: 1%;
          }
        }
      }
      ul {
        list-style-type: disc;
      }

      td {
        background-color: #cde0ec;
        padding: 1% 2%;
        vertical-align: middle;
        .ja {
          color: $primary;
        }
        &:first-child {
          min-width: 12em;
          color: white;
          background-color: $primary-dark;
          .ja {
            color: white !important;
          }
        }
      }
    }
  }
}
