@import '../../css/op-hotel-utils';

.html-lesson-wrapper {
  .lesson-number {
    left: 91.6% !important;
  }
  @media screen and (max-width: 500px) {
    .lesson-number {
      left: 91.3% !important;
    }
  }
  .words-phrase-content .pointers .arrow-part {
    width: 95%;
  }
}
