@import '../../css/level1-a-utils';

.html-lesson-wrapper {
  .shape {
    width: 4em;
  }

  .lesson-points {
    width: 88%;
  }

  .try-content {
    ul.desc {
      li {
        line-height: 1.8em;
        margin-bottom: 0;
      }
    }
  }
  .page-1 {
    .see-content {
      .col {
        &:not(:last-child) {
          margin-right: 2em;
        }
      }
    }

    .wrapper {
      .grid.equal {
        margin-top: 1em;
      }
    }

    .act-content {
      .grid {
        grid-template-columns: 1fr 3fr;
      }
    }
  }

  .page-3 {
    .wrapper {
      .grid.equal {
        margin-top: 1em;
        &:first-child {
          margin-top: 2em;
        }
        &:last-child {
          margin-bottom: 1.5em;
        }
      }

      .shape {
        margin-top: 2em;
      }
    }

    .act-content {
      .grid {
        grid-template-columns: 1fr 3fr;
      }
    }
  }
}
