$text-font: 'Trebuchet MS';
$noto-sans: 'Noto Sans', sans-serif;
$primary-blue: #1287cd;
$rank-green: #009c9a;
$primary-dark: #083051;
$primary-light: #cce0ec;
$jap-letter-spacing: -1px;

$subtext-color: #7f8288;

$side-margin: clamp(18px, 5vw, 32px);

$s3: 'https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images';

body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  font-family: $text-font;
  width: 100%;
  min-width: 360px;
  max-width: 604px;
  min-height: 1596px;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url(#{$s3}/0-bg-header.png), url(#{$s3}/0-bg-footer.png);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;

  hr {
    border-top: 1px solid #dbdcdc;
  }

  .m-0 {
    margin: 0;
  }

  .flex {
    display: flex;
  }

  .img-responsive {
    width: 100%;
    height: auto;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  header {
    font-family: $noto-sans;
  }

  .fs-16 {
    font-size: clamp(12px, 2.3vw, 16px);
  }
  .flip-horizontal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .noto-sans {
    font-family: $noto-sans;
  }
  .b {
    font-weight: bold;
  }
  .u-sup {
    border-bottom: solid 1.5px black;
    display: inline-block;
    line-height: clamp(6px, 1.5vw, 14px);
  }
  .u-blue {
    border-bottom: 1px solid $primary-blue;
  }
  .primary-blue {
    color: $primary-blue;
  }
  .program-rank {
    position: absolute;
    color: #ffffff;
    font-size: 0px;
    margin-top: clamp(1px, 1vw, 3px);
    .type {
      padding: clamp(1px, 1vw, 4px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 4px)
        clamp(10px, 3vw, 17px);
      background-color: $primary-blue;
      font-size: clamp(7px, 1.8vw, 12px);
    }
    .level {
      padding: clamp(1px, 1vw, 4px) clamp(20px, 8.4vw, 53px)
        clamp(1px, 1vw, 4px) clamp(10px, 3vw, 33px);
      font-size: clamp(7px, 1.8vw, 12px);
      background: linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -webkit-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -o-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -moz-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      margin-left: -15px;
      width: 100%;
    }
  }
  .lesson-number {
    position: absolute;
    right: 5%;
    text-align: center;
    font-size: clamp(14px, 4vw, 26px);
    color: #ffffff;
  }

  .title-section {
    position: absolute;
    top: clamp(30px, 8vw, 50px);
    background-color: $primary-blue;
    color: white;
    padding: clamp(15px, 2vw, 20px) clamp(25px, 4vw, 30px) clamp(9px, 2vw, 15px);
    width: 100%;
    box-sizing: border-box;
    font-family: $noto-sans;

    .title {
      font-size: clamp(16px, 4vw, 26px);
      padding-bottom: clamp(5px, 2.8vw, 10px);
    }
    .sub-title {
      font-size: clamp(10px, 2.3vw, 15px);
      letter-spacing: $jap-letter-spacing;
    }
  }
  .arrow {
    @extend .b;
    text-transform: uppercase;
    font-size: clamp(12px, 2.3vw, 16px);
    padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: $noto-sans;
  }
  .instructions {
    font-family: $noto-sans;
    position: absolute;
    padding: clamp(0px, 0.01vw, 3px) 0px;
    left: 28%;

    .title {
      font-size: clamp(12px, 3.5vw, 18px);
      color: #141821;
    }
    .sub-title {
      font-size: clamp(9px, 2vw, 13px);
      color: $subtext-color;
      letter-spacing: -0.9px;
    }
  }

  .justify-content-center{
    justify-content: center;
  }

  .w-30{
    width: 30%;
  }

  .w-25{
    width: 25%;
  }

  .w-35{
    width: 35%;
  }

  .w-50{
    width: 50%;
  }

  .w-75{
    width: 75%;
  }

  .w-90{
    width: 90%;
  }

  .full-width{
    width: 100%;
  }

  .width-75{
    width: 75%;
  }

  .flip-image{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .my-1{
    margin: 1em 0;
  }

  .mt-0{
    margin-top: 0 !important;
  }

  .mb-0{
    margin-bottom: 0 !important;
  }

  .mt-1{
    margin-top: 1em;
  }

  .my-0{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .my-2{
    margin: 2em 0;
  }
  .my-3{
    margin: 3em 0;
  }

  .ml-1{
    margin-left: 1em;
  }
  .ml-2{
    margin-left: 2em;
  }
  .ml-3{
    margin-left: 6vw;
  }
  .ml-4{
    margin-left: 4em;
  }
  .ml-5{
    margin-left: 5em;
  }

  .mb-1em{
    margin-bottom: 1em;
  }
  .mb-2em{
    margin-bottom: 2em;
  }
  .mb-3em{
    margin-bottom: 3em;
  }

  .mt-1em{
    margin-top: 1em;
  }

  .mt-2em{
    margin-top: 2em;
  }

  .mt-3em{
    margin-top: 3em;
  }

  .mt-4em{
    margin-top: 4em;
  }

  .mt-5em{
    margin-top: 5em;
  }

  .mr-1em{
    margin-right: 1em;
  }

  .mr-2em{
    margin-right: 2em;
  }

  .mr-3em{
    margin-right: 3em !important;
  }

  .mb-1{
    margin-bottom: 0.5em;
  }

  .position-absolute{
    position: absolute;
  }

  .position-relative{
    position: relative !important;
  }
  
  .flex-wrapper{
    display:flex;
    flex-direction: row;
    max-width: 100%;
    .col{
      display:flex;
      flex-direction: column;
      height:100%;
      position: relative;
      .row{
        position: relative;
        flex-direction: row;
      }
    }
  }

  .align-items-center{
    align-items: center;
    height: 100%;
  }

  .align-items-end{
    align-items:end;
    
  }

  .align-items-start{
    align-items: start;
  }
  
  .puzzle-box{
    border-radius: 3px;
    font-family: $noto-sans;
    font-size: clamp(10px, 1.8vw, 15px) !important;
  }

  .text-info{
    color: $primary-blue;
  }

  .font-bold{
    font-weight: bold;
  }

  .circle-number{
    border-radius: 50%;
    background: #1287cd;
    color: white;
    margin: 0;
    text-align: center;
    width: 1.7em;
    height: 1.7em;
    font-family: "Noto Sans",sans-serif;
    font-size: clamp(11px,3vw,16px);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .square-letter{
    border: 2.5px solid #1287cd;
    color: #1287cd;
    font-family: "Noto Sans",sans-serif;
    width: clamp(11px,4vw,20px);
    height: clamp(11px,4vw,20px);
    line-height: clamp(11px,4vw,20px);
    font-size: clamp(11px,3vw,16px);
    text-align: center;
    font-weight: bold;
  }
  
  .plus-sign{
    margin: 0 .5em;
  }

  .options {
    display: flex;
    justify-content: left;
    font-size: clamp(10px, 3vw, 18px);
    div:last-child {
      display: flex;
      justify-content: center;
    }
    ul {
      list-style: none;
      display: inline;
      text-align: left;
      padding-inline-start: 14px;
      li {
        display: inline-block;
        background-color: #e7f3fa;
        font-weight: bold;
        font-size: clamp(8px, 2vw, 17px);
        padding: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
        margin-left: 10px;
        &.relative {
          position: relative !important;
        }
      }
    }
  }

  .conversation-wrapper{
    font-family: $noto-sans;
    .row{
      display:flex;
      flex-direction: row;
      align-items:center;
      max-height: 100vh;
      max-width: 100%;
      font-size: clamp(12px,2vw,18px);
      position: relative;
      .underline{
        text-decoration: underline;
      }
      
      .convo-row{
        display:flex;
        flex-direction: row;
        position: relative;
        .conversation-number{
          color: $primary-blue;
          font-weight: bold;
          min-width: 1em;
        }
        .letter-answer{
          font-weight: bold;
          width: 15%;
          text-align: center;
          font-size: 2em;
        }
        .convo{
          display:grid;
          .dialogue-row{
            display: inline-flex;
            margin-bottom: 1em;
            .speaker{
              font-weight: bold;
              min-width: 5em;
              text-align: right;
              &:after {
                content: " :";
                margin-right: 0.4em;
              }
            }
            .no-after{
              &:after{
                content: none !important;
                margin-right: 0.4em;
              }
            }
            .text{
              .dialogue{
                word-wrap: break-word;
              }
              .japanese{
                word-wrap: break-word;
                font-size: clamp(8px,1.7vw,13px);
                color: #7f8288;
                letter-spacing: -1px;
                margin-top: 0.5em;
              }
              .answer{
                word-wrap: break-word;
              }
              
            }
          }
        }
      }
      .side-image{
        font-weight: bold;
        color: #2d356b;
        max-width: 100%;
        max-height: 100%;
        position:relative;
        margin-left: auto; 
        margin-right: 0;
        display:flex;
        justify-content: center;
        align-items: center;
        .text{
          position: absolute;
        }
        .rotate-1 {
          margin-bottom: 9px;
          transform: rotate(10deg);
        }
        .rotate-2 {
          transform: rotate(-10deg);
          padding-left: clamp(12px,2.5vw,25px);
        }
      }
    }
  }
  .blue-line {
    width: 15px;
    height: 2px;
    border-bottom: 2px solid $primary-blue;
    margin-bottom: 5px;
  }
  .see-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.see-1 {
      margin-top: clamp(110px, 28vw, 173.2px);
    }

    &.see-2,
    &.see-3 {
      margin-top: clamp(20px, 5vw, 33px);

      & .legend {
        margin-top: clamp(25px, 5vw, 38px);
      }
    }

    .arrow.see {
      @extend .b;
      text-transform: uppercase;
      color: $primary-blue;
      font-size: clamp(12px, 2.3vw, 16px);
      background-image: url(#{$s3}/0-see-arrow.png);
      padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
      background-repeat: no-repeat;
      background-size: contain;
      font-family: $noto-sans;
    }
  }
  .try-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.try-1 {
      margin-top: 32px;
    }
    &.try-2,
    &.try-3 {
      margin-top: 32px;
    }

    .arrow.try {
      color: white;
      background-image: url(#{$s3}/0-try-arrow.png);
    }
  }
  .act-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.act-1 {
      margin-top: 32px;
    }
    &.act-2 {
      margin-top: 32px;
    }

    .arrow.act {
      color: white;
      background-image: url(#{$s3}/0-act-arrow.png);
    }
  }

  .section-1-convo {
    margin-top: 30px;
    width: 100%;
    min-height: clamp(230px, 60vw, 380px);
    position: relative;
    background-position: top, bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(#{$s3}/0-b-14-s1bg.svg);

    .s1-bubble1 {
      .bubble1-text {
        position: absolute;
        margin-top: clamp(61px, 17vw, 100px);
        margin-left: clamp(7px, 3vw, 17px);

        .eng {
          font-weight: bold;
          font-size: clamp(9px, 2vw, 14px);
        }

        .jap {
          font-size: clamp(6px, 1.5vw, 11px);
          color: $subtext-color;
          letter-spacing: $jap-letter-spacing;
        }
      }
    }

    .s1-bubble2 {
      .bubble2-text {
        position: absolute;
        margin-top: clamp(14px, 7vw, 39px);
        margin-left: clamp(151px, 43vw, 260px);

        .eng {
          font-weight: bold;
          font-size: clamp(9px, 2vw, 14px);
        }

        .jap {
          font-size: clamp(6px, 1.5vw, 11px);
          color: $subtext-color;
          letter-spacing: $jap-letter-spacing;
        }
      }
    }

    .s1-bubble3 {
      .bubble3-text {
        position: absolute;
        margin-top: clamp(60px, 17vw, 101px);
        margin-left: clamp(171px, 47vw, 276px);
        font-size: clamp(9px, 2.1vw, 14px);

        .eng {
          font-weight: bold;
          font-size: clamp(8px, 2vw, 14px);
        }

        .jap {
          font-size: clamp(6px, 1.5vw, 11px);
          color: #7f8288;
          letter-spacing: -1px;
        }
      }
    }

    .s1-name {
      span {
        position: absolute;
        left: 11%;
        margin-top: clamp(125px, 36.3vw, 220px);
        border-radius: 7px;
        padding-top: clamp(0.2px, 1vw, 6.5px);
        padding-left: clamp(6px, 2vw, 13.5px);
        padding-bottom: clamp(0.2px, 1vw, 6.5px);
        padding-right: clamp(6px, 2vw, 13.5px);
        background-color: #ffffff;
        font-size: clamp(6px, 2vw, 10px);
        border-style: solid;
        border-color: #d0d2d3;
        border-width: 0.5px;
        color: #2d356b;
      }
    }

    .s2-name {
      span {
        position: absolute;
        color: #2d356b;
        left: 52%;
        margin-top: clamp(118px, 32.3vw, 200px);
        border-radius: 7px;
        padding-top: clamp(0.2px, 1vw, 6.5px);
        padding-left: clamp(6px, 2vw, 13.5px);
        padding-bottom: clamp(0.2px, 1vw, 6.5px);
        padding-right: clamp(6px, 2vw, 13.5px);
        background-color: #ffffff;
        font-size: clamp(6px, 2vw, 10px);
        border-style: solid;
        border-color: #d0d2d3;
        border-width: 0.5px;
      }
    }
  }

  .box-1 {
    font-size: clamp(10px, 2.1vw, 16px);
    background-color: #ffb3b0;
    width: clamp(15px, 20vw, 119px);
    padding-top: clamp(5px, 1.5vw, 9px);
    padding-bottom: clamp(5px, 1.5vw, 9px);
    border-radius: 3px;
    text-align: center;
    font-family: $noto-sans;
  }

  .text-1 {
    font-size: clamp(8px, 1.9vw, 13px);
    color: #7f8288;
    letter-spacing: -1px;
    font-family: 'Noto Sans';
  }

  .box-2 {
    position: absolute;
    width: clamp(65px, 12vw, 80px);
    background: url(#{$s3}/0-b-14-yellowpiece.svg);
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: clamp(20px, 6vw, 74px);
    margin-top: clamp(-1px, 0vw, -1px);
    height: clamp(20px, 5vw, 30px);
    padding-top: clamp(4px, 2.3vw, 6px);
  }

  .box-3 {
    position: absolute;
    width: clamp(117px, 20vw, 149px);
    height: clamp(20px, 5vw, 30px);
    margin-top: clamp(-1px, 0vw, -1px);
    margin-left: clamp(99px, 19vw, 170px);
    background: url(#{$s3}/0-b-14-greenpiece.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: clamp(4px, 2.3vw, 6px);
    text-align: center;
  }

  .text-2 {
    color: $subtext-color;
    font-size: clamp(8px, 1.9vw, 14px);
    letter-spacing: $jap-letter-spacing;
    font-family: $noto-sans;
  }
  .see-2 {
    .section2-content {
      margin-top: clamp(25px, 7vw, 50px);

      margin-left: $side-margin;
      margin-right: $side-margin;

      .section2-first-row {
        .text-with-akiko {
          grid-template-columns: 3fr 70px;
          display: grid;

          .wrapper-with-akiko {
            padding-left: clamp(35px, 11vw, 55px);
          }
        }

        
        .section-2-with-akiko {
          display: grid;
          grid-template-columns: 1fr min-content;
        }

        .f2-c1 {
          display: inline-flex;
          z-index: 32px;
          margin-top: 1.5em;
          font-size: clamp(10px, 2.1vw, 16px);
          font-family: $noto-sans;

          
        }
      }

      .puzzle-text{
        font-family: $noto-sans;
        font-size: clamp(10px, 2.1vw, 16px);
        position: absolute;
        text-align: center;
        justify-content: center;
        font-weight: bold;
      }

      .name{
        font-size: clamp(10px, 2.1vw, 16px);
        text-align: center;
        justify-content: center;
        font-weight: bold;
        margin-top: 0.5em;
        font-family: $noto-sans;
      }

      .puzzle{
        .col:nth-child(1){
          img{
            width: clamp(0em, 15vw, 100%);
          }
          .puzzle-text{
            top:clamp(5px, 1vw, 9px);
            left: clamp(8px,1vw,14px);
          }
        }
        .col:nth-child(2){
          img{
            width: clamp(7.5em,11.5vw,100%);
          }
          .puzzle-text{
            top:clamp(5px, 1vw, 9px);
            left: clamp(3px,5vw,23px);
          }
        }
      }
    }

    .section2-box-content {
      margin-top: clamp(50px, 17vw, 118px);
      font-family: $noto-sans;
      .legend {
        margin-top: clamp(25px, 5vw, 38px);
      }

      .b1-legend {
        width: clamp(72px, 19vw, 85px);
        background: url(#{$s3}/0-b-14-yellowpiece.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: clamp(20px, 4vw, 30px);
        text-align: center;
        padding-top: clamp(0px, 2vw, 8px);
      }
      .b2-legend {
        width: clamp(123px, 29vw, 156px);
        text-align: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-b-14-greenpiece.svg);
        height: clamp(20px, 5vw, 30px);
        padding-top: clamp(2px, 2vw, 8px);
      }

      .legend {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2px;

        & .eng {
          font-size: clamp(10px, 2vw, 16px);
          font-weight: bold;
        }
      }

      .phrase-alts {
        display: grid;
        grid-template-columns: 1fr clamp(175px, 39vw, 280px);
        gap: 7px;

        &.half {
          grid-template-columns: 1fr 1fr;
        }

        .alt-box {
          padding: 15px;
          border: 1px solid $primary-blue;
        }

        .alt {
          display: flex;
          align-items: baseline;
        }

        .alt:not(:last-child) {
          margin-bottom: clamp(10px, 2vw, 20px);
        }

        .choice {
          margin-left: clamp(5px, 1vw, 9px);
          p {
            margin: 0;
            white-space: nowrap;
            font-family: $noto-sans;
          }
        }

        .choice-eng {
          font-size: clamp(10px, 2.5vw, 18px);
        }

        .choice-jap {
          font-size: clamp(6.7px, 2.3vw, 13px);
          letter-spacing: -0.9px;
          color: $subtext-color;
        }

        .number {
          @extend .b;
          border-radius: 50%;
          background: $primary-blue;
          color: white;
          margin: 0;
          text-align: center;
          width: clamp(18px, 4vw, 24px);
          min-width: clamp(18px, 4vw, 24px);
          height: clamp(18px, 4vw, 24px);
          line-height: clamp(18px, 4vw, 24px);
          font-family: $noto-sans;
          font-size: clamp(11px, 3vw, 16px);
          z-index: 1;
        }

        .letter {
          @extend .b;
          border: 2px solid $primary-blue;
          color: $primary-blue;
          font-family: $noto-sans;
          width: clamp(11px, 4vw, 20px);
          height: clamp(11px, 4vw, 20px);
          line-height: clamp(11px, 4vw, 20px);
          font-size: clamp(11px, 3vw, 16px);
          text-align: center;
        }
      }
    }
  }

  .try-1 {
    .try1-content {
      .conversation {
        font-family: 'Noto Sans';
        font-size: clamp(10px, 3vw, 16px);
        margin-top: clamp(6.7px, 7vw, 53px);
        .convo {
          margin-left: 10px;
        }
        .jap {
          color: $subtext-color;
          letter-spacing: $jap-letter-spacing;
          font-size: clamp(6.7px, 2.3vw, 12px);
          margin-left: clamp(58px, 17vw, 98px);
        }
        .jap-under {
          color: $subtext-color;
          letter-spacing: $jap-letter-spacing;
          font-size: clamp(10px, 2.3vw, 16px);
          margin-left: clamp(58px, 17vw, 98px);
        }
        .number {
          color: $primary-blue;
          padding-right: clamp(6.7px, 2.3vw, 20px);
        }
        .You {
          margin-left: clamp(43px, 10vw, 65px);
        }
        .text-under {
          margin-left: clamp(59px, 17vw, 98px);
        }
        .blue-under {
          color: $primary-blue;
          text-decoration: underline;
        }
        .convo1 {
          margin-top: clamp(6px, 7vw, 20px);
        }
        .t1 {
          margin-top: clamp(3px, 1vw, 16px);
          margin-bottom: clamp(6px, 7vw, 50px);
          margin-left: clamp(6px, 5vw, 31px);
          .img1 {
            height: clamp(27px, 37vw, 208px);
            width: clamp(40px, 77vw, 471px);
          }
        }
        .t2 {
          margin-top: clamp(6px, 4vw, 26px);
          margin-bottom: clamp(6px, 15vw, 79px);
          margin-left: clamp(51px, 15vw, 123px);
          .img2 {
            height: clamp(6px, 30vw, 162px);
            width: clamp(6px, 56vw, 264px);
          }
        }
        .t3 {
          margin-top: clamp(6px, 4vw, 33px);
          margin-bottom: clamp(6px, 15vw, 79px);
          margin-left: clamp(6px, 17vw, 123px);
          .img3 {
            height: clamp(6px, 36vw, 192px);
            width: clamp(6px, 54vw, 265px);
          }
        }
        .t4 {
          margin-top: clamp(6px, 7vw, 33px);
          margin-bottom: clamp(6px, 15vw, 79px);
          margin-left: clamp(6px, 22vw, 123px);
          .img4 {
            height: clamp(6px, 35vw, 168px);
            width: clamp(6px, 49vw, 235px);
          }
        }
        .t5 {
          margin-top: clamp(6px, 7vw, 31px);
          margin-bottom: clamp(6px, 15vw, 79px);
          margin-left: clamp(42px, 22vw, 154px);
          .img5 {
            height: clamp(6px, 42vw, 212px);
            width: clamp(6px, 53vw, 189px);
          }
        }
      }
    }
  }
  .see-3 {
    .see-3-content {
      padding-left: clamp(4px, 2vw, 2px);
      margin-top: clamp(30px, 8vw, 50px);
      font-family: $noto-sans;

      .akiko-image {
        width: clamp(70px, 16.3vw, 100px);
        min-height: clamp(70px, 40vw, 100px);
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-D-1-akiko-icon.png);

        .name {
          position: absolute;
          margin-top: clamp(80px, 18vw, 112px);
          margin-left: clamp(25px, 5vw, 34px);
          font-size: clamp(8px, 2.8vw, 18px);
        }
      }

      .nick-image {
        width: clamp(70px, 16.3vw, 100px);
        min-height: clamp(70px, 40vw, 100px);
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-b-14-nick.png);
        margin-left: clamp(254px, 75vw, 422px);
        margin-top: clamp(35px, 9vw, 59px);

        .name {
          position: absolute;
          margin-top: clamp(80px, 18vw, 112px);
          margin-left: clamp(25px, 5vw, 34px);
          font-size: clamp(8px, 2.8vw, 18px);
        }
      }

      .phrase-1 {
        margin-left: clamp(92px, 23vw, 129px);
        margin-bottom: clamp(30px, 4vw, 40px);
        display: absolute;
        display: block;

        .english {
          font-family: $noto-sans;
          width: clamp(126px, 21vw, 170px);
          background-color: #c2e7e5;
          font-size: clamp(11px, 1.8vw, 16px);
          border-radius: 3px;
          padding: clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px);
          font-size: clamp(11px, 2vw, 16px);
        }

        .jap {
          font-size: clamp(8px, 1.9vw, 13px);
          position: absolute;
          color: $subtext-color;
          letter-spacing: $jap-letter-spacing;
        }
      }
      .phrase-2 {
        margin-top: clamp(2px, 5vw, 38px);
        margin-left: clamp(146px, 45vw, 228px);
        margin-bottom: clamp(30px, 14vw, 100px);
        display: absolute;
        display: block;
        .english {
          font-weight: bold;
          font-family: $noto-sans;
          width: clamp(85px,12vw,115px);
          background-color: #ffb2b0;
          font-size: clamp(11px, 2vw, 16px);
          border-radius: 3px;
          padding: clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px);
          font-size: clamp(11px, 1.8vw, 16px);
        }
        .jap {
          font-size: clamp(8px, 1.9vw, 13px);
          position: absolute;
          color: $subtext-color;
          letter-spacing: -3px;
        }
      }

      .phrases-container {
        margin-top: clamp(50px, 16vw, 30px);
      }

      .legend {
        margin-top: clamp(25px, 5vw, 38px);
      }

      .yellow {
        background-color: #c2e7e5;
        font-size: clamp(11px, 1.8vw, 16px);
        border-radius: 3px;
      }
      .blue {
        background-color: #ffb3b0;
        font-size: clamp(11px, 1.8vw, 16px);
        border-radius: 3px;
      }

      .legend {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2px;

        & .eng {
          padding: clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px);
          font-size: clamp(11px, 1.8vw, 16px);
        }
      }

      .phrase-alts {
        display: grid;
        grid-template-columns: 1fr clamp(157px, 39vw, 280px);
        gap: 7px;

        &.half {
          grid-template-columns: 1fr 1fr;
        }

        .alt-box {
          padding: 10px;
          border: 1px solid $primary-blue;
        }

        .alt {
          display: flex;
          align-items: baseline;
        }

        .alt:not(:last-child) {
          margin-bottom: clamp(1px, 0.5vw, 20px);
        }

        .choice {
          margin-left: clamp(5px, 1vw, 9px);
          p {
            margin: 0;
            white-space: nowrap;
            font-family: $noto-sans;
          }
        }

        .choice-eng {
          font-size: clamp(9px, 2.5vw, 18px);
        }

        .choice-jap {
          font-size: clamp(6.7px, 1.8vw, 12px);
          letter-spacing: -0.9px;
          color: $subtext-color;
        }

        .number {
          @extend .b;
          border-radius: 50%;
          background: $primary-blue;
          color: white;
          margin: 0;
          text-align: center;
          width: clamp(18px, 4vw, 24px);
          min-width: clamp(18px, 4vw, 24px);
          height: clamp(18px, 4vw, 24px);
          line-height: clamp(18px, 4vw, 24px);
          font-family: $noto-sans;
          font-size: clamp(11px, 3vw, 16px);
          z-index: 1;
        }

        .letter {
          @extend .b;
          border: 2px solid $primary-blue;
          color: $primary-blue;
          font-family: $noto-sans;
          width: clamp(11px, 4vw, 20px);
          height: clamp(11px, 4vw, 20px);
          line-height: clamp(11px, 4vw, 20px);
          font-size: clamp(11px, 3vw, 16px);
          text-align: center;
        }
      }
    }
  }

  .try-2 {
    .try2-content {
      .flex-wrapper{
        justify-content: end;
        .text{
          display:inherit;
          align-items:center;
          font-size: clamp(12px,2vw,18px);
        }
        .circle-number,.square-letter{
          margin-left: 5px;
        }
      }
    }
  }

  .try-3 {
    .try-3-content {
      .conversation-text {
        margin-left: clamp(18px, 2vw, 12px);
        padding-top: clamp(1px, 1.2vw, 20px);
        margin-bottom: -70px;
        margin-top: clamp(48px, 7vw, 54px);
        font-family: 'Noto Sans';
        .convo-1,
        .convo-2,
        .convo-3,
        .convo-4 {
          padding-bottom: 42px;
          .convo-wrap-akiko {
            padding-bottom: clamp(10px, 1vw, 20px);
            .number-left {
              padding-right: 20px;
              color: #1288cd;
              font-size: clamp(11px, 2.1vw, 18px);
              font-weight: bold;
            }

            .akiko-line-1 {
              font-size: clamp(11px, 2.1vw, 18px);
            }
          }

          .convo-wrap-helen {
            padding-bottom: clamp(10px, 1vw, 20px);
            margin-left: clamp(46px, 10.6vw, 60px);

            .helen-line {
              font-size: clamp(10px, 2.1vw, 18px);
            }
            .text-under {
              margin-left: clamp(40px, 13vw, 47px);
            }
          }

          .convo-wrap-akiko-last {
            padding-bottom: clamp(10px, 3vw, 14px);
            margin-left: clamp(30px, 7vw, 32px);
            .number-left {
              padding-right: 20px;
              color: white;
            }
            .akiko-line-2 {
              font-size: clamp(11px, 2.1vw, 18px);
            }
          }
          .blueline {
            color: $primary-blue;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .act-1 {
    .act-1-content {
      .conversation {
        margin-top: 40px;
        width: clamp(310px, 89vw, 540px);
        min-height: clamp(230px, 60vw, 380px);
        position: relative;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-b-14-ACTbg.svg);

        .bubble {
          margin-left: clamp(152px, 45vw, 274px);
          margin-top: clamp(3px, 5vw, 32px);
          position: absolute;
          font-family: 'Noto Sans';

          .bubble-text {
            .japanese {
              color: $subtext-color;
              font-size: clamp(6px, 2vw, 11px);
              font-weight: normal;
              margin-left: clamp(0px, 0vw, 53px);
              margin-top: clamp(-20px, -1vw, -4px);
            }
            .bold {
              font-weight: bold;
            }
            .row {
              margin-bottom: clamp(2px, 1vw, 20px);
              .You {
                margin-left: clamp(2px, 14vw, 82px);
              }
              p {
                display: inline-block;
                margin: 0px 0px;
                font-size: clamp(9px, 2.3vw, 14px);
                &:first-child {
                  word-wrap: break-word;
                  font-size: clamp(9px, 2.3vw, 14px);
                }
                &:last-child {
                  font-family: $noto-sans;
                }
              }
            }
          }
        }
      }

      .converstation-text {
        width: 106%;
        .convo,
        .convo1,
        .convo2,
        .convo3,
        .convo4,
        .convo5 {
          font-family: $noto-sans;
          margin-bottom: 20px;
          .english {
            font-size: clamp(10px, 2.3vw, 18px);
            margin-left: clamp(15px, 3.5vw, 30px);
          }
          .Nick {
            font-size: clamp(10px, 2.3vw, 18px);
            margin-left: clamp(15px, 3.5vw, 37px);
          }
          .line {
            margin-left: clamp(44px, 8vw, 88px);
            font-size: clamp(10px, 2.3vw, 18px);
          }
          .japanese {
            margin-left: clamp(47px, 10.9vw, 90px);
            font-size: clamp(8px, 1.7vw, 13px);
            color: $subtext-color;
            letter-spacing: $jap-letter-spacing;
          }
        }
      }
    }
  }

  .act-2 {
    .act-2-space {
      margin-bottom: 80px;
    }
  }
}
