@import '../../css/op-new-hires-2-utils';
.html-lesson-wrapper {
  .act-spacer {
    padding-bottom: 10rem;
    @media only screen and (max-width: 767px) {
      padding-bottom: 0;
    }
  }
  ol {
    font-size: clamp(12px, 2vw, 15px);
    li {
      margin-left: -3%;

      @media only screen and (max-width: 801px) {
        margin-left: -3.5%;
      }
      @media only screen and (max-width: 620px) {
        margin-left: -5.5%;
      }
      @media only screen and (max-width: 431px) {
        margin-left: -8%;
      }
      @media only screen and (max-width: 391px) {
        margin-left: -9%;
      }
      @media only screen and (max-width: 375px) {
        margin-left: -10%;
      }
      @media only screen and (max-width: 321px) {
        margin-left: -12%;
      }
    }
  }
  .spacer-2 {
    margin-bottom: 36% !important;
  }
  .ns {
    margin-top: -2%;
  }
  .spacer-2 {
    margin-bottom: 24%;
  }
  footer {
    @media only screen and (max-width: 361px) {
      bottom: -28px;
    }
    @media only screen and (max-width: 321px) {
      bottom: -45px;
    }
    .footer-text {
      @media only screen and (max-width: 767px) {
        bottom: 3px !important;
      }
      @media only screen and (max-width: 671px) {
        bottom: 0px !important;
      }
      @media only screen and (max-width: 429px) {
        bottom: -12px !important;
      }
      @media only screen and (max-width: 391px) {
        bottom: -26px !important;
      }
      @media only screen and (max-width: 361px) {
        bottom: -20px !important;
      }
      @media only screen and (max-width: 376px) {
        bottom: -31px !important;
      }
      @media only screen and (max-width: 375px) {
        bottom: -15px !important;
      }
      @media only screen and (max-width: 321px) {
        bottom: -17px !important;
      }
    }
  }
}
