body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS";
}

.page-1,
.page-2,
.page-3 {
  width: 892px;
  min-height: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
}

.bg {
  position: absolute;
  width: 892.75px;
  height: 1262.5px;
  z-index: -1;
}

.header {
  font-family: "Arial";
}

.b {
  font-weight: bold;
}

.i {
  font-family: italic;
}

.u-sup {
  border-bottom: solid 1.5px black;
  display: inline-block;
  line-height: 14px;
}

.program-rank {
  position: absolute;
  top: 41px;
  left: 62px;
  color: #ffffff;
  font-size: 15px;
}

.program-rank .level {
  margin-left: 25px;
}

.line {
  margin: 0 12px;
}

.title {
  position: absolute;
  top: 80px;
  left: 55px;
  font-size: 27px;
}

.lesson-number {
  position: absolute;
  left: 823px;
  top: 66px;
  font-size: 13px;
  color: #ffffff;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Trebuchet MS";
}

.sub-text {
  font-family: "Arial" !important;
}

.section {
  position: absolute;
  left: -71.5px;
  color: #1f789f;
  font-weight: bold;
  font-size: 15px;
  font-family: "Arial";
}

.section.see {
  top: 13px;
}

.section.try, .section.act {
  top: 0px;
}

.divider {
  color: #d9d9d9;
  font-size: 15px;
  position: relative;
  left: 469px;
}

.divider.d1, .divider.d2 {
  margin-top: 33px;
}

.sub-head {
  position: relative;
  margin-top: 128px;
  left: 47px;
}

.sub-head .subtitle {
  font-family: "Noto Sans JP";
  color: #257a9e;
  font-weight: bold;
  font-size: 15px;
}

.sub-head p {
  margin: 3px auto;
}

.ja {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12.5px;
  font-weight: bold;
  color: #595959;
}

sup {
  font-size: 10px;
  line-height: 16px;
  display: inline-block;
}

/* See */
.see-content {
  position: relative;
  margin-left: 126.5px;
  margin-top: 177px;
  font-size: 15px;
}

.see-content .blue-section {
  background-color: #cce0ec;
  padding-top: 13px;
  padding-left: 18.5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 15px;
}

.see-content p {
  margin: 0 auto;
}

.see-content .col {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 350px;
  margin-right: 35px;
}

.see-content .text {
  line-height: 26px;
  margin-top: 4px;
}

.see-content .example {
  margin-top: 37px;
  margin-left: 18.5px;
}

.see-content .example .conversation {
  line-height: 26px;
  margin-top: 4px;
}

.see-content .example .conversation .row p {
  display: inline-block;
  margin: -0.5px 0px;
}

.see-content .example .conversation .row p:first-child {
  width: 52px;
  word-wrap: break-word;
}

.see-content .example .conversation .row p:last-child {
  max-width: 640px;
}

/* Try */
.try-content {
  position: relative;
  margin-top: 34px;
  margin-left: 126.5px;
  padding-left: 18px;
  font-size: 15px;
}

.try-content .list-title {
  margin-top: 8px;
  margin-bottom: 2px;
}

.try-content .try-content .list-title-2 {
  margin-top: 30px;
  margin-bottom: 2px;
}

.try-content ul {
  margin: 3px 0px 0px 18px;
  padding: 0;
  line-height: 26px;
  list-style-type: decimal;
}

.try-content li {
  padding-left: 13px;
}

.try-content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.try-content .sub-text.mg {
  margin-top: 28px;
}

.try-content .name-1 {
  position: absolute;
  left: 467px;
  top: 37px;
}

.try-content .name-2 {
  position: absolute;
  width: 150px;
  left: 467px;
  top: 194px;
}

.try-content .desc {
  position: absolute;
  top: 36px;
  left: 2px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.try-content .dash-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 18px;
}

.try-content .dash-list li::before {
  display: inline-block;
  content: '-';
  width: 6px;
  margin-right: 4px;
  margin-left: -1em;
}

/* Act */
.act-content {
  position: relative;
  margin-top: 36px;
  margin-left: 126.5px;
  padding-left: 18px;
  font-size: 15px;
}

.act-content ul {
  margin: 3px 0px 0px 18px;
  padding: 0;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 120px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.act-content li {
  padding-right: 50px;
  margin-right: 26px;
  padding-left: 8px;
}

.footer {
  font-size: 9px;
  position: absolute;
  bottom: 43px;
  left: 532px;
}

/* Page 2 */
.page-2 .title {
  top: 72px;
  left: 50px;
}

.page-2 .title .ja {
  font-size: 27px;
  color: #000000;
  font-weight: bold;
  margin-right: 3px;
}

.page-2 .lesson-points {
  margin-top: 16px;
  padding: 2px 0px 0px 47px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 2px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 784px;
  background: #cce0ec;
}

.page-2 .lesson-points.ja {
  color: #257a9e;
  font-size: 12px;
  letter-spacing: 0.1px;
}

.page-2 .lesson-points div p {
  margin: 2px auto;
  line-height: 22px;
}

.page-2 .lesson-points div p:first-child {
  color: #000000;
  font-size: 15px;
}

.page-2 .arrow-part {
  margin-top: 7px;
  margin-left: 125px;
  max-width: 740px;
}

.page-2 .arrow-part .subtitle {
  font-size: 15px;
  color: #000000;
}

.page-2 .arrow-part p {
  margin: 4px auto;
  font-size: 12px;
}

.page-2 .arrow-part p span {
  display: block;
  margin: 5.5px auto;
}

.page-2 .arrow-part div {
  margin-bottom: 30px;
  position: relative;
}

.page-2 .arrow-part div:before {
  content: '';
  position: absolute;
  left: -38px;
  top: 5px;
  width: 0;
  height: 0;
  border-top: 6.5px solid transparent;
  border-bottom: 6.5px solid transparent;
  border-left: 12px solid #257a9e;
  display: inline-block;
  vertical-align: middle;
}

.page-2 .see-content {
  margin-top: 30px;
  margin-left: 125px;
}

.page-2 .see-content .blue-section {
  padding-left: 16px;
  padding-top: 6px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 0px;
}

.page-2 .see-content .sub-text.ja {
  margin-top: 2px;
  font-size: 13px;
}

.page-2 .see-content .text .ja {
  color: #257a9e;
  margin: 4.5px auto;
  line-height: 16px;
}

.page-2 .example {
  margin-top: 30px;
  margin-left: 0px;
}

.page-2 .example .conversation {
  margin-top: 4px;
}

/* Page 3 */
.page-3 .sub-head {
  margin-top: 75px;
}

.page-3 .try-content {
  margin-top: 52px;
  padding-left: 0px;
}

.page-3 .try-content .list-title {
  margin-top: 35px;
}

.page-3 .try-content .list-title-2 {
  margin-top: 36px;
}

.page-3 .try-content .ja, .page-3 .try-content p {
  margin: 0px auto;
}

.page-3 .try-content span:nth-child(-n + 2) {
  display: block;
  margin-bottom: 5px;
}

.page-3 .try-content .wrapper ul {
  list-style: none !important;
  margin: 4px 0px 0px 16px;
  line-height: 25px;
  counter-reset: ulCounter;
}

.page-3 .try-content .wrapper ul li:not(.ja) {
  counter-increment: ulCounter;
  list-style: none;
}

.page-3 .try-content .wrapper ul li:not(.ja):before {
  content: counter(ulCounter) ".";
  position: absolute;
  left: 0px;
}

.page-3 .try-content .wrapper ul li.ja:before {
  content: '';
}

.page-3 .try-content .dash-list p {
  margin-bottom: 0px;
}

.page-3 .try-content .dash-list.name-1 {
  left: 483px;
  top: 76px;
}

.page-3 .try-content .dash-list.name-2 {
  left: 483px;
  top: 346px;
}

.page-3 .try-content .dash-list .desc {
  margin-left: 0px;
  margin-top: 20px;
}

.page-3 .try-content .dash-list .ja {
  margin: 6px auto;
}

.page-3 .try-content .sub-text.mg {
  margin-top: 28px;
}

.page-3 .try-content .sub-text.ja {
  margin-top: 8px;
}

.page-3 .act-content {
  padding-left: 0px;
}

.page-3 .act-content p.ja {
  margin: 6px 0px;
}

.page-3 .act-content ul {
  margin: 18px 0px 0px 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 220px;
}

.page-3 .act-content ul li {
  padding-left: 0px;
  list-style-type: none;
  padding-right: 50px;
  display: inline-block;
  margin-right: 65px;
}
