@import '../../css/_op-cross-culture-utils.scss';

@media screen and (min-width: 900px) {
  .title {
    top: 70px !important;
    width: 80%;
  }
}
@media screen and (max-width: 900px) {
  .see-content .sub-text {
    margin-left: 0px !important;
  }
}
