@import '../../css/level2-utils';

.html-lesson-wrapper {
  aside {
    .text {
      span {
        display: block;
      }
    }
  }
  .act-content {
    table {
      font-size: clamp(7px, 1.6vw, 16px);
      th {
        background-color: #cdb925;
        &:first-of-type {
          background-color: unset;
        }
      }
      td {
        background-color: unset;
        text-align: right;
        &:first-child {
          white-space: nowrap;
          width: 5em;
          text-align: left;
          font-weight: bold;
        }
      }
    }
  }
}
