@import '../../css/level1-B-utils';

.html-lesson-wrapper .arrow-part {
  .light-blue{
   color: #257a9e;
   
  }
 }

 .try-content {
  ul > li > p {
      display: grid;
      grid-template-columns: 0.035fr 1fr;
  }
}

.arrow-part{
  div{
    &:before{
      font-size: clamp(0px, 100%, 8px);
      left: -4em !important;
      top: 0.8em !important;
    }
  }
  
}

.page-3{
  .try-content{
    .wrapper{
      margin-top: 1.5em !important;
    }
  }
  .act-content{
    .wrapper{
      margin-top: 1em !important;
    }
  }
}