@import '../../css/level1-a-utils';

.html-lesson-wrapper {
  ul {
    p {
      margin-left: 1em;
    }
  }

  .sub-text.ja {
    color: $primary;
    &.offset {
      margin-left: 2.3em;
    }
  }

  .page-1 {
    .lesson-list {
      margin-top: 5em;
    }
    figure {
      position: absolute;
      margin-top: 14.8em;
      right: 2em;
      .shape {
        width: 20em;
      }

      .name {
        p {
          display: inline-block;
          &:first-child {
            margin-left: 2em;
          }
          &:last-child {
            margin-left: 10.5em;
          }
        }
      }
    }
  }

  .page-2 {
    .mb {
      margin-bottom: 2em;
      color: $sub-color;
    }
  }

  .page-3 {
    .lesson-number {
      margin-top: -6%;
    }
  }

  .page-2,
  .page-3 {
    li {
      span.ja {
        display: block;
      }
    }
    figure {
      position: absolute;
      margin-top: 30.8em;
      right: 2em;
      .shape {
        width: 21em;
      }

      .name {
        p {
          span {
            display: block;
          }
          display: inline-block;
          &:first-child {
            margin-left: 2em;
          }
          &:last-child {
            margin-left: 10em;
          }
        }
      }
    }
  }

  .lesson-list {
    margin-top: 3em;
    margin-left: 8em;
    font-size: clamp(6px, 1.8vw, 15px);

    ul {
      list-style-type: decimal;
      margin: 0;
      margin-left: 1.4em;
      margin-block: 0;
      padding-inline: 0;
      margin-bottom: 2em;

      &.desc {
        list-style-type: '-';

        li {
          line-height: 1.5em;
          margin-bottom: 5%;
        }
      }

      li {
        padding-inline-start: 1em;
        line-height: 1.8em;
      }
    }
    .arrow {
      display: block;

      &:before {
        content: '';
        position: relative;
        margin-right: 1.3em;
        top: -0.1em;
        width: 0;
        height: 0;
        border-left: 0.4em solid transparent;
        border-right: 0.4em solid transparent;
        border-top: 0.8em solid #000000;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .page-3 {
      .lesson-number {
        margin-top: -7%;
      }
    }
  }
}
