@import '../../css/level4-utils';

.html-lesson-wrapper {
  .table-responsive {
    margin-bottom: 2em;
  }
  table {
    tr {
      td,
      th {
        padding: 1em 0.5em;
      }
      td:first-child {
        background-color: $primary !important;
        color: white;
      }
    }
  }

  .review-content {
    @media screen and (max-width: 362px) {
      &.part-1 {
        margin-top: 27%;
      }
    }
    padding-left: 10em;
    &.part-2,
    &.part-3 {
      margin-top: 3em !important;
    }
  }
}
