body {
  margin: 0;
  padding: 0;
}

.html-material-4e {
  font-family: "Trebuchet MS";
  /* Review Content */
}

.html-material-4e .page-1 {
  width: 892.75px;
  min-height: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url("/images/bg-header.png"), url("/images/04-bg-footer.png");
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.html-material-4e .header {
  font-family: "Arial";
}

.html-material-4e .b {
  font-weight: bold;
}

.html-material-4e .program-rank {
  position: absolute;
  top: 40px;
  left: 48px;
  color: #ffffff;
  font-size: 0px;
}

.html-material-4e .program-rank .type {
  padding: 3px 16px 3px 14px;
  background-color: #2078a0;
  font-size: 15px;
}

.html-material-4e .program-rank .level {
  padding: 3px 12px 3px 13px;
  background-color: #e56a62;
  font-size: 15px;
}

.html-material-4e .line {
  margin: 0 12px;
}

.html-material-4e .title {
  position: absolute;
  top: 80px;
  left: 55px;
  font-size: 27px;
}

.html-material-4e .lesson-number {
  position: absolute;
  min-width: 15px;
  left: 818px;
  top: 66px;
  font-size: 13px;
  text-align: center;
  color: #ffffff;
}

.html-material-4e .sub-text {
  line-height: 22px;
  margin: -17px auto;
  margin-left: 0px;
  width: 695px;
  text-align: justify;
}

.html-material-4e .sub-text:not(:nth-child(2)) {
  margin-top: 30px;
  margin-bottom: 80px;
}

.html-material-4e .section {
  position: relative;
  left: -105px;
  color: #2078a0;
  font-weight: bold;
  font-family: "Arial";
  top: 4px;
}

.html-material-4e .section:not(:first-child) {
  top: 50px;
}

.html-material-4e .review-content {
  position: relative;
  margin-left: 126.5px;
  padding-left: 18.5px;
  padding-right: 42px;
  font-size: 15px;
  margin-top: 245px;
}

.html-material-4e .review-content table {
  margin-top: 50px;
  font-size: 14px;
  border-spacing: 0px;
  padding-bottom: 5px;
  min-width: 700px;
}

.html-material-4e .review-content table th,
.html-material-4e .review-content table td {
  max-width: 120px;
  min-width: 80px;
  word-wrap: break-word;
  border: 1px solid #ffffff;
  height: 60px;
}

.html-material-4e .review-content table th {
  background-color: #2078a0;
  color: #ffffff;
  font-size: 15px;
  padding: 5px;
  border-bottom: 4px solid;
}

.html-material-4e .review-content table td {
  text-align: center;
  padding: 4px;
  background-color: #f2f2f2;
}

.html-material-4e .review-content table td:first-child {
  text-align: left;
  background-color: #2078a0;
  color: #ffffff;
  width: 180px;
  padding-left: 10px;
}

.html-material-4e .footer {
  font-size: 9px;
  position: absolute;
  width: 345px;
  text-align: right;
  bottom: 43px;
  left: 492px;
  font-family: "Arial";
}
