@import '../../css/level1-B-utils';

.html-lesson-wrapper li p {
  margin: 0;
}
.html-lesson-wrapper .page-3 .try-content .wrapper .row .inline-block {
  padding-left: 2%;
}
.html-lesson-wrapper .page-3 .try-content .wrapper .row .ja {
  padding-left: 2%;
}
.html-lesson-wrapper {
  .see-content {
    .example {
      margin-right: 1.5rem;
    }
  }
  .light-blue {
    color: #257a9e;
  }
  .indent {
    margin-left: 5%;
  }
  .w {
    width: 3%;
  }
  .m2 {
    padding-left: 3%;
  }

  .html-lesson-wrapper {
    footer {
      width: 40% !important;
  }
}
  
  .act-content {
    .wrapper {
      margin-right: 1.5rem;
    }
  }
}
