@import '../../css/op-small-talk-level-1-utils';

.html-lesson-wrapper{
    .biz-tip-content{
        line-height: 1.8;
        .pointers{
            margin-left: clamp(75px, 14%, 126.5px);
        }
    }
    .see-content{
        li{
            line-height: 1.8;
        }
    }
    .try-content{
        .space{
            margin-top: 8%;
        }
        li{
            line-height: 1.8;
        }
    }
}
@media screen and (max-width: 320px) {
    .html-lesson-wrapper{
      .footer{
        bottom: 1%;
        background-color: red;
      }
        .biz-tip-content{
            .pointers{
                .no-arrow{
                    margin-left: -9.2% !important;
                }
            }
            
        }
        .act-content{
            .aut{
                margin-left: 46%;
                .no-wrap{
                    white-space: nowrap;
                  font-weight: normal !important;
              }
            }
        }
    }
}
@media screen and (max-width: 400px){
  .html-lesson-wrapper{
    .biz-tip-content{
      .pointers{
          .no-arrow{
              margin-left: -7.2% !important;
          }
      }
      
  }
    .act-content{
      .aut{
        margin-left: 48%;
        .no-wrap{
          margin-left: 10%;
          white-space: nowrap;
          font-weight: normal !important;
        }
    }
  }
}
}

@media screen and (max-width: 900px){
    .html-lesson-wrapper{
        .biz-tip-content{
          .pointers{
              .no-arrow{
                  margin-left: -3.5%;
              }
          }
          
      }
}
}
