@import '../../css/op-restaurant-english-utils';

.html-lesson-wrapper ul {
  margin-left: 3%;
  padding: 0%;
  line-height: 1.8;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  margin-block-start: 0em;
  @media screen and (max-width: 500px) {
    margin-left: 6.5%;
  }
}

.html-lesson-wrapper .lesson-number {
  position: absolute;
  left: 91.5%;
  margin-top: 7.4%;
  font-size: clamp(7px, 1.8vw, 13px);
  color: #ffffff;
}

.html-lesson-wrapper .title {
  width: 21em;
  position: absolute;
  top: 80px;
  left: 48px;
  font-size: clamp(18px, 4vw, 27px);
  text-transform: uppercase;
}

.html-lesson-wrapper .words-phrase-content {
  position: relative;
  margin-top: clamp(87px, 18.6%, 157px);
  padding: 2px 0px 0px 47px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: clamp(10px, 2vw, 20px);
  padding-left: clamp(27px, 6vw, 38px);
  background: #f0d4d4;
  font-size: clamp(12px, 2vw, 15px);
}
