body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  font-family: "Trebuchet MS";
  width: 100%;
  min-width: 360px;
  max-width: 604px;
  min-height: 1596px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-bg-header.svg), url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-bg-footer.svg);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.html-lesson-wrapper hr {
  border-top: 1px solid #dbdcdc;
}
.html-lesson-wrapper .m-0 {
  margin: 0;
}
.html-lesson-wrapper .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.html-lesson-wrapper .img-responsive {
  width: 100%;
  height: auto;
}
.html-lesson-wrapper .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.html-lesson-wrapper header {
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .fs-16 {
  font-size: clamp(12px, 2.3vw, 16px);
}
.html-lesson-wrapper .flip-horizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.html-lesson-wrapper .noto-sans {
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .b, .html-lesson-wrapper .section3-box-content .phrase-alts .letter, .html-lesson-wrapper .section3-box-content .phrase-alts .number, .html-lesson-wrapper .see-3 .section3-content .icon, .html-lesson-wrapper .section2-box-content .phrase-alts .letter, .html-lesson-wrapper .section2-box-content .phrase-alts .number, .html-lesson-wrapper .see-2 .section2-content .icon, .html-lesson-wrapper .see-content .arrow.see, .html-lesson-wrapper .arrow {
  font-weight: bold;
}
.html-lesson-wrapper .u-sup {
  border-bottom: solid 1.5px black;
  display: inline-block;
  line-height: clamp(6px, 1.5vw, 14px);
}
.html-lesson-wrapper .u-blue {
  border-bottom: 1px solid #1287cd;
}
.html-lesson-wrapper .primary-blue {
  color: #1287cd;
}
.html-lesson-wrapper .program-rank {
  position: absolute;
  color: #ffffff;
  font-size: 0px;
  margin-top: clamp(1px, 1vw, 5px);
  width: 69%;
}
.html-lesson-wrapper .program-rank .type {
  padding: clamp(1px, 1vw, 4px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 4px) clamp(10px, 3vw, 17px);
  background-color: #1287cd;
  font-size: clamp(7px, 1.8vw, 12px);
}
.html-lesson-wrapper .program-rank .level {
  padding: clamp(1px, 1vw, 4px) clamp(20px, 8.4vw, 53px) clamp(1px, 1vw, 4px) clamp(10px, 3vw, 33px);
  font-size: clamp(7px, 1.8vw, 12px);
  background: linear-gradient(125deg, #1287cd 6%, rgba(0, 0, 0, 0) 0%), linear-gradient(125deg, #009c9a 90%, rgba(0, 0, 0, 0) 0%);
  background: -moz-linear-gradient(125deg, #1287cd 6%, rgba(0, 0, 0, 0) 0%), linear-gradient(125deg, #009c9a 90%, rgba(0, 0, 0, 0) 0%);
  margin-left: -15px;
  width: 100%;
}
.html-lesson-wrapper .lesson-number {
  position: absolute;
  right: 5%;
  text-align: center;
  font-size: clamp(14px, 4vw, 26px);
  color: #ffffff;
  top: 5px;
}
.html-lesson-wrapper .title-section {
  position: absolute;
  top: clamp(30px, 8vw, 50px);
  background-color: #1287cd;
  color: white;
  padding: clamp(15px, 2vw, 20px) clamp(25px, 4vw, 30px) clamp(9px, 2vw, 15px);
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.html-lesson-wrapper .title-section .title {
  font-size: clamp(16px, 4vw, 26px);
  padding-bottom: clamp(5px, 2.8vw, 10px);
}
.html-lesson-wrapper .title-section .sub-title {
  font-size: clamp(10px, 2.3vw, 15px);
  letter-spacing: -1px;
}
.html-lesson-wrapper .arrow {
  text-transform: uppercase;
  font-size: clamp(12px, 2.3vw, 16px);
  padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .instructions {
  font-size: clamp(9px, 2.9vw, 18px);
  font-family: "Noto Sans", sans-serif;
  position: absolute;
  padding: clamp(0px, 0.01vw, 3px) 0px;
  left: 27%;
}
.html-lesson-wrapper .instructions .title {
  font-size: clamp(12px, 3.5vw, 18px) !important;
  color: #141821;
}
.html-lesson-wrapper .instructions .sub-title {
  font-size: clamp(9px, 2vw, 13px);
  color: #7f8288;
  letter-spacing: 0px;
}
.html-lesson-wrapper .justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.html-lesson-wrapper .w-30 {
  width: 30%;
}
.html-lesson-wrapper .w-25 {
  width: 25%;
}
.html-lesson-wrapper .w-35 {
  width: 35%;
}
.html-lesson-wrapper .w-50 {
  width: 50%;
}
.html-lesson-wrapper .w-65 {
  width: 65%;
}
.html-lesson-wrapper .w-75 {
  width: 75%;
}
.html-lesson-wrapper .w-90 {
  width: 90%;
}
.html-lesson-wrapper .full-width {
  width: 100%;
}
.html-lesson-wrapper .flip-image {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.html-lesson-wrapper .my-1 {
  margin: 1em 0;
}
.html-lesson-wrapper .mt-0 {
  margin-top: 0 !important;
}
.html-lesson-wrapper .mb-0 {
  margin-bottom: 0 !important;
}
.html-lesson-wrapper .mt-1 {
  margin-top: 1em;
}
.html-lesson-wrapper .my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.html-lesson-wrapper .my-2 {
  margin: 2em 0;
}
.html-lesson-wrapper .my-3 {
  margin: 3em 0;
}
.html-lesson-wrapper .ml-1 {
  margin-left: 1em;
}
.html-lesson-wrapper .ml-2 {
  margin-left: 2em;
}
.html-lesson-wrapper .ml-3 {
  margin-left: 6vw;
}
.html-lesson-wrapper .ml-4 {
  margin-left: 4em;
}
.html-lesson-wrapper .ml-5 {
  margin-left: 5em;
}
.html-lesson-wrapper .mb-1 {
  margin-bottom: 0.5em;
}
.html-lesson-wrapper .mb-1em {
  margin-bottom: 1em;
}
.html-lesson-wrapper .mb-2em {
  margin-bottom: 2em;
}
.html-lesson-wrapper .mb-3em {
  margin-bottom: 3em;
}
.html-lesson-wrapper .mt-1em {
  margin-top: 1em;
}
.html-lesson-wrapper .mt-2em {
  margin-top: 2em;
}
.html-lesson-wrapper .mt-3em {
  margin-top: 3em;
}
.html-lesson-wrapper .mt-4em {
  margin-top: 4em;
}
.html-lesson-wrapper .mt-5em {
  margin-top: 5em;
}
.html-lesson-wrapper .position-absolute {
  position: absolute;
}
.html-lesson-wrapper .position-relative {
  position: relative !important;
}
.html-lesson-wrapper .flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 100%;
}
.html-lesson-wrapper .flex-wrapper .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative;
}
.html-lesson-wrapper .flex-wrapper .col .row {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.html-lesson-wrapper .align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.html-lesson-wrapper .align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.html-lesson-wrapper .align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.html-lesson-wrapper .puzzle-box {
  border-radius: 3px;
  font-family: "Noto Sans", sans-serif !important;
  font-size: clamp(9px, 1.8vw, 15px) !important;
}
.html-lesson-wrapper .text-info {
  color: #1287cd;
}
.html-lesson-wrapper .font-bold {
  font-weight: bold;
}
.html-lesson-wrapper .circle-number {
  border-radius: 50%;
  background: #1287cd;
  color: white;
  margin: 0;
  text-align: center;
  width: 1.7em;
  height: 1.7em;
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(11px, 3vw, 16px);
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.html-lesson-wrapper .square-letter {
  border: 2.5px solid #1287cd;
  color: #1287cd;
  font-family: "Noto Sans", sans-serif;
  width: clamp(11px, 4vw, 20px);
  height: clamp(11px, 4vw, 20px);
  line-height: clamp(11px, 4vw, 20px);
  font-size: clamp(11px, 3vw, 16px);
  text-align: center;
  font-weight: bold;
}
.html-lesson-wrapper .plus-sign {
  margin: 0 0.5em;
}
.html-lesson-wrapper .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-size: clamp(10px, 3vw, 18px);
}
.html-lesson-wrapper .options div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.html-lesson-wrapper .options ul {
  list-style: none;
  display: inline;
  text-align: left;
  -webkit-padding-start: 14px;
          padding-inline-start: 14px;
}
.html-lesson-wrapper .options ul li {
  display: inline-block;
  background-color: #e7f3fa;
  font-weight: bold;
  font-size: clamp(8px, 2vw, 17px);
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 10px;
}
.html-lesson-wrapper .options ul li.relative {
  position: relative !important;
}
.html-lesson-wrapper .conversation-wrapper {
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .conversation-wrapper .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100vh;
  max-width: 100%;
  font-size: clamp(12px, 2vw, 18px);
  position: relative;
}
.html-lesson-wrapper .conversation-wrapper .row .underline {
  text-decoration: underline;
}
.html-lesson-wrapper .conversation-wrapper .row .convo-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}
.html-lesson-wrapper .conversation-wrapper .row .convo-row .conversation-number {
  line-height: 1.5em;
  color: #1287cd;
  font-weight: bold;
  min-width: 1em;
}
.html-lesson-wrapper .conversation-wrapper .row .convo-row .letter-answer {
  line-height: 1.5em;
  font-weight: bold;
  width: 15%;
  text-align: center;
  font-size: 2em;
}
.html-lesson-wrapper .conversation-wrapper .row .convo-row .convo {
  display: grid;
}
.html-lesson-wrapper .conversation-wrapper .row .convo-row .convo .dialogue-row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 1em;
}
.html-lesson-wrapper .conversation-wrapper .row .convo-row .convo .dialogue-row .speaker {
  line-height: 1.5em;
  font-weight: bold;
  min-width: 5em;
  text-align: right;
}
.html-lesson-wrapper .conversation-wrapper .row .convo-row .convo .dialogue-row .speaker:after {
  content: " :";
  margin-right: 0.4em;
}
.html-lesson-wrapper .conversation-wrapper .row .convo-row .convo .dialogue-row .no-after:after {
  content: none !important;
  margin-right: 0.4em;
}
.html-lesson-wrapper .conversation-wrapper .row .convo-row .convo .dialogue-row .text .dialogue {
  word-wrap: break-word;
  line-height: 1.5em;
}
.html-lesson-wrapper .conversation-wrapper .row .convo-row .convo .dialogue-row .text .japanese {
  word-wrap: break-word;
  font-size: clamp(8px, 1.7vw, 13px);
  color: #7f8288;
  letter-spacing: -1px;
  margin-top: 0.5em;
}
.html-lesson-wrapper .conversation-wrapper .row .convo-row .convo .dialogue-row .text .answer {
  line-height: 1.5em;
  word-wrap: break-word;
}
.html-lesson-wrapper .conversation-wrapper .row .side-image {
  font-weight: bold;
  color: #2d356b;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.html-lesson-wrapper .conversation-wrapper .row .side-image .text {
  position: absolute;
}
.html-lesson-wrapper .conversation-wrapper .row .side-image .rotate-1 {
  margin-bottom: 9px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}
.html-lesson-wrapper .conversation-wrapper .row .side-image .rotate-2 {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  padding-left: clamp(12px, 2.5vw, 25px);
}
.html-lesson-wrapper .blue-line {
  width: 15px;
  height: 2px;
  border-bottom: 2px solid #1287cd;
  margin-bottom: 5px;
}
.html-lesson-wrapper .see-content {
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
}
.html-lesson-wrapper .see-content.see-1 {
  margin-top: clamp(128px, 28vw, 173.2px);
}
.html-lesson-wrapper .see-content.see-2, .html-lesson-wrapper .see-content.see-3 {
  margin-top: clamp(20px, 5vw, 33px);
}
.html-lesson-wrapper .see-content.see-2 .legend, .html-lesson-wrapper .see-content.see-3 .legend {
  margin-top: clamp(25px, 5vw, 38px);
}
.html-lesson-wrapper .see-content .arrow.see {
  text-transform: uppercase;
  color: #1287cd;
  font-size: clamp(12px, 2.3vw, 16px);
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-see-arrow.svg);
  padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .try-content {
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
}
.html-lesson-wrapper .try-content.try-1 {
  margin-top: 32px;
}
.html-lesson-wrapper .try-content.try-2, .html-lesson-wrapper .try-content.try-3 {
  margin-top: 32px;
}
.html-lesson-wrapper .try-content .arrow.try {
  color: white;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-try-arrow.svg);
}
.html-lesson-wrapper .act-content {
  margin-left: clamp(10px, 5vw, 23px);
  margin-right: clamp(18px, 5vw, 32px);
}
.html-lesson-wrapper .act-content.act-1 {
  margin-top: 32px;
}
.html-lesson-wrapper .act-content.act-2 {
  margin-top: 32px;
}
.html-lesson-wrapper .act-content .arrow.act {
  color: white;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-act-arrow.svg);
}
.html-lesson-wrapper .section-1-convo {
  margin-top: clamp(30px, 30vw, 30px);
  width: 100%;
  min-height: clamp(230px, 60vw, 380px);
  position: relative;
  background-position: top, bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-b-16-s1bg.svg);
}
.html-lesson-wrapper .section-1-convo .s1-bubble1 .bubble1-text {
  position: absolute;
  display: block;
  margin-top: clamp(28px, 8vw, 42px);
  left: clamp(38px, 10vw, 80px);
}
.html-lesson-wrapper .section-1-convo .s1-bubble1 .bubble1-text .eng {
  font-weight: bold;
  font-size: clamp(10px, 2.2vw, 14px);
}
.html-lesson-wrapper .section-1-convo .s1-bubble1 .bubble1-text .jap {
  font-size: clamp(8px, 2.2vw, 11px);
  color: #7f8288;
  letter-spacing: -1px;
}
.html-lesson-wrapper .section-1-convo .bubble2-text {
  margin-left: clamp(62px, 27vw, 178px);
  position: absolute;
  margin-top: clamp(72px, 19vw, 122px);
}
.html-lesson-wrapper .section-1-convo .bubble2-text .eng {
  font-weight: bold;
  font-size: clamp(10px, 2.3vw, 14px);
}
.html-lesson-wrapper .section-1-convo .bubble2-text .eng-sub {
  font-weight: bold;
  font-size: clamp(10px, 2.3vw, 14px);
}
.html-lesson-wrapper .section-1-convo .bubble2-text .jap {
  font-size: clamp(8px, 2.1vw, 11px);
  color: #7f8288;
  letter-spacing: -1px;
}
.html-lesson-wrapper .see-2 .section2-content {
  margin-top: clamp(20px, 7vw, 50px);
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .see-2 .section2-content .section2-first-row .text-with-akiko {
  grid-template-columns: 3fr 70px;
  display: grid;
  margin-left: clamp(4px, 3vw, 55px);
}
.html-lesson-wrapper .see-2 .section2-content .section2-first-row .text-with-akiko .wrapper-with-akiko {
  margin-top: clamp(-22px, -6.7vw, -44px);
}
.html-lesson-wrapper .see-2 .section2-content .section2-first-row .text-with-akiko .wrapper-with-akiko .box-1 {
  width: clamp(92px, 16vw, 131px);
  background: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-b-16-yellowpiece.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: clamp(16px, 5vw, 27px);
  text-align: center;
  position: absolute;
  padding-top: clamp(2px, 1.2vw, 8px);
  margin-left: clamp(0px, 3vw, 15px);
  font-size: clamp(10px, 2vw, 16px);
  margin-top: clamp(10px, 7vw, 23px);
  font-family: "Noto Sans";
}
.html-lesson-wrapper .see-2 .section2-content .section2-first-row .text-1 {
  font-size: clamp(8px, 1.9vw, 13px);
  position: absolute;
  margin-top: clamp(-18px, -1.6vw, -5px);
  color: #7f8288;
  letter-spacing: -1px;
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .see-2 .section2-content .section2-first-row .section-2-with-akiko {
  display: grid;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
}
.html-lesson-wrapper .see-2 .section2-content .section2-first-row .f2-c1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 32px;
  margin-top: clamp(60px, 20vw, 60px);
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(10px, 2vw, 16px);
}
.html-lesson-wrapper .see-2 .section2-content .section2-first-row .f2-c1 .box-2 {
  width: clamp(114px, 34vw, 192px);
  background: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-b-16-pink.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: clamp(16px, 5vw, 31px);
  text-align: center;
  padding-top: clamp(2px, 2vw, 6px);
  margin-left: clamp(0px, 3vw, 15px);
}
.html-lesson-wrapper .see-2 .section2-content .section2-first-row .f2-c1 .box-2 div {
  margin-top: 3%;
}
.html-lesson-wrapper .see-2 .section2-content .section2-first-row .f2-c1 .box-3 {
  width: clamp(87px, 22vw, 130px);
  margin-left: clamp(0px, 1vw, 7px);
  background: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-b-16-greenpiece.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: clamp(16px, 5vw, 31px);
  padding-top: clamp(2px, 2vw, 6px);
  text-align: center;
}
.html-lesson-wrapper .see-2 .section2-content .section2-first-row .f2-c1 .box-3 div {
  margin-top: 3%;
}
.html-lesson-wrapper .see-2 .section2-content .section2-first-row .f2-c1 .text-2 {
  position: absolute;
  margin-top: clamp(25px, 7vw, 41px);
  color: #7f8288;
  font-size: clamp(8px, 1.9vw, 11px);
  letter-spacing: -1px;
  font-family: "Noto Sans";
  margin-left: clamp(11px, 1vw, 13px);
}
.html-lesson-wrapper .see-2 .section2-content .icon {
  position: absolute;
  font-size: clamp(10px, 2vw, 14px);
  margin-top: clamp(4px, 1vw, 14px);
}
.html-lesson-wrapper .see-2 .section2-content .icon img {
  height: clamp(71px, 19vw, 100px);
  width: auto;
}
.html-lesson-wrapper .see-2 .section2-content .icon div {
  margin-top: clamp(8px, 2vw, 9px);
  margin-left: clamp(23px, 5.8vw, 36px);
}
.html-lesson-wrapper .section2-box-content {
  margin-top: clamp(65px, 33vw, 91px);
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .section2-box-content .legend {
  margin-top: clamp(65px, 33vw, 91px);
}
.html-lesson-wrapper .section2-box-content .b1-legend {
  width: clamp(123px, 17vw, 138px);
  background: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-b-16-yellowpiece.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: clamp(21px, 4vw, 29px);
}
.html-lesson-wrapper .section2-box-content .b2-legend {
  width: clamp(176px, 24vw, 193px);
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-b-16-pink.svg);
  height: clamp(21px, 4vw, 29px);
}
.html-lesson-wrapper .section2-box-content .legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2px;
}
.html-lesson-wrapper .section2-box-content .legend .eng {
  padding-top: clamp(4px, 5vw, 9px);
  font-size: clamp(11px, 1.8vw, 16px);
}
.html-lesson-wrapper .section2-box-content .phrase-alts {
  display: grid;
  grid-template-columns: 2fr clamp(100px, 50vw, 283px);
  gap: 7px;
}
.html-lesson-wrapper .section2-box-content .phrase-alts.half {
  grid-template-columns: 1fr 1fr;
}
.html-lesson-wrapper .section2-box-content .phrase-alts .alt-box {
  padding: 15px;
  border: 1px solid #1287cd;
  background-color: #e7f3fa;
}
.html-lesson-wrapper .section2-box-content .phrase-alts .alt-box1 {
  padding: 15px;
  border: 1px solid #1287cd;
}
.html-lesson-wrapper .section2-box-content .phrase-alts .alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.html-lesson-wrapper .section2-box-content .phrase-alts .alt:not(:last-child) {
  margin-bottom: clamp(10px, 2vw, 20px);
}
.html-lesson-wrapper .section2-box-content .phrase-alts .choice {
  margin-left: clamp(5px, 1vw, 9px);
}
.html-lesson-wrapper .section2-box-content .phrase-alts .choice p {
  margin: 0;
  white-space: nowrap;
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .section2-box-content .phrase-alts .choice-eng {
  font-size: clamp(10px, 2.5vw, 18px);
}
.html-lesson-wrapper .section2-box-content .phrase-alts .choice-jap {
  font-size: clamp(6.7px, 2.3vw, 13px);
  letter-spacing: 0px;
  color: #7f8288;
}
.html-lesson-wrapper .section2-box-content .phrase-alts .number {
  border-radius: 50%;
  background: #1287cd;
  color: white;
  margin: 0;
  text-align: center;
  width: clamp(18px, 4vw, 24px);
  min-width: clamp(18px, 4vw, 24px);
  height: clamp(18px, 4vw, 24px);
  line-height: clamp(18px, 4vw, 24px);
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(11px, 3vw, 16px);
  z-index: 1;
}
.html-lesson-wrapper .section2-box-content .phrase-alts .letter {
  border: 2px solid #1287cd;
  background: white;
  color: #1287cd;
  font-family: "Noto Sans", sans-serif;
  width: clamp(11px, 4vw, 20px);
  height: clamp(11px, 4vw, 20px);
  line-height: clamp(11px, 4vw, 20px);
  font-size: clamp(11px, 3vw, 16px);
  text-align: center;
}
.html-lesson-wrapper .try-1 .try1-content {
  font-size: clamp(12px, 2vw, 18px);
}
.html-lesson-wrapper .try-1 .try1-content .col:nth-child(2) {
  width: clamp(29%, 9vw, 100%);
}
.html-lesson-wrapper .try-2 .conversation-text {
  margin-top: clamp(48px, 6vw, 86px);
  margin-left: clamp(-28px, -1vw, -21px);
  font-family: "Noto Sans";
  font-size: clamp(11px, 3vw, 18px);
}
.html-lesson-wrapper .try-2 .conversation-text .calen {
  margin-top: clamp(-20px, -3vw, -8px);
  margin-left: clamp(102px, 10vw, 141px);
  padding-bottom: clamp(0px, 10vw, 90px);
}
.html-lesson-wrapper .try-2 .conversation-text .calen .img1 {
  height: clamp(163px, 21vw, 319px);
  width: clamp(187px, 30vw, 374px);
}
.html-lesson-wrapper .try-2 .conversation-text .convo-1 .row,
.html-lesson-wrapper .try-2 .conversation-text .convo-2 .row,
.html-lesson-wrapper .try-2 .conversation-text .convo-3 .row,
.html-lesson-wrapper .try-2 .conversation-text .convo-4 .row,
.html-lesson-wrapper .try-2 .conversation-text .convo-5 .row,
.html-lesson-wrapper .try-2 .conversation-text .convo-6 .row {
  margin-bottom: clamp(2px, 1vw, 20px);
}
.html-lesson-wrapper .try-2 .conversation-text .convo-1 .row .You,
.html-lesson-wrapper .try-2 .conversation-text .convo-2 .row .You,
.html-lesson-wrapper .try-2 .conversation-text .convo-3 .row .You,
.html-lesson-wrapper .try-2 .conversation-text .convo-4 .row .You,
.html-lesson-wrapper .try-2 .conversation-text .convo-5 .row .You,
.html-lesson-wrapper .try-2 .conversation-text .convo-6 .row .You {
  margin-left: clamp(2px, 14vw, 82px);
}
.html-lesson-wrapper .try-2 .conversation-text .convo-1 .row p,
.html-lesson-wrapper .try-2 .conversation-text .convo-2 .row p,
.html-lesson-wrapper .try-2 .conversation-text .convo-3 .row p,
.html-lesson-wrapper .try-2 .conversation-text .convo-4 .row p,
.html-lesson-wrapper .try-2 .conversation-text .convo-5 .row p,
.html-lesson-wrapper .try-2 .conversation-text .convo-6 .row p {
  display: inline-block;
  margin-top: clamp(-19px, -3.2vw, 1px);
  margin-left: clamp(15px, 2vw, 23px);
}
.html-lesson-wrapper .try-2 .conversation-text .convo-1 .row p:first-child,
.html-lesson-wrapper .try-2 .conversation-text .convo-2 .row p:first-child,
.html-lesson-wrapper .try-2 .conversation-text .convo-3 .row p:first-child,
.html-lesson-wrapper .try-2 .conversation-text .convo-4 .row p:first-child,
.html-lesson-wrapper .try-2 .conversation-text .convo-5 .row p:first-child,
.html-lesson-wrapper .try-2 .conversation-text .convo-6 .row p:first-child {
  word-wrap: break-word;
  font-weight: bold;
  margin-bottom: 20px;
}
.html-lesson-wrapper .try-2 .conversation-text .convo-1 .row p:last-child,
.html-lesson-wrapper .try-2 .conversation-text .convo-2 .row p:last-child,
.html-lesson-wrapper .try-2 .conversation-text .convo-3 .row p:last-child,
.html-lesson-wrapper .try-2 .conversation-text .convo-4 .row p:last-child,
.html-lesson-wrapper .try-2 .conversation-text .convo-5 .row p:last-child,
.html-lesson-wrapper .try-2 .conversation-text .convo-6 .row p:last-child {
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .try-2 .conversation-text .blue {
  color: #1287cd;
  text-decoration: underline;
}
.html-lesson-wrapper .try-2 .conversation-text .num {
  color: #1287cd;
  font-weight: bold;
}
.html-lesson-wrapper .try-2 .conversation-text .convo-wrap-akiko .akiko-line-1 {
  margin-top: 30px;
  margin-left: clamp(20px, 2.2vw, 21px);
}
.html-lesson-wrapper .try-2 .conversation-text .convo-wrap-akiko .calen {
  height: clamp(170px, 1.2vw, 100px);
  margin-left: clamp(130px, 1.2vw, 20px);
  margin-right: clamp(200px, 1.2vw, 100px);
  width: clamp(158px, 1.5vw, 121px);
  padding-top: clamp(10px, 1.5vw, 93px);
}
.html-lesson-wrapper .try-2 .conversation-text .convo-wrap-helen {
  margin-bottom: 30px;
  margin-left: 50px;
}
.html-lesson-wrapper .try-2 .conversation-text .convo-wrap-helen .text-under {
  margin-left: clamp(29px, 1.2vw, 41px);
}
.html-lesson-wrapper .try-2 .conversation-text .convo-wrap-helen .underline {
  color: #1287cd;
  text-decoration: underline;
}
.html-lesson-wrapper .try-2 .conversation-text .convo-wrap-helen .underline1 {
  color: #1287cd;
  text-decoration: underline;
  margin-left: 39px;
}
.html-lesson-wrapper .see-3 .section3-content {
  margin-top: clamp(20px, 7vw, 50px);
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
}
.html-lesson-wrapper .see-3 .section3-content .section3-first-row .text-with-akiko {
  grid-template-columns: 3fr 410px;
  display: grid;
  margin-left: clamp(-17px, -1vw, -33px);
}
.html-lesson-wrapper .see-3 .section3-content .section3-first-row .text-with-akiko .wrapper-with-akiko {
  margin-top: clamp(-22px, -6.7vw, -44px);
}
.html-lesson-wrapper .see-3 .section3-content .section3-first-row .text-1 {
  font-size: clamp(8px, 1.9vw, 13px);
  position: absolute;
  margin-top: clamp(-18px, -1.6vw, -5px);
  color: #7f8288;
  letter-spacing: -1px;
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .see-3 .section3-content .section3-first-row .section-3-with-akiko {
  display: grid;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
}
.html-lesson-wrapper .see-3 .section3-content .section3-first-row .f2-c1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 32px;
  margin-top: clamp(46px, 11vw, 35px);
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(10px, 2vw, 16px);
}
.html-lesson-wrapper .see-3 .section3-content .section3-first-row .f2-c1 .box-2 {
  width: clamp(88px, 24vw, 139px);
  background: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-b-16-see3pink.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: clamp(18px, 4vw, 31px);
  text-align: center;
  padding-top: clamp(2px, 1vw, 6px);
  margin-left: clamp(0px, 2vw, 15px);
}
.html-lesson-wrapper .see-3 .section3-content .section3-first-row .f2-c1 .box-2 div {
  margin-top: 3%;
}
.html-lesson-wrapper .see-3 .section3-content .section3-first-row .f2-c1 .box-3 {
  width: clamp(170px, 32vw, 239px);
  margin-left: clamp(0px, 1vw, 7px);
  background: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-b-16-lightblue.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: clamp(17px, 4vw, 31px);
  padding-top: clamp(2px, 2vw, 6px);
  text-align: center;
}
.html-lesson-wrapper .see-3 .section3-content .section3-first-row .f2-c1 .box-3 div {
  margin-top: 3%;
}
.html-lesson-wrapper .see-3 .section3-content .section3-first-row .f2-c1 .text-2 {
  position: absolute;
  margin-top: clamp(25px, 7vw, 41px);
  color: #7f8288;
  font-size: clamp(8px, 1.9vw, 11px);
  letter-spacing: -1px;
  font-family: "Noto Sans";
  margin-left: clamp(0px, 2vw, 13px);
}
.html-lesson-wrapper .see-3 .section3-content .icon {
  font-size: clamp(10px, 2vw, 14px);
  margin-top: clamp(0px, -5vw, -16px);
}
.html-lesson-wrapper .see-3 .section3-content .icon img {
  height: clamp(71px, 19vw, 100px);
  width: auto;
}
.html-lesson-wrapper .see-3 .section3-content .icon div {
  margin-top: clamp(8px, 2vw, 9px);
  margin-left: clamp(23px, 5.8vw, 36px);
}
.html-lesson-wrapper .section3-box-content {
  margin-top: clamp(27px, 9vw, 91px);
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .section3-box-content .legend {
  margin-top: clamp(65px, 33vw, 91px);
}
.html-lesson-wrapper .section3-box-content .b1-legend {
  width: clamp(107px, 19vw, 138px);
  background: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-b-16-see3pink.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: clamp(11px, 6vw, 29px);
}
.html-lesson-wrapper .section3-box-content .b2-legend {
  width: clamp(170px, 32vw, 239px);
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-b-16-lightblue.svg);
  height: clamp(11px, 6vw, 29px);
}
.html-lesson-wrapper .section3-box-content .legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2px;
}
.html-lesson-wrapper .section3-box-content .legend .eng {
  padding-top: clamp(2px, 1vw, 9px);
  font-size: clamp(11px, 2vw, 16px);
}
.html-lesson-wrapper .section3-box-content .phrase-alts {
  display: grid;
  grid-template-columns: 1fr clamp(190px, 39vw, 280px);
  gap: 7px;
}
.html-lesson-wrapper .section3-box-content .phrase-alts.half {
  grid-template-columns: 1fr 1fr;
}
.html-lesson-wrapper .section3-box-content .phrase-alts .alt-box {
  padding: 15px;
  border: 1px solid #1287cd;
}
.html-lesson-wrapper .section3-box-content .phrase-alts .alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.html-lesson-wrapper .section3-box-content .phrase-alts .alt:not(:last-child) {
  margin-bottom: clamp(10px, 2vw, 20px);
}
.html-lesson-wrapper .section3-box-content .phrase-alts .choice {
  margin-left: clamp(5px, 1vw, 9px);
}
.html-lesson-wrapper .section3-box-content .phrase-alts .choice p {
  margin: 0;
  white-space: nowrap;
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .section3-box-content .phrase-alts .choice-eng {
  font-size: clamp(10px, 2.5vw, 18px);
}
.html-lesson-wrapper .section3-box-content .phrase-alts .choice-jap {
  font-size: clamp(6.7px, 2.3vw, 13px);
  letter-spacing: 0px;
  color: #7f8288;
}
.html-lesson-wrapper .section3-box-content .phrase-alts .number {
  border-radius: 50%;
  background: #1287cd;
  color: white;
  margin: 0;
  text-align: center;
  width: clamp(18px, 4vw, 24px);
  min-width: clamp(18px, 4vw, 24px);
  height: clamp(18px, 4vw, 24px);
  line-height: clamp(18px, 4vw, 24px);
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(11px, 3vw, 16px);
  z-index: 1;
}
.html-lesson-wrapper .section3-box-content .phrase-alts .letter {
  border: 2px solid #1287cd;
  color: #1287cd;
  font-family: "Noto Sans", sans-serif;
  width: clamp(11px, 4vw, 20px);
  height: clamp(11px, 4vw, 20px);
  line-height: clamp(11px, 4vw, 20px);
  font-size: clamp(11px, 3vw, 16px);
  text-align: center;
}
.html-lesson-wrapper .try-3 .try-3-content .pt1 {
  margin-left: clamp(100px, 20vw, 145px);
  margin-top: clamp(0px, 10vw, 54px);
  padding-bottom: clamp(0px, 3vw, 46px);
}
.html-lesson-wrapper .try-3 .try-3-content .pt1 .PT1 {
  height: clamp(159px, 37vw, 330px);
  width: clamp(155px, 35vw, 318px);
}
.html-lesson-wrapper .try-3 .try-3-content .pt2 {
  margin-left: clamp(100px, 20vw, 145px);
  margin-top: clamp(0px, 10vw, 54px);
  padding-bottom: clamp(0px, 3vw, 46px);
}
.html-lesson-wrapper .try-3 .try-3-content .pt2 .PT2 {
  height: clamp(255px, 64vw, 472px);
  width: clamp(171px, 41vw, 318px);
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text {
  margin-left: -22px;
  margin-top: 20px;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 22px;
  font-size: clamp(10px, 2vw, 18px);
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text ol {
  counter-reset: item;
  list-style-type: none;
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text ol li::before {
  color: #1287cd;
  font-weight: bold;
  content: counter(item) "  ";
  counter-increment: item;
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text ol div p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text ol div .You {
  margin-left: clamp(47px, 7vw, 60px) !important;
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text ol div .Trainer {
  margin-left: clamp(40px, 6vw, 46px) !important;
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .row .blue-line {
  color: #1287cd;
  text-decoration: underline;
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .row .num {
  position: absolute;
  color: #1287cd;
  font-weight: bold;
  margin-left: clamp(25px, 2vw, 27px);
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .row .You {
  margin-left: clamp(67px, 7vw, 70px);
  position: absolute;
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .row .Trainer {
  margin-left: clamp(40px, 6vw, 41px);
  position: absolute;
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .row p {
  display: inline-block;
  margin-top: 13px;
  margin-left: clamp(116px, 9vw, 129px);
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .row p:first-child {
  word-wrap: break-word;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: clamp(10px, 2vw, 18px);
}
.html-lesson-wrapper .try-3 .try-3-content .conversation-text .row p:last-child {
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .japsub1 {
  position: absolute;
  margin-top: clamp(96px, 1vw, 30px);
  margin-left: clamp(160px, 10.9vw, 71px);
  font-size: clamp(8px, 1.7vw, 13px);
  color: #7f8288;
  letter-spacing: -1px;
}
.html-lesson-wrapper .cont {
  font-family: Noto Sans;
  font-weight: bold;
  position: absolute;
  margin-left: clamp(167px, 3.5vw, 30px);
  margin-top: clamp(65px, 1vw, 30px);
}
.html-lesson-wrapper .cont1 {
  font-family: Noto Sans;
  font-weight: bold;
  position: absolute;
  margin-left: clamp(274px, 3.5vw, 107px);
  margin-top: clamp(65px, 1vw, 30px);
}
.html-lesson-wrapper .cont2 {
  font-family: Noto Sans;
  font-weight: bold;
  position: absolute;
  margin-left: clamp(404px, 9.5vw, 180px);
  margin-top: clamp(65px, 1vw, 30px);
}
.html-lesson-wrapper .act-1 .act-1-content {
  margin-top: 59px;
}
.html-lesson-wrapper .act-1 .act-1-content .PT1 {
  height: clamp(247px, 38vw, 369px);
  width: clamp(358px, 65vw, 532px);
}
.html-lesson-wrapper .act-1 .act-1-content .conversation-img {
  width: clamp(274px, 44vw, 287px);
  min-height: clamp(130px, 50vw, 230px);
  position: absolute;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}
.html-lesson-wrapper .act-1 .act-1-content .conversation-img .bubble {
  margin-left: clamp(42px, 8vw, 66px);
  position: absolute;
  margin-top: clamp(52px, 6vw, 62px);
  font-size: clamp(9px, 2vw, 14px);
}
.html-lesson-wrapper .act-1 .act-1-content .conversation-img .bubble .jap {
  position: absolute;
  color: #7f8288;
  font-size: clamp(8px, 1vw, 11px);
  font-weight: normal;
  letter-spacing: -1px;
}
.html-lesson-wrapper .act-1 .act-1-content .conversation-img .bubble .row p {
  display: inline-block;
  margin: 0px 0px;
}
.html-lesson-wrapper .act-1 .act-1-content .conversation-img .bubble .row p:first-child {
  word-wrap: break-word;
  font-weight: bold;
}
.html-lesson-wrapper .act-1 .act-1-content .conversation-img .bubble .row p:last-child {
  font-family: "Trebuchet MS";
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text {
  margin-left: -22px;
  margin-top: 20px;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 22px;
  font-size: clamp(10px, 2vw, 18px);
  width: 96%;
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .row .akiko {
  margin-left: 42px;
  position: absolute;
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .row .nick {
  margin-left: 40px;
  position: absolute;
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .row p {
  display: inline-block;
  margin-top: 13px;
  margin-left: clamp(101px, 7vw, 121px);
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .row p:first-child {
  word-wrap: break-word;
  font-weight: bold;
  margin-bottom: 20px;
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .row p:last-child {
  font-family: "Noto Sans", sans-serif;
}
.html-lesson-wrapper .act-1 .act-1-content .converstation-text .row .jap {
  color: #7f8288;
  font-size: clamp(5px, 2vw, 13px);
  font-weight: normal;
  letter-spacing: 0px;
  margin-left: clamp(101px, 7vw, 121px);
  margin-top: clamp(-7px, -2vw, -38px);
}
.html-lesson-wrapper .act-2 .act-2-space {
  margin-bottom: 80px;
}

.choice-jap, .japanese, .jap, .sub-title, .text-1 {
  line-height: 1.5em;
  letter-spacing: 0;
  margin-top: 0.2em !important;
}