$text-font: 'Trebuchet MS';
$title-font: 'Arial';
$noto-sans: 'Noto Sans';
$primary-blue: #1287cd;
$rank-green: #009c9a;
$primary-dark: #083051;
$primary-light: #cce0ec;
$jap-letter-spacing: -1px;
$subtext-color: #7f8288;
$side-margin: clamp(18px, 5vw, 32px);
$s3: 'https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images';

body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  font-family: $text-font;
  width: 100%;
  min-width: 360px;
  max-width: 604px;
  min-height: 1596px;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url(#{$s3}/0-bg-header.png), url(#{$s3}/0-bg-footer.png);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;

  hr {
    border-top: 1px solid #dbdcdc;
  }

  .m-0 {
    margin: 0;
  }

  .flex {
    display: flex;
  }

  .img-responsive {
    width: 100%;
    height: auto;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  header {
    font-family: $title-font;
  }

  .fs-16 {
    font-size: clamp(12px, 2.3vw, 16px);
  }
  .flip-horizontal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .noto-sans {
    font-family: $noto-sans;
  }
  .b {
    font-weight: bold;
  }
  .u-sup {
    border-bottom: solid 1.5px black;
    display: inline-block;
    line-height: clamp(6px, 1.5vw, 14px);
  }
  .u-blue {
    border-bottom: 1px solid $primary-blue;
  }
  .primary-blue {
    color: $primary-blue;
  }
  .program-rank {
    position: absolute;
    color: #ffffff;
    font-size: 0px;
    margin-top: clamp(1px, 1vw, 5px);

    .type {
      padding: clamp(1px, 1vw, 5px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 5px)
        clamp(10px, 2vw, 17px);
      background-color: $primary-blue;
      font-size: clamp(7px, 1.8vw, 12px);
    }
    .level {
      padding: clamp(1px, 1vw, 5px) clamp(20px, 4vw, 50px) clamp(1px, 1vw, 5px)
        clamp(10px, 2vw, 17px);
      font-size: clamp(7px, 1.8vw, 12px);
      background: linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);
      background: -webkit-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);
      background: -o-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -moz-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      margin-left: -15px;
      width: 100%;
    }
  }
  .line {
    margin: 0 12px;
  }
  .lesson-number {
    position: absolute;
    right: 8%;
    width: 1.9%;
    text-align: center;
    margin-top: 0.5%;
    font-size: clamp(18px, 4vw, 28px);
    color: #ffffff;
  }
  .title-section {
    position: absolute;
    top: clamp(30px, 8vw, 50px);
    background-color: $primary-blue;
    color: white;
    padding: clamp(15px, 2vw, 20px) clamp(25px, 4vw, 30px) clamp(9px, 2vw, 15px);
    width: 100%;
    box-sizing: border-box;

    .title {
      font-size: clamp(16px, 4vw, 26px);
      padding-bottom: clamp(5px, 2.8vw, 10px);
    }
    .sub-title {
      font-size: clamp(10px, 2.3vw, 15px);
      letter-spacing: $jap-letter-spacing;
    }
  }
  .arrow {
    @extend .b;
    text-transform: uppercase;
    font-size: clamp(12px, 2.3vw, 16px);
    padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: $noto-sans;
  }
  .instructions {
    font-size: clamp(9px, 2.9vw, 18px);
    font-family: $noto-sans;
    position: absolute;
    padding: clamp(0px, 0.01vw, 3px) 0px;
    left: 27%;

    .title {
      font-size: clamp(12px, 3.5vw, 18px);
      color: #141821;
    }
    .sub-title {
      font-size: clamp(9px, 2vw, 13px);
      color: $subtext-color;
      letter-spacing: -0.9px;
    }
  }
  .see-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.see-1 {
      margin-top: clamp(110px, 28vw, 173.2px);
    }

    &.see-2,
    &.see-3 {
      margin-top: clamp(20px, 5vw, 33px);
      & .legend {
        margin-top: clamp(25px, 5vw, 38px);
      }
    }

    .arrow.see {
      @extend .b;
      text-transform: uppercase;
      color: $primary-blue;
      font-size: clamp(12px, 2.3vw, 16px);
      background-image: url(#{$s3}/0-see-arrow.png);
      padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
      background-repeat: no-repeat;
      background-size: contain;
      font-family: $noto-sans;
    }
  }
  .try-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.try-1 {
      margin-top: 32px;
    }
    &.try-2,
    &.try-3 {
      margin-top: 32px;
    }

    .arrow.try {
      color: white;
      background-image: url(#{$s3}/0-try-arrow.png);
    }
  }
  .act-content {
    margin-left: clamp(10px, 5vw, 23px);
    margin-right: clamp(18px, 5vw, 32px);

    &.act-1 {
      margin-top: 32px;
    }
    &.act-2 {
      margin-top: 32px;
    }

    .arrow.act {
      color: white;
      background-image: url(#{$s3}/0-act-arrow.png);
    }
  }

  .section-1-convo {
    margin-top: clamp(30px, 30vw, 30px);
    width: 100%;
    min-height: clamp(230px, 60vw, 380px);
    position: relative;
    background-position: top, bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(#{$s3}/0-b-16-s1bg.svg);

    .s1-bubble1 {
      .bubble1-text {
        position: absolute;
        display: block;
        margin-top: clamp(28px, 8vw, 42px);
        left: clamp(38px, 10vw, 80px);
        .eng {
          font-weight: bold;
          font-size: clamp(10px, 2.2vw, 14px);
        }

        .jap {
          font-size: clamp(8px, 2.2vw, 11px);
          color: $subtext-color;
          letter-spacing: $jap-letter-spacing;
        }
      }
    }

    .bubble2-text {
      margin-left: clamp(62px, 27vw, 178px);
      position: absolute;
      margin-top: clamp(72px, 15vw, 122px);
      .eng {
        font-weight: bold;
        font-size: clamp(10px, 2.3vw, 14px);
      }
      .eng-sub {
        font-weight: bold;
        font-size: clamp(10px, 2.3vw, 14px);
      }

      .jap {
        font-size: clamp(8px, 2.1vw, 11px);
        color: $subtext-color;
        letter-spacing: $jap-letter-spacing;
      }
    }
  }

  .see-2 {
    .section2-content {
      margin-top: clamp(20px, 7vw, 50px);

      margin-left: $side-margin;
      margin-right: $side-margin;

      .section2-first-row {
        .text-with-akiko {
          grid-template-columns: 3fr 70px;
          display: grid;
          margin-left: clamp(4px, 3vw, 55px);

          .wrapper-with-akiko {
            margin-top: clamp(-22px, -6.7vw, -44px);
            .box-1 {
              width: clamp(92px, 11vw, 131px);
              background: url(#{$s3}/0-b-16-yellowpiece.svg);
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              height: clamp(16px, 5vw, 27px);
              text-align: center;
              position: absolute;
              padding-top: clamp(2px, 1vw, 8px);
              margin-left: clamp(0px, 3vw, 15px);
              font-size: clamp(10px, 2vw, 16px);
              margin-top: clamp(21px, 6vw, 2px);
              font-family: 'Noto Sans';
            }
          }
        }

        .text-1 {
          font-size: clamp(8px, 1.9vw, 13px);
          position: absolute;
          margin-top: clamp(-18px, -1.6vw, -5px);
          color: $subtext-color;
          letter-spacing: $jap-letter-spacing;
          font-family: $noto-sans;
        }

        .section-2-with-akiko {
          display: grid;
          grid-template-columns: 1fr min-content;
        }
        .f2-c1 {
          display: inline-flex;
          z-index: 32px;
          margin-top: clamp(60px, 20vw, 60px);
          font-family: $noto-sans;
          font-size: clamp(10px, 2vw, 16px);

          .box-2 {
            width: clamp(114px, 34vw, 192px);
            background: url(#{$s3}/0-b-16-pink.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: clamp(16px, 5vw, 31px);
            text-align: center;
            padding-top: clamp(2px, 2vw, 6px);
            margin-left: clamp(0px, 3vw, 15px);
          }

          .box-3 {
            width: clamp(87px, 22vw, 130px);
            margin-left: clamp(0px, 1vw, 7px);
            background: url(#{$s3}/0-b-16-greenpiece.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: clamp(16px, 5vw, 31px);
            padding-top: clamp(2px, 2vw, 6px);
            text-align: center;
          }

          .text-2 {
            position: absolute;
            margin-top: clamp(25px, 7vw, 41px);
            color: $subtext-color;
            font-size: clamp(8px, 1.9vw, 11px);
            letter-spacing: -1px;
            font-family: 'Noto Sans';
            margin-left: clamp(11px, 1vw, 13px);
          }
        }
      }

      .icon {
        position: absolute;
        font-size: clamp(10px, 2vw, 14px);
        margin-top: clamp(4px, 1vw, 14px);
        @extend .b;

        img {
          height: clamp(71px, 19vw, 100px);
          width: auto;
        }
        div {
          margin-top: clamp(8px, 2vw, 9px);
          margin-left: clamp(23px, 5.8vw, 36px);
        }
      }
    }
  }
  .section2-box-content {
    margin-top: clamp(65px, 33vw, 91px);
    font-family: $noto-sans;
    .legend {
      margin-top: clamp(65px, 33vw, 91px);
    }

    .b1-legend {
      width: clamp(123px, 17vw, 138px);
      background: url(#{$s3}/0-b-16-yellowpiece.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
      height: clamp(2px, 6vw, 29px);
    }
    .b2-legend {
      width: clamp(176px, 24vw, 193px);
      text-align: center;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(#{$s3}/0-b-16-pink.svg);
      height: clamp(2px, 6vw, 29px);
    }

    .legend {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2px;

      & .eng {
        padding-top: clamp(4px, 5vw, 9px);
        font-size: clamp(11px, 1.8vw, 16px);
      }
    }

    .phrase-alts {
      display: grid;
      grid-template-columns: 2fr clamp(100px, 50vw, 283px);
      gap: 7px;

      &.half {
        grid-template-columns: 1fr 1fr;
      }

      .alt-box {
        padding: 15px;
        border: 1px solid $primary-blue;
        background-color: #e7f3fa;
      }
      .alt-box1 {
        padding: 15px;
        border: 1px solid $primary-blue;
      }

      .alt {
        display: flex;
        align-items: baseline;
      }

      .alt:not(:last-child) {
        margin-bottom: clamp(10px, 2vw, 20px);
      }

      .choice {
        margin-left: clamp(5px, 1vw, 9px);
        p {
          margin: 0;
          white-space: nowrap;
          font-family: $noto-sans;
        }
      }

      .choice-eng {
        font-size: clamp(10px, 2.5vw, 18px);
      }

      .choice-jap {
        font-size: clamp(6.7px, 2.3vw, 13px);
        letter-spacing: -0.5px;
        color: $subtext-color;
      }
      .number {
        @extend .b;
        border-radius: 50%;
        background: $primary-blue;
        color: white;
        margin: 0;
        text-align: center;
        width: clamp(13px, 4vw, 24px);
        height: clamp(13px, 4vw, 24px);
        line-height: clamp(13px, 4vw, 24px);
        font-family: $noto-sans;
        font-size: clamp(11px, 3vw, 16px);
        z-index: 1;
      }

      .letter {
        @extend .b;
        border: 2px solid $primary-blue;
        background: white;
        color: $primary-blue;
        font-family: $noto-sans;
        width: clamp(11px, 4vw, 20px);
        height: clamp(11px, 4vw, 20px);
        line-height: clamp(11px, 4vw, 20px);
        font-size: clamp(11px, 3vw, 16px);
        text-align: center;
      }
    }
  }

  .try-1 {
    .try1-content {
      margin-top: clamp(25px, 7vw, 44px);
      margin-left: clamp(18px, 5vw, 32px);
      margin-right: clamp(18px, 5vw, 32px);
      margin-bottom: clamp(393px, 57vw, 454px);

      .akiko-right-view {
        width: clamp(121px, 31vw, 208px);
        min-height: clamp(197.26px, 37vw, 208px);
        margin-top: clamp(25px, 7vw, 51px);
        margin-left: clamp(196px, 29vw, 275px);
        position: absolute;
        background-position: top, bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(#{$s3}/0-b-16-akikorightview.svg);
      }

      .akiko-combinations {
        .akiko-first-combinations {
          position: absolute;
          margin-left: clamp(-50px, -14vw, -41px);

          ul > li {
            list-style-type: none;
            margin-bottom: 10px;
            color: $primary-blue;
          }

          ul li > .number {
            font-weight: bold;
            border-radius: 50%;
            background: $primary-blue;
            color: white;
            margin: 0;
            text-align: center;
            width: clamp(13px, 4vw, 24px);
            height: clamp(13px, 4vw, 24px);
            line-height: clamp(13px, 4vw, 24px);
            font-family: $noto-sans;
            font-size: clamp(12px, 3vw, 16px);
            z-index: 1;
            padding-left: clamp(5px, 1.4vw, 7px);
            padding-right: clamp(5px, 1.4vw, 7px);
          }

          ul li > .plus {
            position: relative;
            font-size: clamp(7px, 6.3vw, 32px);
            margin-top: clamp(30px, 1.3vw, 5px);

            img {
              width: auto;
              height: clamp(10px, 3.5vw, 15px);
            }
          }

          ul li > .letter {
            @extend .b;
            font-weight: bold;
            border: 3px solid $primary-blue;
            color: $primary-blue;
            font-family: $noto-sans;
            width: clamp(11px, 4vw, 20px);
            height: clamp(11px, 4vw, 20px);
            line-height: clamp(11px, 4vw, 20px);
            font-size: clamp(11px, 3vw, 16px);
            text-align: center;
            padding-left: clamp(2px, 1.4vw, 7px);
            padding-right: clamp(2px, 1.4vw, 7px);
          }
        }

        .akiko-second-combinations {
          position: absolute;
          margin-left: clamp(190px, 55vw, 320px);
          ul > li {
            list-style-type: none;
            margin-bottom: 10px;
          }

          ul li > .number {
            @extend .b;
            font-weight: bold;
            border-radius: 50%;
            background: $primary-blue;
            color: white;
            margin: 0;
            text-align: center;
            width: clamp(13px, 4vw, 24px);
            height: clamp(13px, 4vw, 24px);
            line-height: clamp(13px, 4vw, 24px);
            font-family: $noto-sans;
            font-size: clamp(11px, 3vw, 16px);
            z-index: 1;
            padding-left: clamp(5px, 1.4vw, 7px);
            padding-right: clamp(5px, 1.4vw, 7px);
          }

          ul li > .plus {
            position: relative;
            font-size: clamp(7px, 6.3vw, 32px);
            margin-top: clamp(30x, 1.3vw, 5px);

            img {
              width: auto;
              height: clamp(5px, 3.5vw, 15px);
            }
          }

          ul li > .letter {
            font-weight: bold;
            @extend .b;
            border: 4px solid $primary-blue;
            color: $primary-blue;
            font-family: $noto-sans;
            width: clamp(11px, 4vw, 20px);
            height: clamp(11px, 4vw, 20px);
            line-height: clamp(11px, 4vw, 20px);
            font-size: clamp(11px, 3vw, 16px);
            text-align: center;
            padding-left: clamp(2px, 1.4vw, 7px);
            padding-right: clamp(2px, 1.4vw, 7px);
          }
        }
      }
    }
  }

  .try-2 {
    .conversation-text {
      margin-top: clamp(48px, 6vw, 86px);
      margin-left: clamp(-28px, -1vw, -21px);
      font-family: 'Noto Sans';
      font-size: clamp(11px, 3vw, 18px);
      .calen {
        margin-top: clamp(-20px, -3vw, -8px);
        margin-left: clamp(102px, 10vw, 141px);
        padding-bottom: clamp(0px, 10vw, 90px);
        .img1 {
          height: clamp(163px, 21vw, 319px);
          width: clamp(187px, 30vw, 374px);
        }
      }
      .convo-1,
      .convo-2,
      .convo-3,
      .convo-4,
      .convo-5,
      .convo-6 {
        .row {
          margin-bottom: clamp(2px, 1vw, 20px);
          .You {
            margin-left: clamp(2px, 14vw, 82px);
          }
          p {
            display: inline-block;
            margin-top: clamp(-19px, -3.2vw, 1px);
            margin-left: clamp(15px, 2vw, 23px);
            &:first-child {
              word-wrap: break-word;
              font-weight: bold;
              margin-bottom: 20px;
            }
            &:last-child {
              font-family: $noto-sans;
            }
          }
        }
      }
      .blue {
        color: $primary-blue;
        text-decoration: underline;
      }
      .num {
        color: $primary-blue;
        font-weight: bold;
      }
      .convo-wrap-akiko {
        .akiko-line-1 {
          margin-top: 30px;
          margin-left: clamp(20px, 2.2vw, 21px);
        }
        .calen {
          height: clamp(170px, 1.2vw, 100px);
          margin-left: clamp(130px, 1.2vw, 20px);
          margin-right: clamp(200px, 1.2vw, 100px);
          width: clamp(158px, 1.5vw, 121px);
          padding-top: clamp(10px, 1.5vw, 93px);
        }
      }
      .convo-wrap-helen {
        margin-bottom: 30px;
        margin-left: 50px;
        .text-under {
          margin-left: clamp(29px, 1.2vw, 41px);
        }
        .underline {
          color: $primary-blue;
          text-decoration: underline;
        }
        .underline1 {
          color: $primary-blue;
          text-decoration: underline;
          margin-left: 39px;
        }
      }
    }
  }

  .see-3 {
    .section3-content {
      margin-top: clamp(20px, 7vw, 50px);
      margin-left: $side-margin;
      margin-right: $side-margin;

      .section3-first-row {
        .text-with-akiko {
          grid-template-columns: 3fr 410px;
          display: grid;
          margin-left: clamp(-17px, -1vw, -33px);

          .wrapper-with-akiko {
            margin-top: clamp(-22px, -6.7vw, -44px);
          }
        }

        .text-1 {
          font-size: clamp(8px, 1.9vw, 13px);
          position: absolute;
          margin-top: clamp(-18px, -1.6vw, -5px);
          color: $subtext-color;
          letter-spacing: $jap-letter-spacing;
          font-family: $noto-sans;
        }

        .section-3-with-akiko {
          display: grid;
          grid-template-columns: 1fr min-content;
        }
        .f2-c1 {
          display: inline-flex;
          z-index: 32px;
          margin-top: clamp(46px, 11vw, 35px);
          font-family: $noto-sans;
          font-size: clamp(10px, 2vw, 16px);

          .box-2 {
            width: clamp(88px, 24vw, 139px);
            background: url(#{$s3}/0-b-16-see3pink.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: clamp(18px, 4vw, 31px);
            text-align: center;
            padding-top: clamp(2px, 1vw, 6px);
            margin-left: clamp(0px, 2vw, 15px);
          }

          .box-3 {
            width: clamp(170px, 32vw, 239px);
            margin-left: clamp(0px, 1vw, 7px);
            background: url(#{$s3}/0-b-16-lightblue.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: clamp(17px, 4vw, 31px);
            padding-top: clamp(2px, 2vw, 6px);
            text-align: center;
          }

          .text-2 {
            position: absolute;
            margin-top: clamp(25px, 7vw, 41px);
            color: $subtext-color;
            font-size: clamp(8px, 1.9vw, 11px);
            letter-spacing: -1px;
            font-family: 'Noto Sans';
            margin-left: clamp(0px, 2vw, 13px);
          }
        }
      }

      .icon {
        font-size: clamp(10px, 2vw, 14px);
        margin-top: clamp(0px, -5vw, -16px);
        @extend .b;

        img {
          height: clamp(71px, 19vw, 100px);
          width: auto;
        }
        div {
          margin-top: clamp(8px, 2vw, 9px);
          margin-left: clamp(23px, 5.8vw, 36px);
        }
      }
    }
  }
  .section3-box-content {
    margin-top: clamp(27px, 9vw, 91px);
    font-family: $noto-sans;
    .legend {
      margin-top: clamp(65px, 33vw, 91px);
    }

    .b1-legend {
      width: clamp(107px, 19vw, 138px);
      background: url(#{$s3}/0-b-16-see3pink.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
      height: clamp(11px, 6vw, 29px);
    }
    .b2-legend {
      width: clamp(170px, 32vw, 239px);
      text-align: center;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(#{$s3}/0-b-16-lightblue.svg);
      height: clamp(11px, 6vw, 29px);
    }

    .legend {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2px;

      & .eng {
        padding-top: clamp(2px, 1vw, 9px);
        font-size: clamp(11px, 2vw, 16px);
      }
    }

    .phrase-alts {
      display: grid;
      grid-template-columns: 1fr clamp(157px, 39vw, 280px);
      gap: 7px;

      &.half {
        grid-template-columns: 1fr 1fr;
      }

      .alt-box {
        padding: 15px;
        border: 1px solid $primary-blue;
      }

      .alt {
        display: flex;
        align-items: baseline;
      }

      .alt:not(:last-child) {
        margin-bottom: clamp(10px, 2vw, 20px);
      }

      .choice {
        margin-left: clamp(5px, 1vw, 9px);
        p {
          margin: 0;
          white-space: nowrap;
          font-family: $noto-sans;
        }
      }
      .choice-eng {
        font-size: clamp(10px, 2.5vw, 18px);
      }
      .choice-jap {
        font-size: clamp(6.7px, 2.3vw, 13px);
        letter-spacing: -0.5px;
        color: $subtext-color;
      }
      .number {
        @extend .b;
        border-radius: 50%;
        background: $primary-blue;
        color: white;
        margin: 0;
        text-align: center;
        width: clamp(13px, 4vw, 24px);
        height: clamp(13px, 4vw, 24px);
        line-height: clamp(13px, 4vw, 24px);
        font-family: $noto-sans;
        font-size: clamp(11px, 3vw, 16px);
        z-index: 1;
      }

      .letter {
        @extend .b;
        border: 2px solid $primary-blue;
        color: $primary-blue;
        font-family: $noto-sans;
        width: clamp(11px, 4vw, 20px);
        height: clamp(11px, 4vw, 20px);
        line-height: clamp(11px, 4vw, 20px);
        font-size: clamp(11px, 3vw, 16px);
        text-align: center;
      }
    }
  }
  .try-3 {
    .try-3-content {
      .pt1 {
        margin-left: clamp(100px, 20vw, 145px);
        margin-top: clamp(0px, 10vw, 54px);
        padding-bottom: clamp(0px, 3vw, 46px);
        .PT1 {
          height: clamp(159px, 37vw, 330px);
          width: clamp(155px, 35vw, 318px);
        }
      }
      .pt2 {
        margin-left: clamp(100px, 20vw, 145px);
        margin-top: clamp(0px, 10vw, 54px);
        padding-bottom: clamp(0px, 3vw, 46px);

        .PT2 {
          height: clamp(255px, 64vw, 472px);
          width: clamp(171px, 41vw, 318px);
        }
      }
      .conversation-text {
        margin-left: -22px;
        margin-top: 20px;
        font-family: $noto-sans;
        margin-bottom: 22px;
        font-size: clamp(10px, 2vw, 18px);
        .row {
          .blue-line {
            color: $primary-blue;
            text-decoration: underline;
          }
          .num {
            position: absolute;
            color: $primary-blue;
            font-weight: bold;
            margin-left: clamp(25px, 2vw, 27px);
          }
          .You {
            margin-left: clamp(67px, 7vw, 70px);
            position: absolute;
          }
          .Trainer {
            margin-left: clamp(40px, 6vw, 41px);
            position: absolute;
          }
          p {
            display: inline-block;
            margin-top: 13px;
            margin-left: clamp(116px, 9vw, 129px);
            &:first-child {
              word-wrap: break-word;
              font-weight: bold;
              margin-bottom: 20px;
              font-size: clamp(10px, 2vw, 18px);
            }
            &:last-child {
              font-family: $noto-sans;
            }
          }
        }
      }
    }
  }

  .japsub1 {
    position: absolute;
    margin-top: clamp(96px, 1vw, 30px);
    margin-left: clamp(160px, 10.9vw, 71px);
    font-size: clamp(8px, 1.7vw, 13px);
    color: $subtext-color;
    letter-spacing: $jap-letter-spacing;
  }
  .cont {
    font-family: Noto Sans;
    font-weight: bold;
    position: absolute;
    margin-left: clamp(167px, 3.5vw, 30px);
    margin-top: clamp(65px, 1vw, 30px);
  }
  .cont1 {
    font-family: Noto Sans;
    font-weight: bold;
    position: absolute;
    margin-left: clamp(274px, 3.5vw, 107px);
    margin-top: clamp(65px, 1vw, 30px);
  }
  .cont2 {
    font-family: Noto Sans;
    font-weight: bold;
    position: absolute;
    margin-left: clamp(404px, 9.5vw, 180px);
    margin-top: clamp(65px, 1vw, 30px);
  }

  .act-1 {
    .act-1-content {
      margin-top: 59px;
      .PT1 {
        height: clamp(247px, 38vw, 369px);
        width: clamp(358px, 65vw, 532px);
      }
      .conversation-img {
        width: clamp(274px, 44vw, 287px);
        min-height: clamp(130px, 50vw, 230px);
        position: absolute;
        font-family: $noto-sans;
        font-weight: bold;

        .bubble {
          margin-left: clamp(42px, 8vw, 66px);
          position: absolute;
          margin-top: clamp(52px, 6vw, 62px);
          font-size: clamp(9px, 2vw, 14px);
          .jap {
            position: absolute;
            color: $subtext-color;
            font-size: clamp(8px, 1vw, 11px);
            font-weight: normal;
            letter-spacing: $jap-letter-spacing;
          }
          .row {
            p {
              display: inline-block;
              margin: 0px 0px;
              &:first-child {
                word-wrap: break-word;
                font-weight: bold;
              }
              &:last-child {
                font-family: 'Trebuchet MS';
              }
            }
          }
        }
      }

      .converstation-text {
        margin-left: -22px;
        margin-top: 20px;
        font-family: $noto-sans;
        margin-bottom: 22px;
        font-size: clamp(10px, 2vw, 18px);
        width: 96%;

        .row {
          .akiko {
            margin-left: 42px;
            position: absolute;
          }
          .nick {
            margin-left: 40px;
            position: absolute;
          }
          p {
            display: inline-block;
            margin-top: 13px;
            margin-left: clamp(101px, 7vw, 121px);
            &:first-child {
              word-wrap: break-word;
              font-weight: bold;
              margin-bottom: 20px;
            }
            &:last-child {
              font-family: $noto-sans;
            }
          }
          .jap {
            color: $subtext-color;
            font-size: clamp(5px, 2vw, 13px);
            font-weight: normal;
            letter-spacing: -2px;
            margin-left: clamp(102px, 7vw, 107px);
            margin-top: clamp(-7px, -2vw, -38px);
          }
        }
      }
    }
  }

  .act-2 {
    .act-2-space {
      margin-bottom: 80px;
    }
  }
}
