body {
  margin: 0;
  padding: 0;
}

hr {
  border-top: 1px solid #dbdcdc;
}

td {
  vertical-align: top;
}

.m-0 {
  margin: 0;
}

.w-11 {
  width: clamp(4.5rem, 14vw, 15rem);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-left {
  -webkit-box-pack: left !important;
      -ms-flex-pack: left !important;
          justify-content: left !important;
}

.justify-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.justify-right {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: end !important;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.html-lesson-wrapper {
  font-family: "Trebuchet MS";
  width: 100%;
  min-width: 360px;
  max-width: 604px;
  min-height: 1596px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-bg-header.svg), url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-bg-footer.svg);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.html-lesson-wrapper header {
  font-family: "Arial";
}

.html-lesson-wrapper .fs-16, .html-lesson-wrapper .text {
  font-size: clamp(10px, 2.3vw, 16px);
}

.html-lesson-wrapper .flip-horizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.html-lesson-wrapper .center, .html-lesson-wrapper .text {
  text-align: center;
}

.html-lesson-wrapper .noto-sans {
  font-family: "Noto Sans";
}

.html-lesson-wrapper .exclude-letter-spacing {
  letter-spacing: normal;
}

.html-lesson-wrapper .b, .html-lesson-wrapper .arrow, .html-lesson-wrapper .office-section .legend div.left, .html-lesson-wrapper .office-section .legend div.right, .html-lesson-wrapper .office-section .name, .html-lesson-wrapper .number, .html-lesson-wrapper .letter, .html-lesson-wrapper .text, .html-lesson-wrapper .see-content .phrases-section .icon, .html-lesson-wrapper .see-content .phrases-section .eng, .html-lesson-wrapper .try-3 .table-wrapper-section .table-wrapper .table-number, .try-3 .table-wrapper-section .table-wrapper .html-lesson-wrapper .table-number, .html-lesson-wrapper .try-3 .table .name, .try-3 .table .html-lesson-wrapper .name {
  font-weight: bold;
}

.html-lesson-wrapper .u-sup {
  border-bottom: solid 1.5px black;
  display: inline-block;
  line-height: clamp(6px, 1.5vw, 14px);
}

.html-lesson-wrapper .u-blue {
  text-decoration: underline;
  color: #1287cd;
}

.html-lesson-wrapper .primary-blue, .html-lesson-wrapper .text, .html-lesson-wrapper .try-3 .table-wrapper-section .table-wrapper .table-number, .try-3 .table-wrapper-section .table-wrapper .html-lesson-wrapper .table-number {
  color: #1287cd;
}

.html-lesson-wrapper .program-rank {
  position: absolute;
  color: #ffffff;
  font-size: 0px;
  margin-top: clamp(1px, 1vw, 5px);
}

.html-lesson-wrapper .program-rank .type {
  padding: clamp(1px, 1vw, 5px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 5px) clamp(10px, 3vw, 17px);
  background-color: #1287cd;
  font-size: clamp(7px, 1.8vw, 12px);
}

.html-lesson-wrapper .program-rank .level {
  padding: clamp(1px, 1vw, 5px) clamp(20px, 8.4vw, 50px) clamp(1px, 1vw, 5px) clamp(10px, 3vw, 17px);
  font-size: clamp(7px, 1.8vw, 12px);
  background: linear-gradient(125deg, #1287cd 6%, rgba(0, 0, 0, 0) 0%), linear-gradient(125deg, #009c9a 90%, rgba(0, 0, 0, 0) 0%);
  background: -moz-linear-gradient(125deg, #1287cd 6%, rgba(0, 0, 0, 0) 0%), linear-gradient(125deg, #009c9a 90%, rgba(0, 0, 0, 0) 0%);
  margin-left: -15px;
  width: 100%;
}

.html-lesson-wrapper .eng {
  font-weight: bold;
  font-size: clamp(8px, 2.3vw, 14px);
}

.html-lesson-wrapper .jap {
  letter-spacing: -2px;
  color: #7f8288;
  font-family: "Noto Sans";
  font-size: clamp(7px, 1.8vw, 11px);
}

.html-lesson-wrapper .line {
  margin: 0 12px;
}

.html-lesson-wrapper .lesson-number {
  position: absolute;
  right: 8%;
  width: 1.9%;
  text-align: center;
  margin-top: 0.5%;
  font-size: clamp(18px, 4vw, 28px);
  color: #ffffff;
}

.html-lesson-wrapper .title-section {
  position: absolute;
  top: clamp(30px, 8vw, 50px);
  background-color: #1287cd;
  color: white;
  padding: clamp(10px, 3vw, 16px) clamp(20px, 6vw, 32px);
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans";
}

.html-lesson-wrapper .title-section .title {
  font-size: clamp(16px, 4.5vw, 26px);
  margin-bottom: 0.5%;
}

.html-lesson-wrapper .title-section .sub-title {
  font-size: clamp(10px, 2.5vw, 15px);
  letter-spacing: -3px;
}

.html-lesson-wrapper .arrow {
  text-transform: uppercase;
  font-size: clamp(12px, 2.3vw, 16px);
  padding: 2.4% 3.5%;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Noto Sans";
}

.html-lesson-wrapper .instructions {
  font-family: "Noto Sans";
  position: absolute;
  padding: clamp(0px, 0.01vw, 3px) 0px;
  left: 27%;
}

.html-lesson-wrapper .instructions .title {
  font-size: clamp(9px, 2.9vw, 18px);
  color: #141821;
}

.html-lesson-wrapper .instructions .sub-title {
  font-size: clamp(7px, 2vw, 13px);
  color: #7f8288;
  letter-spacing: -1.3px;
}

.html-lesson-wrapper .office-section .legend div {
  position: absolute;
}

.html-lesson-wrapper .office-section .legend div.left, .html-lesson-wrapper .office-section .legend div.right {
  font-size: clamp(18px, 3vw, 25px);
  padding: clamp(2px, 2vw, 5px) clamp(10px, 5vw, 25px) clamp(2px, 2vw, 5px) clamp(2px, 2vw, 5px);
  background-color: #ebebeb;
  margin-top: 2px;
  color: #2d356b;
}

.html-lesson-wrapper .office-section .legend div.right {
  right: 0;
  margin-right: clamp(18px, 5vw, 32px);
}

.html-lesson-wrapper .office-section .legend div.center, .html-lesson-wrapper .office-section .legend div.text {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: auto;
  left: 0;
  right: 0;
}

.html-lesson-wrapper .office-section .legend div.center > .number, .html-lesson-wrapper .office-section .legend div.text > .number {
  font-size: clamp(15px, 4vw, 24px);
  width: clamp(20px, 4vw, 35px);
  height: clamp(20px, 4vw, 35px);
  line-height: clamp(20px, 4vw, 35px);
  min-width: clamp(20px, 4vw, 35px);
}

.html-lesson-wrapper .office-section .name {
  position: absolute;
  border-radius: clamp(4px, 1vw, 7px);
  border: 0.25px solid #231f20;
  background: white;
  padding: 1% 1.6%;
  font-size: clamp(7px, 2vw, 10px);
  color: #2d356b;
}

.html-lesson-wrapper .office-section .conversation .bubble {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-repeat: no-repeat;
  background-size: contain;
}

.html-lesson-wrapper .office-section .conversation .speech {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-repeat: no-repeat;
  background-size: contain;
}

.html-lesson-wrapper .number {
  border-radius: 50%;
  background: #1287cd;
  color: white;
  margin: 0;
  text-align: center;
  width: clamp(13px, 4vw, 24px);
  height: clamp(13px, 4vw, 24px);
  line-height: clamp(13px, 4vw, 24px);
  font-family: "Noto Sans";
  font-size: clamp(11px, 3vw, 16px);
  z-index: 1;
  min-width: clamp(13px, 4vw, 24px);
}

.html-lesson-wrapper .number.inverse {
  color: #1287cd;
  background-color: white;
}

.html-lesson-wrapper .letter {
  border: 2px solid #1287cd;
  color: #1287cd;
  font-family: "Noto Sans";
  width: clamp(11px, 4vw, 20px);
  height: clamp(11px, 4vw, 20px);
  line-height: clamp(11px, 4vw, 20px);
  font-size: clamp(11px, 3vw, 16px);
  text-align: center;
}

.html-lesson-wrapper .text {
  white-space: nowrap;
  font-family: "Noto Sans";
}

.html-lesson-wrapper .plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.html-lesson-wrapper .plus > img {
  width: auto;
  height: clamp(10px, 5vw, 15px);
}

.html-lesson-wrapper .see-content {
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
}

.html-lesson-wrapper .see-content .phrase-alts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 21px;
}

.html-lesson-wrapper .see-content .phrase-alts.half {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.html-lesson-wrapper .see-content .phrase-alts .alt-box {
  padding: clamp(7px, 2vw, 15px);
  border: 1px solid #1287cd;
  margin-top: 3px;
}

.html-lesson-wrapper .see-content .phrase-alts .alt-box.blue {
  background-color: #e7f3fa;
}

.html-lesson-wrapper .see-content .phrase-alts div.first-alt-div:first-child .alt:not(:last-child) {
  margin-bottom: clamp(5px, 2vw, 0px);
}

.html-lesson-wrapper .see-content .phrase-alts .alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.html-lesson-wrapper .see-content .phrase-alts .alt:not(:last-child) {
  margin-bottom: clamp(10px, 2vw, 10px);
}

.html-lesson-wrapper .see-content .phrase-alts .choice {
  margin-left: clamp(5px, 1vw, 9px);
}

.html-lesson-wrapper .see-content .phrase-alts .choice p {
  margin: 0;
  font-family: "Noto Sans";
}

.html-lesson-wrapper .see-content .phrase-alts .choice-eng {
  font-size: clamp(9px, 2vw, 18px);
}

.html-lesson-wrapper .see-content .phrase-alts .choice-jap {
  font-size: clamp(6.7px, 1.8vw, 13px);
  letter-spacing: -0.5px;
  color: #7f8288;
}

.html-lesson-wrapper .see-content .arrow.see {
  color: #1287cd;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-see-arrow.png);
}

.html-lesson-wrapper .see-content .phrases-section .yellow {
  background: #ffe200;
}

.html-lesson-wrapper .see-content .phrases-section .blue {
  background: #c3e8e6;
}

.html-lesson-wrapper .see-content .phrases-section .red {
  background: #ffb2b0;
}

.html-lesson-wrapper .see-content .phrases-section .yellow,
.html-lesson-wrapper .see-content .phrases-section .blue,
.html-lesson-wrapper .see-content .phrases-section .red {
  padding: clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px);
}

.html-lesson-wrapper .see-content .phrases-section .yellow-piece,
.html-lesson-wrapper .see-content .phrases-section .green-piece,
.html-lesson-wrapper .see-content .phrases-section .red-piece,
.html-lesson-wrapper .see-content .phrases-section .blue-piece,
.html-lesson-wrapper .see-content .phrases-section .green-piece-complete,
.html-lesson-wrapper .see-content .phrases-section .blue-piece-complete,
.html-lesson-wrapper .see-content .phrases-section .green-piece-male,
.html-lesson-wrapper .see-content .phrases-section .yellow-piece-female,
.html-lesson-wrapper .see-content .phrases-section .gray-piece-female,
.html-lesson-wrapper .see-content .phrases-section .red-boxed-piece {
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.html-lesson-wrapper .see-content .phrases-section .yellow-piece {
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-yellow-piece.png), -webkit-gradient(linear, left top, right top, color-stop(80%, #ffe200), color-stop(80%, rgba(255, 255, 255, 0)));
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-yellow-piece.png), linear-gradient(90deg, #ffe200 80%, rgba(255, 255, 255, 0) 80%);
  background-position: right;
  padding: clamp(7px, 2vw, 10px) clamp(15px, 3.5vw, 25px) clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px);
}

.html-lesson-wrapper .see-content .phrases-section .blue-piece {
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-blue-piece.png), -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(255, 255, 255, 0)), color-stop(20%, #e7f3fa));
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-blue-piece.png), linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, #e7f3fa 20%);
  padding: clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px) clamp(7px, 2vw, 10px) clamp(15px, 3.5vw, 25px);
  background-position: left;
}

.html-lesson-wrapper .see-content .phrases-section .red-piece {
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-red-piece.png), -webkit-gradient(linear, left top, right top, color-stop(80%, #ffb2b0), color-stop(80%, rgba(255, 255, 255, 0)));
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-red-piece.png), linear-gradient(90deg, #ffb2b0 80%, rgba(255, 255, 255, 0) 80%);
  padding: clamp(7px, 2vw, 10px) clamp(15px, 3.5vw, 25px) clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px);
  background-position: right;
}

.html-lesson-wrapper .see-content .phrases-section .green-piece {
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-green-piece.png), -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(255, 255, 255, 0)), color-stop(20%, #c3e8e6));
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-green-piece.png), linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, #c3e8e6 20%);
  padding: clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px) clamp(7px, 2vw, 10px) clamp(15px, 3.5vw, 25px);
  background-position: left;
}

.html-lesson-wrapper .see-content .phrases-section .green-piece-complete {
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-green-piece-end.png), -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(255, 255, 255, 0)), color-stop(8%, #c3e8e6), color-stop(80%, #c3e8e6), color-stop(80%, rgba(255, 255, 255, 0))), url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-green-piece-start.png);
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-green-piece-end.png), linear-gradient(90deg, rgba(255, 255, 255, 0) 8%, #c3e8e6 8%, #c3e8e6 80%, rgba(255, 255, 255, 0) 80%), url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-green-piece-start.png);
  padding: clamp(7px, 2vw, 10px) clamp(13px, 3vw, 25px) clamp(7px, 2vw, 10px) clamp(15px, 3.5vw, 25px);
  background-position: left, center, right;
  background-size: auto 100%, auto, auto 100%;
}

.html-lesson-wrapper .see-content .phrases-section .blue-piece-complete {
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-blue-piece-end.png), -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(255, 255, 255, 0)), color-stop(8%, #e7f3fa), color-stop(80%, #e7f3fa), color-stop(80%, rgba(255, 255, 255, 0))), url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-blue-piece-start.png);
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-blue-piece-end.png), linear-gradient(90deg, rgba(255, 255, 255, 0) 8%, #e7f3fa 8%, #e7f3fa 80%, rgba(255, 255, 255, 0) 80%), url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-blue-piece-start.png);
  padding: clamp(7px, 2vw, 10px) clamp(13px, 3vw, 25px) clamp(7px, 2vw, 10px) clamp(15px, 3.5vw, 25px);
  background-position: left, center, right;
  background-size: auto 100%, auto, auto 100%;
}

.html-lesson-wrapper .see-content .phrases-section .green-piece-male {
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-green-piece-male.png), -webkit-gradient(linear, left top, right top, color-stop(80%, #c3e8e6), color-stop(80%, rgba(255, 255, 255, 0)));
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-green-piece-male.png), linear-gradient(90deg, #c3e8e6 80%, rgba(255, 255, 255, 0) 80%);
  padding: clamp(7px, 2vw, 10px) clamp(15px, 3.5vw, 25px) clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px);
  background-position: right;
}

.html-lesson-wrapper .see-content .phrases-section .yellow-piece-female {
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-yellow-piece-female.png), -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(255, 255, 255, 0)), color-stop(20%, #ffe200));
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-yellow-piece-female.png), linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, #ffe200 20%);
  padding: clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px) clamp(7px, 2vw, 10px) clamp(15px, 3.5vw, 25px);
  background-position: left;
}

.html-lesson-wrapper .see-content .phrases-section .gray-piece-female {
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-gray-piece.svg), -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(255, 255, 255, 0)), color-stop(20%, #ebeef1));
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-gray-piece.svg), linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, #ebeef1 20%);
  padding: clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px) clamp(7px, 2vw, 10px) clamp(15px, 3.5vw, 25px);
  background-position: left;
}

.html-lesson-wrapper .see-content .phrases-section .red-boxed-piece {
  background-color: #ffb2b0;
  padding: clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px) clamp(7px, 2vw, 10px) clamp(15px, 3.5vw, 25px);
}

.html-lesson-wrapper .see-content .phrases-section .icon {
  text-align: center;
  font-size: clamp(10px, 2vw, 14px);
  font-family: "Noto Sans";
}

.html-lesson-wrapper .see-content .phrases-section .icon img {
  height: clamp(70px, 20vw, 100px);
  width: auto;
}

.html-lesson-wrapper .see-content .phrases-section .icon div {
  margin-top: clamp(8px, 2vw, 14px);
}

.html-lesson-wrapper .see-content .phrases-section .phrases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans";
}

.html-lesson-wrapper .see-content .phrases-section .phrase p {
  margin: clamp(3px, 0.5vw, 5px) 0px;
}

.html-lesson-wrapper .see-content .phrases-section .eng {
  font-size: clamp(8px, 2vw, 16px);
  text-align: center;
  border-radius: 3px;
  font-family: "Noto Sans";
}

.html-lesson-wrapper .see-content .phrases-section .jap {
  font-size: clamp(7px, 2vw, 14px);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  min-width: 100%;
}

.html-lesson-wrapper .see-content .phrases-section .legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.html-lesson-wrapper .try-content {
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
}

.html-lesson-wrapper .try-content .arrow.try {
  color: white;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-try-arrow.png);
}

.html-lesson-wrapper .try-content .combinations {
  display: -ms-grid;
  display: grid;
}

.html-lesson-wrapper .try-content .combinations .combination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.html-lesson-wrapper .act-content {
  margin-left: clamp(18px, 5vw, 32px);
  margin-right: clamp(18px, 5vw, 32px);
}

.html-lesson-wrapper .act-content .arrow.act {
  color: white;
  background-image: url(https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/0-act-arrow.png);
}

.html-lesson-wrapper .blue-line {
  width: 15px;
  height: 2px;
  border-bottom: 2px solid #1287cd;
  margin-bottom: 5px;
}

.html-lesson-wrapper .table {
  width: 100%;
}

.html-lesson-wrapper .table .name {
  font-weight: bold;
  font-size: clamp(10px, 3vw, 16px);
  text-align: right;
  padding-right: 10px;
  white-space: nowrap;
  width: 1%;
  padding-top: 0.8%;
}

.html-lesson-wrapper .table .eng {
  font-family: "Noto Sans";
  font-weight: normal;
  font-size: clamp(10px, 2.68vw, 18px);
  margin-bottom: 1%;
}

.html-lesson-wrapper .table .jap {
  font-size: clamp(9px, 2vw, 13px);
  margin-bottom: 3.8%;
}

.see-1 {
  margin-top: 29%;
}

.see-1 .office-see-1 {
  margin-top: 6%;
}

.see-1 .office-see-1 .speech .eng {
  font-size: clamp(9px, 2vw, 14px);
}

.see-1 .office-see-1 .speech.akiko {
  margin-top: 5.6%;
  left: 12.5%;
}

.see-1 .office-see-1 .speech.steve {
  margin-top: 18%;
  right: 25.5%;
}

.see-2,
.see-3 {
  margin-top: 7%;
}

.see-2 .alt:not(:last-child),
.see-3 .alt:not(:last-child) {
  margin-bottom: 6%;
}

.see-2 .legend.flex-center,
.see-3 .legend.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.see-2 .legend.flex-right,
.see-3 .legend.flex-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right !important;
      -ms-flex-pack: right !important;
          justify-content: right !important;
}

.see-2 .phrases-section,
.see-3 .phrases-section {
  margin-bottom: 8%;
}

.see-2 .phrases .phrase-wrapper,
.see-3 .phrases .phrase-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.see-2 .phrases .phrase-wrapper:last-child,
.see-3 .phrases .phrase-wrapper:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.see-2 .conversation .conv-1,
.see-2 .conversation .conv-2,
.see-3 .conversation .conv-1,
.see-3 .conversation .conv-2 {
  margin-top: 5%;
  display: -ms-grid;
  display: grid;
}

.see-2 .conversation .conv-1 .phrases-wrapper,
.see-2 .conversation .conv-2 .phrases-wrapper,
.see-3 .conversation .conv-1 .phrases-wrapper,
.see-3 .conversation .conv-2 .phrases-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.see-2 .conversation .conv-1 .phrases,
.see-2 .conversation .conv-2 .phrases,
.see-3 .conversation .conv-1 .phrases,
.see-3 .conversation .conv-2 .phrases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.see-2 .conversation .conv-1 .phrases.column,
.see-2 .conversation .conv-2 .phrases.column,
.see-3 .conversation .conv-1 .phrases.column,
.see-3 .conversation .conv-2 .phrases.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.see-2 .conversation .conv-1 .phrases .phrase-wrapper,
.see-2 .conversation .conv-2 .phrases .phrase-wrapper,
.see-3 .conversation .conv-1 .phrases .phrase-wrapper,
.see-3 .conversation .conv-2 .phrases .phrase-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.see-2 .conversation .conv-1 .phrases .phrase-wrapper:last-child,
.see-2 .conversation .conv-2 .phrases .phrase-wrapper:last-child,
.see-3 .conversation .conv-1 .phrases .phrase-wrapper:last-child,
.see-3 .conversation .conv-2 .phrases .phrase-wrapper:last-child {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.see-2 .conversation .conv-1 .phrases .phrase .eng,
.see-2 .conversation .conv-2 .phrases .phrase .eng,
.see-3 .conversation .conv-1 .phrases .phrase .eng,
.see-3 .conversation .conv-2 .phrases .phrase .eng {
  font-size: clamp(8px, 2.2vw, 15px);
  margin-right: 8px;
}

.see-2 .conversation .conv-1 .phrases .phrase:not(:last-child),
.see-2 .conversation .conv-2 .phrases .phrase:not(:last-child),
.see-3 .conversation .conv-1 .phrases .phrase:not(:last-child),
.see-3 .conversation .conv-2 .phrases .phrase:not(:last-child) {
  margin-right: -2px;
}

.see-2 .conversation .conv-1 .icon,
.see-2 .conversation .conv-2 .icon,
.see-3 .conversation .conv-1 .icon,
.see-3 .conversation .conv-2 .icon {
  padding-right: 1rem;
}

.see-2 .conversation .conv-2 .phrases-wrapper,
.see-3 .conversation .conv-2 .phrases-wrapper {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.see-2 .phrase-alts,
.see-3 .phrase-alts {
  margin-top: 7%;
}

.see-2 .phrase-alts .alt-box .choice-eng,
.see-3 .phrase-alts .alt-box .choice-eng {
  font-size: clamp(9px, 2vw, 15px);
}

.see-2 .phrase-alts .alt-box .choice-jap,
.see-3 .phrase-alts .alt-box .choice-jap {
  letter-spacing: -2px;
  line-height: clamp(0.5rem, 2vw, 1.5rem);
}

.see-2 .conversation .conv-1 {
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
}

.see-2 .conversation .conv-2 {
  -ms-grid-columns: 1fr min-content;
      grid-template-columns: 1fr -webkit-min-content;
      grid-template-columns: 1fr min-content;
}

.see-2 .phrase-alts {
  -ms-grid-columns: 1.5fr 1fr !important;
      grid-template-columns: 1.5fr 1fr !important;
  gap: 1rem !important;
}

.see-2 .phrase-alts .alt:not(:last-child) {
  margin-bottom: 1% !important;
}

.see-3 .phrase-alts {
  -ms-grid-columns: 1fr 1.2fr !important;
      grid-template-columns: 1fr 1.2fr !important;
  gap: 5px !important;
}

.see-3 .phrase-alts .alt:not(:last-child) {
  margin-bottom: 5% !important;
}

.try-1,
.try-2,
.try-3 {
  margin-top: 6%;
}

.try-1 .combinations {
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
  margin-top: 8%;
}

.try-1 .combinations .number,
.try-1 .combinations .plus {
  margin-right: 0.5rem !important;
}

.try-1 .combinations > div:last-child {
  margin-left: 4%;
}

.try-1 .combinations .combination-icon {
  height: auto;
  width: clamp(80px, 30vw, 180px);
  margin-top: 2rem;
}

.try-1 .combinations .combination {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 6%;
}

.try-1 .combinations .combination > div:not(:last-child) {
  margin-right: 4%;
}

.try-1 .combinations .combination .number.inverse {
  border: 1px solid #1287cd !important;
}

.try-2 .combinations {
  -ms-grid-columns: min-content 1fr 1fr;
      grid-template-columns: -webkit-min-content 1fr 1fr;
      grid-template-columns: min-content 1fr 1fr;
  margin-top: 8%;
}

.try-2 .combinations > div:last-child {
  margin-left: 4%;
}

.try-2 .combinations .combination-icon {
  height: auto;
  width: clamp(80px, 30vw, 180px);
}

.try-2 .combinations .combination-div {
  margin-top: 15%;
}

.try-2 .combinations .combination {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 13%;
}

.try-2 .combinations .combination > div:not(:last-child) {
  margin-right: 4%;
}

.try-3 .table-wrapper-section {
  margin-top: 10%;
}

.try-3 .table-wrapper-section .table-wrapper {
  width: 100%;
}

.try-3 .table-wrapper-section .table-wrapper p {
  margin: 0;
}

.try-3 .table-wrapper-section .table-wrapper .table-number {
  font-size: clamp(10px, 3vw, 16px);
  padding-top: clamp(5px, 2.2vw, 6px);
  padding-right: clamp(9px, 2.9vw, 15px);
}

.try-3 .table-wrapper-section .table-wrapper .table-img {
  width: 34%;
  text-align: right;
  vertical-align: bottom;
}

.try-3 .table-wrapper-section .table-wrapper:not(:last-child) {
  margin-bottom: clamp(1rem, 3rem, 4rem);
}

.try-3 .table-wrapper-section .table-wrapper img {
  max-width: clamp(44%, 25vw, 100%);
  padding-left: 5%;
}

.try-3 .table {
  font-family: "Noto Sans";
  border-collapse: collapse;
}

.try-3 .table td {
  font-size: clamp(9px, 3vw, 17px);
}

.try-3 .table td img {
  max-width: clamp(44%, 16vw, 100%);
  margin-bottom: 20px;
}

.try-3 .table .name {
  font-size: clamp(10px, 3vw, 16px);
  white-space: nowrap;
}

.try-3 .table td:nth-child(2) {
  padding-bottom: 7%;
}

.act-1,
.act-2 {
  margin-top: 7%;
}

.act-2 {
  margin-bottom: 50px;
}

.act-1 {
  font-family: "Noto Sans" !important;
}

.act-1 .blue-line {
  margin-top: 5%;
}

.act-1 .table-conv {
  margin-left: 1rem;
}

.act-1 p.jap {
  letter-spacing: -2px;
}

.act-1 .office-act-1 {
  margin-top: 6%;
}

.act-1 .office-act-1 .bubble.steve {
  font-family: "Noto Sans";
}

.act-1 .office-act-1 .bubble.steve .eng {
  font-weight: bold;
  font-size: clamp(10px, 2.3vw, 13px);
}

.act-1 .office-act-1 .bubble.steve .jap {
  letter-spacing: -1px;
  line-height: clamp(10px, 2.8vw, 1rem);
}

.act-1 .office-act-1 .bubble.steve {
  margin-top: 7.4%;
  left: 21.9%;
}
