@import '../../css/level0D-utils';

body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  
  //office section

  .name {
    position: absolute;
    border: 0.25px solid #231f20;
    border-radius: 6.67px;
    background-color: #ffffff;
    color: #2d356b;
    font-weight: bold;
    font-family: $text-font;
    font-size: clamp(8px, 2vw, 10px);
    padding: clamp(5px, 1.5vw, 8px) clamp(5px, 2.5vw, 15px);
  }

  .act-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.part-1 {
      margin-top: clamp(110px, 28vw, 173.2px);
    }

    &.part-2 {
      margin-top: 32px;
      margin-bottom: 50px;
    }

    .part-1-content {
      margin: clamp(20px, 6.5vw, 29px) 0 clamp(20px, 17vw, 7rem);
    }

    .part-2-content {
      margin: clamp(50px, 12vw, 70px) 0 clamp(20px, 17vw, 7rem);
      .row {
        p {
          margin-block-start: 0em !important;
          margin-block-end: 0em !important;
          display: inline-block;
          margin: 0px 0px;
          &:first-child {
            margin-right: 1em;
            max-width: 100px;
            word-wrap: break-word;
          }
        }
      }
    }

    .act-1-content {
      .image-area1 {
        margin-bottom: 1vw;
      }
      .image-border-top {
        border-top: 1px solid #7b88ac;
      }

      .speech-bubble {
        position: absolute;
        margin: 15.5% 0 0 35%;
      }

      .speech-bubble-1 {
        line-height: 1.8;
        width: 20em;
        font-size: clamp(8.5px, 2.4vw, 14px);
        font-weight: bold;
        position: absolute;
        margin: 10% 0px 0 27%;
        .row{
          display:flex;
          p:nth-child(2){
            width: 22em;
          }
        }
        .space{
          margin-left: 1em;
        }
      }

      .speech-bubble-2 {
        line-height: 1.8;
        width: 20em;
        font-size: clamp(8.5px, 2.4vw, 14px);
        font-weight: bold;
        position: absolute;
        margin: 13% 0 0 22%;
        .row{
          display:flex;
          p:nth-child(2){
            width: 22em;
          }
        }
      }

      .speech-bubble-3 {
        line-height: 1.8;
        width: 20em;
        font-size: clamp(8.5px, 2.4vw, 14px);
        font-weight: bold;
        position: absolute;
        margin: 09% 0 0 16%;
      }

      .speech-bubble-4 {
        line-height: 1.8;
        width: 20em;
        font-size: clamp(8.5px, 2.4vw, 14px);
        font-weight: bold;
        position: absolute;
        margin: 07% 0 0 25%;
        .row{
          display:flex;
          p:nth-child(2){
            width: 22em;
          }
        }
      }

      .speech-bubble-5 {
        line-height: 1.8;
        width: 20em;
        font-size: clamp(8.5px, 2.4vw, 14px);
        font-weight: bold;
        position: absolute;
        margin: 9% 0 0 32%;
        .row{
          display:flex;
          p:nth-child(2){
            width: 22em;
          }
        }
      }

      .eng {
        font-family: $text-font;
        font-size: $fs-14;
        font-weight: bold;
      }

      .mt {
        margin-top: 5px;
      }

      .jpn {
        font-family: $noto-sans;
        font-size: $fs-11;
        color: #7f8288;
      }

      .text {
        display: flex;
        font-family: $noto-sans;
        font-size: $fs-18;
        margin-bottom: clamp(5px, 3vw, 18px);
      }

      .bold {
        margin-right: 2vw;
        text-align: right;
        width: 15%;
        font-weight: bold;
        font-size: $fs-16;
      }

      .speech {
        width: 85%;
      }
    }

    .arrow.act {
      color: white;
      background-image: url(#{$s3}/0-act-arrow.svg);
    }
  }
}
