@import '../../css/_op-executive-utils.scss';
$s4: './images';
.html-lesson-wrapper {
  .act-spacer {
    padding-bottom: 10rem;
    @media only screen and (max-width: 767px) {
      padding-bottom: 0;
    }
  }
  .footer-text {
<<<<<<< HEAD:op-executive/lesson-12/main.scss
    max-width: 40% !important;
=======
    @media only screen and (max-width: 400px) {
      max-width: 40% !important;
    }
>>>>>>> 66ee7c2cfc787bd060cfed8c49695d5f8751bb9e:op-executive/lesson-01/main.scss
  }
}
