@import '../../css/level1-a-utils';

.html-lesson-wrapper {
  .lesson-points {
    width: 78%;
  }
  .try-content {
    ul > li > p {
      display: grid;
      grid-template-columns: 0.03fr 1fr;
    }
  }
  .see-content {
    .grid {
      grid-template-columns: 0.7fr 1fr 1fr;

      &.offset {
        grid-template-columns: 1fr 1.8fr;
      }
    }
  }

  .act-content {
    ul {
      margin-left: 1.4em;
      list-style-type: decimal;
      & > li > {
        ul {
          list-style-type: disc;
          margin-left: 1.4em;
        }
      }
    }
  }
}
