@import '../../css/level0D-utils';

.html-lesson-wrapper {
  //office section
  .name {
    position: absolute;
    border: 0.25px solid #231f20;
    border-radius: 6.67px;
    background-color: #ffffff;
    color: #2d356b;
    font-weight: bold;
    font-family: $text-font;
    font-size: clamp(8px, 2vw, 10px);
    padding: clamp(5px, 1.5vw, 8px) clamp(5px, 2.5vw, 15px);
  }

  .office-section {
    font-family: $noto-sans;

    &.office-see-1 {
      margin-top: clamp(20px, 6.5vw, 29px);

      .akiko {
        margin: 34.5% 0 0 7.5%;
      }

      .dan {
        margin: 35.5% 0 0 71%;
      }

      .dan-convo-1 {
        position: absolute;
        margin: 4% 0 0 53%;
      }

      .akiko-convo-1 {
        position: absolute;
        margin: 13% 0 0 4%;
      }

      .akiko-convo-2 {
        position: absolute;
        margin: 25% 0 0 28%;
      }

      .eng {
        font-family: $text-font;
        font-weight: bold;
        font-size: clamp(8.5px, 2.4vw, 14px);
      }
      .jpn {
        font-family: $noto-sans;
        color: #76797f;
        font-weight: normal;
        font-size: clamp(6.5px, 1.8vw, 11px);
        line-height: 1.8;
      }
    }
  }

  // See-content
  .see-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.see-1 {
      margin-top: clamp(110px, 28vw, 173.2px);
    }

    &.see-2,
    &.see-3,
    &.see-4 {
      margin-top: clamp(20px, 5vw, 33px);

      //see-content.legend
      & .legend {
        margin-top: clamp(25px, 5vw, 38px);
      }
    }

    .see-2-section {
      margin-top: clamp(20px, 6.5vw, 4rem);

      .akiko-section {
        display: flex;
        .akiko-icon {
          text-align: center;
          width: 25%;

          div {
            font-family: $noto-sans;
            font-size: clamp(8.5px, 2.4vw, 14px);
            font-weight: bold;
            margin-top: 3%;
          }
        }
        .akiko-conversation {
          width: 82%;
          padding-left: 3vw;

          .row-1 {
            width: 100%;
            display: flex;
          }
          .row-2 {
            width: 100%;
            .sub {
              font-family: $noto-sans;
              font-size: $fs-13;
              font-size: $fs-13;
              line-height: 2;
              color: #7f8288;
            }
          }

          .piece-mt {
            margin-top: clamp(5px, 1.5vw, 10px);
          }
        }
      }
      .budgets-piece {
        width: clamp(70px, 20vw, 104.8px);
      }

      .are-approved-piece {
        width: clamp(100px, 31vw, 159px);
      }

      .by-the-president-piece {
        width: clamp(120px, 30vw, 177.2px);
      }

      .directors-meeting-piece {
        width: clamp(153px, 45vw, 245.2px);
      }

      .piece {
        position: relative;
        display: grid;
        place-items: center;
        width: 100%;
        height: clamp(30px, 7vw, 38px);

        &.pink {
          background: url(#{$s3}/0-D-1-pink-piece.svg);
          background-repeat: no-repeat;
          background-size: contain;
        }
        &.pink-2 {
          background: url(#{$s3}/0-D-1-pink-piece-2.svg);
          background-repeat: no-repeat;
          background-size: contain;
        }
        &.yellow {
          background: url(#{$s3}/0-D-1-yellow-piece.svg);
          background-repeat: no-repeat;
          background-size: contain;
        }
        &.yellow-2 {
          background: url(#{$s3}/0-D-1-yellow-piece.svg);
          background-repeat: no-repeat;
          background-size: contain;
        }
        &.green {
          background: url(#{$s3}/0-D-1-green-piece.svg);
          background-repeat: no-repeat;
          background-size: contain;
        }
        &.green-2 {
          background: url(#{$s3}/0-D-1-green-piece-2.svg);
          background-repeat: no-repeat;
          background-size: contain;
        }

        .piece-text {
          position: absolute;
          font-size: $fs-16;
          font-family: $noto-sans;
          font-weight: bold !important;
        }

        .piece-image {
          width: 100%; /* or any custom size */
          height: 100%;
          object-fit: stretch;
          position: absolute;
        }
      }

      .akiko-table {
        margin-top: clamp(1rem, 9vw, 3.5rem);
        display: grid;
        column-gap: clamp(3px, 0.5vw, 10px);
        width: 100%;
        height: 100%;
        grid-template-columns: auto auto auto;
        margin-bottom: 2em;
      }

      .akiko-bottom-table {
        display: grid;
        column-gap: 10px;
        width: 100%;
        height: 100%;
        grid-template-columns: auto auto auto;
      }

      .table {
        margin-top: 0.2rem;
        border: 1px solid #1287cd;
        padding: clamp(10px, 2.5vw, 18px) clamp(7px, 1.5vw, 11px);
      }
      .table.column-one {
        width: 100%;
      }
      .table.column-two {
        width: 100%;
      }
      .table.column-three {
        background: #e7f3fa;
      }
      .table.column-four {
        background: #e7f3fa;
      }

      ol {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-gap: clamp(0.1rem, 1vw, 0.5rem);
        counter-reset: orderedlist;
      }

      ol.column-one {
        --li-bg: #1287cd;

        li::before {
          color: #fff;
          border-radius: 50%;
          counter-increment: orderedlist;
          content: counter(orderedlist);
          font-family: $noto-sans;
          font-size: $fs-16;
          width: clamp(18px, 4vw, 24px);
          height: clamp(18px, 4vw, 24px);
          display: grid;
          place-items: center;
          color: #fff;
          background-color: var(--li-bg);
          font-weight: bold;
        }
      }

      ol.column-two {
        --li-bg: #fff;

        li::before {
          content: attr(data-value) ' ';
          color: $primary-blue;
          border: 2px solid $primary-blue;
          // content: counter(orderedlist);
          font-family: $noto-sans;
          font-size: $fs-16;
          width: clamp(18px, 4vw, 24px);
          height: clamp(18px, 4vw, 24px);
          display: grid;
          place-items: center;
          background-color: var(--li-bg);
          font-weight: bold;
        }
      }
      .below {
        margin-left: 4em;
        @media screen and (max-width: 900px) {
          margin-left: 3em;
        }
      }
      ol.column-three {
        --li-bg: #fff;
        .below {
          width: 75%;
          margin-left: 4em;
        }

        li::before {
          counter-reset: list-number 5 !important;
          border-radius: 50%;
          color: $primary-blue;
          counter-increment: orderedlist;
          content: counter(orderedlist);
          font-family: $noto-sans;
          font-size: $fs-16;
          width: clamp(18px, 4vw, 24px);
          height: clamp(18px, 4vw, 24px);
          display: grid;
          place-items: center;
          background-color: var(--li-bg);
          font-weight: bold;
        }
      }

      ol.column-four {
        --li-bg: #fff;
        .below {
          width: 75%;
          margin-left: 4em;
        }
        li::before {
          content: attr(data-value) ' ';
          border-radius: 50%;
          color: $primary-blue;
          font-family: $noto-sans;
          font-size: $fs-16;
          width: clamp(18px, 4vw, 24px);
          height: clamp(18px, 4vw, 24px);
          display: grid;
          place-items: center;
          background-color: var(--li-bg);
          font-weight: bold;
        }
      }

      li {
        display: grid;
        grid-template-columns: 0 1fr;
        grid-gap: clamp(1.5rem, 6vw, 2.1rem);
        align-items: start;
        line-height: 1.25;
        font-family: $noto-sans;

        div {
          div.list-title {
            font-size: $fs-16;
            margin-bottom: clamp(2px, 1vw, 8px);
          }

          div.list-subtitle {
            font-size: $fs-13;
            color: #7f8288;
          }
        }
      }

      .column-two {
        .are-approved-piece {
          margin: 0 auto;
        }
      }
      .column-three {
        .by-the-president-piece {
          margin: 0 0 0 auto;
        }

        .directors-meeting-piece {
          margin: 0 0 0 auto;
        }
      }
      .column-four {
        .by-the-president-piece {
          margin: 0 0 0 auto;
        }

        .directors-meeting-piece {
          margin: 0 0 0 auto;
        }
      }

      .last-piece {
        float: right
      }
    }

    .arrow.see {
      @extend .b;
      text-transform: uppercase;
      color: $primary-blue;
      font-size: $fs-16;
      background-image: url(#{$s3}/0-see-arrow.svg);
      padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
      background-repeat: no-repeat;
      background-size: contain;
      font-family: $noto-sans;
    }
  }
  .try-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    .try-1-content {
      margin: clamp(20px, 6.5vw, 4rem) 0 clamp(20px, 5vw, 1rem);

      display: flex;

      .akiko-icon {
        width: 30%;
        padding-right: 2vw;
      }
      .combination {
        width: 70%;
      }
    }

    .try-2-content {
      margin-top: 5em;

      ol {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-gap: clamp(0.1rem, 1vw, 0.5rem);
        counter-reset: orderedlist;
      }

      li::before {
        counter-increment: orderedlist;
        content: counter(orderedlist);
        font-family: $noto-sans;
        font-size: $fs-16;
        color: $primary-blue;
        font-weight: bold;
        padding-left: 1vw;
      }

      li {
        display: grid;
        grid-template-columns: 0 1fr;
        grid-gap: clamp(0.6rem, 1.5vw, 2.1rem);
        font-family: $noto-sans;
        margin-bottom: clamp(1rem, 10vw, 5rem);

        .dialogue {
          display: flex;
        }

        .trainer {
          margin-bottom: clamp(10px, 4vw, 20px);
        }

        .person {
          width: clamp(60px, 15%, 80px);
          text-align: right;
          font-weight: bold;
          font-size: $fs-16;
        }

        .speech {
          padding-left: 1vw;
          width: 85%;
          font-size: $fs-16;
        }

        .image {
          margin-top: clamp(10px, 6vw, 30px);
          width: 100%;
          display: flex;
          justify-content: center;
          position: relative;

          .size-a {
            width: clamp(200px, 47vw, 283.57px);
          }

          .size-b {
            width: clamp(245px, 63.5vw, 384.4px);
          }

          .text-20 {
            font-size: clamp(13px, 4.2vw, 20px);
          }

          .text-16 {
            font-size: clamp(10px, 3.5vw, 16px);
          }

          .president {
            position: absolute;
            margin: clamp(5rem, 33%, 9.5rem) 0 0 clamp(1rem, 4.5%, 1.4rem);
          }

          .managers {
            position: absolute;
            margin: clamp(6.5rem, 28%, 9.2rem) 0 0 clamp(0.6rem, 2%, 1rem);
          }

          .employee {
            position: absolute;
            margin: clamp(4.8rem, 22%, 9.2rem) 0 0 clamp(0.9rem, 8%, 3rem);
          }

          .convo {
            color: #2d356b;
            font-family: $text-font;
            font-weight: bold;
          }

          .upper-1 {
            position: absolute;
            margin: clamp(2.2rem, 5%, 2rem) 0 0 clamp(9.6rem, 32%, 9.5rem);
          }

          .lower-1 {
            position: absolute;
            margin: clamp(5rem, 14%, 5rem) 0 0 clamp(10rem, 30%, 10rem);
            transform: rotate(13.8deg);
          }

          .lower-2 {
            position: absolute;
            margin: clamp(4rem, 12.5%, 4rem) 0 0 clamp(8.5rem, 25%, 10rem);
            transform: rotate(9.29deg);
          }

          .upper-3 {
            position: absolute;
            margin: clamp(2rem, 6%, 4.3rem) 0 0 clamp(10.5rem, 63%, 14rem);
          }

          .lower-3 {
            position: absolute;
            margin: clamp(4.5rem, 15.5%, 4.6rem) 0 0 clamp(6.6rem, 61%, 13.5rem);
            transform: rotate(9.29deg);
          }

          .upper-4 {
            position: absolute;
            margin: clamp(1rem, 8%, 2rem) 0 0 clamp(9.5rem, 28%, 16.8rem);
            transform: rotate(11.92deg) !important;
          }

          .lower-4 {
            position: absolute;
            margin: clamp(3.4rem, 17.5%, 4.7rem) 0 0 clamp(8.1rem, 26.2%, 14.8rem);
            transform: rotate(-4deg) !important;
          }

          .upper-5 {
            position: absolute;
            margin: clamp(1rem, 9%, 2rem) 0 0 clamp(11rem, 67%, 15rem);
          }

          .lower-5 {
            position: absolute;
            margin: clamp(2rem, 20%, 4.7rem) 0 0 clamp(10.2rem, 67%, 15rem);
            transform: rotate(9.29deg);
          }

          .clockwise {
            transform: rotate(-12deg);
          }
          .counter-clockwise {
            transform: rotate(8deg);
          }

          .try-2-3-name {
            padding: clamp(5px, 1.5vw, 8px) clamp(5px, 5vw, 32px) !important;
          }
        }
      }
    }

    .try-content-pb {
      padding-bottom: 6vw;
    }

    .try-3-content {
      margin: clamp(3rem, 8vw, 5rem) 0 clamp(20px, 17vw, 7rem);

      .step {
        margin-bottom: clamp(2rem, 15vw, 6rem);
      }

      .image-1 {
        padding: 0 clamp(1rem, 3.5vw, 1.5rem);
      }

      .image-3 {
        padding: 0 0 0 clamp(1rem, 3.5vw, 1.5rem);
      }

      .image-5 {
        padding: 0 0 0 clamp(1rem, 12vw, 4.9rem);
      }

      .text {
        font-family: $noto-sans;
        font-size: $fs-16;
        margin-top: clamp(1rem, 5vw, 1.5rem);
        .underline {
          color: $primary-blue;
          text-decoration: underline;
        }
      }
    }

    .try-4-content {
      margin: clamp(20px, 12vw, 80px) 0 clamp(20px, 17vw, 7rem);

      .image-section {
        display: flex;
        margin-bottom: clamp(1rem, 4vw, 1.8rem);
      }

      .image {
        padding: 0 clamp(0.5rem, 7vw, 1.8rem);
      }

      .image-1 {
        padding: 0 clamp(0.5rem, 7vw, 1.8rem);
      }

      .image-2 {
        padding: 0 clamp(0.5rem, 3vw, 0.7rem);
      }

      .text {
        display: flex;
        font-family: $noto-sans;
        font-size: $fs-16;
        margin-bottom: clamp(1rem, 3.5vw, 1.5rem);
      }

      .underlined {
        color: $primary-blue;
        text-decoration: underline;
      }

      .bold {
        margin-right: 2vw;
        text-align: right;
        width: 12%;
        font-weight: bold;
        font-size: $fs-16;
      }

      .step {
        margin-bottom: clamp(2rem, 9vw, 5rem);
      }
    }

    .number {
      color: $primary-blue;
      font-size: $fs-16;
      font-weight: bold;
      margin-right: 1vw;
    }

    &.try-1,
    &.try-2,
    &.try-3,
    &.try-4 {
      margin-top: 32px;
    }

    .arrow.try {
      color: white;
      background-image: url(#{$s3}/0-try-arrow.svg);
    }
  }
  .act-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    .act-1-content {
      margin: clamp(20px, 6.5vw, 29px) 0 clamp(20px, 17vw, 7rem);

      .image-area {
        margin-bottom: 1vw;
      }

      .dan-speech {
        position: absolute;
        margin: 9% 0 0 52%;
      }

      .eng {
        font-family: $text-font;
        font-size: $fs-14;
        font-weight: bold;
      }

      .jpn {
        font-family: $noto-sans;
        font-size: $fs-11;
        color: #7f8288;
      }

      .dan {
        position: absolute;
        margin: 36.5% 0 0 71%;
      }

      .akiko {
        position: absolute;
        margin: 37% 0 0 8%;
      }

      .text {
        display: flex;
        font-family: $noto-sans;
        font-size: $fs-18;
        margin-bottom: clamp(5px, 1vw, 10px);
      }

      .jpn-text {
        display: flex;
        font-family: $noto-sans;
        font-size: clamp(9px, 2.2vw, 12px);
        margin-bottom: clamp(5px, 3vw, 25px);
        color: #7f8288;
      }

      .bold {
        margin-right: 2vw;
        text-align: right;
        width: 13%;
        font-weight: bold;
        font-size: $fs-18;
      }

      .speech {
        width: 88%;
      }
    }

    &.act-1,
    &.act-2 {
      margin-top: 32px;
    }
    &.act-2 {
      margin-bottom: 50px;
    }

    .arrow.act {
      color: white;
      background-image: url(#{$s3}/0-act-arrow.svg);
    }
  }
}
