$text-font: "Trebuchet MS";
$title-font: "Arial";
// $noto-sans: "Noto Sans JP";
$noto-sans: "Noto Sans";

$primary-blue: #1287cd;
$rank-green: #009c9a;
$primary-dark: #083051;
$primary-light: #cce0ec;

$subtext-color: #7f8288;

$side-margin: clamp(18px, 5vw, 32px);

$s3: "https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images";

body {
  margin: 0;
  padding: 0;
}

hr {
  border-top: 1px solid #dbdcdc;
}

td {
  vertical-align: top;
}

.m-0 {
  margin: 0;
}

.flex {
  display: flex;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.trebuchet {
  font-family: $text-font;
}

.content-mt {
  margin-top: clamp(20px, 6.5vw, 38px);
}

.html-lesson-wrapper {
  font-family: $text-font;
  width: 100%;
  min-width: 360px;
  max-width: 604px;
  min-height: 1596px;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url(#{$s3}/0-bg-header.png), url(#{$s3}/0-bg-footer.png);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;

  header {
    font-family: $title-font;
  }

  .fs-16 {
    font-size: clamp(12px, 2.3vw, 16px);
  }
  .flip-horizontal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .noto-sans {
    font-family: $noto-sans;
  }
  .b {
    font-weight: bold;
  }
  .u-sup {
    border-bottom: solid 1.5px black;
    display: inline-block;
    line-height: clamp(6px, 1.5vw, 14px);
  }
  .u-blue {
    text-decoration: underline;
    color: $primary-blue;
  }
  .primary-blue {
    color: $primary-blue;
  }
  .program-rank {
    position: absolute;
    color: #ffffff;
    font-size: 0px;
    margin-top: clamp(1px, 1vw, 5px);

    .type {
      padding: clamp(1px, 1vw, 5px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 5px)
        clamp(10px, 3vw, 17px);
      background-color: $primary-blue;
      font-size: clamp(7px, 1.8vw, 12px);
    }
    .level {
      padding: clamp(1px, 1vw, 5px) clamp(20px, 8.4vw, 50px)
        clamp(1px, 1vw, 5px) clamp(10px, 3vw, 17px);
      font-size: clamp(7px, 1.8vw, 12px);
      background: linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -webkit-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -o-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -moz-linear-gradient(
          125deg,
          $primary-blue 6%,
          rgba(0, 0, 0, 0) 0%
        ),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      margin-left: -15px;
      width: 100%;
    }
  }
  .eng {
    font-weight: bold;
    font-size: clamp(10px, 2vw, 14px);
  }
  .jap {
    letter-spacing: -0.5px;
    color: $subtext-color;
    font-family: $noto-sans;
    font-size: clamp(8px, 2vw, 11px);
  }
  .line {
    margin: 0 12px;
  }
  .lesson-number {
    position: absolute;
    left: 91.3%;
    width: 1.9%;
    text-align: center;
    margin-top: 0.5%;
    font-size: clamp(20px, 2vw, 40px);
    color: #ffffff;
  }

  // Title
  .title-section {
    position: absolute;
    top: clamp(30px, 8vw, 50px);
    background-color: $primary-blue;
    color: white;
    padding: clamp(10px, 3vw, 16px) clamp(20px, 6vw, 32px);
    width: 100%;
    box-sizing: border-box;
    font-family: $noto-sans;
    line-height: 1.8;

    .title {
      font-size: clamp(16px, 4.5vw, 26px);
    }
    .sub-title {
      font-size: clamp(10px, 2.5vw, 15px);
      letter-spacing: -0.5px;
    }
  }
  .arrow {
    @extend .b;
    text-transform: uppercase;
    font-size: clamp(12px, 2.3vw, 16px);
    padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: $noto-sans;
  }
  .instructions {
    font-family: $noto-sans;
    position: absolute;
    padding: clamp(0px, 0.01vw, 3px) 0px;
    left: 28%;
    line-height: 1.6;

    .title {
      font-size: clamp(12px, 3.5vw, 18px);
      color: #141821;
    }
    .sub-title {
      font-size: clamp(9px, 2vw, 13px);
      color: $subtext-color;
      letter-spacing: -0.5px;
    }
  }

  //office section
  .office-section {
    font-family: $noto-sans;
    
    .try-2-img {
      width: 90%;
    }

    &.office-see-1 {
      margin-top: clamp(20px, 6.5vw, 29px);
    }
  }

  // See-content
  .see-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.see-1 {
      margin-top: clamp(110px, 28vw, 173.2px);
    }

    &.see-2,
    &.see-3,
    &.see-4 {
      margin-top: clamp(20px, 5vw, 33px);

      //see-content.legend
      & .legend {
        margin-top: clamp(25px, 5vw, 38px);
      }
    }

    .arrow.see {
      @extend .b;
      text-transform: uppercase;
      color: $primary-blue;
      font-size: clamp(12px, 2.3vw, 16px);
      background-image: url(#{$s3}/0-see-arrow.png);
      padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
      background-repeat: no-repeat;
      background-size: contain;
      font-family: $noto-sans;
    }

  }
  .try-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    .try-content-pb {
      padding-bottom: 6vw;
    }

    .try-3-content {
      margin-top: clamp(20px, 6.5vw, 38px);
    }

    &.try-1,
    &.try-2,
    &.try-3,
    &.try-4 {
      margin-top: 32px;
    }

    .arrow.try {
      color: white;
      background-image: url(#{$s3}/0-try-arrow.png);
    }
  }
  .act-content {
    margin-left: $side-margin;
    margin-right: $side-margin;
    &.act-1,
    &.act-2 {
      margin-top: 32px;
    }
    &.act-2 {
      margin-bottom: 50px;
    }

    .arrow.act {
      color: white;
      background-image: url(#{$s3}/0-act-arrow.png);
    }
  }
  .blue-line {
    width: 15px;
    height: 2px;
    border-bottom: 2px solid $primary-blue;
    margin-bottom: 5px;
  }
}
