$text-font: 'Trebuchet MS';
$title-font: 'Arial';

$primary: #2078a0;

$left-pixel: 126.5px;

body {
  margin: 0;
  padding: 0;
}
.html-lesson-wrapper {
  width: 100%;
  min-width: 360px;
  max-width: 893px;
  min-height: 1100px;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image:url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/bg-header.png'), url('https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/bg-footer.png');
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: $text-font;
  header {
    font-family: $title-font;
  }
  .b {
    font-weight: bold;
  }
  .i {
    font-family: italic;
  }
  .program-rank {
    position: absolute;
    top: 3.45%;
    left: 6%;
    color: #ffffff;
    font-size: 0px;

    .type {
      padding: 3px 16px 3px 14px;
      background-color: $primary;
      font-size:clamp(8px, 2vw, 15px);
    }
    .level {
      padding: 3px 12px 3px 13px;
      background-color: #339999;
      font-size:clamp(8px, 2vw, 15px);
    }
  }
  .line {
    margin: 0 12px;
  }
  .title {
    position: absolute;
    top: 7%;
    left: 6%;
    font-size: clamp(12px, 3vw, 27px);
  }
  .lesson-number {
    position: absolute;
    left: 91.65%;
    width: 1.9%;
    text-align: center;
    padding-top: 7.5%;
    font-size: clamp(7px, 1.8vw, 13px);
    color: #ffffff;
  }
  .row {
    display: flex;
    flex-direction: row;
  }
  .sub-text {
    font-family: $title-font !important;
    line-height: 22px;
    margin: 0 auto;
  }
  .section {
    position: absolute;
    left: -71.5px;
    color: #2078a0;
    font-weight: bold;
    font-size:clamp(10px, 2vw, 15px);
    font-family: $title-font;
  }
  .divider {
    color: #d9d9d9;
    position: relative;
    left: 50%;
    font-size: clamp(6px, 1.8vw, 15px);

    &.d1 {
      margin-top: 8px;
    }
    &.d2 {
      margin-top: 28px;
    }
  }
  ul {
    margin: 3px 0px 0px 18px;
    padding: 0;
    line-height: 26px;

    li {
      padding-left: 8px;
    }
  }

  .see-content,
  .act-content,
  .try-content {
    position: relative;
    margin-left: $left-pixel;
    padding-left: 18.5px;
    padding-right: 48px;
    font-size: 15px;
  }

  // See
  .see-content {
    position: relative;
    margin-left: clamp(1px, 15%, $left-pixel);
    margin-top: 28.5%;
    font-size:clamp(10px, 2vw, 15px);

    .col {
      width: fit-content;
      margin-right: 16px;
      position: relative;
      line-height: 26px;
      p {
        margin: 2px auto 24px;
      }
    }
  }

  // Try
  .try-content {
    position: relative;
    margin-top: 30px;
    margin-left: clamp(1px, 15%, $left-pixel);
    padding-left: 18.5px;
    font-size:clamp(10px, 2vw, 15px);

    ul {
      list-style-type: decimal;
    }
  }

  // Act
  .act-content {
    position: relative;
    margin-top: 30px;
    margin-left: clamp(1px, 15%, $left-pixel);
    padding-left: 18.5px;
    font-size:clamp(10px, 2vw, 15px);
    height: fit-content;
  }

  footer {
    font-size: clamp(5px, 1.4vw, 9px);
    position: absolute;
    width: 345px;
    text-align: right;
    bottom: 43px;
    left: 57%;
    font-family: $title-font;
  }
}
@media screen and (max-width: 900px){
  .html-lesson-wrapper {
    min-height: unset;
    footer {
      bottom: 3%;
      left: 52%;
    }
  }
}

@media screen and (max-width: 820px){
  .html-lesson-wrapper {
    footer {
      bottom: 3%;
    }
  }
}

@media screen and (max-width: 768px){
  .html-lesson-wrapper {
    .section {
      left: clamp(-55px, 20%, -71.5px);
    }
    footer {
      bottom: 2%;
      left: 57%;
      width: 40%;
    }
  }
}

@media screen and (max-width: 600px){
  .html-lesson-wrapper {
    .section {
      left: clamp(-45px, 20%, -71.5px);
    }
    .program-rank {
      top: 0;
      padding-top: 6%;
    }
    .title {
      top:0;
      padding-top: 12%;
    }
    footer {
      left: 57%;
      bottom: 2%;
      width: 40%;
    }
  }
}

@media screen and (max-width: 420px){
  .html-lesson-wrapper {
    .section {
      left: clamp(-30px, 15%, -71.5px);
    }
    .program-rank {
      top: 0;
      padding-top: 6%;
      .type, .level {
        padding: 3px 10px;
        font-size: clamp(6px, 2vw, 15px);
      }
    }
    .title {
      top:0;
      padding-top: 12%;
    }
    footer {
      left: 59%;
      bottom: 1%;
    }
    .see-content {
      .wrapper {
        padding-bottom: 0;
      }
      .col2 {
        padding-right:10px
      }
    }
    .act-content, .try-content {
      margin-top:20px
    }
  }
}
