@import '../../css/_op-meeting-basics-utils.scss';
.html-lesson-wrapper {
  .try {
    .content-table {
      .table-header {
        width: 16.67% !important;
      }
    }
  }
  .act-spacer {
    padding-bottom: 3rem;
    @media only screen and (max-width: 767px) {
      padding-bottom: 0;
    }
  }
}
