@import '../../css/op-job-interview-basics-utils';

.html-lesson-wrapper {
  .see-content {
    .sub-text {
      margin-bottom: 5%;
    }
    table {
      td:first-child {
        width: 13%;
      }
    }
  }

  .try-content {
    .no-wrap {
      white-space: nowrap;
    }
    .scroll {
      @media screen and (max-width: 571px) {
        overflow: scroll;
      }
      table {
        td {
          padding: 1%;
        }
      }
    }
  }
}
