$text-font: "Trebuchet MS";
$title-font: "Arial";
// $noto-sans: "Noto Sans JP";
$noto-sans: "Noto Sans";

$primary-blue: #1287cd;
$rank-green: #009c9a;
$primary-dark: #083051;
$primary-light: #cce0ec;

$subtext-color: #7f8288;

$side-margin: clamp(18px, 5vw, 32px);

$s3: "/level0-A/images";

body {
  margin: 0;
  padding: 0;
}

hr {
  border-top: 1px solid #dbdcdc;
}

td {
  vertical-align: top;
}

.m-0 {
  margin: 0;
}

.flex {
  display: flex;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.html-lesson-wrapper {
  font-family: $text-font;
  width: 100%;
  min-width: 360px;
  max-width: 604px;
  min-height: 1596px;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 62px;
  background-image: url(#{$s3}/0-bg-header.png), url(#{$s3}/0-bg-footer.png);
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;

  header {
    font-family: $title-font;
  }

  .fs-16 {
    font-size: clamp(12px, 2.3vw, 16px);
  }
  .flip-horizontal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .noto-sans {
    font-family: $noto-sans;
  }
  .b {
    font-weight: bold;
  }
  .u-sup {
    border-bottom: solid 1.5px black;
    display: inline-block;
    line-height: clamp(6px, 1.5vw, 14px);
  }
  .u-blue {
    text-decoration: underline;
    color: $primary-blue;
    // border-bottom: 1px solid $primary-blue;
  }
  .primary-blue {
    color: $primary-blue;
  }
  .program-rank {
    position: absolute;
    color: #ffffff;
    font-size: 0px;
    margin-top: clamp(1px, 1vw, 5px);

    .type {
      padding: clamp(1px, 1vw, 5px) clamp(20px, 4vw, 17px) clamp(1px, 1vw, 5px) clamp(10px, 3vw, 17px);
      background-color: $primary-blue;
      font-size: clamp(7px, 1.8vw, 12px);
    }
    .level {
      padding: clamp(1px, 1vw, 5px) clamp(20px, 8.4vw, 50px) clamp(1px, 1vw, 5px) clamp(10px, 3vw, 17px);
      font-size: clamp(7px, 1.8vw, 12px);
      background: linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -webkit-linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -o-linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      background: -moz-linear-gradient(125deg, $primary-blue 6%, rgba(0, 0, 0, 0) 0%),
        linear-gradient(125deg, $rank-green 90%, rgba(0, 0, 0, 0) 0%);

      margin-left: -15px;
      width: 100%;
    }
  }
  .eng {
    font-weight: bold;
    font-size: clamp(10px, 2vw, 14px);
  }
  .jap {
    letter-spacing: -2px;
    color: $subtext-color;
    font-family: $noto-sans;
    font-size: clamp(8px, 2vw, 11px);
  }
  .line {
    margin: 0 12px;
  }
  .lesson-number {
    position: absolute;
    right: 7%;
    width: 1.9%;
    text-align: center;
    margin-top: 0.5%;
    font-size: clamp(20px, 6vw, 35px);
    color: #ffffff;
  }

  // Title
  .title-section {
    position: absolute;
    top: clamp(30px, 8vw, 50px);
    background-color: $primary-blue;
    color: white;
    padding: clamp(15px, 3.5vw, 20px) clamp(25px, 4.8vw, 30px) clamp(9px, 3vw, 15px);
    width: 100%;
    box-sizing: border-box;

    .title {
      font-size: clamp(16px, 4.5vw, 26px);
    }
    .sub-title {
      font-size: clamp(10px, 2.5vw, 15px);
      letter-spacing: -2px;
    }
  }
  .arrow {
    @extend .b;
    text-transform: uppercase;
    font-size: clamp(12px, 2.3vw, 16px);
    padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: $noto-sans;
  }
  .instructions {
    font-family: $noto-sans;
    position: absolute;
    padding: clamp(0px, 0.01vw, 3px) 0px;
    left: 28%;

    .title {
      font-size: clamp(12px, 3.5vw, 18px);
      color: #141821;
    }
    .sub-title {
      font-size: clamp(9px, 2vw, 13px);
      color: $subtext-color;
      letter-spacing: -2px;
    }
  }

  //office section
  .office-section {
    &.office-see-1 {
      margin-top: clamp(20px, 6.5vw, 29px);
    }
    &.office-act-1 {
      margin-top: clamp(20px, 6.5vw, 29px);
    }
    &.office-try-4 {
      margin-top: clamp(23px, 6.5vw, 35px);
    }

    .legend {
      div {
        position: absolute;
        &.left,
        &.right {
          @extend .b;
          font-size: clamp(18px, 3vw, 25px);
          padding: clamp(2px, 2vw, 5px) clamp(10px, 5vw, 25px) clamp(2px, 2vw, 5px) clamp(2px, 2vw, 5px);
          background-color: #ebebeb;
          margin-top: 2px;
          color: #2d356b;
        }
        &.right {
          right: 0;
          margin-right: $side-margin;
        }
        &.center {
          transform: translateY(100%);
          margin-top: -15px;
          margin-left: auto;
          margin-right: auto;
          width: 0;
          height: auto;
          left: 0;
          right: 0;

          & > .number {
            font-size: clamp(15px, 4vw, 24px);
            width: clamp(20px, 4vw, 35px);
            height: clamp(20px, 4vw, 35px);
            line-height: clamp(20px, 4vw, 35px);
          }
        }
      }
    }
    .name {
      @extend .b;
      position: absolute;
      border-radius: clamp(5px, 1vw, 10px);
      border: 1px solid black;
      background: white;
      padding: clamp(5px, 1.5vw, 9px) clamp(9px, 1.5vw, 14px);
      font-size: clamp(7px, 2vw, 10px);
      color: #2d356b;

      &.akiko-1 {
        left: 14%;
        margin-top: 33%;
      }
      &.steve-1 {
        margin-top: 33%;
        left: 27%;
      }
      &.linda-1 {
        margin-top: 42%;
        left: 6%;
      }
      &.matt-1 {
        margin-top: 35%;
        left: 16%;
      }
      &.akiko-2 {
        right: 9%;
        margin-top: 35%;
      }
      &.steve-2 {
        right: 22%;
        margin-top: 35%;
      }
    }
    .conversation {
      .bubble {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: contain;

        &.akiko-1 {
          background-image: url(#{$s3}/0-2-speech-bubble-akiko-1.png);
          right: 5%;
          padding: 4% 11% 7% 6%;
          margin-top: 0.8%;
        }
      }
      .speech {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: contain;

        &.steve-1 {
          background-image: url(#{$s3}/0-2-speech-steve-1.png);
          padding: 1.5% 3% 6% 7.5%;
          margin-top: 18%;
          left: 34%;
        }
        &.akiko-1 {
          background-image: url(#{$s3}/0-2-speech-akiko-1.png);
          padding: 2% 3% 10% 3%;
          margin-top: 6%;
          left: 6%;
        }
      }
    }
  }

  //number
  .number {
    @extend .b;
    border-radius: 50%;
    background: $primary-blue;
    color: white;
    margin: 0;
    text-align: center;
    width: clamp(13px, 4vw, 24px);
    height: clamp(13px, 4vw, 24px);
    line-height: clamp(13px, 4vw, 24px);
    font-family: $noto-sans;
    font-size: clamp(11px, 3vw, 16px);
    z-index: 1;
  }

  .letter {
    @extend .b;
    border: 2px solid $primary-blue;
    color: $primary-blue;
    font-family: $noto-sans;
    width: clamp(11px, 4vw, 20px);
    height: clamp(11px, 4vw, 20px);
    line-height: clamp(11px, 4vw, 20px);
    font-size: clamp(11px, 3vw, 16px);
    text-align: center;
  }

  .plus {
    font-size: 32px;
  }

  // See-content
  .see-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.see-1 {
      margin-top: clamp(110px, 28vw, 173.2px);
    }

    &.see-2,
    &.see-3 {
      margin-top: clamp(20px, 5vw, 33px);

      //see-content.legend
      & .legend {
        margin-top: clamp(25px, 5vw, 38px);
      }
    }

    .arrow.see {
      @extend .b;
      text-transform: uppercase;
      color: $primary-blue;
      font-size: clamp(12px, 2.3vw, 16px);
      background-image: url(#{$s3}/0-see-arrow.png);
      padding: clamp(8px, 2vw, 14px) clamp(15px, 4vw, 22px);
      background-repeat: no-repeat;
      background-size: contain;
      font-family: $noto-sans;
    }

    .phrases-section {
      //base
      .yellow {
        background: #ffe200;
      }
      .blue {
        background: #c3e8e6;
      }
      .red {
        background: #ffb2b0;
      }

      .yellow-piece {
        background: url(#{$s3}/0-yellow-piece.png);
      }
      .blue-piece {
        background: url(#{$s3}/0-blue-piece.png);
      }
      .red-piece {
        background: url(#{$s3}/0-red-piece.png);
      }
      .green-piece {
        background: url(#{$s3}/0-green-piece.png);
      }
      .yellow-piece,
      .green-piece,
      .red-piece,
      .blue-piece {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      .icon {
        @extend .b;
        text-align: center;
        font-size: clamp(10px, 2vw, 14px);

        img {
          height: clamp(70px, 20vw, 100px);
          width: auto;
        }
        div {
          margin-top: clamp(8px, 2vw, 14px);
        }
      }
      .phrases {
        display: flex;
        font-family: $noto-sans;
      }
      .phrase {
        p {
          margin: clamp(3px, 0.5vw, 5px) 0px;
        }
      }
      .eng {
        @extend .b;
        font-size: clamp(8px, 2vw, 16px);
        text-align: center;
        border-radius: 3px;
        font-family: $noto-sans;
      }
      .jap {
        font-size: clamp(7px, 2vw, 14px);
        width: min-content;
        min-width: 100%;
      }

      .conversation {
        .akiko-1 {
          margin-top: 5%;
          display: grid;
          grid-template-columns: [one] min-content [two] minmax(auto, 1fr);

          .icon {
            margin-right: 40px;
          }
          .eng {
            padding: clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px);
          }
          .phrase:not(:last-child) {
            margin-right: 20px;
          }
        }

        .steve-1 {
          margin-top: 5%;
          display: grid;
          grid-template-columns: 1fr min-content;

          .icon {
            margin-right: 40px;
          }
          .eng {
            padding: clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px);
          }
          .phrase:not(:last-child) {
            margin-right: 20px;
          }
          .phrases-wrapper {
            display: flex;
            justify-content: end;
            align-items: center;
            margin-right: clamp(18px, 5vw, 30px);
          }
        }
      }

      .legend {
        display: flex;
        justify-content: space-between;

        & .eng {
          padding: clamp(7px, 2vw, 10px) clamp(13px, 3vw, 17px);
        }
      }

      .phrase-alts {
        display: grid;
        grid-template-columns: [one] min-content [two] minmax(auto, 1fr);
        gap: 13px;

        &.half {
          grid-template-columns: 1fr 1fr;
        }

        .alt-box {
          padding: 15px;
          border: 1px solid $primary-blue;
        }

        .alt {
          display: flex;
          align-items: baseline;
        }

        .alt:not(:last-child) {
          margin-bottom: clamp(10px, 2vw, 20px);
        }

        .choice {
          margin-left: clamp(5px, 1vw, 9px);
          p {
            margin: 0;
            white-space: nowrap;
            font-family: $noto-sans;
          }
        }

        .choice-eng {
          font-size: clamp(9px, 2vw, 18px);
        }

        .choice-jap {
          font-size: clamp(6.7px, 1.8vw, 13px);
          letter-spacing: -2px;
        }
      }
    }
  }
  .try-content {
    margin-left: $side-margin;
    margin-right: $side-margin;

    &.try-1,
    &.try-3,
    &.try-4 {
      margin-top: 32px;
    }

    &.try-1 {
      .combinations {
        grid-template-columns: min-content 1fr;
        margin-top: clamp(20px, 5vw, 32px);

        .combination-icon {
          height: clamp(119px, 20vw, 180px);
          width: clamp(119px, 20vw, 180px);
          margin-right: clamp(28px, 20vw, 56px);
        }

        .combination {
          align-items: center;
          margin-bottom: clamp(5px, 2vw, 10px);

          & > div:not(:last-child) {
            margin-right: clamp(5px, 2vw, 10px);
          }
        }
      }
    }

    &.try-2 {
      margin-top: 50px;

      .table {
        margin-top: 13%;
        font-family: $noto-sans;

        td {
          font-size: clamp(12px, 3.5vw, 18px);
          img {
            max-width: clamp(44%, 16vw, 100%);
            margin-bottom: 20px;
          }
        }
        tr > td:nth-child(1) {
          @extend .primary-blue;
        }
      }
    }

    &.try-3 {
      margin-top: 50px;

      .combinations {
        grid-template-columns: 1fr 1fr min-content;
        margin-top: clamp(20px, 5vw, 32px);

        .combination-icon {
          height: clamp(119px, 20vw, 180px);
          width: clamp(119px, 20vw, 180px);
        }

        .combination {
          align-items: center;
          justify-content: center;
          margin-bottom: clamp(5px, 2vw, 10px);

          & > div:not(:last-child) {
            margin-right: clamp(5px, 2vw, 10px);
          }
        }
      }
    }

    &.try-4 {
      .item-label {
        position: absolute;
        padding: 0.5% 2%;
        font-size: clamp(4px, 2vw, 7px);
        border-radius: 10px;
        background: white;
        border: 1px solid black;
        &.pc {
          margin-top: 39%;
          left: 37%;
        }
        &.white-board {
          left: 27%;
          margin-top: 25%;
        }
        &.plants {
          margin-top: 58%;
          left: 43%;
        }
        &.coffee-maker {
          left: 45%;
          margin-top: 22.5%;
        }
        &.shredder {
          left: 66%;
          margin-top: 2%;
        }
        &.files {
          margin-top: 9%;
          right: 9%;
        }
        &.office-supplies {
          right: 3%;
          margin-top: 18%;
        }
        &.markers {
          margin-top: 27%;
          right: 25%;
        }
        &.copier {
          right: 10%;
          margin-top: 38.5%;
        }
      }
    }

    .arrow.try {
      color: white;
      background-image: url(#{$s3}/0-try-arrow.png);
    }

    .combinations {
      display: grid;

      .combination {
        display: flex;
      }
    }
  }
  .act-content {
    margin-left: $side-margin;
    margin-right: $side-margin;
    &.act-1,
    &.act-2 {
      margin-top: 32px;
    }
    &.act-2 {
      margin-bottom: 50px;
    }

    .arrow.act {
      color: white;
      background-image: url(#{$s3}/0-act-arrow.png);
    }
  }
  .table {
    width: 100%;

    .name {
      font-weight: bold;
      font-size: clamp(10px, 3vw, 16px);
      text-align: right;
      padding-right: 10px;
      white-space: nowrap;
      width: 1%;
    }

    .eng {
      font-family: $noto-sans;
      font-weight: normal;
      font-size: clamp(12px, 3.5vw, 18px);
    }
    .jap {
      font-size: clamp(9px, 2vw, 13px);
    }
  }
}
