@import '../../css/level1-a-utils';

.html-lesson-wrapper {
  .see-content {
    .grid {
      grid-template-columns: 0.15fr 1fr;
    }
  }

  .act-content {
    ul {
      list-style-type: decimal;
      margin-left: 1.2em;
    }
  }
  .page-2 {
    .blue-section .text .ja .black {
      color: black !important;
    }
  }
}
