@import '../../css/level1-a-utils';

.html-lesson-wrapper {
  .grid {
    grid-template-columns: 1.8fr 1.3fr 0.7fr 1fr;
  }

  .page-1 {
    .see-content {
      .blue-section .text {
        margin-bottom: 1em;
      }
    }
    .try-content {
      .wrapper {
        ul {
          li:nth-child(5) {
            margin-bottom: 1.5em;
          }
        }
      }
    }
  }

  .see-content {
    .blue-section {
      .text {
        p {
          display: grid;
          grid-template-columns: 0.4fr 1fr;
        }
      }
    }
  }

  .page-3 {
    .grid {
      margin-top: 1.5em;
      grid-template-columns: 1fr 1.1fr 0.7fr 1fr;
      .ja:not(:last-child) {
        margin-bottom: 0.5em;
      }
    }
  }
}
