@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

.html-lesson-wrapper {
  font-family: "Trebuchet MS";
}

.html-lesson-wrapper sup {
  vertical-align: super;
}

.html-lesson-wrapper .center {
  text-align: center;
}

.html-lesson-wrapper .dark-blue {
  color: #083051;
}

.html-lesson-wrapper .primary-color {
  color: #257a9e !important;
}

.html-lesson-wrapper .sub-color {
  color: #595959 !important;
}

.html-lesson-wrapper .black-color {
  color: black !important;
}

.html-lesson-wrapper p {
  margin: 0;
  line-height: 1.8em;
}

.html-lesson-wrapper .ib {
  display: inline-block;
}

.html-lesson-wrapper .grid {
  display: -ms-grid;
  display: grid;
}

.html-lesson-wrapper .grid.equal {
  -ms-grid-columns: 1fr 1fr !important;
      grid-template-columns: 1fr 1fr !important;
}

.html-lesson-wrapper .grid.min-auto {
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
}

.html-lesson-wrapper .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.html-lesson-wrapper .space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.html-lesson-wrapper .shape {
  width: 7vw;
}

.html-lesson-wrapper .try-grid {
  -ms-grid-columns: 1.8fr 3fr;
      grid-template-columns: 1.8fr 3fr;
}

.html-lesson-wrapper .shapes-grid {
  -ms-grid-columns: 0.3fr 1fr;
      grid-template-columns: 0.3fr 1fr;
}

.html-lesson-wrapper .disc {
  list-style-type: disc;
}

.html-lesson-wrapper img {
  max-width: 100%;
  height: auto;
}

.html-lesson-wrapper .pr-1 {
  padding-right: 1.5em;
}

.html-lesson-wrapper .mr-1 {
  margin-right: 1.5em;
}

.html-lesson-wrapper .mb-1 {
  margin-bottom: 1em;
}

.html-lesson-wrapper .mb-2 {
  margin-bottom: 2em !important;
}

.html-lesson-wrapper .pb-1 {
  padding-bottom: 1em;
}

.html-lesson-wrapper .pl-2 {
  padding-left: 2em;
}

.html-lesson-wrapper .pl-3 {
  padding-left: 3em;
}

.html-lesson-wrapper .no-wrap {
  white-space: nowrap;
}

.html-lesson-wrapper .page-1,
.html-lesson-wrapper .page-2,
.html-lesson-wrapper .page-3 {
  width: 100%;
  min-width: 360px;
  max-width: 892.75px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding-bottom: 14%;
  background-image: url("https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/bg-header.png"), url("https://lesson-materials.s3-ap-northeast-1.amazonaws.com/images/bg-footer.png");
  background-position: top, bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.html-lesson-wrapper header {
  font-family: "Helvetica", "Arial", sans-serif;
}

.html-lesson-wrapper .b {
  font-weight: bold;
}

.html-lesson-wrapper .fw-normal {
  font-weight: normal;
}

.html-lesson-wrapper .u-sup {
  border-bottom: solid 1.5px black;
  display: inline-block;
  line-height: 1em;
}

.html-lesson-wrapper .program-rank {
  margin-top: 4%;
  margin-left: 6%;
  color: #ffffff;
  font-size: 0px;
}

.html-lesson-wrapper .program-rank .type {
  padding: 0.5% 2% 0.5% 2%;
  background-color: #248bb0;
  font-size: clamp(7px, 1.8vw, 15px);
}

.html-lesson-wrapper .program-rank .level {
  padding: 0.5% 2% 0.5% 2%;
  background-color: #339999;
  font-size: clamp(7px, 1.8vw, 15px);
}

.html-lesson-wrapper .line {
  margin: 0 12px;
}

.html-lesson-wrapper .title {
  margin-top: 1em;
  margin-left: 7%;
  font-size: clamp(12px, 3vw, 27px);
}

.html-lesson-wrapper .lesson-number {
  position: absolute;
  left: 91.6%;
  width: 1.9%;
  text-align: center;
  margin-top: -5%;
  font-size: clamp(7px, 1.8vw, 13px);
  color: #ffffff;
}

.html-lesson-wrapper .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.html-lesson-wrapper .sub-text {
  line-height: 1.8em;
  font-family: "Helvetica", "Arial", sans-serif !important;
  margin: 0px 0px 1px;
}

.html-lesson-wrapper .sub-text p {
  margin: 0px 0px 1px;
  line-height: unset !important;
}

.html-lesson-wrapper .section {
  position: absolute;
  left: -8%;
  color: #2078a0;
  font-weight: bold;
  font-size: clamp(6px, 1.8vw, 15px);
  font-family: "Helvetica", "Arial", sans-serif;
}

.html-lesson-wrapper .section.see {
  margin-top: 1.5%;
  line-height: 1.8em;
}

.html-lesson-wrapper .section.act {
  line-height: 1.8em;
}

.html-lesson-wrapper .section.try {
  line-height: 1.8em;
}

.html-lesson-wrapper .divider {
  color: #d9d9d9;
  font-size: clamp(6px, 1.8vw, 15px);
  position: relative;
  left: 52%;
}

.html-lesson-wrapper .divider.d1, .html-lesson-wrapper .divider.d2 {
  margin: 4% 0;
}

.html-lesson-wrapper .sub-head {
  position: relative;
  margin-top: 1em;
  margin-left: 7%;
}

.html-lesson-wrapper .sub-head .subtitle {
  font-family: "Noto Sans JP", sans-serif;
  color: #257a9e;
  font-weight: bold;
  font-size: clamp(6px, 1.8vw, 15px);
}

.html-lesson-wrapper .sub-head p {
  margin: 5px auto;
}

.html-lesson-wrapper .ja {
  font-family: "Noto Sans JP", sans-serif, sans-serif !important;
  font-size: clamp(5px, 1.4vw, 12.5px);
  color: #595959;
}

.html-lesson-wrapper .primary-text {
  color: #257a9e;
}

.html-lesson-wrapper sup {
  font-size: clamp(6px, 1.6vw, 10px);
  line-height: clamp(8px, 1.8vw, 16px);
}

.html-lesson-wrapper li p {
  margin: 0 auto;
}

.html-lesson-wrapper .see-content {
  position: relative;
  margin-left: 14%;
  margin-top: 8%;
  font-size: clamp(6px, 1.8vw, 15px);
}

.html-lesson-wrapper .see-content .blue-section {
  background-color: #cce0ec;
  padding-top: 1.5%;
  padding-left: 1.3em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 1.5em;
  padding-right: 1.5em;
}

.html-lesson-wrapper .see-content .blue-section .sub-text + .ja,
.html-lesson-wrapper .see-content .blue-section .sub-text.b + .ja {
  margin-bottom: 0.5em;
}

.html-lesson-wrapper .see-content .blue-section .text .ja {
  color: #257a9e !important;
}

.html-lesson-wrapper .see-content .blue-section .text .ja:not(:last-child) {
  margin-bottom: 0.5em;
}

.html-lesson-wrapper .see-content p:not(.sub-text) {
  line-height: 1.8em;
}

.html-lesson-wrapper .see-content .col {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.html-lesson-wrapper .see-content .grid {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  display: -ms-grid;
  display: grid;
}

.html-lesson-wrapper .see-content .example {
  margin-top: 1.5em;
  margin-left: 1.3em;
  margin-right: 1.5em;
}

.html-lesson-wrapper .see-content .example .conversation {
  line-height: 1.8em;
  margin-top: 0.1em;
}

.html-lesson-wrapper .see-content .example .conversation .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.08fr 1fr;
      grid-template-columns: 0.08fr 1fr;
}

.html-lesson-wrapper .see-content .example .conversation .row p {
  text-align: left;
}

.html-lesson-wrapper .try-content {
  position: relative;
  margin-top: 2em;
  margin-left: 14%;
  padding-left: 1.3em;
  padding-right: 1.5em;
  font-size: clamp(6px, 1.8vw, 15px);
}

.html-lesson-wrapper .try-content .letter-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.035fr 1fr;
      grid-template-columns: 0.035fr 1fr;
}

.html-lesson-wrapper .try-content ul {
  list-style-type: decimal;
  margin: 0;
  margin-left: 1.4em;
  margin-block: 0;
  padding-inline: 0;
}

.html-lesson-wrapper .try-content ul.desc {
  list-style-type: '-';
}

.html-lesson-wrapper .try-content ul.desc li {
  line-height: 1.5em;
  margin-bottom: 5%;
}

.html-lesson-wrapper .try-content ul li {
  -webkit-padding-start: 1em;
          padding-inline-start: 1em;
  line-height: 1.8em;
}

.html-lesson-wrapper .try-content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.html-lesson-wrapper .try-content .sub-text.mg {
  margin-top: 1.5em;
}

.html-lesson-wrapper .act-content {
  position: relative;
  margin-top: 2em;
  margin-left: 14%;
  margin-right: 1.5em;
  padding-left: 1.3em;
  font-size: clamp(6px, 1.8vw, 15px);
}

.html-lesson-wrapper .act-content .sub-text {
  line-height: 1.8em;
}

.html-lesson-wrapper .act-content ul {
  list-style-type: '•';
  margin: 0;
  margin-left: 0.6em;
  margin-block: 0;
  padding-inline: 0;
}

.html-lesson-wrapper .act-content ul li {
  -webkit-padding-start: 1em;
          padding-inline-start: 1em;
  line-height: 1.8em;
}

.html-lesson-wrapper .act-content ul li.ja {
  list-style-type: none;
  padding-left: 1.4em;
}

.html-lesson-wrapper .title .ja {
  font-size: clamp(12px, 3vw, 27px);
  color: #000000;
  font-weight: bold;
  margin-right: 3px;
}

.html-lesson-wrapper .lesson-points {
  margin-top: 1em;
  padding: 1% 1.5em 1% 7%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #cce0ec;
  width: 75%;
}

.html-lesson-wrapper .lesson-points .subtitle {
  font-size: clamp(6px, 1.8vw, 15px);
  color: #000000;
  font-weight: bold;
}

.html-lesson-wrapper .lesson-points p {
  color: #257a9e;
  font-weight: normal;
  letter-spacing: 0.1px;
  margin: 0.2em auto;
  font-size: clamp(5px, 1.5vw, 12px);
  line-height: 1.8em;
}

.html-lesson-wrapper .lesson-points p:first-child {
  font-size: clamp(6px, 1.8vw, 15px);
  font-weight: bold;
  color: black;
}

.html-lesson-wrapper .arrow-part {
  margin-top: 1em;
  margin-left: 14%;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  word-spacing: 3px;
  font-weight: normal;
}

.html-lesson-wrapper .arrow-part .subtitle {
  font-size: clamp(6px, 1.8vw, 15px);
  color: #000000;
}

.html-lesson-wrapper .arrow-part p {
  margin: 0.5em auto;
  font-size: clamp(5px, 1.5vw, 12px);
}

.html-lesson-wrapper .arrow-part p.subtitle + p > span {
  display: block;
}

.html-lesson-wrapper .arrow-part div {
  position: relative;
}

.html-lesson-wrapper .arrow-part div:not(:last-child) {
  margin-bottom: 2em;
}

.html-lesson-wrapper .arrow-part div:before {
  content: '';
  position: absolute;
  left: -3em;
  top: 0.6em;
  width: 0;
  height: 0;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-left: 1em solid #257a9e;
  display: inline-block;
  vertical-align: middle;
}

.html-lesson-wrapper footer {
  font-size: clamp(4.5px, 1.2vw, 9px);
  position: absolute;
  width: 43%;
  text-align: right;
  bottom: 3.3%;
  right: 6.2%;
  font-family: "Helvetica", "Arial", sans-serif;
}

.html-lesson-wrapper .page-2 .see-content {
  margin-top: 0;
}

.html-lesson-wrapper .page-2 .lesson-number {
  margin-top: -6%;
}

.html-lesson-wrapper .page-3 .lesson-number {
  margin-top: 1%;
}

.html-lesson-wrapper .page-3 .try-content {
  margin-top: 3em;
}

.html-lesson-wrapper .page-3 .try-content span:first-of-type {
  display: block !important;
}

.html-lesson-wrapper .page-3 .act-content ul.text {
  margin-top: 1.5em;
}

@media screen and (max-width: 900px) {
  .html-lesson-wrapper .page-1,
  .html-lesson-wrapper .page-2,
  .html-lesson-wrapper .page-3 {
    min-height: unset;
  }
}

@media screen and (max-width: 768px) {
  .html-lesson-wrapper .page-1 .lesson-number {
    margin-top: -6%;
  }
  .html-lesson-wrapper .page-2 .lesson-number {
    margin-top: -7%;
  }
  .html-lesson-wrapper .page-3 .lesson-number {
    margin-top: 0.3%;
  }
}

.html-lesson-wrapper .grid {
  -ms-grid-columns: 1.8fr 1.3fr 0.7fr 1fr;
      grid-template-columns: 1.8fr 1.3fr 0.7fr 1fr;
}

.html-lesson-wrapper .page-1 .see-content .blue-section .text {
  margin-bottom: 1em;
}

.html-lesson-wrapper .page-1 .try-content .wrapper ul li:nth-child(5) {
  margin-bottom: 1.5em;
}

.html-lesson-wrapper .see-content .blue-section .text p {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.4fr 1fr;
      grid-template-columns: 0.4fr 1fr;
}

.html-lesson-wrapper .page-3 .grid {
  margin-top: 1.5em;
  -ms-grid-columns: 1fr 1.1fr 0.7fr 1fr;
      grid-template-columns: 1fr 1.1fr 0.7fr 1fr;
}

.html-lesson-wrapper .page-3 .grid .ja:not(:last-child) {
  margin-bottom: 0.5em;
}
