@import '../../css/level1-B-utils';

.html-lesson-wrapper .page-2 .lesson-number {
  margin-top: -9%;
}

.html-lesson-wrapper .see-content p .tab {
  margin-left: 5%;
}

.html-lesson-wrapper .see-content .col {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: 100%;
  margin-right: 0em;
  position: relative;
}

.html-lesson-wrapper .act-content ul {
  .text{
    padding-left: 1em;
  }
}

.html-lesson-wrapper .act-content ul .text {
  padding-left: 1em;
  display: grid;
  grid-template-columns: 50% 50%;
  .ja{
    padding-left: 0.8em;
  }
}