@import '../../css/executive-basics';

.html-lesson-wrapper {
  .title {
    font-size: clamp(9.36px, 2.7vw, 24.5px);
  }

  .try-content {
    .arrows {
      margin-left: 5%;
      .arrow-part {
        margin: 3% 0;
      }
    }
  }
}
