@import '../../css/level4-utils';

.sub-text {
  font-family: $trebuchet !important;
}

.act-content{
    ul{
      margin-left: 0 !important;
      text-indent: 0 !important;
      li{
        list-style-position:inside !important;
        padding-left: 0 !important;
      }
    }
}